Repository armbian/build, changes with the owners that .github/CODEOWNERS names for each.
All owners: @igorpecovnik, @EvilOlaf, @littlecxm, @TheLinuxBug, @TRSx80, @armbian/board-maintainers, @amazingfate, @paolosabatino, @monkaBlyat, @rpardini, @neheb, @ManoftheSea, @marcone, @150balbes, @Manouchehri, @brentr, @hzyitc, @juanesf, @catalinii, @iav, @mhoffrog, @The-going, @armbian/build-scripts, @matthijskooijman, @SteeManMI, @mklein-de, @schwar3kat, @joekhoobyar

meson: edge: bump to v6.1 (#4562)
  config/kernel/linux-meson-edge.config
  config/sources/families/include/meson_common.inc
  patch/kernel/archive/meson-6.1/0001-m8-m8b-m8m2-Support-HDMI.patch
  patch/kernel/archive/meson-6.1/0002-m8-m8b-m8m2-drm-forcefully-enable-XRGB-format.patch
  patch/kernel/archive/meson-6.1/Revert-mmc-core-Set-HS-clock-speed-before-sending-HS-CMD13.patch
  patch/kernel/archive/meson-6.1/board_odroidc1/dts-Enable-HDMI.patch
  patch/kernel/archive/meson-6.1/board_onecloud/0001-add-dts.patch
  patch/kernel/archive/meson-6.1/board_onecloud/0002-dts-Support-HDMI.patch
  patch/kernel/archive/meson-6.1/board_onecloud/usb-disable-ACA-check.patch
  patch/kernel/archive/meson-6.1/generate-uImage-instand-of-zImage.patch
  patch/kernel/meson-edge
Owners: @marcone, @150balbes, @Manouchehri, @brentr, @amazingfate, @hzyitc, @juanesf, @catalinii, @armbian/board-maintainers, @igorpecovnik

Adjust 3rd party drivers for kernel 6.1.y (#4558)
  lib/functions/compilation/patch/drivers_network.sh
  lib/functions/compilation/patch/kernel-bootsplash-and-drivers.sh
Owners: @rpardini, @150balbes, @The-going, @iav, @hzyitc, @mhoffrog, @armbian/build-scripts

Adjust action due to label change
  .github/workflows/build-kernel-pr.yml
Owners: @littlecxm

Move rk322x edge kernel to 6.1
  config/kernel/linux-rk322x-edge.config
  config/sources/families/rk322x.conf
  patch/kernel/archive/rk322x-6.1/01-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rk322x-6.1/01-linux-0011-v4l2-from-list.patch
  patch/kernel/archive/rk322x-6.1/01-linux-0020-drm-from-list.patch
  patch/kernel/archive/rk322x-6.1/01-linux-1000-drm-rockchip.patch
  patch/kernel/archive/rk322x-6.1/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rk322x-6.1/01-linux-1002-for-libreelec.patch
  patch/kernel/archive/rk322x-6.1/01-linux-2000-v4l2-wip-rkvdec-hevc.patch
  patch/kernel/archive/rk322x-6.1/01-linux-2001-v4l2-wip-iep-driver.patch
  patch/kernel/archive/rk322x-6.1/012-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rk322x-6.1/012-linux-1000-export-mm_trace_rss_stat.patch
  patch/kernel/archive/rk322x-6.1/012-linux-1000-rockchip-wip.patch
  patch/kernel/archive/rk322x-6.1/02-linux-0001-add-board-makefile.patch
  patch/kernel/archive/rk322x-6.1/02-linux-0004-dtsi-adjust-nand-pinctrls.patch
  patch/kernel/archive/rk322x-6.1/02-linux-0005-drm-plane-overlay.patch
  patch/kernel/archive/rk322x-6.1/02-linux-0006-add-iep-node-for-rk322x.patch
  patch/kernel/archive/rk322x-6.1/02-linux-0007-enable-YUV-10bit-modes.patch
  patch/kernel/archive/rk322x-6.1/02-linux-0008-rk322x-analog-audio-codec.patch
  patch/kernel/archive/rk322x-6.1/03-0001-fix-ddr-clock-gate-add-SIP-v2-calls.patch
  patch/kernel/archive/rk322x-6.1/03-0002-add-ddr-clock-and-SIP-related-constant.patch
  patch/kernel/archive/rk322x-6.1/03-0003-extend-rockchip-dfi-driver.patch
  patch/kernel/archive/rk322x-6.1/03-0004-add-dmc-driver.patch
  patch/kernel/archive/rk322x-6.1/5000-drm-rockchip-hardware-cursor.patch
  patch/kernel/archive/rk322x-6.1/5001-experimental-drm-patch.patch.disabled
  patch/kernel/archive/rk322x-6.1/5002-prefer-8-bit-RGB-over-YCbCr.patch
  patch/kernel/archive/rk322x-6.1/board-rk322x-box.patch
  patch/kernel/archive/rk322x-6.1/bt-0001-add-new-quirk-for-broken-local-ext-feature.patch
  patch/kernel/archive/rk322x-6.1/bt-0002-btrtl-add-support-for-the-RTL8723CS.patch
  patch/kernel/archive/rk322x-6.1/bt-0003-hci_h5-Add-support-for-binding-RTL8723CS-w.patch
  patch/kernel/archive/rk322x-6.1/bt-0004-btrtl-add-rtl8703bs.patch
  patch/kernel/archive/rk322x-6.1/general-add-overlay-compilation-support.patch
  patch/kernel/archive/rk322x-6.1/general-add-overlay-configfs.patch
  patch/kernel/archive/rk322x-6.1/general-add-overlays.patch
  patch/kernel/archive/rk322x-6.1/general-rk322x-remote-keymap.patch
  patch/kernel/archive/rk322x-6.1/wifi-4001-add-realtek-8723cs-kconfig-makefile.patch
  patch/kernel/archive/rk322x-6.1/wifi-4003-ssv-6051-driver.patch
  patch/kernel/archive/rk322x-6.1/wifi-4004-esp8089-kernel-driver.patch
  patch/kernel/rk322x-edge
Owners: @marcone, @150balbes, @Manouchehri, @brentr, @amazingfate, @hzyitc, @juanesf, @catalinii, @armbian/board-maintainers, @igorpecovnik

Switch to better working rtl88x2bu wifi driver (#4552)
  lib/functions/compilation/patch/drivers_network.sh
Owners: @rpardini, @150balbes, @The-going, @iav, @hzyitc, @mhoffrog, @armbian/build-scripts

Adjust action due to label change (#4564)
  .github/workflows/build-kernel-pr.yml
Owners: @littlecxm

Fix instructions for preparing build environment
  CONTRIBUTING.md
Owners: @EvilOlaf, @littlecxm, @TheLinuxBug, @TRSx80

add initial support for orange pi 5
  config/boards/orangepi5.conf
  config/kernel/linux-orangepi-rk3588-legacy.config
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/orangepi-rk3588.conf
  lib/functions/compilation/uboot.sh
Owners: @armbian/board-maintainers, @marcone, @150balbes, @Manouchehri, @brentr, @amazingfate, @hzyitc, @juanesf, @catalinii, @rpardini, @The-going, @iav, @mhoffrog, @armbian/build-scripts

remove my debug stuff
  lib/functions/compilation/uboot.sh
Owners: @rpardini, @150balbes, @The-going, @iav, @hzyitc, @mhoffrog, @armbian/build-scripts

Bump rockchip64 EDGE to 6.1 with disabling few drivers
  config/kernel/linux-media-edge.config
  config/kernel/linux-rockchip64-edge.config
  lib/functions/compilation/patch/drivers_network.sh
  patch/kernel/archive/rockchip64-6.0/add-fusb30x-driver.patch.disabled
  patch/kernel/archive/rockchip64-6.0/general-add-panel-simple-dsi.patch.disabled
  patch/kernel/archive/rockchip64-6.0/wifi-4004-fix-uwe5622-park-link-policy.patch.disabled
  patch/kernel/archive/rockchip64-6.0/wifi-4004-fix-uwe5622-warnings.patch.disabled
  patch/kernel/archive/rockchip64-6.0/wifi-4005-uwe5622-makefile.patch.disabled
  patch/kernel/archive/rockchip64-6.0/wifi-hf-lps170-bl602-kconfig-makefile.patch.disabled
  patch/kernel/archive/rockchip64-6.0/wifi-hf-lps170-bl602.patch.disabled
Owners: @marcone, @150balbes, @Manouchehri, @brentr, @amazingfate, @hzyitc, @juanesf, @catalinii, @rpardini, @The-going, @iav, @mhoffrog, @armbian/build-scripts, @igorpecovnik

Fix Rpi4 from not generating DT
  config/kernel/linux-bcm2711-edge.config
  patch/kernel/archive/bcm2711-6.0/001-force-platform-selection-brcm-soc-support.patch
Owners: @marcone, @150balbes, @Manouchehri, @brentr, @amazingfate, @hzyitc, @juanesf, @catalinii, @armbian/board-maintainers

Bump rockchip64 EDGE to 6.1 with disabling few drivers (#4570)
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-media-edge.config
  config/kernel/linux-rockchip64-edge.config
  lib/functions/compilation/patch/drivers_network.sh
  patch/kernel/archive/bcm2711-6.0/001-force-platform-selection-brcm-soc-support.patch
  patch/kernel/archive/rockchip64-6.0/add-fusb30x-driver.patch.disabled
  patch/kernel/archive/rockchip64-6.0/general-add-panel-simple-dsi.patch.disabled
  patch/kernel/archive/rockchip64-6.0/wifi-4004-fix-uwe5622-park-link-policy.patch.disabled
  patch/kernel/archive/rockchip64-6.0/wifi-4004-fix-uwe5622-warnings.patch.disabled
  patch/kernel/archive/rockchip64-6.0/wifi-4005-uwe5622-makefile.patch.disabled
  patch/kernel/archive/rockchip64-6.0/wifi-hf-lps170-bl602-kconfig-makefile.patch.disabled
  patch/kernel/archive/rockchip64-6.0/wifi-hf-lps170-bl602.patch.disabled
Owners: @marcone, @150balbes, @Manouchehri, @brentr, @amazingfate, @hzyitc, @juanesf, @catalinii, @rpardini, @The-going, @iav, @mhoffrog, @armbian/build-scripts, @armbian/board-maintainers, @igorpecovnik

Bump sunxi - tested for build
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Owners: @armbian/board-maintainers

Add configs
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi64-edge.config
Owners: @marcone, @150balbes, @Manouchehri, @brentr, @amazingfate, @hzyitc, @juanesf, @catalinii

rk322x: fix renamed constant
  patch/kernel/archive/rk322x-6.1/5000-drm-rockchip-hardware-cursor.patch
Owners: @armbian/board-maintainers

.github/CODEOWNERS:

# Default code owner
*                        @igorpecovnik

# the last matching pattern takes the most

*.md                     @EvilOlaf @littlecxm @TheLinuxBug @TRSx80
*.patch                  @armbian/board-maintainers
  
.github/                 @littlecxm
.vscode                  @littlecxm

config/                  @armbian/board-maintainers
config/cli               @amazingfate @paolosabatino
config/desktop           @amazingfate @monkaBlyat @paolosabatino
config/distributions     @rpardini @neheb
config/its               @ManoftheSea
config/kernel            @marcone @150balbes @Manouchehri @brentr @amazingfate @hzyitc @juanesf @catalinii 
config/optional          @iav @hzyitc @mhoffrog
config/sources           @armbian/board-maintainers
config/templates         @The-going @iav @neheb

lib/                     @rpardini @150balbes @The-going @iav @hzyitc @mhoffrog @armbian/build-scripts
packages/                @matthijskooijman @SteeManMI @The-going @marcone @mklein-de @schwar3kat @joekhoobyar @armbian/board-maintainers
tools/                   @The-going @iav @neheb @hzyitc @mhoffrog
