Repository armbian/build, changes with the owners that .github/CODEOWNERS names for each.
All owners: @igorpecovnik, @EvilOlaf, @littlecxm, @TheLinuxBug, @TRSx80, @rpardini, @hzyitc, @armbian/build-scripts, @adeepn, @iav, @neheb, @mhoffrog, @SteeManMI, @pyavitz, @jeanrhum, @AaronNGray, @bretmlw, @devdotnetorg, @teknoid, @Heisath, @ManoftheSea, @150balbes, @NicoD-SBC, @Tonymac32, @Zinput, @monkaBlyat, @sgjava, @Manouchehri, @joekhoobyar, @Kreyren, @paolosabatino, @efectn, @lbmendes, @schwar3kat, @AGM1968, @krachlatte, @joshaspinall, @PanderMusubi, @ahoneybun, @clee, @engineer-80, @eliasbakken, @amazingfate, @catalinii, @vamzii, @ZazaBR, @linhz0hz, @brentr

Bump: sunxi/64_common.inc: `linux 6.1.34`
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Owners: @igorpecovnik

Add initial support for TI SK-AM64B board
  config/boards/sk-am64b.csc
  config/bootscripts/boot-sk-am64b.cmd
Owners: @igorpecovnik

Add Linux kernel current and edge configurations for TI K3 devices
  config/kernel/linux-k3-current.config
  config/kernel/linux-k3-edge.config
Owners: @igorpecovnik

Add support for the TI K3 family of devices
  config/sources/families/k3.conf
Owners: @igorpecovnik

Bump: sunxi/64_common.inc: `linux 6.1.34`
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Owners: @igorpecovnik

Update report
  config/boards/orangepi4.conf
  config/boards/qemu-uboot-arm64.wip
  config/boards/qemu-uboot-x86.wip
  config/boards/radxa-e25.wip
  config/boards/station-m3.conf
Owners: @igorpecovnik

sunxi-6.1 h616 orangepi-zero2: port over cpu scaling (see https://github.com/armbian/build/pull/5247) (original author of the patch for kernel 6.2: AGM1968)
  patch/kernel/archive/sunxi-6.1/patches.armbian/arm64-dts-allwinner-h616-Add-efuse_xlate-cpu-frequency-scaling-v1_6_2.patch
  patch/kernel/archive/sunxi-6.1/series.armbian
  patch/kernel/archive/sunxi-6.1/series.conf
Owners: @AaronNGray, @AGM1968, @devdotnetorg, @eliasbakken, @joshaspinall, @krachlatte, @Kreyren, @lbmendes, @PanderMusubi, @schwar3kat, @sgjava, @teknoid, @Tonymac32

sunxi-6.1 h616 orangepi-zero2: port over LED changes (see https://github.com/armbian/build/pull/5270) (original author of the patch for kernel 6.2: AGM1968)
  patch/kernel/archive/sunxi-6.1/patches.armbian/arm64-dts-allwinner-h616-LED-green_power_on-red_status_heartbeat.patch
  patch/kernel/archive/sunxi-6.1/series.armbian
  patch/kernel/archive/sunxi-6.1/series.conf
Owners: @AaronNGray, @AGM1968, @devdotnetorg, @eliasbakken, @joshaspinall, @krachlatte, @Kreyren, @lbmendes, @PanderMusubi, @schwar3kat, @sgjava, @teknoid, @Tonymac32

sunxi-6.1 h616 orangepi-zero2: rename cpu scaling patch filename (reflect kernel this patch applies to)
  patch/kernel/archive/sunxi-6.1/patches.armbian/arm64-dts-allwinner-h616-Add-efuse_xlate-cpu-frequency-scaling-v1_6_1.patch
  patch/kernel/archive/sunxi-6.1/series.armbian
  patch/kernel/archive/sunxi-6.1/series.conf
Owners: @AaronNGray, @AGM1968, @devdotnetorg, @eliasbakken, @joshaspinall, @krachlatte, @Kreyren, @lbmendes, @PanderMusubi, @schwar3kat, @sgjava, @teknoid, @Tonymac32

recore: keep stdout clean (replace `echo` with `display_alert`) - JSON pipeline requires clean stdout
  config/boards/recore.csc
Owners: @eliasbakken

recore: keep stdout clean (replace `echo` with `display_alert`) - JSON pipeline requires clean stdout
  config/boards/recore.csc
Owners: @eliasbakken

merge rockchip-rk3588-legacy and rk35xx-legacy
  config/kernel/linux-rk35xx-legacy.config
  config/kernel/linux-rockchip-rk3588-legacy.config
  config/sources/families/rockchip-rk3588.conf
Owners: @amazingfate, @catalinii, @vamzii, @ZazaBR, @efectn, @linhz0hz, @monkaBlyat, @igorpecovnik

allwinner: add u-boot patches to enable crust on H3
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/u-boot/u-boot-sunxi-crust/h3-scp.patch
  patch/u-boot/u-boot-sunxi-crust/sunxi-Enable-remoteproc-on-H3.patch
Owners: @igorpecovnik

allwinner: Enable crust compilation
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  extensions/sunxi-tools.sh
  lib/functions/artifacts/artifact-uboot.sh
  lib/functions/cli/commands.sh
  lib/functions/compilation/crust.sh
  lib/functions/compilation/uboot.sh
  lib/functions/main/config-prepare.sh
  lib/functions/main/default-build.sh
  lib/library-functions.sh
Owners: @igorpecovnik, @armbian/build-scripts

Enable crust for nanopiduo2
  config/boards/nanopiduo2.csc
Owners: @igorpecovnik

merge rockchip-rk3588-legacy and rk35xx-legacy
  config/kernel/linux-rk35xx-legacy.config
  config/kernel/linux-rockchip-rk3588-legacy.config
  config/sources/families/rockchip-rk3588.conf
Owners: @amazingfate, @catalinii, @vamzii, @ZazaBR, @efectn, @linhz0hz, @monkaBlyat, @igorpecovnik

sunxi-6.1 h616 orangepi-zero2: port over cpu scaling (see https://github.com/armbian/build/pull/5247) (original author of the patch for kernel 6.2: AGM1968)
  patch/kernel/archive/sunxi-6.1/patches.armbian/arm64-dts-allwinner-h616-Add-efuse_xlate-cpu-frequency-scaling-v1_6_2.patch
  patch/kernel/archive/sunxi-6.1/series.armbian
  patch/kernel/archive/sunxi-6.1/series.conf
Owners: @AaronNGray, @AGM1968, @devdotnetorg, @eliasbakken, @joshaspinall, @krachlatte, @Kreyren, @lbmendes, @PanderMusubi, @schwar3kat, @sgjava, @teknoid, @Tonymac32

sunxi-6.1 h616 orangepi-zero2: port over LED changes (see https://github.com/armbian/build/pull/5270) (original author of the patch for kernel 6.2: AGM1968)
  patch/kernel/archive/sunxi-6.1/patches.armbian/arm64-dts-allwinner-h616-LED-green_power_on-red_status_heartbeat.patch
  patch/kernel/archive/sunxi-6.1/series.armbian
  patch/kernel/archive/sunxi-6.1/series.conf
Owners: @AaronNGray, @AGM1968, @devdotnetorg, @eliasbakken, @joshaspinall, @krachlatte, @Kreyren, @lbmendes, @PanderMusubi, @schwar3kat, @sgjava, @teknoid, @Tonymac32

sunxi-6.1 h616 orangepi-zero2: rename cpu scaling patch filename (reflect kernel this patch applies to)
  patch/kernel/archive/sunxi-6.1/patches.armbian/arm64-dts-allwinner-h616-Add-efuse_xlate-cpu-frequency-scaling-v1_6_1.patch
  patch/kernel/archive/sunxi-6.1/series.armbian
  patch/kernel/archive/sunxi-6.1/series.conf
Owners: @AaronNGray, @AGM1968, @devdotnetorg, @eliasbakken, @joshaspinall, @krachlatte, @Kreyren, @lbmendes, @PanderMusubi, @schwar3kat, @sgjava, @teknoid, @Tonymac32

Update report
  config/boards/orangepi4.conf
  config/boards/qemu-uboot-arm64.wip
  config/boards/qemu-uboot-x86.wip
  config/boards/radxa-e25.wip
  config/boards/station-m3.conf
Owners: @igorpecovnik

.github/CODEOWNERS:

# PLEASE DON'T EDIT THIS FILE
# Auto generated by ".github/generate_CODEOWNERS.sh"

# Default code owner
*			@igorpecovnik

# the last matching pattern takes the most

*.md			@EvilOlaf @littlecxm @TheLinuxBug @TRSx80 @igorpecovnik

.github/		@igorpecovnik @rpardini @hzyitc

lib/			@armbian/build-scripts
packages/		@armbian/build-scripts
packages/bsp/jethub/	@armbian/build-scripts @adeepn
tools/			@iav @neheb @hzyitc @mhoffrog

# The following contents are generated by board configs
config/boards/aml-s9xx-box.tvb		@SteeManMI
config/boards/bananapicm4io.conf		@pyavitz
config/boards/bananapim2s.wip		@jeanrhum
config/boards/bananapim3.conf		@AaronNGray
config/boards/bananapim5.conf		@bretmlw
config/boards/bananapim64.conf		@devdotnetorg
config/boards/bananapipro.conf		@teknoid
config/boards/clearfogpro.conf		@Heisath
config/boards/espressobin.conf		@ManoftheSea
config/boards/firefly-rk3399.conf		@150balbes
config/boards/helios4.conf		@Heisath
config/boards/jethubj100.conf		@adeepn
config/boards/jethubj80.conf		@adeepn
config/boards/jetson-nano.conf		@150balbes
config/boards/khadas-vim3.conf		@NicoD-SBC
config/boards/lafrite.conf		@Tonymac32
config/boards/lepotato.conf		@Tonymac32
config/boards/mangopi-mq.wip		@Zinput
config/boards/mekotronics-r58-minipc.wip		@monkaBlyat
config/boards/mekotronics-r58x-4g.wip		@monkaBlyat
config/boards/mekotronics-r58x.wip		@monkaBlyat
config/boards/nanopct4.conf		@150balbes
config/boards/nanopiduo.conf		@sgjava
config/boards/nanopineoplus2.conf		@teknoid
config/boards/nanopi-r4s.conf		@Manouchehri
config/boards/odroidc2.conf		@teknoid
config/boards/odroidm1.wip		@rpardini
config/boards/odroidxu4.conf		@joekhoobyar
config/boards/olimex-teres-a64.conf		@Kreyren
config/boards/onecloud.csc		@hzyitc
config/boards/orangepi4-lts.conf		@paolosabatino
config/boards/orangepi5.conf		@efectn
config/boards/orangepi5-plus.wip		@efectn
config/boards/orangepipc.conf		@lbmendes
config/boards/orangepi-r1.conf		@schwar3kat
config/boards/orangepi-r1plus-lts.conf		@schwar3kat
config/boards/orangepizero2.conf		@AGM1968 @krachlatte
config/boards/orangepizeroplus.conf		@schwar3kat
config/boards/pine64.conf		@joshaspinall @PanderMusubi
config/boards/pine64so.conf		@joshaspinall
config/boards/pinebook-pro.conf		@ahoneybun @TRSx80
config/boards/radxa-zero2.wip		@monkaBlyat
config/boards/radxa-zero.conf		@clee @engineer-80
config/boards/recore.csc		@eliasbakken
config/boards/renegade.conf		@Tonymac32
config/boards/rock-3a.conf		@amazingfate @catalinii @vamzii @ZazaBR
config/boards/rock-5a.wip		@amazingfate
config/boards/rock-5b.conf		@amazingfate @linhz0hz
config/boards/rock64.conf		@clee
config/boards/rockpi-4a.conf		@clee
config/boards/rockpi-e.conf		@krachlatte
config/boards/rockpi-s.conf		@brentr
config/boards/rockpro64.conf		@joekhoobyar
config/boards/rpi4b.conf		@PanderMusubi @teknoid
config/boards/station-m1.conf		@150balbes
config/boards/station-m2.conf		@150balbes
config/boards/station-p1.conf		@150balbes
config/boards/station-p2.conf		@150balbes
config/boards/tinkerboard.conf		@paolosabatino
config/boards/tritium-h3.conf		@Tonymac32
config/boards/tritium-h5.conf		@Tonymac32
config/boards/uefi-arm64.conf		@rpardini
config/boards/uefi-x86.conf		@rpardini
config/kernel/linux-bcm2711-*.config		@PanderMusubi @teknoid
config/kernel/linux-d1-*.config		@Zinput
config/kernel/linux-media-*.config		@150balbes
config/kernel/linux-meson64-*.config		@adeepn @bretmlw @clee @engineer-80 @jeanrhum @monkaBlyat @NicoD-SBC @pyavitz @SteeManMI @teknoid @Tonymac32
config/kernel/linux-meson-*.config		@hzyitc
config/kernel/linux-mvebu64-*.config		@ManoftheSea
config/kernel/linux-mvebu-*.config		@Heisath
config/kernel/linux-odroidxu4-*.config		@joekhoobyar
config/kernel/linux-rk3568-odroid-*.config		@rpardini
config/kernel/linux-rk35xx-*.config		@amazingfate @catalinii @vamzii @ZazaBR
config/kernel/linux-rockchip64-*.config		@ahoneybun @amazingfate @brentr @catalinii @clee @joekhoobyar @krachlatte @Manouchehri @paolosabatino @schwar3kat @Tonymac32 @TRSx80 @vamzii @ZazaBR
config/kernel/linux-rockchip-*.config		@paolosabatino
config/kernel/linux-rockchip-rk3588-*.config		@amazingfate @efectn @linhz0hz @monkaBlyat
config/kernel/linux-rockpis-*.config		@brentr
config/kernel/linux-sun50iw9-*.config		@AGM1968 @krachlatte
config/kernel/linux-sunxi64-*.config		@AGM1968 @devdotnetorg @eliasbakken @joshaspinall @krachlatte @Kreyren @PanderMusubi @schwar3kat @teknoid @Tonymac32
config/kernel/linux-sunxi-*.config		@AaronNGray @lbmendes @schwar3kat @sgjava @teknoid @Tonymac32
config/kernel/linux-uefi-arm64-*.config		@rpardini
config/kernel/linux-uefi-x86-*.config		@rpardini
patch/kernel/archive/bcm2711-*/		@PanderMusubi @teknoid
patch/kernel/archive/meson-*/		@hzyitc
patch/kernel/archive/meson64-*/		@adeepn @bretmlw @clee @engineer-80 @jeanrhum @monkaBlyat @NicoD-SBC @pyavitz @SteeManMI @teknoid @Tonymac32
patch/kernel/archive/mvebu-*/		@Heisath
patch/kernel/archive/odroidxu4-*/		@joekhoobyar
patch/kernel/archive/rk3568-odroid-*/		@rpardini
patch/kernel/archive/rk35xx-*/		@amazingfate @catalinii @vamzii @ZazaBR
patch/kernel/archive/rockchip-*/		@paolosabatino
patch/kernel/archive/rockchip64-*/		@ahoneybun @amazingfate @brentr @catalinii @clee @joekhoobyar @krachlatte @Manouchehri @paolosabatino @schwar3kat @Tonymac32 @TRSx80 @vamzii @ZazaBR
patch/kernel/archive/rockpis-*/		@brentr
patch/kernel/archive/sun50iw9-*/		@AGM1968 @krachlatte
patch/kernel/archive/sunxi-*/		@AaronNGray @AGM1968 @devdotnetorg @eliasbakken @joshaspinall @krachlatte @Kreyren @lbmendes @PanderMusubi @schwar3kat @sgjava @teknoid @Tonymac32
patch/kernel/archive/uefi-arm64-*/		@rpardini
patch/kernel/bcm2711-*/		@PanderMusubi @teknoid
patch/kernel/d1-*/		@Zinput
patch/kernel/media-*/		@150balbes
patch/kernel/meson-*/		@hzyitc
patch/kernel/meson64-*/		@adeepn @bretmlw @clee @engineer-80 @jeanrhum @monkaBlyat @NicoD-SBC @pyavitz @SteeManMI @teknoid @Tonymac32
patch/kernel/mvebu-*/		@Heisath
patch/kernel/mvebu64-*/		@ManoftheSea
patch/kernel/odroidxu4-*/		@joekhoobyar
patch/kernel/rk35xx-*/		@amazingfate @catalinii @vamzii @ZazaBR
patch/kernel/rockchip-*/		@paolosabatino
patch/kernel/rockchip64-*/		@ahoneybun @amazingfate @brentr @catalinii @clee @joekhoobyar @krachlatte @Manouchehri @paolosabatino @schwar3kat @Tonymac32 @TRSx80 @vamzii @ZazaBR
patch/kernel/rockchip-rk3588-*/		@amazingfate @efectn @linhz0hz @monkaBlyat
patch/kernel/rockpis-*/		@brentr
patch/kernel/sun50iw9-*/		@AGM1968 @krachlatte
patch/kernel/uefi-arm64-*/		@rpardini
patch/kernel/uefi-x86-*/		@rpardini
sources/families/arm64.conf		@rpardini
sources/families/bcm2711.conf		@PanderMusubi @teknoid
sources/families/d1.conf		@Zinput
sources/families/media.conf		@150balbes
sources/families/meson64.conf		@adeepn @bretmlw @clee @engineer-80 @jeanrhum @monkaBlyat @NicoD-SBC @pyavitz @SteeManMI @teknoid @Tonymac32
sources/families/meson.conf		@hzyitc
sources/families/mvebu64.conf		@ManoftheSea
sources/families/mvebu.conf		@Heisath
sources/families/odroidxu4.conf		@joekhoobyar
sources/families/rk3568-odroid.conf		@rpardini
sources/families/rk35xx.conf		@amazingfate @catalinii @vamzii @ZazaBR
sources/families/rockchip64.conf		@ahoneybun @amazingfate @brentr @catalinii @clee @joekhoobyar @krachlatte @Manouchehri @paolosabatino @schwar3kat @Tonymac32 @TRSx80 @vamzii @ZazaBR
sources/families/rockchip.conf		@paolosabatino
sources/families/rockchip-rk3588.conf		@amazingfate @efectn @linhz0hz @monkaBlyat
sources/families/rockpis.conf		@brentr
sources/families/sun50iw9.conf		@AGM1968 @krachlatte
sources/families/sunxi64.conf		@AGM1968 @devdotnetorg @eliasbakken @joshaspinall @krachlatte @Kreyren @PanderMusubi @schwar3kat @teknoid @Tonymac32
sources/families/sunxi.conf		@AaronNGray @lbmendes @schwar3kat @sgjava @teknoid @Tonymac32
sources/families/x86.conf		@rpardini
