Repository armbian/build, changes with the owners that .github/CODEOWNERS names for each.
All owners: @igorpecovnik, @EvilOlaf, @littlecxm, @TheLinuxBug, @TRSx80, @rpardini, @hzyitc, @armbian/build-scripts, @adeepn, @iav, @neheb, @mhoffrog, @SteeManMI, @Z-Keven, @DylanHP, @pyavitz, @bretmlw, @jeanrhum, @AaronNGray, @devdotnetorg, @bigtreetech, @ManoftheSea, @150balbes, @mahdichi, @sputnik2019, @hoochiwetech, @lanefu, @tdleiyao, @viraniac, @NicoD-SBC, @echatzip, @Tonymac32, @chainsx, @monkaBlyat, @Manouchehri, @utlark, @efectn, @1ubuntuuser, @sgjava, @teknoid, @joekhoobyar, @Kreyren, @schwar3kat, @paolosabatino, @StephenGraf, @lbmendes, @AGM1968, @krachlatte, @PanderMusubi, @joshaspinall, @ahoneybun, @clee, @engineer-80, @eliasbakken, @ZazaBR, @amazingfate, @catalinii, @vamzii, @linhz0hz, @brentr, @glneo

rockchip64: Add board "ASUS Tinker-Edge-R"
  config/boards/tinker-edge-r.csc
  patch/kernel/archive/rockchip64-6.1/add-new-borad-tinker-edge-r.patch
  patch/u-boot/u-boot-rockchip64/add-new-borad-tinker-edge-r.patch
Owners: @igorpecovnik

rockchip64: Add board "ASUS Tinker-Edge-R": hammer for 6.6 current & 6.7 edge
  config/boards/tinker-edge-r.csc
  patch/kernel/archive/rockchip64-6.1/add-new-borad-tinker-edge-r.patch
  patch/kernel/archive/rockchip64-6.6/dt/rk3399pro-tinker-edge-r.dts
  patch/kernel/archive/rockchip64-6.7/dt/rk3399pro-tinker-edge-r.dts
Owners: @igorpecovnik

Update odroidxu4-current to 6.1.73
  patch/kernel/odroidxu4-current/patch-6.1.69-70.patch
  patch/kernel/odroidxu4-current/patch-6.1.70-71.patch
  patch/kernel/odroidxu4-current/patch-6.1.71-72.patch
  patch/kernel/odroidxu4-current/patch-6.1.72-73.patch
Owners: @joekhoobyar

Re-add kernel patchdir
  config/sources/families/odroidxu4.conf
Owners: @igorpecovnik

Update odroidxu4-current to 6.1.73 (#6174)
  config/sources/families/odroidxu4.conf
  patch/kernel/odroidxu4-current/patch-6.1.69-70.patch
  patch/kernel/odroidxu4-current/patch-6.1.70-71.patch
  patch/kernel/odroidxu4-current/patch-6.1.71-72.patch
  patch/kernel/odroidxu4-current/patch-6.1.72-73.patch
Owners: @igorpecovnik, @joekhoobyar

.github/CODEOWNERS:

# PLEASE DON'T EDIT THIS FILE
# Auto generated by ".github/generate_CODEOWNERS.sh"

# Default code owner
*			@igorpecovnik

# the last matching pattern takes the most

*.md			@EvilOlaf @littlecxm @TheLinuxBug @TRSx80 @igorpecovnik

.github/		@igorpecovnik @rpardini @hzyitc

lib/			@armbian/build-scripts
packages/		@armbian/build-scripts
packages/bsp/jethub/	@armbian/build-scripts @adeepn
tools/			@iav @neheb @hzyitc @mhoffrog

# The following contents are generated by board configs
config/boards/aml-s9xx-box.tvb		@SteeManMI
config/boards/armsom-sige7.csc		@Z-Keven
config/boards/bananapi.csc		@DylanHP
config/boards/bananapicm4io.conf		@pyavitz
config/boards/bananapim2pro.conf		@bretmlw
config/boards/bananapim2s.conf		@jeanrhum @pyavitz
config/boards/bananapim3.csc		@AaronNGray
config/boards/bananapim5.conf		@bretmlw
config/boards/bananapim64.csc		@devdotnetorg
config/boards/bigtreetech-cb1.conf		@bigtreetech
config/boards/espressobin.csc		@ManoftheSea
config/boards/firefly-rk3399.csc		@150balbes
config/boards/fxblox-rk1.wip		@mahdichi
config/boards/hinlink-h28k.csc		@sputnik2019
config/boards/hinlink-ht2.csc		@hoochiwetech
config/boards/indiedroid-nova.csc		@lanefu
config/boards/jethubj100.conf		@adeepn
config/boards/jethubj80.conf		@adeepn
config/boards/jetson-nano.csc		@150balbes
config/boards/jp-tvbox-3566.tvb		@tdleiyao
config/boards/khadas-edge2.conf		@igorpecovnik
config/boards/khadas-vim1.conf		@igorpecovnik
config/boards/khadas-vim1s.conf		@rpardini @viraniac
config/boards/khadas-vim2.conf		@igorpecovnik
config/boards/khadas-vim3.conf		@NicoD-SBC @rpardini
config/boards/khadas-vim3l.conf		@rpardini
config/boards/khadas-vim4.conf		@echatzip @rpardini @viraniac
config/boards/lafrite.conf		@Tonymac32
config/boards/lepotato.conf		@Tonymac32
config/boards/licheepi-4a.wip		@chainsx
config/boards/mangopi-m28k.csc		@sputnik2019
config/boards/mekotronics-r58-minipc.wip		@monkaBlyat
config/boards/mekotronics-r58x-4g.wip		@monkaBlyat
config/boards/mekotronics-r58x.wip		@monkaBlyat
config/boards/mixtile-blade3.wip		@rpardini
config/boards/nanopct6.wip		@Tonymac32
config/boards/nanopi-r4s.conf		@Manouchehri
config/boards/nanopi-r5s.wip		@utlark
config/boards/nanopi-r6s.conf		@efectn
config/boards/nanopiair.csc		@1ubuntuuser
config/boards/nanopiduo.conf		@sgjava
config/boards/nanopiduo2.conf		@viraniac
config/boards/nanopineoplus2.csc		@teknoid
config/boards/odroidc2.conf		@teknoid
config/boards/odroidm1.conf		@rpardini
config/boards/odroidn2.conf		@NicoD-SBC
config/boards/odroidxu4.conf		@joekhoobyar
config/boards/olimex-teres-a64.conf		@Kreyren
config/boards/onecloud.conf		@hzyitc
config/boards/orangepi-r1.conf		@schwar3kat
config/boards/orangepi-r1plus-lts.conf		@schwar3kat
config/boards/orangepi3-lts.csc		@viraniac
config/boards/orangepi3.csc		@viraniac
config/boards/orangepi4-lts.conf		@paolosabatino
config/boards/orangepi4.csc		@paolosabatino
config/boards/orangepi5-plus.conf		@efectn
config/boards/orangepi5.conf		@efectn
config/boards/orangepione.conf		@StephenGraf
config/boards/orangepipc.csc		@lbmendes
config/boards/orangepiprime.conf		@viraniac
config/boards/orangepizero.conf		@viraniac
config/boards/orangepizero2.conf		@AGM1968 @krachlatte
config/boards/orangepizero3.wip		@viraniac
config/boards/orangepizeroplus.conf		@schwar3kat
config/boards/pine64.conf		@PanderMusubi
config/boards/pine64so.csc		@joshaspinall
config/boards/pinebook-pro.conf		@TRSx80 @ahoneybun
config/boards/qemu-uboot-arm64.wip		@rpardini
config/boards/qemu-uboot-x86.wip		@rpardini
config/boards/radxa-e25.wip		@krachlatte
config/boards/radxa-zero.conf		@clee @engineer-80
config/boards/radxa-zero2.wip		@monkaBlyat
config/boards/recore.csc		@eliasbakken
config/boards/renegade.conf		@Tonymac32
config/boards/rock-3a.conf		@ZazaBR @amazingfate @catalinii @vamzii
config/boards/rock-5a.wip		@amazingfate
config/boards/rock-5b.conf		@amazingfate @linhz0hz
config/boards/rock64.csc		@clee
config/boards/rockpi-4a.conf		@clee
config/boards/rockpi-e.conf		@krachlatte
config/boards/rockpi-s.conf		@brentr
config/boards/rockpro64.conf		@joekhoobyar
config/boards/rpi4b.conf		@PanderMusubi @teknoid @viraniac
config/boards/rpi5b.conf		@viraniac
config/boards/sk-am62b.conf		@glneo
config/boards/sk-am64b.conf		@glneo
config/boards/sk-tda4vm.conf		@glneo
config/boards/station-m1.csc		@150balbes
config/boards/station-m2.csc		@150balbes
config/boards/station-m3.csc		@150balbes
config/boards/station-p2.csc		@150balbes
config/boards/thinkpad-x13s.wip		@rpardini
config/boards/tinkerboard.conf		@paolosabatino
config/boards/tritium-h3.conf		@Tonymac32
config/boards/tritium-h5.conf		@Tonymac32
config/boards/uefi-arm64.conf		@rpardini
config/boards/uefi-x86.conf		@rpardini
config/boards/wsl2-arm64.csc		@rpardini
config/boards/wsl2-x86.csc		@rpardini
config/boards/xiaomi-elish.conf		@amazingfate
config/kernel/linux-arm64-*.config		@amazingfate
config/kernel/linux-bcm2711-*.config		@PanderMusubi @teknoid @viraniac
config/kernel/linux-k3-*.config		@glneo
config/kernel/linux-media-*.config		@150balbes
config/kernel/linux-meson-*.config		@hzyitc
config/kernel/linux-meson-s4t7-*.config		@echatzip @rpardini @viraniac
config/kernel/linux-meson64-*.config		@NicoD-SBC @SteeManMI @Tonymac32 @adeepn @bretmlw @clee @engineer-80 @igorpecovnik @jeanrhum @monkaBlyat @pyavitz @rpardini @teknoid
config/kernel/linux-mvebu64-*.config		@ManoftheSea
config/kernel/linux-odroidxu4-*.config		@joekhoobyar
config/kernel/linux-rk35xx-*.config		@Tonymac32 @Z-Keven @ZazaBR @amazingfate @catalinii @efectn @hoochiwetech @igorpecovnik @krachlatte @lanefu @linhz0hz @mahdichi @monkaBlyat @rpardini @sputnik2019 @vamzii
config/kernel/linux-rockchip-*.config		@paolosabatino
config/kernel/linux-rockchip-rk3588-*.config		@Tonymac32 @amazingfate @efectn @igorpecovnik @lanefu @linhz0hz @rpardini
config/kernel/linux-rockchip64-*.config		@Manouchehri @TRSx80 @Tonymac32 @ZazaBR @ahoneybun @amazingfate @brentr @catalinii @clee @joekhoobyar @krachlatte @paolosabatino @rpardini @schwar3kat @tdleiyao @utlark @vamzii
config/kernel/linux-rockpis-*.config		@brentr
config/kernel/linux-sun50iw9-*.config		@AGM1968 @krachlatte
config/kernel/linux-sun50iw9-btt-*.config		@bigtreetech
config/kernel/linux-sunxi-*.config		@1ubuntuuser @AaronNGray @DylanHP @StephenGraf @Tonymac32 @lbmendes @schwar3kat @sgjava @viraniac
config/kernel/linux-sunxi64-*.config		@AGM1968 @Kreyren @PanderMusubi @Tonymac32 @bigtreetech @devdotnetorg @eliasbakken @joshaspinall @krachlatte @schwar3kat @teknoid @viraniac
config/kernel/linux-thead-*.config		@chainsx
config/kernel/linux-uefi-arm64-*.config		@150balbes @rpardini
config/kernel/linux-uefi-x86-*.config		@rpardini
patch/kernel/NEED-*/		@bigtreetech
patch/kernel/archive/meson-s4t7-*/		@echatzip @rpardini @viraniac
patch/kernel/archive/rockpis-*/		@brentr
patch/kernel/archive/sm8250-*/		@amazingfate
patch/kernel/archive/sun50iw9-*/		@AGM1968 @krachlatte
patch/kernel/archive/sunxi-*/		@1ubuntuuser @AGM1968 @AaronNGray @DylanHP @Kreyren @PanderMusubi @StephenGraf @Tonymac32 @bigtreetech @devdotnetorg @eliasbakken @joshaspinall @krachlatte @lbmendes @schwar3kat @sgjava @teknoid @viraniac
patch/kernel/archive/uefi-arm64-*/		@150balbes @rpardini
patch/kernel/archive/uefi-x86-*/		@rpardini
patch/kernel/arm64-*/		@amazingfate
patch/kernel/bcm2711-*/		@PanderMusubi @teknoid @viraniac
patch/kernel/k3-*/		@glneo
patch/kernel/media-*/		@150balbes
patch/kernel/meson-*/		@hzyitc
patch/kernel/meson64-*/		@NicoD-SBC @SteeManMI @Tonymac32 @adeepn @bretmlw @clee @engineer-80 @igorpecovnik @jeanrhum @monkaBlyat @pyavitz @rpardini @teknoid
patch/kernel/mvebu64-*/		@ManoftheSea
patch/kernel/odroidxu4-*/		@joekhoobyar
patch/kernel/rk35xx-*/		@Tonymac32 @Z-Keven @ZazaBR @amazingfate @catalinii @efectn @hoochiwetech @igorpecovnik @krachlatte @lanefu @linhz0hz @mahdichi @monkaBlyat @rpardini @sputnik2019 @vamzii
patch/kernel/rockchip-*/		@paolosabatino
patch/kernel/rockchip-rk3588-*/		@Tonymac32 @amazingfate @efectn @igorpecovnik @lanefu @linhz0hz @rpardini
patch/kernel/rockchip64-*/		@Manouchehri @TRSx80 @Tonymac32 @ZazaBR @ahoneybun @amazingfate @brentr @catalinii @clee @joekhoobyar @krachlatte @paolosabatino @rpardini @schwar3kat @tdleiyao @utlark @vamzii
patch/kernel/rockpis-*/		@brentr
patch/kernel/sun50iw9-*/		@AGM1968 @krachlatte
patch/kernel/thead-*/		@chainsx
sources/families/arm64.conf		@150balbes @amazingfate @rpardini
sources/families/bcm2711.conf		@PanderMusubi @teknoid @viraniac
sources/families/k3.conf		@glneo
sources/families/media.conf		@150balbes
sources/families/meson-s4t7.conf		@echatzip @rpardini @viraniac
sources/families/meson.conf		@hzyitc
sources/families/meson64.conf		@NicoD-SBC @SteeManMI @Tonymac32 @adeepn @bretmlw @clee @engineer-80 @igorpecovnik @jeanrhum @monkaBlyat @pyavitz @rpardini @teknoid
sources/families/mvebu64.conf		@ManoftheSea
sources/families/odroidxu4.conf		@joekhoobyar
sources/families/rk35xx.conf		@Tonymac32 @Z-Keven @ZazaBR @amazingfate @catalinii @efectn @hoochiwetech @igorpecovnik @krachlatte @lanefu @linhz0hz @mahdichi @monkaBlyat @rpardini @sputnik2019 @vamzii
sources/families/rockchip-rk3588.conf		@Tonymac32 @amazingfate @efectn @igorpecovnik @lanefu @linhz0hz @rpardini
sources/families/rockchip.conf		@paolosabatino
sources/families/rockchip64.conf		@Manouchehri @TRSx80 @Tonymac32 @ZazaBR @ahoneybun @amazingfate @brentr @catalinii @clee @joekhoobyar @krachlatte @paolosabatino @rpardini @schwar3kat @tdleiyao @utlark @vamzii
sources/families/rockpis.conf		@brentr
sources/families/sun50iw9-btt.conf		@bigtreetech
sources/families/sun50iw9.conf		@AGM1968 @krachlatte
sources/families/sunxi.conf		@1ubuntuuser @AaronNGray @DylanHP @StephenGraf @Tonymac32 @lbmendes @schwar3kat @sgjava @viraniac
sources/families/sunxi64.conf		@AGM1968 @Kreyren @PanderMusubi @Tonymac32 @bigtreetech @devdotnetorg @eliasbakken @joshaspinall @krachlatte @schwar3kat @teknoid @viraniac
sources/families/thead.conf		@chainsx
sources/families/x86.conf		@rpardini
