Repository armbian/build, changes with the labels that .github/labeler.yml gives for each.
All labels: c:u-boot, c:kernel, c:build script, c:desktop, c:cli, c:ci

.github/labeler.yml:

# This configures label matching for PR's.
#
# The keys are labels, and the values are lists of minimatch patterns
# to which those labels apply.
#
# NOTE: This can only add labels, not remove them.
# NOTE: Due to YAML syntax limitations, patterns or labels which start
# with a character that is part of the standard YAML syntax must be
# quoted.
#
# Please keep the labels sorted and deduplicated.

"c:u-boot":
  - patch/u-boot/*
  - patch/u-boot/**/*
  - patch/atf/*
  - config/bootenv/*
  - config/bootscripts/*

"c:kernel":
  - patch/kernel/*
  - patch/kernel/**/*
  - patch/misc/*
  - config/kernel/*
  - config/sources/*

"c:build script":
  - lib/*

"c:desktop":
  - config/desktop/*

"c:cli":
  - config/cli/*

"c:ci":
  - .github/*

Change the driver name to sun4i_drm
  patch/kernel/archive/sunxi-5.10/0001-drm-sun4i-change-the-driver-name-to-sun4i_drm.patch
  patch/kernel/archive/sunxi-5.11/0001-drm-sun4i-change-the-driver-name-to-sun4i_drm.patch
  patch/kernel/archive/sunxi-5.12/0001-drm-sun4i-change-the-driver-name-to-sun4i_drm.patch
  patch/kernel/archive/sunxi-5.13/0001-drm-sun4i-change-the-driver-name-to-sun4i_drm.patch
  patch/kernel/archive/sunxi-5.14/0001-drm-sun4i-change-the-driver-name-to-sun4i_drm.patch
  patch/kernel/archive/sunxi-5.15/0001-drm-sun4i-change-the-driver-name-to-sun4i_drm.patch
Labels: c:kernel

s805 with kernel 5.10.x
  config/boards/aml-s805.conf
  config/bootscripts/boot-aml-s805.cmd
  config/bootscripts/boot-aml-s805_EMMC.cmd
  config/kernel/linux-aml-s805-current.config
  config/kernel/linux-aml-s805-edge.config
  config/kernel/linux-aml-s805-legacy.config
  config/sources/armhf.conf
  config/sources/families/aml-s805.conf
  packages/bsp/aml-s805/aml_autoscript.src
  packages/bsp/aml-s805/aml_autoscript.zip
  packages/bsp/aml-s805/boot.ini
  packages/bsp/aml-s805/ddbr
  packages/bsp/aml-s805/ddbr_backup_nand
  packages/bsp/aml-s805/ddbr_backup_nand_full
  packages/bsp/aml-s805/ddbr_restore_nand
  packages/bsp/aml-s805/fstab
  packages/bsp/aml-s805/sound.sh
  packages/bsp/aml-s805/uEnv.txt
  packages/bsp/common/etc/NetworkManager/dispatcher.d/80-update-htop-and-offload-tx
  patch/kernel/aml-s805-current/general-increasing_DMA_block_memory_allocation_to_2048.patch
  patch/kernel/aml-s805-current/packages-5.patch
  patch/kernel/aml-s805-current/wky-patch.patch
  patch/kernel/aml-s805-current/z-0001.patch
  patch/kernel/aml-s805-current/z-0002.patch
  patch/kernel/aml-s805-edge/packages-5.patch
Labels: c:u-boot, c:kernel

remove 0036 patch
  patch/kernel/archive/sunxi-5.15/check/0036-arm64-dts-allwinner-h616-orangepi-zero2-Fix-reboot.patch-DISABLED
Labels: c:kernel

fix dcdce in h616_0005 patch to support reboot
  patch/kernel/archive/sunxi-5.15/h616_0005-arm64-dts-allwinner-h616-Add-OrangePi-Zero-2-board-s.patch
Labels: c:kernel

remove conflicted patch 0014-arm64-dts-allwinner-h616-Add-OrangePi-Zero-2-board-s.patch
  patch/kernel/archive/sunxi-5.15/0014-arm64-dts-allwinner-h616-Add-OrangePi-Zero-2-board-s.patch
Labels: c:kernel

move to check folder and disable it
  patch/kernel/archive/sunxi-5.15/check/0014-arm64-dts-allwinner-h616-Add-OrangePi-Zero-2-board-s.patch-DISABLED
Labels: c:kernel

Enable more config options in the legacy kernel (#3237)
  config/kernel/linux-rk35xx-legacy.config
Labels: c:kernel

Add support for next Ubuntu LTS (#3234)
  compile.sh
  config/cli/jammy/debootstrap
  config/cli/jammy/main/config_cli_standard
  config/cli/jammy/main/config_desktop
  config/cli/jammy/main/packages
  config/cli/jammy/main/packages.additional
  config/desktop/jammy
  config/distributions/jammy/name
  config/distributions/jammy/support
  lib/chroot-buildpackages.sh
  lib/configuration.sh
  lib/debootstrap.sh
  lib/distributions.sh
  lib/general.sh
Labels: c:build script, c:desktop

Update README.md
  .github/workflows/README.md
Labels: none
