Repository armbian/build, changes with the labels that .github/labeler.yml gives for each.
All labels: Hardware, Software, Desktop

.github/labeler.yml:

# This configures label matching for PR's.
#
# The keys are labels, and the values are lists of minimatch patterns
# to which those labels apply.
#
# NOTE: This can only add labels, not remove them.
# NOTE: Due to YAML syntax limitations, patterns or labels which start
# with a character that is part of the standard YAML syntax must be
# quoted.
#
# Please keep the labels sorted and deduplicated.

"Hardware":
  - patch/u-boot/*
  - patch/u-boot/**/*
  - patch/atf/*
  - config/bootenv/*
  - config/bootscripts/*
  - patch/kernel/*
  - patch/kernel/**/*
  - patch/misc/*
  - patch/crust/*
  - config/kernel/*
  - config/sources/*
  - config/sources/**/*
  - config/boards/*
  - config/bootscripts/*
  - config/bootenv/*

"Software":
  - lib/*
  - tools/*
  - config/cli/*
  - packages/*
  - extensions/*
  - .github/workflows/*

"Desktop":
  - config/desktop/*

meson: edge: refresh config
  config/kernel/linux-meson-edge.config
Labels: Hardware

meson: edge: refresh patches
  patch/kernel/archive/meson-6.6/generic-0001-m8-m8b-m8m2-Support-HDMI.patch
  patch/kernel/archive/meson-6.6/generic-0002-m8-m8b-m8m2-drm-forcefully-enable-XRGB-format.patch
  patch/kernel/archive/meson-6.6/generic-0003-drm-meson-Support-meson-8-8b-hdmi-tx-components.patch
  patch/kernel/archive/meson-6.6/generic-Revert-mmc-core-Set-HS-clock-speed-before-sending-HS-CMD13.patch
  patch/kernel/archive/meson-6.6/generic-Revert-pwm-meson-modify-and-simplify-calculation-in-.patch
  patch/kernel/archive/meson-6.6/odroidc1-dts-Enable-HDMI.patch
  patch/kernel/archive/meson-6.6/onecloud-0001-add-dts.patch
  patch/kernel/archive/meson-6.6/onecloud-0002-dts-Support-HDMI.patch
Labels: Hardware

rk322x: update ddrbin to v1.11
  config/sources/families/rk322x.conf
  packages/blobs/rockchip/rk322x_ddr_333MHz_v1.11_2t.bin
Labels: Hardware

cosmetics
  CONTRIBUTING.md
Labels: none

Develop simple patch system
  packages/bsp/common/etc/apt/apt.conf.d/02-armbian-preupdate
  packages/bsp/common/usr/lib/armbian/armbian-live-patch
Labels: none

Wrong branch
  .github/workflows/labels-from-yml.yml
Labels: Software

Record patch output to syslog
  packages/bsp/common/usr/lib/armbian/armbian-live-patch
Labels: none

rk322x: update ddrbin to v1.11
  config/sources/families/rk322x.conf
  packages/blobs/rockchip/rk322x_ddr_333MHz_v1.11_2t.bin
Labels: Hardware

Update report
  .github/CODEOWNERS
  config/boards/bananapim2pro.csc
Labels: Hardware

Refresh jetson-nano board config.
  config/boards/jetson-nano.conf
  config/kernel/linux-uefi-arm64-current.config
  config/kernel/linux-uefi-arm64-edge.config
  config/modules/jetson-nano-legacy
  config/sources/families/media.conf
  extensions/grub-sbc-media.sh
  packages/blobs/jetson/asound.conf.tegrahda
  packages/blobs/jetson/asound.conf.tegrasndt210ref
  packages/blobs/jetson/boot.scr
  packages/blobs/jetson/firmware/nvidia/tegra210/vic04_ucode.bin
  packages/blobs/jetson/firmware/nvidia/tegra210/xusb.bin
  packages/blobs/jetson/jetson.sh
  packages/blobs/jetson/tegra-hda.conf
  packages/blobs/jetson/tegra-snd-t210r.conf
  packages/blobs/jetson/tegra21x_xusb_firmware
  patch/kernel/jetson-nano-legacy/packages-legacy.patch
Labels: Hardware, Software

`Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/bananapim2pro.csc
Labels: Hardware

Fix links to download pages
  README.md
Labels: none

Bump kernel configs and sources for thead family
  config/kernel/linux-thead-edge.config
  config/kernel/linux-thead-legacy.config
  config/sources/families/thead.conf
Labels: Hardware

Bump kernel configs and sources for thead family
  config/kernel/linux-thead-edge.config
  config/kernel/linux-thead-legacy.config
  config/sources/families/thead.conf
Labels: Hardware

Refresh jetson-nano board config.
  config/boards/jetson-nano.conf
  config/kernel/linux-uefi-arm64-current.config
  config/kernel/linux-uefi-arm64-edge.config
  config/modules/jetson-nano-legacy
  config/sources/families/media.conf
  extensions/grub-sbc-media.sh
  packages/blobs/jetson/asound.conf.tegrahda
  packages/blobs/jetson/asound.conf.tegrasndt210ref
  packages/blobs/jetson/boot.scr
  packages/blobs/jetson/firmware/nvidia/tegra210/vic04_ucode.bin
  packages/blobs/jetson/firmware/nvidia/tegra210/xusb.bin
  packages/blobs/jetson/jetson.sh
  packages/blobs/jetson/tegra-hda.conf
  packages/blobs/jetson/tegra-snd-t210r.conf
  packages/blobs/jetson/tegra21x_xusb_firmware
  patch/kernel/jetson-nano-legacy/packages-legacy.patch
Labels: Hardware, Software

meson: edge: refresh config
  config/kernel/linux-meson-edge.config
Labels: Hardware

meson: edge: Bump v6.6
  config/kernel/linux-meson-edge.config
  config/sources/families/include/meson_common.inc
  patch/kernel/archive/meson-6.6/generic-0001-m8-m8b-m8m2-Support-HDMI.patch
  patch/kernel/archive/meson-6.6/generic-0002-m8-m8b-m8m2-drm-forcefully-enable-XRGB-format.patch
  patch/kernel/archive/meson-6.6/generic-0003-drm-meson-Support-meson-8-8b-hdmi-tx-components.patch
  patch/kernel/archive/meson-6.6/generic-Revert-mmc-core-Set-HS-clock-speed-before-sending-HS-CMD13.patch
  patch/kernel/archive/meson-6.6/generic-Revert-pwm-meson-modify-and-simplify-calculation-in-.patch
  patch/kernel/archive/meson-6.6/odroidc1-dts-Enable-HDMI.patch
  patch/kernel/archive/meson-6.6/onecloud-0001-add-dts.patch
  patch/kernel/archive/meson-6.6/onecloud-0002-dts-Support-HDMI.patch
  patch/kernel/meson-edge
Labels: Hardware

meson: edge: refresh patches
  patch/kernel/archive/meson-6.6/generic-0001-m8-m8b-m8m2-Support-HDMI.patch
  patch/kernel/archive/meson-6.6/generic-0002-m8-m8b-m8m2-drm-forcefully-enable-XRGB-format.patch
  patch/kernel/archive/meson-6.6/generic-0003-drm-meson-Support-meson-8-8b-hdmi-tx-components.patch
  patch/kernel/archive/meson-6.6/generic-Revert-mmc-core-Set-HS-clock-speed-before-sending-HS-CMD13.patch
  patch/kernel/archive/meson-6.6/generic-Revert-pwm-meson-modify-and-simplify-calculation-in-.patch
  patch/kernel/archive/meson-6.6/odroidc1-dts-Enable-HDMI.patch
  patch/kernel/archive/meson-6.6/onecloud-0001-add-dts.patch
  patch/kernel/archive/meson-6.6/onecloud-0002-dts-Support-HDMI.patch
Labels: Hardware

odroidxu4/current: Enable WireGuard module
  config/kernel/linux-odroidxu4-current.config
Labels: Hardware

Update rk3588-edge to 6.7-rc.1 and add support for VOP2, Crypto, HW RNG (#5928)
  config/kernel/linux-rockchip-rk3588-edge.config
  config/sources/families/rockchip-rk3588.conf
  patch/kernel/rockchip-rk3588-edge/0010-fix-clk-divisions.patch
  patch/kernel/rockchip-rk3588-edge/0020-USB3-Host-Support-For-Rock5.patch
  patch/kernel/rockchip-rk3588-edge/0021-RK3588-Add-USB3-DRD-Support.patch
  patch/kernel/rockchip-rk3588-edge/0022-RK3588-Add-Cpufreq-Support.patch
  patch/kernel/rockchip-rk3588-edge/0023-Add-Initial-HDMITX-VOP2-For-RK3588.patch
  patch/kernel/rockchip-rk3588-edge/0024-RK3588-Add-Crypto-Support.patch
  patch/kernel/rockchip-rk3588-edge/0025-RK3588-Add-HW-RNG-Support.patch
  patch/kernel/rockchip-rk3588-edge/0025-arm64-dts-rockchip-rk3588-add-sfc-node.patch
  patch/kernel/rockchip-rk3588-edge/0026-Add-missing-nodes-to-Orange-Pi-5.patch
  patch/kernel/rockchip-rk3588-edge/0027-arm64-dts-Add-missing-nodes-to-Orange-Pi-5-Plus.patch
  patch/kernel/rockchip-rk3588-edge/dt/rk3588-orangepi-5-plus.dts
  patch/kernel/rockchip-rk3588-edge/dt/rk3588s-nanopi-r6s.dts
  patch/kernel/rockchip-rk3588-edge/dt/rk3588s-orangepi-5.dts
Labels: Hardware

extensions: `initramfs-usb-gadget-ums`: kernel cmdline enables initramfs UMS of all block devices
  extensions/initramfs-usb-gadget-ums/init-premount/usb-gadget-ums.sh
  extensions/initramfs-usb-gadget-ums/initramfs-usb-gadget-ums.sh
Labels: none

core extensions: fix: don't redefine extension_function_info when recursing
  lib/functions/general/extensions.sh
Labels: none

extensions: `grub-with-dtb`: add UMS menu entry to GRUB if initramfs ums hook is detected
  packages/blobs/grub/09_linux_with_dtb.sh
Labels: none

rk3588: configure UEFI_EDK2_BOARD_ID for all UEFI-supported boards
  config/boards/hinlink-h88k.csc
  config/boards/indiedroid-nova.csc
  config/boards/khadas-edge2.conf
  config/boards/mekotronics-r58-minipc.wip
  config/boards/mekotronics-r58x-4g.wip
  config/boards/mekotronics-r58x-pro.csc
  config/boards/mekotronics-r58x.wip
  config/boards/mixtile-blade3.wip
  config/boards/nanopct6.wip
  config/boards/nanopi-r6s.conf
  config/boards/orangepi5-plus.conf
  config/boards/orangepi5.conf
  config/boards/rock-5a.wip
  config/boards/rock-5b.conf
Labels: Hardware

extensions: `uefi-edk2-rk3588`: deploy edk2 (not u-boot) for rk3588 boards
  extensions/uefi-edk2-rk3588.sh
Labels: Software

Bump rpi and ebin edge kernels to 6.6.y (#5925)
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-mvebu64-edge.config
  config/sources/families/bcm2711.conf
  config/sources/families/mvebu64.conf
  patch/kernel/archive/bcm2711-6.2/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/archive/bcm2711-6.2/001-force-platform-selection-brcm-soc-support.patch
  patch/kernel/archive/bcm2711-6.2/1003-remote-wakeup.patch
  patch/kernel/archive/bcm2711-6.2/2001-rename-msd.patch
  patch/kernel/archive/bcm2711-6.3/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/archive/bcm2711-6.3/001-force-platform-selection-brcm-soc-support.disabled
  patch/kernel/archive/bcm2711-6.3/1003-remote-wakeup.patch
  patch/kernel/archive/bcm2711-6.3/2001-rename-msd.patch
  patch/kernel/bcm2711-current
  patch/kernel/bcm2711-current/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/bcm2711-current/001-force-platform-selection-brcm-soc-support.patch.disabled
  patch/kernel/bcm2711-current/1003-remote-wakeup.patch
  patch/kernel/bcm2711-current/2001-rename-msd.patch
  patch/kernel/bcm2711-edge
  patch/kernel/bcm2711-edge/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/bcm2711-edge/001-force-platform-selection-brcm-soc-support.disabled
  patch/kernel/bcm2711-edge/1003-remote-wakeup.patch
  patch/kernel/bcm2711-edge/2001-rename-msd.patch
  patch/kernel/bcm2711-legacy
  patch/kernel/bcm2711-legacy/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/bcm2711-legacy/1003-remote-wakeup.patch
  patch/kernel/bcm2711-legacy/2001-rename-msd.patch
  patch/kernel/bcm2711-legacy/2002-usb-gadget-f_mass_storage-forced-eject.patch.disabled
Labels: Hardware
