Repository armbian/build, changes with the labels that .github/labeler.yml gives for each.
All labels: Hardware, Software, Desktop

.github/labeler.yml:

# This configures label matching for PR's.
#
# The keys are labels, and the values are lists of minimatch patterns
# to which those labels apply.
#
# NOTE: This can only add labels, not remove them.
# NOTE: Due to YAML syntax limitations, patterns or labels which start
# with a character that is part of the standard YAML syntax must be
# quoted.
#
# Please keep the labels sorted and deduplicated.

"Hardware":
  - patch/u-boot/*
  - patch/u-boot/**/*
  - patch/atf/*
  - config/bootenv/*
  - config/bootscripts/*
  - patch/kernel/*
  - patch/kernel/**/*
  - patch/misc/*
  - patch/crust/*
  - config/kernel/*
  - config/sources/*
  - config/sources/**/*
  - config/boards/*
  - config/bootscripts/*
  - config/bootenv/*

"Software":
  - lib/*
  - tools/*
  - config/cli/*
  - packages/*
  - extensions/*
  - .github/workflows/*

"Desktop":
  - config/desktop/*

Add PR size labelling
  .github/workflows/pr-size-labeler.yml
  CONTRIBUTING.md
Labels: Software

collabora: update to newer tags (#5915)
  config/sources/families/rockchip-rk3588.conf
  patch/kernel/rockchip-rk3588-collabora/0000.patching_config.yaml
  patch/kernel/rockchip-rk3588-collabora/dt/rk3588-nanopc-t6.dts
Labels: Hardware

Hardcode armbian url
  lib/functions/image/fingerprint.sh
  lib/functions/rootfs/distro-agnostic.sh
  packages/bsp/common/usr/bin/armbianmonitor
Labels: none

Cosmetic changes
  lib/functions/image/fingerprint.sh
Labels: none

config: boards: thead: enable pwm-fan support default
  config/kernel/linux-thead-legacy.config
Labels: Hardware

Move nanopi r5c from csc to wip as we have a volonteer
  config/boards/nanopi-r5s.wip
Labels: Hardware

Implement suggestings from meeting
  CONTRIBUTING.md
Labels: none

Going one step back - don't change image name for community releases
  lib/functions/configuration/main-config.sh
Labels: none

Community images has different support page, but are comming from armbian.com
  lib/functions/configuration/main-config.sh
Labels: none

Comment for distribution
  lib/functions/configuration/main-config.sh
Labels: none

Promote recent Khadas boards.
  config/boards/khadas-vim1s.conf
  config/boards/khadas-vim4.conf
Labels: Hardware

tritium-h5: Change to using Armbian default DRAM CLK value using hook
  config/boards/tritium-h5.conf
Labels: Hardware

Orange Pi Zero: Adding myself as maintainer
  config/boards/orangepizero.conf
Labels: Hardware

Orange Pi Zero: Adding myself as maintainer
  config/boards/orangepizero.conf
Labels: Hardware

Suppress locale warnings at first run when connecting via SSH (#4976)
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
  packages/bsp/common/usr/lib/armbian/armbian-firstrun
Labels: none

config: boards: thead: enable pwm-fan support default
  config/kernel/linux-thead-legacy.config
Labels: Hardware

Anonymize default build engine settings (#5865)
  lib/functions/bsp/armbian-bsp-cli-deb.sh
  lib/functions/configuration/main-config.sh
  lib/functions/image/fingerprint.sh
  packages/bsp/common/etc/update-motd.d/10-armbian-header
  packages/bsp/common/usr/bin/armbianmonitor
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: none

Add proper GitHub labeller
  .github/labels.yml
  .github/workflows/labels-from-yml.yml
Labels: Software

Remove hardcoded values into the MD file and replace it with a link to YAML
  CONTRIBUTING.md
Labels: none

Keep the VENDOR in motd after the update
  lib/functions/bsp/armbian-bsp-cli-deb.sh
  packages/bsp/common/etc/update-motd.d/10-armbian-header
Labels: none

tritium-h5: Change to using Armbian default DRAM CLK value using hook
  config/boards/tritium-h5.conf
Labels: Hardware

Update report
  .github/CODEOWNERS
Labels: none

Keep the VENDOR in motd after the update
  lib/functions/bsp/armbian-bsp-cli-deb.sh
  packages/bsp/common/etc/update-motd.d/10-armbian-header
Labels: none

Remove RK3588 midstream kernel as there is no point of having it
  config/boards/rock-5b.conf
  config/kernel/linux-rockchip-rk3588-edge.config
  config/kernel/linux-rockchip-rk3588-midstream.config
  config/sources/families/rockchip-rk3588.conf
Labels: Hardware

Enable EDGE on khadas edge2
  config/boards/khadas-edge2.conf
Labels: Hardware

Enable EDGE on khadas edge2
  config/boards/khadas-edge2.conf
Labels: Hardware

Remove RK3588 midstream kernel as there is no point of having it
  config/boards/rock-5b.conf
  config/kernel/linux-rockchip-rk3588-edge.config
  config/kernel/linux-rockchip-rk3588-midstream.config
  config/sources/families/rockchip-rk3588.conf
Labels: Hardware

Bump rpi and ebin edge kernels to 6.6.y
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-mvebu64-edge.config
  config/sources/families/bcm2711.conf
  config/sources/families/mvebu64.conf
Labels: Hardware

Update rk3588-edge to 6.7-rc1 kernel
  config/kernel/linux-rockchip-rk3588-edge.config
  config/sources/families/rockchip-rk3588.conf
Labels: Hardware

Revert "Add a patch that breaks compilation of wifi driver 8723ds on a kernel 6.6 (#5912)"
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-rtl8723ds-6.7.patch
Labels: Hardware

Revert "Add a patch that breaks compilation of wifi driver 8723ds on a kernel 6.6 (#5912)"
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-rtl8723ds-6.7.patch
Labels: Hardware

Update report
  .github/CODEOWNERS
  config/boards/bananapipro.csc
  config/boards/clearfogpro.csc
  config/boards/helios4.csc
  config/boards/khadas-vim3.conf
  config/boards/khadas-vim4.wip
  config/boards/nanopiair.csc
  config/boards/odroidn2.csc
Labels: Hardware

patch: misc: rtw88: `6.7`
  patch/misc/rtw88/6.7/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
Labels: none

Update report
  .github/CODEOWNERS
  config/boards/bananapipro.csc
  config/boards/clearfogpro.csc
  config/boards/helios4.csc
  config/boards/khadas-vim3.conf
  config/boards/khadas-vim4.wip
  config/boards/nanopiair.csc
  config/boards/odroidn2.csc
Labels: Hardware

Update patches for rk3588-edge and add support for crypto, trng, hdmi tx, vop2
  patch/kernel/rockchip-rk3588-edge/0010-fix-clk-divisions.patch
  patch/kernel/rockchip-rk3588-edge/0020-USB3-Host-Support-For-Rock5.patch
  patch/kernel/rockchip-rk3588-edge/0021-RK3588-Add-USB3-DRD-Support.patch
  patch/kernel/rockchip-rk3588-edge/0022-RK3588-Add-Cpufreq-Support.patch
  patch/kernel/rockchip-rk3588-edge/0023-Add-Initial-HDMITX-VOP2-For-RK3588.patch
  patch/kernel/rockchip-rk3588-edge/0024-RK3588-Add-Crypto-Support.patch
  patch/kernel/rockchip-rk3588-edge/0025-RK3588-Add-HW-RNG-Support.patch
  patch/kernel/rockchip-rk3588-edge/0025-arm64-dts-rockchip-rk3588-add-sfc-node.patch
  patch/kernel/rockchip-rk3588-edge/0026-Add-missing-nodes-to-Orange-Pi-5.patch
  patch/kernel/rockchip-rk3588-edge/0027-arm64-dts-Add-missing-nodes-to-Orange-Pi-5-Plus.patch
  patch/kernel/rockchip-rk3588-edge/dt/rk3588-orangepi-5-plus.dts
  patch/kernel/rockchip-rk3588-edge/dt/rk3588s-nanopi-r6s.dts
  patch/kernel/rockchip-rk3588-edge/dt/rk3588s-orangepi-5.dts
Labels: Hardware

patch: misc: rtw88: `6.7`
  patch/misc/rtw88/6.7/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
Labels: none

Change name
  .github/labels.yml
Labels: none

Move rpi patches from archive, remove deprecated patch folder
  patch/kernel/archive/bcm2711-6.2/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/archive/bcm2711-6.2/001-force-platform-selection-brcm-soc-support.patch
  patch/kernel/archive/bcm2711-6.2/1003-remote-wakeup.patch
  patch/kernel/archive/bcm2711-6.2/2001-rename-msd.patch
  patch/kernel/archive/bcm2711-6.3/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/archive/bcm2711-6.3/001-force-platform-selection-brcm-soc-support.disabled
  patch/kernel/archive/bcm2711-6.3/1003-remote-wakeup.patch
  patch/kernel/archive/bcm2711-6.3/2001-rename-msd.patch
  patch/kernel/bcm2711-current
  patch/kernel/bcm2711-current/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/bcm2711-current/001-force-platform-selection-brcm-soc-support.patch.disabled
  patch/kernel/bcm2711-current/1003-remote-wakeup.patch
  patch/kernel/bcm2711-current/2001-rename-msd.patch
  patch/kernel/bcm2711-edge
  patch/kernel/bcm2711-edge/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/bcm2711-edge/001-force-platform-selection-brcm-soc-support.disabled
  patch/kernel/bcm2711-edge/1003-remote-wakeup.patch
  patch/kernel/bcm2711-edge/2001-rename-msd.patch
  patch/kernel/bcm2711-legacy
  patch/kernel/bcm2711-legacy/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/bcm2711-legacy/1003-remote-wakeup.patch
  patch/kernel/bcm2711-legacy/2001-rename-msd.patch
  patch/kernel/bcm2711-legacy/2002-usb-gadget-f_mass_storage-forced-eject.patch.disabled
Labels: Hardware

odroidxu4/current: Enable WireGuard module
  config/kernel/linux-odroidxu4-current.config
Labels: Hardware

meson: edge: Bump v6.6
  config/kernel/linux-meson-edge.config
  config/sources/families/include/meson_common.inc
  patch/kernel/archive/meson-6.6/generic-0001-m8-m8b-m8m2-Support-HDMI.patch
  patch/kernel/archive/meson-6.6/generic-0002-m8-m8b-m8m2-drm-forcefully-enable-XRGB-format.patch
  patch/kernel/archive/meson-6.6/generic-0003-drm-meson-Support-meson-8-8b-hdmi-tx-components.patch
  patch/kernel/archive/meson-6.6/generic-Revert-mmc-core-Set-HS-clock-speed-before-sending-HS-CMD13.patch
  patch/kernel/archive/meson-6.6/generic-Revert-pwm-meson-modify-and-simplify-calculation-in-.patch
  patch/kernel/archive/meson-6.6/odroidc1-dts-Enable-HDMI.patch
  patch/kernel/archive/meson-6.6/onecloud-0001-add-dts.patch
  patch/kernel/archive/meson-6.6/onecloud-0002-dts-Support-HDMI.patch
  patch/kernel/meson-edge
Labels: Hardware
