Repository armbian/build, pull requests merged in 2019-06, with the labels that each got.

#1384 Download with Aria2
  lib/debootstrap-ng.sh
  lib/general.sh
Labels: build scripts

#1403 Enable the i2c-tiny-usb kernel module
  config/kernel/linux-sunxi-dev.config
  config/kernel/linux-sunxi-next.config
Labels: kernel

#1404 Cosmetics
  config/boards/pinebook-a64.conf
  config/boards/teres-a64.conf
  lib/build-all.sh
  lib/configuration.sh
  lib/desktop.sh
  lib/distributions.sh
  lib/main.sh
  lib/makeboarddeb.sh
  packages/blobs/desktop/lightdm/lightdm-gtk-greeter.conf
  packages/blobs/desktop/skel/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
  packages/blobs/desktop/skel/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-session.xml
  packages/bsp/common/etc/profile.d/armbian-check-first-login.sh
  packages/bsp/common/etc/update-motd.d/10-armbian-header
Labels: build scripts, enhancement, needs testing

#1420 Docker: override stty size in container
  config-docker.conf
  lib/main.sh
Labels: build scripts

#1386 Call prepare_host in the DockerFile
  Dockerfile
Labels: needs testing
