Repository armbian/build, pull requests merged in 2019-09, with the labels that each got.

#1546 Add pcDuino3 to build targets
  config/targets.conf
Labels: ready for merge

#1545 Install vagrant-disksize automatically
  Vagrantfile
  config-vagrant.conf
Labels: ready for merge

#1555 Config files moved to userpatches
  compile.sh
Labels: enhancement, needs testing

#1566 Update configuration.sh
  lib/configuration.sh
Labels: ready for merge

#1564 Moving configs under userpatches
  compile.sh
  config/templates/Dockerfile
  config/templates/Vagrantfile
  config/templates/config-docker.conf
  config/templates/config-example.conf
  config/templates/config-vagrant.conf
Labels: needs testing
