Repository armbian/build, pull requests merged in 2019-08, with the labels that each got.

#1496 Enable IIO and add bmp280 sensor module on mvebu kernel
  config/kernel/linux-mvebu-default.config
  config/kernel/linux-mvebu-dev.config
  config/kernel/linux-mvebu-next.config
Labels: enhancement, kernel

#1482 Tinkerboard camera support
  config/kernel/linux-rockchip-default.config
  patch/kernel/rockchip-default/310_add_basic_dtbo_structure.patch
  patch/kernel/rockchip-default/311_fix_overlay.patch
  patch/kernel/rockchip-default/320_fix_kernelcrash_with_isp1.patch
  patch/kernel/rockchip-default/321_DTS_set_ov5647_as_default.patch
  patch/kernel/rockchip-default/322_DTS_add_overlay_from_next.patch
  patch/kernel/rockchip-default/323_ov5647_ae_awb_control.patch
  patch/kernel/rockchip-default/324_imx219_overlay.patch
  patch/kernel/rockchip-default/325_imx219_driverupdated.patch
Labels: ready for merge

#1504 Adding minimal image
  config/kernel/linux-meson64-next.config
  config/kernel/linux-odroidc1-next.config
  config/kernel/linux-odroidxu4-dev.config
  config/sources/meson64.conf
  lib/build-all.sh
  lib/configuration.sh
  lib/debootstrap.sh
  lib/distributions.sh
  lib/main.sh
  lib/makeboarddeb.sh
  packages/bsp/common/usr/bin/lsb_release
  packages/bsp/common/usr/lib/armbian/armbian-apt-updates
Labels: needs testing

#1531 Odroid XU4: disable NEXT since its identical to default
  config/boards/odroidxu4.conf
  config/kernel/linux-odroidxu4-dev.config
  config/sources/odroidxu4.conf
Labels: ready for merge

#1522 Replace Etcher with dd + verify, tested under Docker
  lib/debootstrap.sh
  lib/general.sh
Labels: needs testing
