Repository armbian/build, pull requests merged in 2019-07, with the labels that each got.

#1451 Docker build speed up.
  Dockerfile
  VERSION
  config-docker.conf
  lib/configuration.sh
Labels: build scripts

#1450 Add USERPATCHES_PATH optional setting to config file.
  .gitignore
  compile.sh
  lib/compilation.sh
  lib/configuration.sh
  lib/distributions.sh
  lib/fel-load.sh
  lib/general.sh
  lib/image-helpers.sh
Labels: ready for merge

#1454 Better armbian.txt, unified sha filename, armbianEnv from userpatches.
  lib/debootstrap.sh
  lib/distributions.sh
  lib/general.sh
Labels: ready for merge

#1464 Netplan folder check & armbian-tools dependency on expect (and tcl) solved
  lib/configuration.sh
  lib/distributions.sh
  packages/extras/armbian-config.sh
Labels: needs testing
