Repository armbian/build, pull requests merged in 2020-11, with the labels that each got.

#2307 Move Meson64 to 5.9.y
  config/kernel/linux-meson64-current.config
  config/sources/families/include/meson64_common.inc
  patch/kernel/meson64-current/0053-WIP-arm64-dts-meson-gxbb-add-playback-audio-devices.patch
  patch/kernel/meson64-current/0076-FROMLIST-drm-fourcc-Add-modifier-definitions-for-des.patch
  patch/kernel/meson64-current/0077-FROMLIST-drm-meson-add-Amlogic-Video-FBC-registers.patch
  patch/kernel/meson64-current/0078-FROMLIST-drm-meson-overlay-setup-overlay-for-Amlogic.patch
  patch/kernel/meson64-current/0079-FROMLIST-drm-meson-crtc-handle-commit-of-Amlogic-FBC.patch
  patch/kernel/meson64-current/0085-WIP-ASoC-meson-add-2-8-channel-constraints.patch
  patch/kernel/meson64-current/board-khadas-vim3-change-LED-behaviour.patch
  patch/kernel/meson64-current/board-khadas-vim3l-add-audio-playback-.patch
  patch/kernel/meson64-current/hardkernel-0022-pinctrl-meson-fix-drive-strength-register-and-bit-ca.patch
  patch/kernel/meson64-current/odroid-c4-audio-1.patch
  patch/kernel/meson64-current/odroid-n2-audio-1.patch
  patch/kernel/meson64-current/odroid-n2-audio-2.patch
  patch/kernel/meson64-dev/dts-meson-add-watchdog-to-g12-common-dtsi.patch.txt.patch
Labels: ready for merge

#2308 Move meson / Odroid C1 to 5.9.y
  config/kernel/linux-meson-current.config
  config/sources/families/include/meson_common.inc
Labels: ready for merge

#2290 Enable multithreading for kernel packaging
  lib/compilation.sh
Labels: discussion, needs testing

#2296 Prevent multiple update-initramfs runs while building image
  lib/debootstrap.sh
  lib/distributions.sh
Labels: discussion, needs testing

#2312 Bump imx6 to 5.9.y
  config/kernel/linux-imx6-current.config
  config/sources/families/imx6.conf
Labels: ready for merge

#2344 Point rockchip 32b legacy kernel sources to our repisitory
  config/kernel/linux-rk322x-legacy.config
  config/kernel/linux-rockchip-legacy.config
  config/sources/families/rk322x.conf
  config/sources/families/rockchip.conf
Labels: ready for merge

#2350 Move Odroid C4 from legacy u-boot toward mainline
  config/boards/odroidc4.conf
  config/bootscripts/boot-meson64.cmd
  config/kernel/linux-meson64-legacy.config
  config/sources/families/meson-sm1.conf
  config/targets.conf
  patch/kernel/meson64-legacy/patch-4.9.241-242-changed.patch
  patch/kernel/meson64-legacy/patch-4.9.242-243.patch
  patch/kernel/meson64-legacy/patch-4.9.243-244.patch
Labels: ready for merge

#2372 changed [SeatDefault] to new format [Seat:*]
  packages/blobs/desktop/lightdm/lightdm.conf.d/11-armbian.conf
Labels: ready for merge

#2339 Move Rockchip 32b to 5.9.y
  config/kernel/linux-rockchip-current.config
  config/sources/families/rockchip.conf
  patch/kernel/rockchip-current/4005-drm-rockchip-dw_hdmi-Set-cur_ctr-to-0-always.patch.disabled
  patch/kernel/rockchip-current/4007-drm-rockchip-dw_hdmi-Use-auto-generated-tables.patch.disabled
  patch/kernel/rockchip-current/4009-drm-rockchip-dw-hdmi-limit-tmds-to-340mhz.patch.disabled
  patch/kernel/rockchip-current/4014-Use-340000-as-fallback-max_tmds_clock.patch.disabled
Labels: needs testing

#2352 [AR-526] Moving mvebu-dev to lk5.9
  config/boards/clearfogbase.conf
  config/kernel/linux-mvebu-dev.config
  config/sources/families/include/mvebu-clearfog.inc
  config/sources/families/include/mvebu-helios4.inc
  config/sources/families/mvebu.conf
  patch/kernel/mvebu-dev/0044-gpio-report-all-gpios-in-debugfs.patch
  patch/kernel/mvebu-dev/40-pci-add-irq-change-handler-sspl.patch
  patch/kernel/mvebu-dev/800-Add_Armada_38x_support_for_clk-cpu.patch
  patch/kernel/mvebu-dev/802-Made_the_dynamic_frequency_scaling_support_more_generic.patch
  patch/kernel/mvebu-dev/803-Armada_38x_Add_dynamic_frequency_scaling_support_in_pmsu.patch
  patch/kernel/mvebu-dev/804-Update_Armada_38x_DT_for_dynamic_frequency_scaling.patch
  patch/kernel/mvebu-dev/806-disable-clocksource.patch
  patch/kernel/mvebu-dev/95-helios4-dts-assign-pinctrl-to-fan-and-led.patch
  patch/kernel/mvebu-dev/fix_time_drift_remove_global_timer.patch.disabled
  patch/kernel/mvebu-dev/omit_VFP_emulation_exceptions_kernel_mode.patch
  patch/kernel/mvebu-dev/use-1000BaseX-clearfog-switch.patch
Labels: kernel
