Repository armbian/build, pull requests merged in 2020-10, with the labels that each got.

#2234 Creates additional locales automatically
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: ready for merge

#2151 Switched rock64 to mainline u-boot
  config/sources/families/include/rockchip64_common.inc
Labels: ready for merge

#2218 Switched RockPro64 to mainline u-boot
  config/sources/families/include/rockchip64_common.inc
  patch/kernel/rockchip64-legacy/board-rockpro64-disable-sd-uhs.patch
  patch/u-boot/u-boot-rockchip64-mainline/board-rockpro64-rockusb-ums.patch
  patch/u-boot/u-boot-rockchip64-mainline/board_rockpro64/general-support-recovery-button.patch
Labels: ready for merge

#2251 Mitigate git server failures by retrying git commands several times.
  lib/build-all-ng.sh
  lib/compilation-prepare.sh
  lib/compilation.sh
  lib/configuration.sh
  lib/general.sh
Labels: bug, build scripts, enhancement, needs testing

#2231 [mvebu-current] Switch to Kernel 5.8 [AR-363]
  config/kernel/linux-mvebu-current.config
  config/sources/families/mvebu.conf
  patch/kernel/mvebu-current/402-sfp-display-SFP-module-information.patch
  patch/kernel/mvebu-current/450-reprobe_sfp_phy.patch
  patch/kernel/mvebu-current/91-01-libata-add-ledtrig-support.patch
  patch/kernel/mvebu-current/92-mvebu-gpio-remove-hardcoded-timer-assignment.patch
  patch/kernel/mvebu-current/95-helios4-dts-assign-pinctrl-to-fan.patch
  patch/kernel/mvebu-current/need-checking/0008-phy-marvell-88E1510-add-flow-control-support.patch
  patch/kernel/mvebu-current/unlock_atheros_regulatory_restrictions.patch
  patch/kernel/mvebu-current/wifi-4003-fix-sha256_state-clashes.patch
  patch/kernel/mvebu-current/wifi-4004-fix-cfg80211-for-5.8.patch
  patch/kernel/mvebu-dev/402-sfp-display-SFP-module-information.patch
  patch/kernel/mvebu-dev/disabled/450-reprobe_sfp_phy.patch
  patch/kernel/mvebu-dev/need-checking/0008-phy-marvell-88E1510-add-flow-control-support.patch
  patch/kernel/mvebu-dev/unlock_atheros_regulatory_restrictions.patch
  patch/kernel/mvebu-dev/wifi-4003-fix-sha256_state-clashes.patch
  patch/kernel/mvebu-dev/wifi-4004-fix-cfg80211-for-5.8.patch
Labels: kernel

#2263 Fix Odroid N2 audio and also add sound setting script to be run at start
  config/kernel/linux-meson64-current.config
  packages/bsp/common/usr/lib/armbian/armbian-audio-config
  packages/bsp/common/usr/lib/armbian/armbian-hardware-optimization
Labels: ready for merge

#2283 [AR-491] Change pinctrl patch to include the leds
  patch/kernel/mvebu-current/95-helios4-dts-assign-pinctrl-to-fan-and-led.patch
  patch/kernel/mvebu-current/95-helios4-dts-assign-pinctrl-to-fan.patch
Labels: bug
