Repository armbian/build, pull requests merged in 2020-07, with the labels that each got.

#2076 Hotfix Exynos DMC slow mem workaround (#2073)
  config/kernel/linux-odroidxu4-current.config
  config/kernel/linux-odroidxu4-dev.config
Labels: bug, kernel

#2070 Improve patch making
  lib/compilation.sh
Labels: build scripts, enhancement

#2093 Initial NanoPi NEO3 support (as WIP)
  config/boards/nanopineo3.wip
  config/sources/families/include/rockchip64_common.inc
  config/targets.conf
Labels: ready for merge

#2092 Remove deprecated and add most recent GCC compilers
  config/sources/arm64.conf
  config/sources/armhf.conf
  config/sources/families/imx6.conf
  config/sources/families/include/meson_common.inc
  config/sources/families/include/mvebu-clearfog.inc
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/meson-g12b.conf
  config/sources/families/meson-sm1.conf
  config/sources/families/mvebu64.conf
  config/sources/families/odroidxu4.conf
  config/sources/families/rk322x.conf
  config/sources/families/rockchip.conf
  config/sources/families/rockchip64.conf
  config/sources/families/rockpis.conf
  config/torrents/gcc-arm-9.2-2019.12-x86_64-aarch64-none-linux-gnu.tar.xz.asc
  config/torrents/gcc-arm-9.2-2019.12-x86_64-aarch64-none-linux-gnu.tar.xz.md5
  config/torrents/gcc-arm-9.2-2019.12-x86_64-aarch64-none-linux-gnu.tar.xz.torrent
  config/torrents/gcc-arm-9.2-2019.12-x86_64-arm-none-linux-gnueabihf.tar.xz.asc
  config/torrents/gcc-arm-9.2-2019.12-x86_64-arm-none-linux-gnueabihf.tar.xz.md5
  config/torrents/gcc-arm-9.2-2019.12-x86_64-arm-none-linux-gnueabihf.tar.xz.torrent
  lib/general.sh
Labels: ready for merge

#2081 Root auto login at first boot, determine TZ and locales from geo location
  lib/distributions.sh
  packages/bsp/common/etc/profile.d/armbian-check-first-login.sh
  packages/bsp/common/etc/update-motd.d/99-armbian-point-to-faq
Labels: enhancement, ready for merge

#2080 Changing Rockpi naming to align with others
  config/boards/nanopi-r2s.conf
  config/boards/renegade.conf
  config/boards/rock64.conf
  config/boards/rockpi-4a.conf
  config/boards/rockpi-4b.conf
  config/boards/rockpi-e.conf
  config/boards/rockpi-s.conf
  config/boards/z28pro.tvb
  config/sources/families/include/rockchip64_common.inc
Labels: discussion

#2097 Add support for two dedicated package lists for BOARD and FAMILY
  config/boards/README.md
  config/boards/cubox-i.conf
  config/boards/olimex-som204-a20.csc
  config/sources/families/imx6.conf
  config/sources/families/sun7i.conf
  lib/build-all-ng.sh
  lib/distributions.sh
Labels: enhancement

#2096 Add HDMI sound support for Allwinner A10, A20, A31
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-dev.config
  patch/kernel/sunxi-current/Add_HDMI_audio_support_for_the_sun4i-hdmi.patch
  patch/kernel/sunxi-dev/Add_HDMI_audio_support_for_the_sun4i-hdmi.patch
Labels: enhancement, needs testing

#2086 Update mainline u-boot for rockchip64 / rk3399 to v2020.07
  config/sources/families/include/rockchip64_common.inc
  patch/u-boot/u-boot-rockchip64-mainline/add-board-nanopi-m4v2.patch
  patch/u-boot/u-boot-rockchip64-mainline/add-board-nanopi-r2s.patch
  patch/u-boot/u-boot-rockchip64-mainline/add-board-orangepi-4.patch
  patch/u-boot/u-boot-rockchip64-mainline/add-board-rockpi-e.patch
  patch/u-boot/u-boot-rockchip64-mainline/rk3328-efuse-driver.patch
  patch/u-boot/u-boot-rockchip64-mainline/rk3399-disable-hdmi.patch
Labels: needs testing

#2079 Disable offloading on RK3399 network devices
  packages/bsp/common/etc/NetworkManager/dispatcher.d/30-offload
Labels: bug, kernel, needs testing
