Repository armbian/build, pull requests merged in 2020-05, with the labels that each got.

#1932 Fix odroidc1
  config/boards/odroidc1.conf
  config/bootscripts/boot-odroid-c1.ini
  config/kernel/linux-meson-current.config
  config/kernel/linux-meson-dev.config
  config/sources/families/include/meson_common.inc
  config/targets.conf
  patch/kernel/meson-current/general-kernel-odroidc1-current.patch
  patch/kernel/meson-dev/general-kernel-odroidc1-dev.patch
Labels: ready for merge

#1944 Attach XU4 DEV to Chewit DEV branch
  config/kernel/linux-odroidxu4-dev.config
  config/sources/families/odroidxu4.conf
  lib/compilation-prepare.sh
Labels: ready for merge

#1933 Adding new feature REPOSITORY_INSTALL
  config/templates/config-example.conf
  lib/build-all-ng.sh
  lib/configuration.sh
  lib/distributions.sh
  lib/main.sh
Labels: build scripts, enhancement, needs testing

#1966 VFAT boot partition bugfix
  patch/misc/general-packaging-4.14.y.patch
  patch/misc/general-packaging-4.19.y.patch
  patch/misc/general-packaging-4.4.y-rk3399.patch
  patch/misc/general-packaging-4.4.y-rockchip64.patch
  patch/misc/general-packaging-4.4.y.patch
  patch/misc/general-packaging-4.9.y.patch
  patch/misc/general-packaging-5.3.y.patch
  patch/misc/general-packaging-5.6.y.patch
Labels: bug

#1968 Implement temporally fix for Chrony
  lib/distributions.sh
Labels: ready for merge

#1887 [RFC] RK3288 : Add HDMI resolutions
  patch/kernel/rockchip-dev/2008-clk-rockchip-rk3288-Support-for-dedicating-NPLL-to-a.patch
  patch/kernel/rockchip-dev/2009-drm-dw_hdmi-rockchip-better-clock-selection-logic-an.patch
  patch/kernel/rockchip-dev/4004-drm-rockchip-vop-filter-modes-outside-0.5-pixel-cloc.patch
  patch/kernel/rockchip-dev/4005-drm-rockchip-dw_hdmi-Set-cur_ctr-to-0-always.patch
  patch/kernel/rockchip-dev/4006-drm-rockchip-dw_hdmi-adjust-cklvl-txlvl-for-RF-EMI.patch
  patch/kernel/rockchip-dev/4007-drm-rockchip-dw_hdmi-Use-auto-generated-tables.patch
  patch/kernel/rockchip-dev/4008-drm-rockchip-dw_hdmi-add-default-594Mhz-clk-for-4K-6.patch
  patch/kernel/rockchip-dev/4009-drm-rockchip-dw-hdmi-limit-tmds-to-340mhz.patch
  patch/kernel/rockchip-dev/4010-HACK-drm-rockchip-vop-limit-resolution-to-3840x2160.patch
  patch/kernel/rockchip-dev/4011-MINIARM-set-npll-be-used-for-hdmi-only.patch
  patch/kernel/rockchip-dev/4012-clk-rockchip-rk3288-use-npll-table-to-to-improve-HDM.patch
  patch/kernel/rockchip-dev/4013-clk-rockchip-rk3288-add-more-npll-clocks.patch
  patch/kernel/rockchip-dev/4014-Use-340000-as-fallback-max_tmds_clock.patch
  patch/kernel/rockchip-dev/4015-FIXME-Don-t-use-vop_crtc_mode_valid.patch
Labels: discussion, needs testing

#1989 Adjust board statuses
  config/boards/README.md
  config/boards/cubieboard2.csc
  config/boards/lime.csc
  config/boards/micro.csc
  config/boards/nanopi-r2s.conf
  config/boards/orangepi4.conf
Labels: discussion

#1995 Rework of image signing.
  lib/build-all-ng.sh
  lib/debootstrap.sh
Labels: ready for merge
