Repository armbian/build, pull requests merged in 2020-12, with the labels that each got.

#2400 Use armbian mirrors for downloads
  config/templates/Dockerfile
  lib/configuration.sh
  lib/general.sh
Labels: needs testing

#2387 [AR-548] Disable DFS on mvebu-legacy&current
  patch/kernel/mvebu-current/disabled/800-Add_Armada_38x_support_for_clk-cpu.patch
  patch/kernel/mvebu-current/disabled/801-Use_shorter_register_definition_in_pmsu_c.patch
  patch/kernel/mvebu-current/disabled/802-Made_the_dynamic_frequency_scaling_support_more_generic.patch
  patch/kernel/mvebu-current/disabled/803-Armada_38x_Add_dynamic_frequency_scaling_support_in_pmsu.patch
  patch/kernel/mvebu-current/disabled/804-Update_Armada_38x_DT_for_dynamic_frequency_scaling.patch
  patch/kernel/mvebu-current/disabled/fix_time_drift_remove_global_timer.patch
  patch/kernel/mvebu-legacy/disabled/800-Add_Armada_38x_support_for_clk-cpu.patch
  patch/kernel/mvebu-legacy/disabled/801-Use_shorter_register_definition_in_pmsu_c.patch
  patch/kernel/mvebu-legacy/disabled/802-Made_the_dynamic_frequency_scaling_support_more_generic.patch
  patch/kernel/mvebu-legacy/disabled/803-Armada_38x_Add_dynamic_frequency_scaling_support_in_pmsu.patch
  patch/kernel/mvebu-legacy/disabled/804-Update_Armada_38x_DT_for_dynamic_frequency_scaling.patch
  patch/kernel/mvebu-legacy/disabled/fix_time_drift_remove_global_timer.patch
  patch/kernel/mvebu-legacy/fix_time_drift_remove_global_timer.patch
Labels: 2.confirmed bug, c:kernel

#2388 mvebu-dev patches: refresh
  patch/kernel/mvebu-dev/102-revert_i2c_delay.patch
  patch/kernel/mvebu-dev/402-sfp-display-SFP-module-information.patch
  patch/kernel/mvebu-dev/412-ARM-dts-armada388-clearfog-emmc-on-clearfog-base.patch
  patch/kernel/mvebu-dev/804-Update_Armada_38x_DT_for_dynamic_frequency_scaling.patch
  patch/kernel/mvebu-dev/806-disable-clocksource.patch
  patch/kernel/mvebu-dev/91-01-libata-add-ledtrig-support.patch
  patch/kernel/mvebu-dev/91-02-Enable-ATA-port-LED-trigger.patch
  patch/kernel/mvebu-dev/92-mvebu-gpio-add_wake_on_gpio_support.patch
  patch/kernel/mvebu-dev/92-mvebu-gpio-remove-hardcoded-timer-assignment-2.patch
  patch/kernel/mvebu-dev/92-mvebu-gpio-remove-hardcoded-timer-assignment.patch
  patch/kernel/mvebu-dev/93-helios4-device-tree.patch
  patch/kernel/mvebu-dev/94-helios4-dts-add-wake-on-lan-support.patch
  patch/kernel/mvebu-dev/95-helios4-dts-assign-pinctrl-to-fan-and-led.patch
  patch/kernel/mvebu-dev/compile-dtb-with-symbol-support.patch
  patch/kernel/mvebu-dev/dts-disable-spi-flash-on-a388-microsom.patch
  patch/kernel/mvebu-dev/general-increasing_DMA_block_memory_allocation_to_2048.patch
  patch/kernel/mvebu-dev/unlock_atheros_regulatory_restrictions.patch
Labels: c:kernel

#2397 Init native build
  config/sources/arm64.conf
  config/sources/armhf.conf
  config/sources/families/include/meson64_common.inc
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/meson-gxbb.conf
  lib/compilation.sh
  lib/general.sh
Labels: 7.needs testing

#2396 Resolve network issue on Clusterboard
  packages/blobs/sunxi/a64/pine64so.dts
Labels: 7.needs testing

#2402 Adding MOTD support for vnstat and ZFS and fix minor bugs
  packages/bsp/common/etc/default/armbian-motd.dpkg-dist
  packages/bsp/common/etc/profile.d/armbian-check-first-login-reboot.sh
  packages/bsp/common/etc/update-motd.d/30-armbian-sysinfo
  packages/bsp/common/usr/lib/armbian/armbian-apt-updates
Labels: 9.ready for merge, enhancement

#2405 [AR-558] Switch mvebu current to LK5.9 (based on previous mvebu-dev)
  config/kernel/linux-mvebu-current.config
  config/sources/families/mvebu.conf
  patch/kernel/mvebu-current/0044-gpio-report-all-gpios-in-debugfs.patch
  patch/kernel/mvebu-current/102-revert_i2c_delay.patch
  patch/kernel/mvebu-current/40-pci-add-irq-change-handler-sspl.patch
  patch/kernel/mvebu-current/402-sfp-display-SFP-module-information.patch
  patch/kernel/mvebu-current/412-ARM-dts-armada388-clearfog-emmc-on-clearfog-base.patch
  patch/kernel/mvebu-current/91-01-libata-add-ledtrig-support.patch
  patch/kernel/mvebu-current/91-02-Enable-ATA-port-LED-trigger.patch
  patch/kernel/mvebu-current/92-mvebu-gpio-add_wake_on_gpio_support.patch
  patch/kernel/mvebu-current/92-mvebu-gpio-remove-hardcoded-timer-assignment-2.patch
  patch/kernel/mvebu-current/92-mvebu-gpio-remove-hardcoded-timer-assignment.patch
  patch/kernel/mvebu-current/93-helios4-device-tree.patch
  patch/kernel/mvebu-current/94-helios4-dts-add-wake-on-lan-support.patch
  patch/kernel/mvebu-current/95-helios4-dts-assign-pinctrl-to-fan-and-led.patch
  patch/kernel/mvebu-current/compile-dtb-with-symbol-support.patch
  patch/kernel/mvebu-current/disabled/800-Add_Armada_38x_support_for_clk-cpu.patch
  patch/kernel/mvebu-current/disabled/801-Use_shorter_register_definition_in_pmsu_c.patch
  patch/kernel/mvebu-current/disabled/802-Made_the_dynamic_frequency_scaling_support_more_generic.patch
  patch/kernel/mvebu-current/disabled/803-Armada_38x_Add_dynamic_frequency_scaling_support_in_pmsu.patch
  patch/kernel/mvebu-current/disabled/804-Update_Armada_38x_DT_for_dynamic_frequency_scaling.patch
  patch/kernel/mvebu-current/disabled/fix_time_drift_remove_global_timer.patch
  patch/kernel/mvebu-current/dts-disable-spi-flash-on-a388-microsom.patch
  patch/kernel/mvebu-current/general-increasing_DMA_block_memory_allocation_to_2048.patch
  patch/kernel/mvebu-current/omit_VFP_emulation_exceptions_kernel_mode.patch
  patch/kernel/mvebu-current/unlock_atheros_regulatory_restrictions.patch
  patch/kernel/mvebu-current/use-1000BaseX-clearfog-switch.patch
Labels: c:kernel

#2407 Fixing stuck at locales genarate
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: 2.confirmed bug, 9.ready for merge

#2411 Enable multicore compilation for headers compile.
  patch/misc/general-packaging-5.10.y.patch
  patch/misc/general-packaging-5.3.y.patch
  patch/misc/general-packaging-5.6.y.patch
  patch/misc/general-packaging-5.8-9.y.patch
Labels: 9.ready for merge, c:kernel

#2408 Support additional SPI flash chips for ROCK Pi 4 in u-boot
  patch/u-boot/u-boot-rockchip64-mainline/board-rock-pi-4-enable-spi-flash.patch
Labels: 9.ready for merge, c:u-boot

#2409 Switch ROCK Pi 4 to all blobs u-boot for Radxa's SPI compatibility
  config/sources/families/include/rockchip64_common.inc
Labels: 9.ready for merge, c:u-boot

#2149 rockchip-current: Add GPU 500MHZ OPP
  patch/kernel/rockchip-current/1026-arm-dtsi-rk3288-add-GPU-500-Mhz-OPP.patch
Labels: 3.help wanted, 7.needs testing, enhancement

#2422 Make multicore support on headers making
  patch/misc/general-packaging-4.14.y.patch
  patch/misc/general-packaging-4.4.y-rk3399.patch
  patch/misc/general-packaging-4.4.y-rockchip64.patch
  patch/misc/general-packaging-4.4.y.patch
  patch/misc/general-packaging-4.9.y.patch
  patch/misc/general-packaging-5.10.y.patch
  patch/misc/general-packaging-5.3.y.patch
  patch/misc/general-packaging-5.6.y.patch
  patch/misc/general-packaging-5.8-9.y.patch
Labels: 2.confirmed bug, 9.ready for merge

#2425 nand-sata-install increase DEFAULT_BOOTSIZE to 200
  packages/bsp/common/usr/sbin/nand-sata-install
Labels: 2.confirmed bug, 9.ready for merge

#2435 Check if file exists on remote server before running aria2 downloader
  lib/general.sh
Labels: 9.ready for merge

#2439 Bump Meson64 DEV to 5.10.y
  config/kernel/linux-meson64-dev.config
  config/sources/families/include/meson64_common.inc
  patch/kernel/meson64-dev/0001-Add-Odroid-N2-plus.patch
  patch/kernel/meson64-dev/0101-fix-mesongxm-cpu-scheduling.patch
  patch/kernel/meson64-dev/board-VIM1-add-simple-MCU-driver-for-FAN.patch
  patch/kernel/meson64-dev/board-VIM2-add-GPIO-FAN-driver-for-V12-version.patch
  patch/kernel/meson64-dev/hardkernel-0003-N2-arm64-dts-support-Ulta-High-Speed-MMC-card.patch
  patch/kernel/meson64-dev/hardkernel-0005-N2-arm64-dts-Add-gpio-line-names.patch
  patch/kernel/meson64-dev/hardkernel-0006-N2-ARM64-dts-add-uart_A-node.patch
  patch/kernel/meson64-dev/hardkernel-0007-N2-ARM64-dts-add-i2c2-i2c3-node.patch
  patch/kernel/meson64-dev/hardkernel-0008-N2-ARM64-dts-add-saradc-node.patch
  patch/kernel/meson64-dev/hardkernel-0009-N2-arm64-dts-modify-i2c-alias-bus-number.patch
  patch/kernel/meson64-dev/hardkernel-0010-N2-arm64-dts-modify-i2c-alias-bus-number.patch
  patch/kernel/meson64-dev/hardkernel-0015-COMMON-input-touchscreen-Add-D-WAV-Multitouch.patch
  patch/kernel/meson64-dev/hardkernel-0020-N2-C4-arm64-dts-add-CPU-thermal-cooling-map.patch
  patch/kernel/meson64-dev/hardkernel-0023-N2-arm64-dts-modify-i2c-alias-bus-number.patch
  patch/kernel/meson64-dev/hardkernel-igor-0091-Add-fan-support-to-Odroid-N2-plus.patch
  patch/kernel/meson64-dev/need_check/0075-ODROID-N2-arm64-dts-reboot-power-off-support-for-ODR.patch
  patch/kernel/meson64-dev/need_check/0084-WIP-arm64-dts-meson-g12b-khadas-vim3-add-the-Etherne.patch
  patch/kernel/meson64-dev/need_check/0091-GX-update-TEXT_OFFSET-for-Amlogic-MESON-SoC.patch
  patch/kernel/meson64-dev/need_check/board-odroidn2-eth0-disable-reset.patch
  patch/kernel/meson64-dev/need_check/linux-5.5-net-smsc95xx-allow-mac-address-as-param.patch
  patch/kernel/meson64-dev/odroid-n2-rtc0.patch
Labels: 7.needs testing, 8.beta, 9.ready for merge

#2440 Adjust kernel configs, add upstream patches, bump mvebu64 dev to 5.9.y
  config/kernel/linux-imx6-current.config
  config/kernel/linux-mvebu-current.config
  config/kernel/linux-mvebu-dev.config
  config/kernel/linux-mvebu-legacy.config
  config/kernel/linux-mvebu64-dev.config
  config/kernel/linux-odroidxu4-current.config
  config/kernel/linux-odroidxu4-dev.config
  config/kernel/linux-odroidxu4-legacy.config
  config/kernel/linux-rockpis-legacy.config
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-dev.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-dev.config
  config/sources/families/mvebu64.conf
  patch/kernel/mvebu64-current/spi-nor.c.patch.disablesd
  patch/kernel/mvebu64-dev/need_checking/0004-ARM64-dts-marvell-armada37xx-Enable-USB2-on-espresso.patch
  patch/kernel/mvebu64-dev/need_checking/0011-espressobin-enable-emmc.patch.disabled
  patch/kernel/mvebu64-dev/need_checking/12-add-linux-partition-spi-flash.patch
  patch/kernel/mvebu64-dev/need_checking/2002-clk_mvebu_armada-37xx-periph_save_the_IP_base_address_in_the_driver_data.patch
  patch/kernel/mvebu64-dev/need_checking/add-board-espressobinv7.patch
  patch/kernel/mvebu64-dev/need_checking/adjust-espresso-dts.patch
  patch/kernel/mvebu64-dev/need_checking/enable_ath10_cards.patch
  patch/kernel/mvebu64-dev/need_checking/spi-nor.c.patch
  patch/kernel/mvebu64-dev/need_checking/unlock_atheros_regulatory_restrictions.patch
  patch/kernel/odroidxu4-current/patch-5.4.81-82.patch
  patch/kernel/odroidxu4-current/patch-5.4.82-83.patch
  patch/kernel/odroidxu4-legacy/patch-4.14.210-211.patch
  patch/kernel/odroidxu4-legacy/patch-4.14.211-212.patch
  patch/kernel/rockpis-legacy/patch-4.4.243-244.patch
  patch/kernel/rockpis-legacy/patch-4.4.244-245.patch
  patch/kernel/rockpis-legacy/patch-4.4.245-246.patch
  patch/kernel/rockpis-legacy/patch-4.4.246-247.patch
Labels: c:kernel

#2451 [ rockchip64 ] Clean up patchset
  patch/kernel/rockchip64-current/add-board-Z28-PRO-as-link-to-Rock64.patch
  patch/kernel/rockchip64-current/add-board-rk3328-roc-pc-make.patch
  patch/kernel/rockchip64-current/add-board-rk3328-roc-pc.patch
  patch/kernel/rockchip64-current/add-board-rockpi-4a.patch
  patch/kernel/rockchip64-current/add-board-rockpi-4b.patch
  patch/kernel/rockchip64-current/add-board-rockpi-4c.patch
  patch/kernel/rockchip64-current/board-helios64-remove-overclock.patch
  patch/kernel/rockchip64-current/board-helios64-remove-pcie-ep-gpios.patch
  patch/kernel/rockchip64-current/board-pbp-add-dp-alt-mode.patch
  patch/kernel/rockchip64-current/board-pbp-add-suspend.patch
  patch/kernel/rockchip64-current/board-pbp-fix-wonky-wifi-bt.patch
  patch/kernel/rockchip64-current/board-pbp-setup-USB-type-c-port-as-dual-dat.patch
  patch/kernel/rockchip64-current/board-rock64-add-HDMI-sound-node.patch
  patch/kernel/rockchip64-current/board-rockpi4-0001-arm64-dts-audio-over-hdmi.patch
  patch/kernel/rockchip64-current/board-rockpi4-0002-arm64-dts-leds.patch
  patch/kernel/rockchip64-current/board-rockpi4-0003-arm64-dts-pcie.patch
  patch/kernel/rockchip64-current/board-rockpi4-0004-arm64-dts-upper-port-host.patch
  patch/kernel/rockchip64-current/board-rockpi4-0005-arm64-dts-enable-es8316-audio.patch
  patch/kernel/rockchip64-current/board-rockpi4-Add-DT-link-for-backward-compatibility.patch
  patch/kernel/rockchip64-current/board-rockpis-0001-arm64-dts-rockchip-add-ROCK-Pi-S-DTS-support.patch
  patch/kernel/rockchip64-current/board-rockpis-0002-Fixes-for-rk3308-rock-pi-s-dts.patch
  patch/kernel/rockchip64-current/board-rockpis-0003-WIP-Wireless-support.patch
  patch/kernel/rockchip64-current/board-rockpis-0004-ethernet-stmmac-dwmac-rk-Add-MAC-driver-support-for-.patch
  patch/kernel/rockchip64-current/board-rockpis-0005-arm64-dts-rk3308-Add-mac-node-at-dtsi-level.patch
  patch/kernel/rockchip64-current/board-rockpis-0006-arm64-dts-rockchip-Enable-mac-node-on-rk3308-rock-pi.patch
  patch/kernel/rockchip64-current/board-rockpis-0007-arm64-dts-rockchip-add-cpu-s-thermal-config-for-rk33.patch
  patch/kernel/rockchip64-current/board-rockpis-0008-thermal-rockchip-add-tsadc-support-for-rk3308.patch
  patch/kernel/rockchip64-current/board-rockpis-0009-arm64-dts-rockchip-Enable-tsadc-node-on-rk3308-rock-.patch
  patch/kernel/rockchip64-current/board-rockpis-0010-arm64-dts-rockchip-add-i2s_8ch-for-rk3308.patch
  patch/kernel/rockchip64-current/board-rockpis-0011-arm64-dts-rockchip-Set-is2_8ch-clocks-on-rk3308-rock.patch
  patch/kernel/rockchip64-current/board-rockpis-0012-arm64-dts-rk3308-Add-rk-timer-rtc.patch
  patch/kernel/rockchip64-current/board-rockpis-0013-Add-simple-audio-card.patch
  patch/kernel/rockchip64-current/board-rockpis-0014-Fix-PCM5102a-tristate.patch
  patch/kernel/rockchip64-current/board-rockpis-0015-arm64-dts-rockchip-Move-wireless-wlan-node-into-sdio.patch
  patch/kernel/rockchip64-current/board-rockpis-0016-ASoC-rockchip-add-support-for-rockchip-i2s-tdm-contr.patch
  patch/kernel/rockchip64-current/board-rockpis-0017-WIP-Sync-rockchip_i2s_tdm-to-BSP-tree.patch
  patch/kernel/rockchip64-current/board-rockpis-0018-ASoC-codecs-Add-RK3308-internal-codec-driver.patch
  patch/kernel/rockchip64-current/board-rockpis-0019-Sync-rk3308_codec-to-BSP-tree.patch
  patch/kernel/rockchip64-current/board-rockpis-0020-arm64-dts-rockchip-Add-acodec-node-for-rk3308.patch
  patch/kernel/rockchip64-current/board-rockpis-0021-arm64-dts-rockchip-enable-analog-audio-node-for-rk33.patch
  patch/kernel/rockchip64-current/board-rockpis-0022-ASoC-rk3308_codec-replace-codec-to-component.patch
  patch/kernel/rockchip64-current/board-rockpro64-change-rx_delay-for-gmac.patch
  patch/kernel/rockchip64-current/board-rockpro64-fix-emmc.patch
  patch/kernel/rockchip64-current/board-rockpro64-fix-spi1-flash-speed.patch
  patch/kernel/rockchip64-current/general-rkvdec_nv15.patch
  patch/kernel/rockchip64-current/rk3328-dtsi-mmc-vdec-usb3-tweaks.patch
  patch/kernel/rockchip64-current/rk3328-enable-1512mhz-opp.patch
  patch/kernel/rockchip64-current/rk3399-enable_1.5_2.0_ghz_cpufreq_opp.patch
  patch/kernel/rockchip64-current/rk3399-unlock-temperature.patch
  patch/kernel/rockchip64-current/rockpi4-0004-arm64-dts-upper-port-host.patch
Labels: 9.ready for merge

#2452 Enable BBR and NET_SCH_FQ for for all kernels.
  config/kernel/linux-meson-current.config
  config/kernel/linux-meson-dev.config
  config/kernel/linux-meson-legacy.config
  config/kernel/linux-meson64-current.config
  config/kernel/linux-meson64-dev.config
  config/kernel/linux-mt7623-dev.config
  config/kernel/linux-mt7623-legacy.config
  config/kernel/linux-mvebu64-current.config
  config/kernel/linux-mvebu64-dev.config
  config/kernel/linux-mvebu64-legacy.config
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-dev.config
  config/kernel/linux-sunxi64-legacy.config
Labels: 9.ready for merge

#2449 XU4 add gpio-line-names
  patch/kernel/odroidxu4-current/add-gpio-line-names.patch
Labels: 9.ready for merge

#2446 add gamepad and joystick support where missing
  .gitignore
  config/kernel/linux-imx7d-legacy.config
  config/kernel/linux-meson-current.config
  config/kernel/linux-meson-dev.config
  config/kernel/linux-meson-legacy.config
  config/kernel/linux-meson64-current.config
  config/kernel/linux-meson64-dev.config
  config/kernel/linux-mt7623-dev.config
  config/kernel/linux-mt7623-legacy.config
  config/kernel/linux-mvebu-current.config
  config/kernel/linux-mvebu-dev.config
  config/kernel/linux-mvebu-legacy.config
  config/kernel/linux-mvebu64-current.config
  config/kernel/linux-mvebu64-dev.config
  config/kernel/linux-mvebu64-legacy.config
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-dev.config
  config/kernel/linux-rockpis-dev.config
  config/kernel/linux-s5p6818-legacy.config
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-dev.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-dev.config
  config/kernel/linux-sunxi64-legacy.config
Labels: 7.needs testing, 9.ready for merge

#2455 Fix moving 'armbian-config_*. deb' and clearing temporary folders
  lib/compilation.sh
  lib/desktop.sh
Labels: 9.ready for merge

#2460 Enable UART2 on Rockpi S
  patch/kernel/rockchip64-current/board-rockpis-0024-add-uart2-for-debug-rock-pi-s-dts.patch
  patch/kernel/rockchip64-dev/board-rockpis-0024-add-uart2-for-debug-rock-pi-s-dts.patch
Labels: 7.needs testing

#2461 Fix USB port on Rockpi S
  patch/kernel/rockchip64-current/board-rockpis-0023-ASoC-rockchip-i2s-add-compatible-for-rk3308.patch
  patch/kernel/rockchip64-current/board-rockpis-0025-arm64-dts-rk3308-add-usb2-phy-support.patch
  patch/kernel/rockchip64-current/board-rockpis-0026-add-usb-host-otg-dts.patch
  patch/kernel/rockchip64-dev/board-rockpis-0025-arm64-dts-rk3308-add-usb2-phy-support.patch
  patch/kernel/rockchip64-dev/board-rockpis-0026-add-usb-host-otg-dts.patch
Labels: 7.needs testing

#2472 [ rockchip64 ] add RK3399 2GHz opp as overlay [AR-518]
  patch/kernel/rockchip64-current/rk3399-add-overclock-overlay.patch
  patch/kernel/rockchip64-current/rk3399-enable_1.5_2.0_ghz_cpufreq_opp.patch
Labels: 9.ready for merge

#2476 Rk3328 oc overlays
  patch/kernel/rockchip64-current/overlays-00-add-oc-opp-rk3399.patch
  patch/kernel/rockchip64-current/overlays-01-add-oc-opp-rk3328.patch
  patch/kernel/rockchip64-current/rk3328-enable-1512mhz-opp.patch
Labels: 9.ready for merge

#2471 rockchip-current: return hdmi patches and rework it for 5.9.y kernel
  patch/kernel/rockchip-current/4005-drm-rockchip-dw_hdmi-Set-cur_ctr-to-0-always.patch
  patch/kernel/rockchip-current/4007-drm-rockchip-dw_hdmi-Use-auto-generated-tables.patch
  patch/kernel/rockchip-current/4009-drm-rockchip-dw-hdmi-limit-tmds-to-340mhz.patch
  patch/kernel/rockchip-current/4009-drm-rockchip-dw-hdmi-limit-tmds-to-340mhz.patch.disabled
Labels: 9.ready for merge

#2482 fix /etc/hosts for full qualified hostname
  lib/distributions.sh
Labels: 2.confirmed bug, 9.ready for merge, good first issue

#2478 Add support for ZSH / TMUX / oh-my-zsh
  config/boards/pinebook-a64.conf
  config/boards/pinebook-pro.wip
  config/boards/teres-a64.conf
  lib/compilation.sh
  lib/distributions.sh
  lib/main.sh
  packages/bsp/common/etc/profile.d/armbian-check-first-login.sh
  packages/bsp/common/lib/systemd/system/armbian-disable-autologin.service
  packages/bsp/common/lib/systemd/system/armbian-disable-autologin.timer
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: 1.discussion, 9.ready for merge, c:build scripts, enhancement

#2463 Added parameters to armbian-zram-config
  packages/bsp/common/etc/default/armbian-zram-config.dpkg-dist
  packages/bsp/common/usr/lib/armbian/armbian-ramlog
  packages/bsp/common/usr/lib/armbian/armbian-zram-config
Labels: 1.discussion

#2473 AR-512 OPI3 ethernet related stuff
  patch/kernel/sunxi-current/revert-rtl8211e-rx-tx-delay-config-change.patch
  patch/kernel/sunxi-dev/board-h3-add-nanopi-r1-and-duo2.patch
  patch/kernel/sunxi-dev/board-h3-zeropi-phymode.patch
  patch/kernel/sunxi-dev/board-h5-add-0001-nanopi-neo-core2.patch
  patch/kernel/sunxi-dev/board-h5-add-0002-nanopi-neo2-v1.1.patch
  patch/kernel/sunxi-dev/board-h5-nanopi-neo2-v1.0-add-regulator-fix-phymode.patch
  patch/kernel/sunxi-dev/board-h5-orangepi-zero-plus-fixes.patch
  patch/kernel/sunxi-dev/board-h616-orangepi-zero2-phymode.patch
  patch/kernel/sunxi-dev/revert-rtl8211e-rx-tx-delay-config-change.patch
Labels: 7.needs testing

#2415 Add initial config for R4S
  config/boards/nanopi-r4s.wip
  config/kernel/linux-rockchip64-current.config
  config/sources/families/include/rockchip64_common.inc
  config/targets.conf
  patch/kernel/rockchip64-current/add-board-nanopi-r4s.patch
  patch/kernel/rockchip64-dev/add-board-nanopi-r4s.patch
  patch/u-boot/u-boot-rockchip64-mainline/0001-rockchip-rk3399-Add-Nanopi-R4S-board-support.patch
  patch/u-boot/u-boot-rockchip64-mainline/0002-rockchip-rk3399-split-nanopi-r4s-out-of-evb_rk3399.patch
  patch/u-boot/u-boot-rockchip64-mainline/0003-ram-rk3399-Add-support-for-multiple-DDR-types.patch
  patch/u-boot/u-boot-rockchip64-mainline/0004-board-nanopi4-unify-1GB-4GB-variants-of-R4S.patch
Labels: 8.beta, 9.ready for merge
