Repository armbian/build, pull requests merged in 2020-04, with the labels that each got.

#1866 Move mvebu64-current to 5.4.y, DEV to 5.6.y
  config/kernel/linux-mvebu64-current.config
  config/kernel/linux-mvebu64-dev.config
  config/sources/families/mvebu64.conf
  patch/kernel/mvebu64-current/2001-clk_mvebu_armada-37xx-tbg_Switch_to_clk_get_and_balance_it_in_probe.patch
  patch/kernel/mvebu64-current/2003-clk_mvebu_armada-37xx-periph_add_suspend_resume_support.patch
  patch/kernel/mvebu64-current/add-board-espressobinv7.patch
  patch/kernel/mvebu64-current/adjust-espresso-dts.patch
  patch/kernel/mvebu64-current/armada-3720-espressobin.dts.patch
  patch/kernel/mvebu64-current/armada-37xx-cpufreq.patch.disabled
  patch/kernel/mvebu64-current/fix_problem_with_cpu_scaling_not_working.patch.disabled
  patch/kernel/mvebu64-current/general-aufs4.19-20181029.patch
  patch/kernel/mvebu64-current/general-increasing_DMA_block_memory_allocation_to_2048.patch
  patch/kernel/mvebu64-dev/2002-clk_mvebu_armada-37xx-periph_save_the_IP_base_address_in_the_driver_data.patch.disabled
  patch/kernel/mvebu64-dev/armada-37xx-cpufreq.patch.disabled
  patch/kernel/mvebu64-dev/fix_problem_with_cpu_scaling_not_working.patch.disabled
  patch/kernel/mvebu64-dev/need_checking/0004-ARM64-dts-marvell-armada37xx-Enable-USB2-on-espresso.patch
  patch/kernel/mvebu64-dev/need_checking/0011-espressobin-enable-emmc.patch.disabled
  patch/kernel/mvebu64-dev/need_checking/12-add-linux-partition-spi-flash.patch
  patch/kernel/mvebu64-dev/need_checking/2002-clk_mvebu_armada-37xx-periph_save_the_IP_base_address_in_the_driver_data.patch
  patch/kernel/mvebu64-dev/need_checking/add-board-espressobinv7.patch
  patch/kernel/mvebu64-dev/need_checking/adjust-espresso-dts.patch
  patch/kernel/mvebu64-dev/need_checking/unlock_atheros_regulatory_restrictions.patch
Labels: ready for merge

#1893 Set fixed MAC for Nanopi R2S
  packages/bsp/common/usr/lib/armbian/armbian-firstrun
Labels: bug, ready for merge

#1895 Disable desktop acceleration on bionic
  config/boards/README.md
  config/boards/bananapim64.conf
  config/boards/lime-a64.conf
  config/boards/orangepiwin.conf
  config/boards/pine64.conf
  config/boards/pinebook-a64.conf
  config/boards/teres-a64.conf
  lib/makeboarddeb.sh
Labels: needs testing

#1873 Switch rk3399 to u-boot v2020.04
  config/sources/families/rk3399.conf
  patch/u-boot/u-boot-rk3399/add-board-nanopi-m4v2.patch
  patch/u-boot/u-boot-rk3399/add-board-orangepi-4.patch
  patch/u-boot/u-boot-rk3399/rk3399-always-init-rkclk.patch
Labels: ready for merge

#1894 Switch sunxi and sunxi64 to u-boot v2020.04
  config/sources/arm64.conf
  config/sources/armhf.conf
  config/sources/families/include/meson64_common.inc
  config/sources/families/rk3399.conf
  config/sources/families/sun50iw1.conf
  config/sources/families/sun50iw6.conf
  patch/u-boot/u-boot-sun50iw2/add-a64-olinuxino-emmc-support.patch
  patch/u-boot/u-boot-sun50iw2/add-a64-olinuxino-spl-spi.patch
  patch/u-boot/u-boot-sun50iw2/add-teres.patch
  patch/u-boot/u-boot-sun50iw2/board_pine64so/fix-sopine-spi-clusterboad.patch
  patch/u-boot/u-boot-sun50iw2/enable-autoboot-keyed.patch
  patch/u-boot/u-boot-sun50iw2/sunxi-boot-splash.patch
  patch/u-boot/u-boot-sun50iw6/add-emac-opioneplus.patch
  patch/u-boot/u-boot-sun50iw6/add-emac-pineh64.patch-disabled
  patch/u-boot/u-boot-sun50iw6/add-h6-syscon+emac.patch-disabled
  patch/u-boot/u-boot-sun50iw6/add-orangepilite_2.patch
  patch/u-boot/u-boot-sunxi/add-a20-optional-eMMC.patch
  patch/u-boot/u-boot-sunxi/add-a64-orangepiwinplus-emmc-support.patch
  patch/u-boot/u-boot-sunxi/add-emmc_support_to_neo1_and_2.patch
  patch/u-boot/u-boot-sunxi/add-nanopi-air-emmc.patch
  patch/u-boot/u-boot-sunxi/add-nanopi-duo.patch
  patch/u-boot/u-boot-sunxi/add-nanopi-m1-plus2-emmc.patch
  patch/u-boot/u-boot-sunxi/add-nanopi-r1-and-duo2.patch
  patch/u-boot/u-boot-sunxi/add-orangepi-plus2-emmc.patch
  patch/u-boot/u-boot-sunxi/add-orangepi-zeroplus2_h3.patch
  patch/u-boot/u-boot-sunxi/add-orangepi3.patch
  patch/u-boot/u-boot-sunxi/add-pineh64-model-b.patch
  patch/u-boot/u-boot-sunxi/add-sunvell-r69.patch
  patch/u-boot/u-boot-sunxi/add-teres.patch
  patch/u-boot/u-boot-sunxi/add-xx-boot-auto-dt-select-neo2.patch
  patch/u-boot/u-boot-sunxi/add-xx-nanopi-k1-plus-emmc.patch
  patch/u-boot/u-boot-sunxi/add-xx-nanopineocore2.patch
  patch/u-boot/u-boot-sunxi/adjust-default-dram-clockspeeds.patch
  patch/u-boot/u-boot-sunxi/adjust-small-boards-cpufreq.patch
  patch/u-boot/u-boot-sunxi/enable-autoboot-keyed.patch
  patch/u-boot/u-boot-sunxi/enable-r_pio-gpio-access-h3-h5.patch
  patch/u-boot/u-boot-sunxi/fix-missing-clock-cells-in-rtc-sunxi-h3-h5.patch
  patch/u-boot/u-boot-sunxi/fix-usb1-vbus-opiwin.patch
  patch/u-boot/u-boot-sunxi/h3-Fix-PLL1-setup-to-never-use-dividers.patch
  patch/u-boot/u-boot-sunxi/xxx-disable-de2-to-improve-edid-detection.patch
Labels: needs testing, u-boot

#1912 Fix ethernet detection for Nanopi K2
  patch/kernel/meson64-current/z-nanopi-k2-ethernet-fix.patch
  patch/kernel/meson64-dev/z-nanopi-k2-ethernet-fix.patch
Labels: ready for merge

#1856 WIP: Merge kernel features from upstream
  config/kernel/linux-imx6-current.config
  config/kernel/linux-meson-current.config
  config/kernel/linux-meson64-current.config
  config/kernel/linux-mvebu-current.config
  config/kernel/linux-mvebu64-current.config
  config/kernel/linux-odroidxu4-current.config
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-dev.config
  config/kernel/linux-s5p6818-legacy.config
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-dev.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-dev.config
Labels: needs testing

#1911 Port Dockerfile image building recipe to Ubuntu 20.04
  config/templates/Dockerfile
Labels: needs testing

#1926 Reverting mvebu64 to K4.19
  config/bootscripts/boot-espressobin.cmd
  config/kernel/linux-mvebu64-current.config
  config/sources/families/mvebu64.conf
  patch/kernel/mvebu64-current/0011-espressobin-enable-emmc.patch
  patch/kernel/mvebu64-current/2001-clk_mvebu_armada-37xx-tbg_Switch_to_clk_get_and_balance_it_in_probe.patch
  patch/kernel/mvebu64-current/2002-clk_mvebu_armada-37xx-periph_save_the_IP_base_address_in_the_driver_data.patch
  patch/kernel/mvebu64-current/2003-clk_mvebu_armada-37xx-periph_add_suspend_resume_support.patch
  patch/kernel/mvebu64-current/513-arm64-dts-marvell-armada37xx-Add-emmc-sdio-pinctrl-d.patch
  patch/kernel/mvebu64-current/514-arm64-dts-marvell-armada-37xx-Enable-emmc-on-espress.patch
  patch/kernel/mvebu64-current/522-arm64-dts-marvell-armada-3720-espressobin-add-ports-.patch
  patch/kernel/mvebu64-current/523-Revert-PCI-aardvark-Convert-to-use-pci_host_probe.patch
  patch/kernel/mvebu64-current/524-PCI-aardvark-set-host-and-device-to-the-same-MAX-payload-size.patch
  patch/kernel/mvebu64-current/526-PCI-aardvark-disable-LOS-state-by-default.patch
  patch/kernel/mvebu64-current/527-PCI-aardvark-allow-to-specify-link-capability.patch
  patch/kernel/mvebu64-current/528-arm64-dts-armada-3720-espressobin-set-max-link-to-ge.patch
  patch/kernel/mvebu64-current/538-phy-add-QSGMII-and-PCIE-modes.patch
  patch/kernel/mvebu64-current/539-phy-core-add-PHY_MODE_ETHERNET.patch
  patch/kernel/mvebu64-current/540-phy-fix-build-breakage-add-PHY_MODE_SATA.patch
  patch/kernel/mvebu64-current/541-phy-core-rework-phy_set_mode-to-accept-phy-mode-and-.patch
  patch/kernel/mvebu64-current/542-phy-add-A3700-COMPHY-support.patch
  patch/kernel/mvebu64-current/543-arm64-dts-marvell-armada-37xx-declare-the-COMPHY.patch
  patch/kernel/mvebu64-current/add-board-espressobinv7.patch
  patch/kernel/mvebu64-current/adjust-espresso-dts.patch
  patch/kernel/mvebu64-current/armada-3720-espressobin.dts.patch
  patch/kernel/mvebu64-current/armada-37xx-cpufreq.patch.disabled
  patch/kernel/mvebu64-current/enable_ath10_cards.patch
  patch/kernel/mvebu64-current/fix_problem_with_cpu_scaling_not_working.patch.disabled
  patch/kernel/mvebu64-current/general-aufs4.19-20181029.patch
  patch/kernel/mvebu64-current/general-increasing_DMA_block_memory_allocation_to_2048.patch
Labels: ready for merge
