Repository armbian/build, pull requests merged in 2021-07, with the labels that each got.

#2947 Add cache rootfs creation cleanup for old files to Github Actions
  .github/workflows/build.yml
Labels: 2.confirmed bug, 9.ready for merge

#2949 Synching Github runners cache with upstream
  .github/workflows/build-beta-images.yml
  .github/workflows/build-single.yml
Labels: 2.confirmed bug, 9.ready for merge

#2950 Adding autoremove function
  lib/debootstrap.sh
Labels: 9.ready for merge, c:build scripts

#2948 Skip checking TX/RX for interface not exists in /var/lib/vnstat/
  packages/bsp/common/etc/update-motd.d/30-armbian-sysinfo
Labels: 2.confirmed bug, 9.ready for merge

#2952 Remove Ubuntu Groovy from codebase
  lib/chroot-buildpackages.sh
  lib/configuration.sh
  lib/debootstrap.sh
  lib/distributions.sh
  lib/general.sh
Labels: 6.WIP

#2963 Bugfix - some 32bit Allwinner devices are unstable with u-boot 2021.xx
  config/sources/families/sun7i.conf
Labels: 2.confirmed bug, 9.ready for merge

#2967 Non c4 meson64 fixes
  config/bootscripts/boot-meson64.cmd
  config/bootscripts/boot-odroid-c4.ini
Labels: 2.confirmed bug, 9.ready for merge

#2903 khadas support
  config/boards/khadas-edge.conf
  config/boards/khadas-vim1.conf
  config/boards/khadas-vim2.conf
  config/boards/khadas-vim3l.conf
  config/sources/families/include/meson64_common.inc
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/meson-gxl.conf
  config/sources/families/meson-sm1.conf
  config/targets-cli-beta.conf
  config/targets.conf
  packages/blobs/meson/u-boot-vim1-sd.bin
  packages/blobs/meson/u-boot-vim2-sd.bin
Labels: 6.WIP, 9.ready for merge

#2972 Add support for desktop board support package
  config/desktop/focal/environments/xfce/debian/armbian-bsp-desktop/postinst
  config/desktop/focal/environments/xfce/debian/armbian-bsp-desktop/prepare.sh
  config/optional/boards/nanopct4/_config/desktop/_all_distributions/environments/_all_environments/debian/armbian-bsp-desktop/prepare.sh
  config/optional/boards/pinebook-pro/_config/desktop/_all_distributions/environments/_all_environments/debian/armbian-bsp-desktop/prepare.sh
  config/optional/boards/pinebook-pro/_config/desktop/_all_distributions/environments/xfce/armbian/create_desktop_package.sh
  config/optional/boards/pinebook-pro/_config/desktop/_all_distributions/environments/xfce/debian/armbian-bsp-desktop/prepare.sh
  lib/configuration.sh
  lib/desktop.sh
  lib/distributions.sh
  lib/main.sh
  packages/README.md
Labels: 7.needs testing, 9.ready for merge

#2975 Improvements for BSP creation
  README.md
  lib/desktop.sh
  lib/general.sh
  lib/image-helpers.sh
  lib/makeboarddeb.sh
  packages/README.md
Labels: 9.ready for merge

#2943 edge: ODROID N2/N2+ mainline U-boot; keep odroid-2015 u-boot for legacy and current
  config/boards/odroidn2.conf
  config/bootscripts/boot-meson64.cmd
  config/bootscripts/boot-odroid-n2-mainline.ini
  config/sources/families/include/meson64_common.inc
  config/sources/families/meson-g12b.conf
  config/sources/families/meson-sm1.conf
Labels: 6.WIP, 7.needs testing

#2999 fix u-boot sector station
  packages/bsp/common/usr/sbin/nand-sata-install
Labels: 2.confirmed bug, 9.ready for merge

#3001 Small description typo fixup for Khadas VIM2 & VIM3L
  config/boards/khadas-vim2.conf
  config/boards/khadas-vim3l.conf
Labels: 9.ready for merge

#3005 kill "EXTERNAL"
  lib/main.sh
Labels: 9.ready for merge

#2983 Bugfix for broken desktop on Amlogic glx
  config/sources/families/include/meson64_common.inc
Labels: 2.confirmed bug, 7.needs testing

#2986 formatted output of variable values
  lib/configuration.sh
  lib/general.sh
Labels: 9.ready for merge

#3006 Add Ubuntu 21.10 Impish CSC build target
  config/cli/impish/debootstrap
  config/cli/impish/main/config_cli_standard
  config/cli/impish/main/config_desktop
  config/cli/impish/main/packages
  config/cli/impish/main/packages.additional
  config/desktop/impish
  config/distributions/impish/name
  config/distributions/impish/support
  lib/chroot-buildpackages.sh
  lib/configuration.sh
  lib/debootstrap.sh
  lib/distributions.sh
Labels: 9.ready for merge

#3002 Adjust build targets
  config/targets-cli-beta.conf
  config/targets-desktop-beta.conf
  config/targets.conf
Labels: 6.WIP

#3031 Remove duplicated entries for Pinebook PRO bsp creation
  config/optional/boards/pinebook-pro/_config/desktop/_all_distributions/environments/xfce/debian/armbian-bsp-desktop/prepare.sh
  lib/desktop.sh
  packages/bsp/pinebook-pro/xfce4-keyboard-shortcuts.xml
  packages/bsp/pinebook-pro/xfce4-power-manager.xml
Labels: 9.ready for merge

#3036 Setting older u-boot for Allwinner H3
  config/sources/families/sun8i.conf
Labels: 2.confirmed bug, 7.needs testing, 9.ready for merge

#3038 remove 2 pkgs making images to big
  config/desktop/focal/appgroups/programming/packages
Labels: 9.ready for merge, desktop, enhancement

#3029 Another round of adjusting targets
  config/targets.conf
Labels: 2.confirmed bug, 9.ready for merge, enhancement

#3040 Github actions update for making stable images
  .github/workflows/build-beta-images.yml
  .github/workflows/build-stable-images.yml
  config/targets-cli-RC.conf
  config/targets-desktop-RC.conf
Labels: 6.WIP

#3049 Upstream Hardkernel 5.4.134
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.118-119.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.119-120.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.120-121.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.121-122.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.122-123.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.123-124.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.124-125.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.125-126.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.126-127.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.127-128.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.128-129.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.129-130.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.130-131.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.131-132.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.132-133.patch
Labels: 9.ready for merge

#3054 Add basic Khadas VIM3 support
  config/boards/khadas-vim3.wip
  config/sources/families/meson-g12b.conf
Labels: 7.needs testing

#3057 Fix ebin SATA
  patch/kernel/archive/mvebu64-5.10/0001-pci-Add-Max-Payload-Size-quirk-for-ASMedia-ASM1062-SATA-controller.patch
Labels: 9.ready for merge

#3062 updated buster to fix build for proper package list
  config/desktop/buster/environments/xfce/config_base/packages
Labels: 9.ready for merge, desktop

#3061 fix missing networking package on xfce ubuntu
  config/desktop/focal/environments/xfce/config_base/packages
Labels: 9.ready for merge, desktop

#2998 Rockchip atf 2.5
  config/sources/families/include/rockchip64_common.inc
  patch/atf/atf-rk3399/enable-logging.patch.dis
  patch/atf/atf-rk3399/enable-suspend-on-pbpro.patch
  patch/atf/atf-rk3399/fix-reset-in-v2.2.patch
  patch/atf/atf-rk3399/switch-power-domains-on-before-reset.patch
Labels: 7.needs testing

#3053 added enlightenment to the focal csc builds for low end devices
  config/desktop/focal/environments/enlightenment/armbian/create_desktop_package.sh
  config/desktop/focal/environments/enlightenment/config_base/packages
  config/desktop/focal/environments/enlightenment/config_base/packages.uninstall
  config/desktop/focal/environments/enlightenment/debian/postinst
  config/desktop/focal/environments/enlightenment/only_for
  config/desktop/focal/environments/enlightenment/support
Labels: 7.needs testing, 8.beta, desktop, enhancement

#3067 set log subpath in build-all
  lib/build-all-ng.sh
Labels: 9.ready for merge

#3069 Odroid HC4: SPI-NOR dts and XT25F128B flash chip
  config/boards/odroidhc4.conf
  patch/kernel/archive/meson64-5.10/9999-FROMLIST-v1-spi-nor-add-support-for-XT25F128B.patch
  patch/kernel/archive/meson64-5.10/9999-WIP-arm64-dts-meson-add-spifc-node-to-ODROID-HC4.patch
Labels: 8.beta

#3070 Requested to rm 1 package
  config/desktop/buster/environments/xfce/config_base/packages
Labels: desktop

#3072 fixing menu look for both debian/ubuntu
  packages/blobs/desktop/skel/.config/xfce4/xfconf/xfce-perchannel-xml/xsettings.xml
Labels: desktop
