Repository armbian/build, pull requests merged in 2021-11, with the labels that each got.

#3235 JetHub: add uboot.bin binary to uboot package for JetHub
  config/sources/families/jethub.conf
Labels: 9.ready for merge

#3237 Enable more config options in the legacy kernel for rk35xx
  config/kernel/linux-rk35xx-legacy.config
Labels: c:kernel, 7.needs testing, 9.ready for merge

#3234 Add support for next Ubuntu LTS
  compile.sh
  config/cli/jammy/debootstrap
  config/cli/jammy/main/config_cli_standard
  config/cli/jammy/main/config_desktop
  config/cli/jammy/main/packages
  config/cli/jammy/main/packages.additional
  config/desktop/jammy
  config/distributions/jammy/name
  config/distributions/jammy/support
  lib/chroot-buildpackages.sh
  lib/configuration.sh
  lib/debootstrap.sh
  lib/distributions.sh
  lib/general.sh
Labels: 0.question, 9.ready for merge, c:build script, c:desktop

#3209 Update Github actions scripts
  .github/labeler.yml
  .github/workflows/README.md
  .github/workflows/build-beta-images.yml
  .github/workflows/build-beta-kernel.yml
  .github/workflows/build-cache.yml
  .github/workflows/maintain.yml
Labels: c:ci

#3244 Revert "Change bootscripts/boot-meson64.cmd memory addresses for load…
  config/bootscripts/boot-meson64.cmd
Labels: c:u-boot, c:bsp

#3246 Bump wireguard-manager from 06-20-2021 to 10-26-2021
  lib/compilation.sh
Labels: 2.confirmed bug, 9.ready for merge, c:build script

#3189 rk3328: rework dmc driver to fix power regulation issues
  patch/kernel/archive/rockchip64-5.15/add-board-nanopi-r2s.patch
  patch/kernel/archive/rockchip64-5.15/board-rk3328-roc-cc-dts-enable-dmc.patch
  patch/kernel/archive/rockchip64-5.15/board-rk3328-roc-cc-dts-ram-profile.patch
  patch/kernel/archive/rockchip64-5.15/board-rk3328-roc-pc-dts-enable-dmc.patch
  patch/kernel/archive/rockchip64-5.15/board-rk3328-roc-pc-dts-ram-profile.patch
  patch/kernel/archive/rockchip64-5.15/need_checking/board-rk3328-roc-cc-dts-enable-dmc.patch
  patch/kernel/archive/rockchip64-5.15/need_checking/board-rk3328-roc-pc-dts-enable-dmc.patch
  patch/kernel/archive/rockchip64-5.15/rk3328-add-dmc-driver.patch
  patch/kernel/archive/rockchip64-5.15/rk3328-gpu-cooling-target.patch
Labels: c:kernel, 7.needs testing

#3233 Switched rockchip64 u-boot to v2021.07
  config/sources/families/include/rockchip64_common.inc
  patch/u-boot/u-boot-rockchip64/add-board-nanopi-m4v2.patch
  patch/u-boot/u-boot-rockchip64/add-board-nanopi-r2s.patch
  patch/u-boot/u-boot-rockchip64/add-board-orangepi-r1plus.patch
  patch/u-boot/u-boot-rockchip64/board-roc-rk3399-pc-fix-boot-from-spi-flash.patch
  patch/u-boot/u-boot-rockchip64/board-rock-pi-4-enable-spi-flash.patch
  patch/u-boot/u-boot-rockchip64/board-rockpro64-fix-boot-from-spi-flash.patch
  patch/u-boot/u-boot-rockchip64/general-fix-unsigned-comparison-causing-rk3328-reboot-issues.patch
  patch/u-boot/u-boot-rockchip64/general-support-rmii-integrated-phy.patch
  patch/u-boot/u-boot-rockchip64/rk3328-efuse-driver.patch
  patch/u-boot/u-boot-rockchip64/rk3399-always-init-rkclk.patch
Labels: c:u-boot, 9.ready for merge, c:bsp

#3247 Fix the build on rk35xx platform
  config/kernel/linux-rk35xx-legacy.config
  patch/kernel/archive/rk35xx-4.19/general-packaging-4.19.y.patch
Labels: 2.confirmed bug, c:kernel, 9.ready for merge

#3249 Update odroidxu4-current to 5.4.159
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.150-151.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.151-152.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.152-153.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.153-154.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.154-155.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.155-156.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.156-157.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.157-158.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.158-159.patch
Labels: c:kernel

#3251 fix jammy (next Ubuntu LTS) sources.list
  lib/general.sh
Labels: 2.confirmed bug, 9.ready for merge, c:build script

#3252 Rename Rockpi 3a to wip and enable nightly builds
  config/boards/rock-3a.wip
  config/targets-cli-beta.conf
  patch/u-boot/u-boot-rk35xx/general-fix-source-command.patch
Labels: c:u-boot, 9.ready for merge, c:bsp

#3255 Add critical patches from Khadas repository
  patch/kernel/archive/meson64-5.10/0001-arm64-dts-rockchip-emmc-remove-mmc-hs400-enhanced-st.patch
  patch/kernel/archive/meson64-5.10/0014-WIP-mmc-meson-gx-mmc-set-core-clock-phase-to-270-deg.patch
  patch/kernel/archive/meson64-5.10/0068-PCI-DWC-meson-add-256-bytes-MRRS-quirk.patch
  patch/kernel/archive/meson64-5.15/0001-arm64-dts-rockchip-emmc-remove-mmc-hs400-enhanced-st.patch
  patch/kernel/archive/meson64-5.15/0014-WIP-mmc-meson-gx-mmc-set-core-clock-phase-to-270-deg.patch
  patch/kernel/archive/meson64-5.15/0068-PCI-DWC-meson-add-256-bytes-MRRS-quirk.patch
Labels: c:kernel

#3256 fix
  patch/u-boot/u-boot-rockchip64/u-boot-rk-rk3399-usb-start-firefly-rk3399.patch
  patch/u-boot/u-boot-rockchip64/u-boot-rk-rk3399-usb-start-nanopc-t4.patch
Labels: c:u-boot

#3258 Change hardcoded with dynamic values
  lib/build-all-ng.sh
Labels: 9.ready for merge, c:build script

#3257 T4 switch to extlinux
  config/boards/nanopct4.conf
Labels: 9.ready for merge, c:bsp

#3253 Replace which with command -v
  lib/general.sh
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
  packages/bsp/common/usr/lib/armbian/armbian-hardware-monitor
  packages/bsp/common/usr/lib/armbian/armbian-ramlog
Labels: c:build script

#3248 Enable Netplan.io
  config/cli/bullseye/main/packages.additional
  config/cli/buster/main/packages.additional
  config/cli/focal/main/packages.additional
  config/cli/impish/main/packages.additional
  config/cli/jammy/main/packages.additional
  lib/configuration.sh
Labels: 8.beta, 7.needs testing, c:build script

#3261 Remove upstream patches to workaround libc bug
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.255-256.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.256-257.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.257-258.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.258-259.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.259-260.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.260-261.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.261-262.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.262-263.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.263-264.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.264-265.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.265-266.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.266-267.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.267-268.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.268-269.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.269-270.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.270-271.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.271-272.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.272-273.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.273-274.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.274-275.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.275-276.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.276-277.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.277-278.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.278-279.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.279-280.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.280-281.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.281-282.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.282-283.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.283-284.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.284-285.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.285-286.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.286-287.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.287-288.patch
  patch/kernel/archive/sun50iw9-4.9/patch-4.9.288-289.patch
Labels: c:kernel

#3262 Adjust build targets
  config/targets-cli-beta.conf
  config/targets.conf
Labels: 9.ready for merge

#3260 fix sound HDMI rk3399 and bootsplash
  config/kernel/linux-rockchip64-edge.config
  patch/u-boot/u-boot-rockchip64/rk3399-disable-hdmi-roc-pc.patch
  patch/u-boot/u-boot-rockchip64/rk3399-disable-hdmi.patch
Labels: c:kernel, c:u-boot, 9.ready for merge

#3263 Fix meson memory addresses for loading kernel/ramdisk/dtb on 512Mb boards
  config/bootscripts/boot-meson64.cmd
Labels: 2.confirmed bug, c:u-boot, 9.ready for merge, c:bsp

#3266 Chroot build packages cleanup and bug fixing
  config/aptly-temp.conf
  lib/chroot-buildpackages.sh
  lib/general.sh
  packages/extras-buildpkgs/90-mmc-utils.conf
  packages/extras-buildpkgs/mmc-utils/debian/changelog
  packages/extras-buildpkgs/mmc-utils/debian/compat
  packages/extras-buildpkgs/mmc-utils/debian/control
  packages/extras-buildpkgs/mmc-utils/debian/copyright
  packages/extras-buildpkgs/mmc-utils/debian/manpages
  packages/extras-buildpkgs/mmc-utils/debian/rules
  packages/extras-buildpkgs/mmc-utils/debian/source/format
Labels: maintenance, c:build script

#3267 Upstream patches for XU4, removing deprecated from sunxi
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.159-160.patch
  patch/kernel/archive/sunxi-5.15/patch-5.15.0-5.15.1.patch
Labels: maintenance

#3273 Batch of CI improvements
  .github/workflows/build-beta-images.yml
  .github/workflows/build-beta-kernel.yml
  .github/workflows/build-single.yml
  .github/workflows/build-u-boot.yml
  .github/workflows/docker-to-hub.yml
Labels: 9.ready for merge, maintenance, c:actions

#3270 Fixed rt5651 codec build module
  config/kernel/linux-rockchip64-edge.config
  patch/kernel/archive/rockchip64-5.15/board-nanopi-m4v2-dts-add-sound-card.patch
Labels: c:kernel, 9.ready for merge

#3268 fix SD for firefly-rk3399 to DTS
  patch/kernel/archive/rockchip64-5.10/board-firefly-rk3399-04-dts-fix.patch
Labels: c:kernel, 9.ready for merge

#3276 Recreate Docker image on every code change
  .github/workflows/build-docker.yml
  .github/workflows/docker-to-hub.yml
  compile.sh
  config/templates/Dockerfile
Labels: enhancement, 9.ready for merge, c:actions

#3277 Update to v5.15.4 for sunxi EDGE
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: c:bsp

#3278 Enable support for Intel 10GbE family of adapters
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-rockchip64-legacy.config
Labels: c:kernel, 9.ready for merge

#3283 Push EDGE build targets to Ubuntu Jammy
  config/targets-desktop-beta.conf
  config/targets.conf
Labels: maintenance

#3279 jammy/bullseye/impish fixes for qemu-x86_64-static
  config/sources/families/include/meson64_common.inc
  config/sources/families/include/rockchip64_common.inc
Labels: 2.confirmed bug, 9.ready for merge, c:bsp

#3280 multiple fixes for the eval + PIPESTATUS construct
  lib/compilation.sh
  lib/debootstrap.sh
Labels: 2.confirmed bug, 9.ready for merge, c:build script

#3281 dev: enable tracing of functions return trap via env var
  compile.sh
Labels: enhancement, c:build script

#3284 Adding sudo package to the Docker image creation configuration
  config/templates/Dockerfile
Labels: 2.confirmed bug, 9.ready for merge, maintenance

#3285 Add action to build qemu image inside CI created Docker image
  .github/workflows/build-test-image-docker.yml
Labels: 8.beta, c:actions

#3288 Another pack of updates for Github actions
  .github/workflows/build-beta-images.yml
  .github/workflows/build-beta-kernel.yml
  .github/workflows/build-cache.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-kernel-on-merge-request.yml
  .github/workflows/build-single.yml
  .github/workflows/build-stable-images.yml
  .github/workflows/build-test-image-docker.yml
  .github/workflows/build-u-boot.yml
  .github/workflows/forked-helper.yml
  .github/workflows/maintain.yml
  .github/workflows/update-repository.yml
Labels: 9.ready for merge, c:actions

#3287 fix dts firefly-rk3399 for edge
  patch/kernel/archive/rockchip64-5.15/board-firefly-rk3399-dts.patch
  patch/kernel/archive/rockchip64-5.15/board-firefly-rk3399-enable-bluetooth.patch
  patch/kernel/archive/rockchip64-5.15/board-firefly-rk3399-enable-wifi.patch
  patch/kernel/archive/rockchip64-5.15/board-firefly-rk3399-enabled-pcie-gen2.patch
  patch/kernel/archive/rockchip64-5.15/board-firefly-rk3399-fix-gpu-power.patch
Labels: c:kernel, 9.ready for merge

#3294 Patches megous current branch to v5.10.82
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  lib/compilation-prepare.sh
  patch/kernel/archive/sunxi-5.10/megous/ARM-dts-sunxi-Add-aliases-fro-mmc.patch
  patch/kernel/archive/sunxi-5.10/series.conf
Labels: c:kernel, c:build script, c:bsp

#3286 Fix warning: "IEEE80211_MAX_AMPDU_BUF" redefined if rtl8723cs module build
  patch/kernel/archive/sunxi-5.10/wifi-4002-realtek-8723cs-Fix-IEEE80211_MAX_AMPDU_BUF.patch
  patch/kernel/archive/sunxi-5.15/wifi-4002-realtek-8723cs-Fix-IEEE80211_MAX_AMPDU_BUF.patch
  patch/kernel/archive/sunxi-5.4/wifi-4002-realtek-8723cs-Fix-IEEE80211_MAX_AMPDU_BUF.patch
Labels: c:kernel, 7.needs testing

#3301 JetHome: fix thermal zones in JetHub D1 dts file
  patch/kernel/archive/meson64-5.10/jethome-0098-thermal.patch
  patch/kernel/archive/meson64-5.15/jethome-0098-thermal.patch
Labels: 2.confirmed bug, c:kernel, 9.ready for merge

#3303 Add cache integrity checking
  lib/debootstrap.sh
Labels: 9.ready for merge

#3302 Add composite actions to support cache build process
  .github/workflows/build-cache.yml
Labels: 9.ready for merge, c:actions
