Repository armbian/build, pull requests merged in 2021-10, with the labels that each got.

#3170 Odroidxu4 upstream 5.4.149
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.142-143.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.143-144.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.144-145.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.145-146.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.146-147.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.147-148.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.148-149.patch
Labels: 7.needs testing, 9.ready for merge

#3231 Implement fan controller for Nanopi M4
  config/sources/families/include/rockchip64_common.inc
  packages/bsp/nanopim4/nanopim4-pwm-fan.service
  packages/bsp/nanopim4/nanopim4-pwm-fan.sh
Labels: enhancement, 9.ready for merge

#3232 Add MCP251XFD-Drivers as modules
  config/kernel/linux-jetson-nano-current.config
  config/kernel/linux-jetson-nano-edge.config
  config/kernel/linux-rk322x-current.config
  config/kernel/linux-rk322x-edge.config
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-virtual-current.config
Labels: c:kernel, 9.ready for merge
