Repository armbian/build, pull requests merged in 2021-02, with the labels that each got.

#2597 Read distro data from our files
  packages/bsp/common/etc/update-motd.d/10-armbian-header
Labels: 2.confirmed bug, 6.WIP, 9.ready for merge

#2601 Bump meson64 u-boot to 2021.01
  config/sources/families/include/meson64_common.inc
  patch/u-boot/u-boot-meson64/le-potato-general-vendor.patch
  patch/u-boot/u-boot-meson64/odroidc4_TFLASH_VDD_EN_pin.patch
Labels: 7.needs testing, 8.beta

#2602 Add libata.force=noncq to the meson64 kernel command line
  config/bootscripts/boot-meson64.cmd
Labels: 2.confirmed bug, 9.ready for merge

#2607 Upgrade Odroid XU4 DEV to 5.10.y
  config/kernel/linux-odroidxu4-dev.config
  config/sources/families/odroidxu4.conf
  patch/kernel/odroidxu4-dev/0007-MEMEKA-ARM-dma-mapping-add-support-for-non-consisten.patch
  patch/kernel/odroidxu4-dev/0012-MEMEKA-clk-samsung-exynos5420-Keep-top-G3D-clocks-en.patch
Labels: 8.beta, 9.ready for merge

#2609 Desktop fails to start if auto login is disabled - lightdm-gtk-greeter bug
  lib/makeboarddeb.sh
Labels: 2.confirmed bug, 9.ready for merge

#2598 Add DVFS fixes to current branch and change to mainline u-boot
  config/kernel/linux-mvebu64-current.config
  config/sources/families/mvebu64.conf
  patch/kernel/mvebu64-current/0001-arm64-dts-marvell-armada-37xx-add-syscon-compatible-.patch
  patch/kernel/mvebu64-current/0002-cpufreq-armada-37xx-Fix-setting-TBG-parent-for-load-.patch
  patch/kernel/mvebu64-current/0003-clk-mvebu-armada-37xx-periph-remove-.set_parent-meth.patch
  patch/kernel/mvebu64-current/0004-cpufreq-armada-37xx-Fix-the-AVS-value-for-loads-L0-a.patch
  patch/kernel/mvebu64-current/0005-clk-mvebu-armada-37xx-periph-Fix-switching-CPU-freq-.patch
  patch/kernel/mvebu64-current/0006-clk-mvebu-armada-37xx-periph-Fix-workaround-for-swit.patch
  patch/kernel/mvebu64-current/0007-cpufreq-armada-37xx-Fix-driver-cleanup-when-registra.patch
  patch/kernel/mvebu64-current/0008-cpufreq-armada-37xx-Fix-determining-base-CPU-frequen.patch
  patch/kernel/mvebu64-current/0009-cpufreq-armada-37xx-Remove-cur_frequency-variable.patch
  patch/kernel/mvebu64-current/0010-cpufreq-armada-37xx-Fix-module-unloading.patch
Labels: 7.needs testing, 8.beta

#2594 Fix armbianmonitor -n for vlan interfaces
  packages/bsp/common/usr/bin/armbianmonitor
Labels: 7.needs testing, 8.beta

#2595 mvebu: Patch kernel to fix SATA write performance regression
  patch/kernel/mvebu-current/0001-Revert-block-simplify-set_init_blocksize-to-regain-l.patch
  patch/kernel/mvebu64-current/0001-Revert-block-simplify-set_init_blocksize-to-regain-l.patch
  patch/kernel/sunxi-current/0001-Revert-block-simplify-set_init_blocksize-to-regain-l.patch
Labels: 7.needs testing, 8.beta, 9.ready for merge

#2599 Helios64 UPS. System shutdown when battery reach 7.0V.
  config/sources/families/include/rockchip64_common.inc
  packages/bsp/helios64/helios64-ups.service
  packages/bsp/helios64/helios64-ups.sh
  packages/bsp/helios64/helios64-ups.timer
Labels: 7.needs testing, 8.beta

#2629 Add missing overclocking opp for N2+
  config/kernel/linux-meson64-current.config
  patch/kernel/meson64-current/0001-Add-missing-CPU-opp-values-for-clocking-g12b-N2-high.patch
  patch/kernel/meson64-dev/0001-Add-missing-CPU-opp-values-for-clocking-g12b-N2-high.patch
Labels: 8.beta, 9.ready for merge

#2616 Enable hardware PRNG/TRNG/SHA on sun8i-ce platform
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-dev.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-dev.config
Labels: 8.beta

#2633 Adjust bootsplash patch. Tested for compilation on 5.10.y and 5.11.y
  patch/misc/0007-bootsplash.patch
Labels: 2.confirmed bug, 9.ready for merge

#2634 Attach wireless driver back to master branch
  lib/compilation-prepare.sh
Labels: 9.ready for merge

#2635 Fixing out of the tree wireless driver compilation
  lib/compilation-prepare.sh
  patch/misc/wireless-rtl8188eu.patch
Labels: 9.ready for merge

#2643 Enable squashfs support in expressobin
  config/kernel/linux-mvebu64-current.config
Labels: 9.ready for merge, good first issue

#2644 proposal purging residual packages
  lib/debootstrap.sh
Labels: 7.needs testing, 8.beta, 9.ready for merge

#2651 [AR-648] mvebu-dev: Adjust gpio-pwm patch
  patch/kernel/mvebu-dev/0001-Revert-gpio-mvebu-fix-pwm-.get_state-period-calculat.patch
  patch/kernel/mvebu-dev/92-mvebu-gpio-remove-hardcoded-timer-assignment.patch
  patch/kernel/mvebu-dev/need_rfc/92-mvebu-gpio-remove-hardcoded-timer-assignment-2.patch
  patch/kernel/mvebu-dev/need_rfc/92-mvebu-gpio-remove-hardcoded-timer-assignment.patch
Labels: 7.needs testing, 8.beta, c:kernel

#2652 Do not overwrite `EXIT_PATCHING_ERROR` if already defined
  lib/configuration.sh
Labels: 7.needs testing

#2657 Corrected the order of WAN and LAN LEDs to correspond to the tag on the R4S official metal case.
  patch/kernel/rockchip64-current/add-board-nanopi-r4s.patch
  patch/kernel/rockchip64-dev/add-board-nanopi-r4s.patch
Labels: 9.ready for merge, good first issue

#2667 Gnome - add missing packages which made terminal look ugly
  config/desktop/focal/environments/gnome/config_base/packages
Labels: 2.confirmed bug, 9.ready for merge, desktop

#2665 Improve cache and toolchain download
  lib/configuration.sh
  lib/debootstrap.sh
  lib/general.sh
Labels: 2.confirmed bug, 8.beta, enhancement
