Repository armbian/build, pull requests merged in 2021-01, with the labels that each got.

#2500 Upgrade Meson64 u-boot to 2020.10
  config/sources/families/include/meson64_common.inc
  patch/u-boot/u-boot-meson64/0001-ARM-dts-Import-Odroid-C4-DT-from-Linux-5.X.patch
  patch/u-boot/u-boot-meson64/0002-boards-amlogic-add-Odroid-C4-support.patch
  patch/u-boot/u-boot-meson64/0003-HACK-mmc-meson-gx-limit-to-24MHz.patch
  patch/u-boot/u-boot-meson64/Amlogic-w400-read-ethaddr-from-efuse.patch
  patch/u-boot/u-boot-meson64/le-potato-general-vendor.patch
Labels: 9.ready for merge, c:u-boot

#2528 This function can probably be replaced
  lib/distributions.sh
  lib/image-helpers.sh
Labels: 7.needs testing, desktop

#2527 Directing debug to logs only
  config/boards/orangepizero2.wip
  lib/configuration.sh
  lib/desktop.sh
Labels: 8.beta, desktop

#2521 add station legacy
  config/kernel/linux-station-m1-legacy.config
  config/kernel/linux-station-p1-legacy.config
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/rk3399.conf
  config/sources/families/rockchip64.conf
  lib/compilation-prepare.sh
  patch/kernel/rockchip64-legacy/zz-add-rk3328-firefly-core-dtsi.patch
  patch/kernel/rockchip64-legacy/zz-add-rk3328-firefly-port-dtsi.patch
  patch/kernel/rockchip64-legacy/zz-add-rk3328-linux-dtsi.patch
  patch/kernel/rockchip64-legacy/zz-add-rk3328-roc-pc-dts.patch
  patch/kernel/rockchip64-legacy/zz-add-rk3328-roc-pc-make.patch
  patch/kernel/rockchip64-legacy/zz-add-rk3399-roc-pc-make.patch
  patch/kernel/rockchip64-legacy/zz-add-rk3399-roc-pc-mezzanine-dts.patch
Labels: 0.question, 9.ready for merge

#2512 Switched rockchip64/rk3399 to u-boot v2020.10
  config/sources/families/include/rockchip64_common.inc
  patch/u-boot/u-boot-rockchip64-mainline/add-board-helios64.patch
  patch/u-boot/u-boot-rockchip64-mainline/add-board-nanopi-m4v2.patch
  patch/u-boot/u-boot-rockchip64-mainline/add-board-rock-pi-4ab.patch
  patch/u-boot/u-boot-rockchip64-mainline/add-board-rock-pi-4c.patch
  patch/u-boot/u-boot-rockchip64-mainline/board-pinebook-pro-0003-spi-flash-support.patch
  patch/u-boot/u-boot-rockchip64-mainline/board-rock-pi-4-enable-hdmi.patch
  patch/u-boot/u-boot-rockchip64-mainline/board-rock-pi-4-enable-nvme.patch
  patch/u-boot/u-boot-rockchip64-mainline/board-rock-pi-4-enable-spi-flash.patch
  patch/u-boot/u-boot-rockchip64-mainline/board-rock-pi-4-enable-usb-gadget.patch
  patch/u-boot/u-boot-rockchip64-mainline/board-rock-pi-4-enable-usb3.patch
  patch/u-boot/u-boot-rockchip64-mainline/board-rockpro64-advanced-recovery.patch
  patch/u-boot/u-boot-rockchip64-mainline/board-rockpro64-disable-preboot.patch
  patch/u-boot/u-boot-rockchip64-mainline/board-rockpro64-fix-boot-from-spi-flash.patch
  patch/u-boot/u-boot-rockchip64-mainline/board_nanopi-r4s/0001-rockchip-rk3399-Add-Nanopi-R4S-board-support.patch
  patch/u-boot/u-boot-rockchip64-mainline/board_nanopi-r4s/0002-rockchip-rk3399-split-nanopi-r4s-out-of-evb_rk3399.patch
  patch/u-boot/u-boot-rockchip64-mainline/board_nanopi-r4s/0003-ram-rk3399-Add-support-for-multiple-DDR-types.patch
  patch/u-boot/u-boot-rockchip64-mainline/board_nanopi-r4s/0004-board-nanopi4-unify-1GB-4GB-variants-of-R4S.patch
Labels: 9.ready for merge, c:u-boot

#2524 [mvebu-dev] Disable DFS
  patch/kernel/mvebu-dev/disabled/800-Add_Armada_38x_support_for_clk-cpu.patch
  patch/kernel/mvebu-dev/disabled/801-Use_shorter_register_definition_in_pmsu_c.patch
  patch/kernel/mvebu-dev/disabled/802-Made_the_dynamic_frequency_scaling_support_more_generic.patch
  patch/kernel/mvebu-dev/disabled/803-Armada_38x_Add_dynamic_frequency_scaling_support_in_pmsu.patch
  patch/kernel/mvebu-dev/disabled/804-Update_Armada_38x_DT_for_dynamic_frequency_scaling.patch
  patch/kernel/mvebu-dev/disabled/806-disable-clocksource.patch
Labels: c:kernel

#2526 Move few boards to CSC as decided on a meetup
  config/boards/bananapim3.csc
  config/boards/espressobin.csc
  config/boards/nanopct3.csc
  config/boards/nanopct3plus.csc
  config/boards/nanopifire3.csc
  config/boards/odroidc1.csc
  config/boards/sunvell-r69.tvb
Labels: 0.question, 9.ready for merge

#2544 Bump Meson64 current to 5.10.y
  config/kernel/linux-meson64-current.config
  config/kernel/linux-meson64-dev.config
  config/sources/families/include/meson64_common.inc
  patch/kernel/meson64-current/0001-Add-Odroid-N2-plus.patch
  patch/kernel/meson64-current/board-VIM1-add-simple-MCU-driver-for-FAN.patch
  patch/kernel/meson64-current/board-VIM2-add-GPIO-FAN-driver-for-V12-version.patch
  patch/kernel/meson64-current/board-nanopi-k2-ethernet-fix.patch
  patch/kernel/meson64-current/hardkernel-0003-N2-arm64-dts-support-Ulta-High-Speed-MMC-card.patch
  patch/kernel/meson64-current/hardkernel-0005-N2-arm64-dts-Add-gpio-line-names.patch
  patch/kernel/meson64-current/hardkernel-0006-N2-ARM64-dts-add-uart_A-node.patch
  patch/kernel/meson64-current/hardkernel-0007-N2-ARM64-dts-add-i2c2-i2c3-node.patch
  patch/kernel/meson64-current/hardkernel-0008-N2-ARM64-dts-add-saradc-node.patch
  patch/kernel/meson64-current/hardkernel-0009-N2-arm64-dts-modify-i2c-alias-bus-number.patch
  patch/kernel/meson64-current/hardkernel-0010-N2-arm64-dts-modify-i2c-alias-bus-number.patch
  patch/kernel/meson64-current/hardkernel-0015-COMMON-input-touchscreen-Add-D-WAV-Multitouch.patch
  patch/kernel/meson64-current/hardkernel-0020-N2-C4-arm64-dts-add-CPU-thermal-cooling-map.patch
  patch/kernel/meson64-current/hardkernel-0023-N2-arm64-dts-modify-i2c-alias-bus-number.patch
  patch/kernel/meson64-current/hardkernel-igor-0091-Add-fan-support-to-Odroid-N2-plus.patch
  patch/kernel/meson64-current/need_check/0075-ODROID-N2-arm64-dts-reboot-power-off-support-for-ODR.patch
  patch/kernel/meson64-current/need_check/0084-WIP-arm64-dts-meson-g12b-khadas-vim3-add-the-Etherne.patch
  patch/kernel/meson64-current/need_check/0091-GX-update-TEXT_OFFSET-for-Amlogic-MESON-SoC.patch
  patch/kernel/meson64-current/need_check/board-odroidn2-eth0-disable-reset.patch
  patch/kernel/meson64-current/need_check/linux-5.5-net-smsc95xx-allow-mac-address-as-param.patch
  patch/kernel/meson64-current/odroid-n2-rtc0.patch
Labels: 9.ready for merge

#2545 Missing file breaks out of the tree modules compilation on 5.10.y
  patch/misc/general-packaging-5.10.y.patch
Labels: 8.beta

#2546 Switched rockchip64-current to 5.10.y (and synced -dev config/patches)
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-dev.config
  config/sources/families/include/rockchip64_common.inc
  patch/kernel/rockchip64-current/add-board-rockpi-4a.patch
  patch/kernel/rockchip64-current/add-board-rockpi-4b.patch
  patch/kernel/rockchip64-current/add-board-rockpi-4c.patch
  patch/kernel/rockchip64-current/add-board-xxx-nanopi-Neo3-with-enabled-I2S-and-spdif.patch
  patch/kernel/rockchip64-current/board-pbp-add-dp-alt-mode.patch
  patch/kernel/rockchip64-current/board-pbp-add-suspend.patch
  patch/kernel/rockchip64-current/board-pbp-fix-wonky-wifi-bt.patch
  patch/kernel/rockchip64-current/board-rk3328-roc-cc-dts-set-otg-host.patch
  patch/kernel/rockchip64-current/board-roc-rk3399-pc-fix-regulators.patch
  patch/kernel/rockchip64-current/board-rockpi4-0003-arm64-dts-pcie.patch
  patch/kernel/rockchip64-current/board-rockpi4-Add-DT-link-for-backward-compatibility.patch
  patch/kernel/rockchip64-current/board-rockpis-0017-WIP-Sync-rockchip_i2s_tdm-to-BSP-tree.patch
  patch/kernel/rockchip64-current/board-rockpis-0023-ASoC-rockchip-i2s-add-compatible-for-rk3308.patch
  patch/kernel/rockchip64-current/general-fix-mmc-signal-voltage-before-reboot.patch
  patch/kernel/rockchip64-current/general-rkvdec_nv15.patch
  patch/kernel/rockchip64-current/rk3328-add-dmc-driver.patch
  patch/kernel/rockchip64-dev/board-rk3328-roc-cc-dts-enable-dmc.patch
  patch/kernel/rockchip64-dev/board-rk3328-roc-cc-dts-ram-profile.patch
  patch/kernel/rockchip64-dev/board-roc-rk3399-pc-fix-reboot.patch
  patch/kernel/rockchip64-dev/rk3328-audio-and-renegade-supplies.patch
Labels: 9.ready for merge, c:kernel

#2555 Update 80-update-htop-and-offload-tx
  packages/bsp/common/etc/NetworkManager/dispatcher.d/80-update-htop-and-offload-tx
Labels: good first issue

#2563 Clean more Canonical services
  lib/distributions.sh
Labels: 9.ready for merge, c:build scripts

#2562 Enable AUFS back - its supported again
  config/kernel/linux-imx6-current.config
  config/kernel/linux-meson-current.config
  config/kernel/linux-meson64-current.config
  config/kernel/linux-meson64-dev.config
  config/kernel/linux-mvebu-dev.config
  config/kernel/linux-mvebu64-current.config
  config/kernel/linux-odroidxu4-dev.config
  config/kernel/linux-rockchip-current.config
  config/kernel/linux-rockchip-dev.config
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-dev.config
  lib/compilation-prepare.sh
Labels: 9.ready for merge

#2561 Change locales detection methodology and add failsafe mechanism
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: 7.needs testing, 9.ready for merge

#2573 Fix shell selection bug in Bionic version
  lib/distributions.sh
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: 8.beta, 9.ready for merge

#2572 Enabled SPI boot option for roc-rk3399-pc
  config/sources/families/rk3399.conf
  patch/u-boot/u-boot-rockchip64-mainline/board-roc-rk3399-pc-fix-boot-from-spi-flash.patch
Labels: 8.beta, 9.ready for merge

#2571 Enable network link triggers for NanoPi R4S leds
  patch/kernel/rockchip64-current/add-board-nanopi-r4s.patch
  patch/kernel/rockchip64-dev/add-board-nanopi-r4s.patch
Labels: 8.beta, 9.ready for merge

#2570 Move rockchip to 5.10.y
  config/kernel/linux-rockchip-current.config
  config/kernel/linux-rockchip-dev.config
  config/sources/families/rockchip.conf
  patch/kernel/rockchip-current/1003-ARM-dts-rockchip-add-the-MiQi-board-s-fan-definition.patch
  patch/kernel/rockchip-current/2027-ARM-DTS-rk3288-miqi-enable-sound.patch
  patch/kernel/rockchip-current/4014-Use-340000-as-fallback-max_tmds_clock.patch.disabled
  patch/kernel/rockchip-dev
  patch/kernel/rockchip-dev/1-2-regulator-act8865-add-restart-handler-for-act8846.patch
  patch/kernel/rockchip-dev/1001-dts-rk3288-miqi-Enabling-the-Mali-GPU-node.patch
  patch/kernel/rockchip-dev/1002-ARM-dts-rockchip-fix-the-regulator-s-voltage-range-o.patch
  patch/kernel/rockchip-dev/1003-ARM-dts-rockchip-add-the-MiQi-board-s-fan-definition.patch
  patch/kernel/rockchip-dev/1007-RK3288-DTSI-rk3288-Add-missing-SPI2-pinctrl.patch
  patch/kernel/rockchip-dev/1009-ARM-DTSI-rk3288-Adding-cells-addresses-and-size.patch.disabled
  patch/kernel/rockchip-dev/1010-ARM-DTSI-rk3288-Adding-missing-EDP-power-domain.patch
  patch/kernel/rockchip-dev/1012-ARM-DTSI-rk3288-Fixed-the-SPDIF-node-address.patch
  patch/kernel/rockchip-dev/1013-ARM-DTS-rk3288-tinker-Enabling-SDIO-and-Wifi.patch
  patch/kernel/rockchip-dev/1014-ARM-DTS-rk3288-tinker-Setup-the-Bluetooth-UART-pins.patch
  patch/kernel/rockchip-dev/1015-ARM-DTSI-rk3288-tinker-Improving-the-CPU-max-voltage.patch
  patch/kernel/rockchip-dev/1017-ARM-DTS-rk3288-tinker-Defined-the-I2C-interfaces.patch
  patch/kernel/rockchip-dev/1018-ARM-DTS-rk3288-tinker-Defining-the-SPI-interface.patch
  patch/kernel/rockchip-dev/1019-ARM-DTSI-rk3288-tinker-Defining-SDMMC-properties.patch
  patch/kernel/rockchip-dev/1020-ARM-DTSI-rk3288-Set-the-VPU-MMU-power-domains.patch
  patch/kernel/rockchip-dev/1023-dts-rk3288-support-for-dedicating-npll-to-a-vop.patch
  patch/kernel/rockchip-dev/1024-arm-dts-veyron-Added-a-flag-to-disable-cache-flush-d.patch
  patch/kernel/rockchip-dev/1025-ARM-DTSI-rk3288-disable-serial-dmas.patch
  patch/kernel/rockchip-dev/1026-arm-dtsi-rk3288-add-GPU-500-Mhz-OPP.patch
  patch/kernel/rockchip-dev/2002-clk-rockchip-add-all-known-operating-points-to-the-a.patch
  patch/kernel/rockchip-dev/2005-drivers-mmc-dw-mci-rockchip-Handle-ASUS-Tinkerboard.patch
  patch/kernel/rockchip-dev/2006-soc-rockchip-power-domain-export-idle-request.patch
  patch/kernel/rockchip-dev/2007-drivers-wifi-ath9k-reverse-do-not-use-bulk-on-EP3-and-EP4.patch
  patch/kernel/rockchip-dev/2013-spi-Added-support-for-Tinkerboard-s-SPI-interface.patch
  patch/kernel/rockchip-dev/261_gpiomem_driver.patch
  patch/kernel/rockchip-dev/3000_DTS_rearrange_thermal_zones.patch
  patch/kernel/rockchip-dev/3001_Tinkerboard-4.19-audio.patch
  patch/kernel/rockchip-dev/4004-drm-rockchip-vop-filter-modes-outside-0.5-pixel-cloc.patch
  patch/kernel/rockchip-dev/4005-drm-rockchip-dw_hdmi-Set-cur_ctr-to-0-always.patch
  patch/kernel/rockchip-dev/4006-drm-rockchip-dw_hdmi-adjust-cklvl-txlvl-for-RF-EMI.patch
  patch/kernel/rockchip-dev/4007-drm-rockchip-dw_hdmi-Use-auto-generated-tables.patch
  patch/kernel/rockchip-dev/4008-drm-rockchip-dw_hdmi-add-default-594Mhz-clk-for-4K-6.patch
  patch/kernel/rockchip-dev/4009-drm-rockchip-dw-hdmi-limit-tmds-to-340mhz.patch
  patch/kernel/rockchip-dev/4010-HACK-drm-rockchip-vop-limit-resolution-to-3840x2160.patch
  patch/kernel/rockchip-dev/4011-MINIARM-set-npll-be-used-for-hdmi-only.patch
  patch/kernel/rockchip-dev/4012-clk-rockchip-rk3288-use-npll-table-to-to-improve-HDM.patch
  patch/kernel/rockchip-dev/4013-clk-rockchip-rk3288-add-more-npll-clocks.patch
  patch/kernel/rockchip-dev/4015-FIXME-Don-t-use-vop_crtc_mode_valid.patch
  patch/kernel/rockchip-dev/RK3288-1.8GHz-and-boost.patch
  patch/kernel/rockchip-dev/board-tinkerboard-enable-emmc-support.patch
  patch/kernel/rockchip-dev/brcmfmac-add-ap6330-firmware.patch
  patch/kernel/rockchip-dev/general-add-overlay-compilation-support.patch
  patch/kernel/rockchip-dev/general-adjust-tinker-dts-hdmi-sound.patch
  patch/kernel/rockchip-dev/general-fix-reboot-from-kwiboo.patch
  patch/kernel/rockchip-dev/remove-broken-dtb.patch
  patch/kernel/rockchip-dev/wifi-4003-fix-sha256_state-clashes.patch
  patch/kernel/rockchip-dev/wifi-4004-fix-cfg80211-for-5.8.patch
  patch/kernel/rockchip-dev/xt-q8l-v10-add-device-tree.patch
  patch/kernel/rockchip-dev/xt-q8l-v10-add-dts-makefile.patch
  patch/kernel/rockchip-dev/xt-q8l-v10-remote-keymap.patch
Labels: 8.beta, 9.ready for merge

#2569 Update odroidxu4 current kernel to 5.4.91
  patch/kernel/odroidxu4-current/patch-5.4.88-89.patch
  patch/kernel/odroidxu4-current/patch-5.4.89-90.patch
  patch/kernel/odroidxu4-current/patch-5.4.90-91.patch
Labels: 8.beta

#2567 Fix 2.5G Ethernet on Helios64 Mainline kernel
  patch/kernel/rockchip64-current/general-add-dwc3-xhci-usb-trb-quirk.patch
  patch/kernel/rockchip64-current/rk3399-enable-dwc3-xhci-usb-trb-quirk.patch
  patch/kernel/rockchip64-dev/general-add-dwc3-xhci-usb-trb-quirk.patch
  patch/kernel/rockchip64-dev/rk3399-enable-dwc3-xhci-usb-trb-quirk.patch
Labels: 7.needs testing, 8.beta

#2566 fix problems with mmc modules on rockpi 4b
  patch/kernel/rockchip64-current/board-rockpi4-FixMMCFreq.patch
Labels: 7.needs testing, 8.beta, good first issue

#2565 Move mvebu64 current to 5.10.y
  config/kernel/linux-mvebu64-current.config
  config/kernel/linux-mvebu64-dev.config
  config/sources/families/mvebu64.conf
  patch/kernel/mvebu64-current/armada-37xx-xtal-correct-pin.patch
  patch/kernel/mvebu64-dev
  patch/kernel/mvebu64-dev/0007-arm64-dts-marvell-armada37xx-Add-eth0-alias.patch
  patch/kernel/mvebu64-dev/armada-37xx-xtal-correct-pin.patch
  patch/kernel/mvebu64-dev/wifi-4003-fix-sha256_state-clashes.patch
  patch/kernel/mvebu64-dev/wifi-4004-fix-cfg80211-for-5.8.patch
Labels: 8.beta

#2547 [AR-609] Switch mvebu-current to 5.10.y (reusing config and patches from -dev)
  config/kernel/linux-mvebu-current.config
  config/sources/families/mvebu.conf
  patch/kernel/mvebu-current/10-mvebu-clearfog-pcie-updates.patch
  patch/kernel/mvebu-current/11-implement-slot-capabilities-SSPL.patch
  patch/kernel/mvebu-current/402-sfp-display-SFP-module-information.patch
  patch/kernel/mvebu-current/92-mvebu-gpio-add_wake_on_gpio_support.patch
  patch/kernel/mvebu-current/general-increasing_DMA_block_memory_allocation_to_2048.patch
  patch/kernel/mvebu-current/omit_VFP_emulation_exceptions_kernel_mode.patch
Labels: 7.needs testing, 8.beta

#2578 Rework first login script
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: 8.beta, 9.ready for merge

#2575 Enable DMC for Station M1 in current and dev
  patch/kernel/rockchip64-current/board-rk3328-roc-pc-dts-enable-dmc.patch
  patch/kernel/rockchip64-current/board-rk3328-roc-pc-dts-ram-profile.patch
  patch/kernel/rockchip64-dev/board-rk3328-roc-pc-dts-enable-dmc.patch
  patch/kernel/rockchip64-dev/board-rk3328-roc-pc-dts-ram-profile.patch
Labels: 8.beta

#2587 meson64: hwmon: (pwm-fan) add fan pwmX_enable attribute for pwm's exposed via hwmon
  patch/kernel/meson64-current/meson64_pwm_hwmon_control.patch
Labels: 7.needs testing
