Repository armbian/build, pull requests merged in 2021-09, with the labels that each got.

#3118 Fix h616-RTC patches that are breaking builds for armhf
  patch/kernel/archive/sunxi-5.13/h616_0018-dt-bindings-rtc-sun6i-Add-H616-compatible-string.patch
  patch/kernel/archive/sunxi-5.13/h616_0019-rtc-sun6i-Add-support-for-linear-day-storage.patch
  patch/kernel/archive/sunxi-5.13/h616_0020-rtc-sun6i-Add-support-for-broken-down-alarm-register.patch
  patch/kernel/archive/sunxi-5.13/h616_0021-rtc-sun6i-Add-support-for-RTCs-without-external-LOSC.patch
  patch/kernel/archive/sunxi-5.13/h616_0022-rtc-sun6i-Add-Allwinner-H616-support.patch
Labels: 9.ready for merge, 6.WIP

#3117 fix bananapro dts for using lima driver
  patch/kernel/archive/sunxi-5.10/fix-bananapro-lima.patch
  patch/kernel/archive/sunxi-5.11/fix-bananapro-lima.patch
  patch/kernel/archive/sunxi-5.12/fix-bananapro-lima.patch
  patch/kernel/archive/sunxi-5.13/fix-bananapro-lima.patch
  patch/u-boot/u-boot-sunxi/fix-bananapro-lima.patch
Labels: 9.ready for merge

#3119 ODROID N2(+): chewitt's uboot + SPI-NOR enable via extra DTBs = SPI Boot to USB
  config/bootscripts/boot-meson64.cmd
  config/sources/families/meson-g12b.conf
  patch/kernel/archive/meson64-5.13/9999-HACK-Add_SPI_Flash_enabled_versions_of_N2_and_N2Plus_DTBs.patch
Labels: 8.beta, 9.ready for merge

#3120 Add enable pinecube sound to 5.13 (edge)
  patch/kernel/archive/sunxi-5.13/enable-sound-pinecube-kernel.patch
Labels: 9.ready for merge, good first issue

#3113 Disable wifi powersave by default via kernel config
  config/kernel/linux-imx6-current.config
  config/kernel/linux-imx6-edge.config
  config/kernel/linux-imx7d-current.config
  config/kernel/linux-imx7d-legacy.config
  config/kernel/linux-jetson-nano-legacy.config
  config/kernel/linux-meson-current.config
  config/kernel/linux-meson-edge.config
  config/kernel/linux-meson-legacy.config
  config/kernel/linux-meson64-current.config
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-meson64-legacy.config
  config/kernel/linux-mt7623-edge.config
  config/kernel/linux-mt7623-legacy.config
  config/kernel/linux-mvebu-current.config
  config/kernel/linux-mvebu-edge.config
  config/kernel/linux-mvebu-legacy.config
  config/kernel/linux-mvebu64-current.config
  config/kernel/linux-mvebu64-edge.config
  config/kernel/linux-mvebu64-legacy.config
  config/kernel/linux-odroidxu4-current.config
  config/kernel/linux-odroidxu4-edge.config
  config/kernel/linux-odroidxu4-legacy.config
  config/kernel/linux-rk322x-current.config
  config/kernel/linux-rk322x-edge.config
  config/kernel/linux-rk322x-legacy.config
  config/kernel/linux-rk3399-legacy.config
  config/kernel/linux-rockchip-current.config
  config/kernel/linux-rockchip-edge.config
  config/kernel/linux-rockchip-legacy.config
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-rockchip64-legacy.config
  config/kernel/linux-rockpis-legacy.config
  config/kernel/linux-station-current.config
  config/kernel/linux-station-legacy.config
  config/kernel/linux-sun50iw9-legacy.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-virtual-current.config
  config/kernel/linux-zynq-legacy.config
Labels: 9.ready for merge

#3105 Remove unused variable in format string
  packages/bsp/common/etc/update-motd.d/30-armbian-sysinfo
Labels: 9.ready for merge

#3100 Fix gpg signing when sudo unavailable.
  lib/debootstrap.sh
Labels: 2.confirmed bug, 7.needs testing

#3122 Pinecube: add i2s device to the sound patch
  patch/kernel/archive/sunxi-5.13/enable-sound-pinecube-kernel.patch
Labels: 8.beta, 9.ready for merge

#3123 Enable Debian Buster target
  config/targets.conf
Labels: 9.ready for merge

#3126 Disabled hs400 on Helios64 (hopefully only temporarily)
  patch/kernel/archive/rockchip64-5.10/add-board-helios64.patch
Labels: 9.ready for merge

#3128 Add Radxa Zero initial support
  config/boards/radxa-zero.wip
  config/sources/families/include/meson64_common.inc
  config/sources/families/meson-g12a.conf
  config/targets-cli-beta.conf
  config/targets.conf
  patch/kernel/archive/meson64-5.10/0381-drivrs-mmc-revert-g103a5348c-to-fix-some-wifi.patch
  patch/kernel/archive/meson64-5.10/arm64-dts-amlogic-add-support-for-Radxa-Zero.patch
  patch/u-boot/u-boot-meson64/0001-Add-support-for-Radxa-Zero.patch
Labels: 9.ready for merge

#3130 Update ATF source
  config/sources/families/sun50iw9.conf
Labels: 2.confirmed bug, 9.ready for merge

#3132 Add xarchiver to all desktop variants
  config/desktop/bullseye/environments/gnome/config_base/packages
  config/desktop/bullseye/environments/mate/config_base/packages
  config/desktop/buster/environments/gnome/config_base/packages
  config/desktop/buster/environments/lxde/config_base/packages
  config/desktop/buster/environments/mate/config_base/packages
  config/desktop/buster/environments/xfce/config_base/packages
  config/desktop/focal/environments/budgie/config_base/packages
  config/desktop/focal/environments/cinnamon/config_base/packages
  config/desktop/focal/environments/deepin/config_base/packages
  config/desktop/focal/environments/enlightenment/config_base/packages
  config/desktop/focal/environments/gnome/config_base/packages
  config/desktop/focal/environments/i3-wm/config_base/packages
  config/desktop/focal/environments/kde-plasma/config_base/packages
  config/desktop/focal/environments/mate/config_base/packages
  config/desktop/focal/environments/xfce/config_base/packages
  config/desktop/focal/environments/xmonad/config_base/packages
  config/desktop/hirsute/environments/gnome/config_base/packages
  config/desktop/sid/environments/gnome/config_base/packages
  config/desktop/sid/environments/lxde/config_base/packages
  config/desktop/sid/environments/mate/config_base/packages
  config/desktop/sid/environments/xfce/config_base/packages
Labels: 9.ready for merge

#3134 Enable userspace virtual filesystem with gvfs-backends
  config/desktop/buster/environments/xfce/config_base/packages
  config/desktop/focal/environments/budgie/config_base/packages
  config/desktop/focal/environments/cinnamon/config_base/packages
  config/desktop/focal/environments/deepin/config_base/packages
  config/desktop/focal/environments/enlightenment/config_base/packages
  config/desktop/focal/environments/i3-wm/config_base/packages
  config/desktop/focal/environments/kde-plasma/config_base/packages
  config/desktop/focal/environments/mate/config_base/packages
  config/desktop/focal/environments/xfce/config_base/packages
  config/desktop/focal/environments/xmonad/config_base/packages
Labels: 2.confirmed bug, 9.ready for merge

#3129 Enable minimal Focal CLI images for all targets
  config/targets.conf
Labels: 8.beta

#3135 Updating targets bugfix
  config/targets.conf
Labels: 2.confirmed bug, 9.ready for merge

#3141 Enlarge dialog size to prevent string cut off
  packages/bsp/common/usr/sbin/nand-sata-install
Labels: 2.confirmed bug, 9.ready for merge

#3140 general add panel simple dsi
  patch/kernel/archive/rockchip64-5.10/general-add-panel-simple-dsi.patch
  patch/kernel/archive/rockchip64-5.14/general-add-panel-simple-dsi.patch
Labels: 9.ready for merge

#3138 Add NanoPi R2C support
  config/boards/nanopi-r2c.conf
  config/kernel/linux-rockchip64-current.config
  config/sources/families/include/rockchip64_common.inc
  config/targets.conf
  patch/kernel/archive/rockchip64-5.10/add-board-nanopi-r2c.patch
  patch/kernel/archive/rockchip64-5.10/add-boards-to-dts-makefile.patch
  patch/kernel/archive/rockchip64-5.10/net-phy-Add-driver-for-Motorcomm-YT85xx-PHYs.patch
  patch/kernel/archive/rockchip64-5.14/add-board-nanopi-r2c.patch
  patch/kernel/archive/rockchip64-5.14/add-board-nanopi-r2s.patch
  patch/kernel/archive/rockchip64-5.14/add-boards-to-dts-makefile.patch
  patch/kernel/archive/rockchip64-5.14/net-phy-Add-driver-for-Motorcomm-YT85xx-PHYs.patch
Labels: 8.beta

#3144 Pinecube sound patch for kernel 5.14
  patch/kernel/archive/sunxi-5.14/enable-sound-pinecube-kernel.patch
Labels: 2.confirmed bug, 9.ready for merge

#3153 Thermal sensor support for H616 SoC.
  patch/kernel/archive/sunxi-5.14/h616_0024-nvmem-sunxi_sid-Support-SID-on-H616.patch
  patch/kernel/archive/sunxi-5.14/h616_0025-arm64-dts-allwinner-h616-Add-device-node-for-SID.patch
  patch/kernel/archive/sunxi-5.14/h616_0026-thermal-drivers-sun8i-Add-thermal-driver-for-H616.patch
  patch/kernel/archive/sunxi-5.14/h616_0027-arm64-dts-allwinner-h616-Add-thermal-sensor-and.patch
  patch/u-boot/u-boot-sunxi/add-h616-THS-workaround.patch
Labels: 9.ready for merge

#3147 fix config legacy for station
  config/kernel/linux-rockchip64-legacy.config
  config/kernel/linux-station-legacy.config
  config/sources/families/rockchip64.conf
Labels: 8.beta

#3156 CI: Wait for background processes to finish
  .github/workflows/build.yml
Labels: 2.confirmed bug, 9.ready for merge

#3149 Create 9999-revert-net-stmmac-dwmac-rk-fix-unbalanced-pm_runtime_enab…
  patch/kernel/archive/rockchip64-5.14/revert-fix-unbalanced-pm_runtime_enable-warnings.patch
Labels: 7.needs testing, 9.ready for merge

#3158 Apt cache prompts at fresh install and locales issue
  lib/general.sh
Labels: 9.ready for merge

#3157 Switch to matrix jobs scheduler and upload build logs
  .github/workflows/build-beta-images.yml
  .github/workflows/build.yml
  lib/debootstrap.sh
Labels: c:build scripts, 9.ready for merge

#3160 CI bugfix
  .github/workflows/build-beta-images.yml
Labels: 2.confirmed bug, 9.ready for merge

#3155 meson64: bump u-boot to 2021.07 // HC4/N2(+) cleanups
  config/boards/odroidhc4.conf
  config/boards/odroidn2.conf
  config/sources/families/include/meson64_common.inc
  config/sources/families/meson-g12b.conf
  config/sources/families/meson-sm1.conf
  patch/u-boot/u-boot-meson64/0001-HACK-configs-meson64-prevent-stdout-stderr-on-videoconsole.patch
  patch/u-boot/u-boot-meson64/0002-FROMGIT-board-amlogic-odroid-n2-fix-fdtfile-suffix-for-n2-plus.patch
  patch/u-boot/u-boot-meson64/0003-FROMLIST-v1-pci-pcie_dw_meson-fix-usb-fail-when-pci-link-fails-to-go-up.patch
  patch/u-boot/u-boot-meson64/0004-SQUASHED-Sync-Amlogic-DT-from-Linux-5.14.patch
  patch/u-boot/u-boot-meson64/0005-SQUASHED-Add-Radxa-Zero-support-for-2021.07-from-chewitt-tree.patch
  patch/u-boot/u-boot-meson64/0006-SQUASHED-Support-for-ODROID-HC4-with-SPI-NOR-chip-and-SATA-booting.patch
Labels: 7.needs testing

#3154 meson64: current (5.10.y): ODROID N2(+) patchset rework for mainline u-boot, stability and rebootability
  config/boards/odroidn2.conf
  config/kernel/linux-meson64-current.config
  patch/kernel/archive/meson64-5.10/0001-arm64-dts-meson-add-i2c3-rtc-nodes-and-rtc-aliases-t.patch
  patch/kernel/archive/meson64-5.10/0002-arm64-dts-meson-add-saradc-node-to-ODROID-N2-N2.patch
  patch/kernel/archive/meson64-5.10/0003-arm64-dts-meson-add-GPIO-line-names-to-ODROID-N2-N2.patch
  patch/kernel/archive/meson64-5.10/0004-arm64-dts-meson-g12b-add-power-button-support.patch
  patch/kernel/archive/meson64-5.10/0005-arm64-dts-meson-g12b-add-GPIO-fan-support.patch
  patch/kernel/archive/meson64-5.10/0006-arm64-dts-meson-g12b-odroid-n2-add-fan-as-cooling-de.patch
  patch/kernel/archive/meson64-5.10/0007-arm64-dts-meson-add-uart_A-node.patch
  patch/kernel/archive/meson64-5.10/0008-arm64-dts-meson-add-i2c2-node-to-ODROID-N2-N2.patch
  patch/kernel/archive/meson64-5.10/0009-Revert-of-fdt-Make-sure-no-map-does-not-remove-alrea.patch
  patch/kernel/archive/meson64-5.10/0073-ODROID-COMMON-power-reset-Add-odroid-support.patch
  patch/kernel/archive/meson64-5.10/0074-ODROID-C4-arm64-dts-reboot-power-off-support-for-ODR.patch
  patch/kernel/archive/meson64-5.10/9999-HACK-Add_SPI_Flash_enabled_versions_of_N2_and_N2Plus_DTBs.patch
  patch/kernel/archive/meson64-5.10/9999-revert-meson_drv_shutdown.patch
  patch/kernel/archive/meson64-5.10/board-odroidc2-add-uartA-uartC.patch
  patch/kernel/archive/meson64-5.10/docs-FROMLIST-dt-bindings-display-bridge-lvds-codec-Add-n.patch
  patch/kernel/archive/meson64-5.10/docs-WIP-ASoC-meson-convert-axg-fifo-to-schema.patch
  patch/kernel/archive/meson64-5.10/docs-WIP-ASoC-meson-convert-axg-pdm-to-schema.patch
  patch/kernel/archive/meson64-5.10/docs-WIP-ASoC-meson-convert-axg-sound-card-control-to-sch.patch
  patch/kernel/archive/meson64-5.10/docs-WIP-ASoC-meson-convert-axg-spdif-input-to-schema.patch
  patch/kernel/archive/meson64-5.10/docs-WIP-ASoC-meson-convert-axg-spdif-output-to-schema.patch
  patch/kernel/archive/meson64-5.10/docs-WIP-ASoC-meson-convert-axg-tdm-formatters-to-schema.patch
  patch/kernel/archive/meson64-5.10/docs-WIP-ASoC-meson-convert-axg-tdm-interface-to-schema.patch
  patch/kernel/archive/meson64-5.10/docs-WIP-ASoC-meson-convert-g12a-tohdmitx-control-to-sche.patch
  patch/kernel/archive/meson64-5.10/general-meson64-i2cX-missing-pins.patch
  patch/kernel/archive/meson64-5.10/hardkernel-0003-N2-arm64-dts-support-Ulta-High-Speed-MMC-card.patch
  patch/kernel/archive/meson64-5.10/hardkernel-0006-N2-ARM64-dts-add-uart_A-node.patch
  patch/kernel/archive/meson64-5.10/hardkernel-0007-N2-ARM64-dts-add-i2c2-i2c3-node.patch
  patch/kernel/archive/meson64-5.10/hardkernel-0008-N2-ARM64-dts-add-saradc-node.patch
  patch/kernel/archive/meson64-5.10/hardkernel-0029-COMMON-pwm-gpio-Add-a-generic-gpio-based-PWM-.patch
  patch/kernel/archive/meson64-5.10/hardkernel-igor-0091-Add-fan-support-to-Odroid-N2-plus.patch
  patch/kernel/archive/meson64-5.10/need_check/0075-ODROID-N2-arm64-dts-reboot-power-off-support-for-ODR.patch
  patch/kernel/archive/meson64-5.10/odroid-n2-rtc0.patch
Labels: 9.ready for merge

#3162 station to wip
  config/boards/station-m1.wip
  config/boards/station-p1.wip
Labels: 9.ready for merge

#3163 Bugfix - install git on a clean runner before starting compile.sh
  .github/workflows/build-single.yml
Labels: 2.confirmed bug, 9.ready for merge
