Repository armbian/build, pull requests merged in 2021-05, with the labels that each got.

#2759 Microzed
  config/boards/microzed.csc
  config/bootenv/zynq.txt
  config/bootscripts/boot-zynq.cmd
  config/kernel/linux-zynq-legacy.config
  config/sources/families/zynq.conf
  lib/compilation.sh
  patch/kernel/archive/zynq-5.4/microzed-status-led.patch
  patch/kernel/zynq-legacy
Labels: 7.needs testing, 8.beta

#2791 rockchip: fix emmc busy loop on Tinkerboard
  lib/compilation.sh
  patch/kernel/archive/rockchip-5.10/board-tinkerboard-enable-emmc-support.patch
  patch/kernel/archive/rockchip-5.11/board-tinkerboard-enable-emmc-support.patch
  patch/u-boot/u-boot-rockchip/board_tinkerboard/100-tinker-s-eMMC-bootable.patch
Labels: 2.confirmed bug, 9.ready for merge

#2778 Fix unchecked buffer writes in custom htop code
  packages/extras-buildpkgs/htop/debian/patches/avafinger-cpu-monitor.patch
  packages/extras-buildpkgs/htop/debian/patches/fix-unchecked-buffer-writes-in-avafinger-cpu-monitor.patch
  packages/extras-buildpkgs/htop/debian/patches/series
Labels: 9.ready for merge, security

#2804 Fix broken Docker support
  .github/workflows/build-and-upload-docker-image-to-hub.yml
  compile.sh
  config/templates/Dockerfile
  lib/configuration.sh
  lib/debootstrap.sh
  lib/general.sh
Labels: 2.confirmed bug, 8.beta, 9.ready for merge

#2789 VENDOR, rock-pi-n10, RM_LIST for armbian-config/zsh, Static MAC for networkd
  config/boards/rockpi-n10.csc
  config/sources/families/include/rockchip64_common.inc
  lib/build-all-ng.sh
  lib/chroot-buildpackages.sh
  lib/configuration.sh
  lib/debootstrap.sh
  lib/distributions.sh
  lib/general.sh
  lib/main.sh
  lib/makeboarddeb.sh
  packages/bsp/common/usr/lib/armbian/armbian-common
  packages/bsp/common/usr/lib/armbian/armbian-firstrun
Labels: 6.WIP, 7.needs testing, 8.beta, 9.ready for merge

#2822 fix jetson-nano build deb board package
  lib/makeboarddeb.sh
Labels: 2.confirmed bug, 9.ready for merge

#2821 meson64 vs hardkernel "meson_drv_shutdown" patch debacle
  patch/kernel/archive/meson64-5.10/9999-revert-meson_drv_shutdown.patch
  patch/kernel/archive/meson64-5.10/meson64_add_shutdown_function_to_meson_drv.patch_disabled
Labels: 2.confirmed bug, 9.ready for merge

#2830 Pinecube swap audio patch
  patch/kernel/archive/sunxi-5.11/enable-sound-pinecube-kernel.patch
  patch/u-boot/u-boot-sunxi/enable-audio-codec-pinecube.patch
Labels: 7.needs testing, 8.beta

#2831 Put branch value back to the /etc/armbian-release
  packages/bsp/common/usr/lib/armbian/armbian-hardware-optimization
Labels: 2.confirmed bug, 9.ready for merge

#2803 chroot packaging: build script as separate function
  lib/chroot-buildpackages.sh
Labels: 7.needs testing

#2839 Vnstat throws out garbage under certain, actually common, conditions
  packages/bsp/common/etc/default/armbian-motd.dpkg-dist
Labels: 2.confirmed bug, 9.ready for merge

#2842 Rework u-boot writing part
  lib/image-helpers.sh
Labels: 2.confirmed bug, 9.ready for merge

#2824 Improve sunxi fix-a64-timejump.patch
  patch/kernel/archive/sunxi-5.10/fix-a64-timejump.patch
  patch/kernel/archive/sunxi-5.11/fix-a64-timejump.patch
  patch/kernel/archive/sunxi-5.12/fix-a64-timejump.patch
  patch/kernel/archive/sunxi-5.4/fix-a64-timejump.patch
Labels: 2.confirmed bug, 9.ready for merge

#2838 Adjust build targets
  config/targets-desktop-beta.conf
  config/targets.conf
Labels: 6.WIP

#2848 More motd related fixed
  packages/bsp/common/etc/default/armbian-motd.dpkg-dist
  packages/bsp/common/etc/update-motd.d/30-armbian-sysinfo
Labels: 2.confirmed bug, 9.ready for merge

#2845 Make nls_ascii become built-in
  config/kernel/linux-imx6-current.config
  config/kernel/linux-imx6-edge.config
  config/kernel/linux-jetson-nano-current.config
  config/kernel/linux-jetson-nano-edge.config
  config/kernel/linux-meson-current.config
  config/kernel/linux-meson-edge.config
  config/kernel/linux-meson-legacy.config
  config/kernel/linux-meson64-current.config
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-meson64-legacy.config
  config/kernel/linux-mt7623-edge.config
  config/kernel/linux-mt7623-legacy.config
  config/kernel/linux-mvebu-current.config
  config/kernel/linux-mvebu-edge.config
  config/kernel/linux-mvebu-legacy.config
  config/kernel/linux-mvebu64-current.config
  config/kernel/linux-mvebu64-edge.config
  config/kernel/linux-mvebu64-legacy.config
  config/kernel/linux-odroidxu4-current.config
  config/kernel/linux-rk3399-legacy.config
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-s5p6818-legacy.config
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-sunxi64-legacy.config
  config/kernel/linux-virtual-current.config
  config/kernel/linux-zynq-legacy.config
Labels: 9.ready for merge

#2853 Fix inconsistent indent
  config/bootscripts/boot-sunxi.cmd
Labels: 9.ready for merge

#2852 docker on aarch64 need same settings as on amd64
  lib/general.sh
Labels: 9.ready for merge

#2851 Fixed recompilation of kernel headers into a single thread.
  packages/armbian/builddeb
  packages/armbian/mkdebian
Labels: 9.ready for merge

#2855 Remove extra tab
  config/bootscripts/boot-meson64.cmd
Labels: 9.ready for merge

#2863 Bugfix: Docker does not install on Hirsute host
  compile.sh
Labels: 2.confirmed bug, 9.ready for merge
