Repository armbian/build, pull requests merged in 2021-08, with the labels that each got.

#3076 Re-enable 8723ds on 5.14
  lib/compilation-prepare.sh
Labels: 2.confirmed bug, 9.ready for merge

#3077 This corrects the theme issue on xfce to NumixBlue
  config/desktop/focal/environments/xfce/debian/postinst
Labels: desktop, enhancement

#3078 fixed typo's in the wallpaper xml file for xfce desktop
  packages/blobs/desktop/skel/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
Labels: desktop

#3079 Do compress and sign operation in the temp folder
  lib/debootstrap.sh
Labels: 9.ready for merge

#3075 Double workers
  .github/workflows/build-stable-images.yml
Labels: 9.ready for merge

#3083 Updated_Upstream_rtl88x2bu
  lib/compilation-prepare.sh
  patch/misc/wireless-realtek-88x2bu-5.12.patch
Labels: 2.confirmed bug, 9.ready for merge, good first issue

#3082 /usr/lib/armbian/armbian-common: typo, quotes
  packages/bsp/common/usr/lib/armbian/armbian-common
Labels: 9.ready for merge

#3087 Re-enable Debian stretch repository
  lib/general.sh
Labels: 9.ready for merge

#3080 added packages to remove that dont need to be installed
  config/desktop/focal/environments/deepin/config_base/packages
  config/desktop/focal/environments/deepin/config_base/packages.uninstall
Labels: enhancement, desktop

#3089 Fixing ethernet on K2, audio on C2 and patch cleanup
  patch/kernel/archive/meson64-5.10/0031-WIP-clk-meson-g12a-fix-gp0-and-hifi-ranges.patch
  patch/kernel/archive/meson64-5.10/SOC-GXM-fix-cpu-scheduling.patch
  patch/kernel/archive/meson64-5.10/SOC-SM1-Add-higher-clocks.patch
  patch/kernel/archive/meson64-5.10/board-nanopi-k2-ethernet-fix.patch
  patch/kernel/archive/meson64-5.10/board-odroid-C4-ethernet.patch
  patch/kernel/archive/meson64-5.10/board-odroid-HC4_red_led_kernel_support.patch
  patch/kernel/archive/meson64-5.10/board-odroid-N2+-Add-missing-CPU-opp-values.patch
  patch/kernel/archive/meson64-5.10/board-odroid-c2-add-uartA-uartC.patch
  patch/kernel/archive/meson64-5.10/board-odroid-c2-enable-SPI.patch
  patch/kernel/archive/meson64-5.10/board-odroid-c2-enable-scpi-dvfs.patch
  patch/kernel/archive/meson64-5.10/board-odroidc2-add-sound.patch
  patch/kernel/archive/meson64-5.10/general-convert-to-devm_platform_ioremap_resource.patch
Labels: 2.confirmed bug

#3091 Fixing first login shows "degraded"
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: 2.confirmed bug, 9.ready for merge

#3090 revert xcfe to old look
  config/desktop/focal/environments/xfce/debian/postinst
  packages/blobs/desktop/skel/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
  packages/blobs/desktop/skel/.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
  packages/blobs/desktop/skel/.config/xfce4/xfconf/xfce-perchannel-xml/xsettings.xml
Labels: 9.ready for merge, desktop

#3094 Adjusting Cinnamon Focal / Hirsute back to stock graphics
  config/desktop/focal/environments/cinnamon/armbian/create_desktop_package.sh
  config/desktop/focal/environments/cinnamon/config_base/packages.uninstall
  config/desktop/focal/environments/cinnamon/debian/postinst
  packages/blobs/desktop/skel/.cinnamon/configs/menu@cinnamon.org/0.json
Labels: enhancement, 9.ready for merge, desktop

#3093 Fix the buster xfce to have old desktop background
  config/desktop/buster/environments/xfce/debian/postinst
Labels: desktop

#3092 Helios64 combine hwmon rules between legacy and current
  config/sources/families/include/rockchip64_common.inc
  packages/bsp/helios64/90-helios64-hwmon-legacy.rules
  packages/bsp/helios64/90-helios64-hwmon.rules
Labels: 3.help wanted, 7.needs testing

#3097 Remove deprecated patch
  patch/kernel/archive/rockchip64-5.13/need-checking/general-rkvdec_nv15.patch
Labels: 9.ready for merge

#3096 removed srccpy from xfce
  config/desktop/focal/environments/xfce/config_base/packages
Labels: desktop

#3095 rolled budgie login and desktop back to old imgs
  config/desktop/focal/environments/budgie/debian/postinst
Labels: desktop

#3101 Add driver for Realtek 8822CS (SDIO) Wi-Fi adapter.
  lib/compilation-prepare.sh
Labels: 8.beta, good first issue

#3099 Exclude IP of network interface with :avahi at the end of name
  packages/bsp/common/etc/update-motd.d/30-armbian-sysinfo
Labels: 2.confirmed bug, 9.ready for merge

#3104 Enable 3D on remaining desktop builds and other desktop tweaks
  config/desktop/buster/environments/lxde/config_base/packages
  config/desktop/buster/environments/xfce/config_base/packages
  config/desktop/focal/environments/budgie/config_base/packages
  config/desktop/focal/environments/cinnamon/config_base/packages
  config/desktop/focal/environments/cinnamon/config_base/packages.uninstall
  config/desktop/focal/environments/enlightenment/config_base/packages
  config/desktop/focal/environments/i3-wm/config_base/packages
  config/desktop/focal/environments/kde-plasma/config_base/packages
  config/desktop/focal/environments/mate/config_base/packages
  config/desktop/focal/environments/xfce/config_base/packages
  config/desktop/focal/environments/xmonad/config_base/packages
  config/desktop/sid/environments/lxde/config_base/packages
  config/desktop/sid/environments/xfce/config_base/packages
  config/targets.conf
Labels: 9.ready for merge, 6.WIP

#3102 Promote Bullseye to "supported"
  config/distributions/bullseye/support
  config/targets.conf
Labels: 1.discussion, 9.ready for merge

#3107 Disable 3D for Meson SM1 / G12 due to uncomplete support
  config/targets.conf
Labels: 2.confirmed bug, 0.question

#3109 Remove few packages from Budgie desktop to make it slimmer
  config/desktop/focal/environments/budgie/config_base/packages
  config/desktop/focal/environments/budgie/config_base/packages.uninstall
Labels: 2.confirmed bug, 9.ready for merge
