Repository armbian/build, pull requests merged in 2021-04, with the labels that each got.

#2746 First login keyboard configuration bugfix
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: 2.confirmed bug, 7.needs testing

#2745 Bump Allwinner u-boot to 2021.04
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/u-boot/u-boot-sunxi/add-a64-orangepiwinplus-emmc-support.patch
  patch/u-boot/u-boot-sunxi/add-orangepi3.patch
  patch/u-boot/u-boot-sunxi/add-pinecube.patch
  patch/u-boot/u-boot-sunxi/add-pineh64-model-b.patch
  patch/u-boot/u-boot-sunxi/adjust-default-dram-clockspeeds.patch
  patch/u-boot/u-boot-sunxi/enable-autoboot-keyed.patch
  patch/u-boot/u-boot-sunxi/fix-u-boot-alloc-space.patch
  patch/u-boot/u-boot-sunxi/h3-enable-alt-uart-console.patch
  patch/u-boot/u-boot-sunxi/s3-support.patch
Labels: 7.needs testing, 8.beta, 9.ready for merge

#2608 fix arithmetic to align filesystem sizes to 16MiB (not 16KiB)
  packages/bsp/common/usr/lib/armbian/armbian-resize-filesystem
  packages/bsp/common/usr/sbin/nand-sata-install
Labels: 4.need PR, c:build scripts

#2721 add user path for configuration scan and check for NetworkManager
  lib/chroot-buildpackages.sh
  lib/compilation.sh
  lib/configuration.sh
  lib/debootstrap.sh
  lib/distributions.sh
  lib/general.sh
  lib/main.sh
  lib/makeboarddeb.sh
Labels: 7.needs testing

#2758 fix firefly-rk3399
  patch/kernel/archive/rockchip64-5.10/zzzz-add-rk3399-firefly-dts.patch
Labels: 8.beta, 9.ready for merge

#2755 rockchip: add Orange Pi R1 Plus support
  config/boards/orangepi-r1plus.conf
  config/sources/families/include/rockchip64_common.inc
  patch/kernel/archive/rockchip64-5.10/add-board-nanopi-r2s.patch
  patch/kernel/archive/rockchip64-5.10/add-board-orangepi-r1plus.patch
  patch/kernel/archive/rockchip64-5.10/add-boards-to-dts-makefile.patch
  patch/kernel/archive/rockchip64-5.11/add-board-nanopi-r2s.patch
  patch/kernel/archive/rockchip64-5.11/add-board-orangepi-r1plus.patch
  patch/kernel/archive/rockchip64-5.11/add-boards-to-dts-makefile.patch
  patch/u-boot/u-boot-rockchip64-edge/add-board-orangepi-r1plus.patch
  patch/u-boot/u-boot-rockchip64-mainline/add-board-orangepi-r1plus.patch
Labels: 6.WIP

#2743 add upstream patches
  patch/kernel/archive/sunxi-5.10/patch-5.10.21-22.patch
  patch/kernel/archive/sunxi-5.10/patch-5.10.22-23.patch
  patch/kernel/archive/sunxi-5.10/patch-5.10.23-24.patch
  patch/kernel/archive/sunxi-5.10/patch-5.10.24-25.patch
  patch/kernel/archive/sunxi-5.10/patch-5.10.25-26.patch
  patch/kernel/archive/sunxi-5.10/patch-5.10.26-27.patch
  patch/kernel/archive/sunxi-5.10/patch-5.10.27-28.patch
  patch/kernel/archive/sunxi-5.10/patch-5.10.28-29.patch
Labels: 8.beta

#2764 Add support Mint 20.1 ulyssa.
  lib/general.sh
Labels: 9.ready for merge, good first issue

#2765 fix firefly-rk3328-roc-cc and libre renegade
  config/boards/renegade.conf
Labels: 9.ready for merge

#2766 fix extlinux.conf for u-boot dtb and add arm32
  config/sources/arm64.conf
  config/sources/armhf.conf
  lib/distributions.sh
Labels: 9.ready for merge

#2767 move station to extlinux.conf
  config/boards/station-m1.csc
  config/boards/station-p1.csc
Labels: 9.ready for merge

#2773 Fixing boot loader compiling issues on Odroid XU4
  patch/u-boot/u-boot-odroidxu4/fix_build_for_recent_host-side_libfdt.patch
Labels: 2.confirmed bug, 9.ready for merge

#2771 Update odroidxu4-current to 5.4.111
  patch/kernel/archive/odroidxu4-5.4/0001-patch-5.4.98-99.patch
  patch/kernel/archive/odroidxu4-5.4/0001-patch-5.4.99-100.patch
  patch/kernel/archive/odroidxu4-5.4/0002-patch-5.4.100-101.patch
  patch/kernel/archive/odroidxu4-5.4/0002-patch-5.4.101-102.patch
  patch/kernel/archive/odroidxu4-5.4/0002-patch-5.4.102-103.patch
  patch/kernel/archive/odroidxu4-5.4/0002-patch-5.4.103-104.patch
  patch/kernel/archive/odroidxu4-5.4/0002-patch-5.4.104-105.patch
  patch/kernel/archive/odroidxu4-5.4/0002-patch-5.4.105-106.patch
  patch/kernel/archive/odroidxu4-5.4/0002-patch-5.4.106-107.patch
  patch/kernel/archive/odroidxu4-5.4/0002-patch-5.4.107-108.patch
  patch/kernel/archive/odroidxu4-5.4/0002-patch-5.4.108-109.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.109-110.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.110-111.patch
Labels: 9.ready for merge

#2768 Better conditions for newer distribution
  lib/chroot-buildpackages.sh
  packages/extras-buildpkgs/04-libvdpau.conf
  packages/extras-buildpkgs/05-libump.conf
  packages/extras-buildpkgs/06-libcedrus.conf
  packages/extras-buildpkgs/06-xf86-video-fbturbo.conf
  packages/extras-buildpkgs/90-fswebcam-gc2035.conf.disabled
  packages/extras-buildpkgs/90-guvcview.conf.disabled
  packages/extras-buildpkgs/90-htop.conf
  packages/extras-buildpkgs/90-libglshim.conf
  packages/extras-buildpkgs/90-libmali-sunxi-r3p0.conf
  packages/extras-buildpkgs/90-libmali-sunxi-r3p0.conf.old
  packages/extras-buildpkgs/90-libvdpau-sunxi.conf
  packages/extras-buildpkgs/90-sunxi-tools.conf
Labels: 8.beta

#2753 Add vnstat network statistic measurement to the standard CLI image
  config/cli/bullseye/main/config_cli_standard/packages
  config/cli/buster/main/config_cli_standard/packages
  config/cli/focal/main/config_cli_standard/packages
Labels: 1.discussion

#2780 copy hostdev libfdt-dev compatibility patch, fixes odroidn2
  patch/u-boot/u-boot-odroid/fix_build_for_recent_host-side_libfdt.patch
Labels: 2.confirmed bug, 9.ready for merge

#2781 enable usbip and usbip vhci-hcd as module to all devices
  config/kernel/linux-imx7d-legacy.config
  config/kernel/linux-meson64-legacy.config
  config/kernel/linux-mt7623-edge.config
  config/kernel/linux-mt7623-legacy.config
  config/kernel/linux-mvebu64-current.config
  config/kernel/linux-mvebu64-edge.config
  config/kernel/linux-odroidxu4-current.config
  config/kernel/linux-odroidxu4-edge.config
  config/kernel/linux-rk322x-legacy.config
  config/kernel/linux-rockchip-legacy.config
Labels: 7.needs testing, 9.ready for merge

#2779 Renaming the BSP package to armbian-bsp
  lib/distributions.sh
  lib/main.sh
  lib/makeboarddeb.sh
Labels: 7.needs testing, 8.beta, 9.ready for merge

#2499 Merge neofetch to armbian-config
  lib/compilation.sh
  patch/misc/add-armbian-neofetch.patch
Labels: 0.question, 8.beta, 9.ready for merge

#2783 Improvements and fixes for new armbian-bsp package creation
  lib/general.sh
  lib/image-helpers.sh
  lib/main.sh
  lib/makeboarddeb.sh
Labels: 2.confirmed bug, 6.WIP, 8.beta, 9.ready for merge

#2788 Proper fix for locking desktop wallpaper
  config/desktop/focal/environments/budgie/debian/postinst
  config/desktop/focal/environments/cinnamon/debian/postinst
  config/desktop/focal/environments/gnome/debian/postinst
  config/desktop/focal/environments/mate/debian/postinst
Labels: 6.WIP, 9.ready for merge

#2790 Unlock Hirsute
  README.md
  config/distributions/hirsute/support
  config/templates/Dockerfile
Labels: 5.waiting for upstream, 6.WIP

#2792 Add i3 wm
  config/desktop/hirsute/environments/i3-wm/armbian/create_desktop_package.sh
  config/desktop/hirsute/environments/i3-wm/config_base/packages
  config/desktop/hirsute/environments/i3-wm/config_base/packages.uninstall
  config/desktop/hirsute/environments/i3-wm/debian/postinst
  config/desktop/hirsute/environments/i3-wm/only_for
  config/desktop/hirsute/environments/i3-wm/support
Labels: 9.ready for merge
