Repository armbian/build, pull requests merged in 2021-03, with the labels that each got.

#2679 Add overlay_error env on sunxi64 to enable overlays support
  config/bootscripts/boot-mvebu.cmd
  config/bootscripts/boot-sun50i-next.cmd
Labels: 2.confirmed bug

#2663 NanoPi M4V2 stability fix for current and dev
  patch/kernel/rockchip64-current/board-nanopi-m4v2-dts-fix-stability-issues.patch
  patch/kernel/rockchip64-current/general-rk808-configrable-switch-voltage-steps.patch
  patch/kernel/rockchip64-dev/add-board-nanopi-m4v2.patch
  patch/kernel/rockchip64-dev/board-nanopi-m4v2-dts-fix-stability-issues.patch
  patch/kernel/rockchip64-dev/general-rk808-configurable-switch-voltage-steps.patch
  patch/u-boot/u-boot-rockchip64-mainline/add-board-nanopi-m4v2.patch
Labels: 7.needs testing, 8.beta, 9.ready for merge

#2676 RK3399 Typec DP
  config/kernel/linux-rockchip64-current.config
  patch/kernel/rockchip64-current/board-nanopc-t4-add-typec-dp.patch
  patch/kernel/rockchip64-current/board-rockpi4c-add-minidp.patch.WIP
  patch/kernel/rockchip64-current/general-add-miniDP-dt-doc.patch
  patch/kernel/rockchip64-current/general-add-miniDP-virtual-extcon.patch
Labels: 7.needs testing

#2682 Add bfsu mirror as another mirror of tuna
  lib/configuration.sh
  lib/general.sh
Labels: 8.beta, good first issue

#2684 Most recent git client returns protocol in get-url origin
  lib/general.sh
Labels: 2.confirmed bug, 9.ready for merge

#2688 OrangePi Zero Plus Add PXE boot support
  patch/u-boot/u-boot-sunxi/add-orangepi-zero-plus-pxe-support.patch
Labels: 8.beta, c:u-boot, good first issue

#2693 Bugfix: missing distribution support status in automated builds
  lib/general.sh
  lib/makeboarddeb.sh
Labels: 2.confirmed bug, 9.ready for merge

#2678 Increase number of inodes during FS creation
  lib/debootstrap.sh
Labels: 7.needs testing, 8.beta, c:build scripts, good first issue

#2694 Bugfix for ZSH on upgrades
  lib/compilation.sh
Labels: 2.confirmed bug, 7.needs testing, 8.beta, 9.ready for merge

#2699 Adjust compiler fixes that it builds on more modern build host
  patch/kernel/mvebu64-legacy/0001-fixing-dtc-error.patch
  patch/kernel/rk322x-legacy/0001-fixing-dtc-error.patch
  patch/kernel/rk3399-legacy/0001-fixing-dtc-error.patch
  patch/kernel/rockchip-legacy/0001-fixing-dtc-error.patch
  patch/kernel/rockchip64-legacy/0001-fixing-dtc-error.patch
  patch/u-boot/u-boot-clearfog/0001-fixing-dtc-error.patch
  patch/u-boot/u-boot-helios4/0001-fixing-dtc-error.patch
  patch/u-boot/u-boot-rockchip/board_miqi/0001-fixing-dtc-error.patch
  patch/u-boot/u-boot-rockchip/board_tinkerboard/0001-fixing-dtc-error.patch
Labels: 2.confirmed bug, 8.beta

#2705 Fix armbian-hardware-optimization logrotate editing
  packages/bsp/common/usr/lib/armbian/armbian-hardware-optimization
Labels: 2.confirmed bug, 9.ready for merge

#2707 Fix Motd disk temperature
  packages/bsp/common/etc/update-motd.d/30-armbian-sysinfo
Labels: 9.ready for merge

#2722 add extlinux.conf
  config/sources/arm64.conf
  lib/debootstrap.sh
  lib/distributions.sh
  lib/makeboarddeb.sh
Labels: 7.needs testing

#2725 Fix Firefly RK3399 boot troubles
  config/boards/firefly-rk3399.csc
Labels: 2.confirmed bug, 9.ready for merge

#2723 Enable IMX6 VPU(CODA960) in the kernel config as module.
  config/kernel/linux-imx6-current.config
Labels: 8.beta, good first issue

#2719 Unfixing wallpaper in Gnome based desktops
  config/desktop/focal/environments/budgie/debian/postinst
  config/desktop/focal/environments/cinnamon/debian/postinst
  config/desktop/focal/environments/gnome/debian/postinst
  config/desktop/focal/environments/mate/debian/postinst
Labels: 2.confirmed bug, 7.needs testing

#2703 Add new kernel source mirrors and make use it for armbian-firmware package too
  lib/compilation.sh
  lib/configuration.sh
Labels: 7.needs testing, enhancement

#2720 Adding Nvidia Jetson Nano
  config/boards/jetson-nano.csc
  config/kernel/linux-jetson-nano-current.config
  config/sources/families/jetson-nano.conf
  config/targets.conf
  packages/blobs/jetson/firmware/nvidia/tegra210/vic04_ucode.bin
  packages/blobs/jetson/firmware/nvidia/tegra210/xusb.bin
  packages/bsp/common/etc/initramfs-tools/hooks/jetson.sh
Labels: 6.WIP, 9.ready for merge

#2729 Change apt's default compression method to gzip
  packages/bsp/common/etc/apt/apt.conf.d/02-armbian-compress-indexes
Labels: 9.ready for merge, good first issue

#2733 mvebu remove upstreamed patches
  patch/kernel/mvebu-current/0001-Revert-block-simplify-set_init_blocksize-to-regain-l.patch
  patch/kernel/mvebu-current/95-helios4-dts-assign-pinctrl-to-fan-and-led.patch
  patch/kernel/mvebu-dev/95-helios4-dts-assign-pinctrl-to-fan-and-led.patch
Labels: 7.needs testing, 8.beta

#2623 Re-enable network checksum TX offload on rockchip64 family
  packages/bsp/common/etc/NetworkManager/dispatcher.d/80-update-htop-and-offload-tx
  packages/bsp/common/usr/lib/armbian/armbian-hardware-optimization
  patch/kernel/rk3399-legacy/adjust-pbl-for-mtu-1500.patch
  patch/kernel/rockchip64-legacy/rk3328-adjust-pbl-for-mtu-1500.patch
  patch/kernel/rockchip64-legacy/rk3399-adjust-pbl-for-mtu-1500.patch
Labels: 7.needs testing, 8.beta

#2738 Fix network connection on Nanopi K1+
  patch/kernel/archive/sunxi-5.10/board-h5-add-0000-nanopi-k1plus.patch
  patch/kernel/archive/sunxi-5.11/board-h5-add-0000-nanopi-k1plus.patch
Labels: 2.confirmed bug, 9.ready for merge

#2737 W1 temp sensor display bugfix
  packages/bsp/common/etc/update-motd.d/30-armbian-sysinfo
Labels: 2.confirmed bug, 9.ready for merge

#2732 Some 30-armbian-sysinfo fixes
  packages/bsp/common/etc/default/armbian-motd.dpkg-dist
  packages/bsp/common/etc/update-motd.d/30-armbian-sysinfo
Labels: 9.ready for merge

#2740 Displays that EDGE branch is in action
  packages/bsp/common/etc/update-motd.d/10-armbian-header
Labels: 1.discussion, 9.ready for merge

#2747 U-boot compilation for Tinkerboard break due to missing headers
  config/templates/Dockerfile
  lib/general.sh
Labels: 2.confirmed bug, 9.ready for merge

#2748 Fixing AP mode on Tinkerboard
  patch/kernel/archive/rockchip-5.10/drivers-staging-rtl8723bs-Initialize-structures-corr.patch
  patch/kernel/archive/rockchip-5.11/drivers-staging-rtl8723bs-Initialize-structures-corr.patch
Labels: 2.confirmed bug, 9.ready for merge

#2750 orangepi device tree addition/re-enabling for 5.10.y
  patch/kernel/archive/sunxi-5.10/a20-orangepi-orangepi-mini-dts-fix-eth-hdmi.patch
  patch/kernel/archive/sunxi-5.11/a20-orangepi-orangepi-mini-dts-fix-eth-hdmi.patch
Labels: 8.beta, good first issue

#2744 Add few missing packages
  config/cli/bullseye/main/packages
  config/cli/buster/main/packages
  config/cli/focal/main/packages
  config/desktop/buster/environments/xfce/config_base/packages
  config/desktop/focal/environments/xfce/config_base/packages
  config/desktop/sid/environments/xfce/config_base/packages
Labels: 6.WIP, 9.ready for merge
