Repository armbian/build, pull requests merged in 2021-12, with the labels that each got.

#3304 Several tiny improvements of GH actions
  .github/workflows/build-beta-images.yml
  .github/workflows/build-beta-kernel.yml
  .github/workflows/build-kernel-on-merge-request.yml
  .github/workflows/build-test-image-docker.yml
  .github/workflows/update-repository.yml
Labels: c:actions

#3309 Optimisations after changing sunxi / sunxi64 to the mainline
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: 9.ready for merge, c:bsp

#3308 Update odroidxu4-current to 5.4.163
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.160-161.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.161-162.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.162-163.patch
Labels: c:kernel, 9.ready for merge, maintenance

#3264 JetHome: Update U-Boot to 2022.01-rc2. Clean u-boot patches.
  config/sources/families/jethub.conf
  patch/u-boot/u-boot-jethub/0001-ARM-meson-Sync-Amlogic-DT-from-Linux-5.14.patch
  patch/u-boot/u-boot-jethub/0002-usb-dwc3-meson-gxl-add-AXG-compatible.patch
  patch/u-boot/u-boot-jethub/0003-ARM-meson-keep-HW-order-for-MMC-devices.patch
  patch/u-boot/u-boot-jethub/0004-ARM-meson-axg-remove-local-USB-nodes.patch
  patch/u-boot/u-boot-jethub/0005-configs-meson64-add-SCSI-boot-target.patch
  patch/u-boot/u-boot-jethub/0006-distro_bootcmd-run-pci-enum-for-scsi_boot-just-like-.patch
  patch/u-boot/u-boot-jethub/0007-ARM-amlogic-add-support-for-Odroid-HC4-device.patch
  patch/u-boot/u-boot-jethub/0008-doc-boards-amlogic-update-for-Odroid-HC4.patch
  patch/u-boot/u-boot-jethub/0009-ARM-meson-add-Beelink-GS-King-X-board.patch
  patch/u-boot/u-boot-jethub/0010-ARM-amlogic-add-Banana-Pi-M5.patch
  patch/u-boot/u-boot-jethub/0011-ARM-amlogic-add-JetHub-common-config-header.patch
  patch/u-boot/u-boot-jethub/0012-ARM-amlogic-add-JetHub-D1-H1-device-support.patch
  patch/u-boot/u-boot-jethub/0013-ARM-amlogic-add-JetHub-D1-H1-docs.patch
  patch/u-boot/u-boot-jethub/0014-ARM-amlogic-update-JetHub-D1-H1-configs.patch
  patch/u-boot/u-boot-jethub/0015-ARM-amlogic-add-JetHub-D1-eth-mac-generation-with-ma.patch
  patch/u-boot/u-boot-jethub/0016-ARM-amlogic-add-sm-efuse-write-support-and-cmd-for-r.patch
  patch/u-boot/u-boot-jethub/0017-ARM-amlogic-add-get-size-of-efuse-sm-subcommand.patch
  patch/u-boot/u-boot-jethub/0018-fix-EEPROM-addr-len.patch
Labels: c:u-boot, 9.ready for merge, c:bsp

#3312 Bugfix - hash calculation depends on locale settings
  lib/build-all-ng.sh
  lib/compilation.sh
Labels: 2.confirmed bug, 9.ready for merge, c:build script

#3310 Enable CONFIG_MODULE_FORCE_UNLOAD
  config/kernel/linux-imx6-current.config
  config/kernel/linux-imx6-edge.config
  config/kernel/linux-imx7d-current.config
  config/kernel/linux-imx7d-legacy.config
  config/kernel/linux-jetson-nano-current.config
  config/kernel/linux-jetson-nano-edge.config
  config/kernel/linux-jetson-nano-legacy.config
  config/kernel/linux-meson-current.config
  config/kernel/linux-meson-edge.config
  config/kernel/linux-meson-legacy.config
  config/kernel/linux-meson64-current.config
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-meson64-legacy.config
  config/kernel/linux-mt7623-edge.config
  config/kernel/linux-mt7623-legacy.config
  config/kernel/linux-mvebu-current.config
  config/kernel/linux-mvebu-edge.config
  config/kernel/linux-mvebu-legacy.config
  config/kernel/linux-mvebu64-current.config
  config/kernel/linux-mvebu64-edge.config
  config/kernel/linux-mvebu64-legacy.config
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-rockpis-legacy.config
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-sunxi64-legacy.config
  config/kernel/linux-virtual-current.config
  config/kernel/linux-zynq-legacy.config
Labels: c:kernel

#3315 A pack of CI fixes
  .github/workflows/build-beta-kernel.yml
  .github/workflows/build-kernel-on-merge-request.yml
  .github/workflows/lint-scripts-on-merge-request.yml
  .github/workflows/maintain.yml
  .github/workflows/update-repository.yml
Labels: c:actions

#3316 Bugfix - safer way of deleting headers
  packages/armbian/builddeb
Labels: 2.confirmed bug, 9.ready for merge

#3265 Add box64 package from 3rd party repository
  config/desktop/focal/appgroups/emulators/only_for
  config/desktop/focal/appgroups/emulators/packages
  config/desktop/focal/appgroups/emulators/sources/apt/box64.source
  config/desktop/focal/appgroups/emulators/sources/apt/box64.source.gpg
Labels: enhancement, 9.ready for merge

#3319 Github actions fixes
  .github/workflows/build-beta-kernel.yml
  .github/workflows/build-kernel-on-merge-request.yml
  .github/workflows/update-repository.yml
Labels: c:actions

#3300 extensions framework + UEFI aarch64/x86 + rpi4b + core changes/fixes
  compile.sh
  config/boards/rpi4b.wip
  config/boards/uefi-arm64.wip
  config/boards/uefi-x86.wip
  config/desktop/buster/appgroups/editors/packages
  config/desktop/buster/environments/cinnamon/only_for
  config/desktop/buster/environments/gnome/only_for
  config/desktop/focal/environments/budgie/only_for
  config/desktop/focal/environments/cinnamon/only_for
  config/desktop/focal/environments/deepin/only_for
  config/desktop/focal/environments/enlightenment/only_for
  config/desktop/focal/environments/gnome/only_for
  config/desktop/focal/environments/kde-plasma/only_for
  config/desktop/focal/environments/mate/only_for
  config/desktop/focal/environments/xmonad/only_for
  config/desktop/impish/environments/budgie/only_for
  config/desktop/sid/environments/gnome/only_for
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-x86-edge.config
  config/sources/amd64.conf
  config/sources/arm64.conf
  config/sources/families/bcm2711.conf
  config/sources/families/include/meson64_common.inc
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  config/sources/families/include/uefi_common.inc
  config/sources/families/mvebu.conf
  config/sources/families/mvebu64.conf
  config/sources/families/uefi-arm64.conf
  config/sources/families/uefi-x86.conf
  config/targets-cli-beta.conf
  config/targets-desktop-beta.conf
  config/targets.conf
  config/templates/Dockerfile
  extensions/detect-unused-extensions.sh
  extensions/flash-kernel.sh
  extensions/gen-sample-extension-docs.sh
  extensions/grub.sh
  extensions/marvell-tools.sh
  extensions/rkbin-tools.sh
  extensions/sunxi-tools.sh
  lib/build-all-ng.sh
  lib/compilation-prepare.sh
  lib/compilation.sh
  lib/configuration.sh
  lib/debootstrap.sh
  lib/distributions.sh
  lib/extensions.sh
  lib/general.sh
  lib/image-helpers.sh
  lib/main.sh
  lib/makeboarddeb.sh
  packages/armbian/builddeb
  packages/bsp/common/etc/update-motd.d/10-armbian-header
  packages/bsp/common/usr/lib/armbian/armbian-resize-filesystem
  patch/kernel/archive/uefi-x86-5.15/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/uefi-x86-edge
Labels: c:kernel, c:build script, c:bsp

#3320 bcm2711: allow building KERNEL_ONLY=yes even with unsupported RELEASE
  config/sources/families/bcm2711.conf
Labels: c:bsp

#3321 amd64: fixes for REPOSITORY_INSTALL scenario, don't disable amd64 repo
  lib/distributions.sh
  lib/general.sh
Labels: c:build script

#3299 Add packages needed to satisfy CONFIG_DEBUG_INFO_BTF.
  config/templates/Dockerfile
  lib/general.sh
Labels: 9.ready for merge, c:build script

#3323 Github actions - adding desktop package builder
  .github/workflows/build-beta-desktop.yml
  .github/workflows/build-kernel-on-merge-request.yml
  .github/workflows/build-u-boot.yml
  .github/workflows/update-repository.yml
Labels: c:actions

#3324 Enable desktop packages creation after kernel is built
  .github/workflows/build-beta-desktop.yml
  .github/workflows/update-repository.yml
Labels: maintenance, c:actions

#3328 Mitigate Samba NetBios timeouts
  lib/distributions.sh
Labels: 2.confirmed bug, 9.ready for merge, c:build script

#3327 Improve CI test builds
  .github/workflows/build-test-image-docker.yml
  .github/workflows/update-repository.yml
Labels: 9.ready for merge, c:actions

#3326 Source /etc/armbian-release before the motd conf file
  packages/bsp/common/etc/update-motd.d/10-armbian-header
Labels: enhancement, 9.ready for merge

#3330 Replace NTFS with NTFS3 and add KSMBD
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-imx6-edge.config
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-mvebu-edge.config
  config/kernel/linux-mvebu64-edge.config
  config/kernel/linux-rk322x-edge.config
  config/kernel/linux-rockchip-edge.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-x86-edge.config
Labels: c:kernel, 9.ready for merge

#3325 Add new options to handle mirror selection better
  lib/configuration.sh
  lib/general.sh
Labels: 9.ready for merge, 6.WIP, c:build script

#3329 Sunxi 5.10: Fix ISO C90 forbids mixed declarations and code
  patch/kernel/archive/sunxi-5.10/megous/ARM-dts-sun8i-a83t-tbs-a711-Add-PN544-NFC-support.patch
  patch/kernel/archive/sunxi-5.10/megous/ARM-dts-sun8i-a83t-tbs-a711-Add-flash-led-support.patch
  patch/kernel/archive/sunxi-5.10/megous/ARM-dts-sun8i-a83t-tbs-a711-Add-powerup-down-support.patch
  patch/kernel/archive/sunxi-5.10/megous/ARM-dts-sun8i-a83t-tbs-a711-Add-rear-camera-sensor-H.patch
  patch/kernel/archive/sunxi-5.10/megous/ARM-dts-sun8i-a83t-tbs-a711-Add-regulators-to-the-ac.patch
  patch/kernel/archive/sunxi-5.10/megous/ARM-dts-sun8i-a83t-tbs-a711-Add-sound-support-via-AC.patch
  patch/kernel/archive/sunxi-5.10/megous/ARM-dts-sun8i-a83t-tbs-a711-Add-support-for-the-fron.patch
  patch/kernel/archive/sunxi-5.10/megous/ARM-dts-sun8i-a83t-tbs-a711-Add-support-for-the-vibr.patch
  patch/kernel/archive/sunxi-5.10/megous/ARM-dts-sun8i-a83t-tbs-a711-Don-t-increase-BT-baud-r.patch
  patch/kernel/archive/sunxi-5.10/megous/ARM-dts-sun8i-a83t-tbs-a711-Enable-charging-LED.patch
  patch/kernel/archive/sunxi-5.10/megous/ARM-dts-sun8i-a83t-tbs-a711-Give-Linux-more-privileg.patch
  patch/kernel/archive/sunxi-5.10/megous/ARM-dts-sun8i-a83t-tbs-a711-Increase-voltage-on-the-.patch
  patch/kernel/archive/sunxi-5.10/series.conf
  patch/kernel/archive/sunxi-5.10/x-Fix-declaration-after-statement.patch
  patch/kernel/archive/sunxi-5.15/megous/ARM-dts-sun8i-a83t-tbs-a711-Add-PN544-NFC-support.patch
  patch/kernel/archive/sunxi-5.15/megous/ARM-dts-sun8i-a83t-tbs-a711-Add-camera-sensors-HM506.patch
  patch/kernel/archive/sunxi-5.15/megous/ARM-dts-sun8i-a83t-tbs-a711-Add-flash-led-support.patch
  patch/kernel/archive/sunxi-5.15/megous/ARM-dts-sun8i-a83t-tbs-a711-Add-powerup-down-support.patch
  patch/kernel/archive/sunxi-5.15/megous/ARM-dts-sun8i-a83t-tbs-a711-Add-regulators-to-the-ac.patch
  patch/kernel/archive/sunxi-5.15/megous/ARM-dts-sun8i-a83t-tbs-a711-Add-sound-support-via-AC.patch
  patch/kernel/archive/sunxi-5.15/megous/ARM-dts-sun8i-a83t-tbs-a711-Add-support-for-the-vibr.patch
  patch/kernel/archive/sunxi-5.15/megous/ARM-dts-sun8i-h3-Use-my-own-more-aggressive-OPPs-on-.patch
  patch/kernel/archive/sunxi-5.15/series.conf
Labels: c:kernel, 9.ready for merge

#3331 Skip workflow if previous step failed, fix runner arch dependency
  .github/workflows/build-beta-desktop.yml
  .github/workflows/build-cache.yml
  .github/workflows/build-test-image-docker.yml
Labels: 2.confirmed bug, 9.ready for merge, c:actions

#3332 Odroid XU4 - remove deprecated patches that were breaking build process
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.156-157.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.157-158.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.158-159.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.159-160.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.160-161.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.161-162.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.162-163.patch
Labels: maintenance

#3334 rk322x: minor device tree fixes and upgrades
  patch/kernel/archive/rk322x-4.4/general-add-overlays.patch
  patch/kernel/archive/rk322x-5.10/general-add-overlays.patch
  patch/kernel/archive/rk322x-5.14/general-add-overlays.patch
  patch/kernel/archive/rk322x-5.15/general-add-overlays.patch
  patch/u-boot/u-boot-rk322x/board_rk322x-box/rk322x-box-add-device-tree.patch
Labels: c:kernel, c:u-boot

#3333 Remove the garbage from the `install.log` file
  lib/debootstrap.sh
  patch/kernel/archive/sunxi-5.15/series.conf
Labels: c:kernel, c:build script

#3340 Refactoring host preparation function to address a bug
  lib/general.sh
Labels: 2.confirmed bug, 9.ready for merge, c:build script

#3342 Add support for rootfs / toolchain bind (u)mount
  lib/debootstrap.sh
  lib/general.sh
  lib/image-helpers.sh
Labels: 6.WIP, c:build script

#3343 Backend - enable bind mount with Github actions
  .github/workflows/build-beta-images.yml
Labels: c:actions

#3344 fix kernel panic
  config/kernel/linux-jetson-nano-legacy.config
Labels: c:kernel

#3341 Add warning when build environment is WSL2 docker
  lib/general.sh
Labels: c:build script

#3345 Cosmetic - fix kernel CI artefact package naming
  .github/workflows/build-kernel-on-merge-request.yml
Labels: 2.confirmed bug, 9.ready for merge, c:actions

#3348 JetHome JetHub D1/H1 patch/bsp updates
  packages/bsp/jethub/jethubj80/bluetooth/jethub-rtk-hciattach-starter
  patch/kernel/archive/meson64-5.10/jethome-0007-arm64-meson-fix-dts-for-JetHub-D1.patch
  patch/kernel/archive/meson64-5.10/jethome-0008-arm64-meson-dts-update-dts-for-JetHub-D1.patch
  patch/kernel/archive/meson64-5.10/jethome-0009-arm64-meson-dts-fix-sdio-in-dts-for-JetHub-D1.patch
  patch/kernel/archive/meson64-5.15/jethome-0007-arm64-meson-fix-dts-for-JetHub-D1.patch
  patch/kernel/archive/meson64-5.15/jethome-0008-arm64-meson-dts-update-dts-for-JetHub-D1.patch
  patch/kernel/archive/meson64-5.15/jethome-0009-arm64-meson-dts-fix-sdio-in-dts-for-JetHub-D1.patch
  patch/u-boot/u-boot-jethub/0001-HACK-mmc-meson-gx-limit-to-24MHz.patch
  patch/u-boot/u-boot-jethub/0002-image-board-fix-wrong-implementation-ram-disk-addres.patch
  patch/u-boot/u-boot-jethub/0003-mmc-meson-gx-change-clock-phase-value-on-axg-SoCs.patch
Labels: c:kernel, c:u-boot

#3350 Odroid XU4 update config for 5.15
  config/kernel/linux-odroidxu4-edge.config
Labels: c:kernel

#3351 rockchip-[current,edge]: add pcie hack and lsi scsi/sas support
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  patch/kernel/archive/rockchip64-5.10/board-rockpis-0031-arm64-dts-rk3399-rockpro64-Add-pcie-bus-scan-delay.patch
  patch/kernel/archive/rockchip64-5.10/rk3399-rp64-pcie-Reimplement-rockchip-PCIe-bus-scan-delay.patch
  patch/kernel/archive/rockchip64-5.15/board-rockpis-0031-arm64-dts-rk3399-rockpro64-Add-pcie-bus-scan-delay.patch
  patch/kernel/archive/rockchip64-5.15/rk3399-rp64-pcie-Reimplement-rockchip-PCIe-bus-scan-delay.patch
Labels: c:kernel

#3353 Github Actions - improve beta build process
  .github/workflows/build-beta-desktop.yml
  .github/workflows/build-beta-images.yml
Labels: c:actions

#3355 Fix megouse patches for 5.15.10
  patch/kernel/archive/sunxi-5.15/series.conf
Labels: c:kernel

#3357 Move JetHub D1/H1 to supported boards, reenable, add watchdog
  config/boards/jethubj100.conf
  config/boards/jethubj80.conf
  config/targets-cli-beta.conf
Labels: 9.ready for merge, c:bsp

#3359 Varius updates to CI scripts
  .github/workflows/build-beta-desktop.yml
  .github/workflows/build-beta-images.yml
  .github/workflows/build-beta-kernel.yml
  .github/workflows/build-cache.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-test-image-docker.yml
  .github/workflows/build-u-boot.yml
  .github/workflows/lint-scripts-on-merge-request.yml
  .github/workflows/maintain.yml
  .github/workflows/update-repository.yml
Labels: maintenance, c:actions

#3360 Add support for missing REPOSITORY_INSTALL variants
  lib/main.sh
Labels: 2.confirmed bug, 9.ready for merge, c:build script

#3361 Github Actions update
  .github/workflows/build-beta-images.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-kernel-on-merge-request.yml
  .github/workflows/build-test-image-docker.yml
  .github/workflows/build-u-boot.yml
Labels: maintenance, c:actions

#3358 Attempt to fix kernel OOPS
  patch/kernel/archive/sunxi-5.10/0001-Revert-arm-ioremap-don-t-abuse-pfn_valid-to-check-if.patch
Labels: 2.confirmed bug, c:kernel, 9.ready for merge

#3363 switching Jetson Nano edge to kernel 5.15
  config/boards/jetson-nano.wip
  config/kernel/linux-jetson-nano-edge.config
  config/sources/families/jetson-nano.conf
Labels: c:kernel, c:bsp

#3365 Update odroidxu4-current to 5.4.168
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.167-168.patch
Labels: c:kernel

#3364 fix wifi build Jetson Nano config edge
  config/sources/families/jetson-nano.conf
Labels: c:bsp

#3271 Fix the uboot for rock-3a
  config/kernel/linux-rk35xx-legacy.config
  config/sources/families/rk35xx.conf
  lib/compilation-prepare.sh
  patch/kernel/archive/rk35xx-4.19/general-packaging-4.19.y.patch
  patch/misc/general-packaging-4.19.y-rk35xx.patch
  patch/u-boot/u-boot-rk35xx/board_rock-3a/0001-Lower-the-priority-of-EFI-to-be-after-DOS-partition.patch
  patch/u-boot/u-boot-rk35xx/board_rock-3a/general-soc-based-image-names.patch
Labels: c:kernel, c:u-boot, c:build script, c:bsp

#3366 Assemble needed runs into a GH Actions build train
  .github/workflows/build-beta-desktop.yml
  .github/workflows/build-beta-images.yml
  .github/workflows/build-beta-kernel.yml
  .github/workflows/build-cache.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-kernel-on-merge-request.yml
  .github/workflows/build-test-image-docker.yml
  .github/workflows/build-train.yml
  .github/workflows/build-u-boot.yml
  .github/workflows/maintain.yml
  .github/workflows/update-repository.yml
Labels: 9.ready for merge, c:actions

#3352 add station m2\p2
  config/boards/station-m2.wip
  config/boards/station-p2.wip
  config/kernel/linux-station-p2-legacy.config
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/rockchip64.conf
  packages/blobs/asound.state/asound.state.station-m2
  packages/blobs/asound.state/asound.state.station-p2
Labels: c:kernel, c:bsp

#3369 fix kernel legacy for firefly-rk3399
  config/boards/firefly-rk3399.wip
  patch/kernel/archive/rockchip64-4.4/zzz-rk3399-firefly.patch
Labels: c:kernel, c:bsp

#3368 Install debian packages using a special function
  lib/chroot-buildpackages.sh
  lib/general.sh
  packages/extras-buildpkgs/90-hostapd-realtek.conf
  packages/extras-buildpkgs/90-hostapd.conf
  packages/extras-buildpkgs/90-sunxi-tools.conf
  packages/extras-buildpkgs/sunxi-tools/debian/control
Labels: c:build script
