Repository armbian/build, pull requests merged in 2022-07, with the labels that each got.

#3953 Roc rk3399 pc enable type C
  patch/kernel/archive/rockchip64-5.15/board-rk3399-roc-pc-add-type-C.patch
  patch/kernel/archive/rockchip64-5.15/board-roc-rk3399-pc-fix-fusb302-compatible.patch
Labels: Hardware :gear:

#3954 Bump sunxi version to latest and add upstream patches for odroid xu4
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.199-200.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.200-201.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.201-202.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.202-203.patch
Labels: Ready :arrow_right:, Hardware :gear:

#3958 Apply eMMC hack to Radxa Zero's U-Boot
  patch/u-boot/u-boot-meson64/board_radxa-zero/0001-HACK-mmc-meson-gx-limit-to-24MHz.patch
Labels: Hardware :gear:

#3957 RK3328 fix USB3 5.15
  patch/kernel/archive/rockchip64-5.15/add-rk3328-usb3-phy-driver.patch
  patch/kernel/archive/rockchip64-5.15/board-renegade-dts-cleanup.patch.dis
  patch/kernel/archive/rockchip64-5.15/board-rk3328-roc-cc-rock64-add-usb3.patch
Labels: Hardware :gear:

#3963 RK3328 cleanup
  patch/kernel/archive/rockchip64-5.15/add-board-rk3328-roc-pc-as-station-m1.patch
  patch/kernel/archive/rockchip64-5.15/add-boards-to-dts-makefile.patch
  patch/kernel/archive/rockchip64-5.15/add-rk3328-usb3-phy-driver.patch
  patch/kernel/archive/rockchip64-5.15/board-rk3328-roc-pc-dts-enable-dmc.patch
  patch/kernel/archive/rockchip64-5.15/board-rk3328-roc-pc-dts-ram-profile.patch
  patch/kernel/archive/rockchip64-5.15/rk3328-add-board-orangepi-r1-plus-lts.patch
Labels: Hardware :gear:

#3960 media u-boot-2022.07
  config/sources/families/media.conf
  patch/u-boot/u-boot-media/010-add-trust-ini.patch
  patch/u-boot/u-boot-media/020-rk3328-efuse-driver.patch
  patch/u-boot/u-boot-media/040-u-boot-0010-rk-usb-start.patch
  patch/u-boot/u-boot-media/050-u-boot-rk3399-roc-pc-plus.patch
  patch/u-boot/u-boot-media/060-u-boot-rk3399-roc-pc-plus-dts.patch
  patch/u-boot/u-boot-media/070-u-boot-rk-rk3328-dtsi.patch
  patch/u-boot/u-boot-media/080-u-boot-rk-rk3328-roc-cc-dts.patch
  patch/u-boot/u-boot-media/090-u-boot-rk-rk3328-roc-pc-config.patch
  patch/u-boot/u-boot-media/100-u-boot-rk-rk3328-roc-pc-dts.patch
  patch/u-boot/u-boot-media/110-u-boot-rk-rk3328-roc-pc-include.patch
  patch/u-boot/u-boot-media/120-u-boot-rk-rk3328-roc-pc-make-dts.patch
  patch/u-boot/u-boot-media/130-u-boot-rk-rk3399-usb-start.patch
  patch/u-boot/u-boot-media/140-u-boot-rk-rk3399-usb-start-firefly-rk3399.patch
  patch/u-boot/u-boot-media/150-u-boot-rk-rk3399-usb-start-nanopc-t4.patch
  patch/u-boot/u-boot-station-p2/add-start-usb.patch
  patch/u-boot/u-boot-station-p2/add-station-p2-rk3568_defconfig.patch
Labels: Ready :arrow_right:, Hardware :gear:

#3970 Update odroidxu4-current to 5.4.204
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.203-204.patch
Labels: Ready :arrow_right:, Hardware :gear:

#3966 Brentr
  patch/kernel/archive/rockchip64-5.18/board-rockpis-0028-arm64-dts-rk3308-add-opp-1300mhz.patch
  patch/kernel/archive/rockchip64-5.18/board-rockpis-0030-disabled-emmc-fix-boot-sdcard.patch
Labels: Ready :arrow_right:, Hardware :gear:

#3955 Verifying md5 of installed deb packages with debsums
  config/cli/bullseye/debootstrap/packages
  config/cli/bullseye/main/packages.uninstall
  config/cli/buster/debootstrap/packages
  config/cli/buster/main/packages.uninstall
  config/cli/focal/debootstrap/packages
  config/cli/focal/main/packages.uninstall
  config/cli/jammy/debootstrap/packages
  config/cli/jammy/main/packages.uninstall
  config/cli/sid/debootstrap/packages
  config/cli/sid/main/packages.uninstall
  lib/debootstrap.sh
Labels: Ready :arrow_right:, Software :chains:

#3964 Orangepi One Plus Rollback to i2c
  patch/kernel/archive/sunxi-5.15/patches.armbian/Orangepi_one_plus_Rollback-r_rsb-to-r_i2c.patch
  patch/kernel/archive/sunxi-5.15/series.armbian
  patch/kernel/archive/sunxi-5.15/series.conf
  patch/kernel/archive/sunxi-5.18/patches.armbian/Orangepi_one_plus_Rollback-r_rsb-to-r_i2c.patch
  patch/kernel/archive/sunxi-5.18/series.armbian
  patch/kernel/archive/sunxi-5.18/series.conf
Labels: Ready :arrow_right:, Hardware :gear:

#3965 Update oneshot service for eth reset at system start. (AR-1098)
  config/sources/families/jethub.conf
  packages/bsp/jethub/jethub-ethreset
  packages/bsp/jethub/jethub-ethreset.service
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#3940 Enable Debian Gnome, Budgie, Cinnamon and KDE plasma desktops
  config/targets-cli-beta.conf
  config/targets-desktop-beta.conf
  config/targets.conf
Labels: Ready :arrow_right:

#3977 allow booting off more than first partition with distroboot
  config/bootscripts/boot-espressobin.cmd
Labels: Ready :arrow_right:, Hardware :gear:

#3976 rockchip64: fix rk3318-box cpu voltages
  patch/kernel/archive/rockchip64-5.15/add-board-tvbox-rk3318.patch
  patch/kernel/archive/rockchip64-5.18/add-board-tvbox-rk3318.patch
Labels: Ready :arrow_right:, Hardware :gear:

#3974 Bugfix for bumping media edge to 5.19.y
  config/sources/families/media.conf
Labels: Ready :arrow_right:, Hardware :gear:

#3952 adding new apps to the build .
  config/desktop/buster/appgroups/chat/packages
  config/desktop/focal/appgroups/chat/packages
Labels: Desktop :desktop_computer:, Ready :arrow_right:

#3969 Refactored orangepi-r1plus-lts dts in kernel add board patch
  patch/kernel/archive/rockchip64-5.15/add-board-orangepi-r1-plus-lts.patch
  patch/kernel/archive/rockchip64-5.15/rk3328-add-board-orangepi-r1-plus-lts.patch
  patch/kernel/archive/rockchip64-5.18/add-board-orangepi-r1-plus-lts.patch
  patch/kernel/archive/rockchip64-5.18/rk3328-add-board-orangepi-r1-plus-lts.patch
Labels: Hardware :gear:

#3979 Rockchip64-current: fix nanoPi NEO 3 DTS makefile
  patch/kernel/archive/rockchip64-5.15/add-board-xxx-nanopi-Neo3-with-enabled-I2S-and-spdif.patch
  patch/kernel/archive/rockchip64-5.15/add-boards-to-dts-makefile.patch
Labels: Hardware :gear:

#3983 Removing escaping which proved to cause the problem here
  lib/debootstrap.sh
Labels: Ready :arrow_right:, Software :chains:

#3982 Add ovpn connection dialogue / gnome legacy
  config/desktop/bullseye/environments/gnome/config_base/packages
  config/desktop/buster/environments/gnome/config_base/packages
  config/desktop/jammy/environments/gnome/config_base/packages
  config/desktop/sid/environments/gnome/config_base/packages
Labels: Desktop :desktop_computer:, Ready :arrow_right:

#3985 Remove non-existing package
  config/desktop/buster/appgroups/chat/packages
Labels: Ready :arrow_right:, Bugfix :radioactive:

#3986 Bump sunxi
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#3975 Fix bug in vagrant options handling
  config/templates/config-vagrant.conf
Labels: Ready :arrow_right:, Bugfix :radioactive:

#3992 Sunxi 5.15
  patch/kernel/archive/sunxi-5.15/patches.armbian/Orangepi_one_plus_Rollback-r_rsb-to-r_i2c.patch
  patch/kernel/archive/sunxi-5.15/series.conf
Labels: Ready :arrow_right:, Hardware :gear:

#3993 Fix armbian-led-state-save.sh for boards without gpio leds.
  packages/bsp/common/usr/lib/armbian/armbian-led-state-save.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:

#3995 packages/bsp/common: use iw instead of iwconfig
  packages/bsp/common/etc/udev/rules.d/10-wifi-disable-powermanagement.rules
Labels: Ready :arrow_right:

#3994 Shellcheck fixes on armbianmonitor
  packages/bsp/common/usr/bin/armbianmonitor
  packages/bsp/mvebu/helios4/mdadm-fault-led.sh
Labels: Ready :arrow_right:

#3971 Add libvirt support for Vagrantfile
  config/templates/Vagrantfile
Labels: Ready :arrow_right:

#3990 Adapt patches to kernel version 5.10.130
  patch/kernel/archive/sunxi-5.10/megous/ARM-dts-sunxi-Add-aliases-fro-mmc.patch
  patch/kernel/archive/sunxi-5.10/megous/cpufreq-sun50i-Show-detected-CPU-bin-for-easier-debu.patch
  patch/kernel/archive/sunxi-5.10/megous/mailbox-Allow-to-run-mailbox-while-timekeeping-is-su.patch
  patch/kernel/archive/sunxi-5.10/megous/power-supply-axp20x_battery-Add-support-for-reportin.patch
Labels: Ready :arrow_right:, Hardware :gear:

#3996 Cleanup: remove deprecated functionality
  lib/build-all-ng.sh
  lib/debootstrap.sh
  lib/image-helpers.sh
  lib/main.sh
Labels: Ready :arrow_right:, Software :chains:

#4004 Bump sunxi kernels
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#4003 csc support for radxa rock 4b+ using mainline edge
  config/boards/rockpi-4bplus.csc
Labels: Ready :arrow_right:, Hardware :gear:

#4002 Allow non-legacy RockPi-S images to boot from their built-in EMMC (ak…
  config/boards/rockpi-s.csc
  config/sources/families/rockpis.conf
  packages/blobs/rockchip/rk3308_idbloader_ddr589MHz_uart0_m0_v2.06.136sd.bin
  packages/blobs/rockchip/rk3308_loader_ddr589MHz_uart0_m0_v2.06.136sd.bin
  patch/u-boot/u-boot-rockchip64/board_rockpi-s/u-boot-rock-pi-s-console0.patch
Labels: Ready :arrow_right:, Hardware :gear:

#3988 Add basic images for RockPi-S
  config/boards/rockpi-s.conf
  config/targets-cli-beta.conf
  config/targets.conf
Labels: Ready :arrow_right:, Hardware :gear:

#3998 Suppress error if gitconfig file does not exists
  compile.sh
Labels: Ready :arrow_right:

#4009 move kernel jetson-nano current and edge
  config/sources/families/jetson-nano.conf
  config/sources/families/media.conf
Labels: Hardware :gear:

#4005 Update armbian-ramlog - keep files created by logrotate
  packages/bsp/common/usr/lib/armbian/armbian-ramlog
Labels: Good first issue :dart:

#4007 update u-boot config name for rock-3a
  config/boards/rock-3a.conf
Labels: Hardware :gear:

#4018 Bump Allwinner to latest
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:

#4022 Onecloud: fix bugs
  config/kernel/linux-meson-current.config
  config/kernel/linux-meson-edge.config
  config/kernel/linux-meson-legacy.config
  config/sources/families/include/meson_common.inc
  packages/bsp/common/usr/lib/armbian/armbian-firstrun
  patch/kernel/archive/meson-5.14/board_onecloud/add-dts.patch
  patch/kernel/archive/meson-5.18/board_onecloud/0001-add-dts.patch
Labels: Hardware :gear:

#4017 move jetson-nano to media
  config/boards/jetson-nano.conf
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/jetson-nano.conf
  config/sources/families/media.conf
  patch/kernel/archive/media-5.19/990-sound-rk.patch
  patch/kernel/archive/station-p2-5.18/0450-v91-phy-rockchip-inno-usb2.patch
  patch/u-boot/u-boot-media/160-enable-DT-overlays-support.patch
  patch/u-boot/u-boot-media/170-general-add-xtx-spi-nor-chips.patch
  patch/u-boot/u-boot-media/180-rk3399-always-init-rkclk.patch
  patch/u-boot/u-boot-media/190-rk3399-enable-stable-mac.patch
  patch/u-boot/u-boot-media/200-rk3399-populate-child-node-of-syscon.patch
  patch/u-boot/u-boot-media/210-sdmmc-force-fifo-mode-in-spl.patch
  patch/u-boot/u-boot-media/220-u-boot-rk3399-roc-pc-plus.patch
  patch/u-boot/u-boot-media/230-u-boot-rk3399-roc-pc-plus-dts.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4014 Bugfix: fix issue that 30-armbian-sysinfo doesn't show network usage
  packages/bsp/common/etc/update-motd.d/30-armbian-sysinfo
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4013 some shellcheck fixes
  packages/bsp/armbianmonitor/armbianmonitor-daemon
  packages/bsp/common/etc/default/armbian-motd.dpkg-dist
  packages/bsp/common/etc/profile.d/armbian-check-first-login-reboot.sh
  packages/bsp/common/etc/update-motd.d/10-armbian-header
  packages/bsp/common/usr/bin/armbianmonitor
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
  packages/bsp/common/usr/lib/armbian/armbian-firstrun
  packages/bsp/common/usr/lib/armbian/armbian-firstrun-config
  packages/bsp/common/usr/lib/armbian/armbian-hardware-monitor
  packages/bsp/common/usr/lib/armbian/armbian-hardware-optimization
  packages/bsp/common/usr/sbin/ddbr
  packages/bsp/h3consumption
Labels: Ready :arrow_right:

#4019 fix: Change the format of the latest patch
  patch/kernel/archive/sunxi-5.18/patches.armbian/Orangepi_one_plus_Rollback-r_rsb-to-r_i2c.patch
  patch/kernel/archive/sunxi-5.18/patches.armbian/arm64-dts-sun50i-h6-orangepi.dtsi-Rollback-r_rsb-to-r_i2c.patch
  patch/kernel/archive/sunxi-5.18/series.armbian
  patch/kernel/archive/sunxi-5.18/series.conf
Labels: Ready :arrow_right:, Hardware :gear:

#4024 fix jetson-nano legacy and install btrfs emmc
  config/sources/arm64.conf
  config/sources/armhf.conf
  config/sources/families/media.conf
  patch/kernel/archive/media-5.18/980-builddeb.patch
  patch/kernel/archive/media-5.19/980-builddeb.patch
  patch/kernel/archive/media-5.19/990-sound-rk.patch
  patch/kernel/archive/station-p2-5.18/0980-builddeb.patch
Labels: Hardware :gear:

#4020 rk322x: fixed minor things for device trees, fix rk322x-config script
  packages/bsp/rk322x/rk322x-config
  patch/kernel/archive/rk322x-5.15/general-add-overlays.patch
  patch/kernel/archive/rk322x-5.18/general-add-overlays.patch
Labels: Hardware :gear:

#4006 rockchip64: remove inno-usb3 rk3328 driver from EDGE kernel
  config/kernel/linux-rockchip64-edge.config
  patch/kernel/archive/rockchip64-5.18/add-board-roc-pc.patch
  patch/kernel/archive/rockchip64-5.18/add-rk3328-usb3-phy-driver.patch
  patch/kernel/archive/rockchip64-5.18/board-rk3328-roc-pc-dts-enable-dmc.patch
Labels: Hardware :gear:

#4026 rock-5b: add initial radxa rock-5b .wip
  config/boards/rock-5b.wip
  config/kernel/linux-rockchip-rk3588-legacy.config
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/rockchip-rk3588.conf
  patch/u-boot/u-boot-rockchip-rk3588/radxa_vendor_uboot_rock-5b_fix_source_so_boot_scr_works.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4025 Update board config targets
  config/boards/aw-som-a20.eos
  config/boards/cubieboard.csc
  config/boards/fe-som-rk3399.csc
  config/boards/hummingbird.eos
  config/boards/imx7sabre.eos
  config/boards/lime-a33.csc
  config/boards/melea1000.csc
  config/boards/microzed.eos
  config/boards/mk808c.csc
  config/boards/odroidc1.eos
  config/boards/olimex-som-a20.eos
  config/boards/olimex-som204-a20.eos
  config/boards/olinux-som-a13.csc
  config/boards/olinuxino-a13.csc
  config/boards/orangepi3-lts.conf
  config/boards/pinecube.csc
Labels: Ready :arrow_right:, Hardware :gear:

#4027 Revert "Fix for build error on aarch64 with ERROR in function"
  lib/debootstrap.sh
Labels: Ready :arrow_right:, Software :chains:

#4029 Bump sunxi kernels
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#4028 fix install repo station-p2 current
  lib/distributions.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:, Software :chains:

#3978 rockchip64: switch orangepi 4/LTS to mainline USB3 Type-C controller driver
  patch/kernel/archive/rockchip64-5.15/add-board-orangepi-4-lts.patch
  patch/kernel/archive/rockchip64-5.15/add-board-orangepi-4.patch
  patch/kernel/archive/rockchip64-5.18/add-board-orangepi-4-lts.patch
  patch/kernel/archive/rockchip64-5.18/add-board-orangepi-4.patch
Labels: Hardware :gear:

#4032 Several small bug fixes mainly outside supported areas
  config/boards/beelinkx2.tvb
  config/boards/nanopct3.eos
  config/boards/nanopct3plus.eos
  config/boards/nanopifire3.eos
  config/boards/onecloud.eos
  config/kernel/linux-mt7623-legacy.config
  lib/distributions.sh
  lib/general.sh
  patch/u-boot/u-boot-sunxi/add-beelink-x2.patch
  patch/u-boot/u-boot-sunxi/add-orangepi-zeroplus2_h3.patch
  patch/u-boot/u-boot-sunxi/xxx-disable-de2-to-improve-edid-detection.patch
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:, Software :chains:

#4031 Feature request: add labels to mkfs
  lib/debootstrap.sh
Labels: Ready :arrow_right:, Software :chains:

#4021 sun8i-r40-audio-codec
  patch/kernel/archive/sunxi-5.15/patches.armbian/arm-dts-sun8i-r40-add-nodes-for-audio-codec.patch
  patch/kernel/archive/sunxi-5.15/patches.armbian/arm-dts-sun8i-r40-bananapi-m2-ultra-add-codec-analog.patch
  patch/kernel/archive/sunxi-5.15/patches.armbian/arm-dts-sun8i-r40-bananapi-m2-ultra-enable-audio-codec.patch
  patch/kernel/archive/sunxi-5.15/patches.armbian/arm-dts-sun8i-v40-bananapi-m2-berry-enable-audio-codec.patch
  patch/kernel/archive/sunxi-5.15/patches.armbian/sound-soc-sunxi-sun4i-codec-add-r40.patch
  patch/kernel/archive/sunxi-5.15/patches.armbian/sound-soc-sunxi-sun8i-codec-analog-add-r40.patch
  patch/kernel/archive/sunxi-5.15/series.conf
Labels: Ready :arrow_right:, Hardware :gear:

#4034 Remove deprecated functionality
  .github/workflows/update-cache.yml
  lib/debootstrap.sh
Labels: Ready :arrow_right:, Software :chains:

#4030 Enable Rockpi 5b beta build target
  config/targets-cli-beta.conf
  config/targets-desktop-beta.conf
Labels: Ready :arrow_right:

#4037 Update odroidxu4-current to 5.4.208
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.204-205.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.205-206.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.206-207.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.207-208.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4035 README.md: more detailed links to docs.armbian.com
  README.md
Labels: Ready :arrow_right:

#4036 Cache creation cleanup
  .github/workflows/update-cache.yml
  lib/debootstrap.sh
Labels: Ready :arrow_right:, Software :chains:
