Repository armbian/build, pull requests merged in 2022-04, with the labels that each got.

#3605 Add support for CLI PPA
  config/cli/bullseye/main/packages
  config/cli/bullseye/main/sources/apt/nala.gpg
  config/cli/bullseye/main/sources/apt/nala.source
  config/cli/focal/main/packages
  config/cli/focal/main/sources/apt/nala.gpg
  config/cli/focal/main/sources/apt/nala.source
  config/cli/jammy/main/sources
  config/cli/sid/main/packages
  config/cli/sid/main/sources/apt/nala.gpg
  config/cli/sid/main/sources/apt/nala.source
  lib/debootstrap.sh
  lib/desktop.sh
Labels: enhancement, c:build script

#3617 Force cache recreation due to corruption
  lib/configuration.sh
Labels: maintenance, c:build script

#3622 Bugfix - wrongly linked folders when adding CLI PPA example
  config/cli/focal/main/packages
  config/cli/jammy/main/packages
  config/cli/jammy/main/sources
  config/cli/jammy/main/sources/apt/nala.gpg
  config/cli/jammy/main/sources/apt/nala.source
Labels: 2.confirmed bug, 9.ready for merge, maintenance

#3623 Fix patch applicability for the sun50i-h5-orangepi-zero-plus board
  patch/kernel/archive/sunxi-5.10/board-h5-orangepi-zero-plus-fixes.patch
Labels: c:kernel, 9.ready for merge

#3624 Fixing deboostrap fail due to too old ca-certificate package
  config/cli/focal/debootstrap/components
Labels: 2.confirmed bug, 9.ready for merge, important

#3621 add rk809 codec sound support to radxa rock3a
  patch/kernel/archive/rk35xx-5.17/rk3568-dts-radxa-rock3a-support.patch
  patch/kernel/archive/rk35xx-5.17/rk3568-i2s-mclk.patch
Labels: c:kernel

#3620 Update RTL8811CU driver to latest github source
  lib/compilation-prepare.sh
  patch/misc/wireless-realtek-8811cu-5.17.patch
Labels: c:kernel, 9.ready for merge, c:build script

#3630 fix package name caused by mutter update
  config/desktop/sid/environments/gnome/config_base/packages
Labels: 9.ready for merge

#3636 Save git hash of patch files and kernel configuration file
  lib/compilation.sh
Labels: c:build script

#3632 Add missing packages creation to build train
  .github/workflows/build-train.yml
  lib/compilation.sh
Labels: c:build script, c:actions

#3637 update kernel 5.17.1 station-p2-edge
  config/boards/station-p2.conf
  config/kernel/linux-station-p2-edge.config
  patch/kernel/archive/station-5.17/00-v5-01-23-drm-encoder-Add-of_graph-port-to-struct-drm_encoder.patch
  patch/kernel/archive/station-5.17/00-v8-01-24-drm-rockchip-Embed-drm_encoder-into-rockchip_decoder.patch
  patch/kernel/archive/station-5.17/00-v8-02-24-drm-rockchip-Add-crtc_endpoint_id-to-rockchip_encoder.patch
  patch/kernel/archive/station-5.17/00-v8-03-24-drm-rockchip-dw_hdmi-rename-vpll-clock-to-reference-clock.patch
  patch/kernel/archive/station-5.17/00-v8-04-24-dt-bindings-display-rockchip-dw-hdmi-use-ref-as-clock-name.patch
  patch/kernel/archive/station-5.17/00-v8-05-24-arm64-dts-rockchip-rk3399-rename-HDMI-ref-clock-to-ref.patch
  patch/kernel/archive/station-5.17/00-v8-06-24-drm-rockchip-dw_hdmi-add-rk3568-support.patch
  patch/kernel/archive/station-5.17/00-v8-07-24-dt-bindings-display-rockchip-dw-hdmi-Add-compatible-for-rk3568-HDMI.patch
  patch/kernel/archive/station-5.17/00-v8-08-24-drm-rockchip-dw_hdmi-add-regulator-support.patch
  patch/kernel/archive/station-5.17/00-v8-09-24-drm-rockchip-dw_hdmi-Add-support-for-niu-clk.patch
  patch/kernel/archive/station-5.17/00-v8-10-24-dt-bindings-display-rockchip-dw-hdmi-Add-additional-clock.patch
  patch/kernel/archive/station-5.17/00-v8-11-24-dt-bindings-display-rockchip-dw-hdmi-Add-regulator-support.patch
  patch/kernel/archive/station-5.17/00-v8-12-24-drm-rockchip-dw_hdmi-Use-auto-generated-tables.patch
  patch/kernel/archive/station-5.17/00-v8-13-24-drm-rockchip-dw_hdmi-drop-mode_valid-hook.patch
  patch/kernel/archive/station-5.17/00-v8-14-24-drm-rockchip-dw_hdmi-Set-cur_ctr-to-0-always.patch
  patch/kernel/archive/station-5.17/00-v8-15-24-drm-rockchip-dw_hdmi-add-default-594Mhz-clk-for-4K-60hz.patch
  patch/kernel/archive/station-5.17/00-v8-16-24-dt-bindings-display-rockchip-dw-hdmi-Make-unwedge-pinctrl-optional.patch
  patch/kernel/archive/station-5.17/00-v8-17-24-arm64-dts-rockchip-rk356x-Add-VOP2-nodes.patch
  patch/kernel/archive/station-5.17/00-v8-18-24-arm64-dts-rockchip-rk356x-Add-HDMI-nodes.patch
  patch/kernel/archive/station-5.17/00-v8-19-24-arm64-dts-rockchip-rk3568-evb-Enable-VOP2-and-hdmi.patch
  patch/kernel/archive/station-5.17/00-v8-20-24-arm64-dts-rockchip-enable-vop2-and-hdmi-tx-on-quartz64a.patch
  patch/kernel/archive/station-5.17/00-v8-21-24-drm-rockchip-Make-VOP-driver-optional.patch
  patch/kernel/archive/station-5.17/00-v8-22-24-drm-rockchip-Add-VOP2-driver.patch
  patch/kernel/archive/station-5.17/00-v8-23-24-dt-bindings-display-rockchip-Add-binding-for-VOP2.patch
  patch/kernel/archive/station-5.17/00-v8-24-24-dt-bindings-display-rockchip-dw-hdmi-fix-ports-description.patch
  patch/kernel/archive/station-5.17/01-v5-mfd-rk808-add-reboot-support-to-rk808.c.patch
  patch/kernel/archive/station-5.17/01-v6-1-5-dt-bindings-gpu-mali-bifrost-describe-clocks-for-the-rk356x-gpu.patch
  patch/kernel/archive/station-5.17/01-v6-2-5-arm64-dts-rockchip-add-gpu-node-to-rk356x.patch
  patch/kernel/archive/station-5.17/01-v6-3-5-arm64-dts-rockchip-add-cooling-map-and-trip-points-for-gpu-to-rk356x.patch
  patch/kernel/archive/station-5.17/01-v6-4-5-arm64-dts-rockchip-enable-the-gpu-on-quartz64-a.patch
  patch/kernel/archive/station-5.17/01-v6-5-5-arm64-dts-rockchip-enable-the-gpu-on-rk3568-evb1-v10.patch
  patch/kernel/archive/station-5.17/01-v7-1-2-arm64-dts-rockchip-fix-vcc3v3_lcd-0-1-_n-regulators-in-rk3568-evb1-10.patch
  patch/kernel/archive/station-5.17/01-v7-2-2-arm64-dts-rockchip-add-the-touchscreen-controller-to-rk3568-evb1-v10.patch
  patch/kernel/archive/station-5.17/01-v8-2-4-dt-bindings-phy-rockchip-Add-Naneng-combo-PHY-bindings.patch
  patch/kernel/archive/station-5.17/01-v8-3-4-phy-rockchip-add-naneng-combo-phy-for-RK3568.patch
  patch/kernel/archive/station-5.17/01-v8-4-4-arm64-dts-rockchip-add-naneng-combo-phy-nodes-for-rk3568.patch
  patch/kernel/archive/station-5.17/01-v8-5-4-arm64-dts-rockchip-add-naneng-combo-phy-nodes-for-rk3568.patch
  patch/kernel/archive/station-5.17/05-v91-i2s-mclk.patch
  patch/kernel/archive/station-5.17/05-v91-rk356x-vpu.patch
  patch/kernel/archive/station-5.17/05-v95-rk3566-firefly-roc-pc.patch
  patch/kernel/archive/station-5.17/05-v95-rk3566-quartz64-a.patch
  patch/kernel/archive/station-5.17/05-v95-rk3568-firefly-roc-pc.patch
  patch/kernel/archive/station-5.17/09-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/u-boot/u-boot-station-p2/add-start-usb.patch
  patch/u-boot/u-boot-station-p2/add-station-p2-rk3568_defconfig.patch
Labels: c:kernel, c:u-boot, 9.ready for merge, c:bsp

#3639 switching the default value of image creation to fast mode
  config/sources/arm64.conf
  config/sources/armhf.conf
Labels: c:kernel, 9.ready for merge, c:bsp

#3635 restore sunxi gpio-sysfs to build
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  patch/kernel/archive/sunxi-5.15/sunxi-gpio-sysfs-build.patch
  patch/kernel/archive/sunxi-5.16/sunxi-gpio-sysfs-build.patch
Labels: c:kernel, 9.ready for merge

#3641 Docker image doesn't build due to library changes
  config/templates/Dockerfile
  config/templates/config-docker.conf
Labels: 2.confirmed bug, 9.ready for merge, maintenance

#3643 Remove conflicting package due to Jammy user base
  config/cli/focal/debootstrap/packages
  lib/chroot-buildpackages.sh
  lib/general.sh
Labels: 2.confirmed bug, 9.ready for merge, c:build script

#3645 move branch kenel edge sation m2\p2
  config/sources/families/media.conf
Labels: 9.ready for merge, c:bsp

#3619 Fix MOTD in debian-based armbian
  packages/bsp/common/etc/update-motd.d/10-armbian-header
Labels: 2.confirmed bug, 9.ready for merge

#3631 chore(readme): fix readme docs
  .github/CONTRIBUTING.md
  README.md
Labels: enhancement, 9.ready for merge

#3646 add radxa rock3a pcie3x2 support
  config/kernel/linux-rk35xx-edge.config
  patch/kernel/archive/rk35xx-5.17/rk3568-dts-pcie-support.patch
  patch/kernel/archive/rk35xx-5.17/rk3568-snps-pcie3.patch
Labels: c:kernel

#3640 create an option to allow ipv6 downloads
  lib/configuration.sh
  lib/general.sh
Labels: 9.ready for merge, 4.need PR, c:build script

#3649 fix .editorconfig syntax, add rule for .conf as shell
  .editorconfig
Labels: 9.ready for merge

#3655 rockchip: move u-boot to v2022.04 for tinkerboard and xt-q8l-v10
  config/sources/families/rockchip.conf
  patch/u-boot/u-boot-rockchip/board_xt-q8l-v10/u-boot-1000-enable-rockchip-efuse-for-rk322x-rk3288-and-rk3328.patch
  patch/u-boot/u-boot-rockchip/board_xt-q8l-v10/u-boot-1000-rockchip.patch
  patch/u-boot/u-boot-rockchip/board_xt-q8l-v10/u-boot-1004-fix-signed-unsigned-comparison-causing-massive-heada.patch
  patch/u-boot/u-boot-rockchip/board_xt-q8l-v10/xt-q8l-v10-defconfig.patch
Labels: c:u-boot, c:bsp

#3650 Adjust chroot build packages due to Jammy upgrade
  lib/chroot-buildpackages.sh
  packages/extras-buildpkgs/90-hostapd.conf
Labels: 2.confirmed bug, 9.ready for merge, c:build script

#3661 Config file for espressobin, and add to targets
  config/boards/espressobin.conf
  config/targets.conf
Labels: 9.ready for merge, c:bsp

#3660 Fix warnings: redefined CONSOLE_STDIN_SETTINGS
  patch/u-boot/u-boot-sunxi/sunxi-boot-splash.patch
Labels: c:u-boot, 9.ready for merge

#3656 add fonts and lightdm for ubuntu gnome
  config/desktop/jammy/environments/gnome/config_base/packages
Labels: 9.ready for merge

#3662 Re-enable AUFS
  lib/compilation-prepare.sh
Labels: maintenance, c:build script

#3664 Run changes checking workflow with reference parameter
  .github/workflows/build-kernel-on-merge-request.yml
  .github/workflows/build-train.yml
Labels: 2.confirmed bug, 9.ready for merge, c:actions

#3658 Remove Nala from Jammy since Pythin library is mising
  config/cli/jammy/main/packages
  config/optional/architectures/arm64/_config/desktop/bullseye
  config/optional/architectures/arm64/_config/desktop/focal
  config/optional/architectures/arm64/_config/desktop/sid
Labels: 2.confirmed bug, maintenance

#3659 Support only Jammy Nvidia support until we don't fix kernel headers
  config/sources/families/uefi-x86.conf
Labels: 2.confirmed bug, maintenance, c:bsp

#3672 Sunxi 5.10
  patch/kernel/archive/sunxi-5.10/ARM-dts-sun7i-Disable-OOB-IRQ-for-brcm-wifi-on-Cubietruck-and-Banana-Pro.patch
  patch/kernel/archive/sunxi-5.10/Bananapro-01-add-hdmi-de-reg_ahci_5v.patch
  patch/kernel/archive/sunxi-5.10/Bananapro-02-add-AXP209-regulators.patch
  patch/kernel/archive/sunxi-5.10/fix-bananapro-lima.patch
  patch/kernel/archive/sunxi-5.10/nand-disable-badblock-check-for-migration.patch.disable
Labels: c:kernel

#3671 Enable eMMC support for Rock 3A
  config/kernel/linux-rk35xx-edge.config
Labels: c:kernel

#3653 Fix wallpaper on mate desktop on bullseye
  config/desktop/bullseye/environments/mate/armbian/create_desktop_package.sh
  config/desktop/bullseye/environments/mate/debian/postinst
Labels: enhancement, desktop

#3670 u-boot: Add more regulator for bananapro board
  patch/u-boot/u-boot-sunxi/Bananapro-01-add-hdmi-de-reg_ahci_5v.patch
  patch/u-boot/u-boot-sunxi/Bananapro-02-add-AXP209-regulators.patch
Labels: c:u-boot, 9.ready for merge

#3676 Sunxi 5.15
  patch/kernel/archive/sunxi-5.15/patches.armbian/Bananapro-add-AXP209-regulators.patch
  patch/kernel/archive/sunxi-5.15/patches.armbian/arm-dts-sun7i-a20-bananapro-add-hdmi-de-reg_ahci_5v.patch
  patch/kernel/archive/sunxi-5.15/series.conf
Labels: c:kernel

#3674 use lightdm for bullseye gnome
  config/desktop/bullseye/environments/gnome/config_base/packages
  config/desktop/bullseye/environments/gnome/config_base/packages.uninstall
  config/desktop/jammy/environments/gnome/config_base/packages
Labels: 9.ready for merge

#3677 Fix bug: Return correct exit code after compiling with docker or vagrant
  config/templates/config-docker.conf
  config/templates/config-vagrant.conf
Labels: 2.confirmed bug, 9.ready for merge

#3684 armbian-truncate-logs: Use journalctl --quiet
  packages/bsp/common/usr/lib/armbian/armbian-truncate-logs
Labels: 9.ready for merge

#3682 remove mesa-utils-extra for jammy due to upstream dependency change
  config/desktop/jammy/appgroups/3dsupport/packages
Labels: 9.ready for merge

#3680 Upgrade UEFI EDGE kernels to 5.17.y
  config/kernel/linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-x86-edge.config
  config/sources/families/include/uefi_common.inc
Labels: c:kernel, maintenance, c:bsp

#3681 Espressobin patch cleanup
  config/sources/families/mvebu64.conf
  patch/kernel/archive/mvebu64-5.10/0007-arm64-dts-marvell-armada37xx-Add-eth0-alias.patch
  patch/kernel/archive/mvebu64-5.15/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/mvebu64-current
  patch/kernel/mvebu64-edge
  patch/u-boot/u-boot-mvebu64/0001-espressobin-enable-emmc.patch
Labels: c:kernel, c:u-boot, c:bsp

#3679 wrong toolchain was added and used for building wtmi_app.bin
  config/sources/families/mvebu64.conf
  lib/general.sh
Labels: 9.ready for merge, c:build script, c:bsp

#3690 bugfix for build sunxi with implicitly selected configuration parameters
  config/kernel/linux-sunxi64-current.config
  patch/kernel/archive/sunxi-5.10/0001-mfd-Add-support-for-AC200.patch
  patch/kernel/archive/sunxi-5.15/patches.armbian/drv-mfd-Add-support-for-AC200.patch
  patch/kernel/archive/sunxi-5.16/patches.armbian/drv-mfd-Add-support-for-AC200.patch
  patch/kernel/archive/sunxi-5.17/patches.armbian/drv-mfd-Add-support-for-AC200.patch
Labels: c:kernel

#3692 Set default values for hashes when empty
  lib/compilation.sh
Labels: maintenance, c:build script

#3695 Fixing changes in Git for unsafe folder
  compile.sh
  lib/general.sh
Labels: 2.confirmed bug, 20.not our bug, maintenance, c:build script

#3694 Bugfix - wrong variable name
  lib/compilation.sh
Labels: 2.confirmed bug, maintenance, c:build script

#3696 Move sunxi 5.16 to 5.17
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi64-edge.config
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  lib/compilation-prepare.sh
  lib/compilation.sh
  patch/kernel/archive/sunxi-5.16/patches.armbian/arm-dts-sun7i-a20-bananapro-add-AXP209-regulators.patch
  patch/kernel/archive/sunxi-5.16/patches.armbian/arm-dts-sun7i-a20-bananapro-add-hdmi-connector-de.patch
  patch/kernel/archive/sunxi-5.16/series.conf
  patch/kernel/archive/sunxi-5.17/patches.armbian/drv-net-rtl8723cs-base.patch
  patch/kernel/archive/sunxi-5.17/patches.armbian/drv-net-rtl8723cs-core.patch
  patch/kernel/archive/sunxi-5.17/patches.armbian/drv-net-rtl8723cs-hal-base-rtl8703b-led-efuse.patch
  patch/kernel/archive/sunxi-5.17/patches.armbian/drv-net-rtl8723cs-hal-btc.patch
  patch/kernel/archive/sunxi-5.17/patches.armbian/drv-net-rtl8723cs-hal-phydm.patch
  patch/kernel/archive/sunxi-5.17/patches.armbian/drv-net-rtl8723cs-include.patch
  patch/kernel/archive/sunxi-5.17/patches.armbian/drv-net-rtl8723cs-os_dep.patch
  patch/kernel/archive/sunxi-5.17/patches.armbian/drv-net-rtl8723cs-platform.patch
  patch/kernel/archive/sunxi-5.17/patches.armbian/drv-net-wireless-realtek-Add-build-rtl8723cs.patch
  patch/kernel/archive/sunxi-5.17/series.armbian
  patch/kernel/archive/sunxi-5.17/series.conf
  patch/kernel/sunxi-edge
Labels: c:kernel, c:build script, c:bsp

#3698 Re-enable AUFS (fixed on 5.17.y) and update kernel configs
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi64-edge.config
  lib/compilation-prepare.sh
Labels: c:kernel, 9.ready for merge, maintenance, c:build script

#3699 add patch to fix rk3568 vop in kernel 5.17.3
  patch/kernel/archive/rk35xx-5.17/rk3568-fix-vop-clk.patch
Labels: c:kernel

#3689 all: enable the CONFIG_F2FS_FS_COMPRESSION option
  config/kernel/linux-imx6-current.config
  config/kernel/linux-imx6-edge.config
  config/kernel/linux-meson64-current.config
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-mt7623-edge.config
  config/kernel/linux-mvebu-current.config
  config/kernel/linux-mvebu-edge.config
  config/kernel/linux-odroidxu4-edge.config
  config/kernel/linux-rk322x-current.config
  config/kernel/linux-rk322x-edge.config
  config/kernel/linux-rk35xx-edge.config
  config/kernel/linux-rk35xx-legacy.config
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-station-p2-edge.config
  config/kernel/linux-virtual-current.config
Labels: c:kernel

#3701 Sunxi 5.17
  lib/compilation-prepare.sh
  lib/compilation.sh
  patch/kernel/archive/sunxi-5.17/patches.megous/media-rockchip-rga-Fix-probe-bugs.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw88-8821c-Enable-TX-report-for-management-frames.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw88-8821c-fix-debugfs-rssi-value.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw88-Add-update-beacon-flow-for-AP-mode.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw88-add-ieee80211-sta_rc_update-ops.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw88-change-idle-mode-condition-during-hw_scan.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw88-do-PHY-calibration-while-starting-AP.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw88-fix-incorrect-frequency-reported.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-8852a-update-txpwr-tables-to-HALRF_027_00_038.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-8852c-update-security-engine-setting.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-Turn-on-CR-protection-of-CMAC.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-add-UK-to-regulation-type.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-add-chip_info-h2c_desc_size-fill_txdesc_fwcmd-to-support-.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-add-chip_ops-enable-disable-_bb_rf-to-support-v1-chip.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-change-station-scheduler-setting-for-hardware-TX-mode.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-disabled-IGI-configuration-for-unsupported-hardware.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-handle-potential-uninitialized-variable.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-initialize-NAV-control.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-packed-IGI-configuration-flow-into-function-for-DIG-featu.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-pci-support-variant-of-fill_txaddr_info.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-read-RX-bandwidth-from-v1-type-RX-descriptor.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-reduce-export-symbol-number-of-mac-size-and-quota.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-regd-consider-6G-band.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-regd-update-mapping-table-to-R59-R32.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-reset-BA-CAM.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-rtw89_ser-add-const-to-struct-state_ent-and-event_ent.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-ser-fix-unannotated-fall-through.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-support-hardware-generate-security-header.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-support-variant-of-fill_txdesc.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-update-STA-scheduler-parameters-for-v1-chip.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-update-TMAC-parameters.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-update-ptcl_init.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/rtw89-update-scheduler-setting.patch
  patch/kernel/archive/sunxi-5.17/series.conf
  patch/kernel/archive/sunxi-5.17/series.megous
Labels: c:kernel, c:build script

#3702 rockchip: remove mainlined RGA patch
  patch/kernel/archive/rockchip-5.17/1027-fix-rga-probe.patch
Labels: c:kernel

#3700 rockchip: rock-3a: remove unused nodes
  patch/kernel/archive/rk35xx-5.16/rk3568-dts-radxa-rock3a-support.patch
  patch/kernel/archive/rk35xx-5.17/rk3568-dts-radxa-rock3a-support.patch
Labels: c:kernel

#3675 begin to support u-boot distroboot on espressobin
  config/bootenv/mvebu64.txt
  config/bootscripts/boot-espressobin.cmd
  config/sources/families/mvebu64.conf
  lib/debootstrap.sh
Labels: c:u-boot, 9.ready for merge, c:build script, c:bsp

#3274 provide led state save and restore functionality scripts and service
  lib/distributions.sh
  lib/makeboarddeb.sh
  packages/bsp/common/lib/systemd/system/armbian-led-state.service
  packages/bsp/common/usr/lib/armbian/armbian-led-state-restore.sh
  packages/bsp/common/usr/lib/armbian/armbian-led-state-save.sh
Labels: 1.discussion, 9.ready for merge, c:build script

#3686 Espressobin Edge move to 5.17
  config/kernel/linux-mvebu64-edge.config
  config/sources/families/mvebu64.conf
Labels: c:kernel, c:bsp

#3707 Update odroidxu4-current to 5.4.190
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.185-186.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.186-187.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.187-188.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.188-189.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.189-190.patch
Labels: c:kernel, 9.ready for merge

#3704 move kernel media edge to 5.17
  config/kernel/linux-media-current.config
  config/kernel/linux-media-edge.config
  config/sources/families/media.conf
  patch/kernel/archive/media-5.15/z-builddeb.patch
  patch/kernel/archive/media-5.15/z-mkdebian.patch
  patch/kernel/archive/media-5.17/09-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/media-5.17/09-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/media-5.17/09-linux-0011-v4l2-from-list.patch
  patch/kernel/archive/media-5.17/09-linux-0020-drm-from-list.patch
  patch/kernel/archive/media-5.17/09-linux-1000-drm-rockchip.patch
  patch/kernel/archive/media-5.17/09-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/media-5.17/09-linux-1002-for-libreelec.patch
  patch/kernel/archive/media-5.17/09-linux-2000-v4l2-wip-rkvdec-hevc.patch
  patch/kernel/archive/media-5.17/09-linux-2001-v4l2-wip-iep-driver.patch
  patch/kernel/archive/media-5.17/09-linux-90100-add-clock.patch
  patch/kernel/archive/media-5.17/09-linux-90101-add-rt5651-konf.patch
  patch/kernel/archive/media-5.17/09-linux-90102-rt5651.patch
  patch/kernel/archive/media-5.17/09-linux-90103-nanopc-t4-5651.patch
  patch/kernel/archive/media-5.17/09-linux-90104-all-codec.patch
  patch/kernel/archive/media-5.17/09-linux-90117-add-rk3399-roc-pc-plus-sound.patch
  patch/kernel/archive/media-5.17/09-linux-90118-rk3399-firefly.patch
  patch/kernel/archive/media-5.17/09-linux-90200-rk3328-roc-pc-wifi-fix.patch
  patch/kernel/archive/media-5.17/add-csgpio-to-rockchip-spi.patch
  patch/kernel/archive/media-5.17/add-fusb30x-driver.patch
  patch/kernel/archive/media-5.17/board-roc-rk3399-pc-fix-fusb302-compatible.patch
  patch/kernel/archive/media-5.17/general-add-dwc3-xhci-usb-trb-quirk.patch
  patch/kernel/archive/media-5.17/general-add-overlay-compilation-support.patch
  patch/kernel/archive/media-5.17/general-add-overlay-configfs.patch
  patch/kernel/archive/media-5.17/general-disable-mtu-validation.patch
  patch/kernel/archive/media-5.17/general-fix-es8316-kernel-panic.patch
  patch/kernel/archive/media-5.17/general-fix-rga-probe.patch
  patch/kernel/archive/media-5.17/general-increasing_DMA_block_memory_allocation_to_2048.patch
  patch/kernel/archive/media-5.17/general-possibility-of-disabling-rk808-rtc.patch
  patch/kernel/archive/media-5.17/general-rk808-configurable-switch-voltage-steps.patch
  patch/kernel/archive/media-5.17/general-rockchip-overlays.patch
  patch/kernel/archive/media-5.17/general-workaround-broadcom-bt-serdev.patch
  patch/kernel/archive/media-5.17/overlays-00-add-oc-opp-rk3399.patch
  patch/kernel/archive/media-5.17/overlays-01-add-oc-opp-rk3328.patch
  patch/kernel/archive/media-5.17/rk3328-add-rga-node.patch
  patch/kernel/archive/media-5.17/rk3328-dtsi-usb3-reset-properties.patch
  patch/kernel/archive/media-5.17/rk3328-roc-pc-bt.patch
  patch/kernel/archive/media-5.17/rk3399-enable-dwc3-xhci-usb-trb-quirk.patch
  patch/kernel/archive/media-5.17/rk3399-nanopc-t4-emmc.patch
  patch/kernel/archive/media-5.17/rk3399-pci-rockchip-support-ep-gpio-undefined-case.patch
  patch/kernel/archive/media-5.17/rk3399-rp64-pcie-Reimplement-rockchip-PCIe-bus-scan-delay.patch
  patch/kernel/archive/media-5.17/rk3399-sd-drive-level-8ma.patch
  patch/kernel/archive/media-5.17/rk3399-unlock-temperature.patch
  patch/kernel/archive/media-5.17/z-builddeb.patch
  patch/kernel/archive/media-5.17/z-mkdebian.patch
  patch/kernel/media-edge
Labels: c:kernel, c:bsp

#3705 move jetson-nano kernel edge to 5.17
  config/sources/families/jetson-nano.conf
Labels: 9.ready for merge, c:bsp

#3673 Fix for rsyslog.conf and for SRC_EXTLINUX=yes with BOOTFS_TYPE=...
  lib/distributions.sh
  lib/general.sh
Labels: c:build script

#3714 Remove mainlined RGA trivial patch for rk322x, rockchip, rockchip64
  patch/kernel/archive/rk322x-5.15/1027-fix-rga-probe.patch
  patch/kernel/archive/rk322x-5.16/1027-fix-rga-probe.patch
  patch/kernel/archive/rk322x-5.17/1027-fix-rga-probe.patch
  patch/kernel/archive/rockchip-5.15/1027-fix-rga-probe.patch
  patch/kernel/archive/rockchip-5.16/1027-fix-rga-probe.patch
  patch/kernel/archive/rockchip64-5.15/general-fix-rga-probe.patch
  patch/kernel/archive/rockchip64-5.16/general-fix-rga-probe.patch
Labels: c:kernel, 9.ready for merge, maintenance

#3716 rk322x: updated libreelec patches, add generic remote keymap
  config/kernel/linux-rk322x-edge.config
  patch/kernel/archive/rk322x-5.17/01-linux-0001-rockchip-from-5.15.patch
  patch/kernel/archive/rk322x-5.17/01-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rk322x-5.17/01-linux-0011-v4l2-from-list.patch
  patch/kernel/archive/rk322x-5.17/01-linux-0020-drm-from-list.patch
  patch/kernel/archive/rk322x-5.17/01-linux-1000-drm-rockchip.patch
  patch/kernel/archive/rk322x-5.17/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rk322x-5.17/01-linux-1002-for-libreelec.patch
  patch/kernel/archive/rk322x-5.17/01-linux-2000-v4l-wip-rkvdec-vp9.patch.disabled
  patch/kernel/archive/rk322x-5.17/01-linux-2000-v4l2-wip-rkvdec-hevc.patch
  patch/kernel/archive/rk322x-5.17/01-linux-2001-v4l2-wip-iep-driver.patch
  patch/kernel/archive/rk322x-5.17/board-rk322x-box.patch
  patch/kernel/archive/rk322x-5.17/general-rk322x-remote-keymap.patch
Labels: c:kernel, 9.ready for merge

#3713 Change board support status since we have a maintainer
  config/boards/rock-3a.conf
Labels: 9.ready for merge, maintenance, c:bsp

#3715 Add latest patches for JetHub D1 with saradc support from u-boot master
  patch/u-boot/u-boot-meson64/board_jethubj100/0001-clk-meson-add-minimal-driver-for-axg-ao-clocks.patch
  patch/u-boot/u-boot-meson64/board_jethubj100/0002-clk-meson-fix-driver-name-for-g12a-ao-clocks.patch
  patch/u-boot/u-boot-meson64/board_jethubj100/0003-clk-meson-update-driver-for-g12a-ao-clocks.patch
  patch/u-boot/u-boot-meson64/board_jethubj100/0004-adc-meson-saradc-add-AXG-variant.patch
  patch/u-boot/u-boot-meson64/board_jethubj100/0005-board-amlogic-jethub-j100-enable-saradc-in-dts.patch
  patch/u-boot/u-boot-meson64/board_jethubj100/0006-board-amlogic-jethub-j100-enable-saradc-in-config.patch
Labels: c:u-boot, 9.ready for merge, maintenance

#3720 fix Lightdm for sid XFCE
  config/desktop/sid/environments/xfce/config_base/packages
Labels: 2.confirmed bug, 9.ready for merge, desktop

#3725 Update sunxi-5.17
  patch/kernel/archive/sunxi-5.17/patches.megous/usb-musb-sunxi-Avoid-enabling-host-side-code-on-SoCs.patch
  patch/kernel/archive/sunxi-5.17/patches.megous/usb-typec-tcpm-Fix-NPE-in-debug-code.patch
  patch/kernel/archive/sunxi-5.17/series.conf
  patch/kernel/archive/sunxi-5.17/series.megous
Labels: c:kernel

#3722 Add Linux userspace x86 emulator for 32bit variants
  config/optional/architectures/armhf/_config/desktop/bullseye
  config/optional/architectures/armhf/_config/desktop/focal
  config/optional/architectures/armhf/_config/desktop/jammy/environments/_all_environments/only_for
  config/optional/architectures/armhf/_config/desktop/jammy/environments/_all_environments/packages
  config/optional/architectures/armhf/_config/desktop/jammy/environments/_all_environments/sources/apt/box86.gpg
  config/optional/architectures/armhf/_config/desktop/jammy/environments/_all_environments/sources/apt/box86.source
  config/optional/architectures/armhf/_config/desktop/sid
Labels: enhancement

#3724 Desktop Package Cleanup
  config/desktop/bullseye/environments/budgie/config_base/packages
  config/desktop/bullseye/environments/cinnamon/config_base/packages
  config/desktop/bullseye/environments/gnome/config_base/packages
  config/desktop/bullseye/environments/mate/config_base/packages
  config/desktop/bullseye/environments/xmonad/config_base/packages
  config/desktop/buster/environments/cinnamon/config_base/packages
  config/desktop/buster/environments/gnome/config_base/packages
  config/desktop/buster/environments/lxde/config_base/packages
  config/desktop/buster/environments/mate/config_base/packages
  config/desktop/buster/environments/xfce/config_base/packages
  config/desktop/focal/environments/budgie/config_base/packages
  config/desktop/focal/environments/cinnamon/config_base/packages
  config/desktop/focal/environments/deepin/config_base/packages
  config/desktop/focal/environments/enlightenment/config_base/packages
  config/desktop/focal/environments/gnome/config_base/packages
  config/desktop/focal/environments/i3-wm/config_base/packages
  config/desktop/focal/environments/kde-plasma/config_base/packages
  config/desktop/focal/environments/mate/config_base/packages
  config/desktop/focal/environments/xfce/config_base/packages
  config/desktop/focal/environments/xmonad/config_base/packages
  config/desktop/jammy/environments/budgie/config_base/packages
  config/desktop/jammy/environments/cinnamon/config_base/packages
  config/desktop/jammy/environments/gnome/config_base/packages
  config/desktop/jammy/environments/i3-wm/config_base/packages
  config/desktop/jammy/environments/kde-plasma/config_base/packages
  config/desktop/jammy/environments/mate/config_base/packages
  config/desktop/jammy/environments/xfce/config_base/packages
  config/desktop/jammy/environments/xmonad/config_base/packages
  config/desktop/sid/environments/gnome/config_base/packages
  config/desktop/sid/environments/lxde/config_base/packages
  config/desktop/sid/environments/mate/config_base/packages
  config/desktop/sid/environments/xfce/config_base/packages
Labels: enhancement, desktop

#3730 Gnome Foccal FIx
  config/desktop/focal/environments/gnome/config_base/packages
Labels: desktop, maintenance, important

#3729 fix build rtl8822bs for kernel 5.17
  lib/compilation-prepare.sh
  patch/misc/wireless-rtl8822bs.patch
Labels: c:kernel, 7.needs testing, c:build script

#3712 Bump rpi, imx6 and mvebu EDGE to 5.17.y
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-imx6-edge.config
  config/kernel/linux-mvebu-edge.config
  config/sources/families/bcm2711.conf
  config/sources/families/imx6.conf
  config/sources/families/mvebu.conf
  config/sources/families/odroidxu4.conf
  patch/kernel/archive/imx6-5.15/0006-ARM-dts-imx6qdl-udoo.dtsi-fix-onboard-USB-HUB-proper.patch
Labels: c:kernel, maintenance, c:bsp

#3688 add gnome-terminal to gnome based desktops
  config/desktop/bullseye/environments/budgie/config_base/packages
  config/desktop/bullseye/environments/cinnamon/config_base/packages
  config/desktop/bullseye/environments/gnome/config_base/packages
  config/desktop/bullseye/environments/mate/config_base/packages
  config/desktop/buster/environments/cinnamon/config_base/packages
  config/desktop/buster/environments/gnome/config_base/packages
  config/desktop/focal/environments/budgie/config_base/packages
  config/desktop/focal/environments/cinnamon/config_base/packages
  config/desktop/jammy/environments/budgie/config_base/packages
  config/desktop/jammy/environments/cinnamon/config_base/packages
  config/desktop/jammy/environments/gnome/config_base/packages
  config/desktop/sid/environments/gnome/config_base/packages
Labels: enhancement, 9.ready for merge, desktop

#3721 Remove dead mirrors to suppress rootfs download errors
  config/templates/Dockerfile
  lib/general.sh
Labels: c:build script
