Repository armbian/build, pull requests merged in 2022-10, with the labels that each got.

#4249 Update odroidxu4-current to 5.4.215
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.212-213.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.213-214.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.214-215.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4245 Rephrase support
  README.md
Labels: Ready :arrow_right:

#4251 Add support for Bananapi M5 / M2P
  config/boards/bananapim5.conf
  config/kernel/linux-meson64-current.config
  config/sources/families/include/meson64_common.inc
  config/sources/families/meson-sm1.conf
  config/targets.conf
  patch/kernel/archive/meson64-5.10/board-add-bananapi-m5.patch
  patch/kernel/archive/meson64-5.10/general-meson-sm1_add_toacodec_node.patch
  patch/u-boot/u-boot-meson64/board_bananapim5/bananapi-m5-fix-wrong-GPIO-pin-labeling-for-CON1.patch
  patch/u-boot/u-boot-meson64/board_bananapim5/u-boot-meson64-current.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4260 Reenable test builds for JetHub H1/D1/D1+ devices
  config/targets-cli-beta.conf
Labels: Ready :arrow_right:

#4259 Add project office hours
  README.md
Labels: Ready :arrow_right:

#4263 BSP package does not contain BRANCH information
  packages/bsp/common/usr/lib/armbian/armbian-hardware-optimization
Labels: Ready :arrow_right:, Bugfix :radioactive:, Maintenance :recycle:

#4240 Add a parameter to build images from sources
  .github/workflows/build-images.yml
Labels: Ready :arrow_right:, Software :chains:

#4265 Update odroidxu4-current to 5.4.217
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.215-216.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.216-217.patch
Labels: Hardware :gear:

#4250 Add-h616-cpu-frequency-scaling
  patch/kernel/archive/sunxi-5.19/patches.armbian/arm64-dts-allwinner-h616-Add-cpu-frequency-scaling.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4276 Bump versions, adjust kernel configs
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-uefi-arm64-current.config
  config/kernel/linux-uefi-arm64-edge.config
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  config/sources/families/media.conf
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4275 Fix mvebu current pwm timer patch
  patch/kernel/archive/mvebu-5.15/92-mvebu-gpio-remove-hardcoded-timer-assignment.patch
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:, Maintenance :recycle:

#4274 rk322x: fix usb otg port disabled by mistake
  patch/kernel/archive/rk322x-5.15/board-rk322x-box.patch
  patch/kernel/archive/rk322x-5.19/board-rk322x-box.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4272 meson: edge: bump v5.19
  config/kernel/linux-meson-edge.config
  config/sources/families/include/meson_common.inc
  patch/kernel/archive/meson-5.19/0001-m8-m8b-m8m2-Support-HDMI.patch
  patch/kernel/archive/meson-5.19/0002-m8-m8b-m8m2-drm-forcefully-enable-XRGB-format.patch
  patch/kernel/archive/meson-5.19/Revert-mmc-core-Set-HS-clock-speed-before-sending-HS-CMD13.patch
  patch/kernel/archive/meson-5.19/board_odroidc1/dts-Enable-HDMI.patch
  patch/kernel/archive/meson-5.19/board_onecloud/0001-add-dts.patch
  patch/kernel/archive/meson-5.19/board_onecloud/0002-dts-Support-HDMI.patch
  patch/kernel/archive/meson-5.19/board_onecloud/usb-disable-ACA-check.patch
  patch/kernel/archive/meson-5.19/generate-uImage-instand-of-zImage.patch
  patch/kernel/meson-edge
Labels: Ready :arrow_right:, Hardware :gear:

#4269 rockchip64: add ssv6051p wifi driver for current and edge kernel
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  packages/bsp/rk3318/rk3318-config
  patch/kernel/archive/rockchip64-5.15/overlays-02-add-rk3318-box-led-conf1.patch
  patch/kernel/archive/rockchip64-5.15/overlays-09-add-rk3318-box-led-conf2.patch
  patch/kernel/archive/rockchip64-5.15/overlays-10-add-rk3318-box-led-conf3.patch
  patch/kernel/archive/rockchip64-5.15/overlays-11-add-rk3318-box-led-conf4.patch
  patch/kernel/archive/rockchip64-5.15/wifi-4003-ssv-6051-driver.patch
  patch/kernel/archive/rockchip64-5.19/overlays-02-add-rk3318-box-led-conf1.patch
  patch/kernel/archive/rockchip64-5.19/overlays-09-add-rk3318-box-led-conf2.patch
  patch/kernel/archive/rockchip64-5.19/overlays-10-add-rk3318-box-led-conf3.patch
  patch/kernel/archive/rockchip64-5.19/overlays-11-add-rk3318-box-led-conf4.patch
  patch/kernel/archive/rockchip64-5.19/wifi-4003-ssv-6051-driver.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4268 rockchip64: reinstate ipx.h header file for current 5.15 kernel
  patch/kernel/archive/rockchip64-5.15/Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4279 Revert "Add-h616-cpu-frequency-scaling"
  patch/kernel/archive/sunxi-5.19/patches.armbian/arm64-dts-allwinner-h616-Add-cpu-frequency-scaling.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4278 rockchip64: fix orangepi4-lts rk808 interrupt line, sdcard detection and wifi freq
  patch/kernel/archive/rockchip64-5.15/add-board-orangepi-4-lts.patch
  patch/kernel/archive/rockchip64-5.19/add-board-orangepi-4-lts.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4271 Improve ARM64 UEFI support
  packages/bsp/common/usr/sbin/armbian-install
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4194 Add fallback for debug upload
  packages/bsp/common/usr/bin/armbianmonitor
Labels: Ready :arrow_right:, Maintenance :recycle:

#4281 Switch rockpi-s to EDGE
  config/targets.conf
Labels: Maintenance :recycle:

#4246 Bump Rockchip64 u-boot to 2022.07
  config/sources/families/include/rockchip64_common.inc
  patch/u-boot/u-boot-rockchip64/add-board-orangepi-r1-plus-lts.patch
  patch/u-boot/u-boot-rockchip64/board-rock-pi-4-enable-spi-flash.patch
  patch/u-boot/u-boot-rockchip64/board-rockpro64-disable-preboot.patch
  patch/u-boot/u-boot-rockchip64/u-boot-rk-rk3399-usb-start.patch
Labels: Hardware :gear:, Maintenance :recycle:

#4288 Remove `machine-id`
  lib/functions/rootfs/create-cache.sh
  lib/functions/rootfs/distro-agnostic.sh
Labels: Ready :arrow_right:

#4286 Forward ported Hardware Random Number Generator from legacy (4.4) kernel to Edge (5.19)
  config/kernel/linux-rockchip64-edge.config
  patch/kernel/archive/rockchip64-5.19/general-legacy-rockchip-hwrng.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4285 Remove ext2 and ext3 filesystem option from armbian-install
  packages/bsp/common/usr/sbin/armbian-install
Labels: Ready :arrow_right:

#4289 Debian SID - remove non-existing package
  config/desktop/sid/environments/budgie/config_base/packages
  config/desktop/sid/environments/cinnamon/config_base/packages
  config/desktop/sid/environments/kde-plasma/config_base/packages
  config/desktop/sid/environments/mate/config_base/packages
  config/desktop/sid/environments/xfce/config_base/packages
Labels: Ready :arrow_right:, Maintenance :recycle:

#4290 Update odroidxu4-current to 5.4.218
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.217-218.patch
Labels: Hardware :gear:

#4298 fix remove boot-scr to SRC_EXTLINUX=yes
  lib/functions/bsp/bsp-cli.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4295 Reenable Github API to fetch rootfs-cache version
  lib/functions/rootfs/create-cache.sh
Labels: Ready :arrow_right:

#4293 PWM fan fix for tegra
  patch/kernel/archive/media-5.19/610-pwm-fan-fix.patch
  patch/kernel/archive/media-6.0/610-pwm-fan-fix.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4291 Bump sunxi versions
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:, Maintenance :recycle:

#4294 Add support for apt-mark hold warning
  packages/bsp/common/etc/apt/apt.conf.d/02-armbian-postupdate
  packages/bsp/common/etc/update-motd.d/40-armbian-updates
  packages/bsp/common/usr/lib/armbian/armbian-apt-updates
Labels: Ready :arrow_right:

#4302 rk3588: enable rtw88 to enable rtl882xce wireless card
  config/kernel/linux-rockchip-rk3588-legacy.config
Labels: Ready :arrow_right:, Hardware :gear:

#4301 Let `mkfs.ext4` decide inode number
  lib/functions/image/partitioning.sh
Labels: Ready :arrow_right:

#4287 add ext4 bootfs to rock5b
  config/boards/rock-5b.wip
Labels: Ready :arrow_right:, Hardware :gear:

#4310 Add rk3399 rng to u-boot
  patch/u-boot/u-boot-rockchip64/rk3399-rp64-rng.patch
Labels: Hardware :gear:

#4309 Add rk3399 rng to kernel
  patch/kernel/archive/rockchip64-5.19/rk3399-rp64-rng.patch
Labels: Hardware :gear:

#4314 Adjust media edge kernel compilation
  config/kernel/linux-media-edge.config
  patch/kernel/archive/media-6.0/340-general-add-dwc3-xhci-usb-trb-quirk.patch
  patch/kernel/archive/media-6.0/600-usb-fix.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4307 Add plymouth package to base images except minimal
  config/cli/bullseye/main/config_cli_standard/packages.additional
  config/cli/buster/main/config_cli_standard/packages.additional
  config/cli/focal/main/config_cli_standard/packages.additional
  config/cli/sid/main/config_cli_standard/packages.additional
Labels: Ready :arrow_right:, Maintenance :recycle:

#4319 Remove broken package in gnome sid desktop
  config/desktop/sid/environments/gnome/config_base/packages
Labels: Ready :arrow_right:, Maintenance :recycle:

#4318 fix typo
  README.md
Labels: Ready :arrow_right:, Maintenance :recycle:

#4313 re-add support for NanoPi NEO3
  config/boards/nanopineo3.conf
  config/targets.conf
Labels: Hardware :gear:

#4320 CI improvements and bug fixes
  .github/workflows/build-images.yml
  .github/workflows/build-train.yml
Labels: Ready :arrow_right:, Maintenance :recycle:

#4280 fix: chroot buid: Selecting value "user-built" for proper operation
  lib/functions/main/config-prepare.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4303 Replace Ubuntu PRO advertisement
  lib/functions/bsp/bsp-cli.sh
Labels: Ready :arrow_right:, Maintenance :recycle:

#4324 Fix nand-sata-install move to non-ext4 eMMC when armbianEnv.txt does not exist already
  packages/bsp/common/usr/sbin/armbian-install
  packages/bsp/common/usr/sbin/nand-sata-install
Labels: Ready :arrow_right:

#4327 Disable hostapd service as it might not always be configured
  lib/functions/rootfs/distro-specific.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4325 Resolv check was done for host while it should be done for chroot
  lib/functions/rootfs/distro-agnostic.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4332 Status change for Helios64 / Rpi4
  config/boards/helios64.eos
  config/boards/rpi4b.conf
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4331 Fix mic for rt5651 asound.state
  packages/blobs/asound.state/asound.state.rt5651
Labels: Ready :arrow_right:

#4336 Enable Rpi4 kinetic build and remove deprecated
  config/sources/families/bcm2711.conf
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4335 Fixing wrong / deprecated board propertie parameter
  config/boards/README.md
  config/boards/nanopi-r1s-h5.conf
  config/boards/rockpi-s.conf
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:, Maintenance :recycle:

#4284 move Jetson Nano EFI\Grub
  config/modules/jetson-nano-current
  config/modules/jetson-nano-edge
  config/sources/families/media.conf
  extensions/grub-sbc-media.sh
  lib/functions/host/prepare-host.sh
  lib/functions/image/partitioning.sh
  packages/blobs/jetson/boot.scr
Labels: Ready :arrow_right:, Hardware :gear:

#4343 Additional fixes for Rockchip64 EDGE kernel
  config/kernel/linux-rockchip-edge.config
  config/kernel/linux-rockchip64-edge.config
  patch/kernel/archive/rockchip64-6.0/board-rockpis-0022-ASoC-rk3308_codec-replace-codec-to-component.patch
  patch/kernel/archive/rockchip64-6.0/rk3328-add-dmc-driver.patch
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4338 Bump Rpi EDGE kernel to 6.0.y
  config/kernel/linux-bcm2711-edge.config
  config/sources/families/bcm2711.conf
  patch/kernel/archive/bcm2711-6.0/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/archive/bcm2711-6.0/1003-remote-wakeup.patch
  patch/kernel/archive/bcm2711-6.0/2001-rename-msd.patch
  patch/kernel/bcm2711-edge
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4345 Bump Odroid xu4 edge to 6.0
  config/kernel/linux-odroidxu4-edge.config
  config/sources/families/odroidxu4.conf
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4344 Firmware package for Rpi was changed - renaming it
  config/sources/families/bcm2711.conf
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4342 Bump mvebu 64 edge to 6.0.y
  config/kernel/linux-mvebu64-edge.config
  config/sources/families/mvebu64.conf
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4341 Bump meson64 edge to 6.0.y
  config/kernel/linux-meson64-edge.config
  config/sources/families/include/meson64_common.inc
  patch/kernel/archive/meson64-5.19/general-pwm-gpio-Add-a-generic-gpio-based-PWM-.patch
  patch/kernel/archive/meson64-6.0/add-board-radxa-zero2.patch
  patch/kernel/archive/meson64-6.0/board-khadas-vim2-use-gpio-fan-matrix-instead-of-array.patch
  patch/kernel/archive/meson64-6.0/board-khadas-vim3-fix-missing-i2c3-nod.patch
  patch/kernel/archive/meson64-6.0/board-khadas-vims-add-rtc-vrtc-aliases.patch
  patch/kernel/archive/meson64-6.0/board-nanopi-k2-add-uartC-alias.patch
  patch/kernel/archive/meson64-6.0/board-nanopi-k2-enable-emmc.patch
  patch/kernel/archive/meson64-6.0/board-odroidc2-add-uartA-uartC.patch
  patch/kernel/archive/meson64-6.0/board-odroidc2-enable-SPI.patch
  patch/kernel/archive/meson64-6.0/board-odroidc2-enable-scpi-dvfs.patch
  patch/kernel/archive/meson64-6.0/board-odroidhc4-enable-fan1_input.patch
  patch/kernel/archive/meson64-6.0/board-odroidn2-add-dumb-gpio-fan.patch
  patch/kernel/archive/meson64-6.0/board-odroidn2-add-gpio-fan-as-cooling-device.patch
  patch/kernel/archive/meson64-6.0/board-odroidn2-add-spi-flash-enabled-dts.patch
  patch/kernel/archive/meson64-6.0/board-odroidn2plus-Add-missing-CPU-opp.patch
  patch/kernel/archive/meson64-6.0/board-radxa-zero-dts-add-support-for-the-usb-c-controller.patch
  patch/kernel/archive/meson64-6.0/board-radxa-zero-dts-slow-down-sdio-for-working-wifi.patch
  patch/kernel/archive/meson64-6.0/drv-spi-spidev-remove-warnings.patch
  patch/kernel/archive/meson64-6.0/general-add-Amlogic-Meson-GX-PM-Suspend.patch
  patch/kernel/archive/meson64-6.0/general-add-overlay-compilation-support.patch
  patch/kernel/archive/meson64-6.0/general-drm-dw-hdmi-call-hdmi_set_cts_n-after-clock.patch
  patch/kernel/archive/meson64-6.0/general-drm-panfrost-fix-reference-leak.patch
  patch/kernel/archive/meson64-6.0/general-fix-Kodi-sysinfo-CPU-information.patch
  patch/kernel/archive/meson64-6.0/general-gpu-drm-add-new-display-resolution-2560x1440.patch
  patch/kernel/archive/meson64-6.0/general-hdmi-codec-reorder-channel-allocation-list.patch
  patch/kernel/archive/meson64-6.0/general-hwmon-pwm-fan-fix-to-add-pwm1_enable-t.patch
  patch/kernel/archive/meson64-6.0/general-increase-cma-pool-896MB.disable
  patch/kernel/archive/meson64-6.0/general-input-touchscreen-Add-D-WAV-Multitouch.patch
  patch/kernel/archive/meson64-6.0/general-kernel-odroidn2-current.patch
  patch/kernel/archive/meson64-6.0/general-media-cec-silence-CEC-timeout-message-HACK.patch
  patch/kernel/archive/meson64-6.0/general-memory-marked-nomap.patch
  patch/kernel/archive/meson64-6.0/general-meson-aiu-Fix-HDMI-codec-control-selection.patch
  patch/kernel/archive/meson64-6.0/general-meson-gx-mmc-fix-deferred-probing.patch
  patch/kernel/archive/meson64-6.0/general-meson-gx-mmc-set-core-clock-phase-to-270-degres.patch
  patch/kernel/archive/meson64-6.0/general-meson-vdec-add-HEVC-decode-codec.patch
  patch/kernel/archive/meson64-6.0/general-meson-vdec-add-handling-to-HEVC-decoder-.patch
  patch/kernel/archive/meson64-6.0/general-meson-vdec-check-if-parser-has-really-parser.patch
  patch/kernel/archive/meson64-6.0/general-meson-vdec-improve-mmu-and-fbc-handling-.patch
  patch/kernel/archive/meson64-6.0/general-meson-vdec-remove-redundant-if-statement.patch
  patch/kernel/archive/meson64-6.0/general-meson64-overlays.patch
  patch/kernel/archive/meson64-6.0/general-rc-drivers-should-produce-alternate-pulse-and-space-timing-events.patch
  patch/kernel/archive/meson64-6.0/general-si2168-fix-cmd-timeout.patch
  patch/kernel/archive/meson64-6.0/general-sound-soc-remove-mono-channel-as-it-curren.patch
  patch/kernel/archive/meson64-6.0/general-spi-nor-add-support-for-XT25F128B.patch
  patch/kernel/archive/meson64-6.0/general-usb-core-improve-handling-of-hubs-with-no-ports.patch
  patch/kernel/archive/meson64-6.0/jethome-0001-Fix-meson64-add-gpio-irq-patch-from-https-lkml.org-l.patch
  patch/kernel/archive/meson64-6.0/jethome-0002-arm64-dts-meson-axg-add-support-for-JetHub-D1p-j110.patch
  patch/kernel/archive/meson64-6.0/jethome-0003-dt-bindings-arm-amlogic-add-bindings-for-Jethub-D1p-.patch
  patch/kernel/archive/meson64-6.0/meson-gx-dts-add-support-for-GX-PM-and-VRTC.patch
  patch/kernel/archive/meson64-6.0/meson-gxbb-dts-i2cX-missing-pins.patch
  patch/kernel/archive/meson64-6.0/meson-gxbb-vdec-add-HEVC-support-to-GXBB.patch
  patch/kernel/archive/meson64-6.0/meson-gxm-vdec-add-VP9-support-to-GXM.patch
  patch/kernel/archive/meson64-6.0/meson-sm1-dts-add-higher-clocks.patch
  patch/kernel/meson64-edge
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4340 Bump UEFI edge kernels to 6.0.y
  config/kernel/linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-x86-edge.config
  config/sources/families/include/uefi_common.inc
  patch/kernel/uefi-x86-edge
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4339 Bump imx6 edge to 6.0.y
  config/kernel/linux-imx6-edge.config
  config/sources/families/imx6.conf
  patch/kernel/archive/imx6-6.0/-
  patch/kernel/archive/imx6-6.0/0001-binding-doc-power-pwrseq-generic-add-binding-doc-for.patch
  patch/kernel/archive/imx6-6.0/0002-power-add-power-sequence-library.patch
  patch/kernel/archive/imx6-6.0/0004-usb-core-add-power-sequence-handling-for-USB-devices.patch.disabled
  patch/kernel/archive/imx6-6.0/0005-ARM-dts-imx6qdl-Enable-usb-node-children-with-reg.patch
  patch/kernel/archive/imx6-6.0/0007-ARM-dts-imx6q-evi-Fix-onboard-hub-reset-line.patch
  patch/kernel/archive/imx6-6.0/0008-ARM-dts-driver-imx6-udooqdl-add-arduino-manager-driv.patch
  patch/kernel/archive/imx6-6.0/Feroceon-no-inline-l2_inv_all.patch
  patch/kernel/archive/imx6-6.0/Linux-3.18.2-Hummingboard-i2c3.patch
  patch/kernel/archive/imx6-6.0/Linux-4.2.6-systemd-timer.patch
  patch/kernel/imx6-edge
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4346 Fixes for Media CURRENT and XU4 edge
  config/kernel/linux-media-edge.config
  config/kernel/linux-odroidxu4-edge.config
  patch/kernel/archive/media-5.19/340-general-add-dwc3-xhci-usb-trb-quirk.patch
  patch/kernel/archive/media-5.19/600-usb-fix.patch
Labels: Hardware :gear:

#4347 Fix also patches in station patch directory
  patch/kernel/archive/station-p2-5.19/340-general-add-dwc3-xhci-usb-trb-quirk.patch
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4348 meson: edge: bump v6.0
  config/kernel/linux-meson-edge.config
  config/sources/families/include/meson_common.inc
  patch/kernel/archive/meson-6.0/0001-m8-m8b-m8m2-Support-HDMI.patch
  patch/kernel/archive/meson-6.0/0002-m8-m8b-m8m2-drm-forcefully-enable-XRGB-format.patch
  patch/kernel/archive/meson-6.0/Revert-mmc-core-Set-HS-clock-speed-before-sending-HS-CMD13.patch
  patch/kernel/archive/meson-6.0/board_odroidc1/dts-Enable-HDMI.patch
  patch/kernel/archive/meson-6.0/board_onecloud/0001-add-dts.patch
  patch/kernel/archive/meson-6.0/board_onecloud/0002-dts-Support-HDMI.patch
  patch/kernel/archive/meson-6.0/board_onecloud/usb-disable-ACA-check.patch
  patch/kernel/archive/meson-6.0/generate-uImage-instand-of-zImage.patch
  patch/kernel/meson-edge
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4350 Re-enable RTL8822CS in meson64-edge and for kernel 6.0+
  config/kernel/linux-meson64-edge.config
  lib/functions/compilation/patch/kernel-bootsplash-and-drivers.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#4321 Adjust build targets
  config/targets.conf
Labels: Ready :arrow_right:

#4351 Bump sunxi to latest and remove deprecated patch
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/rockchip64-5.15/general-add-dwc3-xhci-usb-trb-quirk.patch
  patch/kernel/archive/rockchip64-5.15/general-emmc-hs400es-init-tweak.patch
Labels: Ready :arrow_right:, Bugfix :radioactive:, Maintenance :recycle:

#4352 Add kaslrseed to Rockchip's u-boot
  config/bootscripts/boot-rockchip64.cmd
Labels: Ready :arrow_right:, Maintenance :recycle:

#4311 Add kASLR for rk3399 u-boot
  patch/u-boot/u-boot-rockchip64/rk3399-rp64-kaslr.patch
  patch/u-boot/u-boot-rockchip64/rk3399-rp64-rng.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4353 Only enable serial logins if enabled.
  lib/functions/configuration/main-config.sh
  lib/functions/rootfs/distro-agnostic.sh
Labels: Ready :arrow_right:

#4308 Add an attempt counter, which helps buggy PCIe links.
  patch/kernel/archive/media-5.19/rk3399-rp64-pcie-retry.patch
  patch/kernel/archive/media-6.0/rk3399-rp64-pcie-retry.patch
  patch/kernel/archive/rockchip64-5.15/rk3399-rp64-pcie-retry.patch
  patch/kernel/archive/rockchip64-5.19/rk3399-rp64-pcie-retry.patch
  patch/kernel/archive/rockchip64-6.0/rk3399-rp64-pcie-retry.patch
Labels: Ready :arrow_right:, Good first issue :dart:, Bugfix :radioactive:, Hardware :gear:

#4354 Small adjustment to beta build targets, typo
  config/boards/orangepi4-lts.conf
  config/boards/orangepi4.conf
  config/targets-cli-beta.conf
  config/targets-desktop-beta.conf
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4355 Go back to latest stable u-boot with VIM3L
  config/boards/khadas-vim3l.conf
  config/sources/families/include/meson64_common.inc
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#4357 Fix two small cosmetic bug
  packages/bsp/common/etc/update-motd.d/40-armbian-updates
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready :arrow_right:, Bugfix :radioactive:, Maintenance :recycle:

#4356 CI images list making bugfix
  .github/workflows/build-images.yml
Labels: Ready :arrow_right:, Bugfix :radioactive:, Software :chains:, Maintenance :recycle:

#4358 Adjust and fix build targets
  config/targets.conf
Labels: Ready :arrow_right:, Bugfix :radioactive:, Maintenance :recycle:

#4359 fix patch jetson nano
  patch/kernel/archive/media-6.0/590-rk3399-rp64-pcie-retry.patch
  patch/kernel/archive/media-6.0/610-pwm-fan-fix.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4361 update rkbin files of rk3588 to aviod system hangs when ddr freq is 2112MHz
  config/sources/families/include/rockchip64_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#4362 Update odroidxu4-current to 5.4.220
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.218-219.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.219-220.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4366 Bump sunxi kernels to latest
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:, Maintenance :recycle:

#4363 Bugfix about `debsums`
  lib/functions/rootfs/create-cache.sh
Labels: Ready :arrow_right:

#4369 Revert "Add an attempt counter, which helps buggy PCIe links. (#4308)"
  patch/kernel/archive/media-5.19/rk3399-rp64-pcie-retry.patch
  patch/kernel/archive/media-6.0/590-rk3399-rp64-pcie-retry.patch
  patch/kernel/archive/rockchip64-5.15/rk3399-rp64-pcie-retry.patch
  patch/kernel/archive/rockchip64-5.19/rk3399-rp64-pcie-retry.patch
  patch/kernel/archive/rockchip64-6.0/rk3399-rp64-pcie-retry.patch
Labels: Hardware :gear:

#4367 Add sunxi edge target
  config/targets.conf
Labels: Ready :arrow_right:, Bugfix :radioactive:, Maintenance :recycle:

#4368 Add CSC Odroid M1 with legacy, current and edge kernel
  config/boards/odroidm1.wip
  config/bootscripts/boot-rockchip64-vendor.cmd
  config/kernel/linux-rk3568-odroid-edge.config
  config/sources/families/rk3568-odroid.conf
  config/targets-cli-beta.conf
  patch/u-boot/u-boot-odroidm1/add_defconfig_without_SPI_and_sector_in_addition_to_partition.patch
Labels: Ready :arrow_right:, Hardware :gear:
