Repository armbian/build, pull requests merged in 2022-02, with the labels that each got.

#3371 Support edge kernel for Rock 3A and rk35xx
  config/boards/rock-3a.wip
  config/kernel/linux-rk35xx-edge.config
  config/sources/families/rk35xx.conf
  config/targets-cli-beta.conf
  patch/kernel/archive/rk35xx-4.19/general-remove-wireguard.patch
  patch/kernel/archive/rk35xx-5.16/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/rk35xx-5.16/rk3568-dts-radxa-rock3a-support.patch
  patch/kernel/archive/rk35xx-5.16/rk356x-drm-rockchip-VOP2-support.patch
  patch/kernel/archive/rk35xx-5.16/rk356x-gpu-GPU.patch
  patch/kernel/archive/rk35xx-5.16/rk356x-hdmi-audio.patch
  patch/kernel/archive/rk35xx-5.16/rk356x-mfd-rk808-add-reboot-support-to-rk808.c.patch
  patch/kernel/archive/rk35xx-5.16/rk356x-naneng-combo-phy.patch
  patch/kernel/archive/rk35xx-5.16/rk356x-usb2-support.patch
  patch/kernel/archive/rk35xx-5.16/rk356x-usb3.patch
  patch/kernel/archive/rk35xx-5.16/rk356x-vpu.patch
  patch/kernel/rk35xx-edge
Labels: c:kernel, c:bsp

#3452 fix start Jetson Nano kernel legacy USB media
  config/kernel/linux-jetson-nano-legacy.config
  config/sources/families/jetson-nano.conf
  lib/distributions.sh
Labels: 2.confirmed bug, c:kernel, c:build script, c:bsp

#3447 new module list generation function for Initramfs
  config/modules/jetson-nano-current
  config/modules/jetson-nano-edge
  config/modules/jetson-nano-legacy
  config/sources/families/jetson-nano.conf
  lib/distributions.sh
Labels: c:build script, c:bsp

#3451 fix github mirror.china github speed up
  lib/compilation-prepare.sh
  lib/compilation.sh
  lib/configuration.sh
Labels: 9.ready for merge, c:build script

#3454 Add switch to skip image creation if it already exists
  lib/configuration.sh
  lib/debootstrap.sh
  lib/main.sh
Labels: 9.ready for merge, c:build script

#3455 fix MODULES_INITRD legacy
  config/sources/families/jetson-nano.conf
Labels: c:bsp

#3458 Update odroidxu4-current to 5.4.176
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.173-174.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.174-175.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.175-176.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.176-177.patch
Labels: c:kernel

#3461 Fix rpi upgrades to kernel and dtbs
  config/sources/families/bcm2711.conf
  packages/armbian/builddeb
Labels: c:bsp

#3464 switch RTL8188EU USB WiFi driver with 5.15+ kernel to mainline
  config/kernel/linux-imx6-edge.config
  config/kernel/linux-meson-edge.config
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-mvebu64-edge.config
  config/kernel/linux-rk35xx-edge.config
  config/kernel/linux-rockchip-edge.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi64-edge.config
  lib/compilation-prepare.sh
Labels: c:kernel, c:build script

#3462 rpi: copy DTBs to Debian/Ubuntu standard location
  packages/armbian/builddeb
Labels: 2.confirmed bug, 9.ready for merge

#3465 Actions: run build train from any branch
  .github/workflows/build-images.yml
  .github/workflows/build-train.yml
Labels: 2.confirmed bug, c:actions

#3471 Add support for JetHub D1 new revision with AP6256 WiFi/BT
  config/sources/families/jethub.conf
  packages/bsp/jethub/jethubj100/brcmfmac43456-sdio.jethome,jethub-j100.bin
  packages/bsp/jethub/jethubj100/brcmfmac43456-sdio.jethome,jethub-j100.txt
Labels: maintenance, c:bsp

#3470 fix disable u-boot and initramfs hooks
  config/sources/families/jetson-nano.conf
  packages/blobs/jetson/jetson.sh
Labels: maintenance, c:bsp

#3469 update kernel legacy for station m2\p2
  config/kernel/linux-station-p2-legacy.config
  config/sources/families/media.conf
Labels: c:kernel, maintenance, c:bsp

#3467 add image adv
  config/boards/jetson-nano.conf
  config/targets.conf
Labels: c:bsp

#3466 fix use auto dtb for extlinux
  config/boards/station-p1.conf
  patch/u-boot/u-boot-rockchip64/board_station-p1/u-boot-rk3399-roc-pc-plus.patch
Labels: c:u-boot, c:bsp

#3474 Bump mvebu-current to 5.15 and mvebu-edge to 5.16
  config/kernel/linux-mvebu-current.config
  config/sources/families/mvebu.conf
  patch/kernel/archive/mvebu-5.16/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/mvebu-5.16/0001-cpuidle-mvebu-indicate-failure-to-enter-deeper-sleep.patch
  patch/kernel/archive/mvebu-5.16/09-pci-link-retraining.patch
  patch/kernel/archive/mvebu-5.16/10-pcie-bridge-emul.patch
  patch/kernel/archive/mvebu-5.16/11-mvebu-clearfog-pcie-updates.patch
  patch/kernel/archive/mvebu-5.16/12-implement-slot-capabilities-SSPL.patch
  patch/kernel/archive/mvebu-5.16/12-net-dsa-mv88e6xxx.patch
  patch/kernel/archive/mvebu-5.16/412-ARM-dts-armada388-clearfog-emmc-on-clearfog-base.patch
  patch/kernel/archive/mvebu-5.16/91-01-libata-add-ledtrig-support.patch
  patch/kernel/archive/mvebu-5.16/91-02-Enable-ATA-port-LED-trigger.patch
  patch/kernel/archive/mvebu-5.16/92-mvebu-gpio-add_wake_on_gpio_support.patch
  patch/kernel/archive/mvebu-5.16/92-mvebu-gpio-remove-hardcoded-timer-assignment.patch
  patch/kernel/archive/mvebu-5.16/94-helios4-dts-add-wake-on-lan-support.patch
  patch/kernel/archive/mvebu-5.16/compile-dtb-with-symbol-support.patch
  patch/kernel/archive/mvebu-5.16/dts-disable-spi-flash-on-a388-microsom.patch
  patch/kernel/archive/mvebu-5.16/general-increasing_DMA_block_memory_allocation_to_2048.patch
  patch/kernel/archive/mvebu-5.16/unlock_atheros_regulatory_restrictions.patch
  patch/kernel/archive/mvebu-5.16/use-1000BaseX-clearfog-switch.patch
  patch/kernel/mvebu-current
  patch/kernel/mvebu-edge
Labels: 8.beta, c:kernel, 7.needs testing, c:bsp

#3475 u-boot install fallback - use package version which was downloaded
  lib/debootstrap.sh
Labels: 2.confirmed bug, 9.ready for merge, c:build script

#3477 fix build legacy station m2\p2
  config/sources/families/media.conf
Labels: 2.confirmed bug, 9.ready for merge, c:bsp

#3479 Enable audio on Rpi in config
  config/boards/rpi4b.wip
  packages/blobs/asound.state/asound.state.rpi
Labels: 2.confirmed bug, 9.ready for merge, c:bsp

#3483 upd mirror site
  lib/configuration.sh
Labels: maintenance, c:build script

#3487 Packaging
  config/sources/families/bcm2711.conf
  packages/armbian/builddeb
Labels: 6.WIP, c:bsp

#3485 remove wrong assumpsion "btrfs compressed fs always < current size"
  lib/debootstrap.sh
Labels: c:build script

#3488 Adjusting build targets
  config/targets-desktop-beta.conf
  config/targets.conf
Labels: 6.WIP

#3492 AR-1048: rpi: *kernel* upgrades fix; fs label uppercase fix (but not a DTB fix)
  config/sources/families/bcm2711.conf
Labels: 9.ready for merge, c:bsp

#3493 add firmware wifi for p2\m2
  config/kernel/linux-station-p2-legacy.config
  config/sources/families/include/rockchip64_common.inc
  packages/blobs/station/firmware/clm_bcm43752a2_ag.blob
  packages/blobs/station/firmware/fw_bcm43455c0_ag.bin
  packages/blobs/station/firmware/fw_bcm43456c5_ag.bin
  packages/blobs/station/firmware/fw_bcm43752a2_ag.bin
  packages/blobs/station/firmware/fw_bcm43752a2_ag_apsta.bin
  packages/blobs/station/firmware/nvram.txt
  packages/blobs/station/firmware/nvram_ap6256.txt
  packages/blobs/station/firmware/nvram_ap6275s.txt
Labels: c:kernel, c:bsp

#3497 fix bootsplash kernel media-edge
  config/kernel/linux-media-edge.config
  config/sources/families/jetson-nano.conf
  config/sources/families/media.conf
Labels: c:kernel, 9.ready for merge, c:bsp

#3502 Enable AUFS and Docker
  config/kernel/linux-bcm2711-current.config
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-uefi-arm64-current.config
  config/kernel/linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-x86-current.config
  config/kernel/linux-uefi-x86-edge.config
  lib/compilation-prepare.sh
Labels: c:kernel, 9.ready for merge, c:build script

#3495 Remove incorrectly duplicated GPIO pins from I2C7, name I2C7/I2C8 bus, from README.rockchip-overlays
  patch/kernel/archive/rk3399-4.4/general-rockchip-overlays.patch
  patch/kernel/archive/rockchip64-4.4/general-rockchip-overlays.patch
  patch/kernel/archive/rockchip64-5.10/general-rockchip-overlays.patch
  patch/kernel/archive/rockchip64-5.12/general-rockchip-overlays.patch
  patch/kernel/archive/rockchip64-5.13/general-rockchip-overlays.patch
  patch/kernel/archive/rockchip64-5.14/general-rockchip-overlays.patch
  patch/kernel/archive/rockchip64-5.15/general-rockchip-overlays.patch
  patch/kernel/media-current/general-rockchip-overlays.patch
  patch/kernel/media-edge/general-rockchip-overlays.patch
Labels: c:kernel, 9.ready for merge

#3504 reenable nanopineoplus2
  config/targets.conf
Labels: 9.ready for merge

#3512 Fixing package name changes in Jammy
  config/desktop/jammy/environments/cinnamon
  config/desktop/jammy/environments/cinnamon/armbian
  config/desktop/jammy/environments/cinnamon/config_base/packages
  config/desktop/jammy/environments/cinnamon/config_base/packages.uninstall
  config/desktop/jammy/environments/cinnamon/debian
  config/desktop/jammy/environments/cinnamon/only_for
  config/desktop/jammy/environments/cinnamon/support
  config/desktop/jammy/environments/gnome/config_base/packages
  config/desktop/jammy/environments/i3-wm
  config/desktop/jammy/environments/i3-wm/armbian
  config/desktop/jammy/environments/i3-wm/config_base/packages
  config/desktop/jammy/environments/i3-wm/config_base/packages.uninstall
  config/desktop/jammy/environments/i3-wm/debian
  config/desktop/jammy/environments/i3-wm/support
  config/desktop/jammy/environments/kde-plasma
  config/desktop/jammy/environments/kde-plasma/armbian
  config/desktop/jammy/environments/kde-plasma/config_base/packages
  config/desktop/jammy/environments/kde-plasma/config_base/packages.uninstall
  config/desktop/jammy/environments/kde-plasma/debian
  config/desktop/jammy/environments/kde-plasma/only_for
  config/desktop/jammy/environments/kde-plasma/support
  config/desktop/jammy/environments/mate
  config/desktop/jammy/environments/mate/armbian
  config/desktop/jammy/environments/mate/config_base/packages
  config/desktop/jammy/environments/mate/config_base/packages.uninstall
  config/desktop/jammy/environments/mate/debian
  config/desktop/jammy/environments/mate/only_for
  config/desktop/jammy/environments/mate/support
  config/desktop/jammy/environments/xfce
  config/desktop/jammy/environments/xfce/appgroups
  config/desktop/jammy/environments/xfce/armbian
  config/desktop/jammy/environments/xfce/config_base/packages
  config/desktop/jammy/environments/xfce/config_base/packages.uninstall
  config/desktop/jammy/environments/xfce/debian
  config/desktop/jammy/environments/xfce/support
  config/desktop/jammy/environments/xmonad
  config/desktop/jammy/environments/xmonad/armbian
  config/desktop/jammy/environments/xmonad/config_base/packages
  config/desktop/jammy/environments/xmonad/config_base/packages.uninstall
  config/desktop/jammy/environments/xmonad/debian
  config/desktop/jammy/environments/xmonad/only_for
  config/desktop/jammy/environments/xmonad/support
  lib/configuration.sh
Labels: 2.confirmed bug, c:build script

#3510 Update odroidxu4-current to 5.4.181
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.179-180.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.180-181.patch
Labels: c:kernel, 9.ready for merge

#3509 Remove patch already included in kernel 5.15-stable
  patch/kernel/archive/meson64-5.15/0004-HACK-arm64-dts-meson-gx-add-ATF-BL32-reserved-memory.patch
Labels: c:kernel, 9.ready for merge

#3505 fix station m2 edge NVME and Wifi
  patch/kernel/media-edge/00-v90-rk356x.patch
  patch/kernel/media-edge/00-v95-rk3566-firefly-roc-pc.patch
  patch/kernel/media-edge/add-boards-to-dts-makefile.patch
  patch/kernel/media-edge/board-rockpi4-0001-arm64-dts-audio-over-hdmi.patch
  patch/kernel/media-edge/board-rockpi4-0002-arm64-dts-leds.patch
  patch/kernel/media-edge/board-rockpi4-0003-arm64-dts-pcie.patch
  patch/kernel/media-edge/board-rockpi4-Add-DT-link-for-backward-compatibility.patch
  patch/kernel/media-edge/board-rockpi4-FixMMCFreq.patch
Labels: c:kernel, 9.ready for merge

#3413 Add support for Radxa Zero 2
  config/boards/radxa-zero2.csc
  config/sources/families/include/meson64_common.inc
  config/sources/families/meson-g12b.conf
  patch/kernel/archive/meson64-5.10/0001-arm64-dts-meson-add-support-for-Radxa-Zero-2.patch
  patch/u-boot/u-boot-meson64/0001-ARM-dts-add-support-for-Radxa-Zero-2.patch
Labels: c:kernel, c:u-boot, 9.ready for merge, 6.WIP, c:bsp

#3507 JetHub H1: dirty userland fix for net interface does not up at boot
  config/sources/families/jethub.conf
  packages/bsp/jethub/jethubj80/jethub-ethreset
  packages/bsp/jethub/jethubj80/jethub-ethreset.service
Labels: 9.ready for merge, c:bsp

#3514 Add orangepi r1 plus lts
  config/boards/orangepi-r1plus-lts.conf
  config/kernel/linux-rockchip64-edge.config
  config/sources/families/include/rockchip64_common.inc
  patch/kernel/archive/rockchip64-5.10/add-board-rk3328-orangepi-r1-plus-lts.patch
  patch/kernel/archive/rockchip64-5.10/add-boards-to-dts-makefile.patch
  patch/kernel/archive/rockchip64-5.10/net-phy-Add-driver-for-Motorcomm-1-YT85xx-PHYs.patch
  patch/kernel/archive/rockchip64-5.10/net-phy-Add-driver-for-Motorcomm-2-YT8531-PHYs.patch
  patch/kernel/archive/rockchip64-5.15/add-boards-to-dts-makefile.patch
  patch/kernel/archive/rockchip64-5.15/add-driver-for-Motorcomm-YT85xx+PHYs.patch
  patch/kernel/archive/rockchip64-5.15/rk3328-add-board-orangepi-r1-plus-lts.patch
  patch/kernel/archive/rockchip64-5.16/add-boards-to-dts-makefile.patch
  patch/kernel/archive/rockchip64-5.16/add-driver-for-Motorcomm-YT85xx+PHYs.patch
  patch/kernel/archive/rockchip64-5.16/rk3328-add-board-orangepi-r1-plus-lts.patch
  patch/u-boot/u-boot-rockchip64/add-board-rk3328-orangepi-r1-plus-lts-u-boot.patch
Labels: c:kernel, c:u-boot, 9.ready for merge, c:bsp

#3511 Bugfix for packages/armbian/builddeb, packages/bsp/common/etc/kernel/preinst.d/initramfs-cleanup
  packages/armbian/builddeb
  packages/bsp/common/etc/kernel/postinst.d/xx-initramfs-cleanup
  packages/bsp/common/etc/kernel/postrm.d/xx-initramfs-cleanup
  packages/bsp/common/etc/kernel/preinst.d/initramfs-cleanup
Labels: 9.ready for merge

#3500 Pin kernel branches to versions rather then branches
  config/sources/families/include/meson64_common.inc
  config/sources/families/include/uefi_common.inc
  config/sources/families/jetson-nano.conf
  config/sources/families/media.conf
  config/sources/families/mvebu.conf
  config/sources/families/mvebu64.conf
  config/sources/families/odroidxu4.conf
  config/sources/families/rockchip.conf
Labels: c:bsp
