Repository armbian/build, pull requests merged in 2022-08, with the labels that each got.

#4038 Enable btusb driver and sync the config for rockchip-rk3588 legacy kernel
  config/kernel/linux-rockchip-rk3588-legacy.config
Labels: Hardware :gear:

#4041 Change Jira URL to dashboard
  .github/ISSUE_TEMPLATE/config.yml
Labels: Ready :arrow_right:

#4042 Disable bootsplash for linux ≥ 5.19
  lib/compilation-prepare.sh
Labels: Ready :arrow_right:, Software :chains:

#4045 rockchip: switch edge kernel to v5.19
  config/kernel/linux-rockchip-edge.config
  config/sources/families/rockchip.conf
  patch/kernel/archive/rockchip-5.19/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/rockchip-5.19/0002-mglru-framework.patch
  patch/kernel/archive/rockchip-5.19/01-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rockchip-5.19/01-linux-0011-v4l2-from-list.patch
  patch/kernel/archive/rockchip-5.19/01-linux-0020-drm-from-list.patch
  patch/kernel/archive/rockchip-5.19/01-linux-1000-drm-rockchip.patch
  patch/kernel/archive/rockchip-5.19/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rockchip-5.19/01-linux-1002-for-libreelec.patch
  patch/kernel/archive/rockchip-5.19/01-linux-2000-v4l2-wip-rkvdec-hevc.patch
  patch/kernel/archive/rockchip-5.19/01-linux-2001-v4l2-wip-iep-driver.patch
  patch/kernel/archive/rockchip-5.19/1-2-regulator-act8865-add-restart-handler-for-act8846.patch
  patch/kernel/archive/rockchip-5.19/1001-dts-rk3288-miqi-Enabling-the-Mali-GPU-node.patch
  patch/kernel/archive/rockchip-5.19/1002-ARM-dts-rockchip-fix-the-regulator-s-voltage-range-o.patch
  patch/kernel/archive/rockchip-5.19/1003-ARM-dts-rockchip-add-the-MiQi-board-s-fan-definition.patch
  patch/kernel/archive/rockchip-5.19/1007-RK3288-DTSI-rk3288-Add-missing-SPI2-pinctrl.patch
  patch/kernel/archive/rockchip-5.19/1010-ARM-DTSI-rk3288-Adding-missing-EDP-power-domain.patch
  patch/kernel/archive/rockchip-5.19/1012-ARM-DTSI-rk3288-Fixed-the-SPDIF-node-address.patch
  patch/kernel/archive/rockchip-5.19/1013-ARM-DTS-rk3288-tinker-Enabling-SDIO-and-Wifi.patch
  patch/kernel/archive/rockchip-5.19/1014-ARM-DTS-rk3288-tinker-Setup-the-Bluetooth-UART-pins.patch
  patch/kernel/archive/rockchip-5.19/1015-ARM-DTSI-rk3288-tinker-Improving-the-CPU-max-voltage.patch
  patch/kernel/archive/rockchip-5.19/1017-ARM-DTS-rk3288-tinker-Defined-the-I2C-interfaces.patch
  patch/kernel/archive/rockchip-5.19/1018-ARM-DTS-rk3288-tinker-Defining-the-SPI-interface.patch
  patch/kernel/archive/rockchip-5.19/1019-ARM-DTSI-rk3288-tinker-Defining-SDMMC-properties.patch
  patch/kernel/archive/rockchip-5.19/1023-dts-rk3288-support-for-dedicating-npll-to-a-vop.patch.disabled
  patch/kernel/archive/rockchip-5.19/1024-arm-dts-veyron-Added-a-flag-to-disable-cache-flush-d.patch
  patch/kernel/archive/rockchip-5.19/1025-ARM-DTSI-rk3288-disable-serial-dmas.patch
  patch/kernel/archive/rockchip-5.19/1026-arm-dtsi-rk3288-add-GPU-500-Mhz-OPP.patch
  patch/kernel/archive/rockchip-5.19/1028-enable-hevc-rga-for-tinkerboard.patch
  patch/kernel/archive/rockchip-5.19/1029-enable-hevc-rga-for-miqi.patch
  patch/kernel/archive/rockchip-5.19/2002-clk-rockchip-add-all-known-operating-points-to-the-a.patch
  patch/kernel/archive/rockchip-5.19/2005-drivers-mmc-dw-mci-rockchip-Handle-ASUS-Tinkerboard.patch
  patch/kernel/archive/rockchip-5.19/2007-drivers-wifi-ath9k-reverse-do-not-use-bulk-on-EP3-and-EP4.patch
  patch/kernel/archive/rockchip-5.19/2013-spi-Added-support-for-Tinkerboard-s-SPI-interface.patch
  patch/kernel/archive/rockchip-5.19/261_gpiomem_driver.patch
  patch/kernel/archive/rockchip-5.19/3000_DTS_rearrange_thermal_zones.patch
  patch/kernel/archive/rockchip-5.19/3001_Tinkerboard-4.19-audio.patch
  patch/kernel/archive/rockchip-5.19/4016-workaround-broadcom-bt-serdev.patch
  patch/kernel/archive/rockchip-5.19/5002-prefer-8-bit-RGB-over-YCbCr.patch
  patch/kernel/archive/rockchip-5.19/RK3288-1.8GHz-and-boost.patch
  patch/kernel/archive/rockchip-5.19/brcmfmac-add-ap6330-firmware.patch
  patch/kernel/archive/rockchip-5.19/general-add-overlay-compilation-support.patch
  patch/kernel/archive/rockchip-5.19/general-add-overlays.patch
  patch/kernel/archive/rockchip-5.19/general-fix-reboot-from-kwiboo.patch
  patch/kernel/archive/rockchip-5.19/xt-q8l-v10-add-device-tree.patch
  patch/kernel/archive/rockchip-5.19/xt-q8l-v10-add-dts-makefile.patch
  patch/kernel/archive/rockchip-5.19/xt-q8l-v10-remote-keymap.patch
  patch/kernel/rockchip-edge
Labels: Ready :arrow_right:, Hardware :gear:

#4047 Bump sunxi
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready :arrow_right:

#4046 uefi-(arm64|x86)-edge/5.19: bump to 5.19.y
  config/sources/families/include/uefi_common.inc
  patch/kernel/archive/uefi-arm64-5.19/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/uefi-arm64-5.19/0002-Add-PHYT0004-via-ACPI-support-to-stmmac.patch
  patch/kernel/uefi-arm64-edge
Labels: Ready :arrow_right:, Hardware :gear:

#3941 meson64: edge: rework to kernel 5.19
  config/kernel/linux-meson64-edge.config
  config/sources/families/include/meson64_common.inc
  patch/kernel/archive/meson64-5.19/add-board-radxa-zero2.patch
  patch/kernel/archive/meson64-5.19/board-khadas-vim2-use-gpio-fan-matrix-instead-of-array.patch
  patch/kernel/archive/meson64-5.19/board-khadas-vim3-fix-missing-i2c3-nod.patch
  patch/kernel/archive/meson64-5.19/board-khadas-vims-add-rtc-vrtc-aliases.patch
  patch/kernel/archive/meson64-5.19/board-nanopi-k2-add-uartC-alias.patch
  patch/kernel/archive/meson64-5.19/board-nanopi-k2-enable-emmc.patch
  patch/kernel/archive/meson64-5.19/board-odroidc2-add-uartA-uartC.patch
  patch/kernel/archive/meson64-5.19/board-odroidc2-enable-SPI.patch
  patch/kernel/archive/meson64-5.19/board-odroidc2-enable-scpi-dvfs.patch
  patch/kernel/archive/meson64-5.19/board-odroidhc4-enable-fan1_input.patch
  patch/kernel/archive/meson64-5.19/board-odroidn2-add-dumb-gpio-fan.patch
  patch/kernel/archive/meson64-5.19/board-odroidn2-add-gpio-fan-as-cooling-device.patch
  patch/kernel/archive/meson64-5.19/board-odroidn2-add-spi-flash-enabled-dts.patch
  patch/kernel/archive/meson64-5.19/board-odroidn2plus-Add-missing-CPU-opp.patch
  patch/kernel/archive/meson64-5.19/board-radxa-zero-dts-add-support-for-the-usb-c-controller.patch
  patch/kernel/archive/meson64-5.19/board-radxa-zero-dts-slow-down-sdio-for-working-wifi.patch
  patch/kernel/archive/meson64-5.19/drv-spi-spidev-remove-warnings.patch
  patch/kernel/archive/meson64-5.19/general-add-Amlogic-Meson-GX-PM-Suspend.patch
  patch/kernel/archive/meson64-5.19/general-add-overlay-compilation-support.patch
  patch/kernel/archive/meson64-5.19/general-drm-dw-hdmi-call-hdmi_set_cts_n-after-clock.patch
  patch/kernel/archive/meson64-5.19/general-drm-panfrost-fix-reference-leak.patch
  patch/kernel/archive/meson64-5.19/general-fix-Kodi-sysinfo-CPU-information.patch
  patch/kernel/archive/meson64-5.19/general-gpu-drm-add-new-display-resolution-2560x1440.patch
  patch/kernel/archive/meson64-5.19/general-hdmi-codec-reorder-channel-allocation-list.patch
  patch/kernel/archive/meson64-5.19/general-hwmon-pwm-fan-fix-to-add-pwm1_enable-t.patch
  patch/kernel/archive/meson64-5.19/general-increase-cma-pool-896MB.patch
  patch/kernel/archive/meson64-5.19/general-input-touchscreen-Add-D-WAV-Multitouch.patch
  patch/kernel/archive/meson64-5.19/general-kernel-odroidn2-current.patch
  patch/kernel/archive/meson64-5.19/general-media-cec-silence-CEC-timeout-message-HACK.patch
  patch/kernel/archive/meson64-5.19/general-memory-marked-nomap.patch
  patch/kernel/archive/meson64-5.19/general-meson-aiu-Fix-HDMI-codec-control-selection.patch
  patch/kernel/archive/meson64-5.19/general-meson-gx-mmc-fix-deferred-probing.patch
  patch/kernel/archive/meson64-5.19/general-meson-gx-mmc-set-core-clock-phase-to-270-degres.patch
  patch/kernel/archive/meson64-5.19/general-meson-vdec-add-HEVC-decode-codec.patch
  patch/kernel/archive/meson64-5.19/general-meson-vdec-add-handling-to-HEVC-decoder-.patch
  patch/kernel/archive/meson64-5.19/general-meson-vdec-check-if-parser-has-really-parser.patch
  patch/kernel/archive/meson64-5.19/general-meson-vdec-improve-mmu-and-fbc-handling-.patch
  patch/kernel/archive/meson64-5.19/general-meson-vdec-remove-redundant-if-statement.patch
  patch/kernel/archive/meson64-5.19/general-meson64-overlays.patch
  patch/kernel/archive/meson64-5.19/general-pwm-gpio-Add-a-generic-gpio-based-PWM-.patch
  patch/kernel/archive/meson64-5.19/general-rc-drivers-should-produce-alternate-pulse-and-space-timing-events.patch
  patch/kernel/archive/meson64-5.19/general-si2168-fix-cmd-timeout.patch
  patch/kernel/archive/meson64-5.19/general-sound-soc-remove-mono-channel-as-it-curren.patch
  patch/kernel/archive/meson64-5.19/general-spi-nor-add-support-for-XT25F128B.patch
  patch/kernel/archive/meson64-5.19/general-usb-core-improve-handling-of-hubs-with-no-ports.patch
  patch/kernel/archive/meson64-5.19/jethome-0001-Fix-meson64-add-gpio-irq-patch-from-https-lkml.org-l.patch
  patch/kernel/archive/meson64-5.19/jethome-0002-arm64-meson-add-JetHub-D1p-device.patch
  patch/kernel/archive/meson64-5.19/jethome-0003-overlay.patch
  patch/kernel/archive/meson64-5.19/meson-gx-dts-add-support-for-GX-PM-and-VRTC.patch
  patch/kernel/archive/meson64-5.19/meson-gxbb-dts-i2cX-missing-pins.patch
  patch/kernel/archive/meson64-5.19/meson-gxbb-vdec-add-HEVC-support-to-GXBB.patch
  patch/kernel/archive/meson64-5.19/meson-gxm-vdec-add-VP9-support-to-GXM.patch
  patch/kernel/archive/meson64-5.19/meson-sm1-dts-add-higher-clocks.patch
  patch/kernel/meson64-edge
Labels: Ready :arrow_right:, Hardware :gear:

#4053 Update documentation for prepare self hosted runner
  .github/workflows/README.md
Labels: Software :chains:

#4052 Generate CI releases under their version instead of latest
  .github/workflows/build-images.yml
Labels: Ready :arrow_right:, Software :chains:

#4051 Update arm64-dts-Add-sun50i-h616-orangepi-zero2-device.patch
  patch/kernel/archive/sunxi-5.19/patches.armbian/arm64-dts-Add-sun50i-h616-orangepi-zero2-device.patch
Labels: Ready :arrow_right:, Good first issue :dart:, Hardware :gear:

#4050 Bugfix: mkfs: flag for label
  lib/debootstrap.sh
Labels: Ready :arrow_right:, Software :chains:

#4054 Enable AUFS, adjust kernel configs
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-imx6-edge.config
  config/kernel/linux-media-edge.config
  config/kernel/linux-mvebu-edge.config
  config/kernel/linux-mvebu64-edge.config
  config/kernel/linux-odroidxu4-edge.config
  config/kernel/linux-rockchip-edge.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-x86-edge.config
  lib/compilation-prepare.sh
Labels: Ready :arrow_right:, Hardware :gear:, Software :chains:

#4055 Update board names and remove duplicate
  config/boards/bananapim2ultra.csc
  config/boards/bananapir2pro.csc
  config/boards/cubieboard.csc
  config/boards/fe-som-rk3399.csc
  config/boards/lime-a33.csc
  config/boards/lime-a64.conf
  config/boards/lime.csc
  config/boards/lime2.conf
  config/boards/macchiatobin-doubleshot.csc
  config/boards/micro.csc
  config/boards/olinux-som-a13.csc
  config/boards/olinuxino-a13.csc
  config/boards/pcduino3.csc
  config/boards/pinecube.csc
  config/boards/quartz64a.wip
  config/boards/roc-rk3399-pc.csc
  config/boards/uefi-arm64.wip
  config/boards/uefi-x86.wip
  config/boards/virtual-qemu.wip
  config/boards/xt-q8l-v10.tvb
Labels: Ready :arrow_right:, Hardware :gear:

#4057 Rootfs cache refactoring
  config/templates/Dockerfile
  lib/configuration.sh
  lib/debootstrap.sh
  lib/general.sh
Labels: Ready :arrow_right:, Software :chains:

#4056 Allow copying bootscript when BOOTCONFIG=none
  lib/distributions.sh
  lib/makeboarddeb.sh
Labels: Ready :arrow_right:, Software :chains:

#3967 Fix for journald filling /var/log using flush from volatile instead of copy, and removing cache files when nearly full
  packages/bsp/common/etc/cron.d/armbian-truncate-logs
  packages/bsp/common/usr/lib/armbian/armbian-ramlog
  packages/bsp/common/usr/lib/armbian/armbian-truncate-logs
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4040 Remove wrong copy & paste from action script
  .github/workflows/update-cache.yml
Labels: Ready :arrow_right:, Bugfix :radioactive:, Software :chains:

#3999 chore: CONTRIBUTING doc
  CONTRIBUTING.md
Labels: Ready :arrow_right:

#4060 Set build name to version
  .github/workflows/build-images.yml
Labels: Ready :arrow_right:, Software :chains:

#3997 JetHome: add jethub d1p support
  config/bootscripts/boot-jethub.cmd
  config/sources/families/jethub.conf
  patch/kernel/archive/meson64-5.10/jethome-0001-dt-bindings-arm-amlogic-add-bindings-for-Jethub-D1-H.patch
  patch/kernel/archive/meson64-5.10/jethome-0002-dt-bindings-vendor-prefixes-add-jethome-prefix.patch
  patch/kernel/archive/meson64-5.10/jethome-0003-arm64-dts-meson-gxl-add-support-for-JetHub-H1.patch
  patch/kernel/archive/meson64-5.10/jethome-0004-arm64-dts-meson-axg-add-support-for-JetHub-D1.patch
  patch/kernel/archive/meson64-5.10/jethome-0005-Fix-meson64-add-gpio-irq-patch-from-https-lkml.org-l.patch
  patch/kernel/archive/meson64-5.10/jethome-0006-Add-bluetooth-node-for-RTL8822CS-uart-port-https-mjm.patch
  patch/kernel/archive/meson64-5.10/jethome-0007-arm64-meson-fix-dts-for-JetHub-D1.patch
  patch/kernel/archive/meson64-5.10/jethome-0008-arm64-meson-dts-update-dts-for-JetHub-D1-Change-zigb.patch
  patch/kernel/archive/meson64-5.10/jethome-0009-arm64-meson-fix-sdio-in-dts-for-JetHub-D1.patch
  patch/kernel/archive/meson64-5.10/jethome-0010-Add-JetHub-D1p-support.patch
  patch/kernel/archive/meson64-5.19/jethome-0002-arm64-dts-meson-axg-add-support-for-JetHub-D1p-j110.patch
  patch/kernel/archive/meson64-5.19/jethome-0002-arm64-meson-add-JetHub-D1p-device.patch
  patch/kernel/archive/meson64-5.19/jethome-0003-dt-bindings-arm-amlogic-add-bindings-for-Jethub-D1p-.patch
  patch/kernel/archive/meson64-5.19/jethome-0003-overlay.patch
  patch/u-boot/u-boot-meson64/board_jethubj100/0001-clk-meson-add-minimal-driver-for-axg-ao-clocks.patch
  patch/u-boot/u-boot-meson64/board_jethubj100/0002-board-amlogic-jethub-j100-enable-saradc-in-dts.patch
  patch/u-boot/u-boot-meson64/board_jethubj100/0002-clk-meson-fix-driver-name-for-g12a-ao-clocks.patch
  patch/u-boot/u-boot-meson64/board_jethubj100/0003-board-amlogic-jethub-j100-enable-saradc-in-config.patch
  patch/u-boot/u-boot-meson64/board_jethubj100/0003-clk-meson-update-driver-for-g12a-ao-clocks.patch
  patch/u-boot/u-boot-meson64/board_jethubj100/0004-Copy-and-update-amlogic-2019-aml-partition-keyman-co.patch
  patch/u-boot/u-boot-meson64/board_jethubj100/0004-adc-meson-saradc-add-AXG-variant.patch
  patch/u-boot/u-boot-meson64/board_jethubj100/0005-cmd-fix-do_adc_single.patch
  patch/u-boot/u-boot-meson64/board_jethubj100/0006-Add-usid-serial-mac-read-from-emmc.patch
  patch/u-boot/u-boot-meson64/board_jethubj80/0002-cmd-fix-do_adc_single.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4064 Remove deprecated and duplicated document
  .github/CONTRIBUTING.md
Labels: Ready :arrow_right:

#4065 Clean GitHub actions
  .github/workflows/build-desktop-pr.yml
  .github/workflows/build-images.yml
  .github/workflows/build-kernel-pr.yml
  .github/workflows/build-u-boot.yml
  .github/workflows/bump-version.yml
  .github/workflows/check-integrity.yml
  .github/workflows/cleanup.yml
  .github/workflows/maintain.yml
  .github/workflows/rebase.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/update-cache.yml
  .github/workflows/update-docker.yml
Labels: Ready :arrow_right:, Software :chains:

#4061 Bump sunxi kernels
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#4059 Bugfix: overwrite install.log
  lib/distributions.sh
Labels: Ready :arrow_right:, Software :chains:

#4066 When using https download for rootfs cache it gets wrong servers
  lib/general.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:, Software :chains:

#4067 Add proper fallback since anonymous API calls to GitHub are very limited
  lib/configuration.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:, Software :chains:

#4069 Upstream wireless driver for Realtek 88xx is broken at head
  lib/compilation-prepare.sh
Labels: Ready :arrow_right:, Software :chains:

#4068 Update odroidxu4 current to 5.4.210 and edge to 5.19.0
  config/kernel/linux-odroidxu4-current.config
  config/kernel/linux-odroidxu4-edge.config
  config/sources/families/odroidxu4.conf
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.208-209.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.209-210.patch
Labels: Ready :arrow_right:, Hardware :gear:

#3981 Bugfix: armbian-resize-filesystem
  packages/bsp/common/usr/lib/armbian/armbian-resize-filesystem
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4071 Improve GitHub UX, text info & links
  .github/Releases.md
  .github/workflows/build-all-desktops.yml
  .github/workflows/smoke-tests.yml
  README.md
Labels: Ready :arrow_right:, Software :chains:

#4075 Upstream packages naming has been changed
  config/desktop/bullseye/environments/kde-plasma/config_base/packages
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4076 Remove deprecated package
  config/desktop/sid/environments/cinnamon/config_base/packages
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4078 Sunxi 5.19 update megous patches
  patch/kernel/archive/sunxi-5.19/patches.armbian/Rollback-r_rsb-to-r_i2c.patch
  patch/kernel/archive/sunxi-5.19/patches.armbian/add-uwe-bsp-to-OPi3-LTS-dts-file.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/ASoC-rockchip-Fix-doubling-of-playback-speed-after-system-sleep.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/usb-typec-tcpm-Unregister-altmodes-before-registering-new-ones.patch
  patch/kernel/archive/sunxi-5.19/series.armbian
  patch/kernel/archive/sunxi-5.19/series.conf
  patch/kernel/archive/sunxi-5.19/series.megous
Labels: Ready :arrow_right:, Hardware :gear:

#4074 enable 5.19.y edge kernel for the radxa zero 2 builds
  config/boards/radxa-zero2.csc
Labels: Ready :arrow_right:, Good first issue :dart:, Hardware :gear:

#4073 Onecloud: some update
  config/boards/odroidc1.eos
  config/boards/onecloud.csc
  config/bootenv/onecloud.txt
  config/bootscripts/boot-onecloud.cmd
  config/sources/families/include/meson_common.inc
  patch/kernel/archive/meson-5.14/board_onecloud/add-dts.patch
  patch/kernel/archive/meson-5.18/board_onecloud/0001-add-dts.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4082 rk322x,rockchip: fix rkvdec patch due to mainlined changes
  patch/kernel/archive/rk322x-5.19/01-linux-2000-v4l2-wip-rkvdec-hevc.patch
  patch/kernel/archive/rockchip-5.19/01-linux-2000-v4l2-wip-rkvdec-hevc.patch
Labels: Hardware :gear:

#4084 Sunxi 5.19
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-5.19/patches.armbian/drv-media-cedrus-hevc-tiles-hack.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/8723cs-Adapt-to-API-changes-in-stable-5.19.2-and-6.0.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/Update-defconfigs.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/arm64-dts-rockchip-rk3399-Add-reboot-mode-driver.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/firmware-arm_scpi-Support-unidirectional-mailbox-channels.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/usb-dwc3-Add-support-for-snps-usb3-phy-reset-quirk.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/usb-dwc3-Save-desired_dr_role-on-stack-during-set_mode-processi.patch
  patch/kernel/archive/sunxi-5.19/series.conf
  patch/kernel/archive/sunxi-5.19/series.megous
Labels: Ready :arrow_right:, Hardware :gear:

#4089 Fix typo in boot-jethub.cmd
  config/bootscripts/boot-jethub.cmd
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#4086 Use a shorter label as the default value for bootfs to avoid mkfs.fat fail
  lib/debootstrap.sh
Labels: Software :chains:

#4088 fix buid kernel 5.19.2\5.18.8
  config/kernel/linux-media-edge.config
  config/sources/families/media.conf
  packages/bsp/common/usr/sbin/ddbr
  patch/kernel/archive/media-5.19/460-general-hantro-be-more-accurate-on-pixel-formats-step_width-constraints.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4090 Bugfix: unable to build with bootsplash
  lib/compilation-prepare.sh
  patch/misc/0001-Revert-fbcon-Fix-accelerated-fbdev-scrolling-while-logo-is-still-shown.patch
Labels: Ready :arrow_right:, Hardware :gear:, Software :chains:

#4085 Small fixes and cleanup for action scripts
  .github/workflows/build-all-desktops.yml
  .github/workflows/smoke-tests.yml
  README.md
Labels: Ready :arrow_right:, Bugfix :radioactive:, Software :chains:

#4091 Wrong folder for patch when running action scripts
  .github/workflows/build-kernel-pr.yml
Labels: Ready :arrow_right:, Bugfix :radioactive:, Software :chains:

#4094 Remaining wireless fixes for Realtek 88x2BU
  lib/compilation-prepare.sh
  patch/misc/wireless-rtl88x2bu-5.19.2.patch
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:, Software :chains:

#4093 Fix wrong label set for initiating CI at PR
  .github/workflows/build-kernel-pr.yml
Labels: Ready :arrow_right:, Bugfix :radioactive:, Software :chains:

#4101 Enable 32b meson kernel compilation
  config/sources/families/include/meson_common.inc
  config/targets-cli-beta.conf
Labels: Ready :arrow_right:, Hardware :gear:

#4099 Remove deprecated patch
  lib/compilation-prepare.sh
  patch/misc/wireless-rtl8192eu-5.19.2.patch
Labels: Ready :arrow_right:, Hardware :gear:, Software :chains:

#4096 Extend network interface auto detection to suppress errors
  packages/bsp/common/etc/default/armbian-motd.dpkg-dist
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4103 Bump sunxi
  patch/kernel/archive/sunxi-5.19/patches.armbian/drv-media-cedrus-10-bit-HEVC-support.patch
  patch/kernel/archive/sunxi-5.19/patches.armbian/drv-media-cedrus-hevc-Improve-buffer-management.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/ASoC-codec-rt5640-Fix-output-mixer-input-channel-list.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/ASoC-codecs-rt5640-Fix-hpout-restore-when-lout-is-enabled.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/ASoC-rt5640-Allow-configuration-of-LOUT-to-mono-differential-mo.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/arm64-dts-rk3399-pinephone-pro-Fix-initial-codec-clock-frequenc.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/arm64-dts-rk3399-pinephone-pro-Make-LOUT-use-mono-differntial-m.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/dt-bindings-sound-rt5640-Allow-to-describe-how-LOUT-is-wired.patch
  patch/kernel/archive/sunxi-5.19/series.conf
  patch/kernel/archive/sunxi-5.19/series.megous
Labels: Hardware :gear:

#4102 meson: bump kernel versions
  config/kernel/linux-meson-current.config
  config/kernel/linux-meson-edge.config
  config/kernel/linux-meson-legacy.config
  config/sources/families/include/meson_common.inc
  patch/kernel/archive/meson-5.10/Revert-mmc-core-Set-HS-clock-speed-before-sending-HS-CMD13.patch
  patch/kernel/archive/meson-5.10/board_onecloud/add-dts.patch
  patch/kernel/archive/meson-5.10/board_onecloud/usb-disable-ACA-check.patch
  patch/kernel/archive/meson-5.10/generate-uImage-instand-of-zImage.patch
  patch/kernel/archive/meson-5.15/Revert-mmc-core-Set-HS-clock-speed-before-sending-HS-CMD13.patch
  patch/kernel/archive/meson-5.15/board_onecloud/add-dts.patch
  patch/kernel/archive/meson-5.15/board_onecloud/usb-disable-ACA-check.patch
  patch/kernel/archive/meson-5.15/generate-uImage-instand-of-zImage.patch
  patch/kernel/archive/meson-5.18/Revert-mmc-core-Set-HS-clock-speed-before-sending-HS-CMD13.patch
  patch/kernel/meson-current
  patch/kernel/meson-legacy
Labels: Ready :arrow_right:, Hardware :gear:

#4100 Bump sunxi to 5.19.3
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi64-current.config
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-5.15/megous/firmware-arm_scpi-Support-unidirectional-mailbox-cha.patch
  patch/kernel/archive/sunxi-5.15/megous/firmware-scpi-Don-t-probe-SCP-during-SCPI-driver-pro.patch
  patch/kernel/archive/sunxi-5.19/patches.armbian/drv-media-cedrus-10-bit-HEVC-support.patch
  patch/kernel/archive/sunxi-5.19/patches.armbian/drv-media-cedrus-hevc-Improve-buffer-management.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/ASoC-codec-rt5640-Fix-output-mixer-input-channel-list.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/ASoC-codecs-rt5640-Fix-hpout-restore-when-lout-is-enabled.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/ASoC-rt5640-Allow-configuration-of-LOUT-to-mono-differential-mo.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/arm64-dts-rk3399-pinephone-pro-Fix-initial-codec-clock-frequenc.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/arm64-dts-rk3399-pinephone-pro-Make-LOUT-use-mono-differntial-m.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/dt-bindings-sound-rt5640-Allow-to-describe-how-LOUT-is-wired.patch
  patch/kernel/archive/sunxi-5.19/series.conf
  patch/kernel/archive/sunxi-5.19/series.megous
Labels: Ready :arrow_right:, Hardware :gear:

#4105 Disable boot logo support as its broken
  lib/compilation-prepare.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:, Software :chains:

#4106 fix build media current 5.18.19
  config/kernel/linux-media-current.config
  config/kernel/linux-media-edge.config
  patch/kernel/archive/media-5.18/060-linux-1002-for-libreelec.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4109 rockchip64: edge kernel, remove inno usb2 phy init code causing kernel fault
  patch/kernel/archive/rockchip64-5.19/general-fix-inno-usb2-phy-init.patch
Labels: Hardware :gear:

#4110 Remove broken packages from Debian SID
  config/cli/sid/main/config_cli_standard/packages.additional
  config/cli/sid/main/config_desktop/packages.additional
  config/desktop/sid/appgroups/editors
  config/desktop/sid/appgroups/editors/packages
Labels: Desktop :desktop_computer:, Ready :arrow_right:, Bugfix :radioactive:

#4107 Change txt file output to match xz compression
  lib/general.sh
Labels: Ready :arrow_right:, Good first issue :dart:, Software :chains:

#4092 Switch KDE plasme to wayland
  config/desktop/focal/environments/kde-plasma/config_base/packages
  config/desktop/jammy/environments/kde-plasma/config_base/packages
  config/desktop/sid/environments/kde-plasma/config_base/packages
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Desktop :desktop_computer:, Ready :arrow_right:

#4111 rockchip-5.19: remove a patch making rk3288 vga flicker
  patch/kernel/archive/rockchip-5.19/01-linux-1000-drm-rockchip.patch
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#4112 JetHome: u-boot: add bugfix for broken efi code
  patch/u-boot/u-boot-meson64/board_jethubj100/efi_disable.patch
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#4063 Adjusting build targets status for 22.08
  config/boards/cubox-i.csc
  config/boards/fe-som-rk3399.eos
  config/boards/pinebook-a64.csc
  config/boards/uefi-arm64.conf
  config/boards/uefi-x86.conf
  config/targets-cli-beta.conf
  config/targets-desktop-beta.conf
Labels: Ready :arrow_right:, Hardware :gear:

#4116 sunxi-5.19: Delete unnecessary
  patch/kernel/archive/sunxi-5.19/patches.megous/Revert-drm-sun4i-sun6i_mipi_dsi-fix-horizontal-timing-calculati.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/drm-sun4i-sun6i_mipi_dsi-fix-horizontal-timing-calculation.patch
  patch/kernel/archive/sunxi-5.19/series.conf
  patch/kernel/archive/sunxi-5.19/series.megous
Labels: Hardware :gear:

#4115 Bump sunxi to latest version
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-5.15/megous/Revert-drm-sun4i-sun6i_mipi_dsi-fix-horizontal-timin.patch
  patch/kernel/archive/sunxi-5.15/megous/drm-sun4i-sun6i_mipi_dsi-fix-horizontal-timing-calcu.patch
  patch/kernel/archive/sunxi-5.15/megous/firmware-arm_scpi-Support-unidirectional-mailbox-cha.patch
  patch/kernel/archive/sunxi-5.15/series.conf
  patch/kernel/archive/sunxi-5.15/series.megous
  patch/kernel/archive/sunxi-5.19/patches.megous/Revert-drm-sun4i-sun6i_mipi_dsi-fix-horizontal-timing-calculati.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/drm-sun4i-sun6i_mipi_dsi-fix-horizontal-timing-calculation.patch
  patch/kernel/archive/sunxi-5.19/series.conf
  patch/kernel/archive/sunxi-5.19/series.megous
Labels: Hardware :gear:

#4058 Enable Docker up on Rock 5
  config/boards/rock-5b.wip
  config/kernel/linux-rockchip-rk3588-legacy.config
  patch/kernel/rockchip-rk3588-legacy/patch-5.10.66-67.patch
  patch/kernel/rockchip-rk3588-legacy/patch-5.10.67-68.patch
  patch/kernel/rockchip-rk3588-legacy/patch-5.10.68-69.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4114 Remove deprecated patch
  patch/misc/wireless-rtl8723du-5.19.2.patch
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4119 Remove deprecated patch
  lib/compilation-prepare.sh
  patch/misc/wireless-rtl88x2bu-5.19.2.patch
Labels: Ready :arrow_right:, Hardware :gear:, Software :chains:

#4120 Fixing broken Odroid XU4 current branch
  config/kernel/linux-odroidxu4-current.config
  config/sources/families/odroidxu4.conf
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.167-168.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.168-169.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.169-170.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.170-171.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.171-172.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.172-173.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.173-174.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.174-175.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.175-176.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.176-177.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.177-178.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.178-179.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.179-180.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.180-181.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.181-182.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.182-183.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.183-184.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.184-185.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.185-186.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.186-187.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.187-188.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.188-189.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.189-190.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.190-191.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.191-192.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.192-193.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.193-194.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.194-195.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.195-196.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.210-211.patch
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#4124 Move Opi3 LTS to latest boot loader
  config/boards/orangepi3-lts.conf
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#4123 meson: edge: bump to mainline v5.18
  config/kernel/linux-meson-edge.config
  config/sources/families/include/meson_common.inc
  patch/kernel/archive/meson-5.18/0001-m8-m8b-m8m2-Support-HDMI.patch
  patch/kernel/archive/meson-5.18/0002-m8-m8b-m8m2-drm-forcefully-enable-XRGB-format.patch
  patch/kernel/archive/meson-5.18/board_odroidc1/dts-Enable-HDMI.patch
  patch/kernel/archive/meson-5.18/board_onecloud/0001-add-dts.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4125 Remove deprecated build targets
  config/targets.conf
Labels: Ready :arrow_right:

#4122 Fixing wrong value for root partition label
  config/sources/families/bcm2711.conf
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#4127 Add patches needed for Pi-KVM on Rpi4
  config/kernel/linux-bcm2711-current.config
  config/kernel/linux-bcm2711-edge.config
  patch/kernel/archive/bcm2711-5.19/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/archive/bcm2711-5.19/1003-remote-wakeup.patch
  patch/kernel/archive/bcm2711-5.19/2001-rename-msd.patch
  patch/kernel/archive/bcm2711-5.19/2002-usb-gadget-f_mass_storage-forced-eject.patch
  patch/kernel/bcm2711-current
  patch/kernel/bcm2711-edge
Labels: Ready :arrow_right:, Hardware :gear:

#4128 Move header revert patch under misc patches
  lib/compilation-prepare.sh
  patch/kernel/archive/meson64-5.15/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/mvebu-5.15/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/mvebu-5.16/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/mvebu64-5.15/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/odroidxu4-5.15/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/rk322x-5.15/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/rk322x-5.16/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/rk322x-5.17/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/rk322x-5.18/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/rk322x-5.19/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/rockchip-5.15/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/rockchip-5.16/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/rockchip-5.17/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/rockchip-5.18/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/rockchip-5.19/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/rockchip64-5.15/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/rockchip64-5.17/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/rockchip64-5.18/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/rockchip64-5.19/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/uefi-arm64-5.19/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/uefi-x86-5.15/0001-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/misc/wireless-bring-back-headers.patch
Labels: Ready :arrow_right:, Hardware :gear:, Software :chains:

#4132 Re-enable Kernel bootsplash for 5.15.y or higher
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-rockchip64-edge.config
  lib/compilation-prepare.sh
  patch/misc/0001-bootsplash.patch
  patch/misc/0002-bootsplash.patch
  patch/misc/0010-bootsplash.patch
  patch/misc/0012-bootsplash.patch
  patch/misc/bootsplash-5.16.y-0000-Revert-fbcon-Avoid-cap-set-but-not-used-warning.patch
  patch/misc/bootsplash-5.16.y-0007-Revert-fbcon-remove-soft-scrollback-code.patch
Labels: Ready :arrow_right:, Hardware :gear:, Software :chains:

#4131 Small refactor / cleaning of distribution tweak
  lib/distributions.sh
Labels: Ready :arrow_right:, Software :chains:
