Repository armbian/build, pull requests merged in 2022-12, with the labels that each got.

#4514 sunxi-6.0: fix for v6.0.10
  patch/kernel/archive/sunxi-6.0/patches.megous/arm64-dts-rk356x-Fix-pcie2x-reg-ranges.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/sdhci-arasan-Add-runtime-PM-support.patch
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4513 Bump version
  VERSION
Labels: Ready :arrow_right:, Maintenance :recycle:

#4516 Switch BananapiM5 images from EDGE to Current
  config/targets.conf
Labels: Ready :arrow_right:, Bugfix :radioactive:, Maintenance :recycle:

#4517 Fix USB OTG on Radxa Zero
  patch/kernel/archive/meson64-5.19/board-radxa-zero-dts-otg-fix.patch
  patch/kernel/archive/meson64-6.0/board-radxa-zero-dts-otg-fix.patch
Labels: Hardware :gear:

#4522 Change text on interactive menu
  lib/functions/configuration/interactive.sh
Labels: Ready :arrow_right:, Maintenance :recycle:

#4535 Bump sunxi to recent and adjust broken patches
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-5.15/megous/bus-sunxi-rsb-Make-interrupt-handling-more-robust.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/bus-sunxi-rsb-Make-interrupt-handling-more-robust.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/power-supply-ip5xxx-Fix-integer-overflow-in-current_now-calcula.patch
  patch/kernel/archive/sunxi-6.0/series.conf
  patch/kernel/archive/sunxi-6.0/series.megous
Labels: Ready :arrow_right:, Hardware :gear:

#4534 SUNXI: Add missing print for NAND boot source
  config/bootscripts/boot-sunxi.cmd
Labels: Ready :arrow_right:, Hardware :gear:

#4531 Move btrfs-progs to the minimal images
  config/cli/bullseye/debootstrap/packages
  config/cli/bullseye/main/config_cli_standard/packages.additional
  config/cli/bullseye/main/config_desktop/packages.additional
  config/cli/buster/debootstrap/packages
  config/cli/buster/main/config_cli_standard/packages.additional
  config/cli/buster/main/config_desktop/packages.additional
  config/cli/focal/debootstrap/packages
  config/cli/focal/main/config_cli_standard/packages.additional
  config/cli/focal/main/config_desktop/packages.additional
  config/cli/jammy/debootstrap/packages
  config/cli/sid/debootstrap/packages
  config/cli/sid/main/config_cli_standard/packages.additional
  config/cli/sid/main/config_desktop/packages.additional
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4530 Add gnome-disk-utility to the desktops
  config/desktop/bullseye/environments/budgie/config_base/packages
  config/desktop/bullseye/environments/cinnamon/config_base/packages
  config/desktop/bullseye/environments/gnome/config_base/packages
  config/desktop/bullseye/environments/kde-plasma/config_base/packages
  config/desktop/bullseye/environments/mate/config_base/packages
  config/desktop/bullseye/environments/xmonad/config_base/packages
  config/desktop/buster/environments/cinnamon/config_base/packages
  config/desktop/buster/environments/gnome/config_base/packages
  config/desktop/buster/environments/lxde/config_base/packages
  config/desktop/buster/environments/mate/config_base/packages
  config/desktop/buster/environments/xfce/config_base/packages
  config/desktop/focal/environments/budgie/config_base/packages
  config/desktop/focal/environments/cinnamon/config_base/packages
  config/desktop/focal/environments/deepin/config_base/packages
  config/desktop/focal/environments/enlightenment/config_base/packages
  config/desktop/focal/environments/gnome/config_base/packages
  config/desktop/focal/environments/i3-wm/config_base/packages
  config/desktop/focal/environments/kde-plasma/config_base/packages
  config/desktop/focal/environments/mate/config_base/packages
  config/desktop/focal/environments/xfce/config_base/packages
  config/desktop/focal/environments/xmonad/config_base/packages
  config/desktop/jammy/environments/budgie/config_base/packages
  config/desktop/jammy/environments/cinnamon/config_base/packages
  config/desktop/jammy/environments/gnome/config_base/packages
  config/desktop/jammy/environments/i3-wm/config_base/packages
  config/desktop/jammy/environments/kde-plasma/config_base/packages
  config/desktop/jammy/environments/mate/config_base/packages
  config/desktop/jammy/environments/xfce/config_base/packages
  config/desktop/jammy/environments/xmonad/config_base/packages
  config/desktop/kinetic/environments/cinnamon/config_base/packages
  config/desktop/kinetic/environments/gnome/config_base/packages
  config/desktop/kinetic/environments/xfce/config_base/packages
  config/desktop/sid/environments/budgie/config_base/packages
  config/desktop/sid/environments/cinnamon/config_base/packages
  config/desktop/sid/environments/gnome/config_base/packages
  config/desktop/sid/environments/kde-plasma/config_base/packages
  config/desktop/sid/environments/lxde/config_base/packages
  config/desktop/sid/environments/mate/config_base/packages
  config/desktop/sid/environments/xfce/config_base/packages
Labels: Desktop :desktop_computer:, Ready :arrow_right:

#4529 Replace nand-sata-install with symlink to armbian-install
  packages/bsp/common/usr/sbin/nand-sata-install
Labels: Ready :arrow_right:, Maintenance :recycle:

#4528 armbian-install: limit automated swap creation to 16Gb
  packages/bsp/common/usr/sbin/armbian-install
Labels: Ready :arrow_right:, Maintenance :recycle:

#4527 When adding PPA, we need to run apt update
  lib/functions/rootfs/apt-sources.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4520 Add build target for Rockpi 5B
  config/targets.conf
Labels: Ready :arrow_right:, Maintenance :recycle:

#4537 Enable RTL8852BU
  config/kernel/linux-rockchip-rk3588-legacy.config
Labels: Hardware :gear:

#4524 Move Bananapi M5 to U-boot 2022.04
  config/boards/bananapim5.conf
  config/targets-cli-beta.conf
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4536 Switch clockworkpi-a06 to older boot loader end enable CI images
  config/boards/clockworkpi-a06.conf
  config/targets-desktop-beta.conf
Labels: Ready :arrow_right:, Hardware :gear:

#4540 update legacy kernel of rk3588 to linux-5.10-gen-rkr3.4
  config/sources/families/rockchip-rk3588.conf
  patch/kernel/rockchip-rk3588-legacy/002-scripts-fix-lld-version.patch
  patch/kernel/rockchip-rk3588-legacy/patch-5.10.66-67.patch
  patch/kernel/rockchip-rk3588-legacy/patch-5.10.67-68.patch
  patch/kernel/rockchip-rk3588-legacy/patch-5.10.68-69.patch
  patch/kernel/rockchip-rk3588-legacy/patch-5.10.69-70.patch
  patch/kernel/rockchip-rk3588-legacy/patch-5.10.70-71.patch
  patch/kernel/rockchip-rk3588-legacy/patch-5.10.71-72.patch
Labels: Hardware :gear:

#4541 Use modules for btintel, btbcm, btrtl, btusb
  config/kernel/linux-rockchip-rk3588-legacy.config
Labels: Ready :arrow_right:, Hardware :gear:

#4543 Add nanopiduo target
  config/targets.conf
Labels: Ready :arrow_right:

#4538 fix buils kernel media deb
  config/kernel/linux-media-edge.config
  patch/kernel/archive/media-5.10/00980-builddeb.patch
  patch/kernel/archive/media-5.19/00980-builddeb.patch
  patch/kernel/archive/media-6.0/00980-builddeb.patch
  patch/kernel/archive/station-p2-5.19/0980-builddeb.patch
Labels: Hardware :gear:

#4545 Bump sunxi
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:

#4542 Improve build train logic - bump version first
  .github/workflows/build-train.yml
Labels: Ready :arrow_right:, Software :chains:

#4547 Remove workflow cancellation when generating images
  .github/workflows/build-images.yml
Labels: Ready :arrow_right:, Software :chains:

#4548 Switch to external workflow for making index
  .github/workflows/build-images.yml
Labels: Ready :arrow_right:, Software :chains:

#4550 Expose correct download target for Rock 5
  config/targets.conf
Labels: Ready :arrow_right:, Maintenance :recycle:

#4546 `meson64-6.0` kernel patches: mbox formatting, archeology to find lost authors/descriptions; rebase against 6.0.12; no actual changes
  patch/kernel/archive/meson64-6.0/add-board-radxa-zero2.patch
  patch/kernel/archive/meson64-6.0/board-khadas-vim2-use-gpio-fan-matrix-instead-of-array.patch
  patch/kernel/archive/meson64-6.0/board-khadas-vim3-fix-missing-i2c3-nod.patch
  patch/kernel/archive/meson64-6.0/board-khadas-vims-add-rtc-vrtc-aliases.patch
  patch/kernel/archive/meson64-6.0/board-nanopi-k2-add-uartC-alias.patch
  patch/kernel/archive/meson64-6.0/board-nanopi-k2-enable-emmc.patch
  patch/kernel/archive/meson64-6.0/board-odroidc2-add-uartA-uartC.patch
  patch/kernel/archive/meson64-6.0/board-odroidc2-enable-SPI.patch
  patch/kernel/archive/meson64-6.0/board-odroidc2-enable-scpi-dvfs.patch
  patch/kernel/archive/meson64-6.0/board-odroidhc4-enable-fan1_input.patch
  patch/kernel/archive/meson64-6.0/board-odroidn2-add-dumb-gpio-fan.patch
  patch/kernel/archive/meson64-6.0/board-odroidn2-add-gpio-fan-as-cooling-device.patch
  patch/kernel/archive/meson64-6.0/board-odroidn2-add-spi-flash-enabled-dts.patch
  patch/kernel/archive/meson64-6.0/board-odroidn2plus-Add-missing-CPU-opp.patch
  patch/kernel/archive/meson64-6.0/board-radxa-zero-dts-add-support-for-the-usb-c-controller.patch
  patch/kernel/archive/meson64-6.0/board-radxa-zero-dts-otg-fix.patch
  patch/kernel/archive/meson64-6.0/board-radxa-zero-dts-slow-down-sdio-for-working-wifi.patch
  patch/kernel/archive/meson64-6.0/drv-spi-spidev-remove-warnings.patch
  patch/kernel/archive/meson64-6.0/general-add-Amlogic-Meson-GX-PM-Suspend.patch
  patch/kernel/archive/meson64-6.0/general-add-overlay-compilation-support.patch
  patch/kernel/archive/meson64-6.0/general-drm-dw-hdmi-call-hdmi_set_cts_n-after-clock.patch
  patch/kernel/archive/meson64-6.0/general-drm-panfrost-fix-reference-leak.patch
  patch/kernel/archive/meson64-6.0/general-fix-Kodi-sysinfo-CPU-information.patch
  patch/kernel/archive/meson64-6.0/general-gpu-drm-add-new-display-resolution-2560x1440.patch
  patch/kernel/archive/meson64-6.0/general-hdmi-codec-reorder-channel-allocation-list.patch
  patch/kernel/archive/meson64-6.0/general-hwmon-pwm-fan-fix-to-add-pwm1_enable-t.patch
  patch/kernel/archive/meson64-6.0/general-input-touchscreen-Add-D-WAV-Multitouch.patch
  patch/kernel/archive/meson64-6.0/general-kernel-odroidn2-current.patch
  patch/kernel/archive/meson64-6.0/general-media-cec-silence-CEC-timeout-message-HACK.patch
  patch/kernel/archive/meson64-6.0/general-memory-marked-nomap.patch
  patch/kernel/archive/meson64-6.0/general-meson-aiu-Fix-HDMI-codec-control-selection.patch
  patch/kernel/archive/meson64-6.0/general-meson-gx-mmc-fix-deferred-probing.patch
  patch/kernel/archive/meson64-6.0/general-meson-mmc-1-arm64-amlogic-mmc-meson-gx-Add-core-tx-rx-eMMC-SD-SD.patch
  patch/kernel/archive/meson64-6.0/general-meson-mmc-2-arm64-amlogic-dts-meson-update-meson-axg-device-tree.patch
  patch/kernel/archive/meson64-6.0/general-meson-mmc-3-arm64-dts-docs-Update-mmc-meson-gx-documentation-for.patch
  patch/kernel/archive/meson64-6.0/general-meson-vdec-add-HEVC-decode-codec.patch
  patch/kernel/archive/meson64-6.0/general-meson-vdec-add-handling-to-HEVC-decoder-.patch
  patch/kernel/archive/meson64-6.0/general-meson-vdec-check-if-parser-has-really-parser.patch
  patch/kernel/archive/meson64-6.0/general-meson-vdec-improve-mmu-and-fbc-handling-.patch
  patch/kernel/archive/meson64-6.0/general-meson-vdec-remove-redundant-if-statement.patch
  patch/kernel/archive/meson64-6.0/general-meson64-overlays.patch
  patch/kernel/archive/meson64-6.0/general-rc-drivers-should-produce-alternate-pulse-and-space-timing-events.patch
  patch/kernel/archive/meson64-6.0/general-si2168-fix-cmd-timeout.patch
  patch/kernel/archive/meson64-6.0/general-sound-soc-remove-mono-channel-as-it-curren.patch
  patch/kernel/archive/meson64-6.0/general-spi-nor-add-support-for-XT25F128B.patch
  patch/kernel/archive/meson64-6.0/general-usb-core-improve-handling-of-hubs-with-no-ports.patch
  patch/kernel/archive/meson64-6.0/jethome-0001-Fix-meson64-add-gpio-irq-patch-from-https-lkml.org-l.patch
  patch/kernel/archive/meson64-6.0/jethome-0002-arm64-dts-meson-axg-add-support-for-JetHub-D1p-j110.patch
  patch/kernel/archive/meson64-6.0/jethome-0003-dt-bindings-arm-amlogic-add-bindings-for-Jethub-D1p-.patch
  patch/kernel/archive/meson64-6.0/meson-g12a-pinctrl-add-missing-ir-options.patch
  patch/kernel/archive/meson64-6.0/meson-g12b-pinctrl-Add-missing-pinmux-for-pwm.patch
  patch/kernel/archive/meson64-6.0/meson-gx-dts-add-support-for-GX-PM-and-VRTC.patch
  patch/kernel/archive/meson64-6.0/meson-gxbb-dts-i2cX-missing-pins.patch
  patch/kernel/archive/meson64-6.0/meson-gxbb-vdec-add-HEVC-support-to-GXBB.patch
  patch/kernel/archive/meson64-6.0/meson-gxm-vdec-add-VP9-support-to-GXM.patch
  patch/kernel/archive/meson64-6.0/meson-sm1-dts-add-higher-clocks.patch
Labels: Hardware :gear:

#4554 `meson64`: bump `edge` to `6.1-rc8`
  config/sources/families/include/meson64_common.inc
  patch/kernel/archive/meson64-6.1/add-board-radxa-zero2.patch
  patch/kernel/archive/meson64-6.1/board-khadas-vim2-use-gpio-fan-matrix-instead-of-array.patch
  patch/kernel/archive/meson64-6.1/board-khadas-vim3-fix-missing-i2c3-nod.patch
  patch/kernel/archive/meson64-6.1/board-khadas-vims-add-rtc-vrtc-aliases.patch
  patch/kernel/archive/meson64-6.1/board-nanopi-k2-add-uartC-alias.patch
  patch/kernel/archive/meson64-6.1/board-nanopi-k2-enable-emmc.patch
  patch/kernel/archive/meson64-6.1/board-odroidc2-add-uartA-uartC.patch
  patch/kernel/archive/meson64-6.1/board-odroidc2-enable-SPI.patch
  patch/kernel/archive/meson64-6.1/board-odroidc2-enable-scpi-dvfs.patch
  patch/kernel/archive/meson64-6.1/board-odroidhc4-enable-fan1_input.patch
  patch/kernel/archive/meson64-6.1/board-odroidn2-add-dumb-gpio-fan.patch
  patch/kernel/archive/meson64-6.1/board-odroidn2-add-gpio-fan-as-cooling-device.patch
  patch/kernel/archive/meson64-6.1/board-odroidn2-add-spi-flash-enabled-dts.patch
  patch/kernel/archive/meson64-6.1/board-odroidn2plus-Add-missing-CPU-opp.patch
  patch/kernel/archive/meson64-6.1/board-radxa-zero-dts-add-support-for-the-usb-c-controller.patch
  patch/kernel/archive/meson64-6.1/board-radxa-zero-dts-otg-fix.patch
  patch/kernel/archive/meson64-6.1/board-radxa-zero-dts-slow-down-sdio-for-working-wifi.patch
  patch/kernel/archive/meson64-6.1/drv-spi-spidev-remove-warnings.patch
  patch/kernel/archive/meson64-6.1/general-add-Amlogic-Meson-GX-PM-Suspend.patch
  patch/kernel/archive/meson64-6.1/general-add-overlay-compilation-support.patch
  patch/kernel/archive/meson64-6.1/general-drm-dw-hdmi-call-hdmi_set_cts_n-after-clock.patch
  patch/kernel/archive/meson64-6.1/general-drm-panfrost-fix-reference-leak.patch
  patch/kernel/archive/meson64-6.1/general-fix-Kodi-sysinfo-CPU-information.patch
  patch/kernel/archive/meson64-6.1/general-gpu-drm-add-new-display-resolution-2560x1440.patch
  patch/kernel/archive/meson64-6.1/general-hdmi-codec-reorder-channel-allocation-list.patch
  patch/kernel/archive/meson64-6.1/general-input-touchscreen-Add-D-WAV-Multitouch.patch
  patch/kernel/archive/meson64-6.1/general-kernel-odroidn2-current.patch
  patch/kernel/archive/meson64-6.1/general-media-cec-silence-CEC-timeout-message-HACK.patch
  patch/kernel/archive/meson64-6.1/general-memory-marked-nomap.patch
  patch/kernel/archive/meson64-6.1/general-meson-aiu-Fix-HDMI-codec-control-selection.patch
  patch/kernel/archive/meson64-6.1/general-meson-gx-mmc-fix-deferred-probing.patch
  patch/kernel/archive/meson64-6.1/general-meson-mmc-1-arm64-amlogic-mmc-meson-gx-Add-core-tx-rx-eMMC-SD-SD.patch
  patch/kernel/archive/meson64-6.1/general-meson-mmc-2-arm64-amlogic-dts-meson-update-meson-axg-device-tree.patch
  patch/kernel/archive/meson64-6.1/general-meson-mmc-3-arm64-dts-docs-Update-mmc-meson-gx-documentation-for.patch
  patch/kernel/archive/meson64-6.1/general-meson-vdec-add-HEVC-decode-codec.patch
  patch/kernel/archive/meson64-6.1/general-meson-vdec-add-handling-to-HEVC-decoder-.patch
  patch/kernel/archive/meson64-6.1/general-meson-vdec-check-if-parser-has-really-parser.patch
  patch/kernel/archive/meson64-6.1/general-meson-vdec-improve-mmu-and-fbc-handling-.patch
  patch/kernel/archive/meson64-6.1/general-meson-vdec-remove-redundant-if-statement.patch
  patch/kernel/archive/meson64-6.1/general-meson64-overlays.patch
  patch/kernel/archive/meson64-6.1/general-rc-drivers-should-produce-alternate-pulse-and-space-timing-events.patch
  patch/kernel/archive/meson64-6.1/general-si2168-fix-cmd-timeout.patch
  patch/kernel/archive/meson64-6.1/general-sound-soc-remove-mono-channel-as-it-curren.patch
  patch/kernel/archive/meson64-6.1/general-spi-nor-add-support-for-XT25F128B.patch
  patch/kernel/archive/meson64-6.1/general-usb-core-improve-handling-of-hubs-with-no-ports.patch
  patch/kernel/archive/meson64-6.1/jethome-0001-Fix-meson64-add-gpio-irq-patch-from-https-lkml.org-l.patch
  patch/kernel/archive/meson64-6.1/meson-g12a-pinctrl-add-missing-ir-options.patch
  patch/kernel/archive/meson64-6.1/meson-g12b-pinctrl-Add-missing-pinmux-for-pwm.patch
  patch/kernel/archive/meson64-6.1/meson-gx-dts-add-support-for-GX-PM-and-VRTC.patch
  patch/kernel/archive/meson64-6.1/meson-gxbb-dts-i2cX-missing-pins.patch
  patch/kernel/archive/meson64-6.1/meson-gxbb-vdec-add-HEVC-support-to-GXBB.patch
  patch/kernel/archive/meson64-6.1/meson-gxm-vdec-add-VP9-support-to-GXM.patch
  patch/kernel/archive/meson64-6.1/meson-sm1-dts-add-higher-clocks.patch
  patch/kernel/meson64-current
  patch/kernel/meson64-edge
Labels: Hardware :gear:

#4553 fix install mode SPI for extlinux.conf
  packages/bsp/common/usr/sbin/armbian-install
Labels: Ready :arrow_right:

#4551 Enable ath10k pcie card for rock-5b
  config/kernel/linux-rockchip-rk3588-legacy.config
Labels: Ready :arrow_right:, Good first issue :dart:, Hardware :gear:

#4549 armbian-audio-config: Massively speed up script
  packages/bsp/common/usr/lib/armbian/armbian-audio-config
Labels: Ready :arrow_right:

#4518 The choice for kernel headers if the version is more than 5.19.
  lib/functions/compilation/kernel-debs.sh
  packages/armbian/builddeb
  packages/armbian/mkdebian
Labels: Ready :arrow_right:

#4557 `meson64`: switch `edge` kernel to `6.1.y` branch (from `6.1-rc8` tag)
  config/sources/families/include/meson64_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#4556 `odroidm1`: bump kernel to `6.1.y`
  config/sources/families/rk3568-odroid.conf
Labels: Ready :arrow_right:, Hardware :gear:

#4555 `uefi`: bump kernel to `6.1.y`; remove dangling symlinks
  config/sources/families/include/uefi_common.inc
  patch/kernel/archive/uefi-arm64-6.1/0002-Add-PHYT0004-via-ACPI-support-to-stmmac.patch
  patch/kernel/uefi-arm64-current
  patch/kernel/uefi-arm64-edge
  patch/kernel/uefi-x86-current
Labels: Ready :arrow_right:, Hardware :gear:

#4512 Fix rk3399 ehci probe failed for usb2 in uboot
  patch/u-boot/u-boot-rockchip64/rk3399-ehci-probe-usb2.patch
Labels: Hardware :gear:

#4559 Disable treating ShellCheck warning as errors
  .github/workflows/lint-scripts-pr.yml
Labels: Ready :arrow_right:, Question :mag:, Software :chains:

#4562 meson: edge: bump to v6.1
  config/kernel/linux-meson-edge.config
  config/sources/families/include/meson_common.inc
  patch/kernel/archive/meson-6.1/0001-m8-m8b-m8m2-Support-HDMI.patch
  patch/kernel/archive/meson-6.1/0002-m8-m8b-m8m2-drm-forcefully-enable-XRGB-format.patch
  patch/kernel/archive/meson-6.1/Revert-mmc-core-Set-HS-clock-speed-before-sending-HS-CMD13.patch
  patch/kernel/archive/meson-6.1/board_odroidc1/dts-Enable-HDMI.patch
  patch/kernel/archive/meson-6.1/board_onecloud/0001-add-dts.patch
  patch/kernel/archive/meson-6.1/board_onecloud/0002-dts-Support-HDMI.patch
  patch/kernel/archive/meson-6.1/board_onecloud/usb-disable-ACA-check.patch
  patch/kernel/archive/meson-6.1/generate-uImage-instand-of-zImage.patch
  patch/kernel/meson-edge
Labels: Ready :arrow_right:, Hardware :gear:

#4558 Adjust 3rd party drivers for kernel 6.1.y
  lib/functions/compilation/patch/drivers_network.sh
  lib/functions/compilation/patch/kernel-bootsplash-and-drivers.sh
Labels: Ready :arrow_right:, Maintenance :recycle:

#4552 Switch to better working rtl88x2bu wifi driver
  lib/functions/compilation/patch/drivers_network.sh
Labels: Ready for review :arrow_right:

#4563 Adding codeowners configuration
  .github/CODEOWNERS
Labels: Ready for review :arrow_right:, Question :mag:

#4568 Fix instructions for preparing build environment
  CONTRIBUTING.md
Labels: Ready for review :arrow_right:

#4573 Fix GitHub workflow badge routes
  README.md
Labels: Ready for review :arrow_right:

#4574 `rockchip-6.1`: fix `xt-q8l-v10-remote-keymap.patch` mbox formatting; rebase against 6.1.0
  patch/kernel/archive/rockchip-6.1/xt-q8l-v10-remote-keymap.patch
Labels: Hardware :gear:

#4580 Bump sunxi
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi64-edge.config
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-5.15/megous/bus-sunxi-rsb-Make-interrupt-handling-more-robust.patch
  patch/kernel/archive/sunxi-5.15/megous/sdhci-arasan-Add-runtime-PM-support.patch
  patch/kernel/archive/sunxi-6.1/patches.fixses/Fix-ISO-C90-forbids-mixed-declarations.patch
  patch/kernel/archive/sunxi-6.1/patches.fixses/Fix-depends-only-ARM-eInk-display-FB.patch
  patch/kernel/archive/sunxi-6.1/patches.fixses/Fix-warning-multi-line-comment.patch
  patch/kernel/archive/sunxi-6.1/patches.fixses/Fix-warning-unused-variable-delay_us.patch
  patch/kernel/archive/sunxi-6.1/series.conf
  patch/kernel/archive/sunxi-6.1/series.fixses
Labels: Hardware :gear:

#4584 Delete rk3399-pci-rockchip-support-ep-gpio-undefined-case.patch
  patch/kernel/archive/rockchip64-6.1/rk3399-pci-rockchip-support-ep-gpio-undefined-case.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4585 Update kernel configs for Meson64 CURRENT / EDGE
  config/kernel/linux-meson64-current.config
  config/kernel/linux-meson64-edge.config
Labels: Hardware :gear:

#4583 Rename add-board-roc-pc.patch to add-board-rk3328-roc-pc.patch
  patch/kernel/archive/rockchip64-6.0/add-board-rk3328-roc-pc.patch
  patch/kernel/archive/rockchip64-6.1/add-board-rk3328-roc-pc.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4587 Rokchcip64 6.1 Delete add-board-rk3399-roc-pc-plus.patch
  patch/kernel/archive/rockchip64-6.1/add-board-rk3399-roc-pc-plus.patch
Labels: Hardware :gear:

#4586 Improve CODEOWNERS relations
  .github/CODEOWNERS
Labels: Ready for review :arrow_right:

#4588 Remove attempted support for install to emmc on s905 based TV Boxes.
  config/sources/families/meson-gxl.conf
  packages/bsp/aml-s9xx-box/root/install-aml-s905-emmc.sh
Labels: Hardware :gear:

#4578 Adjust build targets
  config/targets-cli-beta.conf
  config/targets-desktop-beta.conf
  config/targets.conf
Labels: Ready for review :arrow_right:

#4577 Fix armbian-install for selecting non formatted target partitions
  packages/bsp/common/usr/sbin/armbian-install
Labels: Ready for review :arrow_right:

#4590 rk322x: increase to 16 stations the maximum number of ESP8089 AP clients
  patch/kernel/archive/rk322x-5.15/wifi-4004-esp8089-kernel-driver.patch
  patch/kernel/archive/rk322x-5.19/wifi-4004-esp8089-kernel-driver.patch
  patch/kernel/archive/rk322x-6.0/wifi-4004-esp8089-kernel-driver.patch
  patch/kernel/archive/rk322x-6.1/wifi-4004-esp8089-kernel-driver.patch
Labels: Ready for review :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4595 Update odroidxu4-current to 5.4.228
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.224-225.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.227-228.patch
Labels: Ready for review :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4602 Update u-boot patches for JetHub D1/D1+
  patch/u-boot/v2022.07/board_jethubj100/0007-board-amlogic-jethub-j100-add-rescue-boot-from-micro.patch
  patch/u-boot/v2022.07/board_jethubj100/0008-ARM-amlogic-revert-JetHub-D1-eth-mac-generation-with.patch
Labels: Ready for review :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4598 Delete board-roc-rk3399-pc-fix-fusb302-compatible.patch
  patch/kernel/archive/rockchip64-6.1/board-roc-rk3399-pc-fix-fusb302-compatible.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4603 Rockpis devtree mainlined
  patch/kernel/archive/rockchip64-6.1/add-boards-to-dts-makefile.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0001-arm64-dts-rockchip-add-ROCK-Pi-S-DTS-support.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0001-arm64-dts.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0002-Fixes-for-rk3308-rock-pi-s-dts.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0003-WIP-Wireless-support.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0006-arm64-dts-rockchip-Enable-mac-node-on-rk3308-rock-pi.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0008-thermal-rockchip-add-tsadc-support-for-rk3308.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0009-arm64-dts-rockchip-Enable-tsadc-node-on-rk3308-rock-.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0011-arm64-dts-rockchip-Set-is2_8ch-clocks-on-rk3308-rock.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0013-Add-simple-audio-card.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0015-arm64-dts-rockchip-Move-wireless-wlan-node-into-sdio.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0018-ASoC-codecs-Add-RK3308-internal-codec-driver.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0019-Sync-rk3308_codec-to-BSP-tree.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0021-arm64-dts-rockchip-enable-analog-audio-node-for-rk33.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0022-ASoC-rk3308_codec-replace-codec-to-component.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0024-add-uart2-for-debug-rock-pi-s-dts.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0026-add-usb-host-otg-dts.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0032-iodomains.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0033-remove-iodomains.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpro64-0001-Add-pcie-bus-scan-delay.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4600 Moving repository handling from main script
  config/aptly.conf
  lib/functions/general/repo.sh
  lib/functions/main/config-prepare.sh
  tools/repository/aptly.conf
  tools/repository/armbian.key
  tools/repository/example.deb
  tools/repository/footer.html
  tools/repository/header.html
  tools/repository/repo
Labels: Ready for review :arrow_right:

#4596 armbian-install: further fixes plus MTD char driven flash support
  packages/bsp/common/usr/sbin/armbian-install
Labels: Ready for review :arrow_right:

#4605 Adjust action scripts to adjusted logic
  .github/workflows/build-images.yml
  .github/workflows/build-train.yml
Labels: Ready for review :arrow_right:, Software :chains:

#4607 Fix general-add-panel-simple-dsi.patch on linux6.1
  patch/kernel/archive/rockchip64-6.1/general-add-panel-simple-dsi.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4608 Fix nanopct4 rt5651 sound&clean wireless,bluetooth&add general-add-panel-simple-dsi.patch
  patch/kernel/media-edge/00220-linux-90103-nanopc-t4-5651.patch
  patch/kernel/media-edge/00355-general-add-panel-simple-dsi.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4609 It seems this patch breaks Bluetooth on PBP
  patch/kernel/archive/rockchip64-6.1/board-pbp-fix-wonky-wifi-bt.patch.disabled
  patch/kernel/media-edge/00530-board-pbp-fix-wonky-wifi-bt.patch.disabled
Labels: Ready for review :arrow_right:, Hardware :gear:

#4611 Enable ISCSI_TCP for Rock 5b
  config/kernel/linux-rockchip-rk3588-legacy.config
Labels: Hardware :gear:

#4610 Suppress RX today error in MOTD if wrong NIC is detected
  packages/bsp/common/etc/update-motd.d/30-armbian-sysinfo
Labels: Ready for review :arrow_right:

#4614 Fix issues 4589
  lib/functions/rootfs/distro-agnostic.sh
  packages/armbian/builddeb
Labels: Bugfix :radioactive:

#4618 Enable rtl8822cs in meson64-edge kernel
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-rockchip-edge.config
  config/kernel/linux-uefi-arm64-edge.config
Labels: Ready for review :arrow_right:, Hardware :gear:

#4612 Proper device lookup
  packages/bsp/common/etc/default/armbian-motd.dpkg-dist
Labels: Ready for review :arrow_right:

#4622 Bootsplash fix
  config/boards/aml-s9xx-box.tvb
  config/sources/common.conf
Labels: Ready for review :arrow_right:, Hardware :gear:

#4621 Leds was added to the sources, which creates a mess in rk3399-rock-pi-4.dts
  patch/kernel/archive/rockchip64-6.1/board-rockpi4-0002-arm64-dts-leds.patch.disabled
Labels: Ready for review :arrow_right:, Hardware :gear:

#4620 Disable patch breaks Bluetooth
  patch/kernel/archive/rockchip64-5.15/board-pbp-fix-wonky-wifi-bt.patch.disabled
  patch/kernel/archive/rockchip64-5.17/board-pbp-fix-wonky-wifi-bt.patch.disabled
  patch/kernel/archive/rockchip64-5.18/board-pbp-fix-wonky-wifi-bt.patch.disabled
  patch/kernel/archive/rockchip64-5.19/board-pbp-fix-wonky-wifi-bt.patch.disabled
  patch/kernel/archive/rockchip64-6.0/board-pbp-fix-wonky-wifi-bt.patch.disabled
  patch/kernel/media-current/00600-board-pbp-fix-wonky-wifi-bt.patch.disabled
Labels: Ready for review :arrow_right:, Hardware :gear:

#4619 This code was added to the sources, which creates a mess in rk3399-rock-pi-4.dts
  patch/kernel/archive/rockchip64-5.10/board-rockpi4-0001-arm64-dts-audio-over-hdmi.patch.disabled
  patch/kernel/archive/rockchip64-5.12/board-rockpi4-0001-arm64-dts-audio-over-hdmi.patch.disabled
  patch/kernel/archive/rockchip64-5.13/board-rockpi4-0001-arm64-dts-audio-over-hdmi.patch.disabled
  patch/kernel/archive/rockchip64-5.14/board-rockpi4-0001-arm64-dts-audio-over-hdmi.patch.disabled
  patch/kernel/archive/rockchip64-5.15/board-rockpi4-0001-arm64-dts-audio-over-hdmi.patch.disabled
  patch/kernel/archive/rockchip64-5.17/board-rockpi4-0001-arm64-dts-audio-over-hdmi.patch.disabled
  patch/kernel/archive/rockchip64-5.18/board-rockpi4-0001-arm64-dts-audio-over-hdmi.patch.disabled
  patch/kernel/archive/rockchip64-5.19/board-rockpi4-0001-arm64-dts-audio-over-hdmi.patch.disabled
  patch/kernel/archive/rockchip64-6.0/board-rockpi4-0001-arm64-dts-audio-over-hdmi.patch.disabled
  patch/kernel/archive/rockchip64-6.1/board-rockpi4-0001-arm64-dts-audio-over-hdmi.patch.disabled
Labels: Ready for review :arrow_right:, Hardware :gear:

#4625 Add next Ubuntu 23.04 / Lunar lobster
  config/cli/lunar
  config/desktop/lunar
  config/distributions/lunar/name
  config/distributions/lunar/support
  config/sources/arm64.conf
  config/sources/families/bcm2711.conf
  lib/functions/cli/utils-cli.sh
  lib/functions/configuration/main-config.sh
  lib/functions/extras/buildpkg.sh
  lib/functions/host/prepare-host.sh
  lib/functions/image/partitioning.sh
  lib/functions/rootfs/distro-specific.sh
  tools/repository/repo
Labels: Desktop :desktop_computer:, Ready for review :arrow_right:, Hardware :gear:, Software :chains:

#4627 Fixed issue with NVMe identification in rk3399-rock-pi-4.dts
  patch/kernel/archive/rockchip64-5.15/board-rockpi4-0003-arm64-dts-pcie.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpi4-0003-arm64-dts-pcie.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4623 fix xradio random mac address issue on linux 5.13+
  patch/misc/wireless-xradio-5.13.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4629 Debian SID package version fix
  config/desktop/sid/environments/gnome/config_base/packages
Labels: Ready for review :arrow_right:

#4626 Remove hostapd from packages list
  config/cli/bullseye/main/config_cli_standard/packages.additional
  config/cli/bullseye/main/config_desktop/packages.additional
  config/cli/buster/main/config_cli_standard/packages.additional
  config/cli/buster/main/config_desktop/packages.additional
  config/cli/focal/main/config_cli_standard/packages.additional
  config/cli/focal/main/config_desktop/packages.additional
  config/cli/sid/main/config_cli_standard/packages.additional
  config/cli/sid/main/config_desktop/packages.additional
  config/sources/families/jethub.conf
Labels: Ready for review :arrow_right:

#4630 Adjust broken bootsplash patch set
  lib/functions/compilation/patch/kernel-bootsplash-and-drivers.sh
  patch/misc/bootsplash-5.16.y-Revert-fbcon-Fix-accelerated-fbdev-scrolling-while-logo-is-still-shown.patch
  patch/misc/bootsplash-5.19.y-Revert-fbdev-fbcon-Properly-revert-changes-when-vc_r.patch
  patch/misc/bootsplash-5.19.y-Revert-fbdev-fbcon-release-buffer-when-fbcon_do_set.patch
Labels: Ready for review :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#4631 Do not run Action scripts for every reviewer
  .github/workflows/build-kernel-pr.yml
  .github/workflows/lint-scripts-pr.yml
Labels: Ready for review :arrow_right:, Bugfix :radioactive:, Software :chains:, Maintenance :recycle:

#4632 Enable AUFS on 6.1.y
  lib/functions/compilation/patch/kernel-bootsplash-and-drivers.sh
Labels: Ready for review :arrow_right:

#4582 `orangepi5.wip`: initial OrangePi5 support; collab with @efectn
  config/boards/orangepi5.wip
  config/kernel/linux-rockchip-rk3588-legacy.config
  config/sources/families/include/rockchip64_common.inc
  config/targets.conf
  patch/kernel/rockchip-rk3588-legacy/2001-add-board-orangepi5.patch
  patch/kernel/rockchip-rk3588-legacy/2002-OrangePi5-Motorcomm-stuff-extracted-from-Xun.patch
  patch/kernel/rockchip-rk3588-legacy/2003-OrangePi5-dubious-ES8316-stuff-extracted-from-Xunlon.patch.disabled
  patch/kernel/rockchip-rk3588-legacy/2004-OrangePi5-dubious-pl330-stuff-extracted-from-Xunlong.patch.disabled
  patch/kernel/rockchip-rk3588-legacy/2005-OrangePi5-dubious-tcpm-stuff-extracted-from-Xunlong-.patch.disabled
  patch/kernel/rockchip-rk3588-legacy/2006-OrangePi5-dubious-cdn-dp-core-stuff-extracted-from-X.patch.disabled
  patch/kernel/rockchip-rk3588-legacy/2007-OrangePi5-dubious-hdmi-stuff-extracted-from-Xunlong-.patch.disabled
  patch/kernel/rockchip-rk3588-legacy/999-remove-chosen-bootargs-from-dtsi.patch
Labels: Work in progress :construction_worker:, Hardware :gear:

#4634 Fix USB2 and Type C ports on Orange Pi 5
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/rockchip-rk3588.conf
  packages/bsp/orangepi5/orangepi5-usb2-init.service
  patch/kernel/rockchip-rk3588-legacy/2005-OrangePi5-tcpm-stuff-extracted-from-Xunlong-.patch
Labels: Hardware :gear:
