Repository armbian/build, pull requests merged in 2022-01, with the labels that each got.

#3376 Unify NFS configuration
  config/kernel/linux-imx7d-current.config
  config/kernel/linux-imx7d-legacy.config
  config/kernel/linux-jetson-nano-current.config
  config/kernel/linux-jetson-nano-edge.config
  config/kernel/linux-jetson-nano-legacy.config
  config/kernel/linux-meson-current.config
  config/kernel/linux-meson-edge.config
  config/kernel/linux-meson-legacy.config
  config/kernel/linux-meson64-current.config
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-meson64-legacy.config
  config/kernel/linux-mt7623-edge.config
  config/kernel/linux-mt7623-legacy.config
  config/kernel/linux-mvebu-current.config
  config/kernel/linux-mvebu-edge.config
  config/kernel/linux-mvebu-legacy.config
  config/kernel/linux-mvebu64-current.config
  config/kernel/linux-mvebu64-edge.config
  config/kernel/linux-mvebu64-legacy.config
  config/kernel/linux-odroidxu4-current.config
  config/kernel/linux-odroidxu4-edge.config
  config/kernel/linux-odroidxu4-legacy.config
  config/kernel/linux-rk322x-current.config
  config/kernel/linux-rk322x-edge.config
  config/kernel/linux-rk322x-legacy.config
  config/kernel/linux-rk3399-legacy.config
  config/kernel/linux-rk35xx-legacy.config
  config/kernel/linux-rockchip-current.config
  config/kernel/linux-rockchip-edge.config
  config/kernel/linux-rockchip-legacy.config
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-rockchip64-legacy.config
  config/kernel/linux-rockpis-legacy.config
  config/kernel/linux-s5p6818-legacy.config
  config/kernel/linux-sun50iw9-legacy.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-sunxi64-legacy.config
  config/kernel/linux-zynq-legacy.config
Labels: c:kernel

#3377 fixes the manual launch of the installation script from USB media
  packages/bsp/common/usr/sbin/nand-sata-install
Labels: 9.ready for merge

#3375 Improve fist login UX
  lib/distributions.sh
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: 9.ready for merge, c:build script

#3148 Cleanup. Remove deprecated build targets
  config/boards/bananapim64.csc
  config/boards/cubieboard.csc
  config/boards/cubietruck.csc
  config/boards/firefly-rk3399.csc
  config/boards/helios64.csc
  config/boards/lime2.csc
  config/boards/nanopi-r1.csc
  config/boards/nanopi-r2c.csc
  config/boards/nanopi-r2s.csc
  config/boards/nanopiair.csc
  config/boards/nanopiduo.csc
  config/boards/nanopiduo2.csc
  config/boards/nanopik1plus.csc
  config/boards/nanopik2-s905.csc
  config/boards/nanopineo.csc
  config/boards/nanopineo2.csc
  config/boards/nanopineo2black.csc
  config/boards/nanopineo3.csc
  config/boards/nanopineocore2.csc
  config/boards/nanopineoplus2.csc
  config/boards/odroidc2.csc
  config/boards/odroidc4.csc
  config/boards/odroidxu4.csc
  config/boards/orangepi-r1.csc
  config/boards/orangepi-r1plus.csc
  config/boards/orangepi-rk3399.csc
  config/boards/orangepi2.csc
  config/boards/orangepi3.csc
  config/boards/orangepi4.csc
  config/boards/orangepilite.csc
  config/boards/orangepilite2.csc
  config/boards/orangepione.csc
  config/boards/orangepioneplus.csc
  config/boards/orangepipc.csc
  config/boards/orangepipc2.csc
  config/boards/orangepipcplus.csc
  config/boards/orangepiplus.csc
  config/boards/orangepiplus2e.csc
  config/boards/orangepizeroplus2-h3.csc
  config/boards/orangepizeroplus2-h5.csc
  config/boards/pine64.csc
  config/boards/pineh64-b.csc
  config/boards/radxa-zero.csc
  config/boards/rockpi-4a.csc
  config/boards/rockpi-4b.csc
  config/boards/rockpi-4c.csc
  config/boards/rockpi-e.csc
  config/boards/rockpro64.csc
  config/boards/station-m1.conf
  config/boards/station-p1.conf
  config/boards/teres-a64.csc
  config/boards/tritium-h3.csc
  config/boards/tritium-h5.csc
  config/boards/udoo.csc
  config/targets-cli-beta.conf
  config/targets-desktop-beta.conf
  config/targets.conf
Labels: c:bsp

#3378 Refactor armbian-bsp-cli package creation
  lib/distributions.sh
  lib/general.sh
  lib/main.sh
  lib/makeboarddeb.sh
  packages/bsp/common/etc/update-motd.d/10-armbian-header
Labels: c:build script

#3379 Fixes for Github Actions
  .github/workflows/build-beta-images.yml
  .github/workflows/build-kernel-on-merge-request.yml
  .github/workflows/build-train.yml
Labels: c:actions

#3380 Add upstream patches
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.168-169.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.169-170.patch
Labels: c:kernel, maintenance

#3382 rk322x: add ssv6051 driver for kernel 5.10 and 5.15
  config/kernel/linux-rk322x-current.config
  config/kernel/linux-rk322x-edge.config
  patch/kernel/archive/rk322x-5.10/wifi-4003-ssv-6051-driver.patch
  patch/kernel/archive/rk322x-5.15/wifi-4003-ssv-6051-driver.patch
Labels: c:kernel

#3386 run docker install with sudo
  compile.sh
Labels: 2.confirmed bug, 9.ready for merge

#3385 install_pkg_deb: Not updated every time the function is called.
  lib/general.sh
Labels: 9.ready for merge, c:build script

#3384 Fix wallpapers and icons
  config/desktop/focal/environments/deepin/armbian/create_desktop_package.sh
  config/desktop/focal/environments/deepin/debian/postinst
  config/desktop/focal/environments/gnome/debian/postinst
  config/desktop/focal/environments/kde-plasma/armbian/create_desktop_package.sh
  config/desktop/focal/environments/kde-plasma/debian/postinst
  config/desktop/focal/environments/mate/debian/postinst
  config/desktop/focal/environments/mate/support
Labels: 2.confirmed bug, desktop

#3381 Enable generic build targets?
  config/targets-cli-beta.conf
  config/targets-desktop-beta.conf
  config/targets.conf
Labels: 0.question

#3390 Fix branch for linux-firmware from master to main
  lib/compilation.sh
Labels: 2.confirmed bug, 9.ready for merge, c:build script

#3393 Fix install basic packages without sudo
  lib/general.sh
Labels: 2.confirmed bug, 9.ready for merge, c:build script

#3388 JetHome: update bsp package for AP6255 firmware match
  config/sources/families/jethub.conf
  packages/bsp/jethub/jethubj100/brcmfmac43455-sdio.jethome,jethub-j100.bin
  packages/bsp/jethub/jethubj100/brcmfmac43455-sdio.jethome,jethub-j100.txt
Labels: c:bsp

#3395 Maintenance
  config/boards/fe-som-rk3399.csc
  config/boards/firefly-rk3399.conf
  config/boards/jetson-nano.conf
  config/sources/families/jetson-nano.conf
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.170-171.patch
Labels: 2.confirmed bug, 9.ready for merge

#3306 Support for multi source download when using https protocol
  config/templates/config-example.conf
  lib/general.sh
Labels: 9.ready for merge, c:build script

#3396 fix kernel media-edge
  config/sources/families/media.conf
  patch/kernel/media-edge/00-v90-rk356x.patch
  patch/kernel/media-edge/00-v91-rk356x-vpu.patch
Labels: c:kernel, 9.ready for merge, c:bsp

#3398 Add manual bump version action
  .github/workflows/bump-version.yml
Labels: maintenance, c:actions

#3394 install_pkg_deb: Fix the logic of selecting updates
  lib/general.sh
Labels: 9.ready for merge, c:build script

#3404 Bugfix. Create a directory for the build environment cache
  lib/chroot-buildpackages.sh
Labels: 9.ready for merge, c:build script

#3403 Adjust broken patches and remove deprecated
  config/kernel/linux-media-edge.config
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-sunxi-edge.config
  patch/kernel/archive/rockchip64-5.15/board-pbp-arm64-dts-rockchip-Disable-CDN-DP-on-Pinebook-Pro.patch
  patch/kernel/archive/rockchip64-5.15/general-bluetooth-add-new-quirk.patch
  patch/kernel/archive/rockchip64-5.15/rk3328-dtsi-fix-mali-node.patch
  patch/kernel/archive/sunxi-5.15/megous/Bluetooth-Add-new-quirk-for-broken-local-ext-feature.patch
  patch/kernel/media-edge/general-bluetooth-add-new-quirk.patch
Labels: c:kernel, 9.ready for merge, maintenance

#3409 Bugfix: debugging package for kernel are not created #3405
  packages/armbian/mkdebian
Labels: 9.ready for merge

#3408 JetHome: add bullseye stable current and beta edge build targets
  config/targets-cli-beta.conf
  config/targets.conf
Labels: 9.ready for merge, maintenance

#3399 JetHome: add jethome package repository
  config/sources/families/jethub.conf
  packages/bsp/jethub/jethome.gpg
Labels: 9.ready for merge, c:bsp

#3389 JetHome: JetHub D1 fix patch: sdio: update JetHub D1 regulators for SDIO
  patch/kernel/archive/meson64-5.10/jethome-0009-arm64-meson-dts-fix-sdio-in-dts-for-JetHub-D1.patch
  patch/kernel/archive/meson64-5.10/jethome-0009-arm64-meson-fix-sdio-in-dts-for-JetHub-D1.patch
  patch/kernel/archive/meson64-5.15/jethome-0009-arm64-meson-dts-fix-sdio-in-dts-for-JetHub-D1.patch
  patch/kernel/archive/meson64-5.15/jethome-0009-arm64-meson-fix-sdio-in-dts-for-JetHub-D1.patch
Labels: c:kernel

#3416 Bugfix - remove reference to aptly repository since it went offline
  config/templates/Dockerfile
  lib/general.sh
Labels: 2.confirmed bug, 9.ready for merge, c:build script

#3411 Ask user again if the response is not expected
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: 9.ready for merge

#3402 Add DUT smoke tests script
  .github/workflows/smoke-tests.yml
Labels: 8.beta, c:actions

#3417 Bump with cache rootfs version to force reload
  lib/configuration.sh
Labels: 2.confirmed bug, 9.ready for merge, c:build script

#3401 Adjust few RPi parameters
  config/boards/rpi4b.wip
  config/sources/families/bcm2711.conf
Labels: 9.ready for merge, c:bsp

#3081 Add OrangePi 3 pps-gpio
  patch/kernel/archive/sunxi-5.13/sun50i-h6-pps-gpio.patch
Labels: 3.help wanted, 9.ready for merge

#3418 Bump Meson64 u-boot to 2022.01
  config/sources/families/include/meson64_common.inc
  config/sources/families/jethub.conf
  patch/u-boot/u-boot-jethub/0002-image-board-fix-wrong-implementation-ram-disk-addres.patch
  patch/u-boot/u-boot-meson64/0002-FROMGIT-board-amlogic-odroid-n2-fix-fdtfile-suffix-for-n2-plus.patch
  patch/u-boot/u-boot-meson64/0003-FROMLIST-v1-pci-pcie_dw_meson-fix-usb-fail-when-pci-link-fails-to-go-up.patch
  patch/u-boot/u-boot-meson64/0003-mmc-meson-gx-change-clock-phase-value-on-axg-SoCs.patch
  patch/u-boot/u-boot-meson64/0004-SQUASHED-Sync-Amlogic-DT-from-Linux-5.14.patch
  patch/u-boot/u-boot-meson64/0005-SQUASHED-Add-Radxa-Zero-support-for-2021.07-from-chewitt-tree.patch
  patch/u-boot/u-boot-meson64/0006-SQUASHED-Support-for-ODROID-HC4-with-SPI-NOR-chip-and-SATA-booting.patch
  patch/u-boot/u-boot-meson64/board_jethubj100/0001-HACK-mmc-meson-gx-limit-to-24MHz.patch
  patch/u-boot/u-boot-meson64/board_jethubj80/0001-HACK-mmc-meson-gx-limit-to-24MHz.patch
  patch/u-boot/u-boot-meson64/enable-DT-overlays-support.patch
Labels: c:u-boot, maintenance, c:bsp

#3420 Remove deprecated library from Dockerfile
  config/templates/Dockerfile
  lib/general.sh
Labels: 2.confirmed bug, c:build script

#3425 Doesn't find secrets at merge request CI
  .github/workflows/build-kernel-on-merge-request.yml
Labels: 2.confirmed bug, 9.ready for merge, c:actions

#3424 Update build targets
  config/targets.conf
Labels: maintenance

#3423 Update odroidxu4-current to 5.4.173
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.171-172.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.172-173.patch
Labels: c:kernel, 9.ready for merge

#3426 Cancels previous runs associated with a workflow
  .github/workflows/build-train.yml
Labels: maintenance

#3410 fix bootsplash and move set PKG_PREFIX to arm64.conf
  config/sources/arm64.conf
  config/sources/families/include/meson64_common.inc
  config/sources/families/include/rockchip64_common.inc
  lib/general.sh
Labels: c:kernel, 6.WIP, c:build script, c:bsp

#3419 fix add firmware for current
  config/kernel/linux-media-edge.config
  config/sources/families/jetson-nano.conf
Labels: c:kernel, 9.ready for merge, c:bsp

#3429 add image for station m2
  config/targets.conf
Labels: 9.ready for merge

#3431 Enable x86 desktop build targets
  .github/workflows/build-beta-images.yml
  .github/workflows/build-train.yml
Labels: 9.ready for merge, 6.WIP, c:actions

#3432 Update recommendations for download pages
  config/targets-desktop-beta.conf
  config/targets.conf
Labels: 9.ready for merge

#3433 Fixes to build train and small changes to README
  .github/workflows/build-train.yml
  README.md
Labels: c:actions

#3434 JetHome: small fix: set CPUMIN=250000 for JetHub D1/H1
  config/sources/families/jethub.conf
Labels: c:bsp

#3437 When checking for shell, use strict grep
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: 2.confirmed bug, 9.ready for merge

#3436 Add gnome-system-monitor to Focal and Jammy
  config/desktop/focal/environments/cinnamon/config_base/packages
  config/desktop/focal/environments/mate/config_base/packages
  config/desktop/focal/environments/xfce/config_base/packages
  config/desktop/jammy/environments/budgie/config_base/packages
  config/desktop/jammy/environments/gnome/config_base/packages
Labels: enhancement, 9.ready for merge, desktop

#3439 Improve cache creation process
  lib/configuration.sh
  lib/debootstrap.sh
Labels: 2.confirmed bug, c:build script

#3438 JetHome: advertise recommended targets at download pages
  config/targets.conf
Labels: 9.ready for merge

#3440 Nanopc T4 - remove Hirsute from build targets
  config/targets.conf
Labels: maintenance

#3446 Add option to override default ubuntu arhive
  lib/configuration.sh
Labels: 2.confirmed bug, 9.ready for merge, c:build script
