Repository armbian/build, pull requests merged in 2022-11, with the labels that each got.

#4376 Fix potato and C2 damage caused by untested family u-boot bump
  config/boards/lepotato.conf
  config/boards/odroidc2.conf
Labels: Hardware :gear:

#4129 Add Radxa ROCK Pi 4C Plus
  config/boards/rockpi-4cplus.csc
  config/targets-cli-beta.conf
  patch/kernel/archive/rockchip64-5.10/add-board-rock-pi-4c-plus.patch
  patch/kernel/archive/rockchip64-5.10/overlays-12-add-rockpi4cplus-usb-host.patch
  patch/kernel/archive/rockchip64-5.15/add-board-rock-pi-4c-plus.patch
  patch/kernel/archive/rockchip64-5.15/overlays-12-add-rockpi4cplus-usb-host.patch
  patch/kernel/archive/rockchip64-5.19/add-board-rock-pi-4c-plus.patch
  patch/kernel/archive/rockchip64-5.19/overlays-12-add-rockpi4cplus-usb-host.patch
Labels: Hardware :gear:

#4377 AR-1301: add edge and desktop
  config/targets-desktop-beta.conf
  patch/kernel/archive/rockchip64-6.0/add-board-rock-pi-4c-plus.patch
  patch/kernel/archive/rockchip64-6.0/overlays-12-add-rockpi4cplus-usb-host.patch
Labels: Hardware :gear:

#4379 update asound.stae for le potato
  config/boards/lepotato.conf
  packages/blobs/asound.state/asound.state.lepotato
Labels: Hardware :gear:

#4380 fix dts for rk3399-firefly
  patch/kernel/archive/media-5.19/100-board-firefly-rk3399-dts.patch
  patch/kernel/archive/media-6.0/100-board-firefly-rk3399-dts.patch
Labels: Hardware :gear:

#4378 rk322x: fix broadcast/multicast layer2 packets for ssv6051
  patch/kernel/archive/rk322x-5.15/wifi-4003-ssv-6051-driver.patch
  patch/kernel/archive/rk322x-5.19/01-linux-1000-drm-rockchip.patch
  patch/kernel/archive/rk322x-5.19/wifi-4003-ssv-6051-driver.patch
Labels: Hardware :gear:

#4375 kernel station-m3 update
  config/kernel/linux-station-m3-legacy.config
Labels: Hardware :gear:

#4372 Opportunistically build with kASLR.
  config/kernel/linux-bcm2711-current.config
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-meson64-current.config
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-mvebu64-current.config
  config/kernel/linux-mvebu64-edge.config
  config/kernel/linux-rk3399-legacy.config
  config/kernel/linux-rk3568-odroid-edge.config
  config/kernel/linux-rk35xx-legacy.config
  config/kernel/linux-rockchip-rk3588-legacy.config
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-legacy.config
  config/kernel/linux-rockpis-legacy.config
  config/kernel/linux-s5p6818-legacy.config
  config/kernel/linux-station-m3-legacy.config
  config/kernel/linux-station-p2-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-sunxi64-legacy.config
  config/kernel/linux-virtual-current.config
Labels: Ready :arrow_right:, Good first issue :dart:, Hardware :gear:, Maintenance :recycle:

#4381 Bump sunxi kernels
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi64-edge.config
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#4374 kernel station-p2-legacy 4.19.232
  config/kernel/linux-station-p2-legacy.config
Labels: Hardware :gear:

#4384 Switch to new action snippet
  .github/workflows/build-images.yml
Labels: Ready :arrow_right:, Bugfix :radioactive:, Software :chains:, Maintenance :recycle:

#4383 Tinker Board 2(RK3399): fix incorrect detection of dram size on booting
  config/boards/tinkerboard-2.wip
  config/sources/families/include/rockchip64_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#4296 Proposal to create a Community Supported config for Amlogic based TV Boxes
  config/boards/aml-s9xx-box.tvb
  config/sources/families/include/meson64_common.inc
  config/sources/families/meson-gxl.conf
  packages/bsp/aml-s9xx-box/boot/aml_autoscript
  packages/bsp/aml-s9xx-box/boot/emmc_autoscript
  packages/bsp/aml-s9xx-box/boot/extlinux/extlinux.conf
  packages/bsp/aml-s9xx-box/boot/s905_autoscript
  packages/bsp/aml-s9xx-box/boot/u-boot-readme.txt
  packages/bsp/aml-s9xx-box/boot/u-boot-s905
  packages/bsp/aml-s9xx-box/boot/u-boot-s905x-s912
  packages/bsp/aml-s9xx-box/boot/u-boot-s905x2-s922
  packages/bsp/aml-s9xx-box/root/fstab.template
  packages/bsp/aml-s9xx-box/root/install-aml-s905-emmc.sh
  packages/bsp/aml-s9xx-box/root/install-aml.sh
Labels: Ready :arrow_right:, Hardware :gear:

#4390 Default u-boot settings should be 2022.07
  config/sources/common.conf
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:, Maintenance :recycle:

#4389 Update odroidxu4-current to 5.4.223
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.220-221.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.221-222.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.222-223.patch
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4392 Move known non working rockhip64 boards to previous boot loader
  .github/workflows/build-kernel-pr.yml
  config/boards/nanopim4.conf
  config/boards/orangepi4-lts.conf
  config/boards/orangepi4.conf
  config/boards/rockpi-s.conf
  config/boards/rockpro64.conf
  config/kernel/linux-rockchip64-current.config
  config/sources/common.conf
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/rockpis.conf
  patch/u-boot/u-boot-rockchip64-v2022.04/add-board-clockworkpi-a06.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/add-board-helios64.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/add-board-nanopi-m4v2.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/add-board-orangepi-4.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/add-board-orangepi-r1-plus-0.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/add-board-orangepi-r1-plus-lts.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/add-board-rock-pi-s.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/add-board-tinker-board-2.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/add-trust-ini.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board-pinebook-pro-0001-usb-regulator.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board-pinebook-pro-0002-light-up-leds.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board-pinebook-pro-0003-spi-flash-support.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board-pinebook-pro-0005-panel-reset.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board-pinebook-pro-0007-increase-nvme-timeout.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board-rock-pi-4-enable-spi-flash.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board-rockpro64-advanced-recovery.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board-rockpro64-disable-preboot.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board_nanopi-r4s/0001-rockchip-rk3399-Add-Nanopi-R4S-board-support.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board_nanopi-r4s/0002-rockchip-rk3399-split-nanopi-r4s-out-of-evb_rk3399.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board_nanopi-r4s/0003-ram-rk3399-Add-support-for-multiple-DDR-types.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board_nanopi-r4s/0004-board-nanopi4-unify-1GB-4GB-variants-of-R4S.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board_nanopi-r4s/0005-board-nanopi-r4s-adjust-for-v2022.04.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board_rk3318-box/rk3318-box-add-defconfig.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board_rk3318-box/rk3318-box-add-dts.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board_rk3318-box/rk3318-box-add-makefile.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board_rockpi-s/u-boot-rock-pi-s-console0.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board_station-m1/u-boot-0010-rk-usb-start.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board_station-m1/u-boot-rk-rk3328-roc-pc-config.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board_station-m1/u-boot-rk-rk3328-roc-pc-dts.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board_station-m1/u-boot-rk-rk3328-roc-pc-include.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board_station-m1/u-boot-rk-rk3328-roc-pc-make-dts.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/board_station-p1/u-boot-rk3399-roc-pc-plus.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/enable-DT-overlays-support.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/general-add-xtx-spi-nor-chips.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/general-dwc-otg-usb-fix.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/general-set-eth1addr.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/general-support-recovery-button.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/general-support-rmii-integrated-phy.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/rk3328-efuse-driver.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/rk3328-resets-for-mmc-controllers.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/rk3328-sdmmc_ext-node.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/rk3399-always-init-rkclk.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/rk3399-disable-hdmi-roc-pc.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/rk3399-disable-hdmi.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/rk3399-enable-stable-mac.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/rk3399-populate-child-node-of-syscon.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/sdmmc-force-fifo-mode-in-spl.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/u-boot-rk-rk3399-usb-start-firefly-rk3399.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/u-boot-rk-rk3399-usb-start-nanopc-t4.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/u-boot-rk-rk3399-usb-start.patch
Labels: Ready :arrow_right:, Hardware :gear:, Software :chains:, Maintenance :recycle:

#4393 Remove defaulting of patch folder
  config/sources/common.conf
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#4395 Fixing wrong display condition
  packages/bsp/common/etc/update-motd.d/40-armbian-updates
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4394 Error triggered when changing BSP package
  lib/functions/bsp/bsp-cli.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4391 Fixing image build table
  .github/workflows/build-images.yml
Labels: Ready :arrow_right:, Software :chains:, Maintenance :recycle:

#4398 Make sure the build fails if generating uInitrd fails
  packages/bsp/common/etc/initramfs/post-update.d/99-uboot
Labels: Ready :arrow_right:

#4400 Add INITD_ARCH for riscv or it will fail when installing kernel
  config/sources/riscv64.conf
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:, Maintenance :recycle:

#4402 Fix U-Boot SUNXI NAND SPL
  patch/u-boot/u-boot-sunxi/fix-sunxi-nand-spl.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4403 Fix U-Boot SUNXI enable-autoboot-keyed.patch for U-Boot v2022.07 [AR-1322]
  patch/u-boot/u-boot-sunxi/enable-autoboot-keyed.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4407 fix build rtl8723ds for kernel 6.0
  lib/functions/compilation/patch/kernel-bootsplash-and-drivers.sh
Labels: Ready :arrow_right:, Maintenance :recycle:

#4408 Add meson-gx mmc driver patches for use phase clock settings from dts
  patch/kernel/archive/meson64-6.0/general-meson-gx-mmc-set-core-clock-phase-to-270-degres.patch.disable
  patch/kernel/archive/meson64-6.0/general-meson-mmc-1-arm64-amlogic-mmc-meson-gx-Add-core-tx-rx-eMMC-SD-SD.patch
  patch/kernel/archive/meson64-6.0/general-meson-mmc-2-arm64-amlogic-dts-meson-update-meson-axg-device-tree.patch
  patch/kernel/archive/meson64-6.0/general-meson-mmc-3-arm64-dts-docs-Update-mmc-meson-gx-documentation-for.patch
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#4410 fix - improve display alert for installing basic packages on host to …
  lib/functions/host/basic-deps.sh
Labels: Ready :arrow_right:, Good first issue :dart:, Maintenance :recycle:

#4415 Reduce beta images build
  config/targets-cli-beta.conf
Labels: Ready :arrow_right:, Maintenance :recycle:

#4414 Move all PPAs to desktop to enhance security of CLI images
  config/cli/bullseye/debootstrap/config_desktop/packages
  config/cli/bullseye/debootstrap/config_desktop/sources/apt/nala.gpg
  config/cli/bullseye/debootstrap/config_desktop/sources/apt/nala.source
  config/cli/bullseye/main/packages
  config/cli/focal/main/config_desktop/sources/apt/chromium-browser.gpg
  config/cli/focal/main/config_desktop/sources/apt/chromium-browser.source
  config/cli/focal/main/config_desktop/sources/apt/mozilla-team.gpg
  config/cli/focal/main/config_desktop/sources/apt/mozilla-team.source
  config/cli/focal/main/sources/apt/zfs.source
  config/cli/jammy/main/config_desktop/packages
  config/cli/jammy/main/config_desktop/sources/apt/chromium-browser.gpg
  config/cli/jammy/main/config_desktop/sources/apt/chromium-browser.source
  config/cli/jammy/main/config_desktop/sources/apt/mozilla-team.gpg
  config/cli/jammy/main/config_desktop/sources/apt/mozilla-team.source
  config/cli/jammy/main/config_desktop/sources/apt/nala.gpg
  config/cli/jammy/main/config_desktop/sources/apt/nala.source
  config/cli/kinetic/main/sources/apt/chromium-browser.gpg
  config/cli/kinetic/main/sources/apt/chromium-browser.source
  config/cli/kinetic/main/sources/apt/mozilla-team.gpg
  config/cli/kinetic/main/sources/apt/mozilla-team.source
  config/cli/kinetic/main/sources/apt/nala.gpg
  config/cli/kinetic/main/sources/apt/nala.source
  config/desktop/_all_distributions/appgroups/programming/sources/apt/githubcli.gpg
  config/desktop/_all_distributions/appgroups/programming/sources/apt/githubcli.source
  config/optional/architectures/arm64/_config/cli/_all_distributions/main/packages
  config/optional/architectures/arm64/_config/desktop/_all_distributions/main/packages
  config/optional/architectures/arm64/_config/desktop/_all_distributions/main/sources/apt/box64.gpg
  config/optional/architectures/arm64/_config/desktop/_all_distributions/main/sources/apt/box64.source
  config/optional/architectures/armhf/_config/cli/_all_distributions/main/packages
  config/optional/architectures/armhf/_config/desktop/_all_distributions/main/packages
  config/optional/architectures/armhf/_config/desktop/_all_distributions/main/sources/apt/box86.gpg
  config/optional/architectures/armhf/_config/desktop/_all_distributions/main/sources/apt/box86.source
Labels: Ready :arrow_right:

#4417 Updating the optimization\acceleration procedure (author @tkaiser)
  packages/blobs/station/firmware/brcm/brcmfmac43752-sdio.txt
  packages/bsp/common/usr/lib/armbian/armbian-hardware-optimization
Labels: Ready :arrow_right:, Maintenance :recycle:

#4411 Import several small fixes from Orangepi u-boot
  patch/u-boot/u-boot-sunxi/board_orangepi3-lts/0001-add-orange-pi-3-lts-support.patch
  patch/u-boot/u-boot-sunxi/board_orangepizero2/orangepizero2_dts_set_bldo2_to_1.8v.patch
  patch/u-boot/u-boot-sunxi/board_orangepizero2/orangepizero2_light_red_led_on.patch
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4419 Remove pinta package
  config/optional/architectures/amd64/_config/desktop/_all_distributions/appgroups/multimedia
  config/optional/architectures/arm64/_config/desktop/_all_distributions/appgroups/multimedia/packages
  config/optional/architectures/armhf/_config/desktop/_all_distributions/appgroups/multimedia
Labels: Bugfix :radioactive:

#4420 Updates for Radxa's Amlogic boards (`radxa-zero` and `radxa-zero2`)
  config/boards/radxa-zero.conf
  config/boards/radxa-zero2.csc
  patch/kernel/archive/meson64-6.0/add-board-radxa-zero2.patch
  patch/kernel/archive/meson64-6.0/board-radxa-zero-dts-add-support-for-the-usb-c-controller.patch
Labels: Hardware :gear:

#4425 Sunxi 6.0: update megous patches, switch to v6.0.8
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-6.0/patches.megous/Report-HDMI-hotplug-events.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/arm64-dts-rk356x-Fix-pcie2x-reg-ranges.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/drm-bridge-dw-hdmi-Allow-to-accept-HPD-status-from-other-driver.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/input-pinephone-keyboard-Allow-to-disable-Fn-layer-processing.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/media-cedrus-Fix-failure-to-clean-up-hardware-on-probe-failure.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/mtd-spi-nor-Add-regulator-support.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/power-supply-ip5xxx-Fix-integer-overflow-in-current_now-calcula.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/rtw89-8852c-disable-dma-during-mac-init.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/rtw89-declare-support-HE-HTC-always.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/sound-soc-sun4i-codec-Silence-deferred-probe-error.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/tty-serial-8250-dw-Use-fifo-size-from-DTS.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/usb-dwc3-Add-support-for-snps-usb3-phy-reset-quirk.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/usb-dwc3-Track-the-power-state-of-usb3_generic_phy.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/usb-quirks-Add-USB_QUIRK_RESET-for-Quectel-EG25G-Modem.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw88-8822c-extend-supported-probe-request-size.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw88-access-chip_info-by-const-pointer.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-8852c-declare-correct-BA-CAM-number.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-8852c-initialize-and-correct-BA-CAM-content.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-add-skeleton-of-mac80211-chanctx-ops-support.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-concentrate-chandef-setting-to-stack-callback.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-correct-BA-CAM-allocation.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-create-rtw89_chan-centrally-to-avoid-breakage.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-declare-support-for-mac80211-chanctx-ops-by-chip.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-declare-to-support-beamformee-above-bandwidth-80MHz.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-early-recognize-FW-feature-to-decide-if-chanctx.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-initialize-entity-and-configure-default-chandef.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-introudce-functions-to-drop-packets.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-parse-PHY-status-only-when-PPDU-is-to_self.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-pci-correct-suspend-resume-setting-for-variant-chips.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-pci-enable-CLK_REQ-ASPM-L1-and-L1ss-for-8852c.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-pci-fix-PCI-PHY-auto-adaption-by-using-software-rest.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-re-arrange-channel-related-stuffs-under-HAL.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-record-signal-strength-per-RF-path.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-split-scan-including-lots-of-channels.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-support-TX-diversity-for-1T2R-chipset.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-support-deep-ps-mode-for-rtw8852c.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-support-for-setting-TID-specific-configuration.patch
  patch/kernel/archive/sunxi-6.0/patches.megous/wifi-rtw89-unify-use-of-rtw89_h2c_tx.patch
  patch/kernel/archive/sunxi-6.0/series.conf
  patch/kernel/archive/sunxi-6.0/series.megous
Labels: Ready :arrow_right:, Hardware :gear:

#4406 move kernel media-current to 5.19.17
  config/kernel/linux-media-current.config
  patch/kernel/archive/media-5.19/00100-board-firefly-rk3399-dts.patch
  patch/kernel/archive/media-5.19/00110-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/media-5.19/00120-linux-0011-v4l2-from-list.patch
  patch/kernel/archive/media-5.19/00130-linux-0020-drm-from-list.patch
  patch/kernel/archive/media-5.19/00140-linux-1000-drm-rockchip.patch
  patch/kernel/archive/media-5.19/00150-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/media-5.19/00160-linux-1002-for-libreelec.patch
  patch/kernel/archive/media-5.19/00170-linux-2000-v4l2-wip-rkvdec-hevc.patch
  patch/kernel/archive/media-5.19/00180-linux-2001-v4l2-wip-iep-driver.patch
  patch/kernel/archive/media-5.19/00190-linux-90100-add-clock.patch
  patch/kernel/archive/media-5.19/00200-linux-90101-add-rt5651-konf.patch
  patch/kernel/archive/media-5.19/00210-linux-90102-rt5651.patch
  patch/kernel/archive/media-5.19/00220-linux-90103-nanopc-t4-5651.patch
  patch/kernel/archive/media-5.19/00240-linux-90104-all-codec.patch
  patch/kernel/archive/media-5.19/00250-linux-90117-add-rk3399-roc-pc-plus-sound.patch
  patch/kernel/archive/media-5.19/00260-linux-90200-rk3328-roc-pc-wifi-fix.patch
  patch/kernel/archive/media-5.19/00270-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/media-5.19/00280-add-fusb30x-driver.patch
  patch/kernel/archive/media-5.19/00290-add-rk3328-usb3-phy-driver.patch
  patch/kernel/archive/media-5.19/00300-board-roc-rk3399-pc-fix-fusb302-compatible.patch
  patch/kernel/archive/media-5.19/00310-general-add-dwc3-xhci-usb-trb-quirk.patch
  patch/kernel/archive/media-5.19/00320-general-add-miniDP-dt-doc.patch
  patch/kernel/archive/media-5.19/00340-general-add-miniDP-virtual-extcon.patch
  patch/kernel/archive/media-5.19/00350-general-add-overlay-compilation-support.patch
  patch/kernel/archive/media-5.19/00360-general-add-overlay-configfs.patch
  patch/kernel/archive/media-5.19/00370-general-bluetooth-02-add-support-for-RTL8723CS.patch
  patch/kernel/archive/media-5.19/00380-general-bluetooth-03-hci_h5-add-binding-RTL8723CS.patch
  patch/kernel/archive/media-5.19/00390-general-bluetooth-04-add-rtl8703bs.patch
  patch/kernel/archive/media-5.19/00400-general-bluetooth-add-new-quirk.patch
  patch/kernel/archive/media-5.19/00410-general-disable-mtu-validation.patch
  patch/kernel/archive/media-5.19/00420-general-fix-es8316-kernel-panic.patch
  patch/kernel/archive/media-5.19/00430-general-increasing_DMA_block_memory_allocation_to_2048.patch
  patch/kernel/archive/media-5.19/00450-general-possibility-of-disabling-rk808-rtc.patch
  patch/kernel/archive/media-5.19/00460-general-rk808-configurable-switch-voltage-steps.patch
  patch/kernel/archive/media-5.19/00470-general-workaround-broadcom-bt-serdev.patch
  patch/kernel/archive/media-5.19/00480-rk3328-dtsi-usb3-reset-properties.patch
  patch/kernel/archive/media-5.19/00490-rk3328-roc-pc-bt.patch
  patch/kernel/archive/media-5.19/00500-rk3399-enable-dwc3-xhci-usb-trb-quirk.patch
  patch/kernel/archive/media-5.19/00510-rk3399-nanopc-t4-emmc.patch
  patch/kernel/archive/media-5.19/00520-rk3399-pci-rockchip-support-ep-gpio-undefined-case.patch
  patch/kernel/archive/media-5.19/00530-rk3399-rp64-pcie-Reimplement-rockchip-PCIe-bus-scan-delay.patch
  patch/kernel/archive/media-5.19/00540-rk3399-sd-drive-level-8ma.patch
  patch/kernel/archive/media-5.19/00550-rk3399-unlock-temperature.patch
  patch/kernel/archive/media-5.19/00560-v2-net-dsa-tag_mtk-add-padding-for-tx-packets.patch
  patch/kernel/archive/media-5.19/00570-pwm-fan-fix.patch
  patch/kernel/archive/media-5.19/00580-add-board-helios64.patch
  patch/kernel/archive/media-5.19/00590-board-helios64-dts-fix-stability-issues.patch
  patch/kernel/archive/media-5.19/00600-board-helios64-remove-overclock.patch
  patch/kernel/archive/media-5.19/00610-board-helios64-remove-pcie-ep-gpios.patch
  patch/kernel/archive/media-5.19/00620-add-driver-for-Motorcomm-YT85xx+PHYs.patch
  patch/kernel/archive/media-5.19/00630-board-pbp-fix-wonky-wifi-bt.patch
  patch/kernel/archive/media-5.19/00980-builddeb.patch
  patch/kernel/archive/media-5.19/00981-mkdebian.patch
Labels: Hardware :gear:

#4404 move u-boot-media to 2022.04 support USB
  config/sources/families/media.conf
  patch/u-boot/u-boot-media/0010-add-board-helios64.patch
  patch/u-boot/u-boot-media/0020-add-board-nanopi-m4v2.patch
  patch/u-boot/u-boot-media/0030-add-board-orangepi-4.patch
  patch/u-boot/u-boot-media/0040-add-board-orangepi-r1plus.patch
  patch/u-boot/u-boot-media/0050-add-board-rock-pi-s.patch
  patch/u-boot/u-boot-media/0060-add-board-tinker-board-2.patch
  patch/u-boot/u-boot-media/0070-add-trust-ini.patch
  patch/u-boot/u-boot-media/0080-board-pinebook-pro-0003-spi-flash-support.patch
  patch/u-boot/u-boot-media/0090-board-pinebook-pro-0005-panel-reset.patch
  patch/u-boot/u-boot-media/0100-board-pinebook-pro-0007-increase-nvme-timeout.patch
  patch/u-boot/u-boot-media/0110-board-rockpro64-advanced-recovery.patch
  patch/u-boot/u-boot-media/0120-enable-DT-overlays-support.patch
  patch/u-boot/u-boot-media/0130-general-add-xtx-spi-nor-chips.patch
  patch/u-boot/u-boot-media/0140-general-set-eth1addr.patch
  patch/u-boot/u-boot-media/0150-general-support-recovery-button.patch
  patch/u-boot/u-boot-media/0160-general-support-rmii-integrated-phy.patch
  patch/u-boot/u-boot-media/0170-rk3328-efuse-driver.patch
  patch/u-boot/u-boot-media/0180-rk3399-always-init-rkclk.patch
  patch/u-boot/u-boot-media/0190-rk3399-enable-stable-mac.patch
  patch/u-boot/u-boot-media/0200-rk3399-populate-child-node-of-syscon.patch
  patch/u-boot/u-boot-media/0210-sdmmc-force-fifo-mode-in-spl.patch
  patch/u-boot/u-boot-media/0220-u-boot-0010-rk-usb-start.patch
  patch/u-boot/u-boot-media/0230-u-boot-rk3399-roc-pc-plus.patch
  patch/u-boot/u-boot-media/0240-u-boot-rk3399-roc-pc-plus-dts.patch
  patch/u-boot/u-boot-media/0250-u-boot-rk-rk3328-dtsi.patch
  patch/u-boot/u-boot-media/0260-u-boot-rk-rk3328-roc-cc-dts.patch
  patch/u-boot/u-boot-media/0270-u-boot-rk-rk3328-roc-pc-config.patch
  patch/u-boot/u-boot-media/0280-u-boot-rk-rk3328-roc-pc-dts.patch
  patch/u-boot/u-boot-media/0290-u-boot-rk-rk3328-roc-pc-include.patch
  patch/u-boot/u-boot-media/0300-u-boot-rk-rk3328-roc-pc-make-dts.patch
  patch/u-boot/u-boot-media/0310-u-boot-rk-rk3399-opi800-config.patch
  patch/u-boot/u-boot-media/0320-u-boot-rk-rk3399-opi800-dts.patch
  patch/u-boot/u-boot-media/0330-u-boot-rk-rk3399-opi800-makefile.patch
  patch/u-boot/u-boot-media/0340-u-boot-rk-rk3399-opi800-uboot-dtsi.patch
  patch/u-boot/u-boot-media/0350-u-boot-rk-rk3399-usb-start.patch
  patch/u-boot/u-boot-media/0360-u-boot-rk-rk3399-usb-start-firefly-rk3399.patch
  patch/u-boot/u-boot-media/0370-u-boot-rk-rk3399-usb-start-nanopc-t4.patch
  patch/u-boot/u-boot-media/230-u-boot-rk3399-roc-pc-plus-dts.patch
  patch/u-boot/u-boot-media/board_nanopi-r4s/0001-rockchip-rk3399-Add-Nanopi-R4S-board-support.patch
  patch/u-boot/u-boot-media/board_nanopi-r4s/0002-rockchip-rk3399-split-nanopi-r4s-out-of-evb_rk3399.patch
  patch/u-boot/u-boot-media/board_nanopi-r4s/0003-ram-rk3399-Add-support-for-multiple-DDR-types.patch
  patch/u-boot/u-boot-media/board_nanopi-r4s/0004-board-nanopi4-unify-1GB-4GB-variants-of-R4S.patch
Labels: Question :mag:, Hardware :gear:

#4431 Enable Shellcheck on changed files
  .github/workflows/lint-scripts-pr.yml
Labels: Ready :arrow_right:, Software :chains:

#4430 Syntax error fixes, dep checks & `shfmt` of board-side bash scripts
  packages/bsp/common/usr/lib/armbian/armbian-audio-config
  packages/bsp/common/usr/lib/armbian/armbian-hardware-optimization
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4429 More updates for Radxa's Amlogic boards (`radxa-zero` and `radxa-zero2`)
  config/boards/radxa-zero.conf
  config/boards/radxa-zero2.csc
  patch/kernel/archive/meson64-6.0/meson-g12a-pinctrl-add-missing-ir-options.patch
  patch/kernel/archive/meson64-6.0/meson-g12b-pinctrl-Add-missing-pinmux-for-pwm.patch
  patch/u-boot/v2022.10/board_radxa-zero2/0001-WIP-ARM-dts-add-support-for-Radxa-Zero2.patch
  patch/u-boot/v2022.10/board_radxa-zero2/0002-WIP-boards-amlogic-add-Radxa-Zero2-defconfig.patch
  patch/u-boot/v2022.10/meson64-boot-usb-nvme-scsi-first.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4396 Enable additional motd tips showing some internal ads
  packages/bsp/common/etc/cron.weekly/armbian-quotes
  packages/bsp/common/etc/update-motd.d/35-armbian-tips
Labels: Ready :arrow_right:, Question :mag:

#4437 We need to checkout to PR
  .github/workflows/lint-scripts-pr.yml
Labels: Ready :arrow_right:, Bugfix :radioactive:, Software :chains:, Maintenance :recycle:

#4438 Add Github Action to calculate changed files
  .github/workflows/lint-scripts-pr.yml
Labels: Software :chains:

#4440 Bump to most recent sunxi kernel (current)
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-5.15/megous/Report-HDMI-hotplug-events.patch
  patch/kernel/archive/sunxi-5.15/megous/drm-bridge-dw-hdmi-Allow-to-accept-HPD-status-from-o.patch
  patch/kernel/archive/sunxi-5.15/megous/usb-dwc3-core-do-not-use-3.0-clock-when-operating-in.patch
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4441 Address action script deprecation functionality
  .github/workflows/build-images.yml
Labels: Ready :arrow_right:, Bugfix :radioactive:, Software :chains:, Maintenance :recycle:

#4436 Don't block but warn user on weak password
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready :arrow_right:

#4439 `flash-kernel`: pass `FK_FORCE=yes` to `flash-kernel` so it actually runs in chroot
  extensions/flash-kernel.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4445 rockchip: advance edge kernel to v6.0
  config/kernel/linux-rockchip-edge.config
  config/sources/families/rockchip.conf
  patch/kernel/archive/rockchip-6.0/0002-mglru-framework.patch
  patch/kernel/archive/rockchip-6.0/01-linux-0001-rockchip-from-6.1.patch
  patch/kernel/archive/rockchip-6.0/01-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rockchip-6.0/01-linux-0011-v4l2-from-list.patch
  patch/kernel/archive/rockchip-6.0/01-linux-0020-drm-from-list.patch
  patch/kernel/archive/rockchip-6.0/01-linux-1000-drm-rockchip.patch
  patch/kernel/archive/rockchip-6.0/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rockchip-6.0/01-linux-1002-for-libreelec.patch
  patch/kernel/archive/rockchip-6.0/01-linux-2000-v4l2-wip-rkvdec-hevc.patch
  patch/kernel/archive/rockchip-6.0/01-linux-2001-v4l2-wip-iep-driver.patch
  patch/kernel/archive/rockchip-6.0/1-2-regulator-act8865-add-restart-handler-for-act8846.patch
  patch/kernel/archive/rockchip-6.0/1001-dts-rk3288-miqi-Enabling-the-Mali-GPU-node.patch
  patch/kernel/archive/rockchip-6.0/1002-ARM-dts-rockchip-fix-the-regulator-s-voltage-range-o.patch
  patch/kernel/archive/rockchip-6.0/1003-ARM-dts-rockchip-add-the-MiQi-board-s-fan-definition.patch
  patch/kernel/archive/rockchip-6.0/1007-RK3288-DTSI-rk3288-Add-missing-SPI2-pinctrl.patch
  patch/kernel/archive/rockchip-6.0/1010-ARM-DTSI-rk3288-Adding-missing-EDP-power-domain.patch
  patch/kernel/archive/rockchip-6.0/1012-ARM-DTSI-rk3288-Fixed-the-SPDIF-node-address.patch
  patch/kernel/archive/rockchip-6.0/1013-ARM-DTS-rk3288-tinker-Enabling-SDIO-and-Wifi.patch
  patch/kernel/archive/rockchip-6.0/1014-ARM-DTS-rk3288-tinker-Setup-the-Bluetooth-UART-pins.patch
  patch/kernel/archive/rockchip-6.0/1015-ARM-DTSI-rk3288-tinker-Improving-the-CPU-max-voltage.patch
  patch/kernel/archive/rockchip-6.0/1017-ARM-DTS-rk3288-tinker-Defined-the-I2C-interfaces.patch
  patch/kernel/archive/rockchip-6.0/1018-ARM-DTS-rk3288-tinker-Defining-the-SPI-interface.patch
  patch/kernel/archive/rockchip-6.0/1019-ARM-DTSI-rk3288-tinker-Defining-SDMMC-properties.patch
  patch/kernel/archive/rockchip-6.0/1023-dts-rk3288-support-for-dedicating-npll-to-a-vop.patch.disabled
  patch/kernel/archive/rockchip-6.0/1024-arm-dts-veyron-Added-a-flag-to-disable-cache-flush-d.patch
  patch/kernel/archive/rockchip-6.0/1025-ARM-DTSI-rk3288-disable-serial-dmas.patch
  patch/kernel/archive/rockchip-6.0/1026-arm-dtsi-rk3288-add-GPU-500-Mhz-OPP.patch
  patch/kernel/archive/rockchip-6.0/1028-enable-hevc-rga-for-tinkerboard.patch
  patch/kernel/archive/rockchip-6.0/1029-enable-hevc-rga-for-miqi.patch
  patch/kernel/archive/rockchip-6.0/2002-clk-rockchip-add-all-known-operating-points-to-the-a.patch
  patch/kernel/archive/rockchip-6.0/2005-drivers-mmc-dw-mci-rockchip-Handle-ASUS-Tinkerboard.patch
  patch/kernel/archive/rockchip-6.0/2007-drivers-wifi-ath9k-reverse-do-not-use-bulk-on-EP3-and-EP4.patch
  patch/kernel/archive/rockchip-6.0/2013-spi-Added-support-for-Tinkerboard-s-SPI-interface.patch
  patch/kernel/archive/rockchip-6.0/261_gpiomem_driver.patch
  patch/kernel/archive/rockchip-6.0/3000_DTS_rearrange_thermal_zones.patch
  patch/kernel/archive/rockchip-6.0/3001_Tinkerboard-4.19-audio.patch
  patch/kernel/archive/rockchip-6.0/4016-workaround-broadcom-bt-serdev.patch
  patch/kernel/archive/rockchip-6.0/5002-prefer-8-bit-RGB-over-YCbCr.patch
  patch/kernel/archive/rockchip-6.0/RK3288-1.8GHz-and-boost.patch
  patch/kernel/archive/rockchip-6.0/brcmfmac-add-ap6330-firmware.patch
  patch/kernel/archive/rockchip-6.0/general-add-overlay-compilation-support.patch
  patch/kernel/archive/rockchip-6.0/general-add-overlays.patch
  patch/kernel/archive/rockchip-6.0/general-fix-reboot-from-kwiboo.patch
  patch/kernel/archive/rockchip-6.0/xt-q8l-v10-add-device-tree.patch
  patch/kernel/archive/rockchip-6.0/xt-q8l-v10-add-dts-makefile.patch
  patch/kernel/archive/rockchip-6.0/xt-q8l-v10-remote-keymap.patch
  patch/kernel/rockchip-edge
Labels: Ready :arrow_right:, Hardware :gear:

#4446 Change to supported Github Action module
  .github/workflows/build-images.yml
  .github/workflows/build-kernel-pr.yml
  .github/workflows/build-train.yml
Labels: Ready :arrow_right:, Software :chains:

#4433 enable es8316 audio properly on Radxa ROCK Pi 4
  patch/kernel/archive/rockchip64-5.15/board-rockpi4-0005-arm64-dts-enable-es8316-audio.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4454 `khadas-vim3l`: add asound file
  config/boards/khadas-vim3l.conf
  packages/blobs/asound.state/asound.state.khadas-vim3l
Labels: Ready :arrow_right:, Hardware :gear:

#4453 helios4/machiattobin-doubleshot/rpi4b remove `legacy` BRANCH
  config/boards/helios4.conf
  config/boards/macchiatobin-doubleshot.csc
  config/boards/rpi4b.conf
Labels: Ready :arrow_right:, Hardware :gear:

#4452 `odroidm1`: use mainline 6.1-rc5, grab DTS only from `mmind/v6.2-armsoc/dts64` as single patch
  config/boards/odroidm1.wip
  config/sources/families/rk3568-odroid.conf
  patch/kernel/archive/odroidm1-6.1/add-board-odroidm1.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4451 meson: legacy: bump to 5.10.155
  config/kernel/linux-meson-legacy.config
  patch/kernel/archive/meson-5.10/m8-m8b-m8m2-Support-HDMI.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4450 `armbian,spi-dev` hacks also for rockchip64-5.18, .19, and 6.0.y
  patch/kernel/archive/rockchip64-5.18/drv-spi-spidev-remove-warnings.patch
  patch/kernel/archive/rockchip64-5.18/general-rockchip-overlays.patch
  patch/kernel/archive/rockchip64-5.19/drv-spi-spidev-remove-warnings.patch
  patch/kernel/archive/rockchip64-5.19/general-rockchip-overlays.patch
  patch/kernel/archive/rockchip64-6.0/drv-spi-spidev-remove-warnings.patch
  patch/kernel/archive/rockchip64-6.0/general-rockchip-overlays.patch
Labels: Hardware :gear:

#4448 Adding in kernel module for controller support
  config/kernel/linux-rockchip-rk3588-legacy.config
Labels: Ready :arrow_right:, Good first issue :dart:, Hardware :gear:

#4447 Update Allwinner kernels to latest
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready :arrow_right:, Maintenance :recycle:

#4449 `tinkerboard-2`: move to "legacy" 21.07 u-boot; firmware & kernel DTS fixes
  config/boards/tinkerboard-2.wip
  patch/kernel/archive/rockchip64-5.15/add-board-tinker-board-2.patch
  patch/kernel/archive/rockchip64-5.19/add-board-tinker-board-2.patch
  patch/kernel/archive/rockchip64-6.0/add-board-tinker-board-2.patch
  patch/u-boot/legacy/u-boot-tinkerboard2/add-board-tinker-board-2.patch
  patch/u-boot/legacy/u-boot-tinkerboard2/add-trust-ini.patch
  patch/u-boot/legacy/u-boot-tinkerboard2/enable-DT-overlays-support.patch
  patch/u-boot/u-boot-rockchip64/add-board-tinker-board-2.patch
Labels: Hardware :gear:

#4459 Change terms and make a link to the web page
  README.md
Labels: Ready :arrow_right:

#4458 Improve post install handling on desktop package install
  config/desktop/_all_distributions/environments/_all_environments/debian/postinst
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4457 armbian-firstlogin make weak password warning messages consistent for root and user
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready :arrow_right:, Maintenance :recycle:

#4456 We need to follow redirect with Curl
  packages/bsp/common/etc/cron.weekly/armbian-quotes
  packages/bsp/common/usr/lib/armbian/armbian-apt-updates
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4464 When using PPA sources we need to run install_ppa_prerequisites
  lib/functions/rootfs/apt-sources.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4463 Updates to grammar and wording on README.md
  README.md
Labels: Ready :arrow_right:

#4462 Fix u-boot Station M1
  config/boards/station-m1.conf
  patch/u-boot/u-boot-media/0270-u-boot-rk-rk3328-roc-pc-config.patch
  patch/u-boot/u-boot-media/0301-u-boot-rk-rk3328-roc-pc-u-boot-dtsi.patch
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#4461 meson adjust
  config/boards/onecloud.csc
  config/sources/families/include/meson_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#4428 Add mtd-utils to all ARM distributions main packages
  config/optional/architectures/arm64/_config/cli/_all_distributions/main/packages
  config/optional/architectures/armhf/_config/cli/_all_distributions/main/packages
Labels: Ready :arrow_right:

#4475 Add build targets which only build kernels
  config/targets.conf
Labels: Ready :arrow_right:, Maintenance :recycle:

#4474 Prevent unsupported cases
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Ready :arrow_right:

#4467 Remove 3D support for Station & Jetson Nano images with legacy kernel
  config/targets.conf
Labels: Desktop :desktop_computer:, Ready :arrow_right:

#4466 Fix faulty lsblk argument
  packages/bsp/common/usr/sbin/armbian-install
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4465 DTB fix for Station M3
  config/sources/families/media.conf
  patch/kernel/archive/media-5.10/00980-builddeb.patch
  patch/kernel/archive/media-5.10/00981-mkdebian.patch
  patch/kernel/media-legacy
Labels: Ready :arrow_right:, Hardware :gear:

#4480 Fixed u-boot v2022.07 compilation for Helios64
  config/boards/helios64.csc
  patch/u-boot/u-boot-rockchip64/add-board-helios64.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4479 SUNXI: Update setting of UBOOT_TARGET_MAP to allow overriding
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#4488 Remove deprecated patches for XU4
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.211-212.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.212-213.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.213-214.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.214-215.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.215-216.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.216-217.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.217-218.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.218-219.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.219-220.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.220-221.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.221-222.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.222-223.patch
Labels: Hardware :gear:

#4485 Updated v4.4 HW RND driver with that from v5.10 kernel
  patch/kernel/archive/rockchip64-6.0/general-legacy-rockchip-hwrng_5.10.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4484 30-armbian-sysinfo: make IP address unique (#4483)
  packages/bsp/common/etc/update-motd.d/30-armbian-sysinfo
Labels: Ready :arrow_right:

#4455 Add option BUILD_ONLY to the build compile scripts
  lib/functions/cli/cli-entrypoint.sh
  lib/functions/configuration/interactive.sh
  lib/functions/host/prepare-host.sh
  lib/functions/main/build-tasks.sh
  lib/functions/main/config-prepare.sh
  lib/functions/main/default-build.sh
Labels: Ready :arrow_right:

#4495 sunxi: switch CURRENT to v5.15.80, EDGE to v6.0.10
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#4496 Remove broken packages from Kinetic
  config/desktop/kinetic/appgroups/chat/packages
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4500 Properly enable kernel compilation for nightly images
  config/targets-cli-beta.conf
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4499 Update odroidxu4-current to 5.4.225
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.224-225.patch
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4494 armbian-firstlogin: fix shellcheck issues
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready :arrow_right:

#4493 Add shebangs for shellcheck
  extensions/detect-unused-extensions.sh
  extensions/flash-kernel.sh
  extensions/gen-sample-extension-docs.sh
  extensions/grub-riscv64.sh
  extensions/grub-sbc-media.sh
  extensions/grub.sh
  extensions/marvell-tools.sh
  extensions/nvidia.sh
  extensions/rkbin-tools.sh
  extensions/sunxi-tools.sh
  lib/extensions.sh
  lib/functions/bsp/bsp-cli.sh
  lib/functions/bsp/bsp-desktop.sh
  lib/functions/bsp/utils-bsp.sh
  lib/functions/cli/cli-entrypoint.sh
  lib/functions/cli/utils-cli.sh
  lib/functions/compilation/atf.sh
  lib/functions/compilation/debs.sh
  lib/functions/compilation/kernel-debs.sh
  lib/functions/compilation/kernel.sh
  lib/functions/compilation/patch/kernel-bootsplash-and-drivers.sh
  lib/functions/compilation/patch/patching.sh
  lib/functions/compilation/uboot.sh
  lib/functions/compilation/utils-compilation.sh
  lib/functions/configuration/aggregation.sh
  lib/functions/configuration/config-desktop.sh
  lib/functions/configuration/interactive.sh
  lib/functions/configuration/menu.sh
  lib/functions/extras/buildpkg.sh
  lib/functions/extras/installpkg.sh
  lib/functions/general/chroot-helpers.sh
  lib/functions/general/downloads.sh
  lib/functions/general/git.sh
  lib/functions/general/repo.sh
  lib/functions/host/basic-deps.sh
  lib/functions/host/host-utils.sh
  lib/functions/host/prepare-host.sh
  lib/functions/image/fingerprint.sh
  lib/functions/image/initrd.sh
  lib/functions/image/loop.sh
  lib/functions/image/partitioning.sh
  lib/functions/image/rootfs-to-image.sh
  lib/functions/logging/logging.sh
  lib/functions/logging/runners.sh
  lib/functions/logging/traps.sh
  lib/functions/main/build-tasks.sh
  lib/functions/main/config-prepare.sh
  lib/functions/main/rootfs-image.sh
  lib/functions/rootfs/apt-install.sh
  lib/functions/rootfs/apt-sources.sh
  lib/functions/rootfs/boot_logo.sh
  lib/functions/rootfs/create-cache.sh
  lib/functions/rootfs/customize.sh
  lib/functions/rootfs/distro-agnostic.sh
  lib/functions/rootfs/distro-specific.sh
  lib/functions/rootfs/post-tweaks.sh
  lib/functions/rootfs/rootfs-desktop.sh
  lib/import-functions.sh
Labels: Ready :arrow_right:, Software :chains:

#4489 armbian-firstlogin: make Y/n questions consistent
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready :arrow_right:

#4501 armbian-firstlogin: remove unnecessary check
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready :arrow_right:

#4510 Revert bootloader for R4S and Neo3, adjust names
  config/boards/nanopi-r4s.conf
  config/boards/nanopineo3.conf
  config/boards/orangepi-r1plus-lts.conf
  config/boards/tinkerboard.conf
  config/kernel/linux-rockchip-current.config
  config/kernel/linux-rockchip-edge.config
  config/targets.conf
Labels: Ready :arrow_right:, Hardware :gear:

#4509 Fix the amlogic tvbox build's extlinux.conf to use uImage for the kernel
  packages/bsp/aml-s9xx-box/boot/extlinux/extlinux.conf
Labels: Ready :arrow_right:

#4506 correction of the composition of images and programs in them
  config/targets.conf
Labels: Ready :arrow_right:

#4498 Separate some network driver patchs
  lib/functions/compilation/patch/drivers_network.sh
  lib/functions/compilation/patch/kernel-bootsplash-and-drivers.sh
Labels: Ready :arrow_right:

#4497 Enable additional minimal CLI build targets
  config/targets.conf
Labels: Ready :arrow_right:

#4508 Fix the builddeb script so linux-image upgrades work correctly
  packages/armbian/builddeb
Labels: Bugfix :radioactive:
