Repository armbian/build, pull requests merged in 2022-06, with the labels that each got.

#3845 fix rock3a UBOOT_TARGET_MAP
  config/sources/families/include/rockchip64_common.inc
Labels: Hardware :gear:

#3785 Add support for build all images to build train
  .github/workflows/build-images.yml
  .github/workflows/build-train.yml
Labels: Ready :arrow_right:, Bugfix :radioactive:, Software :chains:

#3847 [AR-1213] Fix mvebu pwm patch
  patch/kernel/archive/mvebu-5.15/92-mvebu-gpio-remove-hardcoded-timer-assignment.patch
  patch/kernel/archive/mvebu-5.16/92-mvebu-gpio-remove-hardcoded-timer-assignment.patch
Labels: Ready :arrow_right:, Hardware :gear:

#3849 Update meson64-edge patch for Kernel 5.15.7+
  patch/kernel/archive/meson64-5.17/general-meson-aiu-Fix-HDMI-codec-control-selection.patch
Labels: Bugfix :radioactive:, Hardware :gear:

#3851 Fix 'cannot change locale (en_US.UTF-8)' warning #3850
  lib/debootstrap.sh
Labels: Software :chains:

#3857 rockchip64-edge: enable iwlwifi
  config/kernel/linux-rockchip64-edge.config
Labels: Ready :arrow_right:, Hardware :gear:

#3861 enable rtl8812au in rockchip64 edge
  config/kernel/linux-rockchip64-edge.config
Labels: Ready :arrow_right:, Hardware :gear:

#3855 fix rock-3a spi UBOOT_TARGET_MAP
  config/sources/families/include/rockchip64_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#3830 [bootenv/rockchip] Force cgroup v1 usage
  config/bootenv/rockchip.txt
Labels: Hardware :gear:

#3864 Check if all boards has Jammy and Bullseye CLI targets
  config/targets.conf
Labels: Ready :arrow_right:

#3860 Switching the rest to 5.18.y
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-imx6-edge.config
  config/kernel/linux-media-edge.config
  config/kernel/linux-mvebu64-edge.config
  config/kernel/linux-odroidxu4-edge.config
  config/kernel/linux-rk322x-edge.config
  config/kernel/linux-rockchip-edge.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-x86-edge.config
  config/sources/families/bcm2711.conf
  config/sources/families/imx6.conf
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  config/sources/families/include/uefi_common.inc
  config/sources/families/mvebu64.conf
  config/sources/families/odroidxu4.conf
  lib/compilation-prepare.sh
  patch/kernel/archive/sunxi-5.10/0001-Revert-arm-ioremap-don-t-abuse-pfn_valid-to-check-if.patch.disable
  patch/kernel/archive/sunxi-5.10/megous/power-supply-axp20x_battery-Add-support-for-reportin.patch
  patch/kernel/odroidxu4-edge
  patch/kernel/sunxi-edge
  patch/misc/wireless-rtl8821cu.patch
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:, Software :chains:

#3867 Remove this wireless broken driver
  config/kernel/linux-uefi-arm64-current.config
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#3856 Missed locale warning #3850
  lib/chroot-buildpackages.sh
  lib/debootstrap.sh
  lib/distributions.sh
Labels: Bugfix :radioactive:, Software :chains:

#3869 Switch kernel version of sunxi and update their config
  config/kernel/linux-bcm2711-current.config
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi64-current.config
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready :arrow_right:

#3879 Sunxi 5.18
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-5.18/patches.megous/Bluetooth-Add-new-quirk-for-broken-local-ext-features-max_page.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/Import-pgwipeout-s-pcie-regs-ranges.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/arm64-dts-rk3399-pinephone-pro-Use-4-lane-mode-for-selfie-camer.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/leds-sgm3140-Add-missing-timer-cleanup-and-flash-gpio-control.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/mailbox-Allow-to-run-mailbox-while-timekeeping-is-suspended.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/media-imx258-Add-debug-register-access.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/media-ov8858-Add-support-for-digital-gain-control.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/media-ov8858-Increase-analog-gain-range.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/power-supply-rk818-battery-Speed-up-battery-current-readout.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/rtw88-fix-null-vif-pointer-when-hw_scan-fails.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/rtw89-8852c-rfk-re-calibrate-RX-DCK-once-thermal-changes-a-lot.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/rtw89-fix-channel-inconsistency-during-hw_scan.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/rtw89-fix-null-vif-pointer-when-hw_scan-fails.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/rtw89-pci-handle-hardware-watchdog-timeout-interrupt-status.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/rtw89-sar-adjust-and-support-SAR-on-6GHz-band.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/wifi-rtw88-Fix-Sparse-warning-for-rtw8723d_hw_spec.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/wifi-rtw88-Fix-Sparse-warning-for-rtw8821c_hw_spec.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/wifi-rtw88-Fix-Sparse-warning-for-rtw8822c_hw_spec.patch
  patch/kernel/archive/sunxi-5.18/patches.megous/wifi-rtw88-Fix-sparse-warning-for-rtw8822b_hw_spec.patch
  patch/kernel/archive/sunxi-5.18/series.conf
  patch/kernel/archive/sunxi-5.18/series.megous
Labels: Ready :arrow_right:, Hardware :gear:

#3878 Add settings for .yml files into .editorconfig
  .editorconfig
Labels: Ready :arrow_right:

#3877 adjust patches for rk322x, rockchip edge 5.18 kernel
  patch/kernel/archive/rk322x-5.18/01-linux-0011-v4l2-from-list.patch
  patch/kernel/archive/rk322x-5.18/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rockchip-5.18/01-linux-0011-v4l2-from-list.patch
  patch/kernel/archive/rockchip-5.18/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rockchip-5.18/xt-q8l-v10-remote-keymap.patch
Labels: Ready :arrow_right:, Hardware :gear:

#3875 add eject for gnome
  config/desktop/bullseye/environments/gnome/config_base/packages
  config/desktop/jammy/environments/gnome/config_base/packages
  config/desktop/sid/environments/gnome/config_base/packages
Labels: Ready :arrow_right:

#3874 use gpt partition table on rock-3a
  config/boards/rock-3a.conf
Labels: Hardware :gear:

#3881 fix build media kernel 5.17
  patch/kernel/archive/media-5.17/add-csgpio-to-rockchip-spi.patch
Labels: Hardware :gear:

#3886 sunxi-5.15: Switch version to the v5.15.46 tag
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-5.15/megous/mailbox-Allow-to-run-mailbox-while-timekeeping-is-su.patch
Labels: Hardware :gear:

#3876 Adjust broken patches and move sunxi to latest tag
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/media-5.17/add-csgpio-to-rockchip-spi.patch.disabled
  patch/kernel/archive/rk322x-5.15/01-linux-0011-v4l2-from-list.patch
  patch/kernel/archive/rk322x-5.15/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rk322x-5.15/01-linux-2001-v4l-wip-rkvdec-hevc.patch
  patch/kernel/archive/rockchip-5.15/01-linux-0011-v4l2-from-list.patch
  patch/kernel/archive/rockchip-5.15/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rockchip-5.15/01-linux-2001-v4l-wip-rkvdec-hevc.patch
Labels: Ready :arrow_right:, Hardware :gear:

#3873 Onecloud: fix some bugs
  config/bootscripts/boot-onecloud.cmd
  config/kernel/linux-meson-current.config
  config/kernel/linux-meson-edge.config
  config/kernel/linux-meson-legacy.config
  config/sources/families/include/meson_common.inc
  config/templates/Dockerfile
  lib/general.sh
  patch/kernel/archive/meson-5.14/board_onecloud/add-dts.patch
  patch/kernel/archive/meson-5.14/board_onecloud/usb-disable-ACA-check.patch
  patch/kernel/archive/meson-5.14/generate-uImage-instand-of-zImage.patch
  patch/kernel/archive/meson-5.18/board_onecloud/0001-add-dts.patch
  patch/kernel/archive/meson-5.18/board_onecloud/0002-dts-Support-HDMI.patch
  patch/kernel/archive/meson-5.18/board_onecloud/usb-disable-ACA-check.patch
  patch/kernel/archive/meson-5.18/generate-uImage-instand-of-zImage.patch
  patch/kernel/meson-current
  patch/kernel/meson-legacy
Labels: Ready :arrow_right:, Hardware :gear:, Software :chains:

#3880 chore: Set permissions for GitHub actions
  .github/workflows/build-cache.yml
  .github/workflows/build-images.yml
  .github/workflows/build-kernel-on-merge-request.yml
  .github/workflows/build-test-image-docker.yml
  .github/workflows/build-train.yml
  .github/workflows/build-u-boot.yml
  .github/workflows/bump-version.yml
  .github/workflows/labeler.yml
  .github/workflows/lint-scripts-on-merge-request.yml
  .github/workflows/maintain.yml
  .github/workflows/rebase.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/update-docker.yml
  .github/workflows/update-repository.yml
Labels: Ready :arrow_right:, Software :chains:

#3859 Remove version argument check from initramfs cleanup script
  packages/bsp/common/etc/kernel/postinst.d/xx-initramfs-cleanup
Labels: Ready :arrow_right:

#3882 Add Scorecards' GitHub action
  .github/workflows/scorecard.yml
Labels: Ready :arrow_right:, Software :chains:

#3892 Add support for KProbes in all armbian kernels
  config/kernel/linux-imx7d-current.config
  config/kernel/linux-imx7d-legacy.config
  config/kernel/linux-jetson-nano-legacy.config
  config/kernel/linux-meson-current.config
  config/kernel/linux-meson-edge.config
  config/kernel/linux-meson-legacy.config
  config/kernel/linux-meson64-current.config
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-meson64-legacy.config
  config/kernel/linux-mt7623-edge.config
  config/kernel/linux-mt7623-legacy.config
  config/kernel/linux-mvebu-current.config
  config/kernel/linux-mvebu-edge.config
  config/kernel/linux-mvebu-legacy.config
  config/kernel/linux-mvebu64-current.config
  config/kernel/linux-mvebu64-edge.config
  config/kernel/linux-mvebu64-legacy.config
  config/kernel/linux-odroidxu4-current.config
  config/kernel/linux-odroidxu4-edge.config
  config/kernel/linux-odroidxu4-legacy.config
  config/kernel/linux-rk322x-current.config
  config/kernel/linux-rk322x-edge.config
  config/kernel/linux-rk322x-legacy.config
  config/kernel/linux-rk3399-legacy.config
  config/kernel/linux-rk35xx-legacy.config
  config/kernel/linux-rockchip-current.config
  config/kernel/linux-rockchip-edge.config
  config/kernel/linux-rockchip-legacy.config
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-rockchip64-legacy.config
  config/kernel/linux-rockpis-legacy.config
  config/kernel/linux-s5p6818-legacy.config
  config/kernel/linux-station-p2-legacy.config
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-sunxi64-legacy.config
  config/kernel/linux-virtual-current.config
  config/kernel/linux-zynq-legacy.config
Labels: Ready :arrow_right:, Hardware :gear:

#3854 Fix githash cache and images creation with CI
  .github/Releases-wip.md
  .github/Releases.md
  .github/workflows/build-cache.yml
  .github/workflows/build-images.yml
  .github/workflows/build-train.yml
  .github/workflows/bump-version.yml
  lib/configuration.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:, Software :chains:

#3896 Add bluetooth support for Orange PI 3 LTS
  config/sources/families/sun50iw6.conf
  packages/blobs/bt/hciattach/hciattach_opi_arm64
  packages/bsp/sunxi/aw859a-bluetooth.service
Labels: Ready :arrow_right:, Hardware :gear:

#3899 Bump sunxi kernels to latest tags
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#3871 Switched rockchip64 u-boot to v2022.04
  config/sources/families/include/rockchip64_common.inc
  patch/u-boot/u-boot-rockchip64/add-board-clockworkpi-a06.patch
  patch/u-boot/u-boot-rockchip64/add-board-helios64.patch
  patch/u-boot/u-boot-rockchip64/add-board-nanopi-m4v2.patch
  patch/u-boot/u-boot-rockchip64/add-board-orangepi-4.patch
  patch/u-boot/u-boot-rockchip64/add-board-orangepi-r1-plus-.patch
  patch/u-boot/u-boot-rockchip64/add-board-orangepi-r1-plus-lts.patch
  patch/u-boot/u-boot-rockchip64/add-board-rock-pi-s.patch
  patch/u-boot/u-boot-rockchip64/add-board-tinker-board-2.patch
  patch/u-boot/u-boot-rockchip64/board-pinebook-pro-0001-usb-regulator.patch
  patch/u-boot/u-boot-rockchip64/board-pinebook-pro-0002-light-up-leds.patch
  patch/u-boot/u-boot-rockchip64/board-rock-pi-4-enable-spi-flash.patch
  patch/u-boot/u-boot-rockchip64/board-rockpro64-disable-preboot.patch
  patch/u-boot/u-boot-rockchip64/board_nanopi-r4s/0005-board-nanopi-r4s-adjust-for-v2022.04.patch
  patch/u-boot/u-boot-rockchip64/general-fix-unsigned-comparison-causing-rk3328-reboot-issues.patch
  patch/u-boot/u-boot-rockchip64/general-prioritize-sd.patch
  patch/u-boot/u-boot-rockchip64/u-boot-rk-rk3399-usb-start-nanopc-t4.patch
Labels: Ready :arrow_right:, Hardware :gear:

#3900 Adjust u-boot configs for Station M1 and Station P1 after upgrade to v2022.04
  patch/u-boot/u-boot-rockchip64/board_station-m1/u-boot-rk-rk3328-roc-pc-config.patch
  patch/u-boot/u-boot-rockchip64/board_station-p1/u-boot-rk3399-roc-pc-plus.patch
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#3782 Update remove-boot-messages-from-hdmi.patch.disabled
  patch/u-boot/u-boot-sunxi/remove-boot-messages-from-hdmi.patch.disabled
Labels: Ready :arrow_right:, Hardware :gear:

#3903 Delete enable-suspend-on-pbpro.patch
  patch/atf/atf-rockchip64/enable-suspend-on-pbpro.patch
Labels: Ready :arrow_right:

#3904 Bump kernel versions for Allwinner family
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#3907 Update odroidxu4-current to 5.4.199
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.196-197.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.197-198.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.198-199.patch
Labels: Ready :arrow_right:, Hardware :gear:

#3911 rk322x: update MGLRU patch for armhf for v5.17 and v5.18
  patch/kernel/archive/rk322x-5.17/0003-mglru-framework-armhf-fix.patch
  patch/kernel/archive/rk322x-5.18/0003-mglru-framework-armhf-fix.patch
Labels: Ready :arrow_right:, Hardware :gear:

#3912 Adjust rk3399-legacy patches - fixes missing dtb files
  patch/kernel/archive/rk3399-4.4/friendly-arm-modern-dts-links.patch
  patch/kernel/archive/rk3399-4.4/remove-older-8188eu-from-rockchip-wlan.patch
Labels: Ready :arrow_right:, Hardware :gear:

#3905 Several small fixes to CI scripting
  .github/workflows/build-deskktop-pr.yml
  .github/workflows/build-images.yml
  .github/workflows/build-kernel-pr.yml
  .github/workflows/build-train.yml
  .github/workflows/build-u-boot.yml
  .github/workflows/bump-version.yml
  .github/workflows/cleanup.yml
  .github/workflows/lint-scripts-pr.yml
  .github/workflows/rebase.yml
  .github/workflows/scorecard.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/update-cache.yml
  .github/workflows/update-docker.yml
  .github/workflows/update-repository.yml
Labels: Ready :arrow_right:, Software :chains:

#3895 Refactor rootfs caching
  .github/Releases-wip.md
  .github/workflows/update-cache.yml
  lib/configuration.sh
Labels: Ready :arrow_right:, Software :chains:

#3914 Action scripts cleaning and functional testing
  .github/workflows/build-deskktop-pr.yml
  .github/workflows/build-images.yml
  .github/workflows/build-kernel-pr.yml
Labels: Ready :arrow_right:, Software :chains:

#3906 workaround for orangepi 3 lts ethernet problem
  patch/kernel/archive/sunxi-5.15/patches.armbian/0011-add-initial-support-for-orangepi3-lts.patch
Labels: Ready :arrow_right:, Good first issue :dart:, Hardware :gear:

#3913 rockchip64: reworked PWM patch due to breakage in existing pwm dtbs
  patch/kernel/archive/rockchip64-5.18/rk3568-pwm-rockchip.patch
Labels: Ready :arrow_right:, Hardware :gear:

#3915 Action script for checking integrity of images
  .github/workflows/check-integrity.yml
Labels: Ready :arrow_right:, Software :chains:

#3916 Fixing wrong URL path in rootfs cache rfc
  .github/workflows/update-cache.yml
Labels: Ready :arrow_right:, Software :chains:

#3919 Setting meson64 legacy to last known working tag
  config/kernel/linux-meson64-legacy.config
  config/sources/families/include/meson64_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#3918 Unify kernel configurations - enable drivers
  config/kernel/linux-bcm2711-current.config
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-imx6-current.config
  config/kernel/linux-imx7d-current.config
  config/kernel/linux-media-edge.config
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-mvebu-current.config
  config/kernel/linux-mvebu-edge.config
  config/kernel/linux-mvebu64-current.config
  config/kernel/linux-mvebu64-edge.config
  config/kernel/linux-odroidxu4-current.config
  config/kernel/linux-odroidxu4-edge.config
  config/kernel/linux-rk322x-current.config
  config/kernel/linux-rk322x-edge.config
  config/kernel/linux-rockchip-current.config
  config/kernel/linux-rockchip-edge.config
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-uefi-arm64-current.config
  config/kernel/linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-x86-current.config
  config/kernel/linux-uefi-x86-edge.config
Labels: Ready :arrow_right:, Hardware :gear:

#3924 Disable broken wireless driver
  config/kernel/linux-odroidxu4-current.config
Labels: Hardware :gear:

#3926 Fix for wrong board status report at first login
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready :arrow_right:, Bugfix :radioactive:

#3927 Bump sunxi to next tag
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:

#3923 Github Actions fine tuning
  .github/workflows/build-images.yml
  .github/workflows/build-train.yml
Labels: Ready :arrow_right:, Software :chains:

#3921 rockchip64: add rk3318-box tvbox board patch and configurations
  config/boards/rk3318-box.tvb
  config/optional/boards/rk3318-box/_config/desktop/_all_distributions/environments/_all_environments/armbian/create_desktop_package.sh
  config/sources/families/include/rockchip64_common.inc
  packages/bsp/rk3318/rk3318-config
  packages/bsp/rk3328/40-serverflags.conf
  patch/kernel/archive/rockchip64-4.4/board-tvbox-rk3318.patch
  patch/kernel/archive/rockchip64-4.4/brcmfmac-add-ap6334-fw-load.patch
  patch/kernel/archive/rockchip64-5.15/add-board-tvbox-rk3318.patch
  patch/kernel/archive/rockchip64-5.15/add-boards-to-dts-makefile.patch
  patch/kernel/archive/rockchip64-5.15/overlays-02-add-rk3318-box-led-conf1.patch
  patch/kernel/archive/rockchip64-5.15/overlays-03-add-rk3318-box-emmc-ddr.patch
  patch/kernel/archive/rockchip64-5.15/overlays-04-add-rk3318-box-wlan-ap6334.patch
  patch/kernel/archive/rockchip64-5.15/overlays-05-add-rk3318-box-wlan-ext.patch
  patch/kernel/archive/rockchip64-5.15/overlays-06-add-rk3318-box-wlan-ap6330.patch
  patch/kernel/archive/rockchip64-5.15/overlays-07-add-rk3318-box-cpu-hs.patch
  patch/kernel/archive/rockchip64-5.15/overlays-08-add-rk3318-box-emmc-hs200.patch
  patch/kernel/archive/rockchip64-5.15/overlays-09-add-rk3318-box-led-conf2.patch
  patch/kernel/archive/rockchip64-5.15/overlays-10-add-rk3318-box-led-conf3.patch
  patch/kernel/archive/rockchip64-5.15/rk3328-hw-cursor-plane.patch.disabled
  patch/kernel/archive/rockchip64-5.15/wifi-4003-add-bcm43342-chip.patch
  patch/kernel/archive/rockchip64-5.18/add-board-tvbox-rk3318.patch
  patch/kernel/archive/rockchip64-5.18/add-boards-to-dts-makefile.patch
  patch/kernel/archive/rockchip64-5.18/overlays-02-add-rk3318-box-led-conf1.patch
  patch/kernel/archive/rockchip64-5.18/overlays-03-add-rk3318-box-emmc-ddr.patch
  patch/kernel/archive/rockchip64-5.18/overlays-04-add-rk3318-box-wlan-ap6334.patch
  patch/kernel/archive/rockchip64-5.18/overlays-05-add-rk3318-box-wlan-ext.patch
  patch/kernel/archive/rockchip64-5.18/overlays-06-add-rk3318-box-wlan-ap6330.patch
  patch/kernel/archive/rockchip64-5.18/overlays-07-add-rk3318-box-cpu-hs.patch
  patch/kernel/archive/rockchip64-5.18/overlays-08-add-rk3318-box-emmc-hs200.patch
  patch/kernel/archive/rockchip64-5.18/overlays-09-add-rk3318-box-led-conf2.patch
  patch/kernel/archive/rockchip64-5.18/overlays-10-add-rk3318-box-led-conf3.patch
  patch/kernel/archive/rockchip64-5.18/rk3328-hw-cursor-plane.patch.disabled
  patch/kernel/archive/rockchip64-5.18/wifi-4003-add-bcm43342-chip.patch
  patch/u-boot/u-boot-rockchip64/board_rk3318-box/rk3318-box-add-defconfig.patch
  patch/u-boot/u-boot-rockchip64/board_rk3318-box/rk3318-box-add-dts.patch
  patch/u-boot/u-boot-rockchip64/board_rk3318-box/rk3318-box-add-makefile.patch
Labels: Hardware :gear:

#3848 add CSC BananaPI R2 pro (rk3568)
  config/boards/bananapir2pro.csc
  config/sources/families/media.conf
Labels: Ready :arrow_right:, Hardware :gear:

#3928 rockchip64: disable pwm patch because broken (edge kernel)
  patch/kernel/archive/rockchip64-5.18/rk3568-pwm-rockchip.patch.disabled
Labels: Work in progress :construction_worker:, Question :mag:, Help needed :two_hearts:, Hardware :gear:

#3930 Fix docker image
  config/templates/Dockerfile
Labels: Ready :arrow_right:

#3929 feat: install_pkg_deb: Add the ability to install package files in function
  lib/general.sh
Labels: Ready :arrow_right:, Software :chains:

#3931 Refactored orangepi-r1plus-lts dts in u-boot add board patch.
  patch/u-boot/u-boot-rockchip64/add-board-orangepi-r1-plus-lts.patch
Labels: Hardware :gear:

#3933 Move schedule checking deeper
  .github/workflows/build-train.yml
Labels: Ready :arrow_right:, Software :chains:

#3932 Fixing wrong kernel config parameters
  config/kernel/linux-mt7623-edge.config
  config/kernel/linux-odroidxu4-edge.config
Labels: Ready :arrow_right:, Software :chains:

#3937 Bump Allwinner
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#3938 Enable Cinnamon and Budgie on Debian Sid
  config/desktop/sid/environments/budgie/armbian
  config/desktop/sid/environments/budgie/config_base/packages
  config/desktop/sid/environments/budgie/config_base/packages.uninstall
  config/desktop/sid/environments/budgie/debian
  config/desktop/sid/environments/budgie/only_for
  config/desktop/sid/environments/budgie/support
  config/desktop/sid/environments/cinnamon/armbian
  config/desktop/sid/environments/cinnamon/config_base/packages
  config/desktop/sid/environments/cinnamon/config_base/packages.uninstall
  config/desktop/sid/environments/cinnamon/debian
  config/desktop/sid/environments/cinnamon/only_for
  config/desktop/sid/environments/cinnamon/support
Labels: Ready :arrow_right:

#3935 rockchip64: fix pwm regulators that use pinctrl "active" configuration
  patch/kernel/archive/rockchip64-5.15/add-board-orangepi-4-lts.patch
  patch/kernel/archive/rockchip64-5.15/add-board-orangepi-4.patch
  patch/kernel/archive/rockchip64-5.15/add-board-tinker-board-2.patch
Labels: Hardware :gear:

#3944 Bump sunxi to latest version
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready :arrow_right:

#3945 Fix clockworkpi-a06 desktop required package
  config/boards/clockworkpi-a06.conf
Labels: Hardware :gear:

#3947 Fix for gnome desktops to use lightdm and slick-greeter
  config/desktop/bullseye/environments/gnome/config_base/packages
  config/desktop/focal/environments/gnome/config_base/packages
  config/desktop/jammy/environments/gnome/config_base/packages
  config/desktop/sid/environments/gnome/config_base/packages
  config/desktop/sid/environments/gnome/config_base/packages.uninstall
  config/desktop/sid/environments/gnome/debian/postinst
Labels: Desktop :desktop_computer:, Ready :arrow_right:
