Repository armbian/build, pull requests merged in 2022-03, with the labels that each got.

#3517 Fix build for orangepizero2, sun50iw9
  config/sources/families/sun50iw9.conf
Labels: 9.ready for merge, c:bsp

#3518 Move away from fixed versions
  config/sources/families/include/meson64_common.inc
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  config/sources/families/include/uefi_common.inc
  config/sources/families/jetson-nano.conf
  config/sources/families/media.conf
  config/sources/families/mvebu.conf
  config/sources/families/mvebu64.conf
  config/sources/families/odroidxu4.conf
  config/sources/families/rockchip.conf
Labels: c:bsp

#3526 Adjust build targets to meet maintainers list
  config/boards/bananapim64.conf
  config/boards/odroidc2.conf
  config/boards/orangepipc.conf
  config/boards/orangepipc2.conf
  config/boards/orangepipcplus.conf
  config/boards/orangepizeroplus2-h3.conf
  config/boards/pine64.conf
  config/boards/pineh64.conf
Labels: maintenance, c:bsp

#3523 Add missing asound.state for Radxa Zeroes & switch to CSC
  config/boards/radxa-zero.csc
  config/boards/radxa-zero2.csc
  packages/blobs/asound.state/asound.state.radxa-zero
  packages/blobs/asound.state/asound.state.radxa-zero2
Labels: c:bsp

#3525 Fix url slash & china mirror
  lib/configuration.sh
  lib/general.sh
Labels: 2.confirmed bug, c:build script

#3529 Support for more CPU cores on x86 platform
  config/kernel/linux-uefi-x86-current.config
  config/kernel/linux-uefi-x86-edge.config
Labels: c:kernel, maintenance

#3530 Add / remove broken packages to the base
  config/cli/bullseye/main/config_cli_standard/packages
  config/cli/buster/main/config_cli_standard/packages
  config/cli/focal/main/config_cli_standard/packages
  config/cli/sid/main/config_cli_standard/packages
  config/desktop/buster/appgroups/desktop_tools/packages
  config/desktop/focal/appgroups/desktop_tools/packages
  config/desktop/jammy/environments/budgie/config_base/packages
  config/desktop/jammy/environments/cinnamon/config_base/packages
  config/desktop/jammy/environments/i3-wm/config_base/packages
  config/desktop/jammy/environments/kde-plasma/config_base/packages
  config/desktop/jammy/environments/mate/config_base/packages
  config/desktop/jammy/environments/xfce/config_base/packages
  config/desktop/jammy/environments/xmonad/config_base/packages
Labels: 9.ready for merge, maintenance

#3534 Fixed the application of an unnecessary patch
  patch/kernel/archive/sunxi-5.15/series.conf
  patch/kernel/archive/sunxi-5.16/series.conf
Labels: c:kernel, 9.ready for merge

#3532 fix install emmc for all station m*\p*
  packages/bsp/common/usr/sbin/nand-sata-install
Labels: 2.confirmed bug, 9.ready for merge

#3527 This modification will allow to boot an unmodified cubox-i image on t…
  config/bootscripts/boot-cubox.cmd
Labels: c:u-boot, 9.ready for merge, c:bsp

#3524 Add meson64 patch net: phy: meson-gxl: fix interrupt handling in forced mode
  patch/kernel/archive/meson64-5.15/net-net-phy-meson-gxl-fix-interrupt-handling-in-forced-mode.patch
  patch/kernel/archive/meson64-5.15/net-net-phy-meson-gxl-improve-link-up-behavior.patch
Labels: c:kernel, 9.ready for merge

#3520 add patch to avoid meson64 random reboots under load
  patch/kernel/archive/meson64-5.15/0009-memory-marked-nomap.patch
Labels: c:kernel, 9.ready for merge

#3533 fix BT and wifi for station m1 legacy
  config/boards/station-m1.conf
  config/kernel/linux-rockchip64-legacy.config
  config/sources/families/include/rockchip64_common.inc
  packages/blobs/rtl8723bt_fw/rtl8723ds_config.bin
  packages/blobs/rtl8723bt_fw/rtl8723ds_fw.bin
  packages/bsp/rk3328/m1/rtk_hciattach
Labels: c:kernel, c:bsp

#3536 Update odroidxu4-current to 5.4.184
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.181-182.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.182-183.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.183-184.patch
Labels: c:kernel, 9.ready for merge, maintenance

#3542 Remove more broken packages from Jammy
  config/desktop/focal/appgroups/desktop_tools/packages
  config/desktop/jammy/environments/budgie/config_base/packages
  config/desktop/jammy/environments/cinnamon/config_base/packages
  config/desktop/jammy/environments/i3-wm/config_base/packages
  config/desktop/jammy/environments/kde-plasma/config_base/packages
  config/desktop/jammy/environments/mate/config_base/packages
  config/desktop/jammy/environments/xfce/config_base/packages
  config/desktop/jammy/environments/xmonad/config_base/packages
Labels: 2.confirmed bug, 9.ready for merge

#3547 Radxa rock3a gpu support
  config/kernel/linux-rk35xx-edge.config
  patch/kernel/archive/rk35xx-5.16/rk356x-drm-rockchip-VOP2-support.patch
  patch/kernel/archive/rk35xx-5.16/rk356x-gpu-GPU.patch
  patch/kernel/archive/rk35xx-5.16/rk356x-usb3.patch
Labels: c:kernel, 9.ready for merge

#3543 Reduce Radxa Zero's SDIO frequency
  patch/kernel/archive/meson64-5.10/arm64-dts-amlogic-add-support-for-Radxa-Zero.patch
Labels: 2.confirmed bug, c:kernel, 9.ready for merge

#3541 Enable build host support for Linux Mint 20.3
  lib/general.sh
Labels: c:build script

#3551 Typo bug - wrong board name will break CI
  config/targets-cli-beta.conf
Labels: 2.confirmed bug, 9.ready for merge

#3552 Bugfix - we don't hardcode mainline kernel source
  config/sources/families/media.conf
Labels: 2.confirmed bug, 9.ready for merge, c:bsp

#3548 Sync beta repository in the CI process
  .github/workflows/build-images.yml
  .github/workflows/build-train.yml
Labels: 9.ready for merge, important, c:actions

#3561 rockchip: enable bluetooth serdev for tinkerboard
  config/kernel/linux-rockchip-current.config
  config/sources/families/rockchip.conf
  patch/kernel/archive/rockchip-5.15/3002-tinkerboard-bluetooth-serdev.patch
Labels: enhancement, c:kernel

#3559 fix radxa rock3a usb regulator and clean useless info in patches
  patch/kernel/archive/rk35xx-5.16/rk3568-dts-radxa-rock3a-support.patch
  patch/kernel/archive/rk35xx-5.16/rk356x-drm-rockchip-VOP2-support.patch
  patch/kernel/archive/rk35xx-5.16/rk356x-gpu-GPU.patch
Labels: c:kernel

#3562 Add rockpro64 build targets since we have a maintainer
  config/targets.conf
Labels: 9.ready for merge

#3555 Revert CONFIG_TYPEC_DP_ALTMODE=m
  config/kernel/linux-rockchip64-edge.config
Labels: c:kernel, 9.ready for merge

#3556 fix message install use extlinux.conf
  packages/bsp/common/usr/sbin/nand-sata-install
Labels: 9.ready for merge

#3560 Refactor all PPA sources due to apt-key deprecation
  config/desktop/_all_distributions/appgroups/programming/packages
  config/desktop/_all_distributions/appgroups/programming/sources/apt/githubcli-archive-keyring.source
  config/desktop/_all_distributions/appgroups/programming/sources/apt/githubcli-archive-keyring.source.gpg
  config/desktop/bionic/appgroups/3dsupport
  config/desktop/bionic/appgroups/browsers
  config/desktop/bionic/appgroups/desktop_tools
  config/desktop/bionic/appgroups/programming
  config/desktop/buster/appgroups/desktop_tools/packages
  config/desktop/focal/appgroups/3dsupport/sources/apt/oibaf.source
  config/desktop/focal/appgroups/3dsupport/sources/apt/oibaf.source.gpg
  config/desktop/focal/appgroups/browsers/packages
  config/desktop/focal/appgroups/browsers/sources/apt/chromium-browser.source
  config/desktop/focal/appgroups/browsers/sources/apt/chromium-browser.source.gpg
  config/desktop/focal/appgroups/browsers/sources/apt/mozilla-team.source
  config/desktop/focal/appgroups/browsers/sources/apt/mozilla-team.source.gpg
  config/desktop/focal/appgroups/emulators/sources/apt/box64.source
  config/desktop/focal/appgroups/emulators/sources/apt/box64.source.gpg
  config/desktop/focal/appgroups/programming/sources/apt/vscodium.source
  config/desktop/focal/appgroups/programming/sources/apt/vscodium.source.gpg
  config/desktop/impish/appgroups
  config/desktop/jammy/appgroups
  config/desktop/jammy/environments/gnome/config_base/packages
  config/optional/architectures/amd64/_config/desktop/focal
  config/optional/architectures/amd64/_config/desktop/hirsute
  config/optional/architectures/amd64/_config/desktop/impish
  config/optional/architectures/amd64/_config/desktop/jammy/environments/_all_environments/packages
  config/optional/architectures/amd64/_config/desktop/jammy/environments/_all_environments/sources/apt/chrome.source
  config/optional/architectures/amd64/_config/desktop/jammy/environments/_all_environments/sources/apt/chrome.source.gpg
  config/optional/architectures/arm64/_config/desktop/jammy/environments/_all_environments/only_for
  config/optional/architectures/arm64/_config/desktop/jammy/environments/_all_environments/packages
  config/optional/architectures/arm64/_config/desktop/jammy/environments/_all_environments/sources/apt/box64.source
  config/optional/architectures/arm64/_config/desktop/jammy/environments/_all_environments/sources/apt/box64.source.gpg
  lib/desktop.sh
Labels: desktop, c:build script

#3563 updated pkg list on jammy
  config/desktop/jammy/environments/budgie/config_base/packages
  config/desktop/jammy/environments/cinnamon/config_base/packages
  config/desktop/jammy/environments/gnome/config_base/packages
  config/desktop/jammy/environments/kde-plasma/config_base/packages
  config/desktop/jammy/environments/mate/config_base/packages
  config/desktop/jammy/environments/xfce/config_base/packages
  config/desktop/jammy/environments/xmonad/config_base/packages
Labels: enhancement, 9.ready for merge, desktop

#3566 Changing build runners on main build train
  .github/workflows/build-train.yml
Labels: maintenance, c:actions

#3570 Debian Bulllseye Cinnamon
  config/desktop/bullseye/environments/cinnamon/armbian
  config/desktop/bullseye/environments/cinnamon/config_base/packages
  config/desktop/bullseye/environments/cinnamon/config_base/packages.uninstall
  config/desktop/bullseye/environments/cinnamon/debian
  config/desktop/bullseye/environments/cinnamon/only_for
  config/desktop/bullseye/environments/cinnamon/support
Labels: enhancement, 9.ready for merge, desktop

#3569 adding missing bootstrap pkgs
  config/cli/bullseye/debootstrap/config_desktop/packages
  config/cli/sid/debootstrap/config_desktop/packages
Labels: enhancement, desktop, maintenance, important

#3571 Bugfixes and improvements for refactor of all PPA sources
  config/desktop/_all_distributions/appgroups/programming/sources/apt/githubcli-archive-keyring.source
  config/desktop/_all_distributions/appgroups/programming/sources/apt/githubcli.gpg
  config/desktop/_all_distributions/appgroups/programming/sources/apt/githubcli.source
  config/desktop/focal/appgroups/3dsupport/sources/apt/oibaf.gpg
  config/desktop/focal/appgroups/3dsupport/sources/apt/oibaf.source
  config/desktop/focal/appgroups/browsers/sources/apt/chromium-browser.gpg
  config/desktop/focal/appgroups/browsers/sources/apt/chromium-browser.source
  config/desktop/focal/appgroups/browsers/sources/apt/mozilla-team.gpg
  config/desktop/focal/appgroups/browsers/sources/apt/mozilla-team.source
  config/desktop/focal/appgroups/programming/sources/apt/vscodium.gpg
  config/desktop/focal/appgroups/programming/sources/apt/vscodium.source
  config/desktop/impish/appgroups/3dsupport/packages
  config/desktop/impish/appgroups/3dsupport/sources/apt/oibaf.gpg
  config/desktop/impish/appgroups/3dsupport/sources/apt/oibaf.source
  config/desktop/impish/appgroups/browsers/armbian
  config/desktop/impish/appgroups/browsers/debian
  config/desktop/impish/appgroups/browsers/packages
  config/desktop/impish/appgroups/browsers/sources/apt/chromium-browser.gpg
  config/desktop/impish/appgroups/browsers/sources/apt/chromium-browser.source
  config/desktop/impish/appgroups/browsers/sources/apt/mozilla-team.gpg
  config/desktop/impish/appgroups/browsers/sources/apt/mozilla-team.source
  config/desktop/impish/appgroups/chat
  config/desktop/impish/appgroups/desktop_tools
  config/desktop/impish/appgroups/editors
  config/desktop/impish/appgroups/email
  config/desktop/impish/appgroups/internet
  config/desktop/impish/appgroups/multimedia
  config/desktop/impish/appgroups/office
  config/desktop/impish/appgroups/programming
  config/desktop/impish/appgroups/remote_desktop
  config/desktop/jammy/appgroups/3dsupport/packages
  config/desktop/jammy/appgroups/3dsupport/sources/apt/oibaf.gpg
  config/desktop/jammy/appgroups/3dsupport/sources/apt/oibaf.source
  config/desktop/jammy/appgroups/browsers/armbian
  config/desktop/jammy/appgroups/browsers/debian
  config/desktop/jammy/appgroups/browsers/packages
  config/desktop/jammy/appgroups/browsers/sources/apt/chromium-browser.gpg
  config/desktop/jammy/appgroups/browsers/sources/apt/chromium-browser.source
  config/desktop/jammy/appgroups/browsers/sources/apt/mozilla-team.gpg
  config/desktop/jammy/appgroups/browsers/sources/apt/mozilla-team.source
  config/desktop/jammy/appgroups/chat
  config/desktop/jammy/appgroups/desktop_tools
  config/desktop/jammy/appgroups/editors
  config/desktop/jammy/appgroups/email
  config/desktop/jammy/appgroups/internet
  config/desktop/jammy/appgroups/multimedia
  config/desktop/jammy/appgroups/office
  config/desktop/jammy/appgroups/programming
  config/desktop/jammy/appgroups/remote_desktop
  config/optional/architectures/amd64/_config/desktop/jammy/environments/_all_environments/packages
  config/optional/architectures/amd64/_config/desktop/jammy/environments/_all_environments/packages.uninstall
  config/optional/architectures/amd64/_config/desktop/jammy/environments/_all_environments/sources/apt/chrome.source
  config/optional/architectures/amd64/_config/desktop/jammy/environments/_all_environments/sources/apt/google-chrome.gpg
  config/optional/architectures/amd64/_config/desktop/jammy/environments/_all_environments/sources/apt/google-chrome.source
  config/optional/architectures/amd64/_config/desktop/jammy/environments/_all_environments/sources/apt/nvidia-drivers.gpg
  config/optional/architectures/amd64/_config/desktop/jammy/environments/_all_environments/sources/apt/nvidia-drivers.source
  config/optional/architectures/arm64/_config/desktop/jammy/environments/_all_environments/sources/apt/box64.gpg
  config/optional/architectures/arm64/_config/desktop/jammy/environments/_all_environments/sources/apt/box64.source
  lib/desktop.sh
Labels: 2.confirmed bug, maintenance, c:build script, important

#3553 Fixing deprecation notice for our primary key
  lib/general.sh
Labels: 2.confirmed bug, c:build script

#3578 chore: edit code format config
  .editorconfig
  .vscode/extensions.json
  .vscode/settings.json
Labels: 9.ready for merge

#3577 Fixing broken rockchip64-edge kernel configuration
  config/kernel/linux-rockchip64-edge.config
Labels: 2.confirmed bug, c:kernel, 9.ready for merge, maintenance, important

#3575 Fixing pull request trigger
  .github/workflows/build-test-image-docker.yml
Labels: 0.question, desktop, c:actions

#3576 Bump rootfs cache revision to force recreation
  lib/configuration.sh
Labels: 2.confirmed bug, 9.ready for merge, maintenance, c:build script

#3579 rockchip: set kernel config option to 5 UARTs for all kernels
  config/kernel/linux-rockchip-current.config
  config/kernel/linux-rockchip-edge.config
  config/kernel/linux-rockchip-legacy.config
Labels: c:kernel

#3558 rockchip: add tinkerboard overlays for current 5.15 kernel
  patch/kernel/archive/rockchip-5.15/general-add-overlay-compilation-support.patch
  patch/kernel/archive/rockchip-5.15/general-add-overlays.patch
  patch/kernel/archive/rockchip-5.15/remove-broken-dtb.patch
  patch/kernel/archive/rockchip-5.16/general-add-overlay-compilation-support.patch
  patch/kernel/archive/rockchip-5.16/general-add-overlays.patch
Labels: c:kernel

#3585 add gcc-aarch64-linux-gnu package
  lib/general.sh
Labels: 9.ready for merge, c:build script

#3582 Update external arm toolchains
  config/torrents/gcc-arm-11.2-2022.02-x86_64-aarch64-none-linux-gnu.tar.xz.torrent
  config/torrents/gcc-arm-11.2-2022.02-x86_64-aarch64-none-linux-gnu.tar.xz.torrent.md5
  config/torrents/gcc-arm-11.2-2022.02-x86_64-arm-none-linux-gnueabihf.tar.xz.torrent
  config/torrents/gcc-arm-11.2-2022.02-x86_64-arm-none-linux-gnueabihf.tar.xz.torrent.md5
  lib/general.sh
Labels: 9.ready for merge, c:build script

#3584 fixup external toolchains
  config/sources/families/mvebu64.conf
Labels: c:bsp

#3598 correct compiler names for ATF, external toolchain
  config/sources/families/mvebu64.conf
  lib/general.sh
Labels: c:build script, c:bsp

#3596 adding new pkgs to pkg list
  config/desktop/bullseye/environments/gnome/config_base/packages
Labels: 9.ready for merge

#3595 updating pkgs list for new pkgs
  config/desktop/bullseye/environments/mate/config_base/packages
Labels: 9.ready for merge

#3591 Fix ciinnamon pathes
  config/desktop/bullseye/environments/cinnamon/armbian
  config/desktop/bullseye/environments/cinnamon/config_base/packages.uninstall
  config/desktop/bullseye/environments/cinnamon/debian
  config/desktop/bullseye/environments/cinnamon/only_for
  config/desktop/bullseye/environments/cinnamon/support
Labels: 9.ready for merge

#3594 update pkg list for xfce
  config/desktop/buster/environments/xfce/config_base/packages
Labels: 9.ready for merge

#3597 sunxi-5.16: Fix spi-nor node initialization error for orangepi-pc2
  patch/kernel/archive/sunxi-5.16/patches.armbian/Fix-duplicate-nodes-for-sun50i-h5-orangepi-pc2.patch
  patch/kernel/archive/sunxi-5.16/patches.megous/pinctrl-sunxi-Fix-misleading-lockdep-deadlock-warning.patch
  patch/kernel/archive/sunxi-5.16/series.armbian
  patch/kernel/archive/sunxi-5.16/series.conf
  patch/kernel/archive/sunxi-5.16/series.megous
Labels: c:kernel, 9.ready for merge

#3588 sunxi-5.15: Fix duplicate nodes for sun50i-h5-orangepi-pc2 board.
  patch/kernel/archive/sunxi-5.15/megous/pinctrl-sunxi-Fix-misleading-lockdep-deadlock-warnin.patch
  patch/kernel/archive/sunxi-5.15/patches.armbian/Fix-duplicate-nodes-for-sun50i-h5-orangepi-pc2.patch
  patch/kernel/archive/sunxi-5.15/series.armbian
  patch/kernel/archive/sunxi-5.15/series.conf
  patch/kernel/archive/sunxi-5.15/series.megous
Labels: c:kernel, 9.ready for merge

#3586 Update RTL8811CU driver to latest source patch driver for 5.17+ kernel
  lib/compilation-prepare.sh
  patch/misc/wireless-realtek-8811cu-5.12.patch
  patch/misc/wireless-realtek-8811cu-5.17.patch
  patch/misc/wireless-realtek-8811cu-xxx.patch
  patch/misc/wireless-rtl8811cu.patch
Labels: c:kernel, 9.ready for merge, c:build script

#3498 Apply changes to Espressobin from Issue#2861
  config/bootenv/mvebu64.txt
  config/bootscripts/boot-espressobin.cmd
  config/sources/families/mvebu64.conf
  extensions/marvell-tools.sh
  lib/general.sh
  packages/blobs/espressobin/DDR_TOPOLOGY_2.txt
  packages/blobs/espressobin/DDR_TOPOLOGY_6.txt
  packages/blobs/espressobin/DDR_TOPOLOGY_7.txt
Labels: 3.help wanted, c:u-boot, 6.WIP, c:build script, c:bsp

#3601 Rename radxa-zero.csc to radxa-zero.conf
  config/boards/radxa-zero.conf
Labels: c:bsp

#3602 meson: add hostdev libfdt-dev compatibility patch
  patch/u-boot/u-boot-meson/fix_build_for_recent_host-side_libfdt.patch
Labels: c:u-boot

#3599 Enabling / disabling several CLI build targets
  config/targets-cli-beta.conf
Labels: 9.ready for merge

#3603 BUGFIX armbian-ramlog default functionality breaking comments
  packages/bsp/common/etc/default/armbian-ramlog.dpkg-dist
Labels: 2.confirmed bug

#3604 Bugfix - paths were corrupted in the rename process
  config/desktop/bullseye/environments/cinnamon/armbian
  config/desktop/bullseye/environments/cinnamon/config_base/packages.uninstall
  config/desktop/bullseye/environments/cinnamon/debian
  config/desktop/bullseye/environments/cinnamon/only_for
  config/desktop/bullseye/environments/cinnamon/support
Labels: 9.ready for merge, important

#3572 Add Nvidia driver to the x86 desktop images
  config/sources/families/uefi-x86.conf
  extensions/nvidia.sh
Labels: 9.ready for merge, desktop, c:bsp

#3481 Move Docker image to Ubuntu 22.04 LTS
  .github/workflows/update-docker.yml
  compile.sh
  config/templates/Dockerfile
  config/templates/config-docker.conf
  lib/general.sh
Labels: 6.WIP, c:build script, c:actions

#3606 Add missing torrent files for tool chain
  config/torrents/gcc-arm-11.2-2022.02-x86_64-arm-none-eabi.tar.xz.torrent
  config/torrents/gcc-arm-11.2-2022.02-x86_64-arm-none-eabi.tar.xz.torrent.md5
Labels: 9.ready for merge, maintenance
