Repository armbian/build, pull requests merged in 2023-01, with the labels that each got.

#4635 Use Fat as default bootfs type of Orange Pi 5
  config/boards/orangepi5.wip
Labels: Hardware :gear:

#4597 Initial support for Bananapi M2S
  config/boards/bananapi-m2s.csc
  config/sources/families/include/meson64_common.inc
  config/sources/families/meson-g12b.conf
  patch/kernel/archive/meson64-6.0/add-board-bananapi-m2s-initial-support.patch
  patch/kernel/archive/meson64-6.1/add-board-bananapi-m2s-initial-support.patch
  patch/u-boot/v2022.07/board_bananapi-m2s/0001-Initial-support-for-Bananapi-M2S.patch
  patch/u-boot/v2022.10/board_bananapi-m2s/0001-Initial-support-for-Bananapi-M2S.patch
Labels: Hardware :gear:

#4606 Mainline support for Rock 5B
  config/boards/rock-5b.wip
  config/kernel/linux-rockchip-rk3588-edge.config
  config/sources/families/rockchip-rk3588.conf
  patch/kernel/rockchip-rk3588-edge/Initial-rk3588-DT.patch
Labels: Hardware :gear:

#4638 BananaPi M2S: u-boot 22.10; remove patch from 22.07
  config/boards/bananapi-m2s.csc
  patch/u-boot/v2022.07/board_bananapi-m2s/0001-Initial-support-for-Bananapi-M2S.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4645 Enable Orangepi 5 XFCE desktop build at CI
  config/targets-desktop-beta.conf
Labels: Ready for review :arrow_right:

#4641 CONFIG_DEVFREQ_GOV_*=y for sunxi
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-sunxi64-legacy.config
Labels: Ready for review :arrow_right:, Hardware :gear:

#4640 Add .yml extention into .editorconfig to handle it as yaml
  .editorconfig
Labels: Ready for review :arrow_right:

#4647 sunxi-6.1: promotion to version 6.1.2
  patch/kernel/archive/sunxi-6.1/patches.armbian/drv-mfd-axp20x-add-sysfs-interface.patch
  patch/kernel/archive/sunxi-6.1/patches.megous/Bluetooth-Add-new-quirk-for-broken-local-ext-features-max_page.patch
  patch/kernel/archive/sunxi-6.1/patches.megous/media-ov5640-set-default-ae-target-lower.patch
  patch/kernel/archive/sunxi-6.1/patches.megous/usb-dwc3-Save-desired_dr_role-on-stack-during-set_mode-processi.patch
  patch/kernel/archive/sunxi-6.1/series.conf
  patch/kernel/archive/sunxi-6.1/series.megous
Labels: Hardware :gear:

#4648 Update kernel configs for sunxi family
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
Labels: Ready for review :arrow_right:, Hardware :gear:

#4649 Disable broken kernel function
  config/kernel/linux-sunxi-edge.config
Labels: Ready for review :arrow_right:, Bugfix :radioactive:, Hardware :gear:, Maintenance :recycle:

#4650 Add fix all 5.19.17 updated patches megous
  patch/kernel/archive/sunxi-5.19/patches.megous/Report-HDMI-hotplug-events.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/arm64-dts-rockchip-enable-pcie-controller-on-quartz64-a.patch
  patch/kernel/archive/sunxi-5.19/patches.megous/drm-bridge-dw-hdmi-Allow-to-accept-HPD-status-from-other-driver.patch
Labels: Hardware :gear:

#4644 Adjust filename and board description
  config/boards/bananapim2s.csc
Labels: Ready for review :arrow_right:, Hardware :gear:

#4651 Add CLI beta build for Orange Pi 5, fix desktop build
  config/targets-cli-beta.conf
  config/targets-desktop-beta.conf
Labels: Ready for review :arrow_right:

#4653 rock 5b edge add sd card support, remove tegra and update to Linux rc2
  config/kernel/linux-rockchip-rk3588-edge.config
  config/sources/families/rockchip-rk3588.conf
  patch/kernel/rockchip-rk3588-edge/0001-initial-rk3588-dt.patch
  patch/kernel/rockchip-rk3588-edge/0002-sdmmc-support.patch
  patch/kernel/rockchip-rk3588-edge/0002-sdmmc-support2.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4652 [AR-1313] Move mvebu edge to 6.1
  config/kernel/linux-mvebu-edge.config
  config/sources/families/mvebu.conf
  patch/kernel/archive/mvebu-6.1/0001-cpuidle-mvebu-indicate-failure-to-enter-deeper-sleep.patch
  patch/kernel/archive/mvebu-6.1/09-pci-link-retraining.patch
  patch/kernel/archive/mvebu-6.1/10-mvebu-clearfog-pcie-updates.patch
  patch/kernel/archive/mvebu-6.1/11-implement-slot-capabilities-SSPL.patch
  patch/kernel/archive/mvebu-6.1/12-net-dsa-mv88e6xxx.patch
  patch/kernel/archive/mvebu-6.1/20-pcie-bridge-emul.patch
  patch/kernel/archive/mvebu-6.1/412-ARM-dts-armada388-clearfog-emmc-on-clearfog-base.patch
  patch/kernel/archive/mvebu-6.1/91-01-libata-add-ledtrig-support.patch.disable
  patch/kernel/archive/mvebu-6.1/91-02-Enable-ATA-port-LED-trigger.patch.disabled
  patch/kernel/archive/mvebu-6.1/92-mvebu-gpio-add_wake_on_gpio_support.patch
  patch/kernel/archive/mvebu-6.1/92-mvebu-gpio-remove-hardcoded-timer-assignment.patch
  patch/kernel/archive/mvebu-6.1/94-helios4-dts-add-wake-on-lan-support.patch
  patch/kernel/archive/mvebu-6.1/compile-dtb-with-symbol-support.patch
  patch/kernel/archive/mvebu-6.1/dts-disable-spi-flash-on-a388-microsom.patch
  patch/kernel/archive/mvebu-6.1/general-increasing_DMA_block_memory_allocation_to_2048.patch
  patch/kernel/archive/mvebu-6.1/unlock_atheros_regulatory_restrictions.patch
  patch/kernel/archive/mvebu-6.1/use-1000BaseX-clearfog-switch.patch
  patch/kernel/mvebu-edge
Labels: Ready for review :arrow_right:, Hardware :gear:

#4646 Improve GitHub issues handling
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bugreport.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
Labels: Ready for review :arrow_right:

#4657 Change smoke test label
  README.md
Labels: Ready for review :arrow_right:

#4659 Fix common OPi 5 HDMI issues
  patch/kernel/rockchip-rk3588-legacy/2009-OrangePi5-HDMI-Improvements.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4666 Add patch to support sata on Orange Pi 5
  patch/kernel/rockchip-rk3588-legacy/2010-Add-sata-support-on-Orange-Pi-5.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4665 Rebase Nanopi patches over existing kernel source
  patch/kernel/archive/rockchip64-6.1/add-board-nanopi-neo3-with-enabled-I2S-and-spdif.patch
  patch/kernel/archive/rockchip64-6.1/add-board-nanopi-r2s.patch
  patch/kernel/archive/rockchip64-6.1/add-board-nanopi-r4s.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4664 i2c: mv64xxx: Atomic i2c for 5.15 kernel
  patch/kernel/archive/sunxi-5.15/patches.armbian/i2c-mv64xxx-Add-atomic-xfer-method-to-driver.patch
  patch/kernel/archive/sunxi-5.15/series.armbian
  patch/kernel/archive/sunxi-5.15/series.conf
Labels: Ready for review :arrow_right:, Hardware :gear:

#4662 RTL8189FS: Fix and enable secondary iface (wlan1)
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-rtl8189fs-fix-and-enable-secondary-iface.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4656 fixed "unrecognized symbol [["
  lib/functions/host/prepare-host.sh
Labels: Ready for review :arrow_right:

#4636 extrawifi: Clean code
  lib/functions/compilation/patch/drivers_network.sh
Labels: Ready for review :arrow_right:

#4616 Add kernel config security analysis Action script
  .github/workflows/kernel-security-analysis-pr.yml
Labels: Ready for review :arrow_right:, Software :chains:

#4661 RTL8189FS: Fix P2P-GO advertising
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-rtl8189fs-fix-p2p-go-advertising.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4668 Cleanup whitespace in add-board-orangepi-r1-plus-lts uboot patch
  patch/u-boot/u-boot-rockchip64/add-board-orangepi-r1-plus-lts.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4669 Sunxi 6.1
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-6.1/patches.armbian/drv-phy-sun4i-usb-Add-support-for-the-H616-USB-PHY.patch
  patch/kernel/archive/sunxi-6.1/patches.armbian/drv-phy-sun4i-usb-Introduce-port2-SIDDQ-quirk.patch
  patch/kernel/archive/sunxi-6.1/series.armbian
  patch/kernel/archive/sunxi-6.1/series.conf
Labels: Ready for review :arrow_right:, Hardware :gear:

#4673 meson64: 6.1.y/edge: rebase patches against v6.1.4 (no actual changes)
  patch/kernel/archive/meson64-6.1/add-board-bananapi-m2s-initial-support.patch
  patch/kernel/archive/meson64-6.1/board-odroidn2-add-spi-flash-enabled-dts.patch
  patch/kernel/archive/meson64-6.1/board-radxa-zero-dts-otg-fix.patch
  patch/kernel/archive/meson64-6.1/board-radxa-zero-dts-slow-down-sdio-for-working-wifi.patch
  patch/kernel/archive/meson64-6.1/drv-spi-spidev-remove-warnings.patch
  patch/kernel/archive/meson64-6.1/general-drm-dw-hdmi-call-hdmi_set_cts_n-after-clock.patch
  patch/kernel/archive/meson64-6.1/general-input-touchscreen-Add-D-WAV-Multitouch.patch
  patch/kernel/archive/meson64-6.1/general-meson-gx-mmc-fix-deferred-probing.patch
  patch/kernel/archive/meson64-6.1/general-meson-mmc-1-arm64-amlogic-mmc-meson-gx-Add-core-tx-rx-eMMC-SD-SD.patch
  patch/kernel/archive/meson64-6.1/general-meson64-overlays.patch
  patch/kernel/archive/meson64-6.1/general-spi-nor-add-support-for-XT25F128B.patch
Labels: Hardware :gear:

#4672 meson64: 6.1.y/edge: docs: fix zero2's patch after bpim2s's addition
  patch/kernel/archive/meson64-6.1/add-board-radxa-zero2.patch
Labels: Hardware :gear:

#4671 `uefi-arm64`: 6.1: working Phytium D2000 onboard Ethernet
  patch/kernel/archive/uefi-arm64-6.1/driver-phytium-stmmac-acpi.patch
Labels: Hardware :gear:

#4670 `mvebu`: 6.1: fix mbox formatting for `12-net-dsa-mv88e6xxx.patch`
  patch/kernel/archive/mvebu-6.1/12-net-dsa-mv88e6xxx.patch
Labels: Hardware :gear:

#4676 Update kernel config for meson64
  config/kernel/linux-meson64-edge.config
Labels: Ready for review :arrow_right:, Hardware :gear:

#4674 meson64: 6.1.y/edge: BananaPi M5: use 270 clock phase via `amlogic,mmc-phase`
  patch/kernel/archive/meson64-6.1/board-bananapim5-sd-use-270-mmc-clock-phase-via-dt.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4675 Bananapi M5 - switch to more recent boot loader
  config/boards/bananapim5.conf
  patch/u-boot/v2022.10/board_bananapim5/bananapi-m5-fix-wrong-GPIO-pin-labeling-for-CON1.patch
  patch/u-boot/v2022.10/board_bananapim5/u-boot-meson64-current.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4680 `meson64`: `edge`: bump to 6.2
  config/sources/families/include/meson64_common.inc
  patch/kernel/archive/meson64-6.2/add-board-bananapi-m2s-initial-support.patch
  patch/kernel/archive/meson64-6.2/add-board-radxa-zero2.patch
  patch/kernel/archive/meson64-6.2/board-bananapim5-sd-use-270-mmc-clock-phase-via-dt.patch
  patch/kernel/archive/meson64-6.2/board-khadas-vim2-use-gpio-fan-matrix-instead-of-array.patch
  patch/kernel/archive/meson64-6.2/board-khadas-vim3-fix-missing-i2c3-nod.patch
  patch/kernel/archive/meson64-6.2/board-khadas-vims-add-rtc-vrtc-aliases.patch
  patch/kernel/archive/meson64-6.2/board-nanopi-k2-add-uartC-alias.patch
  patch/kernel/archive/meson64-6.2/board-nanopi-k2-enable-emmc.patch
  patch/kernel/archive/meson64-6.2/board-odroidc2-add-uartA-uartC.patch
  patch/kernel/archive/meson64-6.2/board-odroidc2-enable-SPI.patch
  patch/kernel/archive/meson64-6.2/board-odroidc2-enable-scpi-dvfs.patch
  patch/kernel/archive/meson64-6.2/board-odroidhc4-enable-fan1_input.patch
  patch/kernel/archive/meson64-6.2/board-odroidn2-add-dumb-gpio-fan.patch
  patch/kernel/archive/meson64-6.2/board-odroidn2-add-gpio-fan-as-cooling-device.patch
  patch/kernel/archive/meson64-6.2/board-odroidn2-add-spi-flash-enabled-dts.patch
  patch/kernel/archive/meson64-6.2/board-odroidn2plus-Add-missing-CPU-opp.patch
  patch/kernel/archive/meson64-6.2/board-radxa-zero-dts-add-support-for-the-usb-c-controller.patch
  patch/kernel/archive/meson64-6.2/board-radxa-zero-dts-otg-fix.patch
  patch/kernel/archive/meson64-6.2/board-radxa-zero-dts-slow-down-sdio-for-working-wifi.patch
  patch/kernel/archive/meson64-6.2/drv-spi-spidev-remove-warnings.patch
  patch/kernel/archive/meson64-6.2/general-add-Amlogic-Meson-GX-PM-Suspend.patch
  patch/kernel/archive/meson64-6.2/general-add-overlay-compilation-support.patch
  patch/kernel/archive/meson64-6.2/general-drm-dw-hdmi-call-hdmi_set_cts_n-after-clock.patch
  patch/kernel/archive/meson64-6.2/general-drm-panfrost-fix-reference-leak.patch
  patch/kernel/archive/meson64-6.2/general-fix-Kodi-sysinfo-CPU-information.patch
  patch/kernel/archive/meson64-6.2/general-gpu-drm-add-new-display-resolution-2560x1440.patch
  patch/kernel/archive/meson64-6.2/general-hdmi-codec-reorder-channel-allocation-list.patch
  patch/kernel/archive/meson64-6.2/general-input-touchscreen-Add-D-WAV-Multitouch.patch
  patch/kernel/archive/meson64-6.2/general-kernel-odroidn2-current.patch
  patch/kernel/archive/meson64-6.2/general-media-cec-silence-CEC-timeout-message-HACK.patch
  patch/kernel/archive/meson64-6.2/general-memory-marked-nomap.patch
  patch/kernel/archive/meson64-6.2/general-meson-aiu-Fix-HDMI-codec-control-selection.patch
  patch/kernel/archive/meson64-6.2/general-meson-gx-mmc-fix-deferred-probing.patch
  patch/kernel/archive/meson64-6.2/general-meson-mmc-1-arm64-amlogic-mmc-meson-gx-Add-core-tx-rx-eMMC-SD-SD.patch
  patch/kernel/archive/meson64-6.2/general-meson-mmc-2-arm64-amlogic-dts-meson-update-meson-axg-device-tree.patch
  patch/kernel/archive/meson64-6.2/general-meson-mmc-3-arm64-dts-docs-Update-mmc-meson-gx-documentation-for.patch
  patch/kernel/archive/meson64-6.2/general-meson-vdec-add-HEVC-decode-codec.patch
  patch/kernel/archive/meson64-6.2/general-meson-vdec-add-handling-to-HEVC-decoder-.patch
  patch/kernel/archive/meson64-6.2/general-meson-vdec-check-if-parser-has-really-parser.patch
  patch/kernel/archive/meson64-6.2/general-meson-vdec-improve-mmu-and-fbc-handling-.patch
  patch/kernel/archive/meson64-6.2/general-meson-vdec-remove-redundant-if-statement.patch
  patch/kernel/archive/meson64-6.2/general-meson64-overlays.patch
  patch/kernel/archive/meson64-6.2/general-rc-drivers-should-produce-alternate-pulse-and-space-timing-events.patch
  patch/kernel/archive/meson64-6.2/general-si2168-fix-cmd-timeout.patch
  patch/kernel/archive/meson64-6.2/general-sound-soc-remove-mono-channel-as-it-curren.patch
  patch/kernel/archive/meson64-6.2/general-spi-nor-add-support-for-XT25F128B.patch
  patch/kernel/archive/meson64-6.2/general-usb-core-improve-handling-of-hubs-with-no-ports.patch
  patch/kernel/archive/meson64-6.2/jethome-0001-Fix-meson64-add-gpio-irq-patch-from-https-lkml.org-l.patch
  patch/kernel/archive/meson64-6.2/meson-g12a-pinctrl-add-missing-ir-options.patch
  patch/kernel/archive/meson64-6.2/meson-g12b-pinctrl-Add-missing-pinmux-for-pwm.patch
  patch/kernel/archive/meson64-6.2/meson-gx-dts-add-support-for-GX-PM-and-VRTC.patch
  patch/kernel/archive/meson64-6.2/meson-gxbb-dts-i2cX-missing-pins.patch
  patch/kernel/archive/meson64-6.2/meson-gxbb-vdec-add-HEVC-support-to-GXBB.patch
  patch/kernel/archive/meson64-6.2/meson-gxm-vdec-add-VP9-support-to-GXM.patch
  patch/kernel/archive/meson64-6.2/meson-sm1-dts-add-higher-clocks.patch
  patch/kernel/meson64-edge
Labels: Hardware :gear:

#4679 `mvebu64`: remove dangling symlinks for both current and edge
  patch/kernel/mvebu64-current
  patch/kernel/mvebu64-edge
Labels: Hardware :gear:

#4684 Add overlay for rockpro64 7″ lcd
  patch/kernel/archive/rockchip64-6.1/overlays-13-add-rockpro64-lcd.patch
Labels: Hardware :gear:

#4689 Move htoprc to proper location as this method doesn't work properly
  packages/bsp/common/etc/skel/.config/htop/htoprc
Labels: Ready for review :arrow_right:, Bugfix :radioactive:

#4693 lint-script-pr: bugfix: fail too fastly to check the remaining scripts
  .github/workflows/lint-scripts-pr.yml
Labels: Ready for review :arrow_right:, Software :chains:

#4660 Bugfix: handle over-mounted mountpoint
  lib/functions/configuration/main-config.sh
  lib/functions/host/prepare-host.sh
  lib/functions/image/rootfs-to-image.sh
  lib/functions/rootfs/create-cache.sh
Labels: Ready for review :arrow_right:

#4695 sunxi: switch EDGE to v6.1.5, CURRENT to v5.15.87
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready for review :arrow_right:, Hardware :gear:

#4694 Shrink auto generated images
  config/targets-cli-beta.conf
  config/targets-desktop-beta.conf
Labels: Ready for review :arrow_right:, Maintenance :recycle:

#4697 Enable MGLRU on meson64-edge
  config/kernel/linux-meson64-edge.config
Labels: Hardware :gear:

#4698 sunxi: switch EDGE to v6.1.6 CURRENT to v5.15.88
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready for review :arrow_right:, Hardware :gear:

#4702 RockPro64: add thermal fan control
  patch/kernel/archive/rockchip64-5.15/general-rockpro64-thermal-fan-control.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4701 rk322x: fix tsadc-related bootloop on some boards
  patch/kernel/archive/rk322x-5.15/board-rk322x-box.patch
  patch/kernel/archive/rk322x-6.1/board-rk322x-box.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4699 Adding Linux Mint Vera 21.1 as building host
  lib/functions/host/prepare-host.sh
  lib/functions/image/partitioning.sh
Labels: Ready for review :arrow_right:

#4705 Clean up mbox format in general-add-overlay-configfs.patch
  patch/kernel/archive/rockchip64-5.15/general-add-overlay-configfs.patch
  patch/kernel/archive/rockchip64-5.17/general-add-overlay-configfs.patch
  patch/kernel/archive/rockchip64-5.18/general-add-overlay-configfs.patch
  patch/kernel/archive/rockchip64-5.19/general-add-overlay-configfs.patch
  patch/kernel/archive/rockchip64-6.0/general-add-overlay-configfs.patch
  patch/kernel/archive/rockchip64-6.1/general-add-overlay-configfs.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4709 Clean up mbox format in rk3399-ehci-probe-usb2.patch rockchip64 u-boot
  patch/u-boot/u-boot-rockchip64/rk3399-ehci-probe-usb2.patch
Labels: Hardware :gear:

#4710 Re-enabling support for Rpi3
  config/boards/rpi4b.conf
Labels: Ready for review :arrow_right:, Bugfix :radioactive:

#4707 Change old not supported releases to EOS
  config/distributions/buster/support
  config/distributions/focal/support
  config/distributions/kinetic/support
Labels: Ready for review :arrow_right:

#4711 Update odroidxu4-current to 5.4.229
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.227-228.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.228-229.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4704 Mount /tmp in docker builder container as tmpfs. Same as #4703
  config/templates/config-docker.conf
Labels: Ready for review :arrow_right:

#4721 clean: remove unused code, replaced df with findmnt
  packages/bsp/common/etc/kernel/postinst.d/xx-initramfs-cleanup
  packages/bsp/common/etc/kernel/postrm.d/xx-initramfs-cleanup
Labels: Ready for review :arrow_right:

#4722 Fix armbianmonitor if used (-d, -c) key
  packages/bsp/common/usr/bin/armbianmonitor
Labels: Ready for review :arrow_right:

#4720 move bpir2pro csc to config
  config/boards/bananapir2pro.conf
  config/targets.conf
Labels: Ready for review :arrow_right:, Hardware :gear:

#4719 fix kernel edge for Jetson Nano
  config/kernel/linux-media-edge.config
  config/kernel/linux-station-p2-legacy.config
  packages/bsp/common/usr/lib/armbian/armbian-hardware-optimization
  patch/kernel/jetson-nano-legacy
  patch/kernel/jetson-nano-legacy/packages-legacy.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4717 rtlwifi: Fix p2p-go advertising
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-rtl8188eu-Fix-p2p-go-advertising.patch
  patch/misc/wireless-rtl8189es-Fix-p2p-go-advertising.patch
  patch/misc/wireless-rtl8192eu-Fix-p2p-go-advertising.patch
  patch/misc/wireless-rtl8723ds-Fix-p2p-go-advertising.patch
  patch/misc/wireless-rtl8723du-Fix-p2p-go-advertising.patch
  patch/misc/wireless-rtl8811cu-Fix-p2p-go-advertising.patch
  patch/misc/wireless-rtl8822bs-Fix-p2p-go-advertising.patch
  patch/misc/wireless-rtl88x2bu-Fix-p2p-go-advertising.patch
  patch/misc/wireless-rtl88x2cs-Fix-p2p-go-advertising.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4716 rtlwifi: Make different MAC for if1
  patch/misc/wireless-rtl8188eu-Make-different-MAC-for-if1.patch
  patch/misc/wireless-rtl8189es-Make-different-MAC-for-if1.patch
  patch/misc/wireless-rtl8192eu-Make-different-MAC-for-if1.patch
  patch/misc/wireless-rtl8723ds-Make-different-MAC-for-if1.patch
  patch/misc/wireless-rtl8811cu-Make-different-MAC-for-if1.patch
  patch/misc/wireless-rtl8812au-Make-different-MAC-for-if1.patch
  patch/misc/wireless-rtl8822bs-Make-different-MAC-for-if1.patch
  patch/misc/wireless-rtl88x2bu-Make-different-MAC-for-if1.patch
  patch/misc/wireless-rtl88x2cs-Make-different-MAC-for-if1.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4715 Refresh scorecard action
  .github/workflows/scorecard.yml
Labels: Ready for review :arrow_right:, Software :chains:

#4712 Add missing I2C, SPI, PWM, UART, LCD overlays to Orange Pi 5
  patch/kernel/rockchip-rk3588-legacy/2011-Add-missing-I2C-SPI-PWM-UART-LCD-overlays-to-OrangePi5.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4725 Fix cec disconnecting after TV restart
  config/kernel/linux-rockchip-rk3588-legacy.config
  patch/kernel/rockchip-rk3588-legacy/005-fix-cec.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4724 sunxi: switch CURRENT to v5.15.89, EDGE to v6.1.7
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-6.1/patches.megous/mtd-spi-nor-Add-regulator-support.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4714 rtlwifi: Fix uninitialized cfg80211_chan_def
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-rtl8188eu-Fix-uninitialized-cfg80211-chan-def.patch
  patch/misc/wireless-rtl8189es-Fix-uninitialized-cfg80211-chan-def.patch
  patch/misc/wireless-rtl8723du-Fix-uninitialized-cfg80211-chan-def.patch
  patch/misc/wireless-rtl8822bs-Fix-uninitialized-cfg80211-chan-def.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4519 Extend BUILD_ONLY value to single value "default"
  lib/functions/configuration/interactive.sh
  lib/functions/main/build-tasks.sh
Labels: Ready for review :arrow_right:

#4727 added support for MediaTek USB drivers
  config/kernel/linux-rockchip-rk3588-legacy.config
Labels: Ready for review :arrow_right:, Hardware :gear:

#4737 rockchip64: rework pbp patch including usb type-c extcon services
  patch/kernel/archive/rockchip64-5.15/board-pbp-add-dp-alt-mode.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4738 Bump rockchip 32bit current kernel to 6.1
  config/kernel/linux-rockchip-current.config
  config/sources/families/rockchip.conf
  patch/kernel/archive/rockchip-6.1/2007-drivers-wifi-ath9k-reverse-do-not-use-bulk-on-EP3-and-EP4.patch
  patch/kernel/rockchip-current
Labels: Ready for review :arrow_right:, Hardware :gear:

#4739 Bump rk322x current kernel flavour to 6.1
  config/kernel/linux-rk322x-current.config
  config/sources/families/rk322x.conf
  patch/kernel/rk322x-current
Labels: Ready for review :arrow_right:, Hardware :gear:

#4736 Enable some Ralink modules for RK3588
  config/kernel/linux-rockchip-rk3588-legacy.config
Labels: Ready for review :arrow_right:, Hardware :gear:

#4730 Move OPi5 from `wip` to `conf`
  config/boards/orangepi5.conf
Labels: Ready for review :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4731 Clean and unify XFCE, Gnome and Cinnamon
  config/desktop/bullseye/environments/cinnamon/config_base/packages
  config/desktop/bullseye/environments/gnome/config_base/packages
  config/desktop/buster/environments/cinnamon/config_base/packages
  config/desktop/buster/environments/xfce/config_base/packages
  config/desktop/focal/appgroups/chat/packages
  config/desktop/focal/environments/cinnamon/config_base/packages
  config/desktop/focal/environments/gnome/config_base/packages
  config/desktop/focal/environments/xfce/config_base/packages
  config/desktop/jammy/environments/cinnamon/config_base/packages
  config/desktop/jammy/environments/gnome/config_base/packages
  config/desktop/jammy/environments/xfce/config_base/packages
  config/desktop/kinetic/environments/cinnamon/config_base/packages
  config/desktop/kinetic/environments/gnome/config_base
  config/desktop/kinetic/environments/gnome/config_base/packages
  config/desktop/kinetic/environments/xfce/config_base/packages
  config/desktop/sid/environments/cinnamon/config_base/packages
  config/desktop/sid/environments/gnome/config_base/packages
  config/desktop/sid/environments/xfce/config_base/packages
  packages/blobs/desktop/skel/.config/xfce4/xfconf/xfce-perchannel-xml/displays.xml
  packages/blobs/desktop/skel/.local/share/applications/SCRcpy.desktop
Labels: Ready for review :arrow_right:

#4741 Update odroidxu4-current to 5.4.230
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.229-230.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4747 rk3318-box: Remove DEFAULT_CONSOLE bcs undefined
  config/boards/rk3318-box.tvb
Labels: Hardware :gear:

#4753 correction of bpir2pro frequency control and changing of images
  config/targets.conf
  patch/kernel/media-edge/00160-v95-rk3568-bpi-r2pro.patch
Labels: Hardware :gear:

#4748 build/config/boards/readme: Make usable
  config/boards/README.md
Labels: Ready for review :arrow_right:, Hardware :gear:

#4754 Add SDIO irq patch to fix irq lost in new SDIO irq code (kernel 6.0+)
  patch/kernel/archive/meson64-6.1/general-arm64-dts-amlogic-Make-mmc-host-controller-interrupt.patch
  patch/kernel/archive/meson64-6.2/general-arm64-dts-amlogic-Make-mmc-host-controller-interrupt.patch
Labels: Hardware :gear:

#4757 Switch sunxi: current to 5.15.90, edge to 6.1.8
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-5.15/megous/mmc-sunxi-mmc-Remove-runtime-PM.patch
  patch/kernel/archive/sunxi-6.1/patches.megous/arm64-dts-rockchip-rk3399-pinebook-pro-Fix-VDO-display-output.patch
  patch/kernel/archive/sunxi-6.1/patches.megous/media-ov5640-Fix-sensor-probe-with-the-anti-click-patch.patch
  patch/kernel/archive/sunxi-6.1/patches.megous/mmc-sunxi-mmc-Remove-runtime-PM.patch
  patch/kernel/archive/sunxi-6.1/series.conf
  patch/kernel/archive/sunxi-6.1/series.megous
Labels: Ready for review :arrow_right:, Hardware :gear:

#4759 Add some Wireless modules to RK3588 legacy kernel
  config/kernel/linux-rockchip-rk3588-legacy.config
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-import-vfs-module.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4760 Prevent error at password strength check
  config/cli/bullseye/main/packages
  config/cli/buster/main/packages
  config/cli/buster/main/packages.additional
  config/cli/focal/main/packages
  config/cli/focal/main/packages.additional
  config/cli/jammy/main/packages
  config/cli/jammy/main/packages.additional
  config/cli/sid/main/packages
  config/cli/sid/main/packages.additional
Labels: Ready for review :arrow_right:

#4758 Bugfix: GRUB installation failed to install on UEFI systems
  packages/bsp/common/usr/sbin/armbian-install
Labels: Ready for review :arrow_right:, Bugfix :radioactive:

#4762 add rk3588-implicit-sync patches from icecream95 for rk3588 legacy ke…
  patch/kernel/rockchip-rk3588-legacy/0001-dma-buf-add-dma_resv_get_singleton-v2.patch
  patch/kernel/rockchip-rk3588-legacy/0002-dma-buf-Add-an-API-for-exporting-sync-files-v14.patch
  patch/kernel/rockchip-rk3588-legacy/0003-dma-buf-Add-an-API-for-importing-sync-files-v10.patch
  patch/kernel/rockchip-rk3588-legacy/0004-MALI-bifrost-avoid-fence-double-free.patch
  patch/kernel/rockchip-rk3588-legacy/0005-drm-rockchip-Re-add-implicit-fencing-support-for-pla.patch
Labels: Hardware :gear:

#4764 [ rockchip64 ] renegade patch missing nodes
  patch/kernel/archive/rockchip64-6.1/rk3328-dts-roc-cc-audio-supplies.patch
  patch/kernel/archive/rockchip64-6.1/rk3328-roc-cc-add-missing-nodes.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4763 Delete board-rk3328-roc-cc-rock64-add-usb3.patch
  patch/kernel/archive/rockchip64-6.1/board-rk3328-roc-cc-rock64-add-usb3.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4768 [AR-1527] Remove unnecessary patches for rtl8822cs
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-rtl88x2cs-Fix-p2p-go-advertising.patch
  patch/misc/wireless-rtl88x2cs-Make-different-MAC-for-if1.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4766 Consolidate uwe5622 driver, add v6.1 kernel support
  config/kernel/linux-rockchip64-edge.config
  lib/functions/compilation/patch/drivers_network.sh
  patch/kernel/archive/rockchip64-5.15/wifi-4003-uwe5622-adjust-for-rockchip.patch
  patch/kernel/archive/rockchip64-5.15/wifi-4004-fix-uwe5622-park-link-policy.patch
  patch/kernel/archive/rockchip64-5.15/wifi-4004-fix-uwe5622-warnings.patch
  patch/kernel/archive/rockchip64-5.15/wifi-4005-uwe5622-makefile.patch
  patch/kernel/archive/rockchip64-6.1/disabled 2023.02/wifi-4004-fix-uwe5622-park-link-policy.patch.disabled
  patch/kernel/archive/rockchip64-6.1/disabled 2023.02/wifi-4004-fix-uwe5622-warnings.patch.disabled
  patch/kernel/archive/rockchip64-6.1/disabled 2023.02/wifi-4005-uwe5622-makefile.patch.disabled
  patch/kernel/archive/rockchip64-6.1/wifi-4003-uwe5622-adjust-for-rockchip.patch
  patch/misc/wireless-driver-for-uwe5622-allwinner-bt-fix.patch
  patch/misc/wireless-driver-for-uwe5622-park-link-pre-v6.1.patch
  patch/misc/wireless-driver-for-uwe5622-park-link-v6.1-post.patch
  patch/misc/wireless-driver-for-uwe5622-v6.1.patch
  patch/misc/wireless-driver-for-uwe5622-warnings.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4771 rockchip64: fix SPDIF for x88pro/mxq rk3328 tvbox boards
  patch/kernel/archive/rockchip64-5.15/overlays-09-add-rk3318-box-led-conf2.patch
  patch/kernel/archive/rockchip64-5.15/overlays-10-add-rk3318-box-led-conf3.patch
  patch/kernel/archive/rockchip64-6.1/overlays-09-add-rk3318-box-led-conf2.patch
  patch/kernel/archive/rockchip64-6.1/overlays-10-add-rk3318-box-led-conf3.patch
Labels: Ready for review :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4772 sunxi64: fix uwe5622 compile on current 5.15 kernel
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-driver-for-uwe5622-warnings.patch
Labels: Hardware :gear:
