Repository armbian/build, pull requests merged in 2023-02, with the labels that each got.

#4786 Fix CEC for Radxa Rock 3A
  config/kernel/linux-rockchip64-edge.config
  patch/kernel/archive/rockchip64-6.1/board-rock3a-cec.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4734 New legacy bootscript for `rockchip-rk3588` so vendor/patched overlays work
  config/bootscripts/boot-rk3588-legacy.cmd
  config/sources/families/rockchip-rk3588.conf
Labels: Ready for review :arrow_right:, Hardware :gear:

#4785 sunxi: switch CURRENT to 5.15.91, EDGE to 6.1.9
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-5.15/patches.armbian/i2c-mv64xxx-Add-atomic-xfer-method-to-driver.patch
  patch/kernel/archive/sunxi-5.15/series.conf
Labels: Hardware :gear:

#4733 Add rockchip-rk3588-opp-oc-24ghz overlay for RK3588 boards
  patch/kernel/rockchip-rk3588-legacy/2012-Add-rockchip-rk3588-opp-oc-24ghz-overlay-for-RK3588.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4773 Disable hardware cursor for Rock 5B and Orange Pi 5
  patch/kernel/rockchip-rk3588-legacy/2009-Variously-HDMI-improvements-for-OPi-5.patch
  patch/kernel/rockchip-rk3588-legacy/2013-Disable-hardware-cursor-for-Rock-5B.patch
Labels: Work in progress :construction_worker:, Hardware :gear:

#4774 rockchip64: fix rk3328 dmc driver
  patch/kernel/archive/rockchip64-6.1/rk3328-add-dmc-driver.patch
Labels: Ready for review :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#4776 add rk3328 device tree overlays for uart1 and i2c0
  patch/kernel/archive/rockchip64-5.15/rk3328-device-tree-overlays-uart1-i2c0.patch
  patch/kernel/archive/rockchip64-5.17/rk3328-device-tree-overlays-uart1-i2c0.patch
  patch/kernel/archive/rockchip64-5.18/rk3328-device-tree-overlays-uart1-i2c0.patch
  patch/kernel/archive/rockchip64-5.19/rk3328-device-tree-overlays-uart1-i2c0.patch
  patch/kernel/archive/rockchip64-6.0/rk3328-device-tree-overlays-uart1-i2c0.patch
  patch/kernel/archive/rockchip64-6.1/rk3328-device-tree-overlays-uart1-i2c0.patch
Labels: Hardware :gear:

#4769 meson: remove legacy branch
  config/boards/odroidc1.eos
  config/boards/onecloud.csc
  config/kernel/linux-meson-legacy.config
  config/sources/families/include/meson_common.inc
  patch/kernel/archive/meson-5.10/Revert-mmc-core-Set-HS-clock-speed-before-sending-HS-CMD13.patch
  patch/kernel/archive/meson-5.10/board_odroidc1/dts-Enable-HDMI.patch
  patch/kernel/archive/meson-5.10/board_onecloud/0001-add-dts.patch
  patch/kernel/archive/meson-5.10/board_onecloud/0002-dts-Support-HDMI.patch
  patch/kernel/archive/meson-5.10/board_onecloud/usb-disable-ACA-check.patch
  patch/kernel/archive/meson-5.10/generate-uImage-instand-of-zImage.patch
  patch/kernel/archive/meson-5.10/m8-m8b-m8m2-Support-HDMI.patch
  patch/kernel/meson-legacy
Labels: Ready for review :arrow_right:, Hardware :gear:

#4781 move kernel media current 6.1 and edge 6.2
  config/boards/quartz64b.wip
  config/kernel/linux-media-current.config
  config/kernel/linux-media-edge.config
  config/sources/families/media.conf
  extensions/grub-sbc-media.sh
  patch/kernel/media-current/00130-board-firefly-rk3399-dts.patch
  patch/kernel/media-current/00140-v95-make.patch
  patch/kernel/media-current/00150-v95-rk3566-firefly-roc-pc.patch
  patch/kernel/media-current/00160-v95-rk3568-bpi-r2pro.patch
  patch/kernel/media-current/00170-linux-0001-rockchip-from-6.1.patch
  patch/kernel/media-current/00170-v95-rk3568-firefly-roc-pc.patch
  patch/kernel/media-current/00181-linux-0011-v4l2-from-list.patch
  patch/kernel/media-current/00182-linux-0020-drm-from-list.patch
  patch/kernel/media-current/00183-linux-1000-drm-rockchip.patch
  patch/kernel/media-current/00184-linux-1001-v4l2-rockchip.patch
  patch/kernel/media-current/00185-linux-1002-for-libreelec.patch
  patch/kernel/media-current/00186-linux-2000-v4l2-wip-rkvdec-hevc.patch
  patch/kernel/media-current/00187-linux-2001-v4l2-wip-iep-driver.patch
  patch/kernel/media-current/00190-linux-90100-add-clock.patch
  patch/kernel/media-current/00200-linux-90101-add-rt5651-konf.patch
  patch/kernel/media-current/00210-linux-90102-rt5651.patch
  patch/kernel/media-current/00220-linux-90103-nanopc-t4-5651.patch
  patch/kernel/media-current/00230-linux-90104-all-codec.patch
  patch/kernel/media-current/00240-linux-90117-add-rk3399-roc-pc-plus-sound.patch
  patch/kernel/media-current/00250-linux-90200-rk3328-roc-pc-wifi-fix.patch
  patch/kernel/media-current/00260-Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/media-current/00270-add-rk3328-usb3-phy-driver.patch
  patch/kernel/media-current/00290-board-roc-rk3399-pc-fix-fusb302-compatible.patch
  patch/kernel/media-current/00300-general-add-dwc3-xhci-usb-trb-quirk.patch
  patch/kernel/media-current/00310-general-add-miniDP-dt-doc.patch
  patch/kernel/media-current/00320-general-add-miniDP-virtual-extcon.patch
  patch/kernel/media-current/00330-general-add-overlay-compilation-support.patch
  patch/kernel/media-current/00340-add-fusb30x-driver.patch
  patch/kernel/media-current/00340-general-add-overlay-configfs.patch
  patch/kernel/media-current/00355-general-add-panel-simple-dsi.patch
  patch/kernel/media-current/00360-general-bluetooth-02-add-support-for-RTL8723CS.patch
  patch/kernel/media-current/00370-general-bluetooth-03-hci_h5-add-binding-RTL8723CS.patch
  patch/kernel/media-current/00380-general-bluetooth-04-add-rtl8703bs.patch
  patch/kernel/media-current/00390-general-bluetooth-add-new-quirk.patch
  patch/kernel/media-current/00400-general-fix-es8316-kernel-panic.patch
  patch/kernel/media-current/00410-general-increasing_DMA_block_memory_allocation_to_2048.patch
  patch/kernel/media-current/00420-general-possibility-of-disabling-rk808-rtc.patch
  patch/kernel/media-current/00430-general-rk808-configurable-switch-voltage-steps.patch
  patch/kernel/media-current/00440-general-workaround-broadcom-bt-serdev.patch
  patch/kernel/media-current/00450-rk3328-dtsi-usb3-reset-properties.patch
  patch/kernel/media-current/00460-rk3328-roc-pc-bt.patch
  patch/kernel/media-current/00470-rk3399-enable-dwc3-xhci-usb-trb-quirk.patch
  patch/kernel/media-current/00480-rk3399-nanopc-t4-emmc.patch
  patch/kernel/media-current/00490-rk3399-pci-rockchip-support-ep-gpio-undefined-case.patch
  patch/kernel/media-current/00500-rk3399-rp64-pcie-Reimplement-rockchip-PCIe-bus-scan-delay.patch
  patch/kernel/media-current/00510-rk3399-sd-drive-level-8ma.patch
  patch/kernel/media-current/00520-rk3399-unlock-temperature.patch
  patch/kernel/media-current/00540-fix-analog-sound-rk3399-dtsi.patch
  patch/kernel/media-current/00590-add-driver-for-Motorcomm-YT85xx+PHYs.patch
  patch/kernel/media-current/00600-board-pbp-fix-wonky-wifi-bt.patch.disabled
  patch/kernel/media-edge/00120-rk356x-dtsi.patch
  patch/kernel/media-edge/00220-linux-90103-nanopc-t4-5651.patch
  patch/kernel/media-edge/00530-board-pbp-fix-wonky-wifi-bt.patch.disabled
  patch/kernel/media-edge/00540-fix-analog-sound-rk3399-dtsi.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4787 Improve build framework bug reporting form
  .github/ISSUE_TEMPLATE/bugreport.yml
Labels: Ready for review :arrow_right:, Maintenance :recycle:

#4796 fix Station P1 current\edge
  patch/kernel/media-current/00540-fix-analog-sound-rk3399-dtsi.patch
  patch/kernel/media-current/00540-fix-analog-sound-rk3399-roc-pc-plus-dts.patch
  patch/kernel/media-edge/00181-linux-0011-v4l2-from-list.patch
  patch/kernel/media-edge/00220-linux-90103-nanopc-t4-5651.patch
  patch/kernel/media-edge/00540-fix-analog-sound-rk3399-dtsi.patch
  patch/kernel/media-edge/00540-fix-analog-sound-rk3399-roc-pc-plus-dts.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4795 meson: Fix broken patches
  patch/kernel/archive/meson-5.15/m8-m8b-m8m2-Support-HDMI.patch
  patch/kernel/archive/meson-6.1/0001-m8-m8b-m8m2-Support-HDMI.patch
Labels: Ready for review :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#4783 Disables the use of the obiabf repository by default
  config/desktop/jammy/appgroups/3dsupport/sources/apt/oibaf.source
Labels: Ready for review :arrow_right:

#4801 func/rootfs/distro-specific: non-free-firmware
  lib/functions/rootfs/distro-specific.sh
Labels: Ready for review :arrow_right:

#4789 README: fool-proof for CARD_DEVICE example
  README.md
Labels: Ready for review :arrow_right:

#4784 Move Neo to last known working boot loader
  config/boards/nanopineo.conf
Labels: Ready for review :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#4806 Add support for various HID game controllers and waydroid
  config/kernel/linux-rockchip-rk3588-legacy.config
Labels: Ready for review :arrow_right:, Hardware :gear:

#4819 Hooks are called system wise
  config/boards/orangepi-r1plus-lts.conf
Labels: Ready for review :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#4811 Fix wireless modules indentation warnings
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-rtl8188eu-Fix-misleading-indentation.patch
  patch/misc/wireless-rtl8822bs-Fix-misleading-indentation.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4822 sunxi: switch CURRENT to v5.15.93 EDGE to 6.1.11
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:, Maintenance :recycle:

#4830 Add wpasupplicant to bookworm and bullseye
  config/cli/bullseye/main/packages.additional
Labels: Ready for review :arrow_right:

#4808 Wrong wallpaper path on i3wm package creation
  config/desktop/focal/environments/i3-wm/armbian/create_desktop_package.sh
Labels: Ready for review :arrow_right:, Bugfix :radioactive:

#4828 Disable Event debugging CONFIG_INPUT_EVBUG
  config/kernel/linux-imx7d-current.config
  config/kernel/linux-imx7d-legacy.config
  config/kernel/linux-meson-current.config
  config/kernel/linux-meson-edge.config
  config/kernel/linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-x86-current.config
  config/kernel/linux-uefi-x86-edge.config
  config/kernel/linux-zynq-legacy.config
Labels: Ready for review :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4818 Fix: Python2 Paths for Legacy Kernel v5.10 with Edge Release
  lib/functions/compilation/patch/kernel-bootsplash-and-drivers.sh
  patch/misc/general-kernel-python2-5.10.y.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4831 Remove missing package from Cinnamon desktop
  config/desktop/kinetic/environments/cinnamon/config_base/packages
Labels: Ready for review :arrow_right:, Bugfix :radioactive:, Maintenance :recycle:

#4829 Add AP6275P overlay for Orange Pi 5
  patch/kernel/rockchip-rk3588-legacy/2014-Add-AP6275P-overlay-for-Orange-Pi-5.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4825 Adds SPI, I2C, and PWM DTS overlays for odroid-m1
  patch/kernel/archive/odroidm1-6.1/board-odroidm1-spi-uart-pwm.patch
  patch/kernel/archive/odroidm1-6.1/drv-spi-spidev-remove-warnings.patch
  patch/kernel/archive/odroidm1-6.1/general-add-overlay-compilation-support.patch
  patch/kernel/archive/odroidm1-6.1/overlays-00-add-odroid-buses.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4826 Split Bananapi M2PRO from M5
  config/kernel/linux-meson64-current.config
  patch/kernel/archive/meson64-6.1/board-bananapim2pro-add-dt.patch
  patch/kernel/archive/meson64-6.1/board-bananapim5-001-remove-redundant-status.patch
  patch/kernel/archive/meson64-6.1/board-bananapim5-002-switch-VDDIO_C-pin-to-OP.patch
  patch/kernel/archive/meson64-6.1/board-bananapim5-003-convert-dts-to-dtsi.patch
  patch/kernel/archive/meson64-6.1/board-bananapim5-004-sd-use-270-mmc-clock-phase-via-dt.patch
  patch/kernel/archive/meson64-6.1/board-bananapim5-sd-use-270-mmc-clock-phase-via-dt.patch
Labels: Ready for review :arrow_right:, Hardware :gear:

#4823 Fix: Armbianmonitor: Print the CPU frequency correctly without privileges
  packages/bsp/common/usr/bin/armbianmonitor
Labels: Ready for review :arrow_right:

#4832 Disable cronjobs as we are moving to armbian-next
  .github/workflows/build-all-desktops.yml
  .github/workflows/build-images.yml
  .github/workflows/build-train.yml
  .github/workflows/scorecard.yml
  .github/workflows/update-docker.yml
Labels: Software :chains:

#4835 Set `pcie_aspm` to `default` instead of `powersave`
  config/kernel/linux-rockchip-rk3588-legacy.config
Labels: Hardware :gear:

#4793 bugreport: include armbian-next in branch
  .github/ISSUE_TEMPLATE/bugreport.yml
Labels: Ready for review :arrow_right:

#4834 fix: armbianmonitor: use cpufreq/scaling_cur_freq if 1 Cluster is available
  packages/bsp/common/usr/bin/armbianmonitor
Labels: Bugfix :radioactive:

#4839 rockchip: fix missing bluetooth for tinkerboard, add back AUFS driver
  config/kernel/linux-rockchip-current.config
  patch/kernel/archive/rockchip-6.1/3002-tinkerboard-bluetooth-serdev.patch
Labels: Bugfix :radioactive:, Hardware :gear:

#4838 Add rockchip-rk3588 board family to armbian-hardware-optimization
  packages/bsp/common/usr/lib/armbian/armbian-hardware-optimization
Labels: Ready for review :arrow_right:, Hardware :gear:

#4833 Radxa Zero generates EDGE images instead of CURRENT
  config/targets.conf
Labels: Bugfix :radioactive:

#4837 add fan-control station m3
  config/sources/families/include/rockchip64_common.inc
  packages/blobs/station/firefly-fan-init
  packages/blobs/station/firefly-fan.service
  packages/blobs/station/firefly_fan_control
Labels: Hardware :gear:

#4836 add khadas edge2
  config/boards/khadas-edge2.wip
  config/kernel/linux-media-legacy.config
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/media.conf
  config/targets.conf
  packages/blobs/station/firmware/brcm/clm_bcm43752a2_pcie_ag.blob
  packages/blobs/station/firmware/brcm/config.txt
  packages/blobs/station/firmware/brcm/fw_bcm43752a2_pcie_ag.bin
  packages/blobs/station/firmware/brcm/nvram_AP6275P.txt
Labels: Hardware :gear:

#4840 Revert extlinux for roc-rk3328-cc
  config/boards/renegade.conf
Labels: Hardware :gear:

#4847 Update RK35xx legacy kernel to 5.10
  config/boards/radxa-e25.wip
  config/kernel/linux-rk35xx-legacy.config
  config/sources/families/rk35xx.conf
  patch/kernel/archive/rk35xx-5.10/board-add-radxa-rock3-makefile.patch
  patch/kernel/archive/rk35xx-5.10/board-dts-add-radxa-e25.patch
  patch/kernel/archive/rk35xx-5.10/board-dts-add-rock3a.patch
  patch/kernel/archive/rk35xx-5.10/board-rock3a-Add-DT-link-for-backward-compatibility.patch
  patch/kernel/archive/rk35xx-5.10/rk3568-dtsi-add-radxa-rock-3-compute-module-plus.patch
  patch/kernel/archive/rk35xx-5.10/rk3568-dtsi-add-rock3a-display.patch
  patch/kernel/archive/rk35xx-5.10/rk3568-dtsi-add-rock3ab-camera.patch
  patch/kernel/rk35xx-legacy
  patch/u-boot/legacy/board_radxa-e25/fix-vcc3v3.patch
Labels: Hardware :gear:

#4843 meson: bump current to v6.1 and edge to v6.2
  config/kernel/linux-meson-current.config
  config/kernel/linux-meson-edge.config
  config/sources/families/include/meson_common.inc
  patch/kernel/archive/meson-5.15/Revert-mmc-core-Set-HS-clock-speed-before-sending-HS-CMD13.patch
  patch/kernel/archive/meson-5.15/board_odroidc1/dts-Enable-HDMI.patch
  patch/kernel/archive/meson-5.15/board_onecloud/0001-add-dts.patch
  patch/kernel/archive/meson-5.15/board_onecloud/0002-dts-Support-HDMI.patch
  patch/kernel/archive/meson-5.15/board_onecloud/usb-disable-ACA-check.patch
  patch/kernel/archive/meson-5.15/generate-uImage-instand-of-zImage.patch
  patch/kernel/archive/meson-5.15/m8-m8b-m8m2-Support-HDMI.patch
  patch/kernel/meson-current
Labels: Ready for review :arrow_right:, Hardware :gear:, 23.05

#4848 git-ref2info: fix https Makefile URL for gitlab.com (eg, rk35xx-legacy)
  lib/functions/general/git-ref2info.sh
Labels: Bugfix :radioactive:

#4849 shellfmt/.editorconfig: enable trim whitespaces, run shellfmt, no actual code changes
  .editorconfig
  compile.sh
  config/sources/families/starfive.conf
  extensions/flash-kernel.sh
  lib/functions/artifacts/artifacts-registry.sh
  lib/functions/compilation/kernel-git-bundle.sh
  lib/functions/compilation/packages/armbian-config-deb.sh
  lib/functions/compilation/patch/drivers_network.sh
  lib/functions/compilation/patch/kernel-drivers.sh
  lib/functions/host/apt-cacher-ng.sh
  lib/functions/image/compress-checksum.sh
  lib/functions/logging/export-logs.sh
  lib/functions/logging/traps.sh
  lib/functions/main/config-interactive.sh
  lib/functions/rootfs/distro-specific.sh
  lib/functions/rootfs/rootfs-desktop.sh
  lib/library-functions.sh
  lib/tools/shellfmt.sh
Labels: Hardware :gear:, Software :chains:

#4850 remove u-boot patch fix-vcc3v3.patch for radxa-e25
  patch/u-boot/legacy/board_radxa-e25/fix-vcc3v3.patch
Labels: Hardware :gear:

#4852 JetHub: update preinstalled python packages to install via apt
  config/boards/jethubj100.conf
  config/boards/jethubj80.conf
  config/sources/families/jethub.conf
Labels: Hardware :gear:

#4856 kernel-config: ignore artifact cache, makes no sense with make menuconfig (fixes #4854)
  lib/functions/cli/commands.sh
Labels: Bugfix :radioactive:

#4864 odroidxu4: fix the `custom_kernel_config__hack_odroidxu4_firmware()` …
  config/sources/families/odroidxu4.conf
Labels: Hardware :gear:

#4858 Update odroidxu4-current to 5.4.232
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.230-231.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.231-232.patch
Labels: Hardware :gear:

#4870 distro-agnostic.sh: fix: check if chroot (not host!) has `timesyncd.conf`
  lib/functions/rootfs/distro-agnostic.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4872 sunxi: remove unused KERNELSOURCE="https://github.com/megous/linux"
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:

#4876 Update meson64 edge branch to linux-6.2.y
  config/sources/families/include/meson64_common.inc
  patch/kernel/archive/meson64-6.2/general-arm64-dts-amlogic-Make-mmc-host-controller-interrupt.patch
  patch/kernel/archive/meson64-6.2/general-meson-mmc-1-arm64-amlogic-mmc-meson-gx-Add-core-tx-rx-eMMC-SD-SD.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4882 meson64: edge: rebase patches onto `v6.2.1`; fix mbox for recently added patch (no actual changes)
  patch/kernel/archive/meson64-6.2/board-odroidc4-reset-driver.patch
  patch/kernel/archive/meson64-6.2/drv-spi-spidev-remove-warnings.patch
  patch/kernel/archive/meson64-6.2/general-input-touchscreen-Add-D-WAV-Multitouch.patch
  patch/kernel/archive/meson64-6.2/general-memory-marked-nomap.patch
  patch/kernel/archive/meson64-6.2/general-meson-gx-mmc-fix-deferred-probing.patch
  patch/kernel/archive/meson64-6.2/general-meson-mmc-1-arm64-amlogic-mmc-meson-gx-Add-core-tx-rx-eMMC-SD-SD.patch
  patch/kernel/archive/meson64-6.2/general-meson-mmc-2-arm64-amlogic-dts-meson-update-meson-axg-device-tree.patch
  patch/kernel/archive/meson64-6.2/meson-g12a-pinctrl-add-missing-ir-options.patch
  patch/kernel/archive/meson64-6.2/meson-gx-dts-add-support-for-GX-PM-and-VRTC.patch
Labels: Hardware :gear:
