Repository armbian/build, pull requests merged in 2023-04, with the labels that each got.

#5023 Move lsof package to minimal images as its needed for armbian-install
  config/cli/common/main/packages
  config/cli/common/main/packages.additional
Labels: Ready :arrow_right:, Bugfix :radioactive:, Maintenance :recycle:

#5026 Update odroidxu4-current to 5.4.239
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.238-239.patch
Labels: Hardware :gear:

#5029 `rockchip64_common`: refactor: extract `BOOT_SPI_RKSPI_LOADER=yes` into `rock-3a`, `rock-5b`, and `orangepi5`
  config/boards/orangepi5.conf
  config/boards/rock-3a.conf
  config/boards/rock-5b.wip
  config/sources/families/include/rockchip64_common.inc
Labels: Hardware :gear:

#5025 meson: Onecloud: Some update
  patch/kernel/archive/meson-6.1/onecloud-0001-add-dts.patch
  patch/kernel/archive/meson-6.1/onecloud-0002-dts-Support-HDMI.patch
  patch/kernel/archive/meson-6.1/onecloud-usb-disable-ACA-check.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5038 Bump sunxi
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:

#5044 Storing revision and not artefact cache version in release file
  lib/functions/bsp/armbian-bsp-cli-deb.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:

#5034 Changing Debian Bookworm to supported
  config/distributions/bookworm/support
Labels: Ready :arrow_right:, Maintenance :recycle:

#5042 appgroup/office: add libreoffice-gtk3 for ime support
  config/desktop/bullseye/appgroups/office/packages
  config/desktop/buster/appgroups/office/packages
  config/desktop/focal/appgroups/office/packages
  config/desktop/sid/appgroups/office/packages
Labels: Desktop :desktop_computer:, Ready :arrow_right:

#5041 enabled kernel modules pine64 for CSI and camera drivers
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
Labels: Ready :arrow_right:, Hardware :gear:

#5033 Add xauth package that should fix RDP related issues
  config/desktop/bullseye/environments/budgie/config_base/packages
  config/desktop/bullseye/environments/cinnamon/config_base/packages
  config/desktop/bullseye/environments/kde-plasma/config_base/packages
  config/desktop/bullseye/environments/mate/config_base/packages
  config/desktop/bullseye/environments/xmonad/config_base/packages
  config/desktop/buster/environments/cinnamon/config_base/packages
  config/desktop/buster/environments/lxde/config_base/packages
  config/desktop/buster/environments/mate/config_base/packages
  config/desktop/buster/environments/xfce/config_base/packages
  config/desktop/focal/environments/budgie/config_base/packages
  config/desktop/focal/environments/cinnamon/config_base/packages
  config/desktop/focal/environments/deepin/config_base/packages
  config/desktop/focal/environments/enlightenment/config_base/packages
  config/desktop/focal/environments/i3-wm/config_base/packages
  config/desktop/focal/environments/kde-plasma/config_base/packages
  config/desktop/focal/environments/mate/config_base/packages
  config/desktop/focal/environments/xfce/config_base/packages
  config/desktop/focal/environments/xmonad/config_base/packages
  config/desktop/jammy/environments/budgie/config_base/packages
  config/desktop/jammy/environments/cinnamon/config_base/packages
  config/desktop/jammy/environments/i3-wm/config_base/packages
  config/desktop/jammy/environments/kde-plasma/config_base/packages
  config/desktop/jammy/environments/mate/config_base/packages
  config/desktop/jammy/environments/xfce/config_base/packages
  config/desktop/jammy/environments/xmonad/config_base/packages
  config/desktop/kinetic/environments/cinnamon/config_base/packages
  config/desktop/kinetic/environments/xfce/config_base/packages
  config/desktop/sid/environments/budgie/config_base/packages
  config/desktop/sid/environments/cinnamon/config_base/packages
  config/desktop/sid/environments/kde-plasma/config_base/packages
  config/desktop/sid/environments/lxde/config_base/packages
  config/desktop/sid/environments/mate/config_base/packages
  config/desktop/sid/environments/xfce/config_base/packages
Labels: Desktop :desktop_computer:, Ready :arrow_right:, Bugfix :radioactive:

#5054 Remove family optimisation as they break on Debian Bookworm
  config/sources/families/mvebu64.conf
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#5058 extensions: `rkdevflash`: simplify usage of `rkdeveloptool` (on Linux)
  extensions/rkdevflash.sh
Labels: Ready :arrow_right:

#5057 extensions: add `v4l2loopback-dkms`, very similar to the `zfs` extension
  extensions/v4l2loopback-dkms.sh
Labels: Ready :arrow_right:

#5059 kernel: fix for 6.3+ linux-headers pkg due to upstream dir change
  lib/functions/compilation/kernel-debs.sh
  lib/functions/compilation/kernel-make.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:

#5052 Set maximum priority for Armbian repository
  packages/bsp/common/etc/apt/preferences.d/armbian
Labels: Ready :arrow_right:

#5063 remove apt cache in the rootfs
  lib/functions/rootfs/apt-install.sh
Labels: Ready :arrow_right:

#5069 sunxi-current: add support for Wireguard
  config/kernel/linux-sunxi-current.config
Labels: Ready :arrow_right:, Hardware :gear:

#5070 Rebuild board selection for generating official images
  .github/workflows/build-board-list.yml
Labels: Ready :arrow_right:, Software :chains:

#5078 Fix invalid packages install within families
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/sun50iw6.conf
Labels: Bugfix :radioactive:, Hardware :gear:

#5074 fix dp alt mode error log message typo
  patch/kernel/archive/rockchip64-6.1/board-pbp-add-dp-alt-mode.patch
Labels: Hardware :gear:

#5079 Bump sunxi to latest version
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:

#5081 Update odroidxu4-current to 5.4.241
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.236-237.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.237-238.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.238-239.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.240-241.patch
Labels: Hardware :gear:

#5073 fix ghproxy accelerated url
  lib/functions/general/git.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:

#5039 Add GH action to execute remote workflow on config changes
  .github/workflows/build-train.yml
Labels: Software :chains:

#5088 restore RK3308 audio mistakenly removed by 588c2ec17e709dec19304fa505…
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0008-thermal-rockchip-add-tsadc-support-for-rk3308.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0018-ASoC-codecs-Add-RK3308-internal-codec-driver.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0019-Sync-rk3308_codec-to-BSP-tree.patch
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0022-ASoC-rk3308_codec-replace-codec-to-component.patch
Labels: Hardware :gear:

#5080 Fix helios64 vdd-log supply warning
  patch/kernel/archive/rockchip64-5.15/add-board-helios64.patch
  patch/kernel/archive/rockchip64-6.1/add-board-helios64.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5083 rockchip-rk3588: add new board hinlink-h88k
  config/boards/hinlink-h88k.csc
  patch/u-boot/legacy/board_hinlink-h88k/fix_source_so_boot_scr_works.patch
  patch/u-boot/legacy/board_hinlink-h88k/uboot-hinlink-h88k-config.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5077 Duplicate swap creation in Armbian installer
  packages/bsp/common/usr/sbin/armbian-install
Labels: Ready :arrow_right:, Bugfix :radioactive:

#5096 Be more specific which packages to pin
  packages/bsp/common/etc/apt/preferences.d/armbian
Labels: Ready :arrow_right:, Bugfix :radioactive:

#5094 require Enter for all prompts at first login
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready :arrow_right:

#5093 rk3328: add patch to enabled pcm5102 DAC on I2S1 bus
  patch/kernel/archive/rockchip64-6.1/overlays-14-add-rk3328-pcm5102-dac.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5091 reduced PNG file size with optipng
  .github/armbian-logo.png
  packages/blobs/desktop/desktop-icons/armbian-config.png
  packages/blobs/desktop/desktop-icons/icon-armbian-config-penguin.png
  packages/blobs/desktop/desktop-icons/icon-menu-basic-white-square.png
  packages/blobs/desktop/desktop-icons/icon-menu-black.png
  packages/blobs/desktop/desktop-icons/icon-menu-dark-blue.png
  packages/blobs/desktop/desktop-icons/icon-menu-dark-gray.png
  packages/blobs/desktop/desktop-icons/icon-menu-green.png
  packages/blobs/desktop/desktop-icons/icon-menu-light-grey.png
  packages/blobs/desktop/desktop-icons/icon-menu-light-purple.png
  packages/blobs/desktop/desktop-icons/icon-menu-med-blue.png
  packages/blobs/desktop/desktop-icons/icon-menu-purple-plastic.png
  packages/blobs/desktop/desktop-icons/icon-menu-purple.png
  packages/blobs/desktop/desktop-icons/icon-menu-red.png
  packages/blobs/desktop/desktop-icons/icon-menu-white.png
  packages/blobs/desktop/icons/armbian.png
  packages/blobs/desktop/icons/debian.png
  packages/blobs/desktop/icons/ubuntu.png
  packages/blobs/splash/grub.png
  packages/plymouth-theme-armbian/armbian-logo.png
  packages/plymouth-theme-armbian/bullet.png
  packages/plymouth-theme-armbian/capslock.png
  packages/plymouth-theme-armbian/entry.png
  packages/plymouth-theme-armbian/keyboard.png
  packages/plymouth-theme-armbian/keymap-render.png
  packages/plymouth-theme-armbian/lock.png
Labels: Ready :arrow_right:

#5090 Fixed execution rights docker.sh
  lib/functions/host/docker.sh
Labels: Ready :arrow_right:

#5072 Disable config_ion for better compatibility with modern android containers like redroid
  config/kernel/linux-rockchip-rk3588-legacy.config
Labels: Hardware :gear:

#5095 Installing fake_vcgencmd for Pine64
  config/boards/pine64.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5101 Bump Allwinner kernels
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:, Maintenance :recycle:

#5102 fix rtl8811cu compilation for kernel 6.3
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-rtl8811cu-6.3.patch
Labels: Hardware :gear:

#5104 fix rtl8812au compilation for kernel 6.3
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-rtl8812au-6.3.patch
Labels: Hardware :gear:

#5105 fix rtl88x2bu compilation on kernel 6.3
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-rtl88x2bu-6.3.0.patch
Labels: Hardware :gear:

#5107 rk322x: bump edge kernel to 6.3
  config/sources/families/rk322x.conf
  patch/kernel/archive/rk322x-6.3/01-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rk322x-6.3/01-linux-0011-v4l2-from-list.patch
  patch/kernel/archive/rk322x-6.3/01-linux-0020-drm-from-list.patch
  patch/kernel/archive/rk322x-6.3/01-linux-1000-drm-rockchip.patch
  patch/kernel/archive/rk322x-6.3/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rk322x-6.3/01-linux-1002-for-libreelec.patch
  patch/kernel/archive/rk322x-6.3/01-linux-2000-v4l2-wip-rkvdec-hevc.patch
  patch/kernel/archive/rk322x-6.3/01-linux-2001-v4l2-wip-iep-driver.patch
  patch/kernel/archive/rk322x-6.3/012-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rk322x-6.3/012-linux-1000-export-mm_trace_rss_stat.patch
  patch/kernel/archive/rk322x-6.3/012-linux-1000-rockchip-wip.patch
  patch/kernel/archive/rk322x-6.3/02-linux-0001-add-board-makefile.patch
  patch/kernel/archive/rk322x-6.3/02-linux-0004-dtsi-adjust-nand-pinctrls.patch
  patch/kernel/archive/rk322x-6.3/02-linux-0005-drm-plane-overlay.patch
  patch/kernel/archive/rk322x-6.3/02-linux-0006-add-iep-node-for-rk322x.patch
  patch/kernel/archive/rk322x-6.3/02-linux-0007-enable-YUV-10bit-modes.patch
  patch/kernel/archive/rk322x-6.3/02-linux-0008-rk322x-analog-audio-codec.patch
  patch/kernel/archive/rk322x-6.3/02-linux-0009-rk322x-composite-mmc-clk.patch
  patch/kernel/archive/rk322x-6.3/03-0001-fix-ddr-clock-gate-add-SIP-v2-calls.patch
  patch/kernel/archive/rk322x-6.3/03-0002-add-ddr-clock-and-SIP-related-constant.patch
  patch/kernel/archive/rk322x-6.3/03-0003-extend-rockchip-dfi-driver.patch
  patch/kernel/archive/rk322x-6.3/03-0004-add-dmc-driver.patch
  patch/kernel/archive/rk322x-6.3/5000-drm-rockchip-hardware-cursor.patch
  patch/kernel/archive/rk322x-6.3/5001-experimental-drm-patch.patch.disabled
  patch/kernel/archive/rk322x-6.3/5002-prefer-8-bit-RGB-over-YCbCr.patch
  patch/kernel/archive/rk322x-6.3/board-rk322x-box.patch
  patch/kernel/archive/rk322x-6.3/general-add-overlay-compilation-support.patch
  patch/kernel/archive/rk322x-6.3/general-add-overlay-configfs.patch
  patch/kernel/archive/rk322x-6.3/general-add-overlays.patch
  patch/kernel/archive/rk322x-6.3/general-rk322x-remote-keymap.patch
  patch/kernel/archive/rk322x-6.3/wifi-4003-ssv-6051-driver.patch
  patch/kernel/archive/rk322x-6.3/wifi-4004-esp8089-kernel-driver.patch
  patch/kernel/rk322x-edge
Labels: Hardware :gear:

#5108 rockchip: bump edge kernel to 6.3
  config/sources/families/rockchip.conf
  patch/kernel/archive/rockchip-6.3/01-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rockchip-6.3/01-linux-0011-v4l2-from-list.patch
  patch/kernel/archive/rockchip-6.3/01-linux-0020-drm-from-list.patch
  patch/kernel/archive/rockchip-6.3/01-linux-1000-drm-rockchip.patch
  patch/kernel/archive/rockchip-6.3/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rockchip-6.3/01-linux-1002-for-libreelec.patch
  patch/kernel/archive/rockchip-6.3/01-linux-2000-v4l2-wip-rkvdec-hevc.patch
  patch/kernel/archive/rockchip-6.3/01-linux-2001-v4l2-wip-iep-driver.patch
  patch/kernel/archive/rockchip-6.3/1-2-regulator-act8865-add-restart-handler-for-act8846.patch
  patch/kernel/archive/rockchip-6.3/1001-dts-rk3288-miqi-Enabling-the-Mali-GPU-node.patch
  patch/kernel/archive/rockchip-6.3/1002-ARM-dts-rockchip-fix-the-regulator-s-voltage-range-o.patch
  patch/kernel/archive/rockchip-6.3/1003-ARM-dts-rockchip-add-the-MiQi-board-s-fan-definition.patch
  patch/kernel/archive/rockchip-6.3/1007-RK3288-DTSI-rk3288-Add-missing-SPI2-pinctrl.patch
  patch/kernel/archive/rockchip-6.3/1013-ARM-DTS-rk3288-tinker-Enabling-SDIO-and-Wifi.patch
  patch/kernel/archive/rockchip-6.3/1014-ARM-DTS-rk3288-tinker-Setup-the-Bluetooth-UART-pins.patch
  patch/kernel/archive/rockchip-6.3/1015-ARM-DTSI-rk3288-tinker-Improving-the-CPU-max-voltage.patch
  patch/kernel/archive/rockchip-6.3/1017-ARM-DTS-rk3288-tinker-Defined-the-I2C-interfaces.patch
  patch/kernel/archive/rockchip-6.3/1018-ARM-DTS-rk3288-tinker-Defining-the-SPI-interface.patch
  patch/kernel/archive/rockchip-6.3/1019-ARM-DTSI-rk3288-tinker-Defining-SDMMC-properties.patch
  patch/kernel/archive/rockchip-6.3/1023-dts-rk3288-support-for-dedicating-npll-to-a-vop.patch.disabled
  patch/kernel/archive/rockchip-6.3/1024-arm-dts-veyron-Added-a-flag-to-disable-cache-flush-d.patch
  patch/kernel/archive/rockchip-6.3/1025-ARM-DTSI-rk3288-disable-serial-dmas.patch
  patch/kernel/archive/rockchip-6.3/1026-arm-dtsi-rk3288-add-GPU-500-Mhz-OPP.patch
  patch/kernel/archive/rockchip-6.3/1028-enable-hevc-rga-for-tinkerboard.patch
  patch/kernel/archive/rockchip-6.3/1029-enable-hevc-rga-for-miqi.patch
  patch/kernel/archive/rockchip-6.3/2002-clk-rockchip-add-all-known-operating-points-to-the-a.patch
  patch/kernel/archive/rockchip-6.3/2005-drivers-mmc-dw-mci-rockchip-Handle-ASUS-Tinkerboard.patch
  patch/kernel/archive/rockchip-6.3/2007-drivers-wifi-ath9k-reverse-do-not-use-bulk-on-EP3-and-EP4.patch
  patch/kernel/archive/rockchip-6.3/2013-spi-Added-support-for-Tinkerboard-s-SPI-interface.patch
  patch/kernel/archive/rockchip-6.3/261_gpiomem_driver.patch
  patch/kernel/archive/rockchip-6.3/3000_DTS_rearrange_thermal_zones.patch
  patch/kernel/archive/rockchip-6.3/3001_Tinkerboard-4.19-audio.patch
  patch/kernel/archive/rockchip-6.3/3002-tinkerboard-bluetooth-serdev.patch
  patch/kernel/archive/rockchip-6.3/4016-workaround-broadcom-bt-serdev.patch
  patch/kernel/archive/rockchip-6.3/5002-prefer-8-bit-RGB-over-YCbCr.patch
  patch/kernel/archive/rockchip-6.3/RK3288-1.8GHz-and-boost.patch
  patch/kernel/archive/rockchip-6.3/brcmfmac-add-ap6330-firmware.patch
  patch/kernel/archive/rockchip-6.3/general-add-overlay-compilation-support.patch
  patch/kernel/archive/rockchip-6.3/general-add-overlays.patch
  patch/kernel/archive/rockchip-6.3/general-fix-reboot-from-kwiboo.patch
  patch/kernel/archive/rockchip-6.3/xt-q8l-v10-add-device-tree.patch
  patch/kernel/archive/rockchip-6.3/xt-q8l-v10-add-dts-makefile.patch
  patch/kernel/archive/rockchip-6.3/xt-q8l-v10-remote-keymap.patch
  patch/kernel/rockchip-edge
Labels: Hardware :gear:

#5110 fix rtl88x2cs compilation for kernel 6.3
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-rtl88x2cs-6.3.0.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5098 treat rk3566 as rk3568 to make "mkimage" work
  config/sources/families/include/rockchip64_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#5113 rockchip: fix dtbs_install step for overlays
  patch/kernel/archive/rockchip-6.3/general-add-overlay-compilation-support.patch
Labels: Hardware :gear:
