Repository armbian/build, pull requests merged in 2023-09, with the labels that each got.

#5666 Khadas Vim1s: Fix display output
  config/bootscripts/boot-meson-s4t7.cmd
Labels: Ready :arrow_right:, Hardware :gear:

#5670 feat: enable rkisp module for rockchip64
  config/kernel/linux-rockchip64-edge.config
Labels: Ready :arrow_right:, Good first issue :dart:, Hardware :gear:

#5667 K3: Build first stage bootloader before normal U-Boot
  config/sources/families/k3.conf
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#5665 `rk3568-odroid`/`edge`: bump to 6.5.y from `-rc6`; rebase all patches vs `v6.5`(.0)
  config/sources/families/rk3568-odroid.conf
  patch/kernel/archive/rk3568-odroid-6.5/board-odroidm1-spi-uart-pwm.patch
Labels: Ready :arrow_right:, Hardware :gear:, 23.11

#5664 `uefi-arm64`/`edge`: bump to 6.5.y; rebase all patches vs `v6.5`(.0); fix Phytium's stmmac patch
  config/sources/families/include/uefi_common.inc
  patch/kernel/archive/uefi-arm64-6.5/board-hikey960-usb.patch
  patch/kernel/archive/uefi-arm64-6.5/driver-phytium-stmmac-acpi.patch
  patch/kernel/uefi-arm64-edge
Labels: Ready :arrow_right:, Hardware :gear:, 23.11

#5662 `bcm2711`/`edge`: bump to RPi Foundation's 6.5.y branch; rebase all patches
  config/sources/families/bcm2711.conf
  patch/kernel/archive/bcm2711-6.5/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/archive/bcm2711-6.5/001-force-platform-selection-brcm-soc-support.disabled
  patch/kernel/archive/bcm2711-6.5/1003-remote-wakeup.patch
  patch/kernel/archive/bcm2711-6.5/2001-rename-msd.patch
  patch/kernel/bcm2711-edge
Labels: Ready :arrow_right:, Hardware :gear:, 23.11

#5661 Update odroidxu4-current to 5.4.255
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.253-254.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.254-255.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5660 Add board: HiKey960
  config/boards/hikey960.csc
  patch/kernel/archive/uefi-arm64-6.1/board-hikey960-usb.patch
  patch/kernel/archive/uefi-arm64-6.2/board-hikey960-usb.patch
  patch/kernel/archive/uefi-arm64-6.3/board-hikey960-usb.patch
  patch/kernel/archive/uefi-arm64-6.4/board-hikey960-usb.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5613 rockpro64: bump ATF to lts-2.8.8
  config/boards/rockpro64.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5673 Add support for building Rock 5A from the collabora tree
  config/boards/rock-5a.wip
Labels: Hardware :gear:

#5674 Kernel 6.5 armbian-led-state.service order
  packages/bsp/common/lib/systemd/system/armbian-led-state.service
Labels: Ready :arrow_right:

#5677 sunxi64: disable sun8i-a33-mbus module as it slows down ethernet speed on H5 and A64
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-sunxi64-legacy.config
Labels: Hardware :gear:

#5680 orangepi3b: add mainline devicetree
  patch/kernel/archive/rockchip64-6.5/dt/rk3566-orangepi-3b.dts
Labels: Ready :arrow_right:, Hardware :gear:

#5678 Allwinner: update crust to v0.6
  config/sources/families/include/crust_firmware.inc
Labels: Ready :arrow_right:, Hardware :gear:

#5685 RTW88: `linux 6.4 / 6.5 adjustments`
  patch/misc/rtw88/6.4/002-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
  patch/misc/rtw88/6.5/002-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
Labels: Ready :arrow_right:, Bugfix :radioactive:

#5701 PARTIAL REVERT: `re-add rtw88 linux-6.2 / 6.3`
  patch/misc/rtw88/6.2/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
  patch/misc/rtw88/6.3/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
Labels: Ready :arrow_right:, Bugfix :radioactive:

#5705 Bump Allwinner kernels
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:, Maintenance :recycle:

#5706 nanopir6: fix bus id of PCIe NIC
  config/boards/nanopi-r6s.conf
Labels: Hardware :gear:

#5704 Fix uwe5622 driver patch
  patch/misc/wireless-driver-for-uwe5622-park-link-v6.1-post.patch
Labels: Bugfix :radioactive:, Hardware :gear:

#5707 sunxi: remove deprecated patch
  patch/kernel/archive/sunxi-6.5/patches.megous/drm-bridge-dw-mipi-dsi-Fix-enable-disable-of-DSI-controller.patch
  patch/kernel/archive/sunxi-6.5/series.conf
  patch/kernel/archive/sunxi-6.5/series.megous
Labels: Hardware :gear:

#5703 Remove deprecated sections from Rockchip patch
  patch/kernel/archive/rk322x-6.1/01-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rockchip-6.1/01-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rockchip-6.4/01-linux-0002-rockchip-from-list.patch
  patch/kernel/media-current/00180-linux-0002-rockchip-from-list.patch
Labels: Bugfix :radioactive:, Hardware :gear:

#5709 Fixing more Rockchip broken parts in patches
  patch/kernel/archive/rk322x-6.4/01-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rockchip64-6.1/rk3399-add-dp-alt-mode.patch
  patch/kernel/archive/rockchip64-6.5/board-pbp-add-dp-alt-mode.patch
Labels: Hardware :gear:

#5708 Restore LED trigers for each ATA port indicating disk activity
  patch/kernel/archive/mvebu-6.1/91-01-libata-add-ledtrig-support.patch
  patch/kernel/archive/mvebu-6.1/91-02-Enable-ATA-port-LED-trigger.patch
Labels: Good first issue :dart:, Hardware :gear:

#5711 Update Rockchi64 edge config
  config/kernel/linux-rockchip-edge.config
  patch/kernel/archive/rk322x-6.4/01-linux-0002-rockchip-from-list.patch
Labels: Hardware :gear:

#5717 JetHome: Update /dev/serial/rs485 symlink names
  packages/bsp/jethub/jethubj100/90-jethub-rs485-aliases.rules
Labels: Ready :arrow_right:

#5718 Repository management - change control filename
  tools/repository/repo
Labels: Maintenance :recycle:

#5724 Enhance default boot partition size for installer
  packages/bsp/common/usr/sbin/armbian-install
Labels: Ready :arrow_right:, Bugfix :radioactive:

#5721 Restore LED triggers for each ATA port indicating disk activity - edge
  patch/kernel/archive/mvebu-6.2/91-01-libata-add-ledtrig-support.patch
  patch/kernel/archive/mvebu-6.2/91-02-Enable-ATA-port-LED-trigger.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5710 add xorg.conf.d/01-armbian-defaults.conf to conffiles
  lib/functions/bsp/armbian-bsp-cli-deb.sh
Labels: Ready :arrow_right:

#5669 Remove sunxi-mainline postfix from default ARM64 generic ATFDIR
  config/sources/arm64.conf
Labels: Hardware :gear:

#5728 Allwinner: bump legacy, current and edge kernels
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:

#5726 Add support for Inovato Quadra
  config/boards/inovato-quadra.csc
  patch/kernel/archive/sunxi-6.1/patches.armbian/arm64-dts-add-wifi-nodes-for-Inovato-Quadra.patch
  patch/kernel/archive/sunxi-6.1/series.armbian
  patch/kernel/archive/sunxi-6.1/series.conf
  patch/kernel/archive/sunxi-6.5/patches.armbian/arm64-dts-add-wifi-nodes-for-Inovato-Quadra.patch
  patch/kernel/archive/sunxi-6.5/series.armbian
  patch/kernel/archive/sunxi-6.5/series.conf
Labels: Hardware :gear:

#5723 Fix broken HDMI output on rk3328
  patch/kernel/archive/rockchip64-6.5/rk356x-vop2-support.patch
Labels: Hardware :gear:

#5735 RTW88: 6.5: Upstream wireless: `2023-09-23`
  patch/misc/rtw88/6.5/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
Labels: Bugfix :radioactive:

#5737 Orange Pi 3 LTS: Fix ethernet broken for some users on 6.x kernel
  patch/kernel/archive/sunxi-6.1/patches.armbian/add-initial-support-for-orangepi3-lts.patch
  patch/kernel/archive/sunxi-6.5/patches.armbian/add-initial-support-for-orangepi3-lts.patch
Labels: Hardware :gear:

#5725 `Automatic` board configs status synchronise
  .github/CODEOWNERS
Labels: Maintenance :recycle:

#5740 rockchip: bump edge kernel to 6.5
  config/kernel/linux-rockchip-edge.config
  config/sources/families/rockchip.conf
  patch/kernel/archive/rockchip-6.5/01-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rockchip-6.5/01-linux-0011-v4l2-from-list.patch
  patch/kernel/archive/rockchip-6.5/01-linux-0020-drm-from-list.patch
  patch/kernel/archive/rockchip-6.5/01-linux-1000-drm-rockchip.patch
  patch/kernel/archive/rockchip-6.5/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rockchip-6.5/01-linux-1002-for-libreelec.patch
  patch/kernel/archive/rockchip-6.5/01-linux-1003-temp-dw_hdmi-rockchip.patch
  patch/kernel/archive/rockchip-6.5/01-linux-2000-v4l2-wip-rkvdec-hevc.patch
  patch/kernel/archive/rockchip-6.5/01-linux-2001-v4l2-wip-iep-driver.patch
  patch/kernel/archive/rockchip-6.5/1-2-regulator-act8865-add-restart-handler-for-act8846.patch
  patch/kernel/archive/rockchip-6.5/1001-dts-rk3288-miqi-Enabling-the-Mali-GPU-node.patch
  patch/kernel/archive/rockchip-6.5/1002-ARM-dts-rockchip-fix-the-regulator-s-voltage-range-o.patch
  patch/kernel/archive/rockchip-6.5/1003-ARM-dts-rockchip-add-the-MiQi-board-s-fan-definition.patch
  patch/kernel/archive/rockchip-6.5/1007-RK3288-DTSI-rk3288-Add-missing-SPI2-pinctrl.patch
  patch/kernel/archive/rockchip-6.5/1013-ARM-DTS-rk3288-tinker-Enabling-SDIO-and-Wifi.patch
  patch/kernel/archive/rockchip-6.5/1014-ARM-DTS-rk3288-tinker-Setup-the-Bluetooth-UART-pins.patch
  patch/kernel/archive/rockchip-6.5/1015-ARM-DTSI-rk3288-tinker-Improving-the-CPU-max-voltage.patch
  patch/kernel/archive/rockchip-6.5/1017-ARM-DTS-rk3288-tinker-Defined-the-I2C-interfaces.patch
  patch/kernel/archive/rockchip-6.5/1018-ARM-DTS-rk3288-tinker-Defining-the-SPI-interface.patch
  patch/kernel/archive/rockchip-6.5/1019-ARM-DTSI-rk3288-tinker-Defining-SDMMC-properties.patch
  patch/kernel/archive/rockchip-6.5/1023-dts-rk3288-support-for-dedicating-npll-to-a-vop.patch.disabled
  patch/kernel/archive/rockchip-6.5/1024-arm-dts-veyron-Added-a-flag-to-disable-cache-flush-d.patch
  patch/kernel/archive/rockchip-6.5/1025-ARM-DTSI-rk3288-disable-serial-dmas.patch
  patch/kernel/archive/rockchip-6.5/1026-arm-dtsi-rk3288-add-GPU-500-Mhz-OPP.patch
  patch/kernel/archive/rockchip-6.5/1028-enable-hevc-rga-for-tinkerboard.patch
  patch/kernel/archive/rockchip-6.5/1029-enable-hevc-rga-for-miqi.patch
  patch/kernel/archive/rockchip-6.5/2002-clk-rockchip-add-all-known-operating-points-to-the-a.patch
  patch/kernel/archive/rockchip-6.5/2005-drivers-mmc-dw-mci-rockchip-Handle-ASUS-Tinkerboard.patch
  patch/kernel/archive/rockchip-6.5/2007-drivers-wifi-ath9k-reverse-do-not-use-bulk-on-EP3-and-EP4.patch
  patch/kernel/archive/rockchip-6.5/2013-spi-Added-support-for-Tinkerboard-s-SPI-interface.patch
  patch/kernel/archive/rockchip-6.5/261_gpiomem_driver.patch
  patch/kernel/archive/rockchip-6.5/3000_DTS_rearrange_thermal_zones.patch
  patch/kernel/archive/rockchip-6.5/3001_Tinkerboard-4.19-audio.patch
  patch/kernel/archive/rockchip-6.5/3002-tinkerboard-bluetooth-serdev.patch
  patch/kernel/archive/rockchip-6.5/4016-workaround-broadcom-bt-serdev.patch
  patch/kernel/archive/rockchip-6.5/RK3288-1.8GHz-and-boost.patch
  patch/kernel/archive/rockchip-6.5/brcmfmac-add-ap6330-firmware.patch
  patch/kernel/archive/rockchip-6.5/general-add-overlay-compilation-support.patch
  patch/kernel/archive/rockchip-6.5/general-add-overlays.patch
  patch/kernel/archive/rockchip-6.5/general-fix-reboot-from-kwiboo.patch
  patch/kernel/archive/rockchip-6.5/xt-q8l-v10-add-device-tree.patch
  patch/kernel/archive/rockchip-6.5/xt-q8l-v10-add-dts-makefile.patch
  patch/kernel/archive/rockchip-6.5/xt-q8l-v10-remote-keymap.patch
  patch/kernel/rockchip-edge
Labels: Ready :arrow_right:, Hardware :gear:

#5739 rockchip: enable `CONFIG_AHCI_DWC=y` to make SATA for rk356x work properly
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
Labels: Hardware :gear:

#5736 Allwinner: bump legacy, current and edge kernel
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:

#5733 rk322x: bump edge kernel to 6.5
  config/kernel/linux-rk322x-edge.config
  config/sources/families/rk322x.conf
  patch/kernel/archive/rk322x-6.5/01-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rk322x-6.5/01-linux-0011-v4l2-from-list.patch
  patch/kernel/archive/rk322x-6.5/01-linux-0020-drm-from-list.patch
  patch/kernel/archive/rk322x-6.5/01-linux-1000-drm-rockchip.patch
  patch/kernel/archive/rk322x-6.5/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rk322x-6.5/01-linux-1002-for-libreelec.patch
  patch/kernel/archive/rk322x-6.5/01-linux-1003-temp-dw_hdmi-rockchip.patch
  patch/kernel/archive/rk322x-6.5/01-linux-2000-v4l2-wip-rkvdec-hevc.patch
  patch/kernel/archive/rk322x-6.5/01-linux-2001-v4l2-wip-iep-driver.patch
  patch/kernel/archive/rk322x-6.5/012-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rk322x-6.5/012-linux-1000-export-mm_trace_rss_stat.patch
  patch/kernel/archive/rk322x-6.5/012-linux-1000-rockchip-wip.patch
  patch/kernel/archive/rk322x-6.5/02-linux-0001-add-board-makefile.patch
  patch/kernel/archive/rk322x-6.5/02-linux-0004-dtsi-adjust-nand-pinctrls.patch
  patch/kernel/archive/rk322x-6.5/02-linux-0005-drm-plane-overlay.patch
  patch/kernel/archive/rk322x-6.5/02-linux-0006-add-iep-node-for-rk322x.patch
  patch/kernel/archive/rk322x-6.5/02-linux-0007-enable-YUV-10bit-modes.patch
  patch/kernel/archive/rk322x-6.5/02-linux-0008-rk322x-analog-audio-codec.patch
  patch/kernel/archive/rk322x-6.5/02-linux-0009-rk322x-composite-mmc-clk.patch
  patch/kernel/archive/rk322x-6.5/03-0001-fix-ddr-clock-gate-add-SIP-v2-calls.patch
  patch/kernel/archive/rk322x-6.5/03-0002-add-ddr-clock-and-SIP-related-constant.patch
  patch/kernel/archive/rk322x-6.5/03-0003-extend-rockchip-dfi-driver.patch
  patch/kernel/archive/rk322x-6.5/03-0004-add-dmc-driver.patch
  patch/kernel/archive/rk322x-6.5/5000-drm-rockchip-hardware-cursor.patch
  patch/kernel/archive/rk322x-6.5/5001-experimental-drm-patch.patch.disabled
  patch/kernel/archive/rk322x-6.5/5002-prefer-8-bit-RGB-over-YCbCr.patch.disabled
  patch/kernel/archive/rk322x-6.5/board-rk322x-box.patch
  patch/kernel/archive/rk322x-6.5/general-add-overlay-compilation-support.patch
  patch/kernel/archive/rk322x-6.5/general-add-overlay-configfs.patch
  patch/kernel/archive/rk322x-6.5/general-add-overlays.patch
  patch/kernel/archive/rk322x-6.5/general-rk322x-remote-keymap.patch
  patch/kernel/archive/rk322x-6.5/wifi-4003-add-bcm43342-chip.patch
  patch/kernel/archive/rk322x-6.5/wifi-4003-ssv-6051-driver.patch
  patch/kernel/archive/rk322x-6.5/wifi-4004-esp8089-kernel-driver.patch
  patch/kernel/rk322x-edge
Labels: Hardware :gear:

#5741 `orangepi3b`: `rockchip64`/`edge` 6.5: enable uart2 (debug pins and 40-pin pins 6/8)
  patch/kernel/archive/rockchip64-6.5/dt/rk3566-orangepi-3b.dts
Labels: Hardware :gear:

#5742 `orangepi3b`: `rockchip64`/`edge` 6.5: enable i2c3 (m0) on 40 pin 27/sda and 28/scl
  patch/kernel/archive/rockchip64-6.5/dt/rk3566-orangepi-3b.dts
Labels: Hardware :gear:

#5743 `orangepi3b`: switch to Kwiboo's 23.10(-rc4) u-boot, plus patches
  config/boards/orangepi3b.csc
  patch/u-boot/v2023.10/board_orangepi3b/0001-mtd-spi-nor-Add-support-for-XMC-s-XM25QU128C.patch
  patch/u-boot/v2023.10/board_orangepi3b/0002-board-rockchip-Add-OrangePi-3B.patch
Labels: Hardware :gear:

#5745 Fix broken kernel config
  config/kernel/linux-starfive2-edge.config
Labels: Bugfix :radioactive:, Hardware :gear:, Maintenance :recycle:

#5716 Switch odroidxu4-current kernel to 6.1
  config/sources/families/odroidxu4.conf
  patch/kernel/archive/odroidxu4-6.1/0001-Reverting-headers-install-patch.patch
  patch/kernel/archive/odroidxu4-6.1/add-con11-gpiomem.patch
  patch/kernel/archive/odroidxu4-6.1/add-gpio-line-names.patch
  patch/kernel/archive/odroidxu4-6.1/fix-gpio-line-names.patch
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.52-53.patch
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.53-54.patch
  patch/kernel/odroidxu4-current
Labels: Hardware :gear:

#5746 linux-rk35xx-legacy.config: enable RK3528 support
  config/kernel/linux-rk35xx-legacy.config
Labels: Hardware :gear:

#5751 `orangepi3b`: update u-boot revision at Kwiboo, remove patches
  config/boards/orangepi3b.csc
  patch/u-boot/v2023.10/board_orangepi3b/0001-mtd-spi-nor-Add-support-for-XMC-s-XM25QU128C.patch
  patch/u-boot/v2023.10/board_orangepi3b/0002-board-rockchip-Add-OrangePi-3B.patch
Labels: Hardware :gear:

#5754 `meson64`/`edge` 6.5.y: move `meson-g12b-waveshare-cm4-io-base-b.dts` out of null patch, avoid patching Makefile
  patch/kernel/archive/meson64-6.5/add-board-waveshare-cm4-io-base-b.patch
  patch/kernel/archive/meson64-6.5/dt/meson-g12b-waveshare-cm4-io-base-b.dts
Labels: Hardware :gear:

#5755 `meson64`/`edge` 6.5.y: rebase patches against v6.5.5
  patch/kernel/archive/meson64-6.5/board-bananapism1-add-uart_A-and-AO_B.patch
  patch/kernel/archive/meson64-6.5/board-odroidc2-usb-hub-disable-autosuspend-for-Genesys-Logic-.patch
  patch/kernel/archive/meson64-6.5/general-media-cec-silence-CEC-timeout-message-HACK.patch
  patch/kernel/archive/meson64-6.5/general-spi-nor-add-support-for-XT25F128B.patch
  patch/kernel/archive/meson64-6.5/general-usb-core-improve-handling-of-hubs-with-no-ports.patch
Labels: Hardware :gear:

#5748 [WIP]orangepi3b: add bluetooth support
  config/boards/orangepi3b.csc
  patch/kernel/archive/rockchip64-6.5/dt/rk3566-orangepi-3b.dts
Labels: Hardware :gear:

#5758 sun50i H6: Fix incorrect ram detection
  patch/u-boot/u-boot-sunxi/Allwinner-Fix-incorrect-ram-size-detection-for-H6-boards.patch
  patch/u-boot/u-boot-sunxi/unreliable-dram.patch
Labels: Hardware :gear:

#5757 `rockchip64`/`edge` 6.5.y: rebase patches against v6.5.5; archeology
  patch/kernel/archive/rockchip64-6.5/board-pbp-add-dp-alt-mode.patch
  patch/kernel/archive/rockchip64-6.5/board-radxa-e25-sdmmc0-fix.patch
  patch/kernel/archive/rockchip64-6.5/board-radxa-e25-usb3-and-emmc-fix.patch
  patch/kernel/archive/rockchip64-6.5/board-rockpis-0018-ASoC-codecs-Add-RK3308-internal-codec-driver.patch
  patch/kernel/archive/rockchip64-6.5/general-add-miniDP-virtual-extcon.patch
  patch/kernel/archive/rockchip64-6.5/general-add-pll-hdmi-timings.patch
  patch/kernel/archive/rockchip64-6.5/general-add-xtx-spi-nor-chips.patch
  patch/kernel/archive/rockchip64-6.5/general-disable-mtu-validation.patch
  patch/kernel/archive/rockchip64-6.5/net-usb-r8152-add-LED-configuration-from-OF.patch
  patch/kernel/archive/rockchip64-6.5/regulator-add-fan53200-driver.patch
  patch/kernel/archive/rockchip64-6.5/rk3399-fix-usb-phy.patch
  patch/kernel/archive/rockchip64-6.5/rk3399-rp64-pcie-Reimplement-rockchip-PCIe-bus-scan-delay.patch
  patch/kernel/archive/rockchip64-6.5/rk356x-vop2-support.patch
  patch/kernel/archive/rockchip64-6.5/wifi-4003-ssv-6051-driver.patch
  patch/kernel/archive/rockchip64-6.5/wifi-4003-uwe5622-adjust-for-rockchip.patch
Labels: Hardware :gear:

#5749 `qemu-uboot-{x86,arm64}` fixes + bump to u-boot 23.10-rc4 + rework x86 patches
  config/boards/qemu-uboot-arm64.wip
  config/boards/qemu-uboot-x86.wip
  config/sources/families/include/uefi_common.inc
  patch/u-boot/u-boot-qemu-x86/0001-hack-higher-ramdisk-load-address-both-in-u-boot-source-and-bootscript.patch
  patch/u-boot/u-boot-qemu-x86/0002-x86-patch-uboot-defconfig-to-use-the-q35-machine-type-not-i440fx.patch
  patch/u-boot/u-boot-qemu-x86/0003-hack-bump-bzimage-max-size-to-45mb-from-15mb.patch
  patch/u-boot/u-boot-qemu-x86/hack_x86_ramdisk_addr_and_boot_virtio_first.patch
  patch/u-boot/u-boot-qemu-x86/use_q35_dts_for_qemu-x86_defconfig.patch
Labels: Hardware :gear:

#5761 `sunxi`/`sunxi64` `edge` 6.5.y: fix lost accreditation/description and date formats of a few patches
  patch/kernel/archive/sunxi-6.5/patches.armbian/arm-dts-sunxi-h3-h5-add_tve.patch
  patch/kernel/archive/sunxi-6.5/patches.armbian/arm64-dts-allwinner-h616-Add-device-node-for-SID.patch
  patch/kernel/archive/sunxi-6.5/patches.armbian/arm64-dts-allwinner-h616-Add-thermal-sensor-and-thermal-zones.patch
  patch/kernel/archive/sunxi-6.5/patches.armbian/drv-nvmem-sunxi_sid-Support-SID-on-H616.patch
  patch/kernel/archive/sunxi-6.5/patches.armbian/drv-thermal-sun8i_thermal-Add-for-H616.patch
Labels: Hardware :gear:

#5747 Add new rockchip cpu rk3528 and new board H28K
  config/boards/hinlink-h28k.csc
  config/sources/families/include/rockchip64_common.inc
  patch/u-boot/legacy/board_hinlink-h28k/add-h28k-defconfig.patch
  patch/u-boot/legacy/board_hinlink-h28k/add-h28k-dts.patch
  patch/u-boot/legacy/board_hinlink-h28k/fix_source_so_boot_scr_works.patch
  patch/u-boot/legacy/board_hinlink-h28k/rockchip-allow-passing-of-BL31-location-via-variable.patch
  patch/u-boot/legacy/board_hinlink-h28k/rockchip-disable-gen_bl32_node.patch
Labels: Hardware :gear:

#5760 Odroid xu4 - remove deprecated patches and update kernel config
  config/kernel/linux-odroidxu4-current.config
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.52-53.patch
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.53-54.patch
Labels: Bugfix :radioactive:, Maintenance :recycle:
