Repository armbian/build, pull requests merged in 2023-03, with the labels that each got.

#4887 Open a Jira ticket when GitHub issue is raised
  .github/workflows/open-jira-ticket.yml
Labels: Software :chains:

#4807 OLIMEX Teres-A64: Official Support
  config/boards/olimex-teres-a64.conf
  config/boards/teres-a64.csc
Labels: Hardware :gear:

#4894 Update odroidxu4-current to 5.4.233
  config/kernel/linux-odroidxu4-current.config
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.232-233.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.233-234.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4863 Bump edge-media kernel to 6.2.y
  config/sources/families/media.conf
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4902 Add Riscv64 related blobs that got lost during merge
  packages/blobs/riscv64/10-hdmi.conf
  packages/blobs/riscv64/efi-uEnv.txt
  packages/blobs/riscv64/nezha/boot0_sdcard_sun20iw1p1.bin
  packages/blobs/riscv64/nezha/u-boot.toc1
  packages/blobs/riscv64/uEnv.txt
Labels: Ready :arrow_right:

#4903 !fixup shell typo
  config/desktop/buster/environments/xfce/debian/postinst
  config/desktop/focal/environments/xfce/debian/postinst
  config/desktop/sid/environments/xfce/debian/postinst
Labels: Ready :arrow_right:

#4899 Move Odroid M1 to 6.2.y
  config/kernel/linux-rk3568-odroid-edge.config
  config/sources/families/rk3568-odroid.conf
Labels: Ready :arrow_right:, Maintenance :recycle:

#4906 Cleanup after merging too much files
  packages/blobs/riscv64/10-hdmi.conf
  packages/blobs/riscv64/efi-uEnv.txt
  packages/blobs/riscv64/uEnv.txt
Labels: Ready :arrow_right:

#4908 rockchip: fix current and edge kernel compilation
  patch/kernel/archive/rockchip-6.1/1010-ARM-DTSI-rk3288-Adding-missing-EDP-power-domain.patch
Labels: Hardware :gear:

#4914 Disable broken patch on imx6 platform
  config/kernel/linux-imx6-edge.config
  patch/kernel/archive/imx6-6.0/0008-ARM-dts-driver-imx6-udooqdl-add-arduino-manager-driv.patch.disabled
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4918 Look for bash shebang from start of the line
  .github/workflows/lint-scripts-pr.yml
Labels: Ready :arrow_right:, Bugfix :radioactive:

#4910 rk322x: fix possible crash, remove cruft and unneeded code in dmc
  patch/kernel/archive/rk322x-5.15/03-0004-add-dmc-driver.patch
  patch/kernel/archive/rk322x-6.1/03-0004-add-dmc-driver.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4911 rockchip64: enable dmc on Rock PI E board
  patch/kernel/archive/rockchip64-6.1/board-rockpi3-enable-dmc.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4919 Improve kernel security check filtering
  .github/workflows/kernel-security-analysis-pr.yml
Labels: Ready :arrow_right:, Bugfix :radioactive:, Software :chains:

#4923 fix reference to espressobin u-boot tag
  config/sources/families/mvebu64.conf
Labels: Hardware :gear:

#4926 Add (c) also to python scripts
  lib/tools/aggregation.py
  lib/tools/call-stack-analyze.py
  lib/tools/common/aggregation_utils.py
  lib/tools/common/armbian_utils.py
  lib/tools/common/md_asset_log.py
  lib/tools/common/patching_utils.py
  lib/tools/git-to-patches.py
  lib/tools/index-opensearch.py
  lib/tools/info.py
  lib/tools/json2csv.py
  lib/tools/patching.py
Labels: Ready :arrow_right:

#4930 rk3588 midstream; new BRANCH; midstream kernel and monka's config
  config/boards/rock-5b.wip
  config/kernel/linux-rockchip-rk3588-midstream.config
  config/sources/families/rockchip-rk3588.conf
Labels: Hardware :gear:

#4932 update u-boot to 2023.01 for espressobin
  config/sources/families/mvebu64.conf
  patch/u-boot/v2023.01/board_espressobin/0001-espressobin-u-boot-fit-images.patch
Labels: Hardware :gear:

#4917 fix rockchip64 6.1 patches
  config/sources/families/rk35xx.conf
  patch/kernel/archive/rockchip64-6.1/board-pbp-add-dp-alt-mode.patch
  patch/kernel/archive/rockchip64-6.1/board-rock3a-cec.patch
  patch/kernel/archive/rockchip64-6.1/board-rock3a-hdmi-sound.patch
  patch/kernel/archive/rockchip64-6.1/board-rock3a-pcie.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4936 Update export-logs.sh to use primary Armbian paste server
  lib/functions/logging/export-logs.sh
Labels: Ready :arrow_right:

#4937 add fonts-noto-cjk to desktop package list
  config/desktop/bullseye/environments/cinnamon/config_base/packages
  config/desktop/bullseye/environments/gnome/config_base/packages
  config/desktop/buster/environments/cinnamon/config_base/packages
  config/desktop/buster/environments/gnome/config_base/packages
  config/desktop/buster/environments/xfce/config_base/packages
  config/desktop/focal/environments/cinnamon/config_base/packages
  config/desktop/focal/environments/gnome/config_base/packages
  config/desktop/focal/environments/xfce/config_base/packages
  config/desktop/jammy/environments/cinnamon/config_base/packages
  config/desktop/jammy/environments/gnome/config_base/packages
  config/desktop/jammy/environments/xfce/config_base/packages
  config/desktop/kinetic/environments/cinnamon/config_base/packages
  config/desktop/kinetic/environments/xfce/config_base/packages
  config/desktop/sid/environments/cinnamon/config_base/packages
Labels: Ready :arrow_right:

#4920 Fix compilation issues with mvebu edge
  config/kernel/linux-mvebu-edge.config
  patch/kernel/archive/mvebu-6.2/0001-cpuidle-mvebu-indicate-failure-to-enter-deeper-sleep.patch
  patch/kernel/archive/mvebu-6.2/09-pci-link-retraining.patch
  patch/kernel/archive/mvebu-6.2/10-mvebu-clearfog-pcie-updates.patch
  patch/kernel/archive/mvebu-6.2/11-implement-slot-capabilities-SSPL.patch
  patch/kernel/archive/mvebu-6.2/12-net-dsa-mv88e6xxx.patch
  patch/kernel/archive/mvebu-6.2/20-pcie-bridge-emul.patch
  patch/kernel/archive/mvebu-6.2/412-ARM-dts-armada388-clearfog-emmc-on-clearfog-base.patch
  patch/kernel/archive/mvebu-6.2/91-01-libata-add-ledtrig-support.patch.disable
  patch/kernel/archive/mvebu-6.2/91-02-Enable-ATA-port-LED-trigger.patch.disabled
  patch/kernel/archive/mvebu-6.2/92-mvebu-gpio-add_wake_on_gpio_support.patch
  patch/kernel/archive/mvebu-6.2/92-mvebu-gpio-remove-hardcoded-timer-assignment.patch
  patch/kernel/archive/mvebu-6.2/94-helios4-dts-add-wake-on-lan-support.patch
  patch/kernel/archive/mvebu-6.2/compile-dtb-with-symbol-support.patch
  patch/kernel/archive/mvebu-6.2/dts-disable-spi-flash-on-a388-microsom.patch
  patch/kernel/archive/mvebu-6.2/general-increasing_DMA_block_memory_allocation_to_2048.patch
  patch/kernel/archive/mvebu-6.2/unlock_atheros_regulatory_restrictions.patch
  patch/kernel/archive/mvebu-6.2/use-1000BaseX-clearfog-switch.patch
  patch/kernel/mvebu-edge
Labels: Ready :arrow_right:, Hardware :gear:

#4939 chroot_sdcard_apt_get: don't use `-qq` for all apt operations on chroot if `SHOW_DEBUG=yes` (or `DEBUG=yes`)
  lib/functions/logging/runners.sh
Labels: Ready :arrow_right:

#4888 toggle rk3588 new legacy kernel
  config/kernel/linux-rockchip-rk3588-legacy.config
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/rockchip-rk3588.conf
  patch/kernel/rockchip-rk3588-legacy/2001-add-board-orangepi5.patch
  patch/kernel/rockchip-rk3588-legacy/2002-OrangePi5-Motorcomm-stuff-extracted-from-Xun.patch
  patch/kernel/rockchip-rk3588-legacy/2005-OrangePi5-tcpm-stuff-extracted-from-Xunlong-.patch
  patch/kernel/rockchip-rk3588-legacy/2009-Variously-HDMI-improvements-for-OPi-5.patch
  patch/kernel/rockchip-rk3588-legacy/2010-Add-sata-support-on-Orange-Pi-5.patch
  patch/kernel/rockchip-rk3588-legacy/2011-Add-missing-I2C-SPI-PWM-UART-LCD-overlays-to-OrangePi5.patch
  patch/kernel/rockchip-rk3588-legacy/2012-Add-rockchip-rk3588-opp-oc-24ghz-overlay-for-RK3588.patch
  patch/kernel/rockchip-rk3588-legacy/2013-Disable-hardware-cursor-for-Rock-5B.patch
  patch/kernel/rockchip-rk3588-legacy/2014-Add-AP6275P-overlay-for-Orange-Pi-5.patch
  patch/kernel/rockchip-rk3588-legacy/999-remove-chosen-bootargs-from-dtsi.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4941 Add support for BPI-CM4 with BPI-CM4IO
  config/boards/bananapicm4io.conf
  config/sources/families/meson-g12b.conf
  patch/kernel/archive/meson64-6.2/0001-dt-bindings-arm-amlogic-Document-the-boards-with-the.patch
  patch/kernel/archive/meson64-6.2/0002-arm64-dts-amlogic-Add-initial-support-for-BPI-CM4-mo.patch
  patch/u-boot/v2023.01/board_bananapicm4io/0001-ARM-dts-import-initial-DT-for-BPI-CM4-module-with-BP.patch
  patch/u-boot/v2023.01/board_bananapicm4io/0002-ARM-meson-Add-initial-support-for-BPI-CM4-module-wit.patch
Labels: Hardware :gear:

#4945 Add few essential packages back to the minimal image
  config/cli/common/debootstrap/packages
  config/cli/common/main/packages
Labels: Maintenance :recycle:

#4946 Add fonts-noto-color-emoji for terminal Emoji support
  config/cli/common/debootstrap/config_desktop/packages
Labels: Bugfix :radioactive:, Maintenance :recycle:

#4944 EXTRAWIFI: rtl8811cu: Repository was removed. Lets pin to new one with new commit id.
  lib/functions/compilation/patch/drivers_network.sh
Labels: Bugfix :radioactive:, Maintenance :recycle:

#4942 meson64: edge: 6.2: fixes & rebase & naming convention, after #4941
  patch/kernel/archive/meson64-6.2/0001-dt-bindings-arm-amlogic-Document-the-boards-with-the.patch
  patch/kernel/archive/meson64-6.2/add-board-bananapi-cm4-cm4io.patch
  patch/kernel/archive/meson64-6.2/add-board-bananapi-m2s-initial-support.patch
  patch/kernel/archive/meson64-6.2/add-board-radxa-zero2.patch
  patch/kernel/archive/meson64-6.2/board-bananapim5-sd-use-270-mmc-clock-phase-via-dt.patch
  patch/kernel/archive/meson64-6.2/board-odroidhc4-enable-fan1_input.patch
  patch/kernel/archive/meson64-6.2/board-odroidhc4-kernel-trip-for-cooling-map.patch
  patch/kernel/archive/meson64-6.2/board-odroidn2-add-spi-flash-enabled-dts.patch
  patch/kernel/archive/meson64-6.2/board-radxa-zero-dts-add-support-for-the-usb-c-controller.patch
  patch/kernel/archive/meson64-6.2/board-radxa-zero-dts-otg-fix.patch
  patch/kernel/archive/meson64-6.2/general-input-touchscreen-Add-D-WAV-Multitouch.patch
  patch/kernel/archive/meson64-6.2/general-meson-mmc-2-arm64-amlogic-dts-meson-update-meson-axg-device-tree.patch
  patch/kernel/archive/meson64-6.2/general-meson64-overlays.patch
  patch/kernel/archive/meson64-6.2/general-spi-nor-add-support-for-XT25F128B.patch
  patch/kernel/archive/meson64-6.2/general-usb-core-improve-handling-of-hubs-with-no-ports.patch
  patch/kernel/archive/meson64-6.2/meson-g12a-pinctrl-add-missing-ir-options.patch
  patch/kernel/archive/meson64-6.2/meson-gx-dts-add-support-for-GX-PM-and-VRTC.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4948 Enable kernel Ion system for running Android
  config/kernel/linux-rockchip-rk3588-legacy.config
Labels: Hardware :gear:

#4949 add ca-certificates to debootstrap
  config/cli/common/debootstrap/packages
  config/cli/common/main/packages
Labels: Ready :arrow_right:

#4928 Look only for bash shebang
  .github/workflows/lint-scripts-pr.yml
Labels: Ready :arrow_right:, Software :chains:

#4851 chore: add star history in README.md
  README.md
Labels: Ready :arrow_right:, Documentation

#4956 update rk35xx legacy kernel source to github
  config/sources/families/rk35xx.conf
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4963 Revert pastebin server as now primary broken
  lib/functions/logging/export-logs.sh
Labels: Ready :arrow_right:

#4964 rockchip: enable rtl8723ds kernel module
  config/kernel/linux-rockchip-current.config
  config/kernel/linux-rockchip-edge.config
Labels: Ready :arrow_right:, Hardware :gear:

#4968 Move Jetson and Pinebook Pro board tweaks to board conf file
  config/boards/jetson-nano.conf
  config/boards/pinebook-pro.conf
  config/sources/families/include/rockchip64_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#4971 aml-s9xx-box: Move board specific bsp file handling to the board config
  config/boards/aml-s9xx-box.tvb
  config/sources/families/meson-gxl.conf
Labels: Ready :arrow_right:, Hardware :gear:

#4973 Fix patch failures on meson64-current (6.1)
  patch/kernel/archive/meson64-6.1/board-bananapim5-002-switch-VDDIO_C-pin-to-OP.patch
  patch/kernel/archive/meson64-6.1/board-bananapim5-003-convert-dts-to-dtsi.patch
  patch/kernel/archive/meson64-6.1/board-radxa-zero-dts-otg-fix.patch
  patch/kernel/archive/meson64-6.1/general-arm64-dts-amlogic-Make-mmc-host-controller-interrupt.patch
  patch/kernel/archive/meson64-6.1/general-meson-mmc-1-arm64-amlogic-mmc-meson-gx-Add-core-tx-rx-eMMC-SD-SD.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4972 Cleanup: Removed two dead links (softlinks whose target doesn't exist)
  config/desktop/buster/appgroups/programming/sources
  patch/kernel/archive/sunxi-5.11/sunxi-5.12
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#4970 Bump sunxi to latest versions
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-sunxi64-legacy.config
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-5.15/patches.armbian/drv-rtc-sun6i-Add-Allwinner-H616-support.patch
  patch/kernel/archive/sunxi-6.1/patches.armbian/drv-rtc-sun6i-Add-Allwinner-H616-support.patch
  patch/kernel/archive/sunxi-6.1/series.armbian
  patch/kernel/archive/sunxi-6.1/series.conf
  patch/kernel/archive/sunxi-6.2/patches.armbian/drv-rtc-sun6i-Add-Allwinner-H616-support.patch
  patch/kernel/archive/sunxi-6.2/series.armbian
  patch/kernel/archive/sunxi-6.2/series.conf
  patch/kernel/archive/sunxi-6.2/series.megous
Labels: Ready :arrow_right:, Hardware :gear:

#4954 Fix armbian-install: fix variable $sduuid to be of format UUID=uuid
  packages/bsp/common/usr/sbin/armbian-install
Labels: Ready :arrow_right:

#4974 [ Rockchip64 ] Move board specific configs
  config/boards/clockworkpi-a06.conf
  config/boards/helios64.csc
  config/boards/khadas-edge2.wip
  config/boards/nanopi-r2c.conf
  config/boards/nanopi-r2s.conf
  config/boards/nanopim4.conf
  config/boards/nanopim4v2.conf
  config/boards/orangepi-r1plus.conf
  config/boards/orangepi4-lts.conf
  config/boards/orangepi5.conf
  config/boards/rk3318-box.tvb
  config/sources/families/include/rockchip64_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#4969 Re-enable CONFIG_ARCH_BCM2835
  config/kernel/linux-bcm2711-current.config
  config/kernel/linux-bcm2711-edge.config
Labels: Hardware :gear:

#4975 Add dialog package to the minimal images
  config/cli/common/main/packages
Labels: Ready :arrow_right:

#4978 accidentally wiped out a "fi"
  config/sources/families/include/rockchip64_common.inc
Labels: Hardware :gear:

#4983 enable btrfs on midstream kernel
  config/kernel/linux-rockchip-rk3588-midstream.config
Labels: Hardware :gear:

#4982 [ rockchip64] second round config migration
  config/boards/firefly-rk3399.conf
  config/boards/nanopct4.conf
  config/boards/nanopi-r4s.conf
  config/boards/nanopim4.conf
  config/boards/nanopim4v2.conf
  config/boards/nanopineo4.csc
  config/boards/orangepi-r1.conf
  config/boards/orangepi-r1plus-lts.conf
  config/boards/orangepi-r1plus.conf
  config/boards/orangepi-rk3399.csc
  config/boards/orangepi.eos
  config/boards/orangepi2.csc
  config/boards/orangepi3-lts.conf
  config/boards/orangepi3.conf
  config/boards/orangepi4-lts.conf
  config/boards/orangepi4.conf
  config/boards/orangepi5.conf
  config/boards/orangepilite.conf
  config/boards/orangepilite2.conf
  config/boards/orangepimini.eos
  config/boards/orangepione.conf
  config/boards/orangepioneplus.conf
  config/boards/orangepipc.conf
  config/boards/orangepipc2.conf
  config/boards/orangepipcplus.conf
  config/boards/orangepiplus.csc
  config/boards/orangepiplus2e.conf
  config/boards/orangepiprime.conf
  config/boards/orangepiwin.csc
  config/boards/orangepizero.conf
  config/boards/orangepizero2.conf
  config/boards/orangepizeroplus.conf
  config/boards/orangepizeroplus2-h3.conf
  config/boards/orangepizeroplus2-h5.csc
  config/boards/rockpi-4b.conf
  config/boards/rockpi-4c.conf
  config/boards/station-m1.conf
  config/boards/station-m2.conf
  config/boards/station-m3.conf
  config/boards/station-p1.conf
  config/boards/station-p2.conf
  config/boards/z28pro.tvb
  config/sources/families/include/rockchip64_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#4981 naming audio output names of rock5b
  config/boards/rock-5b.wip
Labels: Hardware :gear:

#4990 allwinner-boot-splash.patch: Fix sunxi uboot redefined warnings on "CONFIG_VIDEO_*"
  patch/u-boot/u-boot-sunxi/allwinner-boot-splash.patch
Labels: Ready :arrow_right:, Hardware :gear:

#4988 Naming Audios on OPi5
  config/boards/orangepi5.conf
Labels: Hardware :gear:

#4998 rockchip: bump edge kernel to 6.2
  config/kernel/linux-rockchip-edge.config
  config/sources/families/rockchip.conf
  patch/kernel/archive/rockchip-6.2/01-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rockchip-6.2/01-linux-0011-v4l2-from-list.patch
  patch/kernel/archive/rockchip-6.2/01-linux-0020-drm-from-list.patch
  patch/kernel/archive/rockchip-6.2/01-linux-1000-drm-rockchip.patch
  patch/kernel/archive/rockchip-6.2/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rockchip-6.2/01-linux-1002-for-libreelec.patch
  patch/kernel/archive/rockchip-6.2/01-linux-2000-v4l2-wip-rkvdec-hevc.patch
  patch/kernel/archive/rockchip-6.2/01-linux-2001-v4l2-wip-iep-driver.patch
  patch/kernel/archive/rockchip-6.2/1-2-regulator-act8865-add-restart-handler-for-act8846.patch
  patch/kernel/archive/rockchip-6.2/1001-dts-rk3288-miqi-Enabling-the-Mali-GPU-node.patch
  patch/kernel/archive/rockchip-6.2/1002-ARM-dts-rockchip-fix-the-regulator-s-voltage-range-o.patch
  patch/kernel/archive/rockchip-6.2/1003-ARM-dts-rockchip-add-the-MiQi-board-s-fan-definition.patch
  patch/kernel/archive/rockchip-6.2/1007-RK3288-DTSI-rk3288-Add-missing-SPI2-pinctrl.patch
  patch/kernel/archive/rockchip-6.2/1012-ARM-DTSI-rk3288-Fixed-the-SPDIF-node-address.patch
  patch/kernel/archive/rockchip-6.2/1013-ARM-DTS-rk3288-tinker-Enabling-SDIO-and-Wifi.patch
  patch/kernel/archive/rockchip-6.2/1014-ARM-DTS-rk3288-tinker-Setup-the-Bluetooth-UART-pins.patch
  patch/kernel/archive/rockchip-6.2/1015-ARM-DTSI-rk3288-tinker-Improving-the-CPU-max-voltage.patch
  patch/kernel/archive/rockchip-6.2/1017-ARM-DTS-rk3288-tinker-Defined-the-I2C-interfaces.patch
  patch/kernel/archive/rockchip-6.2/1018-ARM-DTS-rk3288-tinker-Defining-the-SPI-interface.patch
  patch/kernel/archive/rockchip-6.2/1019-ARM-DTSI-rk3288-tinker-Defining-SDMMC-properties.patch
  patch/kernel/archive/rockchip-6.2/1023-dts-rk3288-support-for-dedicating-npll-to-a-vop.patch.disabled
  patch/kernel/archive/rockchip-6.2/1024-arm-dts-veyron-Added-a-flag-to-disable-cache-flush-d.patch
  patch/kernel/archive/rockchip-6.2/1025-ARM-DTSI-rk3288-disable-serial-dmas.patch
  patch/kernel/archive/rockchip-6.2/1026-arm-dtsi-rk3288-add-GPU-500-Mhz-OPP.patch
  patch/kernel/archive/rockchip-6.2/1028-enable-hevc-rga-for-tinkerboard.patch
  patch/kernel/archive/rockchip-6.2/1029-enable-hevc-rga-for-miqi.patch
  patch/kernel/archive/rockchip-6.2/2002-clk-rockchip-add-all-known-operating-points-to-the-a.patch
  patch/kernel/archive/rockchip-6.2/2005-drivers-mmc-dw-mci-rockchip-Handle-ASUS-Tinkerboard.patch
  patch/kernel/archive/rockchip-6.2/2007-drivers-wifi-ath9k-reverse-do-not-use-bulk-on-EP3-and-EP4.patch
  patch/kernel/archive/rockchip-6.2/2013-spi-Added-support-for-Tinkerboard-s-SPI-interface.patch
  patch/kernel/archive/rockchip-6.2/261_gpiomem_driver.patch
  patch/kernel/archive/rockchip-6.2/3000_DTS_rearrange_thermal_zones.patch
  patch/kernel/archive/rockchip-6.2/3001_Tinkerboard-4.19-audio.patch
  patch/kernel/archive/rockchip-6.2/3002-tinkerboard-bluetooth-serdev.patch
  patch/kernel/archive/rockchip-6.2/4016-workaround-broadcom-bt-serdev.patch
  patch/kernel/archive/rockchip-6.2/5002-prefer-8-bit-RGB-over-YCbCr.patch
  patch/kernel/archive/rockchip-6.2/RK3288-1.8GHz-and-boost.patch
  patch/kernel/archive/rockchip-6.2/brcmfmac-add-ap6330-firmware.patch
  patch/kernel/archive/rockchip-6.2/general-add-overlay-compilation-support.patch
  patch/kernel/archive/rockchip-6.2/general-add-overlays.patch
  patch/kernel/archive/rockchip-6.2/general-fix-reboot-from-kwiboo.patch
  patch/kernel/archive/rockchip-6.2/xt-q8l-v10-add-device-tree.patch
  patch/kernel/archive/rockchip-6.2/xt-q8l-v10-add-dts-makefile.patch
  patch/kernel/archive/rockchip-6.2/xt-q8l-v10-remote-keymap.patch
  patch/kernel/rockchip-edge
Labels: Ready :arrow_right:, Hardware :gear:

#4999 rk322x: fix old emmc detection on rk322x
  patch/kernel/archive/rk322x-6.1/02-linux-0009-rk322x-fix-emmc.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5000 rockchip: put all rockchip 32 bit into uboot/v2022.04 directory
  config/kernel/linux-rk322x-current.config.defconfig
  config/kernel/linux-rk322x-edge.config.defconfig
  config/kernel/linux-rockchip-edge.config.defconfig
  config/sources/families/rk322x.conf
  config/sources/families/rockchip.conf
  patch/u-boot/v2022.04/board_rk322x-box/dtsi-add-generic-tvbox.patch
  patch/u-boot/v2022.04/board_rk322x-box/rk322x-box-add-defconfig.patch
  patch/u-boot/v2022.04/board_rk322x-box/rk322x-box-add-device-tree-makefile.patch
  patch/u-boot/v2022.04/board_rk322x-box/rk322x-box-add-device-tree.patch
  patch/u-boot/v2022.04/board_rk322x-box/rk322x-box-add-its.patch
  patch/u-boot/v2022.04/board_rk322x-box/rockchip-device-settings.patch
  patch/u-boot/v2022.04/board_rk322x-box/u-boot-1000-enable-rockchip-efuse-for-rk322x-rk3288-and-rk3328.patch
  patch/u-boot/v2022.04/board_rk322x-box/u-boot-1002-support-rockchip-gmac-rmii.patch
  patch/u-boot/v2022.04/board_rk322x-box/u-boot-1005-support-rockchip-tee-binary.patch
  patch/u-boot/v2022.04/board_rk322x-box/zzz-usbphy-clk-ehci-support.patch
  patch/u-boot/v2022.04/board_tinkerboard/0001-tinkerboard-defconfig-fix.patch
  patch/u-boot/v2022.04/board_tinkerboard/0002-tinkerboard-add-emmc.patch
  patch/u-boot/v2022.04/board_tinkerboard/0003-UMS-mode-on-otg-port.patch
  patch/u-boot/v2022.04/board_tinkerboard/0004-make-emmc-bootable.patch
  patch/u-boot/v2022.04/board_tinkerboard/add-overlay-support.patch
  patch/u-boot/v2022.04/board_xt-q8l-v10/u-boot-1000-enable-rockchip-efuse-for-rk322x-rk3288-and-rk3328.patch
  patch/u-boot/v2022.04/board_xt-q8l-v10/xt-q8l-v10-defconfig.patch
  patch/u-boot/v2022.04/board_xt-q8l-v10/xt-q8l-v10-device-tree-makefile.patch
  patch/u-boot/v2022.04/board_xt-q8l-v10/xt-q8l-v10-device-tree.patch
  patch/u-boot/v2022.04/dwc2-usb-otg-fix.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5001 rk322x: move edge kernel to 6.2
  config/kernel/linux-rk322x-edge.config
  config/sources/families/rk322x.conf
  patch/kernel/archive/rk322x-6.2/01-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rk322x-6.2/01-linux-0011-v4l2-from-list.patch
  patch/kernel/archive/rk322x-6.2/01-linux-0020-drm-from-list.patch
  patch/kernel/archive/rk322x-6.2/01-linux-1000-drm-rockchip.patch
  patch/kernel/archive/rk322x-6.2/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rk322x-6.2/01-linux-1002-for-libreelec.patch
  patch/kernel/archive/rk322x-6.2/01-linux-2000-v4l2-wip-rkvdec-hevc.patch
  patch/kernel/archive/rk322x-6.2/01-linux-2001-v4l2-wip-iep-driver.patch
  patch/kernel/archive/rk322x-6.2/012-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rk322x-6.2/012-linux-1000-export-mm_trace_rss_stat.patch
  patch/kernel/archive/rk322x-6.2/012-linux-1000-rockchip-wip.patch
  patch/kernel/archive/rk322x-6.2/02-linux-0001-add-board-makefile.patch
  patch/kernel/archive/rk322x-6.2/02-linux-0004-dtsi-adjust-nand-pinctrls.patch
  patch/kernel/archive/rk322x-6.2/02-linux-0005-drm-plane-overlay.patch
  patch/kernel/archive/rk322x-6.2/02-linux-0006-add-iep-node-for-rk322x.patch
  patch/kernel/archive/rk322x-6.2/02-linux-0007-enable-YUV-10bit-modes.patch
  patch/kernel/archive/rk322x-6.2/02-linux-0008-rk322x-analog-audio-codec.patch
  patch/kernel/archive/rk322x-6.2/02-linux-0009-rk322x-fix-emmc.patch
  patch/kernel/archive/rk322x-6.2/03-0001-fix-ddr-clock-gate-add-SIP-v2-calls.patch
  patch/kernel/archive/rk322x-6.2/03-0002-add-ddr-clock-and-SIP-related-constant.patch
  patch/kernel/archive/rk322x-6.2/03-0003-extend-rockchip-dfi-driver.patch
  patch/kernel/archive/rk322x-6.2/03-0004-add-dmc-driver.patch
  patch/kernel/archive/rk322x-6.2/5000-drm-rockchip-hardware-cursor.patch
  patch/kernel/archive/rk322x-6.2/5001-experimental-drm-patch.patch.disabled
  patch/kernel/archive/rk322x-6.2/5002-prefer-8-bit-RGB-over-YCbCr.patch
  patch/kernel/archive/rk322x-6.2/board-rk322x-box.patch
  patch/kernel/archive/rk322x-6.2/general-add-overlay-compilation-support.patch
  patch/kernel/archive/rk322x-6.2/general-add-overlay-configfs.patch
  patch/kernel/archive/rk322x-6.2/general-add-overlays.patch
  patch/kernel/archive/rk322x-6.2/general-rk322x-remote-keymap.patch
  patch/kernel/archive/rk322x-6.2/wifi-4003-ssv-6051-driver.patch
  patch/kernel/archive/rk322x-6.2/wifi-4004-esp8089-kernel-driver.patch
  patch/kernel/rk322x-edge
Labels: Ready :arrow_right:, Hardware :gear:

#4997 Bugfix: Allow to set empty cmdline params
  lib/functions/cli/utils-cli.sh
Labels: Ready :arrow_right:

#4996 meson8b: Reorganize patches
  patch/kernel/archive/meson-6.1/generic-0001-m8-m8b-m8m2-Support-HDMI.patch
  patch/kernel/archive/meson-6.1/generic-0002-m8-m8b-m8m2-drm-forcefully-enable-XRGB-format.patch
  patch/kernel/archive/meson-6.1/generic-Revert-mmc-core-Set-HS-clock-speed-before-sending-HS-CMD13.patch
  patch/kernel/archive/meson-6.1/odroidc1-dts-Enable-HDMI.patch
  patch/kernel/archive/meson-6.1/onecloud-0001-add-dts.patch
  patch/kernel/archive/meson-6.1/onecloud-0002-dts-Support-HDMI.patch
  patch/kernel/archive/meson-6.1/onecloud-usb-disable-ACA-check.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5007 Allow numbers in username
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready :arrow_right:, Bugfix :radioactive:

#5002 Update boot-sunxi.cmd
  README.md
Labels: Ready :arrow_right:, Hardware :gear:

#5009 Update sunxi and kernel configs
  config/kernel/linux-rk322x-current.config.defconfig
  config/kernel/linux-rk322x-edge.config.defconfig
  config/kernel/linux-rockchip-edge.config.defconfig
  config/kernel/linux-sunxi-current.config
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:, Maintenance :recycle:

#4891 Fix uImage build
  config/sources/amd64.conf
  config/sources/arm64.conf
  config/sources/armhf.conf
  config/sources/families/include/meson_common.inc
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/virtual.conf
  config/sources/riscv64.conf
  lib/functions/compilation/kernel-debs.sh
  lib/functions/compilation/kernel.sh
  patch/kernel/archive/meson-6.1/generate-uImage-instand-of-zImage.patch
Labels: Hardware :gear:

#5014 armbian-firstlogin: Make sure that the first charactor of username isn't number
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready :arrow_right:

#5013 Include alsa-utils in minimal cli builds
  config/cli/common/main/packages
  config/cli/common/main/packages.additional
Labels: Ready :arrow_right:, Maintenance :recycle:

#5019 Bump Allwinner kernels to latest version
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:, Maintenance :recycle:
