Repository armbian/build, pull requests merged in 2023-10, with the labels that each got.

#5779 Update VERSION
  VERSION
Labels: Ready :arrow_right:

#5777 `uefi-arm64`/`edge`: bump to 6.6-rc4
  config/sources/families/include/uefi_common.inc
  patch/kernel/archive/uefi-arm64-6.6/board-hikey960-usb.patch
  patch/kernel/archive/uefi-arm64-6.6/driver-phytium-stmmac-acpi.patch
  patch/kernel/archive/uefi-arm64-6.6/fix-stmmac-acpi-glue-for-Feiteng-on-6.6.y.patch
  patch/kernel/uefi-arm64-edge
Labels: Ready :arrow_right:, Hardware :gear:

#5773 artifact-kernel: remove spurious warning when git TTL is set
  lib/functions/artifacts/artifact-kernel.sh
Labels: Ready :arrow_right:

#5771 `nanopct4.csc`: fix missing BOARD_MAINTAINER field; remove legacy-only bsp hack since there's no legacy anymore
  config/boards/nanopct4.csc
Labels: Ready :arrow_right:, Hardware :gear:

#5769 docker (launcher): small fixes
  lib/functions/host/docker.sh
Labels: Ready :arrow_right:

#5767 `rk35xx`+`rockchip-rk3588`/`legacy`: switch to `rk-5.10-rkr6` branch
  config/sources/families/rk35xx.conf
  config/sources/families/rockchip-rk3588.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5766 base-files: add the upstream version both to the artifact_version and the reversioned; possibly fixes #5702
  lib/functions/artifacts/artifact-armbian-base-files.sh
Labels: Ready :arrow_right:

#5765 thead: add edge kernel support for LicheePi 4A
  config/boards/licheepi-4a.wip
  config/kernel/linux-thead-edge.config
  config/sources/families/thead.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5763 `Automatic` board configs status synchronise
  .github/CODEOWNERS
Labels: Ready :arrow_right:, Maintenance :recycle:

#5780 u-boot: sunxi: bumped to 2023.10
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/u-boot/u-boot-sunxi/allwinner-boot-splash.patch
Labels: Hardware :gear:

#5782 uboot: sunxi: fix compilation failure on orangepizero2 and Bigtreetech cb1
  patch/u-boot/u-boot-sunxi/board_bigtreetech-cb1/bigtreetech-cb1-dts-add-deconfig.patch
  patch/u-boot/u-boot-sunxi/board_orangepizero2/orangepizero2_light_red_led_on.patch
Labels: Hardware :gear:

#5784 meson: fix: Fail to register VCC_CORE regulator
  patch/kernel/archive/meson-6.1/generic-Revert-pwm-meson-modify-and-simplify-calculation-in-.patch
  patch/kernel/archive/meson-6.4/generic-Revert-pwm-meson-modify-and-simplify-calculation-in-.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5785 Optimize smoke testing targets
  config/boards/odroidxu4.conf
  config/boards/orangepi5-plus.conf
  config/boards/orangepi5.conf
  config/boards/orangepizero.csc
  config/boards/tinkerboard-2.csc
  config/boards/tinkerboard.conf
  config/boards/udoo.csc
  config/boards/zeropi.csc
Labels: Hardware :gear:, Maintenance :recycle:

#5793 rockchip64 edge overlay cleanup
  patch/kernel/archive/rockchip64-6.6/overlay/Makefile
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3399-dwc3-0-host.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3399-i2c7.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3399-i2c8.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3399-pcie-gen2.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3399-spi-jedec-nor.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3399-spi-spidev.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3399-uart4.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3399-w1-gpio.dts
Labels: Hardware :gear:

#5783 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/mangopi-mq.csc
Labels: Hardware :gear:, Maintenance :recycle:

#5792 Remove FA vendor patch from 6.6
  patch/kernel/archive/rockchip64-6.6/add-maker-friendlyarm.patch
Labels: Hardware :gear:

#5794 `rockchip64` + `rk3568-odroid` / `edge` 6.6: update montjoie's rk crypto v2 patches to crypto-rk3588-03-10-2023
  patch/kernel/archive/rk3568-odroid-6.6/5001-montjoie-crypto-rk35xx.patch
  patch/kernel/archive/rockchip64-6.6/rk35xx-montjoie-crypto-v2-rk35xx.patch
Labels: Hardware :gear:

#5795 `mekotronics-r58x-4g`: enable pcie3x4 and nvme boot for vendor u-boot
  config/boards/mekotronics-r58x-4g.wip
  config/sources/vendors/mekotronics/mekotronics-rk3588.hooks.sh
  patch/u-boot/legacy/u-boot-meko-rk3588/0001-use-serial-as-base-for-MAC-address-find-serial-first-then-ethaddr-add-a-lot-of-debugging.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/0002-cmd-source-fix-the-error-that-the-command-source-failed-to-execute.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/0003-rk3588_meko_defconfig-evb-sans-optee.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/0004-rk3588_meko_r58x_defconfig-and-dts-with-pci3x4-nvme-boot.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/1000-rockchip-dts-rk3588-enable-otp.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/1004-rockchip-disable-gen_bl32_node.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/1005-rockchip-allow-passing-of-BL31-location-via-variable.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5797 Khadas Vim1s: Fix monitor not detected after its turned off and on again
  patch/kernel/archive/meson-s4t7-5.4/0001-vim1s-Port-hotplug-fix-from-hdmitx21-to-hdmi_tx_20.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5799 Bump Allwinner kernels and update config with new tooling
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-sunxi64-legacy.config
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:

#5801 Update odroidxu4-current to 6.1.56
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.55-56.patch
Labels: Hardware :gear:

#5803 teres: Use crustconfig for teres instead of generic one
  config/boards/olimex-teres-a64.conf
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#5791 Use GITHUB_SOURCE to accelerate download file from github
  lib/functions/general/bat-cat.sh
  lib/functions/general/oci-oras.sh
  lib/functions/general/shellcheck.sh
  lib/tools/shellcheck.sh
  lib/tools/shellfmt.sh
Labels: Ready :arrow_right:

#5805 meson-s4t7: Add option to force 16x9 display resolution
  config/bootscripts/boot-meson-s4t7.cmd
  config/sources/families/meson-s4t7.conf
Labels: Hardware :gear:

#5809 don't break downloads if GITHUB_SOURCE is unset
  lib/functions/general/bat-cat.sh
  lib/functions/general/oci-oras.sh
  lib/functions/general/shellcheck.sh
  lib/tools/shellcheck.sh
  lib/tools/shellfmt.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:

#5811 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/khadas-vim1s.wip
  config/boards/khadas-vim4.wip
Labels: Hardware :gear:, Maintenance :recycle:

#5812 meson-s4t7: add systemd service to enable fan in automatic mode
  config/boards/khadas-vim4.wip
  config/sources/families/meson-s4t7.conf
  packages/bsp/meson-s4t7/fan.service
Labels: Ready :arrow_right:, Hardware :gear:

#5808 thead: update linux to 6.6-rc5, update opensbi binary
  config/boards/licheepi-4a.wip
  config/kernel/linux-thead-edge.config
  config/sources/families/thead.conf
  packages/blobs/riscv64/thead/fw_dynamic.bin
Labels: Ready :arrow_right:, Hardware :gear:

#5806 patch: misc: rtw88: `updates and fixes`
  patch/misc/rtw88/6.1/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
  patch/misc/rtw88/6.5/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
  patch/misc/rtw88/6.6/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
Labels: Ready :arrow_right:

#5824 mekotronics-r58x-pro.wip: add new board Mekotronics R58X-Pro
  config/boards/mekotronics-r58x-pro.wip
Labels: Ready :arrow_right:, Hardware :gear:

#5821 rockchip-rk3588: add `-Wno-error=enum-int-mismatch` to u-boot CFLAGS so it builds with gcc 13+
  config/sources/families/rockchip-rk3588.conf
Labels: Hardware :gear:

#5820 mixtile-blade3: enable pci3x4 nvme boot (requires u.2 -> m.2 adapter from blade3 case kit)
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0001-Add-Blade-3-defines.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0002-Fixed-restart-issues-with-pd-adapter.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0003-fix-power_delivery-driver-affects-adb-to-enter-loader-mode.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0004-cmd-source-fix-the-error-that-the-command-source-failed-to-execute.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0005-add-device-tree-with-sata-support.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0006-disable-optee-in-defconfig.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0007-mixtile-blade3-enable-OTP-in-defconfig.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0008-enable-nvme-pci-and-scsi-in-the-defconfig.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0009-use-serial-as-base-for-MAC-address-find-serial-first-then-ethaddr-add-a-lot-of-debugging-adapted-for-Mixtile.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0010-blade3-enable-pcie3x4.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0011-arch-arm-mach-rockchip-fix-srctree-path.patch
Labels: Hardware :gear:

#5832 odroidn2l: bump to u-boot v2023.10; boot-usb-first patch now only in board folder
  config/boards/odroidn2l.csc
  patch/u-boot/v2023.10/board_odroidn2l/meson64-boot-usb-nvme-scsi-first.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5834 Disable transmission on Debian Trixie as its not present
  config/desktop/trixie
  config/desktop/trixie/appgroups/3dsupport
  config/desktop/trixie/appgroups/browsers
  config/desktop/trixie/appgroups/chat
  config/desktop/trixie/appgroups/desktop_tools
  config/desktop/trixie/appgroups/editors
  config/desktop/trixie/appgroups/internet/packages
  config/desktop/trixie/appgroups/multimedia
  config/desktop/trixie/appgroups/office
  config/desktop/trixie/appgroups/programming
  config/desktop/trixie/appgroups/remote_desktop
  config/desktop/trixie/environments
Labels: Desktop :desktop_computer:

#5837 rockchip64 / edge 6.6: bump to 6.6-rc5; rebase patches
  config/sources/families/include/rockchip64_common.inc
  patch/kernel/archive/rockchip64-6.6/general-disable-mtu-validation.patch
  patch/kernel/archive/rockchip64-6.6/rk35xx-montjoie-crypto-v2-rk35xx.patch
Labels: Hardware :gear:

#5840 patch: uboot: v2023.07.02: bananapicm4: `nvme boot support`
  config/boards/bananapicm4io.conf
  patch/u-boot/v2023.07.02/board_bananapicm4io/0001-configs-bananapi-cm4-cm4io_defconfig-nvme-support.patch
  patch/u-boot/v2023.07.02/board_bananapicm4io/0002-HACK-include-configs-meson64-boot-target-nvme.patch
Labels: Hardware :gear:

#5846 uwe5622: Fix kernel warning for incorrect netdev-dev_addr
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-driver-for-uwe5622-fix-setting-mac-address-for-netdev.patch
Labels: Hardware :gear:

#5847 meson64 edge 6.6: bump to `6.6-rc6`; rebase patches
  config/sources/families/include/meson64_common.inc
  patch/kernel/archive/meson64-6.6/board-odroidc2-usb-hub-disable-autosuspend-for-Genesys-Logic-.patch
  patch/kernel/archive/meson64-6.6/general-hdmi-codec-reorder-channel-allocation-list.patch
  patch/kernel/archive/meson64-6.6/general-input-touchscreen-Add-D-WAV-Multitouch.patch
  patch/kernel/archive/meson64-6.6/general-usb-core-improve-handling-of-hubs-with-no-ports.patch
  patch/kernel/archive/meson64-6.6/hwmon-emc2305-fixups-for-driver.patch
Labels: Hardware :gear:

#5850 rk3568-odroid edge 6.6: bump to `6.6-rc6`
  config/sources/families/rk3568-odroid.conf
Labels: Hardware :gear:

#5849 uefi edge 6.6: bump to `6.6-rc6`; rebase patches
  config/sources/families/include/uefi_common.inc
  patch/kernel/archive/uefi-arm64-6.6/driver-phytium-stmmac-acpi.patch
  patch/kernel/archive/uefi-arm64-6.6/fix-stmmac-acpi-glue-for-Feiteng-on-6.6.y.patch
Labels: Hardware :gear:

#5848 rockchip64 edge 6.6: bump to `6.6-rc6`; rebase patches
  config/sources/families/include/rockchip64_common.inc
  patch/kernel/archive/rockchip64-6.6/board-pbp-add-dp-alt-mode.patch
Labels: Hardware :gear:

#5842 rockchip-rk3588: add `-Wno-error=address` to u-boot CFLAGS so it builds with gcc 12+
  config/sources/families/rockchip-rk3588.conf
Labels: Hardware :gear:

#5852 update compatible string for Odroid C2 Spidev
  patch/kernel/archive/meson64-6.1/board-odroidc2-enable-SPI.patch
  patch/kernel/archive/meson64-6.6/board-odroidc2-enable-SPI.patch
Labels: Hardware :gear:

#5858 Radxa Zero: `u-boot-v2023.07.02`
  config/boards/radxa-zero.conf
  patch/u-boot/v2023.07.02/board_radxa-zero/001-HACK-mmc-meson-gx-limit-to-24MHz.patch
Labels: Hardware :gear:

#5859 Radxa Zero: `set aliases for serial i2c and spi`
  patch/kernel/archive/meson64-6.1/board-radxa-zero-dts-add-aliases-for-serial-i2c-and-spi.patch
  patch/kernel/archive/meson64-6.1/board-radxa-zero-dts-add-support-for-the-usb-c-controller.patch
  patch/kernel/archive/meson64-6.1/board-radxa-zero-dts-slow-down-sdio-for-working-wifi.patch
  patch/kernel/archive/meson64-6.5/board-radxa-zero-dts-add-aliases-for-serial-i2c-and-spi.patch
  patch/kernel/archive/meson64-6.5/board-radxa-zero-dts-add-support-for-the-usb-c-controller.patch
  patch/kernel/archive/meson64-6.5/board-radxa-zero-dts-slow-down-sdio-for-working-wifi.patch
  patch/kernel/archive/meson64-6.6/board-radxa-zero-dts-add-aliases-for-serial-i2c-and-spi.patch
  patch/kernel/archive/meson64-6.6/board-radxa-zero-dts-add-support-for-the-usb-c-controller.patch
  patch/kernel/archive/meson64-6.6/board-radxa-zero-dts-slow-down-sdio-for-working-wifi.patch
Labels: Hardware :gear:

#5860 general: extra: meson64 overlays: `radxa zero`
  patch/kernel/archive/meson64-6.1/general-xtra-meson64-overlays.patch
  patch/kernel/archive/meson64-6.5/overlay/Makefile
  patch/kernel/archive/meson64-6.5/overlay/meson-g12a-radxa-zero-i2c-ao-m0-gpioao-2-gpioao-3.dts
  patch/kernel/archive/meson64-6.5/overlay/meson-g12a-radxa-zero-i2c-ee-m1-gpioh-6-gpioh-7.dts
  patch/kernel/archive/meson64-6.5/overlay/meson-g12a-radxa-zero-i2c-ee-m1-gpiox-10-gpiox-11.dts
  patch/kernel/archive/meson64-6.5/overlay/meson-g12a-radxa-zero-i2c-ee-m3-gpioa-14-gpioa-15.dts
  patch/kernel/archive/meson64-6.5/overlay/meson-g12a-radxa-zero-pwm-c-on-gpiox-8.dts
  patch/kernel/archive/meson64-6.5/overlay/meson-g12a-radxa-zero-pwmao-a-on-gpioao-11.dts
  patch/kernel/archive/meson64-6.5/overlay/meson-g12a-radxa-zero-spi-spidev.dts
  patch/kernel/archive/meson64-6.5/overlay/meson-g12a-radxa-zero-uart-ao-a-on-gpioao-0-gpioao-1.dts
  patch/kernel/archive/meson64-6.5/overlay/meson-g12a-radxa-zero-uart-ao-b-on-gpioao-2-gpioao-3.dts
  patch/kernel/archive/meson64-6.5/overlay/meson-g12a-radxa-zero-uart-ao-b-on-gpioao-8-gpioao-9.dts
  patch/kernel/archive/meson64-6.5/overlay/meson-g12a-radxa-zero-uart-ee-c.dts
  patch/kernel/archive/meson64-6.5/overlay/meson-g12b-bananapi-m2s-rtl8822cs.dts
  patch/kernel/archive/meson64-6.5/overlay/meson-sm1-bananapi-m5-rtl8822cs.dts
  patch/kernel/archive/meson64-6.6/overlay/Makefile
  patch/kernel/archive/meson64-6.6/overlay/meson-g12a-radxa-zero-i2c-ao-m0-gpioao-2-gpioao-3.dts
  patch/kernel/archive/meson64-6.6/overlay/meson-g12a-radxa-zero-i2c-ee-m1-gpioh-6-gpioh-7.dts
  patch/kernel/archive/meson64-6.6/overlay/meson-g12a-radxa-zero-i2c-ee-m1-gpiox-10-gpiox-11.dts
  patch/kernel/archive/meson64-6.6/overlay/meson-g12a-radxa-zero-i2c-ee-m3-gpioa-14-gpioa-15.dts
  patch/kernel/archive/meson64-6.6/overlay/meson-g12a-radxa-zero-pwm-c-on-gpiox-8.dts
  patch/kernel/archive/meson64-6.6/overlay/meson-g12a-radxa-zero-pwmao-a-on-gpioao-11.dts
  patch/kernel/archive/meson64-6.6/overlay/meson-g12a-radxa-zero-spi-spidev.dts
  patch/kernel/archive/meson64-6.6/overlay/meson-g12a-radxa-zero-uart-ao-a-on-gpioao-0-gpioao-1.dts
  patch/kernel/archive/meson64-6.6/overlay/meson-g12a-radxa-zero-uart-ao-b-on-gpioao-2-gpioao-3.dts
  patch/kernel/archive/meson64-6.6/overlay/meson-g12a-radxa-zero-uart-ao-b-on-gpioao-8-gpioao-9.dts
  patch/kernel/archive/meson64-6.6/overlay/meson-g12a-radxa-zero-uart-ee-c.dts
  patch/kernel/archive/meson64-6.6/overlay/meson-g12b-bananapi-m2s-rtl8822cs.dts
  patch/kernel/archive/meson64-6.6/overlay/meson-sm1-bananapi-m5-rtl8822cs.dts
Labels: Hardware :gear:

#5867 meson64 / rockchip64 / uefi / rk3568-odroid: edge 6.6: bump to 6.6-rc7; rebase/rewrite patches for 6.6-rc7
  config/sources/families/include/meson64_common.inc
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/include/uefi_common.inc
  config/sources/families/rk3568-odroid.conf
  patch/kernel/archive/meson64-6.6/board-odroidc2-enable-SPI.patch
  patch/kernel/archive/meson64-6.6/board-odroidc2-enable-scpi-dvfs.patch
  patch/kernel/archive/meson64-6.6/board-radxa-zero-dts-add-aliases-for-serial-i2c-and-spi.patch
  patch/kernel/archive/meson64-6.6/board-radxa-zero-dts-add-support-for-the-usb-c-controller.patch
  patch/kernel/archive/rk3568-odroid-6.6/5001-montjoie-crypto-rk35xx.patch
Labels: Hardware :gear:

#5866 Update Rock CM5 I/O board config
  config/boards/rock-5-cmio.csc
Labels: Hardware :gear:

#5802 Add support option to the new issues options
  .github/ISSUE_TEMPLATE/config.yml
Labels: Maintenance :recycle:, Documentation

#5876 meson64 / rockchip64 / uefi / rk3568-odroid: edge 6.6: bump to 6.6.y; rebase patches to v6.6(.0)
  config/sources/families/include/meson64_common.inc
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/include/uefi_common.inc
  config/sources/families/rk3568-odroid.conf
  patch/kernel/archive/rockchip64-6.6/add-rockchip-iep-driver.patch
  patch/kernel/archive/rockchip64-6.6/board-rockpi4-0003-arm64-dts-pcie.patch
  patch/kernel/archive/rockchip64-6.6/general-disable-mtu-validation.patch
  patch/kernel/archive/rockchip64-6.6/net-usb-r8152-add-LED-configuration-from-OF.patch
  patch/kernel/archive/rockchip64-6.6/rk3399-enable-dwc3-xhci-usb-trb-quirk.patch
  patch/kernel/archive/rockchip64-6.6/rk3399-rp64-rng.patch
  patch/kernel/archive/rockchip64-6.6/rk3399-sd-drive-level-8ma.patch
  patch/kernel/archive/rockchip64-6.6/rk3399-sd-pwr-pinctrl.patch
  patch/kernel/archive/rockchip64-6.6/rk3399-unlock-temperature.patch
  patch/kernel/archive/uefi-arm64-6.6/driver-phytium-stmmac-acpi.patch
Labels: Hardware :gear:

#5869 Update odroidxu4-current to 6.1.60
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.56-57.patch
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.57-58.patch
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.58-59.patch
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.59-60.patch
Labels: Hardware :gear:

#5877 Allwinner: bump legacy and current kernels
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-legacy.config
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:

#5878 Move two eos riscv boards to eos as they don't build
  config/boards/mangopi-mq.eos
  config/boards/nezha.eos
Labels: Hardware :gear:
