Repository armbian/build, pull requests merged in 2023-11, with the labels that each got.

#5879 thinkpad-x13s: bump to steev's `lenovo-x13s-linux-6.6.y` (currently 6.6.0)
  config/boards/thinkpad-x13s.wip
Labels: Hardware :gear:

#5880 thead: update linux to 6.6, enable on-board 8723ds
  config/kernel/linux-thead-edge.config
  config/sources/families/thead.conf
Labels: Hardware :gear:

#5882 bump xiaomi-elish to kernel 6.6
  config/boards/xiaomi-elish.conf
  patch/kernel/archive/sm8250-6.6/0001-drm-msm-dpu1-improve-support-for-active-CTLs.patch
  patch/kernel/archive/sm8250-6.6/0002-drm-msm-dpu1-use-one-active-CTL-if-it-is-available.patch
  patch/kernel/archive/sm8250-6.6/0003-drm-msm-dpu1-dpu_encoder_phys_-proper-suppor-for-act.patch
  patch/kernel/archive/sm8250-6.6/0004-dt-bindings-mfd-qcom-qca639x-add-binding-for-QCA639x.patch
  patch/kernel/archive/sm8250-6.6/0005-mfd-qca639x-add-support-for-QCA639x-powerup-sequence.patch
  patch/kernel/archive/sm8250-6.6/0006-mfd-qcom-qca639x-switch-to-platform-config-data.patch
  patch/kernel/archive/sm8250-6.6/0007-mfd-qcom-qca639x-change-qca639x-to-use-gpios-rather-.patch
  patch/kernel/archive/sm8250-6.6/0008-Bluetooth-hci_qca-reopen-serial-port-after-toggling-.patch
  patch/kernel/archive/sm8250-6.6/0009-drm-Add-drm-notifier-support.patch
  patch/kernel/archive/sm8250-6.6/0010-drm-dsi-emit-panel-turn-on-off-signal-to-touchscreen.patch
  patch/kernel/archive/sm8250-6.6/0011-Input-Add-nt36523-touchscreen-driver.patch
  patch/kernel/archive/sm8250-6.6/0012-arm64-dts-qcom-sm8250-xiaomi-elish-enable-wifi-and-b.patch
  patch/kernel/archive/sm8250-6.6/0013-arm64-dts-qcom-sm8250-xiaomi-elish-enable-touchscree.patch
  patch/kernel/archive/sm8250-6.6/0014-arm64-dts-qcom-sm8250-xiaomi-elish-Disable-slpi.patch
  patch/kernel/archive/sm8250-6.6/0015-sound-soc-qcom-sm8250-Add-tdm-support.patch
  patch/kernel/archive/sm8250-6.6/0016-arm64-dts-qcom-sm8250-xiaomi-elish-Add-sound-support.patch
  patch/kernel/archive/sm8250-6.6/0017-Asoc-wm_adsp-Add-prefix-support.patch
  patch/kernel/archive/sm8250-6.6/0018-arm64-dts-qcom-sm8250-xiaomi-elish-Add-xiaomi-keyboa.patch
  patch/kernel/archive/sm8250-6.6/0019-drm-panel-nt36523-Fix-for-kernel-6.5.patch
  patch/kernel/archive/sm8250-6.6/0020-drivers-input-misc-add-xiaomi-keyboard-vendor-driver.patch
  patch/kernel/archive/sm8250-6.6/0021-arm64-dts-qcom-sm8250-xiaomi-elish-use-vendor-keyboa.patch
  patch/kernel/archive/sm8250-6.6/0022-drivers-spmi-spmi-pmic-arb.c-remove-warnings.patch
  patch/kernel/archive/sm8250-6.6/0023-tty-serial-qcom-geni-fix-zero-dma-rx-len-in.patch
  patch/kernel/archive/sm8250-6.6/0024-Asoc-wm_adsp-Use-xiaomi-elish-firmware-name.patch
  patch/kernel/archive/sm8250-6.6/0025-input-nt36523-short-the-firmware-download-delay-from.patch
  patch/kernel/archive/sm8250-6.6/0026-Enable-non-coherent-dst-bufs-for-Venus-V4L2-driver.patch
  patch/kernel/arm64-sm8250
Labels: Hardware :gear:

#5854 add armsom-w3.wip
  config/boards/armsom-w3.wip
  patch/u-boot/legacy/u-boot-armsom-rk3588/0001-Add-ArmSoM-w3-defines.patch
  patch/u-boot/legacy/u-boot-armsom-rk3588/change-nvme-boot-order.patch
  patch/u-boot/legacy/u-boot-armsom-rk3588/fix_source_so_boot_scr_works.patch
Labels: Hardware :gear:

#5884 thinkpad-x13s edge 6.6: update .config, enable `CONFIG_JOYSTICK_*`
  config/kernel/linux-arm64-sc8280xp.config
Labels: Hardware :gear:

#5883 add v4l2 patches to rockchip64 for chromium
  patch/kernel/archive/rockchip64-6.6/media-0001-dma-mapping-let-dma_alloc_noncontiguous-allow-DMA_AT.patch
  patch/kernel/archive/rockchip64-6.6/media-0002-Enable-non-coherent-dst-bufs-for-Hantro-V4L2-driver.patch
  patch/kernel/archive/rockchip64-6.6/media-0003-Enable-non-coherent-dst-bufs-for-Rkvdec-V4L2-driver.patch
Labels: Hardware :gear:

#5892 Remove deprecated patches
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.55-56.patch
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.56-57.patch
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.57-58.patch
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.58-59.patch
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.59-60.patch
Labels: Hardware :gear:

#5888 New Armbian Wallpapers
  packages/blobs/desktop/desktop-wallpapers/armbian-1080p-evolution.jpg
  packages/blobs/desktop/desktop-wallpapers/armbian-1080p-love.jpg
  packages/blobs/desktop/desktop-wallpapers/armbian-4k-penguin-SBC.jpg
  packages/blobs/desktop/desktop-wallpapers/armbian-4k-penguin-minimalistic.jpg
Labels: Ready :arrow_right:

#5827 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/armsom-w3.csc
  config/boards/mekotronics-r58x-pro.csc
  config/boards/rock-3a.conf
Labels: Hardware :gear:, Maintenance :recycle:

#5804 Enable artifacts creation at pull request
  .github/workflows/build-artifacts-pr.yml
  .github/workflows/kernel-security-analysis-pr.yml
  .github/workflows/lint-scripts-pr.yml
Labels: Software :chains:

#5893 Bump Allwinner kernels
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:

#5902 Orange Pi R1 Plus LTS 6.1/6.6 longer boot time net tweak.
  config/boards/orangepi-r1plus-lts.conf
Labels: Hardware :gear:

#5905 bootscript: meson-s4t7: fix booting on ubuntu
  config/bootscripts/boot-meson-s4t7.cmd
Labels: Hardware :gear:

#5901 vim3: blacklist simpledrm kernel module, as it conflicts with panfrost
  config/boards/khadas-vim3.conf
Labels: Ready :arrow_right:, Good first issue :dart:, Hardware :gear:

#5896 media: fix firefly-rk3399 mini-pcie slot
  patch/kernel/media-current/00131-board-firefly-rk3399-fix-mini-pcie-usb2.patch.patch
  patch/kernel/media-edge/00131-board-firefly-rk3399-fix-mini-pcie-usb2.patch.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5895 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/nanopi-r5s.csc
Labels: Hardware :gear:, Maintenance :recycle:

#5910 For getting a PR SHA, action needs to be executed from PR
  .github/workflows/build-artifacts-pr.yml
Labels: Bugfix :radioactive:, Software :chains:, Build

#5912 Add a patch that breaks compilation of wifi driver 8723ds on a kernel 6.6
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-rtl8723ds-6.7.patch
Labels: Hardware :gear:, Build

#5914 initrd: cache: add `/etc/modprobe.d` to cache key (eg for MODULES_BLACKLIST)
  lib/functions/image/initrd.sh
Labels: Ready :arrow_right:

#5913 kernel: sunxi: disable patch that prevents host mode on otg port
  patch/kernel/archive/sunxi-6.1/series.conf
  patch/kernel/archive/sunxi-6.1/series.megous
  patch/kernel/archive/sunxi-6.6/series.conf
  patch/kernel/archive/sunxi-6.6/series.megous
Labels: Ready :arrow_right:, Hardware :gear:

#5915 collabora: update to newer tags
  config/sources/families/rockchip-rk3588.conf
  patch/kernel/rockchip-rk3588-collabora/0000.patching_config.yaml
  patch/kernel/rockchip-rk3588-collabora/dt/rk3588-nanopc-t6.dts
Labels: Hardware :gear:

#5919 Orange Pi Zero: Adding myself as maintainer
  config/boards/orangepizero.conf
Labels: Ready to merge, Hardware :gear:

#4976 Suppress locale warnings at first run when connecting via SSH
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
  packages/bsp/common/usr/lib/armbian/armbian-firstrun
Labels: Ready to merge, Bugfix, 11

#5917 config: boards: thead: enable pwm-fan support default
  config/kernel/linux-thead-legacy.config
Labels: Ready to merge, Hardware :gear:

#5865 Anonymize default build engine settings
  lib/functions/bsp/armbian-bsp-cli-deb.sh
  lib/functions/configuration/main-config.sh
  lib/functions/image/fingerprint.sh
  packages/bsp/common/etc/update-motd.d/10-armbian-header
  packages/bsp/common/usr/bin/armbianmonitor
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready to merge, Software, 11

#5920 tritium-h5: Change to using Armbian default DRAM CLK value using hook
  config/boards/tritium-h5.conf
Labels: Ready to merge, Hardware :gear:

#5922 Keep the VENDOR in motd after the update
  lib/functions/bsp/armbian-bsp-cli-deb.sh
  packages/bsp/common/etc/update-motd.d/10-armbian-header
Labels: Bugfix, 11, Needs review

#5926 Revert "Add a patch that breaks compilation of wifi driver 8723ds on a kernel 6.6 (#5912)"
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-rtl8723ds-6.7.patch
Labels: Ready to merge, Hardware :gear:

#5923 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/bananapipro.csc
  config/boards/clearfogpro.csc
  config/boards/helios4.csc
  config/boards/khadas-vim3.conf
  config/boards/khadas-vim4.wip
  config/boards/nanopiair.csc
  config/boards/odroidn2.csc
Labels: Ready to merge, Hardware :gear:, 11

#5927 patch: misc: rtw88: `6.7`
  patch/misc/rtw88/6.7/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
Labels: Ready to merge, Bugfix, 11

#5934 rk322x: update ddrbin to v1.11
  config/sources/families/rk322x.conf
  packages/blobs/rockchip/rk322x_ddr_333MHz_v1.11_2t.bin
Labels: Ready to merge, Hardware :gear:

#5933 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/bananapim2pro.csc
Labels: Hardware :gear:, Needs review

#5937 Bump kernel configs and sources for thead family
  config/kernel/linux-thead-edge.config
  config/kernel/linux-thead-legacy.config
  config/sources/families/thead.conf
Labels: Ready to merge, 11

#5936 Refresh jetson-nano board config.
  config/boards/jetson-nano.conf
  config/kernel/linux-uefi-arm64-current.config
  config/kernel/linux-uefi-arm64-edge.config
  config/modules/jetson-nano-legacy
  config/sources/families/media.conf
  extensions/grub-sbc-media.sh
  packages/blobs/jetson/asound.conf.tegrahda
  packages/blobs/jetson/asound.conf.tegrasndt210ref
  packages/blobs/jetson/boot.scr
  packages/blobs/jetson/firmware/nvidia/tegra210/vic04_ucode.bin
  packages/blobs/jetson/firmware/nvidia/tegra210/xusb.bin
  packages/blobs/jetson/jetson.sh
  packages/blobs/jetson/tegra-hda.conf
  packages/blobs/jetson/tegra-snd-t210r.conf
  packages/blobs/jetson/tegra21x_xusb_firmware
  patch/kernel/jetson-nano-legacy/packages-legacy.patch
Labels: Ready to merge, Hardware :gear:, 11

#5930 odroidxu4/current: Enable WireGuard module
  config/kernel/linux-odroidxu4-current.config
Labels: Hardware :gear:

#5928 Update rk3588-edge to 6.7-rc.1 and add support for VOP2, Crypto, HW RNG
  config/kernel/linux-rockchip-rk3588-edge.config
  config/sources/families/rockchip-rk3588.conf
  patch/kernel/rockchip-rk3588-edge/0010-fix-clk-divisions.patch
  patch/kernel/rockchip-rk3588-edge/0020-USB3-Host-Support-For-Rock5.patch
  patch/kernel/rockchip-rk3588-edge/0021-RK3588-Add-USB3-DRD-Support.patch
  patch/kernel/rockchip-rk3588-edge/0022-RK3588-Add-Cpufreq-Support.patch
  patch/kernel/rockchip-rk3588-edge/0023-Add-Initial-HDMITX-VOP2-For-RK3588.patch
  patch/kernel/rockchip-rk3588-edge/0024-RK3588-Add-Crypto-Support.patch
  patch/kernel/rockchip-rk3588-edge/0025-RK3588-Add-HW-RNG-Support.patch
  patch/kernel/rockchip-rk3588-edge/0025-arm64-dts-rockchip-rk3588-add-sfc-node.patch
  patch/kernel/rockchip-rk3588-edge/0026-Add-missing-nodes-to-Orange-Pi-5.patch
  patch/kernel/rockchip-rk3588-edge/0027-arm64-dts-Add-missing-nodes-to-Orange-Pi-5-Plus.patch
  patch/kernel/rockchip-rk3588-edge/dt/rk3588-orangepi-5-plus.dts
  patch/kernel/rockchip-rk3588-edge/dt/rk3588s-nanopi-r6s.dts
  patch/kernel/rockchip-rk3588-edge/dt/rk3588s-orangepi-5.dts
Labels: Hardware :gear:, 11

#5925 Bump rpi and ebin edge kernels to 6.6.y
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-mvebu64-edge.config
  config/sources/families/bcm2711.conf
  config/sources/families/mvebu64.conf
  patch/kernel/archive/bcm2711-6.2/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/archive/bcm2711-6.2/001-force-platform-selection-brcm-soc-support.patch
  patch/kernel/archive/bcm2711-6.2/1003-remote-wakeup.patch
  patch/kernel/archive/bcm2711-6.2/2001-rename-msd.patch
  patch/kernel/archive/bcm2711-6.3/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/archive/bcm2711-6.3/001-force-platform-selection-brcm-soc-support.disabled
  patch/kernel/archive/bcm2711-6.3/1003-remote-wakeup.patch
  patch/kernel/archive/bcm2711-6.3/2001-rename-msd.patch
  patch/kernel/bcm2711-current
  patch/kernel/bcm2711-current/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/bcm2711-current/001-force-platform-selection-brcm-soc-support.patch.disabled
  patch/kernel/bcm2711-current/1003-remote-wakeup.patch
  patch/kernel/bcm2711-current/2001-rename-msd.patch
  patch/kernel/bcm2711-edge
  patch/kernel/bcm2711-edge/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/bcm2711-edge/001-force-platform-selection-brcm-soc-support.disabled
  patch/kernel/bcm2711-edge/1003-remote-wakeup.patch
  patch/kernel/bcm2711-edge/2001-rename-msd.patch
  patch/kernel/bcm2711-legacy
  patch/kernel/bcm2711-legacy/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/bcm2711-legacy/1003-remote-wakeup.patch
  patch/kernel/bcm2711-legacy/2001-rename-msd.patch
  patch/kernel/bcm2711-legacy/2002-usb-gadget-f_mass_storage-forced-eject.patch.disabled
Labels: Ready to merge, Hardware :gear:, 11

#5916 Improve labeling system - refactor labeling logic
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/labels-from-yml.yml
  .github/workflows/pr-size-labeler.yml
  CONTRIBUTING.md
Labels: Ready to merge, 11, Software :chains:, size/medium

#5941 patch: misc: rtw88: 6.1: `6.1.63 fixups`
  patch/misc/rtw88/6.1/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
Labels: Ready to merge, Bugfix

#5929 Readme.md Improve structure, UX, and fix links to download pages
  README.md
Labels: 11, Needs review, size/small

#5943 thead: update kernel to 6.7-rc.1
  config/kernel/linux-thead-edge.config
  config/sources/families/thead.conf
Labels: Ready to merge, 11, Hardware

#5945 Allwinner: bump legacy, current and edge kernels
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-sunxi64-legacy.config
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-6.1/patches.megous/media-ov5640-Fix-sensor-probe-with-the-anti-click-patch.patch
  patch/kernel/archive/sunxi-6.6/patches.megous/media-ov5640-Don-t-powerup-the-sensor-during-driver-probe.patch
  patch/kernel/archive/sunxi-6.6/patches.megous/media-ov5640-Improve-error-reporting.patch
Labels: Ready to merge, Hardware

#5946 Add option to include home directory in the final image
  lib/functions/image/rootfs-to-image.sh
Labels: Ready to merge, 11

#5949 VIM1S/VIM4: Add bluetooth support
  config/boards/khadas-vim1s.wip
  config/boards/khadas-vim4.wip
  config/sources/families/meson-s4t7.conf
Labels: Ready to merge, 11, Hardware

#5950 Fix Rockchip current and edge kernel from compile breaking
  config/kernel/linux-media-current.config
  config/kernel/linux-rk322x-current.config
  config/kernel/linux-rk322x-edge.config
  config/kernel/linux-rockchip-current.config
  config/kernel/linux-rockchip-edge.config
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  patch/kernel/archive/rk322x-6.1/01-linux-1000-drm-rockchip.patch
  patch/kernel/archive/rk322x-6.1/012-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rk322x-6.1/03-0003-extend-rockchip-dfi-driver.patch
  patch/kernel/archive/rk322x-6.6/01-linux-1000-drm-rockchip.patch
  patch/kernel/archive/rk322x-6.6/012-linux-0002-rockchip-from-list.patch
  patch/kernel/archive/rk322x-6.6/03-0003-extend-rockchip-dfi-driver.patch
  patch/kernel/archive/rockchip-6.1/01-linux-1000-drm-rockchip.patch
  patch/kernel/archive/rockchip-6.6/01-linux-1000-drm-rockchip.patch
  patch/kernel/archive/rockchip64-6.1/rk3328-add-dmc-driver.patch
  patch/kernel/archive/rockchip64-6.6/rk3328-add-dmc-driver.patch
  patch/kernel/media-current/00183-linux-1000-drm-rockchip.patch
Labels: Bugfix, 11, Build, Needs review, size/large, Hardware

#5953 Flash-kernel: Add workaround for broken upgrade
  extensions/flash-kernel.sh
Labels: Software, Needs review

#5956 Update labels.yml - seasons to quarters
  .github/labels.yml
Labels: Ready to merge, 11

#5955 pr-size-labeler: add permissions to fix failure
  .github/workflows/pr-size-labeler.yml
Labels: Ready to merge, Software, 11

#5658 Proposed board status change
  config/boards/bananapim2pro.conf
  config/boards/bananapim3.csc
  config/boards/bananapim64.csc
  config/boards/espressobin.csc
  config/boards/firefly-rk3399.csc
  config/boards/jetson-nano.csc
  config/boards/khadas-vim1s.conf
  config/boards/khadas-vim4.conf
  config/boards/nanopi-r5s.wip
  config/boards/nanopineoplus2.csc
  config/boards/orangepi4.csc
  config/boards/orangepipc.csc
  config/boards/panther-x2.csc
  config/boards/pine64so.csc
  config/boards/rock64.csc
  config/boards/rockpi-s.csc
  config/boards/station-m1.csc
  config/boards/station-m2.csc
  config/boards/station-m3.csc
  config/boards/station-p1.csc
  config/boards/station-p2.csc
Labels: Ready to merge, 11, size/small, Hardware

#5958 Fix links to download images / supported & community maintained
  README.md
Labels: 11, Needs review, size/small

#5959 board: licheepi-4a: disable audio auto buffer
  config/boards/licheepi-4a.wip
Labels: Ready to merge, 11, Hardware

#5961 On Mantic firstrun would throw out an error to console
  packages/bsp/common/usr/lib/armbian/armbian-firstrun
Labels: Bugfix, 11, Needs review, size/small

#5960 Update odroidxu4-current to 6.1.63
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.61-62.patch
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.62-63.patch
Labels: Ready to merge, 11, Hardware

#5966 rk322x family: use run_host_command_logged() for u-boot postprocessing (so DDR blob used shows in debug logs)
  config/sources/families/rk322x.conf
Labels: Ready to merge, 11, Hardware

#5965 artifact-uboot: fix hashing for uboot_custom_postprocess old-timey non-hook
  lib/functions/artifacts/artifact-uboot.sh
Labels: Ready to merge, Bugfix, 11

#5964 armbian-kernel: enforce CONFIG_LOCALVERSION in .config as empty
  lib/functions/compilation/armbian-kernel.sh
Labels: Ready to merge, Bugfix, 11

#5963 bash: run shellfmt, no changes
  config/sources/families/include/crust_firmware.inc
  config/sources/families/meson-s4t7.conf
  extensions/initramfs-usb-gadget-ums/initramfs-usb-gadget-ums.sh
  lib/functions/configuration/main-config.sh
Labels: Ready to merge, 11, Hardware

#5968 Adjusting test targets for devices under tests
  config/boards/orangepi5-plus.conf
Labels: Work in progress, 11, size/small, Hardware

#5970 Update several test targets to optimize testing process
  config/boards/clearfogpro.csc
  config/boards/cubieboard.csc
  config/boards/cubietruck.csc
  config/boards/nanopi-r1.csc
  config/boards/nanopineo3.csc
  config/boards/orangepi-r1plus-lts.conf
  config/boards/orangepiplus2e.csc
  config/boards/orangepiprime.conf
  config/boards/rockpro64.conf
Labels: size/small, Hardware

#5969 Fix pr-size-labeler again as its still not working
  .github/workflows/pr-size-labeler.yml
Labels: Ready to merge, Software, 11

#5972 rk3318-box: Enable uboot BTRFS support
  patch/u-boot/u-boot-rockchip64/board_rk3318-box/rk3318-box-add-defconfig.patch
Labels: Ready to merge, 11, size/small, Hardware

#5938 `Automatic` board configs status synchronise
  .github/CODEOWNERS
Labels: Needs review, size/small

#5908 fix: meson-g12b: blacklist simpledrm kernel module, as it conflicts with panfrost
  config/boards/bananapicm4io.conf
  config/boards/bananapim2pro.conf
  config/boards/bananapim2s.conf
  config/boards/bananapim5.conf
  config/boards/khadas-vim3l.conf
  config/boards/odroidc4.csc
  config/boards/odroidhc4.csc
  config/boards/odroidn2.csc
  config/boards/odroidn2l.csc
  config/boards/radxa-zero.conf
  config/boards/radxa-zero2.wip
Labels: Bugfix, 11, Needs review, size/small, Hardware

#5975 vim1s: fix armbian-bsp-cli package upgrade causes boot failure
  config/sources/families/meson-s4t7.conf
Labels: Ready to merge, Bugfix, 11, size/small, Hardware

#5594 rockchip64: enable ARM_PSCI_CPUIDLE for current and edge branch
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
Labels: Ready to merge, 11, size/small, Hardware

#5974 xiaomi-elish: bump to kernel 6.7-rc2
  config/boards/xiaomi-elish.conf
  config/kernel/linux-arm64-sm8250.config
  patch/kernel/archive/sm8250-6.7/0001-drm-msm-dpu1-improve-support-for-active-CTLs.patch
  patch/kernel/archive/sm8250-6.7/0002-drm-msm-dpu1-use-one-active-CTL-if-it-is-available.patch
  patch/kernel/archive/sm8250-6.7/0003-drm-msm-dpu1-dpu_encoder_phys_-proper-suppor-for-act.patch
  patch/kernel/archive/sm8250-6.7/0004-dt-bindings-mfd-qcom-qca639x-add-binding-for-QCA639x.patch
  patch/kernel/archive/sm8250-6.7/0005-mfd-qca639x-add-support-for-QCA639x-powerup-sequence.patch
  patch/kernel/archive/sm8250-6.7/0006-mfd-qcom-qca639x-switch-to-platform-config-data.patch
  patch/kernel/archive/sm8250-6.7/0007-mfd-qcom-qca639x-change-qca639x-to-use-gpios-rather-.patch
  patch/kernel/archive/sm8250-6.7/0008-Bluetooth-hci_qca-reopen-serial-port-after-toggling-.patch
  patch/kernel/archive/sm8250-6.7/0009-drm-Add-drm-notifier-support.patch
  patch/kernel/archive/sm8250-6.7/0010-drm-dsi-emit-panel-turn-on-off-signal-to-touchscreen.patch
  patch/kernel/archive/sm8250-6.7/0011-Input-Add-nt36523-touchscreen-driver.patch
  patch/kernel/archive/sm8250-6.7/0012-arm64-dts-qcom-sm8250-xiaomi-elish-enable-wifi-and-b.patch
  patch/kernel/archive/sm8250-6.7/0013-arm64-dts-qcom-sm8250-xiaomi-elish-enable-touchscree.patch
  patch/kernel/archive/sm8250-6.7/0014-arm64-dts-qcom-sm8250-xiaomi-elish-Disable-slpi.patch
  patch/kernel/archive/sm8250-6.7/0015-sound-soc-qcom-sm8250-Add-tdm-support.patch
  patch/kernel/archive/sm8250-6.7/0016-arm64-dts-qcom-sm8250-xiaomi-elish-Add-sound-support.patch
  patch/kernel/archive/sm8250-6.7/0017-Asoc-wm_adsp-Add-prefix-support.patch
  patch/kernel/archive/sm8250-6.7/0018-arm64-dts-qcom-sm8250-xiaomi-elish-Add-xiaomi-keyboa.patch
  patch/kernel/archive/sm8250-6.7/0019-drm-panel-nt36523-Fix-for-kernel-6.5.patch
  patch/kernel/archive/sm8250-6.7/0020-drivers-spmi-spmi-pmic-arb.c-remove-warnings.patch
  patch/kernel/archive/sm8250-6.7/0021-tty-serial-qcom-geni-fix-zero-dma-rx-len-in.patch
  patch/kernel/archive/sm8250-6.7/0022-Asoc-wm_adsp-Use-xiaomi-elish-firmware-name.patch
  patch/kernel/archive/sm8250-6.7/0023-input-nt36523-short-the-firmware-download-delay-from.patch
  patch/kernel/archive/sm8250-6.7/0024-Enable-non-coherent-dst-bufs-for-Venus-V4L2-driver.patch
  patch/kernel/archive/sm8250-6.7/0025-bluetooth-fix-some-blutooth-LE-devices-not-pairing.patch
  patch/kernel/archive/sm8250-6.7/0026-arm64-dts-qcom-sm8250-xiaomi-elish-Fix-typos.patch
  patch/kernel/archive/sm8250-6.7/0027-arm64-dts-qcom-sm8250-xiaomi-elish-Add-pm8150b-type-.patch
  patch/kernel/archive/sm8250-6.7/0028-drm-msm-dsi-change-sync-mode-to-sync-on-DSI0-rather-.patch
  patch/kernel/archive/sm8250-6.7/0029-arm64-dts-qcom-sm8250-xiaomi-elish-Hook-up-type-c-fo.patch
  patch/kernel/archive/sm8250-6.7/0030-arm64-dts-qcom-sm8250-xiaomi-elish-Hook-up-usb-keybo.patch
  patch/kernel/arm64-sm8250
Labels: Ready to merge, 11, Hardware

#5979 xiaomi-elish: add typec pd support
  patch/kernel/archive/sm8250-6.7/0031-arm64-dts-qcom-sm8250-xiaomi-elish-add-tcpm-pd-suppo.patch
Labels: Ready to merge, 11, size/small, Hardware

#5981 Moved fixEtherAddr script where it belongs under /lib/udev
  packages/bsp/rockpis/etc/udev/lib/udev/fixEtherAddr
  packages/bsp/rockpis/lib/udev/fixEtherAddr
Labels: Ready to merge, Bugfix, 11, size/small

#5935 Add simple patch system as a standalone service
  lib/functions/bsp/armbian-bsp-cli-deb.sh
  lib/functions/rootfs/distro-agnostic.sh
  packages/bsp/common/etc/apt/apt.conf.d/02-armbian-preupdate
  packages/bsp/common/lib/systemd/system/armbian-live-patch.service
  packages/bsp/common/usr/lib/armbian/armbian-live-patch
Labels: Ready to merge, 11, size/medium

#5904 rockchip-rk3566:add new board JP-TVbox-3566
  config/boards/jp-tvbox-3566.tvb
  patch/kernel/archive/rockchip64-6.1/add-board-jp-tvbox-3566.patch
  patch/kernel/archive/rockchip64-6.6/dt/rk3566-jp-tvbox.dts
Labels: 11, Needs review, size/large, Hardware

#5982 `Automatic` board configs status synchronise
  .github/CODEOWNERS
Labels: Needs review, size/small

#5987 Freeze mainline kernel version for 23.11 release
  config/sources/families/imx6.conf
  config/sources/families/include/meson64_common.inc
  config/sources/families/include/meson_common.inc
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/include/uefi_common.inc
  config/sources/families/k3.conf
  config/sources/families/media.conf
  config/sources/families/mvebu.conf
  config/sources/families/mvebu64.conf
  config/sources/families/odroidxu4.conf
  config/sources/families/rk322x.conf
  config/sources/families/rk3568-odroid.conf
  config/sources/families/rockchip.conf
  config/sources/families/starfive.conf
  config/sources/families/virtual.conf
  config/sources/vendors/microsoft/wsl2.hooks.sh
Labels: Hardware

#5989 Bump version
  VERSION
Labels: Ready to merge, 02, size/small

#5983 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/khadas-vim1s.conf
  config/boards/khadas-vim3.conf
  config/boards/khadas-vim4.conf
Labels: Needs review, size/small, Hardware

#5977 armbian-kernel: don't force =`n` for `DEBUG_INFO_DWARF5` and `DEBUG_INFO_BTF`
  lib/functions/compilation/armbian-kernel.sh
Labels: Ready to merge, size/small
