Repository armbian/build, pull requests merged in 2023-06, with the labels that each got.

#5264 build uboot for rock5a with spi flash support
  config/sources/families/include/rockchip64_common.inc
Labels: Hardware :gear:

#5270 LED-green_power_on-red_status_heartbeat
  patch/kernel/archive/sunxi-6.2/patches.armbian/arm64-dts-allwinner-h616-LED-green_power_on-red_status_heartbeat.patch
  patch/kernel/archive/sunxi-6.2/series.armbian
  patch/kernel/archive/sunxi-6.2/series.conf
Labels: Ready :arrow_right:, Hardware :gear:, 23.08

#5265 This add support for RTW88 SDIO driver via patches for 6.1/6.3 kernel
  config/kernel/linux-meson64-current.config
  config/kernel/linux-meson64-edge.config
  lib/functions/compilation/patch/drivers-harness.sh
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/rtw88/6.1/001-rtw88-linux-next-backport.patch
  patch/misc/rtw88/6.1/002-rtw88-fix-rcu-lock.patch
  patch/misc/rtw88/6.1/003-rtw88-rfc.patch
  patch/misc/rtw88/6.1/004-rtw88-usb-fixes.patch
  patch/misc/rtw88/6.1/005-rtw88-mac-c-fix.patch
  patch/misc/rtw88/6.3/001-rtw88-sdio-rfc.patch
Labels: Ready :arrow_right:, Hardware :gear:, 23.08

#5263 Update README.md
  README.md
Labels: Ready :arrow_right:, 23.08

#5261 fix rockchip 32 bit families patches for kernel 6.3
  patch/kernel/archive/rk322x-6.3/01-linux-1000-drm-rockchip.patch
  patch/kernel/archive/rockchip-6.3/01-linux-1000-drm-rockchip.patch
  patch/kernel/archive/rockchip-6.3/4016-workaround-broadcom-bt-serdev.patch
Labels: Ready :arrow_right:, Hardware :gear:, 23.08

#5260 rk322x: update esp8089 driver to allow unloading
  patch/kernel/archive/rk322x-6.1/wifi-4004-esp8089-kernel-driver.patch
  patch/kernel/archive/rk322x-6.3/wifi-4004-esp8089-kernel-driver.patch
Labels: Ready :arrow_right:, Hardware :gear:, 23.08

#5273 BPI-CM4 IO: `Use the sdio-pwrseq to reset GPIOX_19`
  patch/kernel/archive/meson64-6.1/add-board-bananapi-cm4-cm4io.patch
  patch/kernel/archive/meson64-6.2/add-board-bananapi-cm4-cm4io.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5278 driver_rtl8723cs: completely (not partially) disable for `bcm2711` and `d1` families
  lib/functions/compilation/patch/drivers_network.sh
Labels: Ready :arrow_right:

#5289 pipeline: repo-reprepro: run clearvanished and check before adding to repo
  lib/tools/info/repo-reprepro.py
Labels: Ready :arrow_right:

#5288 repo: split `image` apt .list deployment into `image-early` and `image-late`
  lib/functions/main/rootfs-image.sh
  lib/functions/rootfs/create-cache.sh
  lib/functions/rootfs/distro-specific.sh
Labels: Ready :arrow_right:

#5287 prepare-host: `check_host_has_enough_disk_space()`: don't check if dir does not exist; fixes #5246
  lib/functions/host/prepare-host.sh
Labels: Ready :arrow_right:, Bugfix :radioactive:

#5286 distro-agnostic: don't assume `armbian.list` exists when `sed`ing for beta
  lib/functions/rootfs/distro-agnostic.sh
Labels: Ready :arrow_right:

#5285 `uboot`: introduce hook `post_config_uboot_target`
  lib/functions/artifacts/artifact-uboot.sh
  lib/functions/compilation/uboot.sh
Labels: Ready :arrow_right:

#5284 `rk3568-odroid` `edge`: .config, remove `ARCH_TEGRA` and `ARCH_SUNXI`, since this is Rockchip kernel
  config/kernel/linux-rk3568-odroid-edge.config
Labels: Ready :arrow_right:, Hardware :gear:

#5295 Add iw to default packages
  config/cli/common/main/packages
Labels: Ready :arrow_right:, Bugfix :radioactive:

#5297 Fix 32-bit allwinner hang issue by changing stmmac driver to be built as module
  config/kernel/linux-sunxi-current.config
Labels: Ready :arrow_right:, Hardware :gear:

#5300 remove configurations that prevent wireguard from building
  config/boards/hinlink-h88k.csc
  config/boards/nanopct6.wip
  config/boards/nanopi-r6s.wip
  config/boards/orangepi5.conf
  config/boards/panther-x2.csc
  config/boards/radxa-e25.wip
  config/boards/rock-3a.conf
  config/boards/rock-5a.wip
  config/boards/rock-5b.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5299 Update odroidxu4-current to 5.4.245
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.242-243.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.243-244.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.244-245.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5312 linux-rk3399-legacy unused, remove
  config/kernel/linux-rk3399-legacy.config
Labels: Ready :arrow_right:, Hardware :gear:

#5306 artifact-kernel: log what is the actual `${USERPATCHES_PATH}/kernel/${KERNELPATCHDIR}` so people can find it
  lib/functions/artifacts/artifact-kernel.sh
Labels: Ready :arrow_right:

#5304 pipeline: download-debs: de-hardcode path to compile.sh for downloader
  lib/tools/info/download-debs.py
Labels: Ready :arrow_right:

#5303 `armbian-gaming` customize launcher for @NicoD-SBC (v2)
  extensions/nicod-armbian-gaming.sh
Labels: Ready :arrow_right:

#5302 Update odroidxu4-current to 5.4.246
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.245-246.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5314 Update nezha.wip
  config/boards/nezha.wip
Labels: Ready :arrow_right:, Bugfix :radioactive:, Maintenance :recycle:

#5318 u-boot bpi r2 fixing broken u-boot patch
  config/sources/families/mt7623.conf
  patch/u-boot/legacy/board_bananapir2/enable-boot-from-ext4.patch
  patch/u-boot/legacy/board_bananapir2/fix-dependencies-ugly-boot.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5317 `u-boot` `espressobin` `v23.01`: fix `defconfig` patch so it applies
  patch/u-boot/v2023.01/board_espressobin/0001-espressobin-u-boot-fit-images.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5323 allwinner: bump u-boot to v2022.10
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/u-boot/u-boot-sunxi/allwinner-a10-spi-driver.patch
  patch/u-boot/u-boot-sunxi/allwinner-adjust-default-dram-clockspeeds.patch
  patch/u-boot/u-boot-sunxi/allwinner-boot-splash.patch
  patch/u-boot/u-boot-sunxi/allwinner-disable-de2-to-improve-edid-detection.patch
  patch/u-boot/u-boot-sunxi/allwinner-enable-autoboot-keyed.patch
  patch/u-boot/u-boot-sunxi/allwinner-enable-r_pio-gpio-access-h3-h5.patch
  patch/u-boot/u-boot-sunxi/allwinner-fdt-setprop-fix-unaligned-access.patch
  patch/u-boot/u-boot-sunxi/allwinner-fix-nand-spl.patch
  patch/u-boot/u-boot-sunxi/allwinner-h3-enable-power-led.patch
  patch/u-boot/u-boot-sunxi/allwinner-h3-set-safe-axi_apb-clock-dividers.patch
  patch/u-boot/u-boot-sunxi/allwinner-lower-default-DRAM-freq-A64-H5.patch
  patch/u-boot/u-boot-sunxi/allwinner-sun8i-set-machid.patch
  patch/u-boot/u-boot-sunxi/board_nanopiair/add-nanopi-air-emmc.patch
  patch/u-boot/u-boot-sunxi/board_nanopiair/adjust-small-boards-cpufreq.patch
  patch/u-boot/u-boot-sunxi/board_olimex-som-a20/GMAC_TX_DELAY_autocorrection.patch
  patch/u-boot/u-boot-sunxi/board_orangepiprime/enable-ethernet-orangepiprime.patch
  patch/u-boot/u-boot-sunxi/board_orangepizero/adjust-small-boards-cpufreq.patch
  patch/u-boot/u-boot-sunxi/board_orangepizeroplus/add-orangepi-zero-plus-pxe-support.patch
  patch/u-boot/u-boot-sunxi/board_zeropi/add-zeropi.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5324 `kernel`: wifi `driver_rtw88`: skip for `d1` family, which is lagging in 6.1.0-rcX
  lib/functions/compilation/patch/drivers_network.sh
Labels: Ready :arrow_right:

#5326 allwinner: bump current to 6.1.33
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-6.1/patches.armbian/arm-dts-sun8i-h3-fix-thermal-read.patch
  patch/kernel/archive/sunxi-6.1/patches.armbian/arm-dts-sun8i-h3-orangepizero-add_tve.patch
  patch/kernel/archive/sunxi-6.1/patches.armbian/arm64-dts-sun50i-a64-pinephone-wowlan.patch
  patch/kernel/archive/sunxi-6.1/patches.armbian/drv-rtc-sun6i-support-RTCs-without-external-LOSCs.patch
  patch/kernel/archive/sunxi-6.1/patches.megous/usb-dwc3-Add-support-for-snps-usb3-phy-reset-quirk.patch
  patch/kernel/archive/sunxi-6.1/series.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5267 Patches: add current(6.1) & edge(6.2) patch for BigTreeTech CB1
  config/boards/bigtreetech-cb1.conf
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  patch/kernel/archive/sunxi-6.1/patches.armbian/arm64-dts-overlay-sun50i-h616-bigtreetech-cb1.patch
  patch/kernel/archive/sunxi-6.1/patches.armbian/arm64-dts-sun50i-h616-bigtreetech-cb1.patch
  patch/kernel/archive/sunxi-6.1/patches.armbian/drv-pmic-add-axp313a.patch
  patch/kernel/archive/sunxi-6.1/patches.armbian/drv-rgb-add-ws2812.patch
  patch/kernel/archive/sunxi-6.1/patches.armbian/drv-staging-fbtft-add-st7796s.patch
  patch/kernel/archive/sunxi-6.1/patches.armbian/drv-touchscreen-tsc2007-polling.patch
  patch/kernel/archive/sunxi-6.1/series.armbian
  patch/kernel/archive/sunxi-6.1/series.conf
  patch/kernel/archive/sunxi-6.2/patches.armbian/arm64-dts-overlay-sun50i-h616-bigtreetech-cb1.patch
  patch/kernel/archive/sunxi-6.2/patches.armbian/arm64-dts-sun50i-h616-bigtreetech-cb1.patch
  patch/kernel/archive/sunxi-6.2/patches.armbian/drv-pmic-add-axp313a.patch
  patch/kernel/archive/sunxi-6.2/patches.armbian/drv-rgb-add-ws2812.patch
  patch/kernel/archive/sunxi-6.2/patches.armbian/drv-staging-fbtft-add-st7796s.patch
  patch/kernel/archive/sunxi-6.2/patches.armbian/drv-touchscreen-tsc2007-polling.patch
  patch/kernel/archive/sunxi-6.2/series.armbian
  patch/kernel/archive/sunxi-6.2/series.conf
  patch/u-boot/u-boot-sunxi/board_bigtreetech-cb1/allwinner-h616-fix-error-boot-from-emmc.patch
  patch/u-boot/u-boot-sunxi/board_bigtreetech-cb1/allwinner-pmic-add-support-for-AXP313a.patch
  patch/u-boot/u-boot-sunxi/board_bigtreetech-cb1/bigtreetech-cb1-PC3-eMMC-selpin-set-to-pull-down-mode.patch
  patch/u-boot/u-boot-sunxi/board_bigtreetech-cb1/bigtreetech-cb1-dts-add-deconfig.patch
Labels: Hardware :gear:

#5329 `drivers_network` `rtl8812au`: skip removal for `odroidxu4/current` so it patches OK again
  lib/functions/compilation/patch/drivers_network.sh
Labels: Ready :arrow_right:

#5321 `kernel`: drop dead code & patches from long-disabled `kernel-drivers.sh`/`drivers_network.sh` stuff
  lib/functions/compilation/patch/drivers-harness.sh
  lib/functions/compilation/patch/drivers_network.sh
  lib/functions/compilation/patch/kernel-drivers.sh
  lib/library-functions.sh
  patch/misc/0001-bootsplash.patch
  patch/misc/0002-bootsplash.patch
  patch/misc/0003-bootsplash.patch
  patch/misc/0004-bootsplash.patch
  patch/misc/0005-bootsplash.patch
  patch/misc/0006-bootsplash.patch
  patch/misc/0007-bootsplash.patch
  patch/misc/0008-bootsplash.patch
  patch/misc/0009-bootsplash.patch
  patch/misc/0010-bootsplash.patch
  patch/misc/0011-bootsplash.patch
  patch/misc/0012-bootsplash.patch
  patch/misc/bananafbtft.patch
  patch/misc/bootsplash-5.16.y-0000-Revert-fbcon-Avoid-cap-set-but-not-used-warning.patch
  patch/misc/bootsplash-5.16.y-0001-Revert-fbcon-Add-option-to-enable-legacy-hardware-ac.patch
  patch/misc/bootsplash-5.16.y-0002-Revert-Revert-fbcon-Disable-accelerated-scrolling.patch
  patch/misc/bootsplash-5.16.y-0002-Revert-vgacon-drop-unused-vga_init_done.patch
  patch/misc/bootsplash-5.16.y-0003-Revert-vgacon-remove-software-scrollback-support.patch
  patch/misc/bootsplash-5.16.y-0004-Revert-drivers-video-fbcon-fix-NULL-dereference-in-f.patch
  patch/misc/bootsplash-5.16.y-0005-Revert-fbcon-remove-no-op-fbcon_set_origin.patch
  patch/misc/bootsplash-5.16.y-0006-Revert-fbcon-remove-now-unusued-softback_lines-curso.patch
  patch/misc/bootsplash-5.16.y-0007-Revert-fbcon-remove-soft-scrollback-code.patch
  patch/misc/bootsplash-5.16.y-Revert-fbcon-Fix-accelerated-fbdev-scrolling-while-logo-is-still-shown.patch
  patch/misc/bootsplash-5.19.y-Revert-fbdev-fbcon-Properly-revert-changes-when-vc_r.patch
  patch/misc/bootsplash-5.19.y-Revert-fbdev-fbcon-release-buffer-when-fbcon_do_set.patch
  patch/misc/compiler.patch
  patch/misc/fbtft-st7789v-invert-color.patch
  patch/misc/general-kernel-python2-5.10.y.patch
  patch/misc/kali-wifi-injection-1-pre-v5.9.patch
  patch/misc/kali-wifi-injection-1-v5.9-post.patch
  patch/misc/kali-wifi-injection-2.patch
  patch/misc/kali-wifi-injection-3.patch
Labels: Ready :arrow_right:, Hardware :gear:, Software :chains:

#5337 Adjust CB1 u-boot config due to uboot bump
  patch/u-boot/u-boot-sunxi/board_bigtreetech-cb1/bigtreetech-cb1-dts-add-deconfig.patch
Labels: Hardware :gear:

#5346 Add pwm-fan support to nanopi r4s
  patch/kernel/archive/rockchip64-6.1/board-nanopi-r4s-pwmfan.patch
  patch/kernel/archive/rockchip64-6.3/board-nanopi-r4s-pwmfan.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5341 Remove deprecated KERNEL_ONLY from README.md
  README.md
Labels: Ready :arrow_right:

#5354 BananaPi CM4IO: `Upstream RTL8822CS bluetooth firmware`
  config/boards/bananapicm4io.conf
  packages/bsp/bananapicm4io/rtl_bt/rtl8822cs_config.bin
  packages/bsp/bananapicm4io/rtl_bt/rtl8822cs_fw.bin
Labels: Ready :arrow_right:, Hardware :gear:

#5351 Add support for Recore
  config/boards/recore.csc
  patch/kernel/archive/sunxi-5.15/allwinner-add-support-for-Recore-dtbs.patch
  patch/kernel/archive/sunxi-6.1/allwinner-add-support-for-Recore-dtbs.patch
  patch/u-boot/u-boot-sunxi/allwinner-add-support-for-Recore.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5349 Added "midstream" to the interactive config kernel branch selection.
  lib/functions/configuration/interactive.sh
Labels: Ready :arrow_right:

#5345 sunxi-6.1 h616 orangepi-zero2: Enable expansion board USB ports
  patch/kernel/archive/sunxi-6.1/patches.armbian/arm64-dts-allwinner-h616-orangepi-zero2-Enable-expansion-board-USB-ports.patch
  patch/kernel/archive/sunxi-6.1/series.armbian
  patch/kernel/archive/sunxi-6.1/series.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5344 sunxi-6.2 h616 orangepi-zero2: Enable expansion board USB ports
  patch/kernel/archive/sunxi-6.2/patches.armbian/arm64-dts-allwinner-h616-orangepi-zero2-Enable-expansion-board-USB-ports.patch
  patch/kernel/archive/sunxi-6.2/series.armbian
  patch/kernel/archive/sunxi-6.2/series.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5358 Bump: sunxi/64_common.inc: `linux 6.1.34`
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#5361 recore: keep stdout clean (replace `echo` with `display_alert`) - JSON pipeline requires clean stdout
  config/boards/recore.csc
Labels: Hardware :gear:

#5362 merge rockchip-rk3588-legacy and rk35xx-legacy
  config/kernel/linux-rk35xx-legacy.config
  config/kernel/linux-rockchip-rk3588-legacy.config
  config/sources/families/rockchip-rk3588.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5359 Maintainers list auto synchronise
  config/boards/orangepi4.conf
  config/boards/qemu-uboot-arm64.wip
  config/boards/qemu-uboot-x86.wip
  config/boards/radxa-e25.wip
  config/boards/station-m3.conf
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#5364 Add explaination for CRUSTCONFIG
  config/boards/README.md
Labels: Ready :arrow_right:, Hardware :gear:, Documentation

#5368 Remove deprecated patches
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.243-244.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.244-245.patch
  patch/kernel/archive/odroidxu4-5.4/patch-5.4.245-246.patch
Labels: Hardware :gear:

#5369 Bookworm xfce
  config/desktop/bookworm
  config/desktop/bookworm/appgroups/3d-mesa/packages
  config/desktop/bookworm/appgroups/accessability/packages
  config/desktop/bookworm/appgroups/desktop-tools/packages
  config/desktop/bookworm/appgroups/development/packages
  config/desktop/bookworm/appgroups/development/sources/apt/githubcli.gpg
  config/desktop/bookworm/appgroups/development/sources/apt/githubcli.source
  config/desktop/bookworm/appgroups/disk-tools/packages
  config/desktop/bookworm/appgroups/editors/packages
  config/desktop/bookworm/appgroups/file-share/packages
  config/desktop/bookworm/appgroups/graphics/packages
  config/desktop/bookworm/appgroups/internet/armbian/create_desktop_package.sh
  config/desktop/bookworm/appgroups/internet/debian/postinst
  config/desktop/bookworm/appgroups/internet/packages
  config/desktop/bookworm/appgroups/multimedia/packages
  config/desktop/bookworm/appgroups/net-tools/packages
  config/desktop/bookworm/appgroups/office/packages
  config/desktop/bookworm/appgroups/printing/packages
  config/desktop/bookworm/appgroups/remote_desktop/packages
  config/desktop/bookworm/appgroups/system-info/packages
  config/desktop/bookworm/environments/xfce/architectures
  config/desktop/bookworm/environments/xfce/armbian/create_desktop_package.sh
  config/desktop/bookworm/environments/xfce/config_base/packages
  config/desktop/bookworm/environments/xfce/config_base/packages.additional
  config/desktop/bookworm/environments/xfce/debian/postinst
  config/desktop/bookworm/environments/xfce/support
  packages/blobs/desktop/debian/xdg-xfce/autostart/parcellite-startup.desktop
  packages/blobs/desktop/debian/xdg-xfce/autostart/pasystray.desktop
  packages/blobs/desktop/debian/xdg-xfce/xfce4/desktop/icons.screen.latest.rc
  packages/blobs/desktop/debian/xdg-xfce/xfce4/desktop/icons.screen0-1904x1037.rc
  packages/blobs/desktop/debian/xdg-xfce/xfce4/panel/cpufreq-24.rc
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/displays.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xfce4-appfinder.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xfce4-taskmanager.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xfwm4.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xsettings.xml
Labels: Desktop :desktop_computer:

#5373 Revert "Bookworm xfce (#5369)"
  config/desktop/bookworm
  config/desktop/bookworm/appgroups/3d-mesa/packages
  config/desktop/bookworm/appgroups/accessability/packages
  config/desktop/bookworm/appgroups/desktop-tools/packages
  config/desktop/bookworm/appgroups/development/packages
  config/desktop/bookworm/appgroups/development/sources/apt/githubcli.gpg
  config/desktop/bookworm/appgroups/development/sources/apt/githubcli.source
  config/desktop/bookworm/appgroups/disk-tools/packages
  config/desktop/bookworm/appgroups/editors/packages
  config/desktop/bookworm/appgroups/file-share/packages
  config/desktop/bookworm/appgroups/graphics/packages
  config/desktop/bookworm/appgroups/internet/armbian/create_desktop_package.sh
  config/desktop/bookworm/appgroups/internet/debian/postinst
  config/desktop/bookworm/appgroups/internet/packages
  config/desktop/bookworm/appgroups/multimedia/packages
  config/desktop/bookworm/appgroups/net-tools/packages
  config/desktop/bookworm/appgroups/office/packages
  config/desktop/bookworm/appgroups/printing/packages
  config/desktop/bookworm/appgroups/remote_desktop/packages
  config/desktop/bookworm/appgroups/system-info/packages
  config/desktop/bookworm/environments/xfce/architectures
  config/desktop/bookworm/environments/xfce/armbian/create_desktop_package.sh
  config/desktop/bookworm/environments/xfce/config_base/packages
  config/desktop/bookworm/environments/xfce/config_base/packages.additional
  config/desktop/bookworm/environments/xfce/debian/postinst
  config/desktop/bookworm/environments/xfce/support
  packages/blobs/desktop/debian/xdg-xfce/autostart/parcellite-startup.desktop
  packages/blobs/desktop/debian/xdg-xfce/autostart/pasystray.desktop
  packages/blobs/desktop/debian/xdg-xfce/xfce4/desktop/icons.screen.latest.rc
  packages/blobs/desktop/debian/xdg-xfce/xfce4/desktop/icons.screen0-1904x1037.rc
  packages/blobs/desktop/debian/xdg-xfce/xfce4/panel/cpufreq-24.rc
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/displays.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xfce4-appfinder.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xfce4-taskmanager.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xfwm4.xml
  packages/blobs/desktop/debian/xdg-xfce/xfce4/xfconf/xfce-perchannel-xml/xsettings.xml
Labels: Desktop :desktop_computer:

#5382 handle kernel.org forks
  lib/functions/general/git-ref2info.sh
Labels: Ready :arrow_right:

#5380 patch/misc/rtw88: `wireless-next` `2023-06-22`
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/rtw88/6.1/001-rtw88-linux-next.patch
  patch/misc/rtw88/6.1/002-rtw88-linux-next.patch
  patch/misc/rtw88/6.1/003-rtw88-add-missing-unwind-goto-for_rtw_download_firmware.patch
  patch/misc/rtw88/6.1/004-rtw88-fix-action-frame-transmission-fail-before-association.patch
  patch/misc/rtw88/6.2/001-rtw88-linux-next.patch
  patch/misc/rtw88/6.2/002-rtw88-linux-next.patch
  patch/misc/rtw88/6.2/003-rtw88-add-missing-unwind-goto-for_rtw_download_firmware.patch
  patch/misc/rtw88/6.2/004-rtw88-fix-action-frame-transmission-fail-before-association.patch
  patch/misc/rtw88/6.3/001-rtw88-linux-next.patch
  patch/misc/rtw88/6.3/002-rtw88-linux-next.patch
  patch/misc/rtw88/6.3/003-rtw88-add-missing-unwind-goto-for_rtw_download_firmware.patch
  patch/misc/rtw88/6.3/004-rtw88-fix-action-frame-transmission-fail-before-association.patch
  patch/misc/rtw88/6.4/001-rtw88-add-support-for-the-RTL8723DS-SDIO-wifi-chip.patch
  patch/misc/rtw88/6.4/001-rtw88-linux-next.patch
  patch/misc/rtw88/6.4/002-rtw88-add-missing-unwind-goto-for_rtw_download_firmware.patch
  patch/misc/rtw88/6.4/002-rtw88-linux-next.patch
  patch/misc/rtw88/6.4/003-rtw88-fix-action-frame-transmission-fail-before-association.patch
Labels: Ready :arrow_right:

#5378 `cleanup-space-final-image`: keep `qcom` and `qed` firmware (for thinkpad-x13s)
  extensions/cleanup-space-final-image.sh
Labels: Ready :arrow_right:

#5377 armbian-kernel: further insist on disabling kernel debug, since DEBUG_INFO is auto-enabled by DEBUG_INFO_DWARF5 and others
  lib/functions/compilation/armbian-kernel.sh
Labels: Ready :arrow_right:

#5375 grub: add hooks, fix GRUB font & wallpaper, introduce `grub-with-dtb` extension
  config/sources/families/uefi-arm64.conf
  extensions/grub-with-dtb.sh
  extensions/grub.sh
  packages/blobs/grub/09_linux_with_dtb.sh
Labels: Ready :arrow_right:, Hardware :gear:

#5389 Add sata spi image to Orange Pi 5
  config/boards/orangepi5.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5379 sunxi-6.2 Series Fixes
  patch/kernel/archive/sunxi-6.2/patches.armbian/arm64-dts-sun50i-a64-pinephone-wowlan.patch
  patch/kernel/archive/sunxi-6.2/patches.armbian/drv-rtc-sun6i-Add-Allwinner-H616-support.patch
  patch/kernel/archive/sunxi-6.2/patches.armbian/drv-rtc-sun6i-support-RTCs-without-external-LOSCs.patch
  patch/kernel/archive/sunxi-6.2/patches.fixes/Fix-ISO-C90-forbids-mixed-declarations.patch
  patch/kernel/archive/sunxi-6.2/patches.fixes/Fix-depends-only-ARM-eInk-display-FB.patch
  patch/kernel/archive/sunxi-6.2/patches.fixes/Fix-duplicate-nodes-for-sun50i-h5-orangepi-pc2.patch
  patch/kernel/archive/sunxi-6.2/patches.fixes/Fix-warning-multi-line-comment.patch
  patch/kernel/archive/sunxi-6.2/patches.fixes/Fix-warning-unused-variable-delay_us.patch
  patch/kernel/archive/sunxi-6.2/patches.megous/power-supply-rk818-battery-Add-battery-driver-for-RK818.patch
  patch/kernel/archive/sunxi-6.2/series.armbian
  patch/kernel/archive/sunxi-6.2/series.conf
Labels: Work in progress :construction_worker:, Ready :arrow_right:, Hardware :gear:

#5392 helios4: Fix pwm patch
  patch/kernel/archive/mvebu-6.1/92-mvebu-gpio-remove-hardcoded-timer-assignment.patch
Labels: Ready :arrow_right:, Bugfix :radioactive:, Hardware :gear:

#5391 update rk3588 spl, ddr, bl31 blobs
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/rockchip-rk3588.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5397 NanoPi Duo2: enable powerbutton and ethernet
  patch/kernel/archive/sunxi-6.1/patches.armbian/arm-dts-sun8i-h3-nanopi-duo2-enable-powerbutton-and-ethernet.patch
  patch/kernel/archive/sunxi-6.1/series.armbian
  patch/kernel/archive/sunxi-6.1/series.conf
  patch/kernel/archive/sunxi-6.2/patches.armbian/arm-dts-sun8i-h3-nanopi-duo2-enable-powerbutton-and-ethernet.patch
  patch/kernel/archive/sunxi-6.2/series.armbian
  patch/kernel/archive/sunxi-6.2/series.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5394 `meson64` `edge` 6.4: bump from 6.4-rc5 tag to `linux-6.4.y` branch
  config/sources/families/include/meson64_common.inc
  patch/kernel/archive/meson64-6.4/general-meson-mmc-1-arm64-amlogic-mmc-meson-gx-Add-core-tx-rx-eMMC-SD-SD.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5399 Maintainers list auto synchronise
  config/boards/khadas-vim3.conf
Labels: Ready :arrow_right:, Hardware :gear:, Maintenance :recycle:

#5390 rename nanopi-r6s.wip to nanopi-r6s.conf
  config/boards/nanopi-r6s.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5400 Fix Orange Pi 5 uboot building issue
  config/boards/orangepi5.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5401 Add bluetooth-hciattach extension to Orange Pi 5
  config/boards/orangepi5.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5406 Revert "update rk3588 spl, ddr, bl31 blobs"
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/rockchip-rk3588.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5405 kernel drivers: introduce `KERNEL_DRIVERS_SKIP` array to allow families to skip certain kernel drivers
  config/sources/families/d1.conf
  config/sources/families/rockchip-rk3588.conf
  config/sources/families/sun50iw9-btt.conf
  lib/functions/compilation/patch/drivers-harness.sh
  lib/functions/compilation/patch/drivers_network.sh
  lib/functions/main/config-prepare.sh
Labels: Ready :arrow_right:, Hardware :gear:

#5404 artifact-uboot: hack: add rkbin blob paths to variables hashed (otherwise changes aren't picked up)
  lib/functions/artifacts/artifact-uboot.sh
Labels: Ready :arrow_right:

#5403 `meson64` `current` 6.1.y: drop patch that landed upstream in 6.1.36: `mmc: meson-gx: fix deferred probing`
  patch/kernel/archive/meson64-6.1/general-meson-gx-mmc-fix-deferred-probing.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5407 rockchip-rk3588-edge bump to 6.4 add nanopc-t6 dts
  config/boards/nanopct6.wip
  config/sources/families/rockchip-rk3588.conf
  patch/kernel/rockchip-rk3588-edge/0000.patching_config.yaml
  patch/kernel/rockchip-rk3588-edge/dt/rk3588-nanopc-t6.dts
Labels: Hardware :gear:
