Repository armbian/build, pull requests merged in 2023-12, with the labels that each got.

#5996 Network Manager: Added zz prefix to our config files so that they are always applied last
  packages/bsp/common/etc/NetworkManager/conf.d/zz-10-override-wifi-random-mac-disable.conf
  packages/bsp/common/etc/NetworkManager/conf.d/zz-20-override-wifi-powersave-disable.conf
Labels: Ready to merge, Bugfix, 02, size/small

#5998 Add two additional badges to show contributors and last commit
  README.md
Labels: Discussion, 02, Needs review, size/small

#5995 xradio: switch entirely to fifteenhex repo for xradio driver as it performs better
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-sunxi64-legacy.config
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-xradio-5.13.patch
  patch/misc/wireless-xradio-5.19.patch
  patch/misc/wireless-xradio-6.0.patch
  patch/misc/wireless-xradio-6.1.patch
  patch/misc/wireless-xradio-6.2.patch
  patch/misc/wireless-xradio-aarch64.patch
  patch/misc/wireless-xradio-code-cleanup.patch
  patch/misc/wireless-xradio-insmod-rmmod-fx.patch
  patch/misc/wireless-xradio-vmmaped-stack-fix.patch
Labels: Ready to merge, Hardware

#6001 extensions: abl: add mkbootimg to host dep
  extensions/image-output-abl.sh
Labels: Ready to merge, Software, size/small

#5994 kernel: bcm2711: Add support for RPi 5 in current and edge kernel
  config/kernel/linux-bcm2711-current.config
  config/kernel/linux-bcm2711-edge.config
Labels: Ready to merge, 02, size/large, Hardware

#6005 kernel: allwinner: bump legacy, current and edge
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-sunxi64-legacy.config
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready to merge, 02, size/small, Hardware

#6003 rk3588: edge: add vop2, hdmi support to rock5 series and fix hdmi0 reset gpio on opi5
  patch/kernel/rockchip-rk3588-edge/0026-Add-missing-nodes-to-Orange-Pi-5.patch
  patch/kernel/rockchip-rk3588-edge/0030-Add-HDMI-and-VOP2-to-Rock-5-series.patch
Labels: Ready to merge, 02, Hardware

#6002 bump rk3588 edge to rc3
  config/sources/families/rockchip-rk3588.conf
Labels: Ready to merge, 02, size/small, Hardware

#5993 K3: Remove unused bootloader binary blob
  packages/blobs/k3/bootloader/tiboot3-am62x-hs-fs-evm.bin
Labels: Ready to merge, 02, size/small

#6004 Fix rk322x broken patches due to upstream changes
  patch/kernel/archive/rk322x-6.1/5000-drm-rockchip-hardware-cursor.patch
  patch/kernel/archive/rk322x-6.6/5000-drm-rockchip-hardware-cursor.patch
Labels: Build, 02, Needs review

#5985 rockchip64: fix uboot zstd decompression
  patch/u-boot/u-boot-rockchip64/general-fix-zstd-max-window-size.patch
Labels: Ready to merge, 02, size/medium, Hardware

#6011 Fix automatic labeling system due to upstream breaking change
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/labeler.yml
Labels: Ready to merge, 02, size/small

#6010 Update odroidxu4-current to 6.1.65
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.63-64.patch
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.64-65.patch
Labels: size/large, Hardware

#6007 Orange Pi Zero: Enable crust and fix suspend/resume
  config/boards/orangepizero.conf
Labels: Bugfix, Needs review, size/small, Hardware

#5999 Use TI kernel for K3 family with current v6.1.y
  config/kernel/linux-k3-current.config
  config/kernel/linux-k3-edge.config
  config/sources/families/k3.conf
  lib/functions/general/git-ref2info.sh
Labels: Ready to merge, 02, Hardware

#6012 bump rk3588 edge to rc4
  config/sources/families/rockchip-rk3588.conf
Labels: Ready to merge, size/small, Hardware

#6013 RK3568: CSC Add nanopi-r5c Using Latest Edge Kernel
  config/boards/nanopi-r5c.csc
  patch/kernel/archive/rk3568-odroid-6.6/overlay/Makefile
  patch/kernel/archive/rk3568-odroid-6.6/overlay/rockchip-nanopi-r5c-leds.dts
Labels: size/medium, Hardware

#6016 Update Waydroid (Android) kernel dependencies
  config/kernel/linux-d1-edge.config
  config/kernel/linux-k3-current.config
  config/kernel/linux-k3-edge.config
  config/kernel/linux-media-current.config
  config/kernel/linux-media-edge.config
  config/kernel/linux-rk322x-current.config
  config/kernel/linux-rk322x-edge.config
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-starfive-edge.config
  config/kernel/linux-station-p2-legacy.config
  config/kernel/linux-sun50iw9-btt-legacy.config
  config/kernel/linux-thead-edge.config
  config/kernel/linux-uefi-arm64-current.config
  config/kernel/linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-arm64-legacy.config
  config/kernel/linux-uefi-riscv64-current.config
  config/kernel/linux-uefi-riscv64-edge.config
  config/kernel/linux-wsl2-arm64-current.config
  config/kernel/linux-wsl2-arm64-edge.config
  config/kernel/linux-wsl2-x86-current.config
  config/kernel/linux-wsl2-x86-edge.config
Labels: Build, 02, size/medium, Hardware

#6014 add dts for mini-m8s-pro tvbox
  patch/kernel/archive/meson64-6.6/dt/meson-gxm-mini-m8s-pro.dts
Labels: Ready to merge, 02, size/medium, Hardware

#6018 add hinlink ht2 board
  config/boards/hinlink-ht2.csc
  config/kernel/linux-rk35xx-legacy.config
Labels: Ready to merge, 02, size/small, Hardware

#6024 Update armbian-ramlog
  packages/bsp/common/usr/lib/armbian/armbian-ramlog
Labels: Ready to merge, Bugfix, 02, size/small

#6023 rockchip,rk322x: fix gpio,i2c group creation
  config/sources/families/rk322x.conf
  config/sources/families/rockchip.conf
Labels: Ready to merge, Bugfix, 02, size/small, Hardware

#6025 Bump Allwinner kernels to latest version
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready to merge, Build, 02, Hardware

#6027 rockchip64: Fix "Load kernel from the same bootpart boot.scr was loaded from"
  config/bootscripts/boot-rockchip64.cmd
Labels: Ready to merge, 02, size/small, Hardware

#6032 Bump Allwinner current and edge
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready to merge, 02, size/small, Hardware

#6031 odroidhc4: Fix U-Boot not recognizing disks mounted in SATA ports during boot process
  patch/u-boot/v2023.01/board_odroidhc4/0001-HACK-configs-meson64-prevent-stdout-stderr-on-videoconsole.patch
Labels: Ready to merge, 02, size/small, Hardware

#6033 Update odroidxu4-current to 6.1.67
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.65-66.patch
  patch/kernel/archive/odroidxu4-6.1/patch-6.1.66-67.patch
Labels: Ready to merge, 02, size/large, Hardware

#6034 Remove TOC as its generated automatically
  README.md
Labels: 02, Needs review, size/small

#6035 Add rockchip drivers to uefi-arm64 kernel.
  config/kernel/linux-uefi-arm64-current.config
  config/kernel/linux-uefi-arm64-edge.config
Labels: Ready to merge, 02, size/medium, Hardware

#6038 Add efi=noruntime to Jetson Nano kernel parameters.
  config/boards/jetson-nano.csc
Labels: Ready to merge, Bugfix, 02, size/small, Hardware

#6041 Bump Allwinner kernels
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Needs review, size/small, Hardware

#6043 Fixed ethernet for Orange Pi 3 and Orange Pi One Plus
  patch/atf/atf-sunxi64/board_orangepi3/sunxi-Don-t-enable-referenced-regulators.patch
  patch/atf/atf-sunxi64/board_orangepioneplus/sunxi-Don-t-enable-referenced-regulators.patch
Labels: Ready to merge, 02, size/small, Hardware

#6042 Remove deprecated bits in patches that prevent compilation
  patch/kernel/archive/rk322x-6.1/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rk322x-6.6/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rockchip-6.1/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rockchip-6.6/01-linux-1001-v4l2-rockchip.patch
  patch/kernel/media-current/00184-linux-1001-v4l2-rockchip.patch
Labels: Ready to merge, Build, 02, size/medium, Hardware

#6019 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/khadas-vim1s.conf
  config/boards/khadas-vim4.conf
  config/boards/rpi4b.conf
Labels: Ready to merge, Needs review, size/small, Hardware

#6021 Move forgotten overlays from Odroid M1
  config/boards/nanopi-r5c.csc
  config/boards/nanopi-r5s.wip
  config/boards/odroidm1.wip
  patch/kernel/archive/rk3568-odroid-6.5/0000.patching_config.yaml
  patch/kernel/archive/rk3568-odroid-6.5/board-odroidm1-remove-mtd-partitions.patch.disabled
  patch/kernel/archive/rk3568-odroid-6.5/board-odroidm1-spi-uart-pwm.patch
  patch/kernel/archive/rk3568-odroid-6.5/drv-spi-spidev-remove-warnings.patch
  patch/kernel/archive/rk3568-odroid-6.5/general-add-overlay-compilation-support.patch
  patch/kernel/archive/rk3568-odroid-6.5/general-rockchip-overlays.patch
  patch/kernel/archive/rk3568-odroid-6.5/overlay/Makefile
  patch/kernel/archive/rk3568-odroid-6.5/overlay/README.rockchip-overlays
  patch/kernel/archive/rk3568-odroid-6.5/overlay/rockchip-fixup.scr-cmd
  patch/kernel/archive/rk3568-odroid-6.6/0000.patching_config.yaml
  patch/kernel/archive/rk3568-odroid-6.6/5001-montjoie-crypto-rk35xx.patch
  patch/kernel/archive/rk3568-odroid-6.6/board-odroidm1-remove-mtd-partitions.patch.disabled
  patch/kernel/archive/rk3568-odroid-6.6/board-odroidm1-spi-uart-pwm.patch
  patch/kernel/archive/rk3568-odroid-6.6/drv-spi-spidev-remove-warnings.patch
  patch/kernel/archive/rk3568-odroid-6.6/general-add-overlay-compilation-support.patch
  patch/kernel/archive/rk3568-odroid-6.6/general-rockchip-overlays.patch
  patch/kernel/archive/rk3568-odroid-6.6/overlay/Makefile
  patch/kernel/archive/rk3568-odroid-6.6/overlay/README.rockchip-overlays
  patch/kernel/archive/rk3568-odroid-6.6/overlay/rockchip-fixup.scr-cmd
  patch/kernel/archive/rk3568-odroid-6.6/overlay/rockchip-i2c0.dts
  patch/kernel/archive/rk3568-odroid-6.6/overlay/rockchip-i2c1.dts
  patch/kernel/archive/rk3568-odroid-6.6/overlay/rockchip-nanopi-r5s-leds.dts
  patch/kernel/archive/rk3568-odroid-6.6/overlay/rockchip-pwm1.dts
  patch/kernel/archive/rk3568-odroid-6.6/overlay/rockchip-pwm2.dts
  patch/kernel/archive/rk3568-odroid-6.6/overlay/rockchip-pwm9.dts
  patch/kernel/archive/rk3568-odroid-6.6/overlay/rockchip-spi-spidev.dts
  patch/kernel/archive/rk3568-odroid-6.6/overlay/rockchip-uart0-rts_cts.dts
  patch/kernel/archive/rk3568-odroid-6.6/overlay/rockchip-uart0.dts
  patch/kernel/archive/rk3568-odroid-6.6/overlay/rockchip-uart1.dts
  patch/kernel/archive/rockchip64-6.6/dt/rk3566-panther-x2.dts
  patch/kernel/archive/rockchip64-6.6/dt/rk3568-odroid-m1.dts
  patch/kernel/archive/rockchip64-6.6/overlay/Makefile
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-fixup.scr-cmd
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3568-hk-i2c0.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3568-hk-i2c1.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3568-hk-pwm1.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3568-hk-pwm2.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3568-hk-pwm9.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3568-hk-spi-spidev.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3568-hk-uart0-rts_cts.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3568-hk-uart0.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3568-hk-uart1.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3568-nanopi-r5c-leds.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3568-nanopi-r5s-leds.dts
Labels: Ready to merge, Bugfix, Build, 02, size/large, Hardware

#6017 Move live patch to bsp extension and limit to startup patching
  extensions/armbian-live-patch.sh
  lib/functions/rootfs/distro-agnostic.sh
  packages/bsp/common/etc/apt/apt.conf.d/02-armbian-preupdate
  packages/bsp/common/lib/systemd/system/armbian-live-patch.service
  packages/bsp/common/usr/lib/armbian/armbian-firstrun
  packages/bsp/common/usr/lib/armbian/armbian-live-patch
Labels: Ready to merge, 02, size/medium, Framework

#6044 `Automatic` board configs status synchronise
  .github/CODEOWNERS
Labels: Ready to merge, size/small

#6045 Raspberry Pi EDGE compilation breaks. Moving to 6.7.y, perhaps temporally
  config/sources/families/bcm2711.conf
Labels: size/small, Hardware

#6048 Move to primary pastebin service.
  lib/functions/logging/export-logs.sh
Labels: Bugfix, 02, Needs review, size/small

#6047 rockchip: use point kernel version
  config/kernel/linux-rockchip-edge.config
  config/sources/families/rockchip.conf
Labels: Ready to merge, 02, size/small, Hardware

#6046 rk322x: use kernel point release
  config/kernel/linux-rk322x-current.config
  config/kernel/linux-rk322x-edge.config
  config/sources/families/rk322x.conf
Labels: Ready to merge, 02, size/small, Hardware

#6049 Disable EXTRA wireless on RPi EDGE kernel
  config/sources/families/bcm2711.conf
Labels: size/small, Hardware

#6051 rockchip64: fixes for v4l2, add rkvdec hevc decoder
  patch/kernel/archive/rockchip64-6.1/general-v4l2-iep-driver.patch
  patch/kernel/archive/rockchip64-6.1/general-v4l2-rkvdec-00-fixes.patch
  patch/kernel/archive/rockchip64-6.1/general-v4l2-rkvdec-01-vp9.patch
  patch/kernel/archive/rockchip64-6.1/general-v4l2-rkvdec-02-hevc.patch
  patch/kernel/archive/rockchip64-6.6/general-v4l2-iep-driver.patch
  patch/kernel/archive/rockchip64-6.6/general-v4l2-rkvdec-00-fixes.patch
  patch/kernel/archive/rockchip64-6.6/general-v4l2-rkvdec-01-vp9.patch
  patch/kernel/archive/rockchip64-6.6/general-v4l2-rkvdec-02-hevc.patch
Labels: Desktop, Ready to merge, 02, size/large, Hardware

#6057 Rockchip64 PCIE PHY reset on probe
  patch/kernel/archive/rockchip64-6.1/rk3399-fix-pci-phy.patch
  patch/kernel/archive/rockchip64-6.6/rk3399-fix-pci-phy.patch
Labels: Ready to merge, 02, size/medium, Hardware

#6055 opi5: add mainline uboot support
  config/boards/orangepi5.conf
  patch/u-boot/v2024.01-orangepi5/0010-Fix-SPI-Boot.patch
Labels: Ready to merge, 02, size/medium, Hardware

#6056 update NanoPI R2C dts for edge kernel
  patch/kernel/archive/rockchip64-6.6/dt/rk3328-nanopi-r2-rev06.dts
Labels: Ready to merge, 02, size/small, Hardware

#5952 Fix symlinks in armbian-firmware-full package build
  lib/functions/compilation/packages/firmware-deb.sh
  lib/functions/host/basic-deps.sh
Labels: 02, Needs review, size/small

#6039 Raspberry Pi: Added rpi5 support and removed flash-kernel dependency
  config/boards/rpi4b.conf
  config/boards/rpi5b.conf
  config/sources/families/bcm2711.conf
  lib/functions/image/initrd.sh
Labels: Ready to merge, 02, size/large, Hardware

#6052 rk3318: add uboot Recovery button support
  patch/u-boot/u-boot-rockchip64/board_rk3318-box/rk3318-box-add-defconfig.patch
  patch/u-boot/u-boot-rockchip64/board_rk3318-box/rk3318-box-add-dts.patch
Labels: size/small, Hardware

#6060 Promote Odroid N2 and M1 to standard support
  config/boards/odroidm1.conf
  config/boards/odroidn2.conf
Labels: 02, Needs review, size/small, Hardware

#6062 Adjust text on main README.md
  README.md
Labels: 02, Needs review, size/medium

#6058 `Automatic` board configs status synchronise
  .github/CODEOWNERS
Labels: Ready to merge, Needs review, size/small, Hardware

#6065 Disable u-boot generation also for EDGE branch
  config/boards/khadas-edge2.conf
Labels: Bugfix, 02, Needs review, size/small, Hardware

#6067 Rpi5: fix X11 failure
  config/sources/families/bcm2711.conf
Labels: Bugfix, Needs review, size/small, Hardware

#6072 `Automatic` board configs status synchronise
  .github/CODEOWNERS
Labels: Needs review, size/small

#6073 Allwinner: minor kernel bumps
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-sunxi64-legacy.config
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: size/small, Hardware

#6074 Add extension for patching Deboostrap to support Ubuntu Noble
  extensions/ubuntu-noble.sh
Labels: Bugfix, 02, size/small, Framework

#6078 Add extension to perform major kernel upgrade for allwinner kernels
  extensions/allwinner-kernel-bump.sh
  tools/mk_format_patch
Labels: Ready to merge, size/medium, Framework

#6069 Helios64: the chip temperature sensor is really a National lm75
  patch/kernel/archive/rk3399-4.4/helios64-add-board.patch
  patch/kernel/archive/rockchip64-5.10/add-board-helios64.patch
  patch/kernel/archive/rockchip64-5.15/add-board-helios64.patch
  patch/kernel/archive/rockchip64-6.1/add-board-helios64.patch
  patch/kernel/archive/rockchip64-6.5/add-board-helios64.patch
  patch/kernel/archive/rockchip64-6.6/add-board-helios64.patch
  patch/u-boot/u-boot-media/0010-add-board-helios64.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/add-board-helios64.patch
  patch/u-boot/u-boot-rockchip64/add-board-helios64.patch
Labels: Ready to merge, 02, size/small, Hardware

#6068 Fixup compilation helios64 uboot
  patch/u-boot/u-boot-rockchip64-v2022.04/add-board-helios64.patch
  patch/u-boot/u-boot-rockchip64/add-board-helios64.patch
  patch/u-boot/u-boot-rockchip64/general-support-recovery-button.patch
Labels: Ready to merge, 02, size/small, Hardware

#6066 Helios64: memory is unstable without the rockchip ddr blob
  config/boards/helios64.csc
Labels: Ready to merge, 02, size/small, Hardware

#6053 Move from `media` to `rockchip64` family
  config/boards/station-p1.csc
Labels: Ready to merge, 02, size/small, Hardware

#5980 Adding Windows dev kit 2023
  config/boards/wdk2023.wip
  config/kernel/linux-arm64-wdk2023.config
Labels: Ready to merge, 02, size/medium, Hardware

#6081 `Automatic` board configs status synchronise
  .github/CODEOWNERS
Labels: Needs review, size/small, Hardware

#6085 xradio: remove upstreamed patch
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-xradio-Fix-compilation-with-6.7-kernel.patch
Labels: Ready to merge, size/small, Hardware

#6080 change command rate to 2T for rk322x ddrbin v1.11
  packages/blobs/rockchip/rk322x_ddr_333MHz_v1.11_2t.bin
Labels: Ready to merge, 02, size/small

#6090 Remove legacy definition from Station P1
  config/boards/station-p1.csc
Labels: Ready to merge, 02, size/small, Hardware

#6083 armbian-firstlogin: fix locale list to include missing locales
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready to merge, Bugfix, 02, size/small

#6093 add support for building linux-next kernel
  lib/functions/compilation/utils-compilation.sh
Labels: Ready to merge, Bugfix, 02, size/small

#6088 bcm2711: don't force `SKIP_ARMBIAN_REPO=no`; include bootloader fw in bsp-cli if set to `yes`
  config/sources/families/bcm2711.conf
Labels: size/medium, Hardware

#6091 Jg/wdk2023 tweaks - bring the available features on par with current development
  config/boards/wdk2023.wip
  config/kernel/linux-arm64-wdk2023.config
Labels: size/large, Hardware

#6102 `odroidm1`: set `OVERLAY_PREFIX`; `rockchip64`: default, but don't override, `OVERLAY_PREFIX`
  config/boards/odroidm1.conf
  config/sources/families/include/rockchip64_common.inc
Labels: size/small, Hardware

#6087 Don't generate armbian.list if when==image-early
  lib/functions/rootfs/distro-specific.sh
Labels: Ready to merge, Bugfix, size/small

#6108 Remove broken symbolic link
  config/cli/lunar/noble
Labels: Ready to merge, Bugfix, 02, Hardware

#6107 Enable support for extensions within USERPATCHES_PATH
  lib/functions/general/extensions.sh
Labels: Ready to merge, Bugfix, 02, size/small

#6109 meson-s4t7: switch u-boot to 1.5.2 release
  config/sources/families/meson-s4t7.conf
Labels: Needs review, size/small, Hardware

#6104 patching: set commit index length to 12 when rewriting patches
  lib/tools/common/patching_utils.py
Labels: size/small

#6113 uwe5622-allwinner: update hciattach binary to fix intermittent segfaults
  packages/blobs/bt/hciattach/hciattach_opi_arm64
Labels: Ready to merge, Bugfix, 02, size/small

#6105 Add default Armbian Github compile action
  README.md
  action.yml
Labels: 02, Needs review, size/large, Action scripts

#6117 Fixes failing 10Mbit built-in Ethernet in Rockpi S
  patch/kernel/archive/rockchip64-6.1/board-rockpis-0030-fix10MbitEthernet.patch
Labels: Ready to merge, Bug, 02, size/medium, Hardware

#6114 add CONFIG_RTW89_8852BE to linux-rockchip-rk3588-edge.config
  config/kernel/linux-rockchip-rk3588-edge.config
Labels: Ready to merge, 02, size/small, Hardware
