Repository armbian/build, pull requests merged in 2023-07, with the labels that each got.

#5412 rkbin-tools: allow using custom rkbin `RKBIN_GIT_BRANCH` as well as `RKBIN_GIT_URL`
  extensions/rkbin-tools.sh
Labels: Ready :arrow_right:

#5411 u-boot: log what the `BOOTCONFIG` is when building
  lib/functions/compilation/uboot.sh
Labels: Ready :arrow_right:

#5410 `rkdevflash`: don't wait for "Loader" mode after sending spl_loader; show the loop counter
  extensions/rkdevflash.sh
Labels: Ready :arrow_right:

#5409 `rockchip-rk3588` `collabora`: new branch (by @lanefu)
  config/boards/rock-5b.conf
  config/kernel/linux-rockchip-rk3588-collabora.config
  config/sources/families/rockchip-rk3588.conf
  lib/functions/general/git-ref2info.sh
Labels: Ready :arrow_right:, Hardware :gear:

#5415 `linux-rk35xx-legacy.config`: update .config, no changes (.110 -> .160)
  config/kernel/linux-rk35xx-legacy.config
Labels: Hardware :gear:

#5413 `rock-5-cmio`: add a .wip for Radxa CM5 with I/O board
  config/boards/rock-5-cmio.wip
Labels: Ready :arrow_right:, Hardware :gear:

#5414 `mekotronics`: refactor vendor conf/hooks; vendor uboot with new patches; new blobs
  config/boards/mekotronics-r58-minipc.wip
  config/boards/mekotronics-r58x-4g.wip
  config/boards/mekotronics-r58x.wip
  config/sources/vendors/mekotronics/mekotronics-rk3588.conf.sh
  config/sources/vendors/mekotronics/mekotronics-rk3588.hooks.sh
  patch/u-boot/legacy/u-boot-meko-rk3588/1000-rockchip-dts-rk3588-enable-otp.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/1001-mach-rockchip-board.c-find-serial-first-then-ethaddr.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/1002-use-serial-as-base-for-MAC-address.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/1003-cmd-source-fix-the-error-that-the-command-source-fai.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/1004-rockchip-disable-gen_bl32_node.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/1005-rockchip-allow-passing-of-BL31-location-via-variable.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/1006-rk3588_meko_defconfig-evb-sans-optee.patch
  patch/u-boot/legacy/u-boot-radxa-rk3588/add-board-mekotronics-r58.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5416 boot-rk3588-legacy bootscript: add a lot of debugs
  config/bootscripts/boot-rk3588-legacy.cmd
Labels: Hardware :gear:

#5417 rockchip64_common: default, but do not overwrite, `BL31_BLOB` and `MINILOADER_BLOB`
  config/boards/tinkerboard-2.wip
  config/sources/families/include/rockchip64_common.inc
Labels: Hardware :gear:

#5421 rockchip64_common: default, but do not overwrite, `BL31_BLOB` and `MINILOADER_BLOB` (fixed!)
  config/sources/families/include/rockchip64_common.inc
Labels: Hardware :gear:

#5419 python2/python3: symlink python3 as python/python2 if python2 is not found in host
  lib/functions/main/start-end.sh
Labels: Ready :arrow_right:

#5422 artifacts: fix hashing for u-boot and kernel
  lib/functions/artifacts/artifact-kernel.sh
  lib/functions/artifacts/artifact-uboot.sh
Labels: Ready :arrow_right:

#5423 allwinner: h3: h5: disable uart0 pinctrl when crust is enabled
  patch/u-boot/u-boot-sunxi-crust/h3-h5-fix-pinctrl-err-19.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5425 allwinner: patch: kernel: series files cleanup
  patch/kernel/archive/sunxi-5.15/series.armbian
  patch/kernel/archive/sunxi-5.15/series.conf
  patch/kernel/archive/sunxi-6.1/series.armbian
  patch/kernel/archive/sunxi-6.1/series.conf
  patch/kernel/archive/sunxi-6.1/series.megous
  patch/kernel/archive/sunxi-6.2/series.armbian
  patch/kernel/archive/sunxi-6.2/series.conf
  patch/kernel/archive/sunxi-6.2/series.megous
  patch/kernel/archive/sunxi-6.3/series.armbian
  patch/kernel/archive/sunxi-6.3/series.conf
  patch/kernel/archive/sunxi-6.4/series.armbian
  patch/kernel/archive/sunxi-6.4/series.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5427 `mekotronics`: `post_family_config()` hook is too late to change `DDR_BLOB` and `BL31_BLOB`, move to board-scope variables
  config/sources/vendors/mekotronics/mekotronics-rk3588.conf.sh
  config/sources/vendors/mekotronics/mekotronics-rk3588.hooks.sh
Labels: Hardware :gear:

#5426 update rk3588 blobs for opi5 and nanopi r6s
  config/boards/nanopi-r6s.conf
  config/boards/orangepi5.conf
Labels: Hardware :gear:

#5433 rk35xx add dvb/camera/radio drivers to kernel config
  config/kernel/linux-rk35xx-legacy.config
Labels: Good first issue :dart:, Hardware :gear:

#5432 u-boot-radxa-rk3588: give SD higher boot priority than NVME
  patch/u-boot/legacy/u-boot-radxa-rk3588/change-nvme-boot-order.patch
Labels: Hardware :gear:

#5429 Allwinner: u-boot and kernel minor version bumps
  config/kernel/linux-sunxi-current.config
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:

#5438 NanoPC-T6-Collabora: add dvfs reqs
  patch/kernel/rockchip-rk3588-collabora/dt/rk3588-nanopc-t6.dts
Labels: Ready :arrow_right:, Hardware :gear:

#5446 `rk3588-legacy`: add Mixtile Blade 3 `mixtile-blade3.wip`
  config/boards/mixtile-blade3.wip
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1000-Add-Blade-3-defines.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1001-Fixed-restart-issues-with-pd-adapter.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1002-fix-power_delivery-driver-affects-adb-to-enter-loade.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1003-cmd-source-fix-the-error-that-the-command-source-fai.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1004-rockchip-disable-gen_bl32_node.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1005-rockchip-dts-rk3588-enable-otp.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1006-rockchip-allow-passing-of-BL31-location-via-variable.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1099-disable-optee-in-defconfig.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5444 debs: remove `Installed-Size: 1` from control files; `Installed-Size` is properly calculated at `fakeroot_dpkg_deb_build()` for all packages
  lib/functions/bsp/armbian-bsp-cli-deb.sh
  lib/functions/bsp/armbian-bsp-desktop-deb.sh
  lib/functions/compilation/packages/armbian-desktop-deb.sh
  lib/functions/compilation/packages/fake_ubuntu_advantage_tools-deb.sh
  lib/functions/compilation/packages/firmware-deb.sh
  lib/functions/compilation/uboot.sh
Labels: Ready :arrow_right:

#5442 NanoPC-T6 USB2 and PCIe 2
  patch/kernel/rockchip-rk3588-collabora/dt/rk3588-nanopc-t6.dts
Labels: Ready :arrow_right:, Hardware :gear:

#5447 u-boot: allwinner: nanopineo: Bring back patches for nanopineo
  patch/u-boot/u-boot-sunxi/board_nanopineo/add-emmc_support_to_neo1_and_2.patch
  patch/u-boot/u-boot-sunxi/board_nanopineo/add-nanopi-neo-core.patch
  patch/u-boot/u-boot-sunxi/board_nanopineo/adjust-small-boards-cpufreq.patch
Labels: Hardware :gear:

#5455 kernel: sunxi: make use of patches from driver harness
  lib/functions/compilation/patch/drivers_network.sh
  patch/kernel/archive/sunxi-5.15/patches.armbian/Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-hea.patch
  patch/kernel/archive/sunxi-5.15/patches.armbian/drv-bluetooth-btrtl-Add-rtl8822cs-hci-ver-0008.patch
  patch/kernel/archive/sunxi-5.15/patches.armbian/drv-bluetooth-hci_h5-power-reset-via-gpio-in-h5_btrt.patch
  patch/kernel/archive/sunxi-5.15/series.armbian
  patch/kernel/archive/sunxi-5.15/series.conf
  patch/kernel/archive/sunxi-6.1/patches.armbian/Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-header-files.patch
  patch/kernel/archive/sunxi-6.1/patches.armbian/drv-bluetooth-btrtl-Add-rtl8822cs-hci-ver-0008.patch
  patch/kernel/archive/sunxi-6.1/series.armbian
  patch/kernel/archive/sunxi-6.1/series.conf
  patch/kernel/archive/sunxi-6.2/patches.armbian/Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-header-files.patch
  patch/kernel/archive/sunxi-6.2/patches.armbian/drv-bluetooth-btrtl-Add-rtl8822cs-hci-ver-0008.patch
  patch/kernel/archive/sunxi-6.2/series.armbian
  patch/kernel/archive/sunxi-6.2/series.conf
  patch/kernel/archive/sunxi-6.3/patches.armbian/Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-header-files.patch
  patch/kernel/archive/sunxi-6.3/patches.armbian/drv-bluetooth-btrtl-Add-rtl8822cs-hci-ver-0008.patch
  patch/kernel/archive/sunxi-6.3/series.armbian
  patch/kernel/archive/sunxi-6.3/series.conf
  patch/kernel/archive/sunxi-6.4/patches.armbian/Revert-net-Remove-net-ipx.h-and-uapi-linux-ipx.h-header-files.patch
  patch/kernel/archive/sunxi-6.4/patches.armbian/drv-bluetooth-btrtl-Add-rtl8822cs-hci-ver-0008.patch
  patch/kernel/archive/sunxi-6.4/series.armbian
  patch/kernel/archive/sunxi-6.4/series.conf
Labels: Hardware :gear:

#5460 patch: kernel: sunxi: h3: fix OPP not supported by regulators error on boards with regulator-gpio
  config/boards/nanopiduo2.conf
  patch/kernel/archive/sunxi-5.15/patches.armbian/arm-dts-sun8i-h3-nanopi-duo2-enable-powerbutton-and-ethernet.patch
  patch/kernel/archive/sunxi-5.15/patches.armbian/arm-dts-sun8i-h3-reduce-opp-microvolt-to-prevent-not.patch
  patch/kernel/archive/sunxi-5.15/series.armbian
  patch/kernel/archive/sunxi-5.15/series.conf
  patch/kernel/archive/sunxi-6.1/patches.armbian/arm-dts-sun8i-h3-reduce-opp-microvolt-to-prevent-not.patch
  patch/kernel/archive/sunxi-6.1/series.armbian
  patch/kernel/archive/sunxi-6.1/series.conf
  patch/kernel/archive/sunxi-6.2/patches.armbian/arm-dts-sun8i-h3-reduce-opp-microvolt-to-prevent-not.patch
  patch/kernel/archive/sunxi-6.2/series.armbian
  patch/kernel/archive/sunxi-6.2/series.conf
  patch/kernel/archive/sunxi-6.3/patches.armbian/arm-dts-sun8i-h3-reduce-opp-microvolt-to-prevent-not.patch
  patch/kernel/archive/sunxi-6.3/series.armbian
  patch/kernel/archive/sunxi-6.3/series.conf
  patch/kernel/archive/sunxi-6.4/patches.armbian/arm-dts-sun8i-h3-reduce-opp-microvolt-to-prevent-not.patch
  patch/kernel/archive/sunxi-6.4/series.armbian
  patch/kernel/archive/sunxi-6.4/series.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5459 rk3318-box: revert ddrbin to 333mhz
  config/boards/rk3318-box.tvb
Labels: Ready :arrow_right:, Hardware :gear:

#5458 Panther X2: Modify usb mode and enable GPU
  patch/kernel/archive/rockchip64-6.1/add-board-panther-x2.patch
  patch/kernel/archive/rockchip64-6.3/dt/rk3566-panther-x2.dts
Labels: Ready :arrow_right:, Hardware :gear:

#5457 kernel-debs: headers: hack/fix for 6.5-rc1's "tools/counter: Makefile: Remove lingering 'include' directories on make clean"
  lib/functions/compilation/kernel-debs.sh
Labels: Ready :arrow_right:

#5456 rtw88: sdio: `honor the host max_req_size in the rx path`
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/rtw88/6.1/002-rtw88-linux-next.patch
  patch/misc/rtw88/6.2/002-rtw88-linux-next.patch
  patch/misc/rtw88/6.3/002-rtw88-linux-next.patch
  patch/misc/rtw88/6.4/002-rtw88-linux-next.patch
  patch/misc/rtw88/hack/001-revert-rtw88-sdio-size-and-timout-to-rfc-v1.disable
  patch/misc/rtw88/hack/003-rtw88-decrease-the-log-level-of-tx-report.patch
Labels: Ready :arrow_right:, Bugfix :radioactive:

#5468 mixtile-blade3: bump rk3588 blobs: DDR to 1.11 and BL31 to 1.38
  config/boards/mixtile-blade3.wip
Labels: Hardware :gear:

#5464 u-boot-menu: allow avoid using uInitrd, for when the bootloader requires modern initrd.img
  extensions/u-boot-menu.sh
Labels: Ready :arrow_right:

#5463 drivers-harness: add branch to drivers base cache key `declare cache_key_base="${KERNEL_MAJOR_MINOR}_${LINUXFAMILY}_${BRANCH}"`
  lib/functions/compilation/patch/drivers-harness.sh
Labels: Ready :arrow_right:

#5465 uboot: allow adding/changing uboot CFLAGS with `post_config_uboot_target()` hook
  lib/functions/compilation/uboot.sh
Labels: Ready :arrow_right:

#5461 Allwinner: bump uboot and kernel
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:

#5472 `rockchip64` `edge`: Update kernel config, disable broken wireless from driver_rtl88x2bu
  config/kernel/linux-rockchip64-edge.config
Labels: Hardware :gear:

#5473 Add maintainer for Orange Pi Prime board
  config/boards/orangepiprime.conf
Labels: Hardware :gear:

#5474 patch: u-boot: sunxi: remove upstreamed patch
  patch/u-boot/u-boot-sunxi/allwinner-a10-spi-driver.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5481 patch: u-boot: Enabled power led on H5 boards
  patch/u-boot/u-boot-sunxi/allwinner-h3-h5-enable-power-led.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5483 Rename orangepi5-plus.wip to orangepi5-plus.conf
  config/boards/orangepi5-plus.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5484 Fixup kernel 6.3.13 build - stale kickoff removal in wireless regulator API
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-rtl88x2bu-wireless-ignore-stale-kickoff-removal.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5466 `armbian-desktop`/`aggregation`: introduce `DESKTOP_COMMON` aggregation variant, where arch/config/appgroups are ignored; see #5439
  lib/functions/artifacts/artifact-armbian-desktop.sh
  lib/functions/compilation/packages/armbian-desktop-deb.sh
  lib/tools/aggregation.py
  lib/tools/common/aggregation_utils.py
Labels: Ready :arrow_right:

#5492 Fixup kernel 6.1.39 build - stale kickoff removal in wireless regulator API
  patch/misc/wireless-rtl88x2bu-wireless-ignore-stale-kickoff-removal.patch
Labels: Hardware :gear:

#5495 Fixups/indiedroid nova
  config/boards/indiedroid-nova.csc
Labels: Hardware :gear:

#5497 NanoPC-T6 Collabora: add PCIe 3
  patch/kernel/rockchip-rk3588-collabora/dt/rk3588-nanopc-t6.dts
Labels: Ready :arrow_right:, Hardware :gear:

#5501 Orange Pi: Allwinner: remove rk3399 bluetooth service
  config/boards/orangepi-r1.conf
  config/boards/orangepi.eos
  config/boards/orangepi2.csc
  config/boards/orangepi3-lts.csc
  config/boards/orangepi3.csc
  config/boards/orangepilite.csc
  config/boards/orangepilite2.csc
  config/boards/orangepimini.eos
  config/boards/orangepione.conf
  config/boards/orangepioneplus.csc
  config/boards/orangepipc.conf
  config/boards/orangepipc2.csc
  config/boards/orangepipcplus.csc
  config/boards/orangepiplus.csc
  config/boards/orangepiplus2e.csc
  config/boards/orangepiprime.conf
  config/boards/orangepiwin.csc
  config/boards/orangepizero.csc
  config/boards/orangepizero2.conf
  config/boards/orangepizeroplus.conf
  config/boards/orangepizeroplus2-h3.csc
  config/boards/orangepizeroplus2-h5.csc
Labels: Ready :arrow_right:, Hardware :gear:

#5503 armbianmonitor: update cpuminer and remove arm only limit
  packages/bsp/common/usr/bin/armbianmonitor
Labels: Ready :arrow_right:

#5505 Kernel: Allwinner: Bump legacy, current and edge kernel
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-5.15/patches.megous/thermal-sun8i-Be-loud-when-probe-fails.patch
  patch/kernel/archive/sunxi-5.15/series.conf
  patch/kernel/archive/sunxi-5.15/series.megous
Labels: Hardware :gear:

#5506 `tmpfs`: introduce `USE_TMPFS=no` to disable tmpfs usage for WORKDIR and package-specific working dirs; actually use `$temp_dir_id` for mktemp; see #5502
  lib/functions/compilation/kernel.sh
  lib/functions/host/mktemp-utils.sh
  lib/functions/host/tmpfs-utils.sh
Labels: Ready :arrow_right:

#5507 BigTreeTech: Use different family for edge kernel to avoid artifact conflict
  config/sources/families/sun50iw9-btt.conf
Labels: Hardware :gear:

#5512 `sun50iw9-btt`: keep using `linux-sunxi64-edge.config` for `LINUXFAMILY=sun50iw9-btt`
  config/sources/families/sun50iw9-btt.conf
Labels: Hardware :gear:

#5511 linux-rk35xx-legacy.config: enable VHOST_NET and others for hosting VM's
  config/kernel/linux-rk35xx-legacy.config
Labels: Hardware :gear:

#5514 config/boards: fix some missing quotes / maintainers
  config/boards/cubieboard4.csc
  config/boards/indiedroid-nova.csc
  config/boards/mixtile-blade3.wip
  config/boards/thinkpad-x13s.wip
Labels: Ready :arrow_right:, Hardware :gear:

#5513 `rk3399`: `legacy` .config for `rk3399` was removed long ago; completely drop `rk3399` family, move boards to `rockchip64` and remove their `legacy` KERNEL_TARGET
  config/boards/fe-som-rk3399.eos
  config/boards/helios64.csc
  config/boards/nanopi-r4s.conf
  config/boards/nanopi-r4se.csc
  config/boards/nanopim4.csc
  config/boards/nanopim4v2.csc
  config/boards/nanopineo4.csc
  config/boards/orangepi-rk3399.csc
  config/boards/orangepi4-lts.conf
  config/boards/orangepi4.conf
  config/boards/roc-rk3399-pc.csc
  config/sources/families/rk3399.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5510 mixtile-blade3: bump uboot, rebase uboot patches, add mac-from-serial# patch; enable OTP in defconfig; restore attribution for one patch
  config/boards/mixtile-blade3.wip
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1000-Add-Blade-3-defines.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1001-Fixed-restart-issues-with-pd-adapter.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1002-fix-power_delivery-driver-affects-adb-to-enter-loade.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1003-cmd-source-fix-the-error-that-the-command-source-fai.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1004-rockchip-disable-gen_bl32_node.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1005-rockchip-dts-rk3588-enable-otp.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1006-rockchip-allow-passing-of-BL31-location-via-variable.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1007-use-serial-as-base-for-MAC-address.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1090-disable-optee-in-defconfig.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/1091-enable-OTP-in-defconfig.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5509 mekotronics rk3588: rebase & unify u-boot patches; restore attribution for one patch
  patch/u-boot/legacy/u-boot-meko-rk3588/1000-rockchip-dts-rk3588-enable-otp.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/1001-mach-rockchip-board.c-find-serial-first-then-ethaddr.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/1002-use-serial-as-base-for-MAC-address.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/1003-cmd-source-fix-the-error-that-the-command-source-fai.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/1004-rockchip-disable-gen_bl32_node.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/1005-rockchip-allow-passing-of-BL31-location-via-variable.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/1006-rk3588_meko_defconfig-evb-sans-optee.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5508 `media`: Oleg dropped his `kernel-4.19` branch, so drop `legacy` from `bananapir2pro`, `station-m2`, `station-p2`
  config/boards/bananapir2pro.csc
  config/boards/station-m2.conf
  config/boards/station-p2.conf
  config/sources/families/media.conf
Labels: Ready :arrow_right:, Hardware :gear:

#5504 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/bananapim2s.conf
Labels: Hardware :gear:, Maintenance :recycle:

#5517 linux-rk35xx-legacy.config: `CONFIG_NVME_HWMON=y` for NVMe temperature monitoring
  config/kernel/linux-rk35xx-legacy.config
Labels: Hardware :gear:

#5516 kernel:sunxi: Add tve encoder for H5 boards as well
  patch/kernel/archive/sunxi-6.1/patches.armbian/arm-dts-sunxi-h3-h5-add_tve.patch
  patch/kernel/archive/sunxi-6.1/series.armbian
  patch/kernel/archive/sunxi-6.1/series.conf
  patch/kernel/archive/sunxi-6.4/patches.armbian/arm-dts-sunxi-h3-h5-add_tve.patch
  patch/kernel/archive/sunxi-6.4/series.armbian
  patch/kernel/archive/sunxi-6.4/series.conf
Labels: Hardware :gear:

#5518 rk3588 collabora: dts: update nanoPC-T6
  patch/kernel/rockchip-rk3588-collabora/dt/rk3588-nanopc-t6.dts
Labels: Hardware :gear:

#5523 arm64: dts: amlogic: add missing cache properties
  patch/kernel/archive/meson64-6.4/meson-dts-add-missing-cache-properties.patch
Labels: Ready :arrow_right:, Hardware :gear:

#5528 pipeline: `debs-to-repo-download` is now done in parallel; default cores*2 limited to 16 or PARALLEL_DOWNLOADS_WORKERS
  lib/functions/cli/cli-jsoninfo.sh
  lib/tools/info/download-debs.py
Labels: Ready :arrow_right:

#5527 display-alert: strip newlines as well as ANSI colors if `ANSI_COLOR=none`
  lib/functions/logging/display-alert.sh
Labels: Ready :arrow_right:

#5525 kernel / drivers-harness: use the kernel git SHA1 (`$KERNEL_GIT_SHA1`) instead of `$KERNEL_MAJOR_MINOR` for drivers cache key
  lib/functions/artifacts/artifact-kernel.sh
  lib/functions/compilation/patch/drivers-harness.sh
Labels: Ready :arrow_right:

#5531 Allwinner: bump kernel versions
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Hardware :gear:

#5530 add fxblox-rk1 rk3588 board
  config/boards/fxblox-rk1.wip
Labels: Ready :arrow_right:, Hardware :gear:

#5535 Fix wireless patches
  patch/misc/wireless-rtl8189es-Fix-building-on-5.4.251-kernel.patch
  patch/misc/wireless-rtl8189fs-Fix-building-on-5.4.251-kernel.patch
  patch/misc/wireless-rtl8192eu-Fix-building-on-5.4.251-kernel.patch
Labels: Bugfix :radioactive:

#5536 sunxi: bump current kernel to 6.1.42
  config/kernel/linux-sunxi-current.config
  config/sources/families/include/sunxi_common.inc
Labels: Ready :arrow_right:, Hardware :gear:

#5538 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/fxblox-rk1.wip
Labels: Hardware :gear:, Maintenance :recycle:
