Repository armbian/build, pull requests merged in 2024-04, with the labels that each got.

#6456 BananaPi CM4/M2S: FIXUPS
  patch/kernel/archive/meson64-6.6/board-bananapi-cm4-cm4io.patch
  patch/kernel/archive/meson64-6.6/board-bananapi-m2s-meson64-reboot-driver.patch
  patch/kernel/archive/meson64-6.6/board-bananapi-m2s.patch
  patch/kernel/archive/meson64-6.8/board-bananapi-cm4-cm4io.patch
  patch/kernel/archive/meson64-6.8/board-bananapi-m2s-meson64-reboot-driver.patch
  patch/kernel/archive/meson64-6.8/board-bananapi-m2s.patch
Labels: Ready to merge, 05, size/large, Hardware

#6462 DE: KDE: `add package kscreen`
  config/desktop/jammy/environments/kde-neon/config_base/packages
Labels: Ready to merge, 05, size/small, Hardware

#6461 RPi5 has troubles booting when faster memory access is enabled
  config/boards/rpi5b.conf
Labels: Ready to merge, Bugfix, 05, size/small, Hardware

#6460 rockchip: rewrite dts for rock3c
  patch/kernel/archive/rockchip64-6.6/dt/rk3566-rock-3c.dts
  patch/kernel/archive/rockchip64-6.8/dt/rk3566-rock-3c.dts
Labels: Ready to merge, 05, size/large, Hardware

#6459 rockchip-rk3588: it's vendor boogie panthor time (experimental)
  config/kernel/linux-rk35xx-vendor-boogie-panthor.config
  config/sources/common.conf
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/rockchip-rk3588.conf
  extensions/mesa-oibaf.sh
  extensions/rk-multimedia-amazingfate.sh
  lib/functions/configuration/main-config.sh
  lib/functions/main/config-interactive.sh
  lib/functions/rootfs/distro-agnostic.sh
Labels: size/large, Hardware, Framework

#6467 RTW88: `6.x.y fixups`
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/rtw88/6.6/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
  patch/misc/rtw88/6.7/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
  patch/misc/rtw88/6.8/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
Labels: Ready to merge, 05, size/large, Hardware

#6465 kernel-dtbs: output a somewhat-diffable preprocessed dtc-massaged version of the DTS
  lib/functions/compilation/kernel.sh
Labels: Ready to merge, 05, size/small

#6464 kernel-debs: fix: don't try to package linux-libc-dev if only packaging dtb
  lib/functions/compilation/kernel-debs.sh
Labels: Ready to merge, 05, size/small

#6473 add new board bananapim7
  config/boards/bananapim7.conf
  patch/kernel/rockchip-rk3588-edge/dt/rk3588-bananapi-m7.dts
Labels: size/small, Hardware

#6472 Fixing packages dependencies and small optimisations
  config/cli/common/main/packages.additional
  config/cli/common/main/packages.uninstall
  config/cli/jammy/main/packages.uninstall
  config/desktop/bookworm/environments/budgie/config_base/packages
  config/desktop/bookworm/environments/cinnamon/config_base/packages
  config/desktop/bookworm/environments/gnome/config_base/packages
  config/desktop/bookworm/environments/i3-wm/config_base/packages
  config/desktop/bookworm/environments/kde-plasma/config_base/packages
  config/desktop/bookworm/environments/mate/config_base/packages
  config/desktop/bookworm/environments/xfce/config_base/packages
  config/desktop/bookworm/environments/xmonad/config_base/packages
  config/desktop/common/appgroups/desktop_tools/packages
  config/desktop/common/appgroups/editors/packages
  config/desktop/common/environments/gnome/config_base/packages
Labels: Work in progress, Bugfix, Build, 05, size/small, Hardware

#6474 add bluedevil for bluetooth support
  config/desktop/jammy/environments/kde-neon/config_base/packages
Labels: size/small, Hardware

#6480 rock-5b: move `edge` (only) to mainline/Kwiboo u-boot 2024.04; store env in SPI (12Mb offset, with userspace support)
  config/boards/rock-5b.csc
Labels: Ready to merge, 05, size/medium, Hardware

#6479 kernel-debs: linux-libc-dev: add `Conflicts: linux-libc-dev`
  lib/functions/compilation/kernel-debs.sh
Labels: Ready to merge, 05, size/small

#6478 rk-multimedia-amazingfate: add libv4l-rkmpp and gstreamer1.0-rockchip for desktop builds
  extensions/rk-multimedia-amazingfate.sh
Labels: Ready to merge, 05, size/small, Framework

#6475 rootfs-create: if debootstrap second stage fails, find debootstrap.log and show it so we know what the error is
  lib/functions/logging/runners.sh
  lib/functions/rootfs/rootfs-create.sh
Labels: Ready to merge, 05, size/small

#6470 rockchip: update dts patches for orangepi r1-plus
  patch/kernel/archive/rockchip64-6.6/board-orangepi-r1-plus.patch
  patch/kernel/archive/rockchip64-6.8/board-orangepi-r1-plus.patch
Labels: Ready to merge, 05, size/large, Hardware

#6481 Unlock Code and Thunderbird from all distributions
  config/optional/architectures/amd64/_config/desktop/bookworm
  config/optional/architectures/amd64/_config/desktop/common/appgroups/browsers/packages
  config/optional/architectures/amd64/_config/desktop/common/appgroups/browsers/sources/apt/google-chrome.gpg
  config/optional/architectures/amd64/_config/desktop/common/appgroups/browsers/sources/apt/google-chrome.source
  config/optional/architectures/amd64/_config/desktop/common/appgroups/email/packages
  config/optional/architectures/amd64/_config/desktop/common/appgroups/programming/packages
  config/optional/architectures/amd64/_config/desktop/common/appgroups/programming/sources/apt/vscode.gpg
  config/optional/architectures/amd64/_config/desktop/common/appgroups/programming/sources/apt/vscode.source
  config/optional/architectures/amd64/_config/desktop/common/environments/_all_environments/sources/apt/nvidia-drivers.gpg
  config/optional/architectures/amd64/_config/desktop/common/environments/_all_environments/sources/apt/nvidia-drivers.source
  config/optional/architectures/amd64/_config/desktop/jammy
  config/optional/architectures/amd64/_config/desktop/noble
  config/optional/architectures/amd64/_config/desktop/sid
  config/optional/architectures/amd64/_config/desktop/trixie/appgroups/browsers/packages
  config/optional/architectures/amd64/_config/desktop/trixie/appgroups/browsers/sources/apt/google-chrome.gpg
  config/optional/architectures/amd64/_config/desktop/trixie/appgroups/browsers/sources/apt/google-chrome.source
  config/optional/architectures/amd64/_config/desktop/trixie/appgroups/programming/packages
  config/optional/architectures/amd64/_config/desktop/trixie/appgroups/programming/sources/apt/vscode.gpg
  config/optional/architectures/amd64/_config/desktop/trixie/appgroups/programming/sources/apt/vscode.source
  config/optional/architectures/amd64/_config/desktop/trixie/environments/_all_environments/sources/apt/nvidia-drivers.gpg
  config/optional/architectures/amd64/_config/desktop/trixie/environments/_all_environments/sources/apt/nvidia-drivers.source
  config/optional/architectures/arm64/_config/desktop/_all_distributions/appgroups/email
  config/optional/architectures/arm64/_config/desktop/bookworm
  config/optional/architectures/arm64/_config/desktop/common/appgroups/email
  config/optional/architectures/arm64/_config/desktop/common/appgroups/programming/packages
  config/optional/architectures/arm64/_config/desktop/common/appgroups/programming/sources/apt/vscode.gpg
  config/optional/architectures/arm64/_config/desktop/common/appgroups/programming/sources/apt/vscode.source
  config/optional/architectures/arm64/_config/desktop/common/main/packages
  config/optional/architectures/arm64/_config/desktop/common/main/sources/apt/box64.gpg
  config/optional/architectures/arm64/_config/desktop/common/main/sources/apt/box64.source
  config/optional/architectures/arm64/_config/desktop/jammy
  config/optional/architectures/arm64/_config/desktop/noble
  config/optional/architectures/arm64/_config/desktop/sid
  config/optional/architectures/arm64/_config/desktop/trixie/appgroups/programming/packages
  config/optional/architectures/arm64/_config/desktop/trixie/appgroups/programming/sources/apt/vscode.gpg
  config/optional/architectures/arm64/_config/desktop/trixie/appgroups/programming/sources/apt/vscode.source
  config/optional/architectures/arm64/_config/desktop/trixie/main/packages
  config/optional/architectures/arm64/_config/desktop/trixie/main/sources/apt/box64.gpg
  config/optional/architectures/arm64/_config/desktop/trixie/main/sources/apt/box64.source
  config/optional/architectures/armhf/_config/desktop/_all_distributions/appgroups/programming
Labels: Ready to merge, 05, size/small, Hardware

#6485 rockchip-rk3588-edge: opi5: fix typec and add support for GPU
  patch/kernel/rockchip-rk3588-edge/1031-Add-missing-nodes-to-Orange-Pi-5.patch
Labels: Ready to merge, size/small, Hardware

#6491 rk35xx: vendor: enable Khadas MCU on kernel config
  config/kernel/linux-rk35xx-vendor.config
Labels: size/small, Hardware

#6492 Enable vendor kernel branch on Khadas Edge 2
  config/boards/khadas-edge2.conf
Labels: size/small, Hardware

#6490 Corrected documentation error in Rockchip overlays
  patch/kernel/archive/rockchip64-6.6/overlay/README.rockchip-overlays
  patch/kernel/archive/rockchip64-6.8/overlay/README.rockchip-overlays
Labels: Ready to merge, 05, size/small, Hardware

#6486 rockchip-rk3588-edge: opi5b: add support for pcie wifi
  patch/kernel/rockchip-rk3588-edge/dt/rk3588s-orangepi-5b.dts
Labels: Ready to merge, size/small, Hardware

#6496 Restore WiFi functionality to the RockPi-S
  config/kernel/linux-rockchip64-edge.config
  lib/functions/compilation/patch/drivers_network.sh
Labels: Ready to merge, 05, size/small, Hardware

#6498 Update failing patch
  patch/kernel/archive/rockchip-6.6/patches.libreelec/linux-1000-drm-rockchip.patch
  patch/kernel/archive/rockchip-6.8/patches.libreelec/linux-1000-drm-rockchip.patch
Labels: Ready to merge, Build, 05, size/small, Hardware

#6501 rockchip64-edge: add pcie support to orangepi rk3399
  patch/kernel/archive/rockchip64-6.8/board-orangepi-rk3399-pcie.patch
Labels: Ready to merge, size/medium, Hardware

#6508 It's Mastodon
  README.md
Labels: size/small

#6448 Update sm8250: kernel add current and edge branch And Update Odin2: add kernel update hook script
  config/boards/ayn-odin2.conf
  config/boards/xiaomi-elish.conf
  config/boards/xiaomi-umi.conf
  config/kernel/linux-sm8250-current.config
  config/kernel/linux-sm8250-edge.config
  config/sources/families/sm8250.conf
  packages/bsp/ayn-odin2/zz-update-abl-kernel
  packages/bsp/xiaomi-elish/zz-update-abl-kernel
  packages/bsp/xiaomi-umi/umi_HiFi.conf
  packages/bsp/xiaomi-umi/zz-update-abl-kernel
  patch/kernel/archive/sm8250-6.7/dt/sm8250-xiaomi-umi-common.dtsi
  patch/kernel/archive/sm8250-6.7/dt/sm8250-xiaomi-umi-csot.dts
  patch/kernel/archive/sm8250-6.7/dt/sm8250-xiaomi-umi-sms.dts
  patch/kernel/archive/sm8250-6.8/0000.patching_config.yaml
  patch/kernel/archive/sm8250-6.8/0001-tools-Makefile-delete-missing-cgroup_clean.patch
  patch/kernel/archive/sm8250-6.8/dt/sm8250-xiaomi-umi-common.dtsi
  patch/kernel/archive/sm8250-6.8/dt/sm8250-xiaomi-umi-csot.dts
  patch/kernel/archive/sm8250-6.8/dt/sm8250-xiaomi-umi-sms.dts
  patch/kernel/sm8250-current
  patch/kernel/sm8250-edge
Labels: Ready to merge, 05, size/large, Hardware

#6510 rk35xx-vendor: enable panthor gpu driver
  config/kernel/linux-rk35xx-vendor.config
Labels: Ready to merge, size/small, Hardware

#6505 Fix UDOO USB issues
  patch/kernel/archive/imx6-6.6/udoo_usb_fix.patch
  patch/kernel/archive/imx6-6.7/udoo_usb_fix.patch
Labels: Ready to merge, 05, size/medium, Hardware

#6511 Fixing missing host dependency: adding python3-pyelftools
  lib/functions/host/prepare-host.sh
Labels: Ready to merge, Bugfix, 05, size/small

#6514 H96-tvbox-3566 device tree fixes & improvements: wifi fix, Led and IR enable
  patch/kernel/archive/rockchip64-6.1/add-board-h96-tvbox-3566.patch
  patch/kernel/archive/rockchip64-6.6/dt/rk3566-h96-tvbox.dts
Labels: size/large, Hardware

#6497 rockchip-rk3308-current: add support for sakura pi rk3308b
  config/boards/sakurapi-rk3308b.csc
  patch/kernel/archive/rockchip64-6.1/add-board-sakurapi-rk3308b.patch
  patch/u-boot/u-boot-rockchip64-v2022.04/add-board-sakurapi-rk3308b.patch
Labels: Ready to merge, 05, size/large, Hardware

#6516 Move Sakura Pi u-boot patch into dedicated folder
  patch/u-boot/u-boot-rockchip64-v2022.04/board_sakurapi-rk3308b/add-board-sakurapi-rk3308b.patch
Labels: Ready to merge, Bugfix, 05, size/small, Hardware

#6517 Odin2 Use Custom ABL, boot from TF Card
  config/boards/ayn-odin2.conf
  extensions/image-output-abl.sh
  packages/bsp/ayn-odin2/LinuxLoader.cfg
Labels: Ready to merge, 05, size/medium, Hardware, Framework

#6520 Board: h96 rk3566 HDMI sound & audio fix
  patch/kernel/archive/rockchip64-6.1/add-board-h96-tvbox-3566.patch
  patch/kernel/archive/rockchip64-6.6/dt/rk3566-h96-tvbox.dts
Labels: size/medium, Hardware

#6403 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/phytiumpi.csc
Labels: Ready to merge, size/small, Hardware

#6523 Fixing broken DT for h96 tvbox 3566
  patch/kernel/archive/rockchip64-6.1/add-board-h96-tvbox-3566.patch
  patch/kernel/archive/rockchip64-6.6/dt/rk3566-h96-tvbox.dts
Labels: Ready to merge, Bugfix, 05, size/small, Hardware

#6519 rockchip64: cleanup rk3318-box hdmi patches
  patch/u-boot/v2024.01/board_rk3318-box/general-add-inno-hdmi-phy.patch
  patch/u-boot/v2024.01/board_rk3318-box/general-add-phy-ops.patch
  patch/u-boot/v2024.01/board_rk3318-box/rk3328-hdmi-driver.patch
  patch/u-boot/v2024.01/board_rk3318-box/rk3328-vop-driver.patch
Labels: Ready to merge, 05, size/medium, Hardware

#6482 cli: Add command "dts-check" to validate dts files and improve board & patch development overall
  lib/functions/cli/commands.sh
  lib/functions/compilation/kernel-dts-check.sh
  lib/functions/compilation/kernel-make.sh
  lib/functions/compilation/kernel.sh
  lib/functions/general/python-tools.sh
  lib/library-functions.sh
Labels: Ready to merge, 05, size/medium, Framework, Needs Documentation

#6451 Orange Pi Zero2W (CSC) current and edge
  config/boards/orangepizero2w.csc
  patch/kernel/archive/sunxi-6.6/patches.armbian/arm64-dts-allwinner-h616-Add-efuse_xlate-cpu-frequency-scaling-v1_6_2.patch
  patch/kernel/archive/sunxi-6.6/patches.armbian/arm64-dts-sun50i-h618-add-overlay.patch
  patch/kernel/archive/sunxi-6.6/patches.armbian/arm64-dts-sun50i-h618-orangepi-zero2w-add-dtb.patch
  patch/kernel/archive/sunxi-6.6/series.armbian
  patch/kernel/archive/sunxi-6.6/series.conf
  patch/kernel/archive/sunxi-6.7/patches.armbian/arm64-dts-allwinner-h616-Add-efuse_xlate-cpu-frequency-scaling-v1_6_2.patch
  patch/kernel/archive/sunxi-6.7/patches.armbian/arm64-dts-sun50i-h618-add-overlay.patch
  patch/kernel/archive/sunxi-6.7/patches.armbian/arm64-dts-sun50i-h618-orangepi-zero2w-add-dtb.patch
  patch/kernel/archive/sunxi-6.7/series.armbian
  patch/kernel/archive/sunxi-6.7/series.conf
  patch/u-boot/v2024.04/board_orangepizero2w/001-allwinner-common-enable-autoboot-keyed.patch
  patch/u-boot/v2024.04/board_orangepizero2w/002-allwinner-common-boot-splash.patch
  patch/u-boot/v2024.04/board_orangepizero2w/003-allwinner-common-h616-THS-workaround.patch
  patch/u-boot/v2024.04/board_orangepizero2w/004-allwinner-common-h616-GPU-enable-hack.patch
  patch/u-boot/v2024.04/board_orangepizero2w/005-allwinner-common-pwrled-config-option.patch
  patch/u-boot/v2024.04/board_orangepizero2w/006-allwinner-common-fdt-setprop-fix-unaligned-access.patch
Labels: Ready to merge, 05, size/large, Hardware

#6525 Add full desktop support for phytiumpi and change to .conf support.
  config/boards/phytiumpi.conf
Labels: size/small, Hardware

#6530 Add rock5c support
  config/boards/rock-5c.csc
  patch/kernel/rockchip-rk3588-edge/dt/rk3588s-rock-5c.dts
  patch/u-boot/legacy/u-boot-radxa-rk3588/board_rock-5c/reopen_disabled_nodes.patch
Labels: Ready to merge, 05, size/large, Hardware

#6526 odroidn2: u-boot: fix eMMC stability
  patch/u-boot/v2022.10/board_odroidn2/0001-mmc-meson_gx_mmc-limit-f_max-to-24-MHz.patch
Labels: Ready to merge, 05, size/small, Hardware

#6534 Switch Radxa u-boot to more recent branch
  config/sources/families/rockchip-rk3588.conf
  patch/u-boot/legacy/u-boot-radxa-rk3588/change-nvme-boot-order.patch
  patch/u-boot/legacy/u-boot-radxa-rk3588/fix_source_so_boot_scr_works.patch
Labels: Ready to merge, Bugfix, Build, 05, size/medium, Hardware
