Repository armbian/build, pull requests merged in 2024-06, with the labels that each got.

#6676 Pinctr dummy regulators
  patch/kernel/archive/sunxi-6.6/patches.armbian/arm-dts-orangepi-one-pinctr-dummy-regulators.patch
  patch/kernel/archive/sunxi-6.6/series.armbian
  patch/kernel/archive/sunxi-6.6/series.conf
Labels: size/small, Hardware

#6668 Bump Odroid XU4 edge to 6.9.y
  config/kernel/linux-odroidxu4-edge.config
  config/sources/families/odroidxu4.conf
Labels: Ready to merge, Build, 08, size/large, Hardware

#6678 Remove libu2f-udev, universal 2nd factor (U2F) — transitional package
  config/desktop/common/environments/budgie/config_base/packages
  config/desktop/common/environments/deepin/config_base/packages
  config/desktop/common/environments/enlightenment/config_base/packages
  config/desktop/common/environments/i3-wm/config_base/packages
  config/desktop/common/environments/kde-plasma/config_base/packages
  config/desktop/common/environments/mate/config_base/packages
  config/desktop/common/environments/xfce/config_base/packages
  config/desktop/common/environments/xmonad/config_base/packages
Labels: Bugfix, 08, size/small, Hardware

#6679 Adjust wireless drivers to build on kernel 6.9.y
  lib/functions/compilation/patch/drivers_network.sh
Labels: Ready to merge, Bugfix, 08, Needs review

#6667 Bump imx6 edge kernels to 6.9.y
  config/kernel/linux-imx6-edge.config
  config/sources/families/imx6.conf
Labels: Ready to merge, Build, 05, size/large, Hardware, Framework

#6665 Bump RPi EDGE kernels to 6.9.y
  config/kernel/linux-bcm2711-edge.config
  config/sources/families/bcm2711.conf
Labels: Ready to merge, Build, 08, size/large, Hardware

#6666 Bump UEFI edge kernels with kernel config rewrite
  config/kernel/linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-riscv64-edge.config
  config/kernel/linux-uefi-x86-edge.config
  config/sources/families/include/uefi_common.inc
  lib/functions/compilation/patch/drivers_network.sh
Labels: Ready to merge, 08, size/large, Hardware

#6658 longanpi-4b: add support for Sipeed LonganPi 4B
  config/boards/longanpi-4b.csc
  config/kernel/linux-sun55iw3-syterkit-legacy.config
Labels: Ready to merge, 08, size/medium, Hardware

#6654 Proposed board status change for 24.5
  config/boards/fxblox-rk1.csc
  config/boards/helios4.csc
  config/boards/mekotronics-r58-minipc.csc
  config/boards/mekotronics-r58x-4g.csc
  config/boards/mekotronics-r58x-pro.csc
  config/boards/mekotronics-r58x.csc
  config/boards/mixtile-blade3.csc
  config/boards/olimex-teres-a64.csc
  config/boards/orangepi3b.csc
Labels: 05, Needs review, size/small, Hardware

#6617 Fix issue #6528 opi-zero2w, ethernet PHY not powered
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  patch/kernel/archive/sunxi-6.6/patches.armbian/arm64-dts-sun50i-h618-orangepi-zero2w-add-dtb.patch
  patch/kernel/archive/sunxi-6.6/patches.armbian/drv-net-gmac-sun50i-h616-gmac.patch
  patch/kernel/archive/sunxi-6.6/patches.armbian/drv-pwm-sun50i-h616-enhance-pwm.patch
  patch/kernel/archive/sunxi-6.6/series.armbian
  patch/kernel/archive/sunxi-6.6/series.conf
  patch/kernel/archive/sunxi-6.7/patches.armbian/arm64-dts-sun50i-h618-orangepi-zero2w-add-dtb.patch
  patch/kernel/archive/sunxi-6.7/patches.armbian/drv-net-gmac-sun50i-h616-gmac.patch
  patch/kernel/archive/sunxi-6.7/patches.armbian/drv-pwm-sun50i-h616-enhance-pwm.patch
  patch/kernel/archive/sunxi-6.7/series.armbian
  patch/kernel/archive/sunxi-6.7/series.conf
Labels: Ready to merge, 08, size/large, Hardware

#6609 Add board firefly-itx-3588j
  config/boards/firefly-itx-3588j.csc
Labels: Ready to merge, 08, size/small, Hardware

#6680 Odroid XU4 - adjust patch folder, apply config rewrite
  config/kernel/linux-odroidxu4-current.config
  config/sources/families/odroidxu4.conf
  patch/kernel/archive/odroidxu4-6.6/0001-Reverting-headers-install-patch.patch
  patch/kernel/archive/odroidxu4-6.6/add-gpio-line-names.patch
  patch/kernel/archive/odroidxu4-6.6/fix-gpio-line-names.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.30-31.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.31-32.patch
Labels: Ready to merge, 08, size/large, Hardware

#6681 Bananapi R2 - adjust patch folder, apply config rewrite
  config/kernel/linux-mt7623-legacy.config
  config/sources/families/mt7623.conf
  patch/kernel/mt7623-legacy
Labels: Ready to merge, 08, Hardware

#6682 Rewrite RPi 4 kernel config and fix wrong patch folder name
  config/kernel/linux-bcm2711-edge.config
  patch/kernel/archive/bcm2711-6.9/0001-Make-proc-cpuinfo-consistent-on-arm64-and-arm.patch
  patch/kernel/archive/bcm2711-6.9/001-force-platform-selection-brcm-soc-support.disabled
  patch/kernel/archive/bcm2711-6.9/1003-remote-wakeup.patch
  patch/kernel/archive/bcm2711-6.9/2001-rename-msd.patch
Labels: Ready to merge, Bugfix, 08, Hardware

#6683 Cleaning kernel patch folder and run kernel rewrite config
  config/boards/ayn-odin2.conf
  config/kernel/linux-sm8250-current.config
  config/kernel/linux-sm8250-edge.config
  config/kernel/linux-sun50iw9-legacy.config
  config/kernel/linux-tqma-current.config
  config/sources/families/include/imx8_common.inc
  config/sources/families/sm8250.conf
  config/sources/families/sun50iw9.conf
  config/sources/families/zynq.conf
  patch/kernel/archive/imx6-6.7/udoo_usb_fix.patch
  patch/kernel/archive/imx6-6.9/.placeholder
  patch/kernel/archive/imx8m-6.6/0001-Add-HDMI-support-for-IMX8MP.patch
  patch/kernel/archive/imx8m-6.6/0002-arm64-dts-imx8mp-Enable-HDMI-on-TQMa8MPxL-MBa8MPxL.patch
  patch/kernel/archive/imx8m-6.6/0003-arm64-dts-freescale-add-TQMa8MPQL-on-MBa8MP-RAS314.patch
  patch/kernel/archive/imx8m-6.6/0004-arm64-dts-imx8mp-Enable-HDMI-on-TQMa8MPxL-MBa8MP-RAS.patch
  patch/kernel/archive/imx8m-6.6/0005-Add-wifi-support-for-TQMa8MPxL-MBa8MP-RAS314.patch
  patch/kernel/archive/sm8250-6.8/0001-tools-Makefile-delete-missing-cgroup_clean.patch
  patch/kernel/archive/sm8550-6.7/.placeholder
  patch/kernel/arm64-sm8550/0001-tools-Makefile-delete-missing-cgroup_clean.patch
  patch/kernel/sm8250-current
  patch/kernel/sm8250-edge
  patch/kernel/sun50iw9-legacy
  patch/kernel/zynq-legacy
Labels: Ready to merge, 08, size/large, Hardware

#6685 Revert Odin2 branch change as new one is changing daily and breaks
  config/boards/ayn-odin2.conf
  patch/kernel/archive/sm8250-6.8/0001-tools-Makefile-delete-missing-cgroup_clean.patch
Labels: Ready to merge, Bugfix, 08, size/small, Hardware

#6693 fix typo
  extensions/fake-vcgencmd.sh
Labels: Ready to merge, 08, size/small, Framework

#6692 Sweet potato: update config
  config/boards/sweet-potato.conf
Labels: Ready to merge, 08, size/small, Hardware

#6684 Adding support for the fine3399 board
  config/boards/fine3399.csc
  patch/kernel/archive/rockchip64-6.1/add-board-fine3399-dts.patch
  patch/kernel/archive/rockchip64-6.6/add-board-fine3399-dts.patch
  patch/kernel/archive/rockchip64-6.8/add-board-fine3399-dts.patch
  patch/u-boot/u-boot-rockchip64/add-board-fine3399-dts.patch
Labels: Ready to merge, 08, size/large, Hardware

#6695 RTL88X2CS: `linux 6.9.y support`
  lib/functions/compilation/patch/drivers_network.sh
Labels: Ready to merge, 08, size/small

#6694 Sound Allwinner H616 H618 SOCs
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  patch/kernel/archive/sunxi-6.6/patches.armbian/sound-soc-sunxi-h616-h618.patch
  patch/kernel/archive/sunxi-6.6/series.armbian
  patch/kernel/archive/sunxi-6.6/series.conf
  patch/kernel/archive/sunxi-6.7/patches.armbian/sound-soc-sunxi-h616-h618.patch
  patch/kernel/archive/sunxi-6.7/series.armbian
  patch/kernel/archive/sunxi-6.7/series.conf
Labels: size/large, Hardware

#6688 fix: cloudshell2 dtbo overlay path in boot.ini
  config/bootscripts/boot-odroid-xu4.ini
Labels: Ready to merge, Bugfix, 05, size/small, Hardware

#6698 update meson patches for 6.9 kernel
  config/kernel/linux-meson-edge.config
  patch/kernel/archive/meson-6.9/0007-dt-bindings-phy-meson8b-usb2-Add-support-for-reading.patch
  patch/kernel/archive/meson-6.9/0008-phy-amlogic-meson8b-usb2-Add-support-for-reading-the.patch
  patch/kernel/archive/meson-6.9/0009-usb-common-usb-conn-gpio-Fall-back-to-polling-the-GP.patch
  patch/kernel/archive/meson-6.9/0010-usb-dwc2-register-child-USB-connector-devices.patch
  patch/kernel/archive/meson-6.9/0011-ARM-dts-meson-Add-GPIO-controller-capabilities-to-th.patch
  patch/kernel/archive/meson-6.9/0012-ARM-dts-meson8b-odroidc1-Enable-the-Micro-USB-OTG-co.patch
  patch/kernel/archive/meson-6.9/0013-dt-bindings-phy-Add-bindings-for-the-Amlogic-Meson-C.patch
  patch/kernel/archive/meson-6.9/0014-phy-amlogic-Add-a-new-driver-for-the-CVBS-DAC-CVBS-P.patch
  patch/kernel/archive/meson-6.9/0015-dt-bindings-display-meson-vpu-Add-the-CVBS-DAC-prope.patch
  patch/kernel/archive/meson-6.9/0016-drm-meson-Add-support-for-using-a-PHY-for-the-CVBS-D.patch
  patch/kernel/archive/meson-6.9/0018-dt-bindings-clock-meson8b-Add-the-RMII-reference-clo.patch
  patch/kernel/archive/meson-6.9/0019-dt-bindings-clock-meson8b-Add-the-Meson8-Ethernet-RM.patch
  patch/kernel/archive/meson-6.9/0020-clk-meson-meson8b-Add-the-Ethernet-RMII-clock-tree-o.patch
  patch/kernel/archive/meson-6.9/0021-dt-bindings-net-dwmac-meson-Add-the-Ethernet-clock-i.patch
  patch/kernel/archive/meson-6.9/0022-net-stmmac-dwmac-meson-Rename-the-SPEED_100-macro.patch
  patch/kernel/archive/meson-6.9/0023-net-stmmac-dwmac-meson-Manage-the-ethernet-clock.patch
  patch/kernel/archive/meson-6.9/0024-net-stmmac-dwmac-meson-Initialize-all-known-PREG_ETH.patch
  patch/kernel/archive/meson-6.9/0025-ARM-dts-meson-meson8-Add-the-clock-input-to-the-Ethe.patch
  patch/kernel/archive/meson-6.9/0026-dt-bindings-clock-meson8b-add-the-rtc_32k-oscillator.patch
  patch/kernel/archive/meson-6.9/0027-clk-meson-meson8b-Add-the-mpeg_rtc_osc_sel-clock.patch
  patch/kernel/archive/meson-6.9/0028-ARM-dts-meson-Add-address-cells-size-cells-and-range.patch
  patch/kernel/archive/meson-6.9/0029-dt-bindings-firmware-Document-the-Amlogic-Meson6-8-8.patch
  patch/kernel/archive/meson-6.9/0030-dt-bindings-arm-cpus-Document-Meson8-TrustZone-firmw.patch
  patch/kernel/archive/meson-6.9/0031-ARM-meson-Add-support-for-the-TrustZone-firmware.patch
  patch/kernel/archive/meson-6.9/0032-ARM-meson-platsmp-Add-support-for-SoCs-running-on-Tr.patch
  patch/kernel/archive/meson-6.9/0033-soc-amlogic-meson-mx-socinfo-Add-support-for-the-Tru.patch
  patch/kernel/archive/meson-6.9/0034-nvmem-meson-mx-efuse-Add-support-for-the-TrustZone-f.patch
  patch/kernel/archive/meson-6.9/0036-ARM-dts-meson8-Add-the-PWM_C-DV9-and-PWM_D-pins.patch
  patch/kernel/archive/meson-6.9/0045-dt-bindings-display-meson-vpu-add-support-for-Meson8.patch
  patch/kernel/archive/meson-6.9/0046-drm-meson-add-Meson8-Meson8b-Meson8m2-specific-vpu_c.patch
  patch/kernel/archive/meson-6.9/0047-drm-meson-Use-24-bits-per-pixel-for-the-framebuffer-.patch
  patch/kernel/archive/meson-6.9/0048-drm-meson-Use-a-separate-list-of-supported-formats-f.patch
  patch/kernel/archive/meson-6.9/0049-drm-meson-Skip-VIU_OSD1_CTRL_STAT2-alpha-replace-val.patch
  patch/kernel/archive/meson-6.9/0050-drm-meson-Enable-the-RGB-to-YUV-converter-on-Meson8-.patch
  patch/kernel/archive/meson-6.9/0051-drm-meson-Update-meson_vpu_init-to-work-with-Meson8-.patch
  patch/kernel/archive/meson-6.9/0052-drm-meson-Describe-the-HDMI-PHY-frequency-limits-of-.patch
  patch/kernel/archive/meson-6.9/0053-drm-meson-Update-the-HDMI-encoder-for-Meson8-8b-8m2.patch
  patch/kernel/archive/meson-6.9/0054-drm-meson-Only-set-ycbcr_420_allowed-on-64-bit-SoCs.patch
  patch/kernel/archive/meson-6.9/0055-drm-meson-Make-the-HHI-registers-optional-WIP.patch
  patch/kernel/archive/meson-6.9/0056-drm-meson-Add-support-for-the-Meson8-8b-8m2-TranSwit.patch
  patch/kernel/archive/meson-6.9/0057-drm-meson-Meson8-Meson8b-Meson8m2-VCLK-HACK.patch
  patch/kernel/archive/meson-6.9/0058-drm-meson-Enable-support-for-Meson8-Meson8b-Meson8m2.patch
  patch/kernel/archive/meson-6.9/0059-ARM-dts-meson-add-the-VPU-WiP.patch
  patch/kernel/archive/meson-6.9/0060-ARM-dts-meson8-add-the-HDMI-controller-WiP.patch
  patch/kernel/archive/meson-6.9/0061-ARM-dts-meson8-Add-the-shared-CMA-dma-memory-pool.patch
  patch/kernel/archive/meson-6.9/0062-ARM-dts-meson8-add-the-AO-CEC-controller-WiP.patch
  patch/kernel/archive/meson-6.9/0063-ARM-dts-meson8b-add-the-HDMI-controller-WiP.patch
  patch/kernel/archive/meson-6.9/0064-ARM-dts-meson8b-add-the-AO-CEC-controller-WiP.patch
  patch/kernel/archive/meson-6.9/0066-ARM-dts-meson8b-odroid-c1-enable-HDMI-for-the-Odroid.patch
  patch/kernel/archive/meson-6.9/generic-0001-m8-m8b-m8m2-Support-HDMI.patch
  patch/kernel/archive/meson-6.9/generic-0002-m8-m8b-m8m2-drm-forcefully-enable-XRGB-format.patch
  patch/kernel/archive/meson-6.9/generic-0003-drm-meson-Support-meson-8-8b-hdmi-tx-components.patch
Labels: Ready to merge, 05, size/large, Hardware

#6697 move ugoos x3 dt to 6.9 folder
  patch/kernel/archive/meson64-6.9/dt/meson-sm1-ugoos-x3.dts
Labels: Ready to merge, size/small, Hardware

#6704 Inovato-quadra: changing board support status
  config/boards/inovato-quadra.conf
Labels: Ready to merge, 08, size/small, Hardware

#6623 patching: rewrite: fully stabilize patch `index` stanzas as well as From lines
  lib/tools/common/patching_utils.py
Labels: 08, Needs review, size/small

#6711 `nanopct6`: Kwiboo 24.07 u-boot for edge; bump blobs for all branches
  config/boards/nanopc-cm3588-nas.csc
  config/boards/nanopct6.csc
Labels: size/medium, Hardware

#6616 Enhance build times disabling command-not-found during rootfs creation
  lib/functions/configuration/main-config.sh
Labels: Ready to merge, 08, size/small, Framework

#6714 update xapian-apt-index only in case of stable release
  lib/functions/main/rootfs-image.sh
Labels: Ready to merge, 08, size/small

#6710 odroidhc4: bump to u-boot v2024.04; drop most defconfig patches in favor of hooks
  config/boards/odroidhc4.csc
  config/sources/families/meson-sm1.conf
  patch/u-boot/v2023.01/board_odroidhc4/0001-HACK-configs-meson64-prevent-stdout-stderr-on-videoconsole.patch
  patch/u-boot/v2023.01/board_odroidhc4/board.odroidhc4.hc4_sd_defconfig.for.writing.to.mtd.patch
  patch/u-boot/v2023.01/board_odroidhc4/board.odroidhc4.preboot.pci.enum.usb.start.patch
  patch/u-boot/v2024.04/board_odroidhc4/meson64-boot-usb-nvme-scsi-first.patch
Labels: Ready to merge, 08, size/large, Hardware

#6720 Fix board firefly-itx3588j bluetooth
  config/boards/firefly-itx-3588j.csc
Labels: Ready to merge, 08, size/small, Hardware

#6722 Oracular i3wm: Remove deprecated packages
  config/desktop/noble/environments/i3-wm/config_base/packages
Labels: Ready to merge, 08, size/small, Hardware

#6721 sun55iw3-syterkit: update kernel config
  config/kernel/linux-sun55iw3-syterkit-legacy.config
Labels: Ready to merge, 08, size/medium, Hardware

#6689 NanoPi Neo3 spidev support
  patch/kernel/archive/rockchip64-6.6/overlay/Makefile
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3328-spi-spidev.dts
  patch/kernel/archive/rockchip64-6.9/overlay/Makefile
  patch/kernel/archive/rockchip64-6.9/overlay/rockchip-rk3328-spi-spidev.dts
Labels: Ready to merge, 08, size/medium, Hardware

#6728 Adjust Rockchip overlay to match changes introduced in 6.9.y
  patch/kernel/archive/rockchip64-6.9/overlay/rockchip-rk3328-spi-spidev.dtso
Labels: Ready to merge, Bugfix, 08, size/small, Hardware

#6733 Temporally disable broken build configuration
  config/boards/jethubj200.eos
Labels: size/small, Hardware

#6732 Odroid XU4: Remove deprecated patches
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.30-31.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.31-32.patch
Labels: Build, 08, size/large, Hardware

#6738 rk3588: Add board NanoPi R6C
  config/boards/nanopi-r6c.csc
Labels: Ready to merge, 08, size/medium, Hardware

#6735 rockchip-rk3588 6.8.y: nanopct6: Add NanoPC T6 SPI Flash (v6.8.y version)
  patch/kernel/archive/rockchip-rk3588-6.8/1016-arm64-dts-rockchip-Add-NanoPC-T6-SPI-Flash.patch
Labels: Ready to merge, 08, size/medium, Hardware

#6731 rockchip64/rk3318-box: move stack further from base addr to allow bigger uboot image
  patch/u-boot/v2024.01/board_rk3318-box/rk3318-box-add-defconfig.patch
Labels: Ready to merge, 08, size/small, Hardware

#6744 extlinux: add DEFAULT_OVERLAYS support
  lib/functions/rootfs/distro-agnostic.sh
Labels: Ready to merge, 08, size/small

#6742 Disable autosuspend on Gnome based desktops
  config/desktop/bookworm/environments/budgie/debian/postinst
  config/desktop/bookworm/environments/gnome/debian/postinst
  config/desktop/common/environments/budgie/debian/postinst
  config/desktop/common/environments/gnome/debian/postinst
Labels: Ready to merge, Bugfix, 08, size/small, Hardware

#6745 actions: Fix typo in actions/labeler labeler.yml
  .github/labeler.yml
Labels: Ready to merge, 08, size/small

#6750 khadas-edge2: rename audios
  config/boards/khadas-edge2.conf
Labels: Ready to merge, 08, size/small, Hardware

#6752 rockchip-rk3588-edge: fix vepu of rk3588
  patch/kernel/archive/rockchip-rk3588-6.10/0025-RK3588-Add-VPU121-H.264-Decoder-Support.patch
Labels: size/small, Hardware

#6753 kernel: mainline: Bump 6.10-rc3 to 6.10-rc4
  config/kernel/linux-rockchip-rk3588-6.10.config
  config/sources/mainline-kernel.conf.sh
Labels: Ready to merge, 08, size/small, Hardware

#6758 Debian buster: disable non-existing backports repository
  lib/functions/rootfs/distro-specific.sh
Labels: Ready to merge, Bugfix, 08

#6768 aic8800: update firmware package URL
  extensions/radxa-aic8800.sh
Labels: size/small, Framework

#6767 add community support for lckfb taishanpi
  config/boards/lckfb-taishanpi.csc
Labels: Ready to merge, 08, size/small, Hardware

#6775 Deboostrap: switch to last known working tag
  lib/functions/rootfs/rootfs-create.sh
Labels: Bugfix, 08, Needs review, size/small, Framework

#6776 i3-wm: remove conflicting userspace packages
  config/desktop/noble/environments/i3-wm/config_base/packages
Labels: Desktop, Ready to merge, 08, Hardware

#6729 partitioning: fix race condition on loop device allocation
  lib/functions/image/partitioning.sh
Labels: size/small

#6778 Rootfs cache is repeating generation over and over again
  extensions/network/net-chrony.sh
  extensions/network/net-network-manager.sh
  extensions/network/net-systemd-neworkd.sh
  extensions/network/net-systemd-timesyncd.sh
Labels: Ready to merge, Bugfix, Build, 08, size/small, Framework

#6779 add device-tree-overlay to bsp-cli debian dependencies
  lib/functions/bsp/armbian-bsp-cli-deb.sh
Labels: Ready to merge, 08, size/small, Framework

#6782 Run shellfmt to complete code
  config/sources/families/imx8m.conf
  config/sources/families/include/imx8_common.inc
  config/sources/families/include/meson_common.inc
  config/sources/families/jethub.conf
  config/sources/families/meson-s4t7.conf
  config/sources/families/mt7623.conf
  config/sources/families/mvebu64.conf
  config/sources/families/phytium-embedded.conf
  config/sources/families/rock-s0.conf
  config/sources/families/rockchip-rk3588.conf
  config/sources/families/sm8250.conf
  config/sources/families/sun50iw6.conf
  config/sources/families/sun8i.conf
  extensions/allwinner-kernel-bump.sh
  extensions/armbian-live-patch.sh
  extensions/cloud-init/cloud-init.sh
  extensions/fs-cryptroot-support.sh
  extensions/lvm.sh
  extensions/network/net-systemd-neworkd.sh
  extensions/network/net-systemd-timesyncd.sh
  extensions/radxa-aic8800.sh
  extensions/xorg-lima-serverflags.sh
  lib/functions/artifacts/artifact-uboot.sh
  lib/functions/bsp/armbian-bsp-cli-deb.sh
  lib/functions/cli/commands.sh
  lib/functions/compilation/kernel-config.sh
  lib/functions/compilation/patch/drivers_network.sh
  lib/functions/compilation/utils-compilation.sh
  lib/functions/general/git-ref2info.sh
  lib/functions/image/partitioning.sh
  lib/functions/logging/display-alert.sh
  lib/functions/logging/logging.sh
Labels: Ready to merge, 08, size/medium, Hardware, Framework

#6780 Networking: set proper hook location for extensions
  extensions/network/net-chrony.sh
  extensions/network/net-network-manager.sh
  extensions/network/net-systemd-neworkd.sh
  extensions/network/net-systemd-timesyncd.sh
Labels: size/small, Framework

#6785 ext: fs-cryptroot-support: don't abuse `add_host_dependencies`
  extensions/fs-cryptroot-support.sh
Labels: Ready to merge, 08, size/small, Framework

#6784 rockchip-rk3588 6.8/610: add `i2c8-m2` overlay
  patch/kernel/archive/rockchip-rk3588-6.10/overlay/Makefile
  patch/kernel/archive/rockchip-rk3588-6.10/overlay/rockchip-rk3588-i2c8-m2.dtso
  patch/kernel/archive/rockchip-rk3588-6.8/overlay/Makefile
  patch/kernel/archive/rockchip-rk3588-6.8/overlay/rockchip-rk3588-i2c8-m2.dts
Labels: Ready to merge, 08, size/small, Hardware, Patches

#6740 rk3588: Enable `current` kernel branch for some boards
  config/boards/nanopc-cm3588-nas.csc
  config/boards/nanopct6.csc
Labels: Ready to merge, Discussion, 08, size/small, Hardware

#6789 Helios64: move to supported section
  config/boards/helios64.conf
Labels: Ready to merge, 08, Hardware

#6788 phytium-embedded: add bpf_syscall support
  config/kernel/linux-phytium-embedded-current.config
  config/kernel/linux-phytium-embedded-legacy.config
Labels: Ready to merge, 08, size/large, Hardware

#6791 Rockcchip RK3588: Rename overlay suffix to match reality
  patch/kernel/archive/rockchip-rk3588-6.10/overlay/rockchip-rk3588-uart1-m1.dtso
  patch/kernel/archive/rockchip-rk3588-6.10/overlay/rockchip-rk3588-uart3-m1.dtso
  patch/kernel/archive/rockchip-rk3588-6.10/overlay/rockchip-rk3588-uart4-m2.dtso
  patch/kernel/archive/rockchip-rk3588-6.10/overlay/rockchip-rk3588-uart6-m1.dtso
  patch/kernel/archive/rockchip-rk3588-6.10/overlay/rockchip-rk3588-uart7-m2.dtso
  patch/kernel/archive/rockchip-rk3588-6.10/overlay/rockchip-rk3588-uart8-m1.dtso
Labels: Ready to merge, Bugfix, 08, size/small, Hardware, Patches

#6793 distro: trixie: Add riscv64 to supported architectures
  config/distributions/trixie/architectures
Labels: size/small, Hardware

#6794 Revert "distro: trixie: Add riscv64 to supported architectures"
  config/distributions/trixie/architectures
Labels: size/small, Hardware

#6796 actions: Use "all-globs" instead of "any-glob" for negated checks
  .github/labeler.yml
Labels: Ready to merge, 08, size/small, Actions scripts

#6797 Fix aml-s9xx-box bsp-cli package upgrade
  config/boards/aml-s9xx-box.tvb
Labels: Ready to merge, 08, size/small, Hardware

#6798 DTS-check: Python librarires have troubles to build, disabling for now
  lib/functions/host/docker.sh
  requirements.txt
Labels: Bugfix, 08, size/small, Framework

#6705 bootscript: Remove deprecated bootarg "swapaccount=1"
  config/bootscripts/boot-jethub.cmd
  config/bootscripts/boot-meson-gx.cmd
  config/bootscripts/boot-meson64.cmd
  config/bootscripts/boot-rk322x.cmd
  config/bootscripts/boot-rk3588-legacy.cmd
  config/bootscripts/boot-rock-s0.cmd
  config/bootscripts/boot-rockchip.cmd
  config/bootscripts/boot-rockchip64.cmd
  config/bootscripts/boot-rockpis.cmd
  config/bootscripts/boot-sun50i-next.cmd
  config/bootscripts/boot-sunxi.cmd
Labels: Ready to merge, Discussion, 08, size/small, Hardware

#6757 Odroid M1: add a network rule to rename default name
  config/boards/odroidm1.conf
Labels: Ready to merge, 08, size/small, Hardware

#6805 Add new "BSP" and "GitHub" label for the auto-labeler
  .github/labeler.yml
  .github/labels.yml
Labels: Ready to merge, 08, size/small, Actions scripts

#6810 rk3588: bump default blobs (DDR:1.16, BL31:1.45); remove board-specific blobs from boards that used those versions
  config/boards/armsom-sige7.csc
  config/boards/armsom-w3.csc
  config/boards/fxblox-rk1.csc
  config/boards/indiedroid-nova.csc
  config/boards/khadas-edge2.conf
  config/boards/mixtile-blade3.csc
  config/boards/nanopc-cm3588-nas.csc
  config/boards/nanopct6.csc
  config/boards/nanopi-r6c.csc
  config/boards/nanopi-r6s.csc
  config/boards/orangepi5-plus.conf
  config/boards/orangepi5.conf
  config/boards/orangepi5pro.wip
  config/boards/rock-5-itx.conf
  config/sources/families/include/rockchip64_common.inc
  config/sources/vendors/mekotronics/mekotronics-rk3588.conf.sh
Labels: Ready to merge, 08, size/small, Hardware

#6809 fix: partitioning: disable `orphan_file` (`FEATURE_C12`) for ext4 filesystems on 1.47+ e2fsprogs host
  lib/functions/image/partitioning.sh
Labels: Ready to merge, 08, size/small, Framework

#6811 Test #1 for checking that the modified script is purely running or not.
  tools/repository/repo
Labels: Ready to merge, size/small, Framework

#6803 aml-s9xx-box: Remove u-boot and update generated extlinux.conf
  config/boards/aml-s9xx-box.tvb
  packages/bsp/aml-s9xx-box/boot/extlinux/extlinux.conf.template
Labels: Ready to merge, 08, size/small, Hardware, Framework

#6812 station-m2: update u-boot patches
  patch/u-boot/u-boot-radxa-latest/board_station-m2-rk3566_defconfig.patch
Labels: Ready to merge, 08, size/large, Hardware, Patches

#6808 kde-neon: use Neon's "user" repo for Jammy & return it to `csc` status
  config/desktop/jammy/environments/kde-neon/sources/apt/neon.source
  config/desktop/jammy/environments/kde-neon/support
  config/desktop/noble/environments/kde-neon/sources/apt/neon.source
Labels: Desktop, Ready to merge, 08, size/small

#6807 actions: labeler: Fix label colors by removing `#` prefix
  .github/labels.yml
Labels: Ready to merge, 08, size/small, GitHub

#6801 Move board-specific config (Odroid C1) away from family config
  config/boards/odroidc1.csc
  config/boards/onecloud.conf
  config/sources/families/include/meson_common.inc
Labels: Ready to merge, 08, size/small, Hardware

#6781 Remove haveged to save space and resources
  config/cli/common/main/packages.additional
  config/cli/noble/main/packages.additional
  config/cli/sid/main/packages.additional
  config/cli/trixie/main/packages.additional
Labels: Ready to merge, 08, size/small, Hardware, Framework

#6814 Lets not spam users with error message on fresh checkout
  lib/functions/general/extensions.sh
Labels: Ready to merge, Bugfix, 08, Needs review, size/small, Framework

#6816 BPI-CM4: bluetooth: `fw version 0xb5d66dcb`
  packages/bsp/bananapi/rtl_bt/rtl8822cs_fw.bin
Labels: Ready to merge, 08, size/small, BSP

#6815 Update odroidxu4-current to 6.6.36
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.35-36.patch
Labels: Ready to merge, 08, size/large, Hardware, Patches

#6825 Odroid XU4: remove deprecated patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.35-36.patch
Labels: Ready to merge, 08, size/large, Hardware, Patches

#6826 Add Matrix to README
  README.md
Labels: Ready to merge, 08, size/small, Documentation

#6827 extensions/radxa-aic8800: fix aic8800_dkms_file_name for sdio
  extensions/radxa-aic8800.sh
Labels: Ready to merge, Bugfix, 08, size/small, Framework

#6836 armbianmonitor `-u`: rationalize paste server retrying, use ANSI dmesg
  packages/bsp/common/usr/bin/armbianmonitor
Labels: size/large, BSP

#6819 cli: uboot: Include PYTHONPATH in env for compiling U-Boot
  lib/functions/compilation/uboot.sh
Labels: size/small, Framework

#6842 radxa-zero3: add `edge` branch (6.9.y) by picking DT from linux-rockchip#for-next & using Kwiboo's 24.07 u-boot
  config/boards/radxa-zero3.conf
  patch/kernel/archive/rockchip64-6.9/dt/rk3566-radxa-zero-3.dtsi
  patch/kernel/archive/rockchip64-6.9/dt/rk3566-radxa-zero-3e.dts
  patch/kernel/archive/rockchip64-6.9/dt/rk3566-radxa-zero-3w.dts
Labels: size/large, Hardware, Patches

#6844 rockchip: fix rk322x-box uboot boot order
  patch/u-boot/v2024.01/board_rk322x-box/rk322x-box-add-device-tree-makefile.patch
Labels: Ready to merge, 08, size/small, Hardware, Patches

#6823 Addressing two problems related to `wireless at firstlogin script`
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready to merge, Bugfix, 08, size/medium, Hardware, Framework, Patches, Documentation, BSP
