Repository armbian/build, pull requests merged in 2024-02, with the labels that each got.

#6233 meson64: bananapicm4io/m2s: u-boot v2024.01 and WS dts fixup
  config/boards/bananapicm4io.conf
  config/boards/bananapim2s.conf
  patch/kernel/archive/meson64-6.6/dt/meson-g12b-waveshare-cm4-io-base-b.dts
  patch/kernel/archive/meson64-6.7/dt/meson-g12b-waveshare-cm4-io-base-b.dts
  patch/u-boot/v2024.01/board_bananapicm4io/001-configs-bananapi-cm4-cm4io_defconfig-nvme-support.patch
  patch/u-boot/v2024.01/board_bananapicm4io/002-configs-bananapi-cm4-cm4io_defconfig-sata-support.patch
  patch/u-boot/v2024.01/board_bananapicm4io/003-HACK-meson64-boot-target-nvme.patch
  patch/u-boot/v2024.01/board_bananapim2s/001-bananapi-m2s-support-fixup.patch
Labels: Ready to merge, 02, size/medium, Hardware

#6236 Fix compilation within docker-shell
  lib/functions/cli/cli-docker.sh
  lib/functions/host/docker.sh
Labels: Bugfix, 02, Needs review, size/small

#6235 Disable md5 packages check on unsupported distributions
  lib/functions/rootfs/rootfs-create.sh
Labels: Ready to merge, Bugfix, 02, size/small, Needs Documentation

#6231 fixed indentation on cloud-init extension
  extensions/cloud-init/cloud-init.sh
  extensions/cloud-init/defaults/network-config
  extensions/cloud-init/defaults/network-config.template
Labels: Ready to merge, Bugfix, 02, size/medium

#6204 Feature lvm support
  extensions/fs-cryptroot-support.sh
  extensions/lvm.sh
  lib/functions/image/partitioning.sh
Labels: Ready to merge, 02, size/medium, Framework, Needs Documentation

#6239 Remove missing package in sid and trixie desktops
  config/desktop/sid/environments/cinnamon/config_base/packages
  config/desktop/sid/environments/xfce/config_base/packages
  config/desktop/trixie/environments/cinnamon
  config/desktop/trixie/environments/i3-wm/config_base/packages
  config/desktop/trixie/environments/xfce
Labels: Bugfix, 02, Needs review, size/small, Hardware

#6240 meson64: u-boot: v2024.01: bananapicm4io: `sata support fixup`
  patch/u-boot/v2024.01/board_bananapicm4io/002-configs-bananapi-cm4-cm4io_defconfig-sata-support.patch
Labels: Ready to merge, Bugfix, size/small, Hardware

#6238 Fix git_ensure_safe_directory function again
  lib/functions/general/git.sh
Labels: Bugfix, Needs review, size/small

#6232 station-m3: move to rockchip-rk3588 family
  config/boards/station-m3.csc
  config/sources/families/media.conf
  packages/blobs/station/firefly-fan-init
  packages/blobs/station/firefly-fan.service
  packages/blobs/station/firefly_fan_control
Labels: Ready to merge, 02, size/medium, Hardware

#6247 prevent armbian-install from running on aml-s9xx-box
  config/boards/aml-s9xx-box.tvb
Labels: size/small, Hardware

#6245 thead: update current&edge kernel, fix pinctrl config
  config/kernel/linux-thead-current.config
  config/kernel/linux-thead-edge.config
  config/sources/families/thead.conf
Labels: Ready to merge, 02, size/small, Hardware

#6243 Update odroidxu4-current to 6.1.76
  patch/kernel/odroidxu4-current/patch-6.1.75-76.patch
Labels: Ready to merge, 02, size/large, Hardware

#6237 Fix armbian lightdm wallpaper path
  packages/blobs/desktop/lightdm/slick-greeter.conf
Labels: Ready to merge, Bugfix, 02, Needs review, size/small

#6249 Fix broken uboot compilation for boards with multiple targets
  config/sources/families/meson-s4t7.conf
  lib/functions/compilation/uboot.sh
Labels: Bugfix, Needs review, size/medium, Hardware

#6253 Enable current branch on Odroid N2L as it exists now
  config/boards/odroidn2l.csc
Labels: Ready to merge, 02, size/small, Hardware

#6252 thead: add pwm-fan support
  config/kernel/linux-thead-current.config
  config/kernel/linux-thead-edge.config
Labels: Ready to merge, 02, size/small, Hardware

#6262 Revert eMMC phase clock 'HACK' patches for JetHub D1/D1+/H1
  patch/u-boot/v2023.10/board_jethubj100/0001-HACK-mmc-meson-gx-limit-to-24MHz.patch
  patch/u-boot/v2023.10/board_jethubj100/0001-mmc-meson-gx-clean-up-and-align-on-Linux-settings.patch
  patch/u-boot/v2023.10/board_jethubj100/0002-mmc-meson-gx-change-clock-phase-value-on-axg-SoCs.patch
  patch/u-boot/v2023.10/board_jethubj100/0002-mmc-meson-gx-set-270-core-phase-during-the-identific.patch
  patch/u-boot/v2023.10/board_jethubj80/0001-HACK-mmc-meson-gx-limit-to-24MHz.patch
  patch/u-boot/v2023.10/board_jethubj80/0001-mmc-meson-gx-clean-up-and-align-on-Linux-settings.patch
  patch/u-boot/v2023.10/board_jethubj80/0002-mmc-meson-gx-change-clock-phase-value-on-axg-SoCs.patch
  patch/u-boot/v2023.10/board_jethubj80/0002-mmc-meson-gx-set-270-core-phase-during-the-identific.patch
Labels: Ready to merge, Bugfix, 02, size/large, Hardware

#6263 Odroid XU4: Remove deprecated patch
  patch/kernel/odroidxu4-current/patch-6.1.75-76.patch
Labels: Ready to merge, Bugfix, 02, Hardware

#6260 remove slick greater on environments on gdm3 and sddm
  config/desktop/bullseye/environments/budgie/config_base/packages
  config/desktop/bullseye/environments/gnome/config_base/packages
  config/desktop/bullseye/environments/kde-plasma/config_base/packages
  config/desktop/buster/environments/gnome/config_base/packages
  config/desktop/focal/environments/budgie/config_base/packages
  config/desktop/focal/environments/gnome/config_base/packages
  config/desktop/focal/environments/kde-plasma/config_base/packages
  config/desktop/jammy/environments/budgie/config_base/packages
  config/desktop/jammy/environments/gnome/config_base/packages
  config/desktop/jammy/environments/kde-plasma/config_base/packages
  config/desktop/sid/environments/budgie/config_base/packages
  config/desktop/sid/environments/gnome/config_base/packages
  config/desktop/sid/environments/kde-plasma/config_base/packages
Labels: Desktop, Ready to merge, Bugfix, 02, size/small

#6251 Make the colorized build output readable on a light background
  lib/functions/compilation/kernel-make.sh
  lib/functions/compilation/kernel-patching.sh
  lib/functions/compilation/uboot-patching.sh
  lib/functions/configuration/aggregation.sh
  lib/functions/general/bat-cat.sh
  lib/functions/host/docker.sh
  lib/functions/logging/display-alert.sh
  lib/functions/logging/logging.sh
  lib/tools/common/armbian_utils.py
  lib/tools/common/patching_utils.py
  lib/tools/common/term_colors.py
Labels: Ready to merge, 02, size/medium

#6265 vim1s/vim4 kernel config update
  config/kernel/linux-meson-s4t7-legacy.config
Labels: Ready to merge, 02, size/small, Hardware

#6258 rockchip: workaround stmmac ethernet lock contemption
  patch/kernel/archive/rockchip-6.6/hack-barrier-stmmac.patch
  patch/kernel/archive/rockchip-6.7/hack-barrier-stmmac.patch
Labels: Ready to merge, 02, size/medium, Hardware

#6269 Fix failure on purging armbian-bsp-cli package
  packages/bsp/common/etc/apt/apt.conf.d/02-armbian-postupdate
Labels: Ready to merge, Bugfix, size/small

#6261 Initial support for Radxa Rock S0 board
  config/boards/rock-s0.wip
  config/bootscripts/boot-rock-s0.cmd
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/rock-s0.conf
  patch/kernel/archive/rockchip64-6.6/board-rocks0-0001-deviceTree.patch
  patch/kernel/archive/rockchip64-6.6/overlay/Makefile
  patch/kernel/archive/rockchip64-6.6/overlay/README.rockchip-overlays
  patch/kernel/archive/rockchip64-6.6/overlay/rk3308-s0-ext-antenna.dts
  patch/kernel/archive/rockchip64-6.7/board-rocks0-0001-deviceTree.patch
  patch/kernel/archive/rockchip64-6.7/overlay/Makefile
  patch/kernel/archive/rockchip64-6.7/overlay/rk3308-s0-ext-antenna.dts
  patch/u-boot/u-boot-rockchip64-v2022.04/board_rock-s0/add-board-rock-s0.patch
Labels: Ready to merge, 02, size/large, Hardware

#6234 Proposed board status change for 24.02
  config/boards/armsom-sige7.csc
  config/boards/fxblox-rk1.csc
  config/boards/helios4.conf
  config/boards/jp-tvbox-3566.tvb
  config/boards/mekotronics-r58-minipc.csc
  config/boards/mekotronics-r58x-4g.csc
  config/boards/mekotronics-r58x.csc
  config/boards/mixtile-blade3.csc
  config/boards/nanopct6.csc
  config/boards/nanopi-r5s.csc
  config/boards/nanopi-r6s.csc
  config/boards/orangepi-r1.csc
  config/boards/orangepi-r1plus-lts.csc
  config/boards/qemu-uboot-arm64.csc
  config/boards/qemu-uboot-x86.csc
  config/boards/radxa-e25.csc
  config/boards/radxa-zero2.csc
  config/boards/rock-3a.csc
  config/boards/rock-5a.csc
  config/boards/rock-5b.csc
  config/boards/rockpi-4a.csc
  config/boards/wdk2023.wip
Labels: Work in progress, 02, size/small, Hardware

#6276 Fix OPi5plus hym8563 pinctrls and poweroff support
  patch/kernel/rockchip-rk3588-edge/0034-arm64-dts-fix-rtc-add-poweroff-support-Orange-Pi-5-Plus.patch
Labels: size/medium, Hardware

#6277 Update NanoPi K2 u-boot
  config/boards/nanopik2-s905.csc
  patch/u-boot/v2024.01/board_nanopik2-s905/add-emmc-support-for-nanopi-k2.patch
Labels: size/small, Hardware

#6281 Disable broken patch on current media kernel
  patch/kernel/media-current/00300-general-add-dwc3-xhci-usb-trb-quirk.patch
Labels: Bugfix, Build, 05, size/medium, Hardware

#6271 Enable DRBD in kernel config for mvebu-edge and mvebu-current
  config/kernel/linux-mvebu-current.config
  config/kernel/linux-mvebu-edge.config
Labels: Ready to merge, 02, size/small, Hardware

#6286 Bump VERSION to 24.5
  VERSION
Labels: Ready to merge, size/small

#6290 Fix ddbr to handle current lsblk output
  packages/bsp/common/usr/sbin/ddbr
Labels: Ready to merge, Bugfix, 05, size/small

#6287 Fix upgrades of armbian-bsp-cli-aml-s9xx-box-current
  config/boards/aml-s9xx-box.tvb
  packages/bsp/aml-s9xx-box/boot/extlinux/extlinux.conf
  packages/bsp/aml-s9xx-box/boot/extlinux/extlinux.conf.template
Labels: Ready to merge, 05, size/small, Hardware

#6284 rk3318: enable uboot gpio command
  patch/u-boot/u-boot-rockchip64/board_rk3318-box/rk3318-box-add-defconfig.patch
Labels: Ready to merge, 05, size/small, Hardware

#6282 artifact-uboot: include BOOTCONFIG in u-boot artifact version hash
  lib/functions/artifacts/artifact-uboot.sh
Labels: Ready to merge, size/small

#6299 Fix random MAC on Orangepi 5 series
  config/boards/orangepi5-plus.conf
  config/boards/orangepi5.conf
  patch/u-boot/legacy/u-boot-orangepi5-rk3588/set-fixed-mac.patch
Labels: Bugfix, 05, size/small, Hardware

#6297 [Le Potato] bump u-boot to 2024.01
  config/boards/lepotato.conf
  patch/u-boot/v2024.01/board_lepotato/le-potato-general-vendor.patch
Labels: size/small, Hardware

#6302 Update odroidxu4-current to 6.1.79
  patch/kernel/odroidxu4-current/patch-6.1.77-78.patch
  patch/kernel/odroidxu4-current/patch-6.1.78-79.patch
Labels: Ready to merge, 05, size/large, Hardware

#6310 JetHome: fix u-boot patches for corrent rescue button handling
  patch/u-boot/v2023.10/board_jethubj100/0001-HACK-mmc-meson-gx-limit-to-24MHz.patch
  patch/u-boot/v2023.10/board_jethubj100/0002-mmc-meson-gx-change-clock-phase-value-on-axg-SoCs.patch
  patch/u-boot/v2023.10/board_jethubj100/0003-Copy-and-update-amlogic-2019-aml-partition-keyman-co.patch
  patch/u-boot/v2023.10/board_jethubj100/0004-Copy-and-update-amlogic-2019-aml-partition-keyman-co.patch
  patch/u-boot/v2023.10/board_jethubj100/0005-Add-usid-serial-mac-read-from-emmc.patch
  patch/u-boot/v2023.10/board_jethubj100/0006-HACK-force-disable-efi-options-for-JetHub-D1-H1.patch
  patch/u-boot/v2023.10/board_jethubj100/0007-ARM-amlogic-revert-JetHub-D1-eth-mac-generation-with.patch
  patch/u-boot/v2023.10/board_jethubj100/0008-board-amlogic-jethub-j100-fix-common-config-header.patch
Labels: Ready to merge, 05, size/large, Hardware

#6313 Update kernel config for khadas 1s/vim4 so that HA works
  config/kernel/linux-meson-s4t7-legacy.config
Labels: Ready to merge, Bugfix, 05, size/medium, Hardware

#6312 armbian-resize-filesystem: fix off-by-one error
  packages/bsp/common/usr/lib/armbian/armbian-resize-filesystem
Labels: Ready to merge, Bugfix, 05, size/small

#6301 Add config and device-trees for rock3c
  config/boards/rock-3c.csc
  patch/kernel/archive/rockchip64-6.6/dt/rk3566-rock-3c.dts
  patch/kernel/archive/rockchip64-6.7/dt/rk3566-rock-3c.dts
Labels: Ready to merge, 05, size/large, Hardware

#6254 Rename board config: micro.csc to olimex-a20-olinuxino-micro
  config/boards/olimex-a20-olinuxino-micro.csc
Labels: Ready to merge, 05, size/small, Hardware
