Repository armbian/build, pull requests merged in 2024-09, with the labels that each got.

#7171 Enable ksmbd consistently across configurations
  config/kernel/linux-arm64-sc8280xp.config
  config/kernel/linux-arm64-wdk2023.config
  config/kernel/linux-bcm2711-current.config
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-bcm2711-legacy.config
  config/kernel/linux-d1-edge.config
  config/kernel/linux-imx6-current.config
  config/kernel/linux-imx6-edge.config
  config/kernel/linux-imx6-legacy.config
  config/kernel/linux-k3-current.config
  config/kernel/linux-k3-edge.config
  config/kernel/linux-meson-current.config
  config/kernel/linux-meson-edge.config
  config/kernel/linux-meson-s4t7-legacy.config
  config/kernel/linux-meson64-current.config
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-mt7623-current.config
  config/kernel/linux-mvebu-current.config
  config/kernel/linux-mvebu-edge.config
  config/kernel/linux-mvebu-legacy.config
  config/kernel/linux-mvebu64-current.config
  config/kernel/linux-mvebu64-edge.config
  config/kernel/linux-odroidxu4-current.config
  config/kernel/linux-odroidxu4-edge.config
  config/kernel/linux-phytium-embedded-current.config
  config/kernel/linux-rk322x-current.config
  config/kernel/linux-rk322x-edge.config
  config/kernel/linux-rk35xx-vendor.config
  config/kernel/linux-rockchip-current.config
  config/kernel/linux-rockchip-edge.config
  config/kernel/linux-rockchip-rk3588-6.10.config
  config/kernel/linux-rockchip-rk3588-6.11.config
  config/kernel/linux-rockchip-rk3588-collabora.config
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-sm8250-current.config
  config/kernel/linux-sm8250-edge.config
  config/kernel/linux-spacemit-6.1.config
  config/kernel/linux-spacemit-legacy.config
  config/kernel/linux-starfive-edge.config
  config/kernel/linux-starfive2-edge.config
  config/kernel/linux-sun55iw3-syterkit-legacy.config
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-sunxi64-legacy.config
  config/kernel/linux-thead-current.config
  config/kernel/linux-thead-edge.config
  config/kernel/linux-tqma-current.config
  config/kernel/linux-uefi-riscv64-current.config
  config/kernel/linux-uefi-riscv64-edge.config
  config/kernel/linux-uefi-riscv64-legacy.config
  config/kernel/linux-virtual-current.config
  config/kernel/linux-wsl2-arm64-current.config
  config/kernel/linux-wsl2-arm64-edge.config
  config/kernel/linux-wsl2-x86-current.config
  config/kernel/linux-wsl2-x86-edge.config
Labels: Ready to merge, 11, Build, size/medium, Hardware

#7156 Store two additional variables to /etc/armbian-release
  lib/functions/bsp/armbian-bsp-cli-deb.sh
  lib/functions/configuration/main-config.sh
  lib/functions/image/fingerprint.sh
Labels: Ready to merge, 11, Needs review, size/small, Framework

#7162 linux-rk35xx-vendor: enable `CONFIG_KPROBES`
  config/kernel/linux-rk35xx-vendor.config
Labels: Ready to merge, 11, size/small, Hardware

#7163 kernel-dtb: copy also the dtb binary for the board to output
  lib/functions/compilation/kernel.sh
Labels: Ready to merge, 11, size/small, Framework

#7165 prepare-host: trixie and sid don't carry python3-distutils anymore
  lib/functions/host/prepare-host.sh
Labels: Ready to merge, 11, size/small, Framework

#7167 linux-rockchip-rk3588-6.11.config: enable `CONFIG_INPUT_PWM_BEEPER=m`
  config/kernel/linux-rockchip-rk3588-6.11.config
Labels: Ready to merge, 11, size/small, Hardware

#7168 desktop: amd64: drop nvidia-drivers forced ppa (focal stuff? no thanks)
  config/optional/architectures/amd64/_config/desktop/common/environments/_all_environments/sources/apt/nvidia-drivers.gpg
  config/optional/architectures/amd64/_config/desktop/common/environments/_all_environments/sources/apt/nvidia-drivers.source
Labels: Ready to merge, 11, size/small, Hardware

#7173 Adding Youyeetoo R1 v3 on current & edge kernel
  config/boards/youyeetoo-r1-v3.csc
  patch/kernel/archive/rockchip-rk3588-6.10/dt/rk3588s-youyeetoo-r1.dts
  patch/kernel/archive/rockchip-rk3588-6.11/dt/rk3588s-youyeetoo-r1.dts
Labels: Ready to merge, 11, size/large, Hardware, Patches

#7179 Move LicheePi-4A to eos because its chip design has security vulnerabilities.
  config/boards/licheepi-4a.eos
Labels: Ready to merge, 11, Needs review, size/small, Hardware

#7161 rockpro64: bump u-boot to 2024.07; make fancy configs; drop bin size limit as fix landed upstream
  config/boards/rockpro64.csc
Labels: Ready to merge, 11, size/medium, Hardware

#7192 Update GitHub CLI GPG key
  config/desktop/_all_distributions/appgroups/programming/sources/apt/githubcli.gpg
Labels: Desktop, Ready to merge, Bugfix, 11, size/small

#7190 Patch: refactor broken patch due to upstream changes
  patch/kernel/archive/meson-6.10/0048-drm-meson-Use-a-separate-list-of-supported-formats-f.patch
Labels: 11, Build, Needs review, size/small, Hardware, Patches

#7193 BananaPi CM4: `improve SDIO WiFi speeds`
  patch/kernel/archive/meson64-6.10/board-bananapi-cm4-cm4io.patch
  patch/kernel/archive/meson64-6.10/overlay/Makefile
  patch/kernel/archive/meson64-6.10/overlay/meson-g12b-bananapi-cm4-wifi-freq-200mhz.dtso
  patch/kernel/archive/meson64-6.6/board-bananapi-cm4-cm4io.patch
  patch/kernel/archive/meson64-6.6/dt/meson-g12b-waveshare-cm4-io-base-b.dts
  patch/kernel/archive/meson64-6.6/overlay/Makefile
  patch/kernel/archive/meson64-6.6/overlay/meson-g12b-bananapi-cm4-wifi-freq-200mhz.dts
Labels: Ready to merge, 11, size/medium, Hardware, Patches

#7194 dt_makefile_patcher: fix dtbs with dot in filename
  lib/tools/common/dt_makefile_patcher.py
Labels: size/small, Framework

#7203 Userspace: remove System Activity Reporter (SAR) from server package base
  config/cli/bullseye/main/packages
  config/cli/common/main/packages.additional
  config/cli/jammy/main/packages
Labels: Ready to merge, 11, size/small, Framework

#7183 Fix `sun50i-h616-light` device tree overlay
  patch/kernel/archive/sunxi-6.6/patches.armbian/cb1-overlay-light-fix.patch
  patch/kernel/archive/sunxi-6.6/series.armbian
  patch/kernel/archive/sunxi-6.6/series.conf
Labels: Ready to merge, 11, size/small, Hardware, Patches

#7166 distro-specific: systemd-resolved: don't impose 1.0.0.1 DNS server on users
  lib/functions/rootfs/distro-specific.sh
Labels: Ready to merge, 11, size/small, Framework

#7132 armsom-sige5: update uboot from latest SDK
  config/boards/armsom-sige5.csc
  patch/u-boot/legacy/u-boot-armsom-rk3576/0001-dw_mmc-add-default-power-enable-config-val.patch
  patch/u-boot/legacy/u-boot-armsom-rk3576/0002-dts-rockchip-rk3576-the-power_en-for-SD-co.patch
  patch/u-boot/legacy/u-boot-armsom-rk3576/defconfig/armsom-sige5-rk3576_defconfig
Labels: Ready to merge, 11, size/medium, Hardware, Patches

#7206 Phytiumpi: switch default branch for images and testing to CURRENT
  config/boards/phytiumpi.conf
Labels: Ready to merge, size/small, Hardware

#7202 arm64: dts: rockchip: fix gmac PHY attach error on ROCK Pi E
  patch/kernel/archive/rockchip64-6.10/board-rockpie-0001-arm64-dts-rockchip-fix-gmac-PHY-attach-error.patch
  patch/kernel/archive/rockchip64-6.6/board-rockpie-0001-arm64-dts-rockchip-fix-gmac-PHY-attach-error.patch
Labels: Work in progress, Ready to merge, 11, Needs review, size/medium, Hardware, Patches

#7208 Odroid XU4: remove deprecated patches
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.44-45.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.45-46.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.46-47.patch
Labels: 11, Build, size/large, Hardware, Patches

#7213 Framework: Revert ORAS and setuptools upgrades
  requirements.txt
Labels: Ready to merge, Bugfix, 11, size/small

#7215 rootfs cache: after updating github cli key, we need to rebuild rootfs cache
  lib/functions/rootfs/create-cache.sh
Labels: Bugfix, 11, size/small, Framework

#7099 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/armsom-sige7.csc
  config/boards/avaota-a1.conf
  config/boards/bananapi.conf
  config/boards/bananapif3.csc
  config/boards/bananapim2s.conf
  config/boards/bananapim7.conf
  config/boards/coolpi-cm5.csc
  config/boards/espressobin.eos
  config/boards/firefly-itx-3588j.csc
  config/boards/jetson-nano.csc
  config/boards/khadas-vim1s.conf
  config/boards/khadas-vim3.conf
  config/boards/khadas-vim4.conf
  config/boards/leez-p710.csc
  config/boards/lubancat2.csc
  config/boards/mba8mpxl-ras314.wip
  config/boards/mba8mpxl.wip
  config/boards/nanopc-cm3588-nas.csc
  config/boards/nanopineocore2.csc
  config/boards/odroidc4.conf
  config/boards/odroidhc4.conf
  config/boards/orangepi5-plus.conf
  config/boards/orangepi5pro.csc
  config/boards/orangepipcplus.csc
  config/boards/orangepizero2.wip
  config/boards/orangepizero3.csc
  config/boards/pine64so.csc
  config/boards/radxa-zero.conf
  config/boards/radxa-zero3.csc
  config/boards/recore.csc
  config/boards/rk3318-box.tvb
  config/boards/rock-3a.conf
  config/boards/rock-5-itx.conf
  config/boards/rpi4b.conf
  config/boards/x96-mate.tvb
  config/boards/youyeetoo-r1-v3.csc
Labels: Needs review, size/medium, Hardware, GitHub

#7219 Wireless drivers: rtw88: remove deprecated sections in patch
  patch/misc/rtw88/6.6/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
Labels: Ready to merge, Bugfix, 11, size/medium, Hardware, Patches

#7222 Align KERNEL_TARGET_TEST from edge to vendor for Youyeetoo R1 board
  config/boards/youyeetoo-r1-v3.csc
Labels: Ready to merge, 11, size/small, Hardware

#7223 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/nanopct6.conf
Labels: Ready to merge, 11, Needs review, size/small, Hardware, GitHub

#7228 Introduce the Turing RK1
  config/boards/turing-rk1.csc
  patch/kernel/archive/rockchip-rk3588-6.10/1060-arm64-dts-rockchip-Split-pcie30x1m1-pinctrl.patch
  patch/kernel/archive/rockchip-rk3588-6.10/1061-arm64-dts-rockchip-Add-PCIe-3.0-pinctrl-to-Turing-RK.patch
  patch/kernel/archive/rockchip-rk3588-6.10/1062-arm64-dts-rockchip-Enable-GPU-node-on-Turing-RK1.patch
  patch/kernel/archive/rockchip-rk3588-6.10/1063-arm64-dts-rockchip-Enable-automatic-fan-control-on-t.patch
  patch/kernel/archive/rockchip-rk3588-6.10/1064-arm64-dts-rockchip-Add-missing-hym8563-clock-frequen.patch
  patch/kernel/archive/rockchip-rk3588-6.11/1060-arm64-dts-rockchip-Split-pcie30x1m1-pinctrl.patch
  patch/kernel/archive/rockchip-rk3588-6.11/1061-arm64-dts-rockchip-Add-PCIe-3.0-pinctrl-to-Turing-RK.patch
  patch/kernel/archive/rockchip-rk3588-6.11/1062-arm64-dts-rockchip-Enable-GPU-node-on-Turing-RK1.patch
  patch/kernel/archive/rockchip-rk3588-6.11/1063-arm64-dts-rockchip-Enable-automatic-fan-control-on-t.patch
  patch/kernel/archive/rockchip-rk3588-6.11/1064-arm64-dts-rockchip-Add-missing-hym8563-clock-frequen.patch
  patch/u-boot/v2024.04/board_turing-rk1/0001-include-turing-rk1-rk3588-define-boot-targets.patch
  patch/u-boot/v2024.04/board_turing-rk1/0002-arm-dts-rk3588-turing-rk1-fix-pcie3x4-hang.patch
Labels: 11, Needs review, size/large, Hardware, Patches

#7227 Enable oras pull to use system proxy
  lib/functions/general/oci-oras.sh
Labels: Ready to merge, 11, size/small, Framework

#7231 rockpro64: u-boot: patch u-boot's dtsi to enable otg port for UMS/Gadget capabilities
  patch/u-boot/v2024.07/board_rockpro64/1000-rockchip-dts-rk3399-rockpro64-otg-usbdrd_dwc3_0-for-working-gadget-mode.patch
Labels: Ready to merge, 11, size/small, Hardware, Patches

#7236 Cherryba M1: switch legacy branch to EDGE to fix compliation breaking
  config/boards/cherryba-m1.csc
Labels: Ready to merge, Bugfix, 11, size/small, Hardware

#7230 Update odroidxu4-current to 6.6.51
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.50-51.patch
Labels: Ready to merge, 11, size/large, Hardware, Patches

#7242 nanopi-r6s: mark as supported
  config/boards/nanopi-r6s.conf
Labels: Ready to merge, 11, size/small, Hardware

#7244 nanopi-r6s: mark as supported
  config/boards/nanopi-r6s.conf
Labels: Ready to merge, 11

#7243 rockchip-rk3588: fix hdmi display of armsom-sige7 for edge and current
  patch/kernel/archive/rockchip-rk3588-6.10/1031-arm64-dts-rockchip-Add-HDMI-support-to-ArmSoM-Sige7.patch
  patch/kernel/archive/rockchip-rk3588-6.11/1031-arm64-dts-rockchip-Add-HDMI-support-to-ArmSoM-Sige7.patch
Labels: Ready to merge, 11, size/small, Hardware, Patches

#7246 Nanopi R6: adjust kernel build target to have correct images built
  config/boards/nanopi-r6s.conf
Labels: Ready to merge, 11, size/small, Hardware

#7238 kernel-debs: show 3 levels of dirs in tree output for kernel-dtb, so overlays are shown
  lib/functions/compilation/kernel-debs.sh
Labels: Ready to merge, 11, size/small, Framework

#7232 systemd-networkd: default to DUIDType=link-layer for ipv6; via networkd.conf.d
  extensions/network/config-networkd/systemd/networkd.conf.d/mac-duid.conf
  extensions/network/net-systemd-networkd.sh
Labels: Ready to merge, 11, size/small, Framework

#7235 rk3318-box: fix usb2 functionality in u-boot, that was broken since update to v2024.07
  patch/u-boot/v2024.07/board_rk3318-box/rk3318-box-add-defconfig.patch
  patch/u-boot/v2024.07/board_rk3318-box/rk3318-box-add-dts.patch
Labels: Ready to merge, 11, size/small, Hardware, Patches

#7239 mainline-kernel: bump from v6.11-rc4 to v6.11-rc7
  config/sources/mainline-kernel.conf.sh
Labels: Ready to merge, 11, size/small, Hardware

#7204 Add `sun50i-h616-light` dt overlay fix to 6.10
  patch/kernel/archive/sunxi-6.10/patches.armbian/cb1-overlay-light-fix.patch
  patch/kernel/archive/sunxi-6.10/series.armbian
  patch/kernel/archive/sunxi-6.10/series.conf
Labels: Ready to merge, 11, size/small, Hardware, Patches

#7248 s4t7: Add panfrost driver
  config/kernel/linux-meson-s4t7-legacy.config
Labels: Ready to merge, 11, Needs review

#7247 MOTD: fix error when traffic info is enabled
  packages/bsp/common/etc/update-motd.d/30-armbian-sysinfo
Labels: Ready to merge, Bugfix, 11, Needs review, size/small

#7245 Odroid M1: resolve lowered network speed
  patch/kernel/archive/rockchip64-6.10/general-net-stmmac-dwmac4-fix_PCS_duplex_mode_decode.patch
  patch/kernel/archive/rockchip64-6.6/general-net-stmmac-dwmac4-fix_PCS_duplex_mode_decode.patch
Labels: Ready to merge, Bugfix, 11, size/medium, Hardware, Patches

#7218 Userspace: add information about read only rootfs feature
  packages/bsp/common/etc/update-motd.d/30-armbian-sysinfo
Labels: Ready to merge, 11, Needs review, size/small

#7216 armbian-firstrun: Optionally skip OpenSSH host key regeneration
  lib/functions/bsp/armbian-bsp-cli-deb.sh
  lib/functions/rootfs/distro-agnostic.sh
  packages/bsp/common/etc/default/armbian-firstrun.dpkg-dist
  packages/bsp/common/lib/systemd/system/armbian-firstrun.service
  packages/bsp/common/usr/lib/armbian/armbian-firstrun
Labels: Ready to merge, 11, size/small, Framework, BSP

#7198 BSP: store overlay folder definition to /etc/armbian-release to be used in armbian-config
  config/sources/families/bcm2711.conf
  config/sources/families/include/imx8_common.inc
  config/sources/families/include/meson64_common.inc
  config/sources/families/include/rockchip64_common.inc
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/k3.conf
  config/sources/families/mvebu64.conf
  config/sources/families/sm8250.conf
  lib/functions/bsp/armbian-bsp-cli-deb.sh
Labels: Ready to merge, 11, size/small, Hardware, Framework

#7196 add new board armsom-sige3
  config/boards/armsom-sige3.csc
  patch/u-boot/legacy/u-boot-radxa-rk35xx/board_armsom-sige3/add-u-boot-pd-negotiation-support.patch
  patch/u-boot/legacy/u-boot-radxa-rk35xx/defconfig/armsom-sige3-rk3568_defconfig
  patch/u-boot/legacy/u-boot-radxa-rk35xx/dt/rk3568-armsom-sige3.dts
Labels: Ready to merge, 11, Needs review, size/large, Hardware, Patches

#7256 Adding OVERLAYDIR variable to hash calculating mechanisms
  lib/functions/artifacts/artifact-armbian-bsp-cli.sh
Labels: Ready to merge, 11, size/small, Framework

#7258 radxa-zero2: bump to u-boot 2024.07 (from 2023.10)
  config/boards/radxa-zero2.csc
  patch/u-boot/v2024.07/board_radxa-zero2/meson64-boot-usb-nvme-scsi-first.patch
Labels: Ready to merge, 11, size/small, Hardware, Patches

#7260 thinkpad-x13s: bump to jhovold's `wip/sc8280xp-6.11` (final) from -rc5
  config/boards/thinkpad-x13s.wip
Labels: Ready to merge, 11, size/small, Hardware

#7253 rk3318-box: enable usb3 port in uboot
  patch/u-boot/v2024.07/board_rk3318-box/rk3318-box-add-dts.patch
Labels: Ready to merge, 11, size/small, Hardware, Patches

#7233 Orange Pi 3B: Update board config to support v2.1 boards
  config/boards/orangepi3b.csc
  packages/bsp/orangepi3b/orangepi3b-sprd-bluetooth
  packages/bsp/orangepi3b/orangepi3b-sprd-bluetooth.service
Labels: Work in progress, Ready to merge, 11, size/small, Hardware, BSP

#7252 u-boot-sunxi: Fix loading of bananapim3 board from eMMC
  patch/u-boot/u-boot-sunxi/board_bananapim3/Add-MACH_SUN8I_A83T-to-can-calibrate.patch
  patch/u-boot/u-boot-sunxi/board_bananapim3/adjust-default-dram-clockspeeds.patch
Labels: Ready to merge, 11, size/small, Hardware, Patches

#7212 Op5+/HDMI-RX: fix spurious triggering of irq 5v while plugout code is running
  patch/kernel/archive/rockchip-rk3588-6.10/0113-add-synopsys-designware-hdmi-rx-controller.patch
Labels: Ready to merge, 11, Needs review, size/medium, Hardware, Patches

#7261 Cosmetic / UX: Display VENDORPRETTYNAME instead of VENDOR
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready to merge, 11, Needs review, BSP

#7277 sm8250-current: update to 6.11
  config/sources/families/sm8250.conf
  patch/kernel/archive/sm8250-6.11/0001-drm-Add-drm-notifier-support.patch
  patch/kernel/archive/sm8250-6.11/0002-drm-dsi-emit-panel-turn-on-off-signal-to-touchscreen.patch
  patch/kernel/archive/sm8250-6.11/0003-Input-Add-nt36523-touchscreen-driver.patch
  patch/kernel/archive/sm8250-6.11/0004-arm64-dts-qcom-sm8250-xiaomi-elish-enable-wifi-and-b.patch
  patch/kernel/archive/sm8250-6.11/0005-arm64-dts-qcom-sm8250-xiaomi-elish-enable-touchscree.patch
  patch/kernel/archive/sm8250-6.11/0006-ASoC-qcom-sm8250-Add-tdm-support.patch
  patch/kernel/archive/sm8250-6.11/0007-arm64-dts-qcom-sm8250-xiaomi-elish-Add-sound-support.patch
  patch/kernel/archive/sm8250-6.11/0008-Asoc-wm_adsp-Add-prefix-support.patch
  patch/kernel/archive/sm8250-6.11/0009-arm64-dts-qcom-sm8250-oneplus-instantnoodlep-Add-dev.patch
  patch/kernel/archive/sm8250-6.11/0010-drm-msm-dsi-change-sync-mode-to-sync-on-DSI0-rather-.patch
  patch/kernel/archive/sm8250-6.11/0011-drm-msm-dpu1-improve-support-for-active-CTLs.patch
  patch/kernel/archive/sm8250-6.11/0012-drm-msm-dpu1-use-one-active-CTL-if-it-is-available.patch
  patch/kernel/archive/sm8250-6.11/0013-drm-msm-dpu-populate-has_active_ctls-in-the-catalog.patch
  patch/kernel/archive/sm8250-6.11/0014-drm-msm-dpu1-dpu_encoder_phys_-proper-support-for-ac.patch
  patch/kernel/archive/sm8250-6.11/0015-drm-msm-dpu-Drop-BIT-DPU_CTL_SPLIT_DISPLAY-from-acti.patch
  patch/kernel/archive/sm8250-6.11/0016-arm64-dts-qcom-sm8250-xiaomi-elish-add-keyboard-supp.patch
  patch/kernel/archive/sm8250-6.11/0017-arm64-dts-qcom-sm8250-xiaomi-elish-remove-framebuffe.patch
  patch/kernel/archive/sm8250-6.11/0018-of-property-fix-remote-endpoint-parse.patch
  patch/kernel/archive/sm8250-6.11/0019-arm64-dts-qcom-sm8250-move-lpass-codec-macros-to-use.patch
  patch/kernel/archive/sm8250-6.11/0020-drm-panel-nt36523-use-devm_mipi_dsi_-function-to-reg.patch
  patch/kernel/archive/sm8250-6.11/0021-drivers-spmi-spmi-pmic-arb.c-remove-warnings.patch
  patch/kernel/archive/sm8250-6.11/0022-Asoc-wm_adsp-Use-xiaomi-elish-firmware-name.patch
  patch/kernel/archive/sm8250-6.11/0023-input-nt36523-short-the-firmware-download-delay-from.patch
Labels: Ready to merge, 11, size/large, Hardware, Patches

#7276 X96Q LPDDR3 Improvements
  patch/kernel/archive/sunxi-6.10/patches.armbian/arm64-dts-sun50i-h313-x96q-lpddr3.patch
  patch/kernel/archive/sunxi-6.6/patches.armbian/arm64-dts-sun50i-h313-x96q-lpddr3.patch
  patch/u-boot/u-boot-sunxi/arm64-sun50i-h313-add-x96q-lpddr3-defconfig.patch
  patch/u-boot/u-boot-sunxi/sunsi-add-h616-internal-eth-phy-support.patch
Labels: Ready to merge, 11, size/large, Hardware, Patches

#7274 armsom-w3: fix m.2 usb bluetooth
  config/boards/armsom-w3.csc
Labels: Ready to merge, 11, size/small, Hardware

#7271 patching: emit warnings when files in `dt` folder overwrite pre-existing files (DTs that landed upstream)
  lib/tools/common/dt_makefile_patcher.py
Labels: Ready to merge, 11, size/small, Framework

#7264 UX: cosmetic improvements on motd and armbian-install
  packages/bsp/common/etc/update-motd.d/41-commands
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
  packages/bsp/common/usr/sbin/armbian-install
Labels: Ready to merge, 11, Needs review, size/small, BSP

#7249 Kernel config maint: rewrite kernel config with ./compile rewrite-kernel-config
  config/kernel/linux-imx6-current.config
  config/kernel/linux-imx6-edge.config
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-sunxi64-legacy.config
  config/kernel/linux-uefi-arm64-edge.config
  config/kernel/linux-wsl2-arm64-edge.config
  config/kernel/linux-wsl2-x86-edge.config
Labels: Ready to merge, 11, Needs review, size/large, Hardware

#7280 Bugfix: u-boot changes for x96q broke most of other Allwinner uboot compilation
  patch/u-boot/u-boot-sunxi/board_x96q/sunsi-add-h616-internal-eth-phy-support.patch
Labels: Ready to merge, Bugfix, 11, size/small, Hardware, Patches

#7281 Bugfix: resolve boot loader compilation issues on X96-mate and Orangepizero2
  patch/u-boot/u-boot-sunxi/board_x96-mate/arm64-sun50i-h313-add-x96q-lpddr3-defconfig.patch
  patch/u-boot/u-boot-sunxi/board_x96-mate/sunsi-add-h616-internal-eth-phy-support.patch
  patch/u-boot/u-boot-sunxi/board_x96q/arm64-sun50i-h313-add-x96q-lpddr3-defconfig.patch
Labels: 11, Build, size/large, Hardware, Patches

#7283 radxa-aic8800: remove kernel version check
  extensions/radxa-aic8800.sh
Labels: Ready to merge, 11, size/small, Framework

#7284 mesa-vpu: fix dist-upgrade when upstream release new conf file
  extensions/mesa-vpu.sh
Labels: Ready to merge, 11, size/small, Framework

#7292 Bugfix: xradio wireless stopped working if those files were removed.
  packages/bsp/common/etc/NetworkManager/conf.d/zz-10-override-wifi-random-mac-disable.conf
  packages/bsp/common/etc/NetworkManager/conf.d/zz-20-override-wifi-powersave-disable.conf
Labels: Ready to merge, Bugfix, 11, size/small, BSP

#7290 Orange Pi 3B: Edge: Switch to mainline dts
  config/boards/orangepi3b.csc
  patch/kernel/archive/rockchip64-6.11/dt/rk3566-orangepi-3b-sata.dts
  patch/kernel/archive/rockchip64-6.11/dt/rk3566-orangepi-3b.dts
Labels: Ready to merge, 11, Needs review, size/large, Hardware, Patches

#7285 mixtile-edge2: add rk3568 board (current/edge/vendor)
  config/boards/mixtile-edge2.wip
  patch/kernel/archive/rockchip64-6.11/dt/rk3568-mixtile-edge2.dts
  patch/kernel/archive/rockchip64-6.6/dt/rk3568-mixtile-edge2.dts
  patch/u-boot/legacy/u-boot-radxa-rk35xx/defconfig/mixtile-edge2-rk3568_defconfig
  patch/u-boot/legacy/u-boot-radxa-rk35xx/dt/rk3568-mixtile-edge2.dts
Labels: Ready to merge, 11, size/large, Hardware, Patches

#7297 Add timeout on check wan address on motd
  packages/bsp/common/etc/update-motd.d/30-armbian-sysinfo
Labels: Ready to merge, 11, size/small, Framework, BSP

#7293 Fix connecting to wifi networks where SSID contains a space or comma
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready to merge, Bugfix, size/small, BSP

#7298 RK3588: add 580 encoding
  patch/kernel/archive/rockchip-rk3588-6.10/overlay/Makefile
  patch/kernel/archive/rockchip-rk3588-6.10/overlay/rockchip-rk3588-rkvenc-overlay.dtso
Labels: Ready to merge, 11, Build, size/medium, Hardware, Patches

#7305 Desktop: two packages are missing from Trixie
  config/desktop/bookworm/environments/budgie/config_base/packages
  config/desktop/bookworm/environments/cinnamon/config_base/packages
  config/desktop/bookworm/environments/i3-wm/config_base/packages
  config/desktop/bookworm/environments/xfce/config_base/packages
  config/desktop/bookworm/environments/xmonad/config_base/packages
Labels: Desktop, Bugfix, size/small

#7301 debsums: changing default checking as it will fail on base-files
  lib/functions/rootfs/rootfs-create.sh
Labels: Ready to merge, 11, size/small, Framework

#7300 Rockchip vendor: enable several options in Rockchip kernel
  config/kernel/linux-rk35xx-vendor.config
Labels: Ready to merge, 11, Build, size/large, Hardware

#7302 KDE wallet: ship KDE distro with default disabled KDE Wallet
  packages/blobs/desktop/skel/.config/kwalletrc
Labels: Ready to merge, 11, Needs review, size/small, BSP

#7306 Additional cosmetic fixes to MOTD
  packages/bsp/common/etc/update-motd.d/10-armbian-header
  packages/bsp/common/etc/update-motd.d/30-armbian-sysinfo
Labels: Ready to merge, 11, Needs review, size/medium, BSP

#7307 enable panfrost driver for rk3576 boards
  config/boards/armsom-cm5-io.csc
  config/boards/armsom-sige5.csc
Labels: Ready to merge, 11, size/small, Hardware

#7309 Ubuntu Focal: Change from EOS to CSC in order to generate base-files
  config/distributions/focal/support
Labels: Ready to merge, 11

#7279 BSP: store kernel and kernel test target definition
  lib/functions/artifacts/artifact-armbian-bsp-cli.sh
  lib/functions/bsp/armbian-bsp-cli-deb.sh
Labels: Ready to merge, 11, Needs review

#7312 remove redundant "add Xiaobao-nas" patch
  patch/kernel/archive/rockchip64-6.11/add-board-xiaobao-nas-dts.patch
Labels: Ready to merge, 11, size/large, Hardware, Patches

#7224 Op5+/HDMI-RX: expose ITC type to v4l2 in synopsys hdmir rx
  patch/kernel/archive/rockchip-rk3588-6.10/0113-add-synopsys-designware-hdmi-rx-controller.patch
Labels: Ready to merge, 11, Build, size/medium, Hardware, Patches

#7313 rootfs: don't use the Armbian repo when building rootfs from both GHA pipelines and CLI; fixes #7123
  lib/functions/artifacts/artifact-rootfs.sh
  lib/functions/cli/cli-artifact.sh
  lib/functions/cli/commands.sh
  lib/functions/configuration/change-tracking.sh
  lib/functions/rootfs/create-cache.sh
Labels: Ready to merge, 11, size/small, Framework

#7311 reinstate tinker edge r dts
  patch/kernel/archive/rockchip64-6.11/dt/rk3399pro-tinker-edge-r.dts
Labels: Ready to merge, 11, size/small, Hardware, Patches

#7310 enable edge kernel to h96-tvbox-3566 TV-box
  config/boards/h96-tvbox-3566.tvb
  patch/kernel/archive/rockchip64-6.11/dt/rk3566-h96-tvbox.dts
  patch/kernel/archive/rockchip64-6.9/dt/rk3566-h96-tvbox.dts
Labels: Ready to merge, 11, size/large, Hardware, Patches
