Repository armbian/build, pull requests merged in 2024-05, with the labels that each got.

#6536 rockchip: bump rk322x u-boot to v2024.01 and support HDMI
  config/bootscripts/boot-rk322x.cmd
  config/sources/families/rockchip.conf
  patch/u-boot/v2024.01/board_rk322x-box/driver-rockchip-vop-cleanup.patch
  patch/u-boot/v2024.01/board_rk322x-box/general-hdmi-01-vendor-phy-handling.patch
  patch/u-boot/v2024.01/board_rk322x-box/general-hdmi-02-hpd-cleanup.patch
  patch/u-boot/v2024.01/board_rk322x-box/rk3228-hdmi-clk-fixes.patch
  patch/u-boot/v2024.01/board_rk322x-box/rk3228-hdmi-driver.patch
  patch/u-boot/v2024.01/board_rk322x-box/rk3228-vop-driver.patch
  patch/u-boot/v2024.01/board_rk322x-box/rk322x-box-add-defconfig.patch
  patch/u-boot/v2024.01/board_rk322x-box/rk322x-box-add-device-tree-makefile.patch
  patch/u-boot/v2024.01/board_rk322x-box/rk322x-box-add-device-tree.patch
  patch/u-boot/v2024.01/board_rk322x-box/u-boot-1002-support-rockchip-gmac-rmii.patch
  patch/u-boot/v2024.01/board_rk322x-box/u-boot-1005-support-rockchip-tee-binary.patch
  patch/u-boot/v2024.01/board_rk322x-box/u-boot-1006-usbphy-otg-ehci-support.patch
  patch/u-boot/v2024.01/board_rk3318-box/driver-rockchip-vop-cleanup.patch
  patch/u-boot/v2024.01/board_rk3318-box/general-hdmi-01-vendor-phy-handling.patch
  patch/u-boot/v2024.01/board_rk3318-box/general-hdmi-02-hpd-cleanup.patch
  patch/u-boot/v2024.01/board_rk3318-box/rk3328-hdmi-driver.patch
  patch/u-boot/v2024.01/board_rk3318-box/rk3328-vop-driver.patch
  patch/u-boot/v2024.01/driver-rockchip-inno-hdmi-phy.patch
  patch/u-boot/v2024.01/general-dwc-otg-fix-var.patch
Labels: Ready to merge, 05, size/large, Hardware

#6538 Make debian/trixie debootstrap-able again
  config/cli/trixie
  config/cli/trixie/debootstrap/components
  config/cli/trixie/debootstrap/packages
  config/cli/trixie/main
Labels: Ready to merge, 05, size/small

#6539 Remove deprecated fonts from desktop and retire armhf for Trixie
  config/desktop/bookworm/environments/i3-wm/config_base/packages
  config/desktop/bookworm/environments/kde-plasma/config_base/packages
  config/desktop/bookworm/environments/xmonad/config_base/packages
  config/desktop/common/environments/deepin/config_base/packages
  config/desktop/common/environments/enlightenment/config_base/packages
  config/desktop/common/environments/i3-wm/config_base/packages
  config/desktop/common/environments/kde-plasma/config_base/packages
  config/desktop/common/environments/mate/config_base/packages
  config/desktop/common/environments/xmonad/config_base/packages
  config/desktop/jammy/environments/i3-wm/config_base/packages
  config/desktop/jammy/environments/kde-plasma/config_base/packages
  config/desktop/jammy/environments/xmonad/config_base/packages
  config/distributions/noble/architectures
  config/distributions/trixie/architectures
Labels: Build, size/small, Hardware

#6543 Remove deprecated rk3588-edge patches
  patch/kernel/rockchip-rk3588-edge/0012-phy_rockchip_naneng-combphy_Fix_mux_on_rk3588.patch
  patch/kernel/rockchip-rk3588-edge/0013-phy_rockchip-snps-pcie3_Fix_bifurcation_on_rk3588.patch
  patch/kernel/rockchip-rk3588-edge/0014-phy_rockchip-snps-pcie3_Fix_clearing_PHP_GRF_PCIESEL_CON_bits.patch
  patch/kernel/rockchip-rk3588-edge/1030-arm64-dts-fix-rtc-add-poweroff-support-Orange-Pi-5-Plus.patch.disabled
Labels: Build, 05, size/large, Hardware

#6541 VIM1S/VIM4: Allow building on arm64 platform
  config/sources/families/meson-s4t7.conf
  patch/u-boot/u-boot-meson-s4t7/allow-aarch64-compilation.patch
Labels: Needs review, size/medium, Hardware

#6533 Update Odin2 kernel branch to skip initialization using the preset configuration
  config/boards/ayn-odin2.conf
Labels: Ready to merge, 05, size/small, Hardware

#6545 Removing myself as maintainer for allwinner and rpi boards
  config/boards/nanopiduo2.csc
  config/boards/orangepi3-lts.csc
  config/boards/orangepi3.csc
  config/boards/orangepiprime.csc
  config/boards/orangepizero.csc
  config/boards/rpi4b.conf
  config/boards/rpi5b.csc
Labels: Ready to merge, 05, size/small, Hardware

#6550 cpufrequtils cleanup after PR6507
  config/cli/bullseye/main/packages
  config/cli/common/main/packages
  config/cli/jammy/main/packages
Labels: Ready to merge, 05, size/small, Hardware

#6547 rockchip64: add some HDMI clock and timing fixes
  patch/kernel/archive/rockchip64-6.6/general-hdmi-clock-fixes.patch
  patch/kernel/archive/rockchip64-6.6/rk356x-vop2-support.patch
  patch/kernel/archive/rockchip64-6.8/general-hdmi-clock-fixes.patch
  patch/kernel/archive/rockchip64-6.8/rk356x-vop2-support.patch
Labels: Ready to merge, 05, size/large, Hardware

#6552 rockchip64: rework drm hunk due to mainlined patch
  patch/kernel/archive/rockchip64-6.8/general-hdmi-clock-fixes.patch
Labels: Ready to merge, 05, size/small, Hardware

#6555 Odroid XU4: remove deprecated patches
  patch/kernel/odroidxu4-current/patch-6.6.13-14.patch
  patch/kernel/odroidxu4-current/patch-6.6.14-15.patch
  patch/kernel/odroidxu4-current/patch-6.6.15-16.patch
  patch/kernel/odroidxu4-current/patch-6.6.16-17.patch
  patch/kernel/odroidxu4-current/patch-6.6.17-18.patch
  patch/kernel/odroidxu4-current/patch-6.6.18-19.patch
  patch/kernel/odroidxu4-current/patch-6.6.19-20.patch
  patch/kernel/odroidxu4-current/patch-6.6.20-21.patch
  patch/kernel/odroidxu4-current/patch-6.6.21-22.patch
  patch/kernel/odroidxu4-current/patch-6.6.22-23.patch
  patch/kernel/odroidxu4-current/patch-6.6.23-24.patch
  patch/kernel/odroidxu4-current/patch-6.6.24-25.patch
  patch/kernel/odroidxu4-current/patch-6.6.25-26.patch
  patch/kernel/odroidxu4-current/patch-6.6.26-27.patch
  patch/kernel/odroidxu4-current/patch-6.6.27-28.patch
  patch/kernel/odroidxu4-current/patch-6.6.28-29.patch
  patch/kernel/odroidxu4-current/patch-6.6.29-30.patch
Labels: Ready to merge, 05, size/large, Hardware

#6551 add rock-5-itx board
  config/boards/rock-5-itx.csc
Labels: Ready to merge, size/small, Hardware

#6546 add armsom-sige1 support
  config/boards/armsom-sige1.csc
Labels: Ready to merge, size/small, Hardware

#6556 Fix memory size detection for 1.5GB Orange Pi Zero 3 board on v2024.01 u-boot release
  patch/u-boot/u-boot-sunxi/opizero3-1.5GB-trim-from-u-boot-v2024.01.patch
Labels: Ready to merge, 05, size/medium, Hardware

#6558 enable android binder on rk3588 edge config for android container sup…
  config/kernel/linux-rockchip-rk3588-edge.config
Labels: size/small, Hardware

#6560 rock5c: fix rk3582 with disabled rkvdec node
  patch/u-boot/legacy/u-boot-radxa-rk3588/board_rock-5c/reopen_disabled_nodes.patch
Labels: Ready to merge, size/small, Hardware

#6565 rockchip-rk3308-current: sakura pi rk3308b adds kernel 6.6 and 6.8 support
  patch/kernel/archive/rockchip64-6.6/dt/rk3308-sakurapi-rk3308b.dts
  patch/kernel/archive/rockchip64-6.8/dt/rk3308-sakurapi-rk3308b.dts
Labels: Ready to merge, 05, size/large, Hardware

#6563 phytium_embedded: update kernel config from phytium repo
  config/kernel/linux-phytium-embedded-current.config
  config/kernel/linux-phytium-embedded-legacy.config
  config/sources/families/phytium-embedded.conf
Labels: Ready to merge, 05, size/large, Hardware

#6570 phytium_embedded: update phytium u-boot binary
  packages/blobs/phytiumpi/fip-all-sd-boot.bin
Labels: Ready to merge, 05, size/small

#6542 armsom rk3588 boards: use radxa's new uboot
  config/boards/armsom-sige7.csc
  config/boards/armsom-w3.csc
  patch/u-boot/legacy/u-boot-armsom-rk3588/0003-add-pd-nego.patch
  patch/u-boot/legacy/u-boot-armsom-rk3588/change-nvme-boot-order.patch
  patch/u-boot/legacy/u-boot-armsom-rk3588/fix_source_so_boot_scr_works.patch
  patch/u-boot/legacy/u-boot-radxa-rk3588/0104-Add-ArmSoM-w3-defines.patch
  patch/u-boot/legacy/u-boot-radxa-rk3588/0105-Add-defconfig-and-dtb-of-armsom-sige7.patch
  patch/u-boot/legacy/u-boot-radxa-rk3588/board_armsom-sige7/add-u-boot-pd-negotiation-support.patch
Labels: Ready to merge, 05, size/large, Hardware

#6566 Adding Ubuntu Oracular
  config/cli/oracular
  config/desktop/oracular
  config/distributions/mantic/support
  config/distributions/oracular/architectures
  config/distributions/oracular/name
  config/distributions/oracular/support
  lib/functions/configuration/main-config.sh
  lib/functions/rootfs/distro-specific.sh
Labels: Desktop, Ready to merge, 08, 05, size/small

#6564 thinkpad-x13s: drop steev's kernel; switch to jhovold's `wip/sc8280xp-6.9-rc`X
  config/boards/thinkpad-x13s.wip
  config/kernel/linux-arm64-sc8280xp.config
Labels: Ready to merge, 05, size/large, Hardware

#6569 Proposed board status change for 24.5
  config/boards/bananapicm4io.conf
  config/boards/cubietruck.csc
  config/boards/cubietruckplus.eos
  config/boards/khadas-edge2.conf
  config/boards/nanopct6.csc
  config/boards/nanopi-r6s.csc
  config/boards/nanopiduo.csc
  config/boards/odroidc1.csc
  config/boards/orangepi5-plus.conf
  config/boards/orangepi5.conf
  config/boards/orangepilite2.csc
  config/boards/orangepioneplus.csc
  config/boards/orangepizero2.conf
  config/boards/radxa-zero3.conf
  config/boards/rock-5-itx.conf
  config/boards/rock-5a.conf
  config/boards/rock-5b.conf
  config/boards/rock-5c.conf
  config/boards/tinkerboard-2.csc
  config/boards/tinkerboard.conf
Labels: Work in progress, Help needed, 05, size/small, Hardware

#6571 main-config.sh: workaround: set the default ARCH to arm64 (replacing armhf)
  lib/functions/configuration/main-config.sh
Labels: size/small

#6572 rk35xx-vendor: enable AHCI_DWC for rk3568 sata
  config/kernel/linux-rk35xx-vendor.config
Labels: Ready to merge, size/small, Hardware

#6573 Fix booting odroid c1 u-boot, compiled with latest GCC's
  config/sources/families/include/meson_common.inc
Labels: Ready to merge, 05, size/small, Hardware

#6574 Return Noble armhf arch as it works
  config/cli/kinetic
  config/cli/lunar/main
  config/cli/mantic
  config/cli/noble
  config/cli/noble/debootstrap/components
  config/cli/noble/debootstrap/packages
  config/cli/noble/main/config_desktop
  config/cli/noble/main/packages
  config/cli/noble/main/packages.additional
  config/cli/noble/main/packages.uninstall
  config/cli/oracular
  config/cli/sid
  config/cli/sid/debootstrap/components
  config/cli/sid/debootstrap/packages
  config/cli/sid/main/packages
  config/cli/sid/main/packages.additional
  config/cli/sid/main/packages.uninstall
  config/cli/trixie/main
  config/cli/trixie/main/packages
  config/cli/trixie/main/packages.additional
  config/cli/trixie/main/packages.uninstall
  config/distributions/kinetic/architectures
  config/distributions/kinetic/name
  config/distributions/kinetic/support
  config/distributions/lunar/architectures
  config/distributions/lunar/name
  config/distributions/lunar/support
  config/distributions/mantic/architectures
  config/distributions/mantic/name
  config/distributions/mantic/support
  config/distributions/noble/architectures
  config/distributions/oracular/architectures
  lib/functions/configuration/main-config.sh
  lib/functions/rootfs/distro-specific.sh
Labels: Build, size/medium

#6506 Add initial support for the Orange Pi 5 Pro
  config/boards/orangepi5pro.wip
  config/kernel/linux-rk35xx-legacy.config
Labels: 05, Needs review, size/medium, Hardware

#6575 Update meson edge to 6.8 kernel
  config/sources/families/include/meson_common.inc
  patch/kernel/archive/meson-6.8/0030-tools-Makefile-delete-missing-cgroup_clean.patch
  patch/kernel/archive/meson-6.8/generic-0001-m8-m8b-m8m2-Support-HDMI.patch
  patch/kernel/archive/meson-6.8/generic-0002-m8-m8b-m8m2-drm-forcefully-enable-XRGB-format.patch
  patch/kernel/archive/meson-6.8/generic-0003-drm-meson-Support-meson-8-8b-hdmi-tx-components.patch
  patch/kernel/archive/meson-6.8/generic-Revert-mmc-core-Set-HS-clock-speed-before-sending-HS-CMD13.patch
  patch/kernel/archive/meson-6.8/generic-Revert-pwm-meson-modify-and-simplify-calculation-in-.patch
  patch/kernel/archive/meson-6.8/odroidc1-dts-Enable-HDMI.patch
  patch/kernel/archive/meson-6.8/onecloud-0001-add-dts.patch
  patch/kernel/archive/meson-6.8/onecloud-0002-dts-Support-HDMI.patch
Labels: Ready to merge, 05, size/small, Hardware

#6577 Several kernel config automatic rewrite
  config/kernel/linux-meson-edge.config
  config/kernel/linux-meson64-current.config
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-rockchip-rk3588-edge.config
Labels: Ready to merge, Build, 05, size/large

#6580 armbian-kernel: drop `DEBUG_KERNEL`/`DEBUG_INFO` disables; force `EXPERT=y` and bring back `CONFIG_GPIO_SYSFS=y` for all kernels
  lib/functions/compilation/armbian-kernel.sh
Labels: Ready to merge, 05, size/small

#6581 Pin oibaf packages on mesa-oibaf extension
  extensions/mesa-oibaf.sh
Labels: Ready to merge, 05, size/small, Framework

#6582 Treat sid and unstable as synonyms in distro-specific.sh
  lib/functions/rootfs/distro-specific.sh
Labels: Ready to merge, 05, size/small

#6578 Add 'console=both' statement to config/sources/families/rockchip64.txt
  config/bootenv/rockchip64.txt
Labels: Ready to merge, 05, size/small, Hardware

#6583 Use oibaf and v4l2 in desktops only
  extensions/mesa-oibaf.sh
  extensions/v4l2loopback-dkms.sh
Labels: 05, Needs review, size/small, Framework

#6584 rockchip-rk3588-edge: opi5-plus: update edge patches
  patch/kernel/rockchip-rk3588-edge/0011-irqchip-fix-its-timeout-issue.patch
  patch/kernel/rockchip-rk3588-edge/0021-RK3588-Add-USB3-DRD-Support.patch
  patch/kernel/rockchip-rk3588-edge/1021-arm64-dts-Add-missing-nodes-to-Orange-Pi-5-Plus.patch
  patch/kernel/rockchip-rk3588-edge/1023-arm64-dts-rockchip-add-PCIe-for-M.2-E-Key-to-rock-5a.patch
  patch/kernel/rockchip-rk3588-edge/1030-arm64-dts-fix-rtc-add-poweroff-support-Orange-Pi-5-Plus.patch.disabled
  patch/kernel/rockchip-rk3588-edge/1047-fix-initial-PERST#-GPIO-value.patch
Labels: Ready to merge, 05, size/medium, Hardware

#6588 VIM1S/VIM4: initialize video firmware symlink
  config/boards/khadas-vim1s.conf
  config/boards/khadas-vim4.conf
Labels: size/small, Hardware

#6590 multiple boards: fixes for board file syntax / missing vars (fixing JSON matrix prepare)
  config/boards/bananapim7.conf
  config/boards/hinlink-h66k.csc
  config/boards/hinlink-h68k.csc
  config/boards/hinlink-hnas.csc
  config/boards/mba8mpxl-ras314.wip
  config/boards/mba8mpxl.wip
  config/boards/rock-5-itx.conf
Labels: Ready to merge, 05, size/small, Hardware

#6591 rk35xx: drop `vendor-boogie-panthor` BRANCH; it has been integrated into `vendor`
  config/kernel/linux-rk35xx-vendor-boogie-panthor.config
  config/sources/families/rockchip-rk3588.conf
  extensions/rk-multimedia-amazingfate.sh
Labels: Ready to merge, 05, size/large, Hardware, Framework

#6592 Rename orangepi3b.csc to orangepi3b.eos
  config/boards/orangepi3b.eos
Labels: Ready to merge, 05, size/small, Hardware

#6585 Remove debootstrapped static resolv.conf
  lib/functions/rootfs/post-tweaks.sh
Labels: Ready to merge, 05, size/small

#6594 After enabling Ubuntu Oracular on nightly builds, oibaf extension fails to work
  extensions/mesa-oibaf.sh
Labels: 05, Needs review, size/small, Framework

#6593 RK3588: add generic pwm overlays from vendor kernel
  patch/kernel/rockchip-rk3588-edge/overlay/Makefile
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm0-m0.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm0-m1.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm0-m2.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm1-m0.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm1-m1.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm1-m2.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm10-m0.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm11-m0.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm11-m1.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm12-m0.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm13-m0.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm13-m2.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm14-m0.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm14-m1.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm14-m2.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm15-m0.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm15-m1.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm15-m2.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm15-m3.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm2-m1.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm3-m0.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm3-m1.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm3-m2.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm3-m3.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm5-m2.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm6-m0.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm6-m2.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm7-m0.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm7-m3.dts
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-pwm8-m0.dts
Labels: Ready to merge, 05, size/large, Hardware

#6595 Use double instead of single quotes
  extensions/mesa-oibaf.sh
Labels: Ready to merge, Bugfix, 05, size/small, Framework

#6596 extensions: add rk-panthor for vendor 6.1 rk3588 kernel
  extensions/rk-panthor.sh
Labels: Ready to merge, 05, size/small, Framework

#6597 nanopir6: enable GPU on edge kernel
  patch/kernel/rockchip-rk3588-edge/dt/rk3588s-nanopi-r6s.dts
Labels: Ready to merge, 05, size/small, Hardware

#6599 rockchip-rk3588-edge: add Hantro G1 VDPU and RGA2
  patch/kernel/rockchip-rk3588-edge/0147-arm64-dts-rockchip-rk3588-add-VDPU-and-RGA2-nodes.patch
Labels: Ready to merge, 05, size/medium, Hardware

#6602 fix armbian-config desktop icon
  packages/blobs/desktop/skel/.local/share/applications/armbian-config.desktop
Labels: size/small

#6600 Allow downgrade on mesa ppa as otherwise fails on KDE neon
  extensions/mesa-oibaf.sh
Labels: Needs review, size/small, Framework

#6603 Add glmark2 benchmark utility with oibaf extension
  extensions/mesa-oibaf.sh
Labels: Ready to merge, 05, size/small, Framework

#6535 Declare Ubuntu Noble as supported build target
  config/distributions/noble/support
Labels: Ready to merge, 08, size/small, Hardware

#6601 cm3588-nas: switch edge uboot to kwiboo mainline
  config/boards/nanopc-cm3588-nas.csc
Labels: Ready to merge, 05, size/small, Hardware

#6607 Remove deprecated patch + updating kernel config
  config/kernel/linux-rockchip-rk3588-collabora.config
  patch/kernel/media-current/00140-v95-make.patch
  patch/kernel/media-edge/00140-v95-make.patch
  patch/kernel/rockchip-rk3588-collabora/0005-tools-Makefile-delete-missing-cgroup_clean.patch
Labels: Ready to merge, Bugfix, 05, size/medium, Hardware

#6608 rk-multimedia-amazingfate: add noble support
  extensions/rk-multimedia-amazingfate.sh
Labels: Ready to merge, 05, size/small, Framework

#6604 Adding myself as a maintainer for the Orange Pi PC+
  config/boards/orangepipcplus.csc
Labels: size/small, Hardware

#6586 RFC: disable ssh.service - enable ssh.socket AND switch firstlogin reload ssh to restart
  lib/functions/rootfs/distro-agnostic.sh
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready to merge, 05, size/small

#6611 firefly-rk3399: move to rockchip64 family
  config/boards/firefly-rk3399.csc
  patch/kernel/archive/rockchip64-6.6/board-firefly-rk3399-dts.patch
  patch/kernel/archive/rockchip64-6.8/board-firefly-rk3399-dts.patch
  patch/kernel/media-current/00130-board-firefly-rk3399-dts.patch
  patch/kernel/media-current/00131-board-firefly-rk3399-fix-mini-pcie-usb2.patch.patch
  patch/kernel/media-edge/00130-board-firefly-rk3399-dts.patch
  patch/kernel/media-edge/00131-board-firefly-rk3399-fix-mini-pcie-usb2.patch.patch
Labels: Ready to merge, 05, size/large, Hardware

#6624 firefly-rk3399: fix patch
  patch/kernel/archive/rockchip64-6.6/board-firefly-rk3399-dts.patch
  patch/kernel/archive/rockchip64-6.8/board-firefly-rk3399-dts.patch
Labels: Ready to merge, 05, size/large, Hardware

#6621 Add new user to render group
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready to merge, Bugfix, 05, size/small

#6618 Rockchip64: adjust patch as it doesn't align anymore
  patch/kernel/archive/rockchip64-6.6/board-pbp-add-dp-alt-mode.patch
  patch/kernel/archive/rockchip64-6.8/board-pbp-add-dp-alt-mode.patch
Labels: Ready to merge, Bugfix, 05, size/small

#6638 Optimize the kernel device tree patch for rk3399-firefly.
  patch/kernel/archive/rockchip64-6.6/board-firefly-rk3399-dts.patch
  patch/kernel/archive/rockchip64-6.8/board-firefly-rk3399-dts.patch
Labels: Ready to merge, 08, size/large, Hardware

#6637 lib & config: give shellcheck directions (to /dev/null for dynamic, to repo-relative path for static) for all sourced references
  config/sources/families/imx8m.conf
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  config/sources/families/jethub.conf
  config/sources/families/media.conf
  config/sources/families/meson-g12a.conf
  config/sources/families/meson-g12b.conf
  config/sources/families/meson-gxbb.conf
  config/sources/families/meson-gxl.conf
  config/sources/families/meson-sm1.conf
  config/sources/families/meson8b.conf
  config/sources/families/mvebu.conf
  config/sources/families/rk35xx.conf
  config/sources/families/rock-s0.conf
  config/sources/families/rockchip-rk3588.conf
  config/sources/families/rockchip64.conf
  config/sources/families/rockpis.conf
  config/sources/families/sun4i.conf
  config/sources/families/sun50iw1.conf
  config/sources/families/sun50iw2.conf
  config/sources/families/sun50iw6.conf
  config/sources/families/sun50iw9-bpi.conf
  config/sources/families/sun50iw9-btt.conf
  config/sources/families/sun50iw9.conf
  config/sources/families/sun5i.conf
  config/sources/families/sun6i.conf
  config/sources/families/sun7i.conf
  config/sources/families/sun8i-v3s.conf
  config/sources/families/sun8i.conf
  config/sources/families/sun9i.conf
  config/sources/families/uefi-arm64.conf
  config/sources/families/uefi-riscv64.conf
  config/sources/families/uefi-x86.conf
  lib/functions/bsp/armbian-bsp-cli-deb.sh
  lib/functions/compilation/uboot.sh
  lib/functions/configuration/main-config.sh
  lib/functions/image/loop.sh
  lib/functions/rootfs/customize.sh
Labels: Ready to merge, 08, size/small, Hardware

#6635 khadas-vim3: fix stray closing brace in board file
  config/boards/khadas-vim3.conf
Labels: Ready to merge, size/small, Hardware

#6634 rock-5c: rename wifi interface name to a static one
  config/boards/rock-5c.conf
Labels: Ready to merge, size/small, Hardware

#6629 Update boot-odroid-c1.ini
  config/bootscripts/boot-odroid-c1.ini
Labels: Ready to merge, 05, size/medium, Hardware

#6628 Add support for RK3588 based Cool PI CM5 EVB
  config/boards/coolpi-cm5.csc
Labels: Ready to merge, 05, size/small, Hardware

#6622 extensions: rk-panthor: mesa-oibaf + `DEFAULT_OVERLAYS="panthor-gpu"`
  extensions/rk-panthor.sh
Labels: Ready to merge, 05, size/small, Framework

#6620 Update mainline-kernel.conf.sh as kernel 6.9 is released
  config/sources/mainline-kernel.conf.sh
Labels: Ready to merge, 08, size/small, Hardware

#6576 Call `losetup -f` to make sure loop device exists
  lib/functions/cli/cli-build.sh
  lib/functions/cli/cli-docker.sh
  lib/functions/host/host-utils.sh
  lib/functions/image/loop.sh
Labels: Ready to merge, 08, 05, size/small

#6639 rockchip-rk3588: drop BOOTFS_TYPE for single root partition image
  config/boards/armsom-sige7.csc
  config/boards/armsom-w3.csc
  config/boards/coolpi-cm5.csc
  config/boards/fxblox-rk1.csc
  config/boards/indiedroid-nova.csc
  config/boards/nanopc-cm3588-nas.csc
  config/boards/nanopct6.csc
  config/boards/nanopi-r6s.csc
  config/boards/orangepi5-plus.conf
  config/boards/orangepi5.conf
  config/boards/orangepi5pro.wip
  config/boards/rock-5b.conf
Labels: size/small, Hardware

#6641 rockchip-rk3588: edge: fix hantro vpu
  patch/kernel/rockchip-rk3588-edge/0147-arm64-dts-rockchip-rk3588-add-VDPU-and-RGA2-nodes.patch
Labels: size/small, Hardware

#6648 Install wireguard tools also in minimal image
  config/cli/common/main/packages
Labels: Ready to merge, Bugfix, 05, size/small, Hardware

#6643 Add doas support to `is_root_or_sudo_prefix`
  lib/functions/host/host-utils.sh
Labels: Ready to merge, 05, size/small

#6615 fixed Tinker-edge-r gpu bug
  patch/kernel/archive/rockchip64-6.6/add-fan53555-rev-0x12.patch
  patch/kernel/archive/rockchip64-6.6/dt/rk3399pro-tinker-edge-r.dts
Labels: Ready to merge, 05, size/medium, Hardware

#6650 aml-t95z-plus: add board file (and u-boot 2024.04) for T95Z Plus Amlogic tvbox
  config/boards/aml-t95z-plus.tvb
  patch/u-boot/v2024.04/board_t95z/0000.patching_config.yaml
  patch/u-boot/v2024.04/board_t95z/defconfig/meson-gxm-t95z-plus_defconfig
  patch/u-boot/v2024.04/board_t95z/dt/meson-gxm-t95z-plus-u-boot.dtsi
  patch/u-boot/v2024.04/board_t95z/dt/meson-gxm-t95z-plus.dts
Labels: Ready to merge, 05, size/large, Hardware

#6646 Introduce integrated extension for 3D and multimedia
  config/desktop/bookworm/appgroups/3dsupport
  config/desktop/common/appgroups/3dsupport/packages
  extensions/mesa-oibaf.sh
  extensions/mesa-vpu.sh
  extensions/rk-multimedia-amazingfate.sh
  extensions/rk-panthor.sh
Labels: Ready to merge, 05, size/large, Hardware, Framework

#6651 Add chromium v4l2 encoder/decoder udev rules for all boards
  config/boards/ayn-odin2.conf
  packages/bsp/common/etc/udev/rules.d/90-chromium-video.rules
Labels: Ready to merge, 05, size/small, Hardware

#6652 Remove reverse dependency for armbian-config
  lib/functions/bsp/armbian-bsp-cli-deb.sh
  lib/functions/compilation/packages/armbian-config-deb.sh
Labels: Bugfix, 05, Needs review, size/small

#6660 Add config for Libre Computer Sweet Potato
  config/boards/sweet-potato.conf
  config/sources/families/meson-gxl.conf
Labels: size/small, Hardware

#6661 Extend CSC build target config to CURRENT kernel too
  config/boards/rockpi-4bplus.csc
Labels: Ready to merge, Bugfix, 05, size/small, Hardware

#6649 Bump version of trunk to next
  README.md
  VERSION
Labels: Ready to merge, 08, size/small

#6664 station-m3: use radxa's new u-boot
  config/boards/station-m3.csc
  patch/u-boot/legacy/u-boot-radxa-rk3588/board_station-m3/uboot-station-m3-config.patch
Labels: Ready to merge, size/small, Hardware

#6663 Add support for rk3568 based board Lubancat2
  config/boards/lubancat2.csc
Labels: Ready to merge, size/small, Hardware

#6671 Attach Collabora branch to last known working
  config/sources/families/rockchip-rk3588.conf
Labels: Bugfix, 08, size/small, Hardware

#6662 Rename add-new-borad-tinker-edge-r.patch, add support for xiaobao-nas.
  config/boards/xiaobao-nas.csc
  patch/kernel/archive/rockchip64-6.1/add-board-xiaobao-nas-dts.patch
  patch/kernel/archive/rockchip64-6.6/add-board-xiaobao-nas-dts.patch
  patch/kernel/archive/rockchip64-6.8/add-board-xiaobao-nas-dts.patch
  patch/u-boot/u-boot-rockchip64/add-new-board-tinker-edge-r.patch
  patch/u-boot/u-boot-rockchip64/add-new-board-xiaobao-nas-dts.patch
Labels: Ready to merge, 08, size/large, Hardware

#6670 add extension radxa-aic8800 for rock-5c onboard wifi
  config/boards/rock-5c.conf
  extensions/radxa-aic8800.sh
Labels: size/medium, Hardware, Framework
