Repository armbian/build, pull requests merged in 2024-01, with the labels that each got.

#6120 switch default cpu governor to schedutil
  config/kernel/linux-bcm2711-current.config
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-bcm2711-legacy.config
  config/kernel/linux-imx6-current.config
  config/kernel/linux-imx6-edge.config
  config/kernel/linux-imx6-legacy.config
  config/kernel/linux-imx7d-current.config
  config/kernel/linux-imx7d-legacy.config
  config/kernel/linux-media-current.config
  config/kernel/linux-media-edge.config
  config/kernel/linux-media-legacy.config
  config/kernel/linux-meson-current.config
  config/kernel/linux-meson-edge.config
  config/kernel/linux-meson-s4t7-legacy.config
  config/kernel/linux-meson64-current.config
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-mt7623-edge.config
  config/kernel/linux-mt7623-legacy.config
  config/kernel/linux-mvebu-current.config
  config/kernel/linux-mvebu-edge.config
  config/kernel/linux-mvebu-legacy.config
  config/kernel/linux-mvebu64-current.config
  config/kernel/linux-mvebu64-edge.config
  config/kernel/linux-odroidxu4-current.config
  config/kernel/linux-odroidxu4-edge.config
  config/kernel/linux-rk322x-current.config
  config/kernel/linux-rk322x-edge.config
  config/kernel/linux-rk322x-legacy.config
  config/kernel/linux-rockchip-current.config
  config/kernel/linux-rockchip-edge.config
  config/kernel/linux-rockchip-rk3588-collabora.config
  config/kernel/linux-rockchip-rk3588-edge.config
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-s5p6818-legacy.config
  config/kernel/linux-starfive2-edge.config
  config/kernel/linux-sun50iw9-btt-legacy.config
  config/kernel/linux-sun50iw9-legacy.config
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-sunxi64-legacy.config
  config/kernel/linux-thead-edge.config
  config/kernel/linux-thead-legacy.config
  config/kernel/linux-uefi-arm64-current.config
  config/kernel/linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-arm64-legacy.config
  config/kernel/linux-virtual-current.config
  config/kernel/linux-wsl2-arm64-current.config
  config/kernel/linux-wsl2-arm64-edge.config
  config/kernel/linux-wsl2-x86-current.config
  config/kernel/linux-wsl2-x86-edge.config
  config/kernel/linux-zynq-legacy.config
Labels: size/medium, Hardware

#6121 add mangopi m28k board
  config/boards/mangopi-m28k.csc
Labels: size/small, Hardware

#6123 Fix rpi image creation broken since to #6087
  lib/functions/main/rootfs-image.sh
  lib/functions/rootfs/distro-specific.sh
Labels: Ready to merge, 02, size/small

#6127 Enable CPU frequency configuration for Orange Pi Zero 3
  patch/kernel/archive/sunxi-6.6/patches.armbian/arm64-dts-allwinner-h616-Add-efuse_xlate-cpu-frequency-scaling-v1_6_2.patch
  patch/kernel/archive/sunxi-6.7/patches.armbian/arm64-dts-allwinner-h616-Add-efuse_xlate-cpu-frequency-scaling-v1_6_2.patch
Labels: size/small, Hardware

#6125 thead: update edge kernel to 6.7-rc8
  config/kernel/linux-thead-edge.config
  config/sources/families/thead.conf
Labels: size/small, Hardware

#6124 nanopi-r5: board config housekeeping
  config/boards/nanopi-r5c.csc
  config/boards/nanopi-r5s.wip
Labels: size/small, Hardware

#6122 Set dpkg vendor to Armbian in all images
  lib/functions/artifacts/artifact-armbian-base-files.sh
Labels: Bugfix, 02, Needs review, size/small

#6119 rockchip: rk322x-dmc attributes via sysfs
  patch/kernel/archive/rockchip-6.6/patches.armbian/rk322x-dmc-driver-04-driver.patch
Labels: size/medium, Hardware

#6128 remove ghostscript-x in sid due to abandonment
  config/desktop/sid/environments/budgie/config_base/packages
  config/desktop/sid/environments/cinnamon/config_base/packages
  config/desktop/sid/environments/gnome/config_base/packages
  config/desktop/sid/environments/kde-plasma/config_base/packages
  config/desktop/sid/environments/lxde/config_base/packages
  config/desktop/sid/environments/xfce/config_base/packages
Labels: size/medium, Hardware

#6129 thead: add current kernel support
  config/boards/licheepi-4a.wip
  config/kernel/linux-thead-current.config
  config/sources/families/thead.conf
Labels: Ready to merge, 02, size/large, Hardware

#6131 rock-5b edge: fix emmc, temp sensor and power off
  patch/kernel/rockchip-rk3588-edge/0032-arm64-dts-rock-5b-Slow-down-emmc-to-hs200-and-add-ts.patch
  patch/kernel/rockchip-rk3588-edge/0033-arm64-dts-rockchip-support-poweroff-on-the-rock-5b.patch
Labels: size/medium, Hardware

#6139 Bugfix: RK35xx is seeking for rk35xx config
  config/sources/families/include/rockchip64_common.inc
Labels: Bugfix, 02, size/small

#6140 Keep rockchip64 family for current and edge as default
  config/sources/families/include/rockchip64_common.inc
Labels: size/small, Hardware

#6145 Update symlink for bluetooth firmware on JetHub D1
  config/sources/families/jethub.conf
Labels: size/small, Hardware

#6150 Update orangepizero3.wip config to add overlay_prefix
  config/boards/orangepizero3.wip
Labels: size/small, Hardware

#6151 Bump mainline kernels from RC to 6.7
  config/sources/mainline-kernel.conf.sh
Labels: Build, 02, size/small, Hardware, Framework

#6152 rtl8723cs: fix driver compilation on kernel 6.7
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-rtl8723cs/8723cs-Port-to-6.7.patch
Labels: Ready to merge, 02, size/small, Hardware

#6149 patch: uboot: v2023.07.02: bananapicm4: sata boot support
  patch/u-boot/v2023.07.02/board_bananapicm4io/0003-configs-bananapi-cm4-cm4io_defconfig-sata-support.patch
Labels: Ready to merge, 02, size/medium, Hardware

#6147 bpi-r2-pro: move to the rockchip64 family and update to upstream u-boot
  config/boards/bananapir2pro.csc
  config/sources/families/media.conf
Labels: Ready to merge, 02, size/small, Hardware

#6138 RK3588-edge: add SATA1 overlay for rock5b
  patch/kernel/rockchip-rk3588-edge/overlay/Makefile
  patch/kernel/rockchip-rk3588-edge/overlay/rockchip-rk3588-sata1.dts
Labels: Ready to merge, 02, size/small, Hardware

#6099 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/pine64.conf
Labels: Ready to merge, 02, Needs review, size/small, Hardware

#6155 Keep jammy, focal and kinetic without systemd-resolved
  config/cli/focal
  config/cli/jammy
  config/cli/jammy/debootstrap/components
  config/cli/jammy/debootstrap/config_desktop
  config/cli/jammy/debootstrap/packages
  config/cli/jammy/main/packages
  config/cli/jammy/main/packages.additional
  config/cli/jammy/main/packages.uninstall
  config/cli/kinetic
Labels: Bugfix, 02, Needs review

#6156 Re-enable resolv.conf during deboostrap process
  lib/functions/rootfs/rootfs-create.sh
Labels: Bugfix, 02, size/small

#6157 config: calculate BOOTSOURCEDIR & friends only _after_ `late_family_config` hook; fixes #6144
  lib/functions/configuration/change-tracking.sh
  lib/functions/main/config-prepare.sh
Labels: Ready to merge, Bugfix, 02, size/small

#6158 artifact-uboot.sh: add a fake variable to hash, so all u-boots are rebuilt
  lib/functions/artifacts/artifact-uboot.sh
Labels: Ready to merge, 02, size/small

#6164 khadas-vim3: bump to u-boot v2024.01; boot-usb-first patch in board folder
  config/boards/khadas-vim3.conf
  patch/u-boot/v2024.01/board_khadas-vim3/meson64-boot-usb-nvme-scsi-first.patch
Labels: Ready to merge, 02, size/small, Hardware

#6169 Reinstate support status for Rockpi S
  config/boards/rockpi-s.conf
Labels: 02, Needs review, size/small, Hardware

#6172 Add switch to define XZ compression as a parameter
  lib/functions/image/compress-checksum.sh
Labels: size/small

#6174 Update odroidxu4-current to 6.1.73
  config/sources/families/odroidxu4.conf
  patch/kernel/odroidxu4-current/patch-6.1.69-70.patch
  patch/kernel/odroidxu4-current/patch-6.1.70-71.patch
  patch/kernel/odroidxu4-current/patch-6.1.71-72.patch
  patch/kernel/odroidxu4-current/patch-6.1.72-73.patch
Labels: Ready to merge, 02, size/large, Hardware

#6170 `Automatic` board configs status synchronise
  .github/CODEOWNERS
Labels: Ready to merge, 02, Needs review, size/small

#6175 meson64: overlays: `additions and modifications`
  patch/kernel/archive/meson64-6.6/overlay/Makefile
  patch/kernel/archive/meson64-6.6/overlay/meson-g12-pwm-gpiox-5-fan.dts
  patch/kernel/archive/meson64-6.6/overlay/meson-g12b-bananapi-cm4-pwm-gpioh-5-fan.dts
  patch/kernel/archive/meson64-6.6/overlay/meson-g12b-bananapi-m2s-rtl8822cs.dts
  patch/kernel/archive/meson64-6.6/overlay/meson-sm1-bananapi-m5-rtl8822cs.dts
  patch/kernel/archive/meson64-6.7/overlay/Makefile
  patch/kernel/archive/meson64-6.7/overlay/meson-g12-pwm-gpiox-5-fan.dts
  patch/kernel/archive/meson64-6.7/overlay/meson-g12b-bananapi-cm4-pwm-gpioh-5-fan.dts
  patch/kernel/archive/meson64-6.7/overlay/meson-g12b-bananapi-m2s-rtl8822cs.dts
  patch/kernel/archive/meson64-6.7/overlay/meson-sm1-bananapi-m5-rtl8822cs.dts
Labels: size/medium, Hardware

#6180 nanopi-r5: enable -current kernel target
  config/boards/nanopi-r5c.csc
  config/boards/nanopi-r5s.wip
Labels: Ready to merge, 02, size/small, Hardware

#6183 rockchip64-edge: update rk35xx crypto patch
  patch/kernel/archive/rockchip64-6.7/rk35xx-montjoie-crypto-v2-rk35xx.patch
Labels: size/medium, Hardware

#6187 sun50i-h618-orangepi-zero3: Change gpu node status to okay
  patch/kernel/archive/sunxi-6.6/patches.armbian/arm64-dts-sun50i-h618-orangepi-zero3-Enable-GPU-mali.patch
  patch/kernel/archive/sunxi-6.7/patches.armbian/arm64-dts-sun50i-h618-orangepi-zero3-Enable-GPU-mali.patch
Labels: Ready to merge, size/small, Hardware

#6153 Add new borad "ASUS Tinker-Edge-R"
  config/boards/tinker-edge-r.csc
  patch/kernel/archive/rockchip64-6.6/dt/rk3399pro-tinker-edge-r.dts
  patch/kernel/archive/rockchip64-6.7/dt/rk3399pro-tinker-edge-r.dts
  patch/u-boot/u-boot-rockchip64/add-new-borad-tinker-edge-r.patch
Labels: size/large, Hardware

#6189 Fix #6186 - update armbianEnv.txt for Rock Pi 4C+.
  config/boards/rockpi-4cplus.csc
Labels: Ready to merge, 02, size/small, Hardware

#6184 rock-5b: enable spi flash patch
  patch/kernel/rockchip-rk3588-edge/board-rock-5b-arm64-dts-enable-spi-flash.patch
Labels: Ready to merge, 02, size/medium, Hardware

#6181 Radxa Zero: u-boot-v2023.07.02: `eMMC boot fixup`
  patch/u-boot/v2023.07.02/board_radxa-zero/002-configs-radxa-zero_defconfig-enable-preboot.patch
Labels: Ready to merge, 02, size/small, Hardware

#6177 fix gitee mirror
  lib/functions/general/git-ref2info.sh
Labels: Ready to merge, 02, size/small

#6165 rockchip64: import RFC patch for rockchip TRNG
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  patch/kernel/archive/rockchip64-6.6/general-cryptov1-trng.patch
  patch/kernel/archive/rockchip64-6.6/rk3399-rp64-rng.patch
  patch/kernel/archive/rockchip64-6.6/rk35xx-montjoie-crypto-v2-rk35xx.patch
  patch/kernel/archive/rockchip64-6.7/general-cryptov1-trng.patch
  patch/kernel/archive/rockchip64-6.7/rk3399-rp64-rng.patch
  patch/kernel/archive/rockchip64-6.7/rk35xx-montjoie-crypto-v2-rk35xx.patch
Labels: Ready to merge, 02, size/large, Hardware

#6134 add salvas UHS overlay and enable Rockpro64 and Pinebook-pro
  patch/kernel/archive/rockchip64-6.6/overlay/Makefile
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3399-uhs.dts
Labels: Ready to merge, size/small, Hardware

#6195 Attach Collabora to 6.7 branch
  config/sources/families/rockchip-rk3588.conf
Labels: Ready to merge, Build, 02, size/small, Hardware

#6203 Upstream wireless RTW88: Both 6.6 and 6.7 got patch integrated
  lib/functions/compilation/patch/drivers_network.sh
Labels: size/small

#6159 Helios64: Update armbian-hardware-optimization (it's rockchip64, not rk3399 anymore)
  packages/bsp/common/usr/lib/armbian/armbian-hardware-optimization
Labels: Ready to merge, 02, size/small

#6192 Get RockPI-S working again on kernel version >6.5
  config/bootscripts/boot-rockpis.cmd
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
Labels: Ready to merge, 02, size/medium, Hardware

#6201 Khadas VIM1S & VIM4 - 5.15 kernel bump
  config/boards/khadas-vim1s.conf
  config/boards/khadas-vim4.conf
  config/bootscripts/boot-meson-s4t7.cmd
  config/kernel/linux-meson-s4t7-legacy.config
  config/sources/families/meson-s4t7.conf
  lib/functions/artifacts/artifact-kernel.sh
  lib/functions/compilation/kernel.sh
  packages/bsp/meson-s4t7/common/etc/modprobe.d/dhd.conf
  packages/bsp/meson-s4t7/common/etc/systemd/system/fan.service
  packages/bsp/meson-s4t7/common/etc/udev/rules.d/99-amlogic.rules
  packages/bsp/meson-s4t7/khadas-vim1s/etc/initramfs-tools/modules
  packages/bsp/meson-s4t7/khadas-vim1s/etc/modprobe.d/amvdec_mh264.conf
  packages/bsp/meson-s4t7/khadas-vim1s/etc/modprobe.d/amvdec_ports.conf
  packages/bsp/meson-s4t7/khadas-vim1s/etc/modprobe.d/initramfs-modules-load-order.conf
  packages/bsp/meson-s4t7/khadas-vim1s/etc/modules
  packages/bsp/meson-s4t7/khadas-vim4/etc/initramfs-tools/modules
  packages/bsp/meson-s4t7/khadas-vim4/etc/modprobe.d/amvdec_mh264.conf
  packages/bsp/meson-s4t7/khadas-vim4/etc/modprobe.d/amvdec_ports.conf
  packages/bsp/meson-s4t7/khadas-vim4/etc/modprobe.d/initramfs-modules-load-order.conf
  packages/bsp/meson-s4t7/khadas-vim4/etc/modprobe.d/isp.conf
  packages/bsp/meson-s4t7/khadas-vim4/etc/modules
  packages/bsp/meson-s4t7/khadas-vim4/etc/udev/rules.d/60-vim4.rules
  patch/kernel/archive/meson-s4t7-5.15/drm-meson-fbdev-remove-drm-wait-one-vblank.patch
  patch/kernel/archive/meson-s4t7-5.15/overlay/s4-s905y4-i2cm_e.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/s4-s905y4-i2s.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/s4-s905y4-onewire.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/s4-s905y4-pwm_f.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/s4-s905y4-spdifout.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/s4-s905y4-spi0.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/s4-s905y4-uart_c.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/t7-a311d2-ext_board.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/t7-a311d2-fb-1024x600.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/t7-a311d2-fix-ts050-mipi-console.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/t7-a311d2-i2cm_a.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/t7-a311d2-i2cm_f.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/t7-a311d2-i2s.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/t7-a311d2-onewire.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/t7-a311d2-pwm_f.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/t7-a311d2-spdifout.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/t7-a311d2-spi0.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/t7-a311d2-uart_e.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/t7-a311d2-vim4n-imx415.dtbo
  patch/kernel/archive/meson-s4t7-5.15/overlay/t7-a311d2-vim4n-os08a10.dtbo
  patch/kernel/archive/meson-s4t7-5.4/0001-vim1s-Port-hotplug-fix-from-hdmitx21-to-hdmi_tx_20.patch
  patch/kernel/archive/meson-s4t7-5.4/board_vim4_model_name_difference_between_kvim4_and_kvim4n.patch
  patch/u-boot/u-boot-meson-s4t7/Enable-setexpr-sub-command.patch
Labels: Ready to merge, 02, size/large, Hardware

#6206 Fixes poorly made Git safe.directory workaround
  lib/functions/general/git.sh
Labels: Ready to merge, Bugfix, 02, size/small

#6207 Add additonal check before running git command
  lib/functions/general/git.sh
Labels: size/small

#6211 Fix failure to setup git repository
  config/sources/families/meson-s4t7.conf
Labels: size/small, Hardware

#6202 Rockchip64 reinstate kernel configs for current 6.6 and edge 6.7
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
Labels: Ready to merge, Help needed, 02, size/large, Hardware

#6212 rockchip64: fix ssv6051 driver
  patch/kernel/archive/rockchip64-6.7/wifi-4003-ssv-6051-driver.patch
Labels: Ready to merge, 02, size/medium, Hardware

#6215 aml-s9xx-box: Add u-boot blob and patch for s905x3 boxes
  packages/bsp/aml-s9xx-box/boot/build-u-boot/readme.txt
  packages/bsp/aml-s9xx-box/boot/build-u-boot/u-boot-s905x3.patch
  packages/bsp/aml-s9xx-box/boot/u-boot-s905x3
Labels: Ready to merge, 02, size/medium

#6214 aml-s9xx-box: Update u-boot-s905x2-s922 to u-boot version 2024.01
  packages/bsp/aml-s9xx-box/boot/build-u-boot/readme.txt
  packages/bsp/aml-s9xx-box/boot/build-u-boot/u-boot-s905x2-s922.patch
  packages/bsp/aml-s9xx-box/boot/u-boot-s905x2-s922
Labels: Ready to merge, 02, size/medium

#6213 Update odroidxu4-current to 6.1.75
  patch/kernel/odroidxu4-current/0001-Revert-ODROID-N2-net-stmmac-enable-disable-WOL-irq.patch
  patch/kernel/odroidxu4-current/patch-6.1.73-74.patch
  patch/kernel/odroidxu4-current/patch-6.1.74-75.patch
Labels: Ready to merge, 02, size/large, Hardware

#6218 thead: update kernel version, change from WIP support level to CSC support level.
  config/boards/licheepi-4a.csc
  config/kernel/linux-thead-current.config
  config/kernel/linux-thead-edge.config
  config/sources/families/thead.conf
Labels: Ready to merge, 02, size/medium, Hardware

#6224 XU4: remove deprecated patches
  patch/kernel/odroidxu4-current/0001-Revert-ODROID-N2-net-stmmac-enable-disable-WOL-irq.patch
  patch/kernel/odroidxu4-current/patch-6.1.67-68.patch
  patch/kernel/odroidxu4-current/patch-6.1.68-69.patch
  patch/kernel/odroidxu4-current/patch-6.1.69-70.patch
  patch/kernel/odroidxu4-current/patch-6.1.70-71.patch
  patch/kernel/odroidxu4-current/patch-6.1.71-72.patch
  patch/kernel/odroidxu4-current/patch-6.1.72-73.patch
  patch/kernel/odroidxu4-current/patch-6.1.73-74.patch
  patch/kernel/odroidxu4-current/patch-6.1.74-75.patch
Labels: size/large, Hardware

#6222 rk35xx: Add broadcom modules to legacy
  config/kernel/linux-rk35xx-legacy.config
Labels: Ready to merge, 02, size/small, Hardware

#6219 meson-s4t7: Update bootscript and uboot on upgrade
  config/boards/tinkerboard.conf
  config/sources/families/meson-s4t7.conf
  lib/functions/artifacts/artifact-uboot.sh
  lib/functions/bsp/armbian-bsp-cli-deb.sh
  lib/functions/compilation/uboot.sh
Labels: size/medium, Hardware

#6225 Add two new issues labels "Documentation" and "Improper usage"
  .github/labels.yml
Labels: size/small

#6226 Labeler workflow fails due to insufficient permissions
  .github/workflows/labels-from-yml.yml
Labels: 02, Needs review, size/small, Action scripts

#6205 added cloud-init support
  extensions/cloud-init/cloud-init.sh
  extensions/cloud-init/config/99-fake_cloud.cfg
  extensions/cloud-init/defaults/meta-data
  extensions/cloud-init/defaults/network-config
  extensions/cloud-init/defaults/network-config.template
  extensions/cloud-init/defaults/user-data
  extensions/cloud-init/defaults/user-data.template
Labels: Ready to merge, 02, size/medium, Needs Documentation
