Repository armbian/build, pull requests merged in 2024-03, with the labels that each got.

#6320 Debootstrap is again too old for latest releases.
  lib/functions/rootfs/rootfs-create.sh
  packages/blobs/debootstrap/debootstrap_1.0.134_all.deb
  packages/blobs/debootstrap/debootstrap_1.0.134ubuntu1_all.deb
Labels: Bugfix, 05, Needs review, size/small

#6328 u-boot: call `olddefconfig` after config hooks; use pipetty instead of unbuffer for make
  lib/functions/compilation/uboot.sh
Labels: Ready to merge, 05, size/small

#6327 config-prepare: do change tracking for each sourced board file (core vs userpatches)
  lib/functions/main/config-prepare.sh
Labels: Ready to merge, 05, size/small

#6326 patching: fix: use correct has_overlay_directories instead of has_dts_directories for overlay processing
  lib/tools/patching.py
Labels: Ready to merge, 05, size/small

#6325 mekotronics 3588: add SRC_CMDLINE, for use with `u-boot-menu` extension
  config/sources/vendors/mekotronics/mekotronics-rk3588.conf.sh
Labels: Ready to merge, 05, size/small, Hardware

#6324 wsl2: fix: don't pester user for UTF-8 terminal if stdin is not a terminal
  lib/functions/host/wsl2.sh
Labels: Ready to merge, 05, size/small

#6323 wsl2: arm64: current: DRM/FB stuff so wsl2-arm64 can be used in HyperV with video & keyboard
  config/kernel/linux-wsl2-arm64-current.config
Labels: Ready to merge, 05, size/medium, Hardware

#6322 kernel: call make with `INSTALL_MOD_STRIP=1` so modules are stripped
  lib/functions/compilation/kernel.sh
Labels: Ready to merge, 05, size/small

#6334 Adds --partscan parameter to losetup command to force scan partitions
  lib/functions/image/partitioning.sh
Labels: Ready to merge, 05, size/small

#6304 Improve armbian-install to address mounted fs correctly
  packages/bsp/common/usr/sbin/armbian-install
Labels: Bugfix, 05, Needs review, size/small

#6335 rockchip-rk3588-edge: add ap6275p support
  patch/kernel/rockchip-rk3588-edge/board-khadas-edge2-add-nodes.patch
  patch/kernel/rockchip-rk3588-edge/wireless-add-bcm43752.patch
  patch/kernel/rockchip-rk3588-edge/wireless-add-clk-property.patch
Labels: Ready to merge, 05, size/large, Hardware

#6336 kernel: revert "also, don't add target 'install' twice"
  lib/functions/compilation/kernel.sh
Labels: size/small

#6305 Add ayn odin2 config
  config/boards/ayn-odin2.conf
  config/boards/xiaomi-umi.wip
  config/kernel/linux-arm64-sm8550.config
  extensions/image-output-abl.sh
  patch/kernel/arm64-sm8550/0001-tools-Makefile-delete-missing-cgroup_clean.patch
Labels: size/large, Hardware, Framework

#6339 rockchip-rk3588-edge: opi5-plus: fix USB3 Host
  patch/kernel/rockchip-rk3588-edge/0027-arm64-dts-Add-missing-nodes-to-Orange-Pi-5-Plus.patch
Labels: Ready to merge, 05, size/small, Hardware

#6300 Update DDR/BL31 blobs for Orangepi 5/Plus
  config/boards/orangepi5.conf
Labels: Ready to merge, 05, size/small, Hardware

#6315 Add board BananaPi M4 Zero
  config/boards/bananapim4zero.conf
  config/sources/families/sun50iw9-bpi.conf
  patch/kernel/archive/sunxi-6.6/patches.armbian/arm64-dts-allwinner-sun50i-h616-PG-12c-pins.patch
  patch/kernel/archive/sunxi-6.6/patches.armbian/arm64-dts-allwinner-sun50i-h618-bananapi-m4-zero.patch
  patch/kernel/archive/sunxi-6.6/series.armbian
  patch/kernel/archive/sunxi-6.6/series.conf
  patch/kernel/archive/sunxi-6.7/patches.armbian/arm64-dts-allwinner-sun50i-h616-PG-12c-pins.patch
  patch/kernel/archive/sunxi-6.7/patches.armbian/arm64-dts-allwinner-sun50i-h618-bananapi-m4-zero.patch
  patch/kernel/archive/sunxi-6.7/series.armbian
  patch/kernel/archive/sunxi-6.7/series.conf
  patch/u-boot/v2024.01/board_bananapim4zero/001-add-board-bananapi-m4-zero.patch
  patch/u-boot/v2024.01/board_bananapim4zero/002-bananapi-m4-zero-emmc-boot-support.patch
  patch/u-boot/v2024.01/board_bananapim4zero/003-sunxi-mmc-increase-stabilization-delay-from-1ms-to-20ms.patch
  patch/u-boot/v2024.01/board_bananapim4zero/004-HACK-sunxi-h616-gpu-enable.patch
  patch/u-boot/v2024.01/board_bananapim4zero/005-sunxi-h616-ths-workaround.patch
  patch/u-boot/v2024.01/board_bananapim4zero/006-add-barrier-and-udelay-to-mctl_mem_matches-function.patch
Labels: Ready to merge, 05, size/large, Hardware

#6341 meson-6.7: Copy patches from 6.6
  patch/kernel/archive/meson-6.7/generic-0001-m8-m8b-m8m2-Support-HDMI.patch
  patch/kernel/archive/meson-6.7/generic-0002-m8-m8b-m8m2-drm-forcefully-enable-XRGB-format.patch
  patch/kernel/archive/meson-6.7/generic-0003-drm-meson-Support-meson-8-8b-hdmi-tx-components.patch
  patch/kernel/archive/meson-6.7/generic-Revert-mmc-core-Set-HS-clock-speed-before-sending-HS-CMD13.patch
  patch/kernel/archive/meson-6.7/generic-Revert-pwm-meson-modify-and-simplify-calculation-in-.patch
  patch/kernel/archive/meson-6.7/odroidc1-dts-Enable-HDMI.patch
  patch/kernel/archive/meson-6.7/onecloud-0001-add-dts.patch
  patch/kernel/archive/meson-6.7/onecloud-0002-dts-Support-HDMI.patch
Labels: Ready to merge, 05, size/large, Hardware

#6340 Bump RK3588 edge mainline kernels to latest RC tag
  config/sources/mainline-kernel.conf.sh
Labels: Build, 05, size/small, Hardware

#6176 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/helios4.conf
  config/boards/station-m3.csc
  config/boards/thinkpad-x13s.wip
  config/boards/wdk2023.csc
Labels: Needs review, size/medium, Hardware

#6343 Fix for Github Action - don't use custom folder if it doesn't exists
  action.yml
Labels: size/small

#6344 repo-list: fix build issue with eos distribution
  lib/functions/rootfs/distro-specific.sh
Labels: Ready to merge, 05, size/small

#6346 phytium-embedded: add .wip support for Phytium PhytiumPi 4GB board
  config/boards/phytiumpi.wip
  config/kernel/linux-phytium-embedded-legacy.config
  config/sources/families/phytium-embedded.conf
  packages/blobs/phytiumpi/env.txt
  packages/blobs/phytiumpi/fip-all-sd-boot.bin
  packages/blobs/phytiumpi/rtlbt/rtk_hciattach
  packages/blobs/phytiumpi/rtlbt/rtl8821c_config
  packages/blobs/phytiumpi/rtlbt/rtl8821c_fw
  packages/blobs/phytiumpi/rtlbt/systemd-hciattach.service
Labels: Ready to merge, 05, size/large, Hardware

#6347 Re-enable Ubuntu mantic which will generate repository
  config/distributions/mantic/support
Labels: 05, Needs review, size/small, Hardware

#6352 rockchip: add patches to fix usb-gadget/peripheral mode
  config/kernel/linux-rockchip-current.config
  config/kernel/linux-rockchip-edge.config
  patch/kernel/archive/rockchip-6.6/armbian.series
  patch/kernel/archive/rockchip-6.6/patches.armbian/general-dwc2-fix-wait-peripheral.patch
  patch/kernel/archive/rockchip-6.6/patches.armbian/general-dwc2-fix-wait-time.patch
  patch/kernel/archive/rockchip-6.6/patches.armbian/general-dwc2-nak-gadget.patch
  patch/kernel/archive/rockchip-6.6/patches.armbian/general-rockchip-various-fixes.patch
  patch/kernel/archive/rockchip-6.6/patches.armbian/rk322x-dwc2-no-clock-gating.patch
  patch/kernel/archive/rockchip-6.6/series.conf
  patch/kernel/archive/rockchip-6.7/armbian.series
  patch/kernel/archive/rockchip-6.7/patches.armbian/general-dwc2-fix-wait-peripheral.patch
  patch/kernel/archive/rockchip-6.7/patches.armbian/general-dwc2-fix-wait-time.patch
  patch/kernel/archive/rockchip-6.7/patches.armbian/general-dwc2-nak-gadget.patch
  patch/kernel/archive/rockchip-6.7/patches.armbian/rk322x-dwc2-no-clock-gating.patch
  patch/kernel/archive/rockchip-6.7/series.conf
Labels: size/large, Hardware

#6351 Update odroidxu4-current to 6.1.80
  patch/kernel/odroidxu4-current/patch-6.1.79-80.patch
Labels: size/large, Hardware

#6354 cli: introduce `inventory-boards` cli command, for hopefully painless & useful one-board-per-line CSV output
  lib/functions/cli/cli-jsoninfo.sh
  lib/functions/cli/commands.sh
  lib/tools/info/inventory-boards-csv.py
Labels: Ready to merge, 05, size/medium, Needs Documentation

#6353 cli: introduce `kernel-dtb` cli command, to build only DTB, and output full preprocessed dts source
  lib/functions/artifacts/artifact-kernel.sh
  lib/functions/cli/commands.sh
  lib/functions/compilation/kernel-debs.sh
  lib/functions/compilation/kernel.sh
Labels: Ready to merge, 05, size/medium, Needs Documentation

#6357 mainline-kernel: bump 6.8 to 6.8-rc7; update linux-rockchip-rk3588-edge.config
  config/kernel/linux-rockchip-rk3588-edge.config
  config/sources/mainline-kernel.conf.sh
Labels: Ready to merge, 05, size/small, Hardware

#6350 Fix odin2 config udev path
  config/boards/ayn-odin2.conf
Labels: Ready to merge, 05, size/small, Hardware

#6345 Improve loop devices management by allocating random free device
  lib/functions/image/partitioning.sh
Labels: 05, Needs review, size/small, Framework

#6358 lib: drop old boot_logo code; keep png/gif as they're used for plymouth
  lib/functions/host/prepare-host.sh
  lib/functions/rootfs/boot_logo.sh
  lib/functions/rootfs/distro-agnostic.sh
  lib/library-functions.sh
  packages/bsp/common/etc/initramfs-tools/hooks/bootsplash.sh
  packages/bsp/common/lib/systemd/system/bootsplash-ask-password-console.path
  packages/bsp/common/lib/systemd/system/bootsplash-ask-password-console.service
  packages/bsp/common/lib/systemd/system/bootsplash-hide-when-booted.service
  packages/bsp/common/lib/systemd/system/bootsplash-show-on-shutdown.service
Labels: Ready to merge, 05, size/medium, Framework

#6361 Hook leftovers when introducing vendor kernel for Rockchip 3588
  config/boards/armsom-sige7.csc
  config/boards/armsom-w3.csc
  config/boards/indiedroid-nova.csc
Labels: size/small, Hardware

#6349 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/phytiumpi.csc
Labels: Needs review, size/small, Hardware

#6365 BananaPi M4 Zero: enable 8821cu and blacklist rtw88_8821cu
  config/boards/bananapim4zero.conf
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
Labels: Ready to merge, 05, size/small, Hardware

#6364 patches: BananaPi M4 Zero: fixups
  patch/kernel/archive/sunxi-6.6/patches.armbian/arm64-dts-allwinner-sun50i-h616-spi1-cs1-pin.patch
  patch/kernel/archive/sunxi-6.6/patches.armbian/arm64-dts-allwinner-sun50i-h618-bananapi-m4-zero.patch
  patch/kernel/archive/sunxi-6.6/series.armbian
  patch/kernel/archive/sunxi-6.6/series.conf
  patch/kernel/archive/sunxi-6.7/patches.armbian/arm64-dts-allwinner-sun50i-h616-spi1-cs1-pin.patch
  patch/kernel/archive/sunxi-6.7/patches.armbian/arm64-dts-allwinner-sun50i-h618-bananapi-m4-zero.patch
  patch/kernel/archive/sunxi-6.7/series.armbian
  patch/kernel/archive/sunxi-6.7/series.conf
  patch/u-boot/v2024.01/board_bananapim4zero/001-add-board-bananapi-m4-zero.patch
  patch/u-boot/v2024.01/board_bananapim4zero/006-add-barrier-and-udelay-to-mctl_mem_matches-function.patch
  patch/u-boot/v2024.01/board_bananapim4zero/006-sunxi-restore-modified-memory.patch
Labels: Ready to merge, 05, size/large, Hardware

#6363 Update odin2 config
  config/boards/ayn-odin2.conf
  packages/bsp/ayn-odin2/bt-fixed-mac.service
  packages/bsp/ayn-odin2/bt-fixed-mac.sh
Labels: Ready to merge, 05, size/medium, Hardware

#6362 rockchip-rk3588-edge: khadas-edge2: add MCU fan control
  config/kernel/linux-rockchip-rk3588-edge.config
  patch/kernel/rockchip-rk3588-edge/board-khadas-edge2-mcu.patch
Labels: Ready to merge, 05, size/large, Hardware

#6367 Unset hardcoded defaults from repo management tool
  tools/repository/repo
Labels: Ready to merge, Bugfix, 05, size/small

#6368 kernel: Enable *NVMe-over-TCP* for rk35xx/rk3588/rockchip64/uefi/wsl
  config/kernel/linux-rk35xx-vendor.config
  config/kernel/linux-rockchip-rk3588-edge.config
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  config/kernel/linux-uefi-arm64-current.config
  config/kernel/linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-riscv64-current.config
  config/kernel/linux-uefi-riscv64-edge.config
  config/kernel/linux-uefi-x86-current.config
  config/kernel/linux-uefi-x86-edge.config
  config/kernel/linux-wsl2-arm64-current.config
  config/kernel/linux-wsl2-arm64-edge.config
  config/kernel/linux-wsl2-x86-current.config
  config/kernel/linux-wsl2-x86-edge.config
Labels: size/large, Hardware

#6373 Update odroidxu4-current to 6.1.81
  patch/kernel/odroidxu4-current/patch-6.1.80-81.patch
Labels: Ready to merge, 05, size/large, Hardware

#6372 add csc hinlink h6xk boards
  config/boards/hinlink-h66k.csc
  config/boards/hinlink-h68k.csc
  config/boards/hinlink-hnas.csc
Labels: Ready to merge, 05, size/small, Hardware

#6371 Show correct reason about omit tmpfs usage if FORCE_USE_RAMDISK is set
  lib/functions/rootfs/trap-rootfs.sh
Labels: Ready to merge, 05, size/small

#6370 GH actions: Kernel hardening analysis path and name of a tool has been changed
  .github/workflows/kernel-security-analysis-pr.yml
Labels: Bugfix, 05, Needs review, size/small, Hardware, Action scripts

#6380 Add KDE Neon DE which provides latest and greates KDE DE v6.x
  config/desktop/jammy/environments/kde-neon/architectures
  config/desktop/jammy/environments/kde-neon/armbian
  config/desktop/jammy/environments/kde-neon/config_base/packages
  config/desktop/jammy/environments/kde-neon/config_base/packages.uninstall
  config/desktop/jammy/environments/kde-neon/debian
  config/desktop/jammy/environments/kde-neon/sources/apt/neon.gpg
  config/desktop/jammy/environments/kde-neon/sources/apt/neon.source
  config/desktop/jammy/environments/kde-neon/support
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready to merge, 05, size/small, Hardware

#6376 cli: introduce `rewrite-uboot-patches` cli command, works similar to the kernel one
  lib/functions/cli/cli-patch.sh
  lib/functions/cli/commands.sh
Labels: Ready to merge, 05, size/medium, Needs Documentation

#6383 rk35xx-vendor: add rk3528 and lima driver support
  config/kernel/linux-rk35xx-vendor.config
Labels: Ready to merge, 05, size/small, Hardware

#6381 rk35xx-vendor: Add kernel patching config
  patch/kernel/rk35xx-vendor-6.1/0000.patching_config.yaml
Labels: Ready to merge, 05, size/small, Hardware

#6391 Extend PR template when asking for documentation
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Ready to merge, 05, size/small

#6390 Disable automatic enablement of Nvidia proprietary drivers on x86
  config/sources/families/uefi-x86.conf
Labels: Ready to merge, 05, size/small, Hardware

#6387 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/sk-am68.conf
Labels: Needs review, size/small, Hardware

#6400 GH: ISSUE_TEMPLATE: Improve bug report template
  .github/ISSUE_TEMPLATE/bugreport.yml
Labels: Ready to merge, 05, size/small

#6397 desktop: jammy: kde-neon: more basic packages needed
  config/desktop/common/environments/kde-plasma/armbian/create_desktop_package.sh
  config/desktop/common/environments/kde-plasma/debian/postinst
  config/desktop/jammy/environments/kde-neon/config_base/packages
Labels: Ready to merge, 05, size/small, Hardware

#6396 rockchip64_common: use `ttyFIQ0` as default SERIALCON for both `legacy` and `vendor` BRANCHes
  config/sources/families/include/rockchip64_common.inc
Labels: Ready to merge, 05, size/small, Hardware

#6404 BananaPi M4 Zero: `add gpu and uart nodes`
  patch/kernel/archive/sunxi-6.6/patches.armbian/arm64-dts-allwinner-sun50i-h618-bananapi-m4-zero.patch
  patch/kernel/archive/sunxi-6.7/patches.armbian/arm64-dts-allwinner-sun50i-h618-bananapi-m4-zero.patch
Labels: size/medium, Hardware

#6415 rockchip-rk3588: edge: add panthor support
  config/kernel/linux-rockchip-rk3588-edge.config
  patch/kernel/rockchip-rk3588-edge/0041-panthor-v6.patch
  patch/kernel/rockchip-rk3588-edge/0042-arm64-dts-rockchip-rk3588-Add-GPU-nodes.patch
  patch/kernel/rockchip-rk3588-edge/0043-arm64-dts-rockchip-rk3588-rock5b-Add-GPU-node.patch
Labels: Ready to merge, 05, size/large, Hardware

#6416 hinlink-h88k: edge: update mainline devicetree
  patch/kernel/rockchip-rk3588-edge/dt/rk3588-hinlink-h88k.dts
Labels: Ready to merge, 05, size/small, Hardware

#6419 armsom boards: all branches use the same uboot
  config/boards/armsom-sige7.csc
  config/boards/armsom-w3.csc
Labels: size/small, Hardware

#6422 rockchip-rk3588: edge: improve display modes support
  patch/kernel/rockchip-rk3588-edge/0037-drm-bridge-synopsys-Add-initial-support-for-DW-HDMI-.patch
  patch/kernel/rockchip-rk3588-edge/0044-phy-phy-rockchip-samsung-hdptx-Add-FRL-EARC-support.patch
  patch/kernel/rockchip-rk3588-edge/0045-phy-phy-rockchip-samsung-hdptx-Add-clock-provider.patch
  patch/kernel/rockchip-rk3588-edge/0046-drm-rockchip-vop2-Improve-display-modes-handling-on-.patch
  patch/kernel/rockchip-rk3588-edge/0047-arm64-dts-rockchip-Make-use-of-HDMI0-PHY-PLL-on-rock.patch
Labels: Ready to merge, size/large, Hardware

#6426 rockchip: rk3588: edge: fix wrong gpu node patch
  patch/kernel/rockchip-rk3588-edge/0042-arm64-dts-rockchip-rk3588-Add-GPU-nodes.patch
Labels: Bugfix, size/small, Hardware

#6428 fix rtl8723cs compilation for kernel 6.8
  lib/functions/compilation/patch/drivers_network.sh
  patch/misc/wireless-rtl8723cs/8723cs-Port-to-6.8.patch
Labels: size/small, Hardware

#6414 Rock 4C+: update and cleanup boot config
  config/boards/rockpi-4cplus.csc
Labels: Ready to merge, 05, size/small, Hardware

#6413 config: boards: add X96 Mate TV Box config
  config/boards/x96-mate.tvb
Labels: Ready to merge, 05, size/small, Hardware

#6427 rockchip: fix bootloader upgrade
  config/sources/families/rockchip.conf
Labels: Ready to merge, Bugfix, 05, size/medium, Hardware

#6408 create linux-libc-dev when building kernel packages
  lib/functions/artifacts/artifact-kernel.sh
  lib/functions/compilation/kernel-debs.sh
  lib/functions/compilation/kernel.sh
Labels: Ready to merge, 05, size/small

#6420 [WIP] add support for Radxa ZERO 3E/3W
  config/boards/radxa-zero3.wip
  patch/u-boot/u-boot-radxa-latest/board_radxa-zero3-rk3566_defconfig.patch
Labels: size/medium, Hardware

#6430 armsom-sige7: add missing vop node
  patch/kernel/rockchip-rk3588-edge/dt/rk3588-armsom-sige7.dts
Labels: size/small, Hardware

#6433 rockchip-rk3588-edge: khadas-edge2: add support for GPU and improve display modes
  patch/kernel/rockchip-rk3588-edge/board-khadas-edge2-add-nodes.patch
Labels: size/medium, Hardware

#6435 GH Actions: Beautify kernel hardening analysis
  .github/workflows/kernel-security-analysis-pr.yml
Labels: Ready to merge, 05, size/small, Action scripts

#6436 wireless: Remove some patches upstreamed in 6.8.2
  patch/misc/rtw88/6.8/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
Labels: size/medium, Hardware

#6437 armsom-sige7: add ap6275p wifi support
  patch/kernel/rockchip-rk3588-edge/dt/rk3588-armsom-sige7.dts
Labels: size/small, Hardware

#6438 RTW88: `remove patches upstreamed`
  patch/misc/rtw88/6.6/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
  patch/misc/rtw88/6.7/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
Labels: size/large, Hardware

#6442 RTW88: `remove patches upstreamed`
  patch/misc/rtw88/6.1/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
Labels: Ready to merge, Bugfix, 05, size/medium, Hardware

#6443 sunxi legacy v6.1: remove deprecated patch
  config/kernel/linux-sunxi-legacy.config
  patch/kernel/archive/sunxi-6.1/patches.megous/leds-sgm3140-Add-missing-timer-cleanup-and-flash-gpio-control.patch
  patch/kernel/archive/sunxi-6.1/series.conf
  patch/kernel/archive/sunxi-6.1/series.megous
Labels: Build, 05, size/medium, Hardware

#6450 rockchip64-edge (6.8.y): enable CONFIG_RTW88_PCI and all the RTW88 PCI cards
  config/kernel/linux-rockchip64-edge.config
Labels: size/small, Hardware

#6449 Update odroidxu4-current to 6.1.83
  patch/kernel/odroidxu4-current/patch-6.1.81-82.patch
  patch/kernel/odroidxu4-current/patch-6.1.82-83.patch
Labels: Ready to merge, 05, size/large, Hardware

#6452 Changing file to force full rootfs cache rebuild
  lib/functions/rootfs/rootfs-create.sh
Labels: size/small

#6424 rockpro64: bump u-boot to v2024.04-rc4; use binman-produced bins
  config/boards/rockpro64.conf
  patch/u-boot/v2023.01/board_rockpro64/mmc-sdhci-allow-disabling-sdma-in-spl.patch
Labels: size/medium, Hardware
