Repository armbian/build, pull requests merged in 2024-07, with the labels that each got.

#6846 Fix btrfs and xfs resize
  extensions/fs-btrfs-support.sh
  extensions/fs-xfs-support.sh
  packages/bsp/common/usr/lib/armbian/armbian-resize-filesystem
Labels: Ready to merge, 08, size/small, Framework, BSP

#6839 aml-s9xx-box: bsp-cli hashing fixes
  config/boards/aml-s9xx-box.tvb
  config/optional/boards/aml-s9xx-box/_packages/bsp-cli/boot/aml_autoscript
  config/optional/boards/aml-s9xx-box/_packages/bsp-cli/boot/build-u-boot/readme.txt
  config/optional/boards/aml-s9xx-box/_packages/bsp-cli/boot/build-u-boot/u-boot-s905x-s912.patch
  config/optional/boards/aml-s9xx-box/_packages/bsp-cli/boot/build-u-boot/u-boot-s905x2-s922.patch
  config/optional/boards/aml-s9xx-box/_packages/bsp-cli/boot/build-u-boot/u-boot-s905x3-ugoos-x3.patch
  config/optional/boards/aml-s9xx-box/_packages/bsp-cli/boot/build-u-boot/u-boot-s905x3.patch
  config/optional/boards/aml-s9xx-box/_packages/bsp-cli/boot/emmc_autoscript
  config/optional/boards/aml-s9xx-box/_packages/bsp-cli/boot/extlinux/extlinux.conf.template
  config/optional/boards/aml-s9xx-box/_packages/bsp-cli/boot/s905_autoscript
  config/optional/boards/aml-s9xx-box/_packages/bsp-cli/boot/u-boot-s905
  config/optional/boards/aml-s9xx-box/_packages/bsp-cli/boot/u-boot-s905x-s912
  config/optional/boards/aml-s9xx-box/_packages/bsp-cli/boot/u-boot-s905x2-s922
  config/optional/boards/aml-s9xx-box/_packages/bsp-cli/boot/u-boot-s905x3
  config/optional/boards/aml-s9xx-box/_packages/bsp-cli/boot/u-boot-s905x3-ugoosx3
  config/optional/boards/aml-s9xx-box/_packages/bsp-cli/root/fstab.template
  config/optional/boards/aml-s9xx-box/_packages/bsp-cli/root/install-aml.sh
Labels: Ready to merge, 08, size/medium, Hardware

#6861 Bump sunxi-current and sunxi64 to latest tag
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi64-current.config
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-6.6/patches.megous/tty-serial-8250-dw-Use-fifo-size-from-DTS.patch
  patch/kernel/archive/sunxi-6.6/series.conf
Labels: Ready to merge, 08, size/large, Hardware, Patches

#6858 improve fs-cryptroot-support.sh
  extensions/fs-cryptroot-support.sh
Labels: Ready to merge, 08, size/small, Framework

#6859 Update support for recore boards
  config/boards/recore.csc
  patch/kernel/archive/sunxi-6.6/patches.armbian/arm64-dts-sun50i-a64-add-dts-for-recore-a5-to-a8.patch
Labels: Ready to merge, 08, size/large, Hardware, Patches

#6863 Fixing syntax at Recore and add missing board level variables
  config/boards/aml-t95z-plus.tvb
  config/boards/recore.csc
Labels: Ready to merge, Bugfix, 08, size/small, Hardware

#6864 rootfs: add comment to force rootfs rebuild
  lib/functions/rootfs/create-cache.sh
Labels: size/small, Framework

#6865 Test automation - adjust kernel test targets.
  config/boards/khadas-edge2.conf
  config/boards/nanopi-r6s.csc
  config/boards/orangepi5-plus.conf
  config/boards/orangepi5.conf
  config/boards/rock-5b.conf
Labels: Ready to merge, 08

#6868 Fix Khadas Edge 2 uboot build
  patch/u-boot/legacy/u-boot-khadas-edge2-rk3588/0002-Fix-build-errors.patch
Labels: size/small, Hardware, Patches

#6866 Add recore dts patch to series.conf so it gets applied
  patch/kernel/archive/sunxi-6.6/series.conf
Labels: Ready to merge, 08, size/small, Hardware, Patches

#6838 bsp-cli/bsp-desktop: hashing fixes
  lib/functions/artifacts/artifact-armbian-bsp-cli.sh
  lib/functions/artifacts/artifact-armbian-bsp-desktop.sh
  lib/functions/bsp/armbian-bsp-cli-deb.sh
  lib/functions/bsp/utils-bsp.sh
Labels: Ready to merge, 08, size/small, Framework

#6849 fix: firefly-itx-3588j fails to boot, and audio output
  config/boards/firefly-itx-3588j.csc
  patch/u-boot/legacy/u-boot-radxa-rk3588/board_firefly-itx-3588j/board-firefly-itx-3588j-disable-optee-security.patch
Labels: Ready to merge, 08, size/small, Hardware, Patches

#6873 u-boot: use `pipetty` in place of `unbuffer`
  lib/functions/compilation/uboot.sh
Labels: size/small, Framework

#6870 git: git_ensure_safe_directory(): use env vars instead of changing config
  lib/functions/general/git.sh
Labels: Ready to merge, 08, size/small, Framework

#6875 Spacemit: use same kernel config as on known to work image
  config/boards/bananapif3.wip
  config/kernel/linux-spacemit-legacy.config
Labels: size/small, Hardware

#6876 Update JetHub boards support
  config/boards/jethubj200.conf
  config/boards/jethubj200.wip
  config/sources/families/jethub.conf
  packages/bsp/jethub/jethub-init
  packages/bsp/jethub/jethub_get_cmdline_arg.h
  packages/bsp/jethub/jethubj200/libjethubconfig.sh
  patch/kernel/archive/meson64-6.6/jethome-0002-arm64-dts-jethub-j1xx-add-eeprom-node.patch
  patch/kernel/archive/meson64-6.9/dt/meson-sm1-jethome-jethub-j200.dts
  patch/kernel/archive/meson64-6.9/jethome-0004-arm64-dts-meson-axg-add-support-for-JetHome-JetHub-D.patch
  patch/kernel/archive/meson64-6.9/jethome-0005-jethub-j200-add-meson64-reset-driver.patch
  patch/u-boot/v2023.10/board_jethubj100/0006-HACK-force-disable-efi-options-for-JetHub-D1-H1.patch.disable
  patch/u-boot/v2023.10/board_jethubj80/0006-HACK-force-disable-efi-options-for-JetHub-D1-H1.patch.disable
  patch/u-boot/v2024.01/board_jethubj200/0003-fix-j200.patch
  patch/u-boot/v2024.01/board_jethubj200/0004-HACK-mmc-meson-gx-limit-to-24MHz.patch.diff
  patch/u-boot/v2024.07/board_jethubj200/0001-Add-JetHub-D2.patch
  patch/u-boot/v2024.07/board_jethubj200/0002-Add-some-amlogic-sm-functions.patch
  patch/u-boot/v2024.07/board_jethubj200/enable-DT-overlays-support.patch
Labels: Ready to merge, Bugfix, 08, size/large, Hardware, Framework, Patches, BSP

#6878 fix uboot compilation issues on Orange Pi 5/5 Plus
  patch/u-boot/legacy/u-boot-orangepi5-rk3588/fix-build-errors.patch
  patch/u-boot/legacy/u-boot-orangepi5-rk3588/set-fixed-mac.patch
Labels: Ready to merge, 08, size/medium, Hardware, Patches

#6883 Test automation - optimise testing on targets
  config/boards/bananapif3.wip
  config/boards/cubietruck.csc
  config/boards/lime-a64.csc
  config/boards/nanopi-r4s.conf
  config/boards/nanopim4.csc
  config/boards/orangepilite2.csc
  config/boards/orangepioneplus.csc
  config/boards/orangepizero2.wip
  config/boards/pineh64.csc
  config/boards/rockpi-4b.csc
  config/boards/tinkerboard-2.csc
Labels: size/small, Hardware

#6881 rk35xx: Remove `legacy` kernel target from board configs
  config/boards/armsom-sige7.csc
  config/boards/armsom-w3.csc
  config/boards/bananapim7.conf
  config/boards/hinlink-h28k.csc
  config/boards/hinlink-h66k.csc
  config/boards/hinlink-h68k.csc
  config/boards/hinlink-h88k.csc
  config/boards/hinlink-hnas.csc
  config/boards/hinlink-ht2.csc
  config/boards/indiedroid-nova.csc
  config/boards/khadas-edge2.conf
  config/boards/lckfb-taishanpi.csc
  config/boards/mangopi-m28k.csc
  config/boards/nanopc-cm3588-nas.csc
  config/boards/nanopct6.csc
  config/boards/nanopi-r6s.csc
  config/boards/orangepi3b.csc
  config/boards/orangepi5-plus.conf
  config/boards/orangepi5.conf
  config/boards/orangepi5pro.wip
  config/boards/radxa-e25.csc
  config/boards/radxa-zero3.conf
  config/boards/rock-3a.csc
  config/boards/rock-5-cmio.csc
  config/boards/rock-5-itx.conf
  config/boards/rock-5a.conf
  config/boards/rock-5b.conf
  config/boards/station-m2.csc
  config/boards/station-m3.csc
  config/sources/families/rk35xx.conf
  config/sources/families/rockchip-rk3588.conf
Labels: Ready to merge, 08, size/medium, Hardware

#6879 rockpi-s: Remove `legacy` kernel 4.4 support
  config/kernel/linux-rockpis-legacy.config
  config/sources/families/rockpis.conf
Labels: Ready to merge, 08, size/large, Hardware

#6828 Armbian-install: add option to wipe target destination
  packages/bsp/common/usr/sbin/armbian-install
Labels: Ready to merge, Bugfix, 08, size/small, BSP

#6886 Adjust Rockpi S patch to align with upstream changes
  patch/kernel/archive/rockchip64-6.6/board-rockpis-0001-arm64-dts.patch
  patch/kernel/archive/rockchip64-6.9/board-rockpis-0001-arm64-dts.patch
Labels: Ready to merge, Bugfix, Build, 08, size/medium, Hardware, Patches

#6888 RTW88: 6.6: upstream wireless: `fixups`
  patch/misc/rtw88/6.6/001-drivers-net-wireless-realtek-rtw88-upstream-wireless.patch
Labels: Ready to merge, 08, size/large, Hardware, Patches

#6889 Allwinner: set legacy 6.1.y to last known build tag
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready to merge, 08, size/small

#6891 add new board radxa-e52c
  config/boards/radxa-e52c.conf
  patch/u-boot/legacy/u-boot-radxa-rk35xx/board_radxa-e52c
Labels: size/small, Hardware, Patches

#6900 Bananapi M5: Bump u-boot to v2024.07 final
  config/boards/bananapim5.conf
Labels: Ready to merge, Bugfix, 08, Hardware

#6898 u-boot: embed armbian artifact version in CONFIG_LOCALVERSION
  lib/functions/compilation/uboot.sh
Labels: size/small, Framework

#6910 Beautify `shellfmt` and add board configs to formatting list
  config/boards/avaota-a1.conf
  config/boards/ayn-odin2.conf
  config/boards/bananapim2pro.conf
  config/boards/beaglev.csc
  config/boards/clockworkpi-a06.csc
  config/boards/coolpi-cm5.csc
  config/boards/firefly-itx-3588j.csc
  config/boards/fxblox-rk1.csc
  config/boards/indiedroid-nova.csc
  config/boards/khadas-vim1s.conf
  config/boards/lepotato.conf
  config/boards/licheepi-4a.csc
  config/boards/lime-a33.csc
  config/boards/longanpi-4b.csc
  config/boards/nanopi-r2c.csc
  config/boards/nanopi-r2s.csc
  config/boards/nanopineo4.csc
  config/boards/odroidc1.csc
  config/boards/onecloud.conf
  config/boards/orangepi-r1plus-lts.csc
  config/boards/orangepi-r1plus.csc
  config/boards/orangepi5-plus.conf
  config/boards/orangepi5.conf
  config/boards/phytiumpi.conf
  config/boards/pinebook-pro.conf
  config/boards/rk3318-box.tvb
  config/boards/rock-5c.conf
  config/boards/rockpi-4b.csc
  config/boards/rockpi-4c.csc
  config/boards/rockpi-s.conf
  config/boards/station-m1.csc
  config/boards/station-m2.csc
  config/boards/station-m3.csc
  config/boards/station-p1.csc
  config/boards/station-p2.csc
  config/boards/sweet-potato.conf
  config/boards/tinkerboard.conf
  config/boards/wdk2023.csc
  config/boards/xiaomi-elish.conf
  config/boards/z28pro.tvb
  config/sources/families/spacemit.conf
  config/sources/families/sun50iw9.conf
  config/sources/mainline-kernel.conf.sh
  config/sources/vendors/mekotronics/mekotronics-rk3588.conf.sh
  config/sources/vendors/microsoft/wsl2.hooks.sh
  lib/functions/logging/trap-logging.sh
  lib/tools/shellfmt.sh
Labels: Ready to merge, 08, size/large, Hardware, Framework

#6913 thinkpad-x13s: bump to jhovold's `wip/sc8280xp-6.10-rc6`; add fprintd back to Trixie; fixes
  config/boards/thinkpad-x13s.wip
Labels: Ready to merge, 08, size/small, Hardware

#6915 mixtile-blade3: u-boot: join rockchip-rk3588's default `u-boot-radxa-rk35xx` scheme
  config/boards/mixtile-blade3.csc
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0001-Add-Blade-3-defines.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0005-add-device-tree-with-sata-support.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0006-disable-optee-in-defconfig.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0007-mixtile-blade3-enable-OTP-in-defconfig.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0008-enable-nvme-pci-and-scsi-in-the-defconfig.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0010-blade3-enable-pcie3x4.patch
  patch/u-boot/legacy/u-boot-mixtile-rk3588/0011-arch-arm-mach-rockchip-fix-srctree-path.patch
  patch/u-boot/legacy/u-boot-radxa-rk35xx/board_mixtile-blade3/5000-Fixed-restart-issues-with-pd-adapter.patch
  patch/u-boot/legacy/u-boot-radxa-rk35xx/board_mixtile-blade3/5001-fix-power_delivery-driver-affects-adb-to-enter-loader-mode.patch
  patch/u-boot/legacy/u-boot-radxa-rk35xx/board_mixtile-blade3/5002-use-serial-as-base-for-MAC-address-find-serial-first-then-ethaddr-add-a-lot-of-debugging-adapted-for-Mixtile.patch
  patch/u-boot/legacy/u-boot-radxa-rk35xx/defconfig/blade3_defconfig
  patch/u-boot/legacy/u-boot-radxa-rk35xx/defconfig/blade3_sata_defconfig
  patch/u-boot/legacy/u-boot-radxa-rk35xx/dt/rk3588-blade3-sata.dts
  patch/u-boot/legacy/u-boot-radxa-rk35xx/dt/rk3588-blade3.dts
Labels: Ready to merge, 08, size/large, Hardware, Patches

#6908 nanopi-r6s: Use mainline U-Boot
  config/boards/nanopi-r6s.csc
Labels: Ready to merge, 08, size/small, Hardware

#6916 mekotronics: u-boot: join rockchip-rk3588's default `u-boot-radxa-rk35xx` scheme
  config/boards/mekotronics-r58-minipc.csc
  config/boards/mekotronics-r58x-4g.csc
  config/boards/mekotronics-r58x-pro.csc
  config/boards/mekotronics-r58x.csc
  config/sources/vendors/mekotronics/mekotronics-rk3588.conf.sh
  config/sources/vendors/mekotronics/mekotronics-rk3588.hooks.sh
  patch/u-boot/legacy/u-boot-meko-rk3588/0002-cmd-source-fix-the-error-that-the-command-source-failed-to-execute.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/0003-rk3588_meko_defconfig-evb-sans-optee-original-ish-by-Meko-from-EVB.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/0004-rk3588_meko_r58x_defconfig-and-dts-with-pci3x4-nvme-boot-and-working-RECOVERY-button.patch
  patch/u-boot/legacy/u-boot-meko-rk3588/1000-Fix-build-errors.patch
  patch/u-boot/legacy/u-boot-radxa-rk35xx/board_mekotronics-r58-minipc
  patch/u-boot/legacy/u-boot-radxa-rk35xx/board_mekotronics-r58x
  patch/u-boot/legacy/u-boot-radxa-rk35xx/board_mekotronics-r58x-4g
  patch/u-boot/legacy/u-boot-radxa-rk35xx/board_mekotronics-r58x-pro/5000-use-serial-as-base-for-MAC-address-find-serial-first-then-ethaddr-add-a-lot-of-debugging.patch
  patch/u-boot/legacy/u-boot-radxa-rk35xx/board_mekotronics-r58x-pro/5001-boot_rkimg-don-t-try-rockchip_u2phy_vbus_detect-when-RECOVERY-button-pressed.patch
  patch/u-boot/legacy/u-boot-radxa-rk35xx/defconfig/mekotronics_r58-rk3588_defconfig
  patch/u-boot/legacy/u-boot-radxa-rk35xx/defconfig/mekotronics_r58x-rk3588_defconfig
  patch/u-boot/legacy/u-boot-radxa-rk35xx/dt/rk3588-blueberry-edge-v12.dts
  patch/u-boot/legacy/u-boot-radxa-rk35xx/rk3566-Add-rk3566-to-soc-name.patch
Labels: Ready to merge, 08, size/large, Hardware, Patches

#6917 Trixie: remove / replace missing packages
  config/desktop/bookworm/environments/cinnamon/config_base/packages
  config/desktop/bookworm/environments/i3-wm/config_base/packages
  config/desktop/bookworm/environments/xfce/config_base/packages
Labels: Desktop, 08, Needs review, size/small

#6919 partitioning: Reduce `commit` mount option for btrfs and ext4 to 120
  config/boards/recore.csc
  lib/functions/image/partitioning.sh
  packages/bsp/common/usr/sbin/armbian-install
Labels: Ready to merge, 08, size/small, Hardware, Framework, BSP

#6896 nanopi-r5s: u-boot: pci enum in preboot; disable armbian-led-state
  config/boards/nanopi-r5s.csc
Labels: Ready to merge, 08, size/small, Hardware

#6926 wifi: rtl8852bs: fix build for rockchip
  lib/functions/compilation/patch/drivers_network.sh
Labels: Ready to merge, 08, size/small, Framework

#6930 Fix armbian-firstrun service not disabled on start.
  packages/bsp/common/usr/lib/armbian/armbian-common
Labels: Ready to merge, Bugfix, 08, size/small, BSP

#6927 Add MKNOD capability to docker container
  lib/functions/cli/cli-docker.sh
Labels: Ready to merge, 08, size/small, Framework

#6892 Inovato Quadra: enable correct PIN to get wifi working
  patch/u-boot/u-boot-sunxi/board_inovato-quadra/allwinner-pwrled-config-option.patch
  patch/u-boot/u-boot-sunxi/board_orangepizero/allwinner-pwrled-config-option.patch
Labels: Ready to merge, 08, size/medium, Hardware, Patches

#6931 Spacemit-k1 / Banananpi F3: adjust u-boot patch
  patch/u-boot/legacy/u-boot-spacemit-k1/100-Add-overlay-support.patch
Labels: Ready to merge, Bugfix, 08, size/small

#6934 thinkpad-x13s: bump to jhovold's `wip/sc8280xp-6.10-rc7`
  config/boards/thinkpad-x13s.wip
Labels: Ready to merge, 08, size/small, Hardware

#6932 wifi: rtl8852bs: add driver for family instead of board
  lib/functions/compilation/patch/drivers_network.sh
Labels: Ready to merge, Bugfix, 08, size/small, Framework

#6939 Desktops: replace missing packages with correct ones
  config/desktop/bookworm/environments/budgie/config_base/packages
  config/desktop/bookworm/environments/kde-plasma/config_base/packages
  config/desktop/bookworm/environments/mate/config_base/packages
  config/desktop/bookworm/environments/xmonad/config_base/packages
Labels: Desktop, Ready to merge, Bugfix, 08, size/small

#6942 firstlogin: quote values if space is legal
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready to merge, 08, size/small, BSP

#6947 rockchip-rk35xx-vendor enable rtw89_8852be as module
  config/kernel/linux-rk35xx-vendor.config
Labels: Ready to merge, 08, size/small, Hardware

#6945 sunxi-6.1: Reverse commit 75317a0, fix real reason inability to load kernel
  patch/kernel/archive/sunxi-6.1/arm-patch-call-patch_unmap-after-flushing-dcache-and-icache.patch
  patch/kernel/archive/sunxi-6.1/patches.armbian/random-Revert-handle-entropy-from-atomic-process-con.patch
  patch/kernel/archive/sunxi-6.1/series.armbian
  patch/kernel/archive/sunxi-6.1/series.conf
Labels: Ready to merge, Bugfix, 08, size/medium, Hardware, Patches

#6943 BananaPi CM4/M2S: `Bump u-boot to v2024.07`
  config/boards/bananapicm4io.conf
  config/boards/bananapim2s.conf
  patch/u-boot/v2024.07/board_bananapicm4io/001-configs-bananapi-cm4-cm4io_defconfig-nvme-support.patch
  patch/u-boot/v2024.07/board_bananapicm4io/002-configs-bananapi-cm4-cm4io_defconfig-sata-support.patch
  patch/u-boot/v2024.07/board_bananapicm4io/003-HACK-meson64-boot-target-nvme.patch
  patch/u-boot/v2024.07/board_bananapim2s/0001-bananapi-m2s-fixup.patch
Labels: Ready to merge, 08, size/medium, Hardware, Patches

#6946 u-boot: 2024.07: fix boot from btrfs
  patch/u-boot/v2024.07/general-btrfs-fix-out-of-bounds-write.patch
Labels: Ready to merge, 08, size/small, Hardware, Patches

#6948 Move teres-i in supported
  config/boards/olimex-teres-a64.conf
Labels: Ready to merge, 08, size/small, Hardware

#6952 Add Libre Computer Alta and Solitude
  config/boards/aml-a311d-cc.conf
  config/boards/aml-s905d3-cc.wip
Labels: Ready to merge, 08, size/small, Hardware

#6954 SpacemiT: BananaPi F3: `update to BL v1.0.8`
  config/boards/bananapif3.wip
  config/sources/families/spacemit.conf
  patch/kernel/archive/spacemit-6.1/054-board-bpif3-Add-Bluetooth-btrtl-support-to-RTL8852BS.patch
  patch/kernel/archive/spacemit-6.1/055-add-minimal-hwmon-support.patch
  patch/kernel/archive/spacemit-6.1/057-update-to-v1.0.3.patch
  patch/kernel/archive/spacemit-6.1/058-update-to-v1.0.5.patch
  patch/kernel/archive/spacemit-6.1/059-update-to-v1.0.7.patch
  patch/kernel/archive/spacemit-6.1/060-update-to-v1.0.8.patch
  patch/kernel/archive/spacemit-6.1/061-REVERT-fixes-for-dtb-mapping.patch
  patch/kernel/archive/spacemit-6.1/dt/k1-bananapi-f3.dts
  patch/kernel/archive/spacemit-6.1/dt/k1-x-camera-reserved-mm.dtsi
  patch/kernel/archive/spacemit-6.1/dt/k1-x-camera-sdk.dtsi
  patch/kernel/archive/spacemit-6.1/dt/k1-x-efuse.dtsi
  patch/kernel/archive/spacemit-6.1/dt/k1-x.dtsi
  patch/kernel/archive/spacemit-6.1/dt/k1-x_deb1.dts
  patch/kernel/archive/spacemit-6.1/dt/k1-x_opp_table.dtsi
  patch/kernel/archive/spacemit-6.1/dt/m1-x_opp_table.dtsi
  patch/kernel/archive/spacemit-6.1/dt/spacemit-scmi.dtsi
  patch/kernel/spacemit-legacy-6.1/dt/k1-bananapi-f3.dts
Labels: Ready to merge, 08, size/large, Hardware, Patches

#6960 cli: uboot: Move `uboot_cflags` variable to before its first use
  lib/functions/compilation/uboot.sh
Labels: Ready to merge, Bugfix, 08, size/small, Framework

#6961 actions: forked-helper: Don't escape multiline strings
  .github/workflows/forked-helper.yml
Labels: Ready to merge, Bugfix, 08, size/small, GitHub Actions

#6959 Trixie: remove non-existing packages from Budgie desktop
  config/desktop/bookworm/environments/budgie/config_base/packages
Labels: Desktop, Ready to merge, Bugfix, 08

#6951 add customized GHCR_MIRROR_ADDRESS support
  lib/functions/configuration/main-config.sh
Labels: Ready to merge, 08, size/small, Framework

#6922 actions: Create workflow to update shell tools via auto-PR
  .github/workflows/update-tools.yml
Labels: Ready to merge, 08, size/medium, GitHub Actions

#6920 extensions: Establish some consistency with extension logging
  extensions/armbian-live-patch.sh
  extensions/bluetooth-hciattach.sh
  extensions/c-plus-plus-compiler.sh
  extensions/cleanup-space-final-image.sh
  extensions/cloud-init/cloud-init.sh
  extensions/fake-vcgencmd.sh
  extensions/fs-btrfs-support.sh
  extensions/fs-cryptroot-support.sh
  extensions/fs-f2fs-support.sh
  extensions/fs-nilfs2-support.sh
  extensions/fs-xfs-support.sh
  extensions/gen-sample-extension-docs.sh
  extensions/grub-riscv64.sh
  extensions/grub-with-dtb.sh
  extensions/grub.sh
  extensions/network/net-chrony.sh
  extensions/network/net-network-manager.sh
  extensions/network/net-systemd-networkd.sh
  extensions/network/net-systemd-timesyncd.sh
Labels: Ready to merge, 08, size/medium, Framework

#6853 rk35xx-vendor: bump to latest sdk release rkr3
  config/sources/families/rk35xx.conf
  config/sources/families/rockchip-rk3588.conf
  patch/kernel/rk35xx-vendor-6.1/0000.patching_config.yaml
Labels: size/small, Hardware, Patches

#6970 JetHome: Update bsp: fix jethub-init to support /etc/defaults
  packages/bsp/jethub/jethub-init
Labels: Ready to merge, 08, size/small, BSP

#6971 Enable sound and battery for Retro Lite CM5
  config/kernel/linux-rk35xx-vendor.config
Labels: size/small, Hardware

#6972 Add board config for Retro Lite CM5
  config/boards/retro-lite-cm5.csc
Labels: Ready to merge, 08, size/small, Hardware

#6976 oci-oras: fix for ORAS > 1.x, as it now requires `HOME` to be set (fixes `download-artifact`)
  lib/functions/general/oci-oras.sh
Labels: Ready to merge, Bugfix, 08, size/small, Framework

#6979 mesa-vpu: use kisak mesa ppa instead of oibaf
  extensions/mesa-vpu.sh
Labels: Ready to merge, 08, size/small, Framework

#6977 utils-dpkgdeb: force rebuild of all artifacts, due to https://github.com/armbian/build/pull/6964 (ORAS change)
  lib/functions/compilation/packages/utils-dpkgdeb.sh
Labels: Ready to merge, 08, size/small, Framework

#6981 Temporally move TI build targets to EOS as Git is out of reach
  config/boards/sk-am62b.eos
  config/boards/sk-am64b.eos
  config/boards/sk-am68.eos
  config/boards/sk-tda4vm.eos
Labels: Ready to merge, Bugfix, 08, Hardware

#6982 [urgent] Hotfix for rk3399 boot
  config/sources/families/include/rockchip64_common.inc
Labels: Ready to merge, Bugfix, size/small, Hardware

#6984 Fix rtl8189fs WiFi driver
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi64-current.config
  lib/functions/compilation/patch/drivers_network.sh
Labels: size/small, Hardware, Framework

#6985 Update odroidxu4-current to 6.6.41
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.40-41.patch
Labels: Ready to merge, 08, size/large, Hardware, Patches

#6992 fix rk3568-roc-pc
  config/boards/station-p2.csc
  patch/kernel/archive/rockchip64-6.10/board-station-p2.patch
  patch/kernel/archive/rockchip64-6.6/board-station-p2.patch
Labels: Ready to merge, 08, size/large, Hardware, Patches

#6991 Fixed Tinker-edge-r HDMI 4K bug
  patch/kernel/archive/rockchip64-6.6/dt/rk3399pro-tinker-edge-r.dts
  patch/kernel/archive/rockchip64-6.9/dt/rk3399pro-tinker-edge-r.dts
Labels: Ready to merge, 08, size/medium, Hardware, Patches

#6990 Fix for no network inside Docker container
  extensions/network/config-networkd/netplan/10-dhcp-all-interfaces.yaml
Labels: Ready to merge, Bugfix, 08, size/small, Framework

#6987 add new board armsom-aim7-io
  config/boards/armsom-aim7-io.csc
  patch/u-boot/legacy/u-boot-radxa-rk35xx/defconfig/armsom-aim7-io-rk3588_defconfig
  patch/u-boot/legacy/u-boot-radxa-rk35xx/dt/rk3588-armsom-aim7-io.dts
Labels: Ready to merge, 08, size/large, Hardware, Patches

#6924 Repo management: rework to increase reliability and speed
  tools/repository/aptly.conf
  tools/repository/repo
Labels: Ready to merge, 08, size/medium, Framework

#6994 mesa-vpu: install backported mesa from obs for bookworm panthor driver
  extensions/mesa-vpu.sh
Labels: Ready to merge, 08, size/small, Framework

#6997 Awarding regular contributors - adding a special PR tag
  .github/labels.yml
Labels: Ready to merge, 08, size/small, GitHub

#6996 UEFI x86 and arm64: Bump EDGE kernels to 6.10.y
  config/kernel/linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-riscv64-edge.config
  config/kernel/linux-uefi-x86-edge.config
  config/sources/families/include/uefi_common.inc
Labels: Ready to merge, Build, 08, size/large, Hardware

#7001 Debian: drop support for Budgie on Trixe / Bookworm.
  config/desktop/bookworm/environments/budgie/support
Labels: Desktop, Ready to merge, Bugfix, size/small

#7004 Switch Retro Lite CM5 back to legacy U-Boot
  config/boards/retro-lite-cm5.csc
  patch/u-boot/legacy/u-boot-radxa-rk35xx/defconfig/retro-lite-cm5-rk3588s_defconfig
  patch/u-boot/legacy/u-boot-radxa-rk35xx/dt/rk3588s-retro-lite-cm5.dts
Labels: size/large, Hardware, Patches

#7005 mesa-vpu: install chromium package instead of chromium-browser
  extensions/mesa-vpu.sh
Labels: Ready to merge, 08, size/small, Framework

#6657 Extend mesa-vpu extension to load unpatched Chromium by default
  extensions/mesa-vpu.sh
Labels: Ready to merge, 08, size/small, Framework

#7003 sun55iw3-syterkit: update kernel config
  config/kernel/linux-sun55iw3-syterkit-legacy.config
Labels: Ready to merge, 08, size/small, Hardware
