Repository armbian/build, pull requests merged in 2024-11, with the labels that each got.

#7421 Change pull request trigger in order to get permissions back in order
  .github/workflows/pr-auto-labeler.yml
  .github/workflows/pr-build-artifacts.yml
  .github/workflows/pr-label-on-approved.yml
Labels: Ready to merge, 11

#7420 main-config: update China mirror address
  lib/functions/configuration/main-config.sh
Labels: Ready to merge, 11

#7424 sm8250: disable broken patch due upstream changes
  patch/kernel/archive/sm8250-6.11/0012-drm-msm-dpu1-use-one-active-CTL-if-it-is-available.patch.disabled
Labels: 11, Build, Needs review, size/small, Hardware, Patches

#7425 Remove deprecated patch
  patch/kernel/archive/sm8250-6.11/0013-drm-msm-dpu-populate-has_active_ctls-in-the-catalog.patch.disabled
Labels: 11, Needs review, size/small, Hardware, Patches

#7427 oneplus-kebab: disable edge build
  config/boards/oneplus-kebab.conf
Labels: Needs review, size/small, Hardware

#7431 UX bugfix: on first run we display some warnings if userspace is unsupported
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Bugfix, 11, Needs review, size/small, BSP

#7419 Update linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-x86-edge.config
Labels: Ready to merge, 11, Needs review, size/large, Hardware

#7411 Radxa Zero 3W/E - edge - switch to mainline uboot 2024.10
  config/boards/radxa-zero3.csc
Labels: Ready to merge, 11

#7434 GitHub Actions: add log cleaner, adjust names, fix labelling on approve
  .github/workflows/build-train.yml
  .github/workflows/clean-workflow-logs.yml
  .github/workflows/issue-welcome-first-time.yml
  .github/workflows/merge-announce.yml
  .github/workflows/pr-label-on-approved.yml
  .github/workflows/pr-welcome-first-time.yml
  .github/workflows/update-board-list.yml
Labels: Ready to merge, size/medium, GitHub Actions

#7435 Update odroidxu4-current to 6.6.59
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.54-55.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.55-56.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.56-57.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.57-58.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.58-59.patch
Labels: Ready to merge, 11, Build, Needs review, size/large, Hardware, Patches

#7438 Revert "Update odroidxu4-current to 6.6.59"
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.54-55.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.55-56.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.56-57.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.57-58.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.58-59.patch
Labels: Ready to merge, 11, size/large, Hardware, Patches

#7445 Add community support for Rock5B+
  config/boards/rock-5b-plus.csc
Labels: Ready to merge, 11, Needs review, size/small, Hardware

#7444 Cosmetic bugfix - we need to limit grep to match first character only
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready to merge, 11, size/small, BSP

#7443 Fix partitioning root UUID bug in /etc/crypttab. New option: CRYPTROOT_MAPPER.
  extensions/fs-cryptroot-support.sh
  lib/functions/configuration/main-config.sh
  lib/functions/image/partitioning.sh
  lib/functions/image/rootfs-to-image.sh
  lib/functions/rootfs/trap-rootfs.sh
Labels: Ready to merge, Bugfix, 11, Needs review, size/small, Framework

#7436 add new board armsom-cm5-rpi-cm4-io
  config/boards/armsom-cm5-rpi-cm4-io.csc
  patch/u-boot/legacy/u-boot-armsom-rk3576/defconfig/armsom-cm5-rpi-cm4-io-rk3576_defconfig
Labels: Ready to merge, 11, Needs review, size/large, Hardware, Patches

#7189 `Userspace` Switching armbian-config to new generation.
  lib/functions/artifacts/artifact-armbian-config.sh
  lib/functions/compilation/packages/armbian-config-deb.sh
  lib/functions/main/build-packages.sh
  lib/functions/rootfs/distro-agnostic.sh
Labels: Ready to merge, 11, size/medium, Framework

#7446 cyber-aib-rk3588: add edge kernel support
  config/boards/cyber-aib-rk3588.csc
  patch/kernel/archive/rockchip-rk3588-6.11/dt/rk3588-cyber-aib.dts
Labels: Ready to merge, 11, size/large, Hardware, Patches

#7449 MOTD: declutter list of commands in motd. Everything starts with armbian-config
  packages/bsp/common/etc/update-motd.d/41-commands
Labels: Ready to merge, 11, size/small

#7452 Deprecated `WIREGUARD` once and for all
  config/boards/armsom-sige1.csc
  config/boards/hinlink-h28k.csc
  config/boards/hinlink-h66k.csc
  config/boards/hinlink-h68k.csc
  config/boards/hinlink-hnas.csc
  config/boards/hinlink-ht2.csc
  config/boards/mangopi-m28k.csc
  lib/functions/configuration/main-config.sh
  lib/functions/rootfs/distro-agnostic.sh
Labels: Ready to merge, 11, size/small, Hardware, Framework

#7454 fix `iostat` error on `MINIMAL`
  packages/bsp/common/usr/bin/armbianmonitor
Labels: Ready to merge, size/small, BSP

#7018 Added support of core3566
  config/boards/core3566.csc
  config/kernel/linux-rk35xx-vendor.config
  patch/kernel/archive/rockchip64-6.10/dt/rk3566-core3566.dts
  patch/kernel/archive/rockchip64-6.6/dt/rk3566-core3566.dts
Labels: Work in progress, 08, Needs review, size/large, Hardware, Patches, GitHub

#7466 kernel: mainline: Bump v6.12-rc4 to v6.12-rc7
  config/sources/mainline-kernel.conf.sh
Labels: Ready to merge, 11, size/small, Hardware

#7467 Readme: fix broken links to documentation due to structural changes
  README.md
Labels: Ready to merge, Bugfix, 11, size/small, Documentation, Documentation finished

#7464 hack: trixie has lost its software-properties-common package so get rid of it for all Debian releases
  lib/functions/configuration/main-config.sh
  lib/functions/main/config-prepare.sh
Labels: Ready to merge, 11, Needs review, size/small, Framework

#7465 thinkpad-x13s: bump to jhovold's wip/sc8280xp-6.12-rc4
  config/boards/thinkpad-x13s.wip
Labels: Ready to merge, 11, Needs review, size/small, Hardware

#7462 rockchip64: fix crash dump on eager led setting with tm16xx led driver
  patch/kernel/archive/rockchip64-6.12/general-driver-tm16xx-led-driver.patch
  patch/kernel/archive/rockchip64-6.6/general-driver-tm16xx-led-driver.patch
Labels: Ready to merge, 11, Needs review, size/small, Hardware, Patches

#7469 Add TV Box Magicsee C400 Plus Linux support
  patch/kernel/archive/meson64-6.11/dt/meson-gxm-c400-plus.dts
  patch/kernel/archive/meson64-6.6/dt/meson-gxm-c400-plus.dts
Labels: Ready to merge, 11, Needs review, size/medium, Hardware, Patches

#7470 Add support for Radxa CM5 on RPi CM4 IO
  config/boards/rock-5-cm-rpi-cm4-io.csc
Labels: Ready to merge, 11, Needs review, size/small, Hardware

#7472 Add missing node for youyeetoo r1 on current kernel
  patch/kernel/archive/rockchip-rk3588-6.12/dt/rk3588s-youyeetoo-r1.dts
Labels: Needs review, size/small, Hardware, Patches

#7476 Move support of nanopc t6 & lts from edge to current
  config/boards/nanopct6-lts.conf
  config/boards/nanopct6.conf
Labels: Needs review, size/small, Hardware

#7475 Remove edge kernel on youyeetoo r1
  config/boards/youyeetoo-r1-v3.csc
Labels: Ready to merge, 11, Needs review, size/small, Hardware

#7477 Change development repository domain name to github.armbian.com
  lib/functions/compilation/packages/armbian-config-deb.sh
Labels: Ready to merge, 11, size/small, Framework

#7478 Rockchip armhf: remove parts of code from the patch which has been upstreamed
  patch/kernel/archive/rockchip-6.11/patches.armbian/general-rockchip-various-fixes.patch
  patch/kernel/archive/rockchip-6.6/patches.armbian/general-rockchip-various-fixes.patch
Labels: Bugfix, 02, Needs review, size/medium, Hardware, Patches

#7479 rockchip: remove patch breaking HDMI 7" displays on Tinkerboard
  patch/kernel/archive/rockchip-6.11/series.conf
  patch/kernel/archive/rockchip-6.6/series.conf
Labels: Ready to merge, 02, size/small, Hardware, Patches

#7480 fxblox-rk1: update vendor version
  config/boards/fxblox-rk1.csc
Labels: Ready to merge, size/small, Hardware

#7487 armbianmonitor: call `curl` with `--fail` flag so server 400/500 errors actually trigger a retry
  packages/bsp/common/usr/bin/armbianmonitor
Labels: Needs review, size/small, BSP

#7481 Revert "Move support of nanopc t6 & lts from edge to current"
  config/boards/nanopct6-lts.conf
  config/boards/nanopct6.conf
Labels: Ready to merge, size/small, Hardware

#7483 enable pd negotiation support for bananapim7
  patch/u-boot/legacy/u-boot-radxa-rk35xx/board_bananapim7
Labels: Ready to merge, 11, size/small, Hardware, Patches

#7499 Adjusting aml-s9xx as armbian-install was moved to another location
  config/boards/aml-s9xx-box.tvb
Labels: Ready to merge, Bugfix, 11, Needs review, size/small, Hardware

#7498 thinkpad-x13s: bump to jhovold's wip/sc8280xp-6.12 final
  config/boards/thinkpad-x13s.wip
Labels: 02, Needs review, size/small, Hardware

#7473 apt-utils.sh: get base-files package version from GHA
  lib/functions/general/apt-utils.sh
Labels: Ready to merge, 02, size/small, Framework

#7500 rk3576: use boot_merger to generate idbloader.img
  config/sources/families/include/rockchip64_common.inc
Labels: Ready to merge, 11, Needs review, size/small, Hardware

#7505 Add Rockchip u-boot "binman" BOOT_SCENARIO
  config/boards/rock-s0.conf
  config/boards/rockpi-s.conf
  config/sources/families/include/rockchip64_common.inc
  packages/blobs/rockchip/rk3308_idbloader_ddr589MHz_uart0_m0_v2.06.136sd.bin
  packages/blobs/rockchip/rk3308_loader_ddr589MHz_uart0_m0_v2.06.136sd.bin
  patch/u-boot/v2024.10/board_rock-s0/1120-mmcBootOnRockS0v1-1.patch
Labels: size/large, Hardware, Patches, BSP

#7512 Enable CONFIG_VHOST_VSOCK on rockchip64
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
Labels: Ready to merge, 02, Needs review, size/small, Hardware

#7511 rockchip64-edge: enable rtw89 driver
  config/kernel/linux-rockchip64-edge.config
Labels: Ready to merge, 02, Needs review, size/medium, Hardware

#7506 Retro* CM5: Enable display and touchscreen
  config/kernel/linux-rk35xx-vendor.config
Labels: Ready to merge, 02, size/small, Hardware

#7493 Add another paste server
  packages/bsp/common/usr/bin/armbianmonitor
Labels: Ready to merge, 02, Needs review, size/small, BSP

#7522 Reduce the size of the Rock S0 CMA to match Rock PI-S + include fixMACaddress script
  config/boards/rock-s0.conf
  packages/bsp/rockpis/etc/udev/rules.d/05-fixMACaddress.rules
Labels: Ready to merge, 02, Needs review, size/small, Hardware, BSP

#7528 nanopi-r6s: fix mmc0/mmc1 ordering
  patch/u-boot/v2024.10/board_nanopi-r6s/0001-adjust-wrong-mmc0-mmc1-ordering.patch
Labels: Bugfix, 11, Needs review, size/small, Hardware, Patches
