Repository armbian/build, pull requests merged in 2024-10, with the labels that each got.

#7316 Adjust patches due to kernel bump
  patch/kernel/archive/meson64-6.6/drv-spi-spidev-remove-warnings.patch
  patch/kernel/archive/rockchip64-6.11/dt/rk3328-heltec.dts
  patch/kernel/archive/rockchip64-6.11/dt/rk3328-orangepi-r1-plus-lts.dts
  patch/kernel/archive/rockchip64-6.11/dt/rk3399-fine3399.dts
  patch/kernel/archive/rockchip64-6.11/dt/rk3399-rock-pi-4c.dts
  patch/kernel/archive/rockchip64-6.11/dt/rk3399pro-tinker-edge-r.dts
  patch/kernel/archive/rockchip64-6.11/dt/rk3566-radxa-zero-3e.dts
  patch/kernel/archive/rockchip64-6.11/dt/rk3566-radxa-zero-3w.dts
  patch/kernel/archive/rockchip64-6.11/dt/rk3566-rock-3c.dts
  patch/kernel/archive/rockchip64-6.11/dt/rk3568-odroid-m1.dts
  patch/kernel/archive/rockchip64-6.6/drv-spi-spidev-remove-warnings.patch
  patch/kernel/archive/rockchip64-6.6/dt/rk3328-orangepi-r1-plus-lts.dts
  patch/kernel/archive/rockchip64-6.6/dt/rk3399-rock-pi-4c.dts
  patch/kernel/archive/rockchip64-6.6/dt/rk3568-odroid-m1.dts
Labels: Ready to merge, 11, Build, size/large, Hardware, Patches

#7323 Adding missing udev audio rules for NanoPC T6 & LTS
  config/boards/nanopct6.conf
Labels: Ready to merge, 11, size/small, Hardware

#7321 armbian-bsp-cli-deb: fix shellcheck breakage; fixes #7303
  lib/functions/bsp/armbian-bsp-cli-deb.sh
Labels: Ready to merge, 11, size/small, Framework

#7320 rockchip-rk3588 / vendor: add CONFIG_RC_CORE and all IR remote modules
  config/kernel/linux-rk35xx-vendor.config
Labels: Ready to merge, 11, size/medium, Hardware

#7318 mesa-vpu: support CLI builds as well as desktop
  extensions/mesa-vpu.sh
Labels: Ready to merge, 11, size/medium, Framework

#7331 mesa-vpu: don't install mesa-vpu on minimal images
  extensions/mesa-vpu.sh
Labels: Ready to merge, 11, size/small, Framework

#7330 Orange Pi 3B: Vendor: Enable audio via headphone jack
  config/boards/orangepi3b.csc
  packages/bsp/common/usr/lib/armbian/armbian-audio-config
Labels: Ready to merge, 11, size/small, Hardware, BSP

#7329 VIM1S: Use panfrost by default
  config/boards/khadas-vim1s.conf
  patch/kernel/archive/meson-s4t7-5.15/overlay/s4-s905y4-panfrost.dtbo
Labels: Ready to merge, 11, size/small, Hardware, Patches

#7324 MBa8MPxL: use nxp WLAN/BT firmware, cleanup board files, leave WIP
  config/boards/mba8mpxl-ras314.conf
  config/boards/mba8mpxl.conf
Labels: Ready to merge, 11, size/small, Hardware

#7334 rockchip64: enable i2c-gpio bitbang driver
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
Labels: Ready to merge, 11, size/small, Hardware

#7336 Add support for dln2 in orangepi zero and orangepi zero 3
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
Labels: Ready to merge, 11, size/small, Hardware

#7335 Kernel bump: adjust broken patches
  patch/kernel/archive/rockchip-6.11/patches.libreelec/linux-1000-drm-rockchip.patch
  patch/kernel/archive/rockchip-6.6/patches.libreelec/linux-1000-drm-rockchip.patch
  patch/kernel/archive/rockchip-rk3588-6.11/0130-phy-phy-rockchip-samsung-hdptx-Enable-runtime-PM.patch
Labels: Ready to merge, Bugfix, 11, size/medium, Hardware, Patches

#7315 Improvement: Update MOTD to include IPv6 local addresses
  packages/bsp/common/etc/update-motd.d/10-armbian-header
Labels: Ready to merge, 11, size/small, BSP

#7339 Mesa-vpu: we also need to have conditions in the install part
  extensions/mesa-vpu.sh
Labels: Ready to merge, Bugfix, 11, Framework

#7338 [rockchip64] add tm16xx led driver for display panels
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
  packages/bsp/rk3318/rk3318-config
  patch/kernel/archive/rockchip64-6.11/general-driver-tm16xx-led-driver.patch
  patch/kernel/archive/rockchip64-6.11/overlay/Makefile
  patch/kernel/archive/rockchip64-6.11/overlay/rockchip-rk3318-box-led-conf1.dtso
  patch/kernel/archive/rockchip64-6.11/overlay/rockchip-rk3318-box-led-conf2.dtso
  patch/kernel/archive/rockchip64-6.11/overlay/rockchip-rk3318-box-led-conf5.dtso
  patch/kernel/archive/rockchip64-6.6/general-driver-tm16xx-led-driver.patch
  patch/kernel/archive/rockchip64-6.6/overlay/Makefile
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3318-box-led-conf1.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3318-box-led-conf2.dts
  patch/kernel/archive/rockchip64-6.6/overlay/rockchip-rk3318-box-led-conf5.dts
Labels: Ready to merge, 11, size/large, Hardware, Patches, BSP

#7337 armbian-led-state: avoid binary parameters, other minor cleanups
  packages/bsp/common/lib/systemd/system/armbian-led-state.service
  packages/bsp/common/usr/lib/armbian/armbian-led-state-save.sh
Labels: Ready to merge, 11, size/small, BSP

#7340 Update odroidxu4-current to 6.6.54
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.51-52.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.52-53.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.53-54.patch
Labels: Ready to merge, 11, size/large, Hardware, Patches

#7229 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/mixtile-edge2.csc
  config/boards/nanopct6-lts.conf
  config/boards/rock-5c.conf
  config/boards/rockpi-e.conf
Labels: Needs review, size/small, Hardware, GitHub

#7341 Add support for NanoPi M6
  config/boards/nanopi-m6.wip
  patch/u-boot/legacy/u-boot-radxa-rk35xx/defconfig/nanopi-m6-rk3588s_defconfig
  patch/u-boot/legacy/u-boot-radxa-rk35xx/dt/rk3588s-nanopi-m6.dts
Labels: Ready to merge, 11, size/large, Hardware, Patches

#7348 Revert "Update odroidxu4-current to 6.6.54"
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.51-52.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.52-53.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.53-54.patch
Labels: Build, size/large, Hardware, Patches

#7349 Odroid XU4 kernel: remove deprecated patches
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.50-51.patch
Labels: Ready to merge, 11, size/large, Hardware, Patches

#7351 Overlay management: somewhere we had OVERLAY_DIR and somewhere OVERLAYDIR
  config/sources/families/include/meson64_common.inc
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  lib/functions/artifacts/artifact-armbian-bsp-cli.sh
  lib/functions/bsp/armbian-bsp-cli-deb.sh
Labels: Ready to merge, Bugfix, 11

#7353 MOTD: display hostapd parameters if AP is in operation
  packages/bsp/common/etc/update-motd.d/10-armbian-header
Labels: Ready to merge, 11, size/small, BSP

#7356 mesa-vpu: use mesa from debian bookworm-backports
  extensions/mesa-vpu.sh
Labels: Desktop, Ready to merge, 11, size/small, Framework

#7354 Support for Luckfox Core3566
  config/boards/luckfox-core3566.csc
  patch/u-boot/u-boot-luckfox/add-core3566.patch
Labels: Ready to merge, 11, size/large, Hardware, Patches

#7350 spacemit: opensbi, u-boot, kernel legacy: Update for v1.0.15
  config/sources/families/spacemit.conf
  patch/atf/atf-spacemit/001-Update-for-v1.0alpha2.patch
  patch/atf/atf-spacemit/002-Update-for-v1.0beta3.1.patch
  patch/atf/atf-spacemit/003-Update-for-v1.0rc1.patch
  patch/atf/atf-spacemit/004-Update-for-v1.0.patch
  patch/atf/atf-spacemit/005-Update-for-v1.0.3.patch
  patch/atf/atf-spacemit/006-Update-for-v1.0.7.patch
  patch/atf/atf-spacemit/007-Update-for-v1.0.11.patch
  patch/atf/atf-spacemit/008-Update-for-v1.0.13.patch
  patch/atf/atf-spacemit/009-Update-for-v1.0.14.patch
  patch/atf/atf-spacemit/010-Update-for-v1.0.15.patch
  patch/kernel/spacemit-legacy-6.1/patches.bianbu/Bluetooth-btrtl-Add-support-for-RTL8852BS.patch
  patch/kernel/spacemit-legacy-6.1/patches.bianbu/Bluetooth-hci_h5-Add-support-for-RTL8852BS.patch
  patch/kernel/spacemit-legacy-6.1/patches.bianbu/Fix-aes_encrypt-redefinition-errors.patch
  patch/kernel/spacemit-legacy-6.1/patches.bianbu/add-minimal-hwmon-support.patch
  patch/kernel/spacemit-legacy-6.1/patches.bianbu/riscv-signal-fix-sigaltstack-frame-size-checking.patch
  patch/kernel/spacemit-legacy-6.1/patches.bianbu/wireless-rtl8852bs-CONFIG_RTW_DEBUG-n.patch
  patch/kernel/spacemit-legacy-6.1/patches.bianbu/wireless-rtl8852bs-remove-RTW_WARN_LMT.patch
  patch/kernel/spacemit-legacy-6.1/series.bianbu
  patch/kernel/spacemit-legacy-6.1/series.conf
  patch/u-boot/legacy/u-boot-spacemit-k1/board_bananapif3/0001-MBR-support.patch
  patch/u-boot/legacy/u-boot-spacemit-k1/board_bananapif3/0002-change-AUTOBOOT_STOP_STR-to-Space-KEY.patch
  patch/u-boot/legacy/u-boot-spacemit-k1/board_bananapif3/0003-Syslinux-and-script-support.patch
  patch/u-boot/legacy/u-boot-spacemit-k1/board_bananapif3/0004-efi_loader-Suppress-error-print-message.patch
Labels: Ready to merge, 11, size/large, Hardware, Patches

#7361 Rock-5c add an asound.state file to fix mic and sound issues
  config/boards/rock-5c.conf
  packages/blobs/asound.state/asound.state.rock-5c
Labels: Ready to merge, 11, size/large, Hardware, BSP

#7369 [rockchip] Provide dtb overlay to enable pwm node for rk3288
  patch/kernel/archive/rockchip-6.11/overlay/Makefile
  patch/kernel/archive/rockchip-6.11/overlay/README.rockchip-overlays
  patch/kernel/archive/rockchip-6.11/overlay/rockchip-pwm1.dtso
  patch/kernel/archive/rockchip-6.11/overlay/rockchip-pwm2.dtso
  patch/kernel/archive/rockchip-6.11/overlay/rockchip-pwm3.dtso
  patch/kernel/archive/rockchip-6.6/overlay/Makefile
  patch/kernel/archive/rockchip-6.6/overlay/README.rockchip-overlays
  patch/kernel/archive/rockchip-6.6/overlay/rockchip-pwm1.dts
  patch/kernel/archive/rockchip-6.6/overlay/rockchip-pwm2.dts
  patch/kernel/archive/rockchip-6.6/overlay/rockchip-pwm3.dts
Labels: Ready to merge, 11, size/medium, Hardware, Patches

#7367 thinkpad-x13s: bump to jhovold's wip/sc8280xp-6.12-rc2
  config/boards/thinkpad-x13s.wip
Labels: Ready to merge, 11, size/small, Hardware

#7366 mainline-kernel: bump to 6.12-rc2
  config/sources/mainline-kernel.conf.sh
Labels: Ready to merge, 11, size/small, Hardware

#7365 rockchip64/uboot: increase rng-seed size to make it sufficient for modern linux
  patch/u-boot/v2024.07/rockchip-fix-rng-seed.patch
Labels: Ready to merge, 11, size/small, Hardware, Patches

#7364 rk3318: enable rng-seed population in u-boot
  patch/u-boot/v2024.07/board_rk3318-box/rk3318-box-add-defconfig.patch
Labels: Ready to merge, 11, size/small, Hardware, Patches

#7378 ramlog: remove obsolete nocache; fixes #6890
  config/optional/architectures/amd64/_config/cli/sid/main/packages
  config/optional/architectures/arm64/_config/cli/sid/main/packages
  config/optional/architectures/armhf/_config/cli/noble/main/packages
  config/optional/architectures/armhf/_config/cli/sid/main/packages
  packages/bsp/common/usr/lib/armbian/armbian-ramlog
Labels: Ready to merge, 11, size/small, Hardware, BSP

#7380 nanopi-m6: make it standard supported
  config/boards/nanopi-m6.conf
Labels: Ready to merge, 11, size/small, Hardware

#7377 board: orangepi3b: Fix U-Boot `BOOTPATCHDIR` and bump to 2024.10
  config/boards/orangepi3b.csc
  patch/u-boot/v2024.10/board_orangepi3b/0001-rockchip-rk3566-orangepi-3b-enable-npu-regulator.patch
Labels: Ready to merge, 11, Needs review, size/small, Hardware, Patches

#7373 Gnome desktops: add gvfs-backends package as its missing only here
  config/desktop/bookworm/environments/gnome/config_base/packages
  config/desktop/common/environments/gnome/config_base/packages
  config/desktop/jammy/environments/gnome/config_base/packages
Labels: Desktop, Ready to merge, 11, size/small

#7384 Debian desktops: disable Pidgin as its broken. Can stay that way.
  config/desktop/common/appgroups/chat/packages
Labels: Desktop, Ready to merge, 11, size/small

#7342 `Automatic` board configs status synchronise
  .github/CODEOWNERS
  config/boards/bananapim2zero.csc
  config/boards/orangepi-r1.csc
  config/boards/orangepi-r1plus-lts.csc
Labels: Needs review, size/small, Hardware, GitHub

#7382 Rockpis family
  config/boards/rock-s0.conf
  config/boards/rockpi-s.conf
  config/bootenv/rockpis.txt
  config/bootscripts/boot-rockchip64-ttyS0.cmd
  config/bootscripts/boot-rockpis.cmd
  config/sources/families/rock-s0.conf
  config/sources/families/rockpis.conf
Labels: size/large, Hardware, Hardware :gear:

#7385 rockchip-rk3588: Enable CONFIG_NETKIT kernel option
  config/kernel/linux-rockchip-rk3588-6.11.config
Labels: Ready to merge, 11, size/small, Hardware

#7387 Giveaway: remove additional label that otherwise makes no sense
  .github/labels.yml
Labels: size/small, GitHub

#7390 Wireless drivers: remove driver for 8822BS applicable for old kernels
  lib/functions/compilation/patch/drivers-harness.sh
  lib/functions/compilation/patch/drivers_network.sh
Labels: 11, Build, Needs review, size/small, Framework

#7392 rockchip64: make rockchip64 bootable in VM
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
Labels: Ready to merge, 11, size/small, Hardware

#7395 avaota-a1: move to .csc support
  config/boards/avaota-a1.csc
Labels: Ready to merge, 11, size/small, Hardware

#7400 MBa8MPxL: Bump current kernel from 6.6.43 to 6.11.x
  config/boards/mba8mpxl-ras314.conf
  config/boards/mba8mpxl.conf
  config/kernel/linux-tqma-current.config
  config/sources/families/include/imx8_common.inc
  packages/blobs/asound.state/asound.state.tqma
  patch/kernel/archive/imx8m-6.6/0001-Add-HDMI-support-for-IMX8MP.patch
  patch/kernel/archive/imx8m-6.6/0002-arm64-dts-imx8mp-Enable-HDMI-on-TQMa8MPxL-MBa8MPxL.patch
  patch/kernel/archive/imx8m-6.6/0003-arm64-dts-freescale-add-TQMa8MPQL-on-MBa8MP-RAS314.patch
Labels: Ready to merge, 11, size/large, Hardware, Patches, BSP

#7396 First login automation - add support for SSH key download
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: 11, Needs review, size/small, BSP

#7401 Radxa Rock-3a - edge - use mainline uboot
  config/boards/rock-3a.conf
Labels: Ready to merge, 11, size/small, Hardware

#7407 Move maintainers update function from https://github.com/armbian/scripts
  .github/workflows/adjust-maintainers.yml
Labels: size/medium, GitHub Actions

#7410 Limit default labelling to opened, reopened and synchronise PR
  .github/workflows/pr-auto-labeler.yml
Labels: Ready to merge, size/small, GitHub Actions

#7402 Radxa rock-3a - edge - add overlay to disable debug console
  patch/kernel/archive/rockchip64-6.11/overlay/Makefile
  patch/kernel/archive/rockchip64-6.11/overlay/rockchip-rk3568-rock-3a-disable-uart2.dtso
Labels: 11, Needs review, size/small, Hardware, Patches

#7404 Add community support for Cyber Aib RK3588
  config/boards/cyber-aib-rk3588.csc
  patch/u-boot/legacy/u-boot-radxa-rk35xx/defconfig/rk3588-cyber-aib_defconfig
  patch/u-boot/legacy/u-boot-radxa-rk35xx/dt/rk3588-cyber-aib.dts
Labels: size/large, Hardware, Patches

#7417 Bugfix: patch writing style caused breakage
  patch/kernel/archive/rockchip64-6.11/board-rock3a-0003-add-gpio-names.patch
Labels: Ready to merge, size/medium, Hardware, Patches
