Repository armbian/build, pull requests merged in 2025-06, with the labels that each got.

#8268 tinkerboard-2: u-boot: bump to v2025.04
  config/boards/tinkerboard-2.csc
  patch/u-boot/legacy/u-boot-tinkerboard2/add-board-tinker-board-2.patch
  patch/u-boot/legacy/u-boot-tinkerboard2/add-trust-ini.patch
  patch/u-boot/legacy/u-boot-tinkerboard2/enable-DT-overlays-support.patch
Labels: Ready to merge, 08, size/large, Hardware, Patches

#8274 SpacemiT: current: `Update to linux-6.6.93`
  patch/kernel/archive/spacemit-6.6/patch-6.6.87-88.patch
  patch/kernel/archive/spacemit-6.6/patch-6.6.88-89.patch
  patch/kernel/archive/spacemit-6.6/patch-6.6.89-90.patch
  patch/kernel/archive/spacemit-6.6/patch-6.6.90-91.patch
  patch/kernel/archive/spacemit-6.6/patch-6.6.91-92.patch
  patch/kernel/archive/spacemit-6.6/patch-6.6.92-93.patch
Labels: 08, Needs review, size/large, Hardware, Patches

#8277 Update odroidxu4-current to 6.6.93
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.88-89.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.89-90.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.90-91.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.91-92.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.92-93.patch
Labels: Ready to merge, 08, size/large, Hardware, Patches

#8282 Signing key: keep a link to previous location
  lib/functions/rootfs/distro-specific.sh
Labels: Ready to merge, 08, Needs review, size/small, Framework

#8275 coolpi-genbook: Add Support for vendor branch
  config/boards/coolpi-genbook.csc
Labels: Ready to merge, 08, Needs review, size/small, Hardware

#8272 mvebu: bootscript load address calculation a.o.
  config/bootscripts/boot-mvebu.cmd
Labels: Ready to merge, 08, Needs review, size/large, Hardware

#8289 Revert "build(deps): bump oras from 0.2.33 to 0.2.34"
  requirements.txt
Labels: 08, Needs review, size/small

#8281 Preparation for http proxy caching
  extensions/apa.sh
  extensions/armbian-config.sh
  lib/functions/host/docker.sh
  lib/functions/rootfs/distro-specific.sh
Labels: Ready to merge, 08, Needs review, size/small, Framework, Needs Documentation

#8299 AE for cloud, add description for vendor
  lib/functions/configuration/interactive.sh
Labels: Ready to merge, 08, Needs review, size/small, Framework

#8304 orangepi5-ultra: adjust description
  config/boards/orangepi5-ultra.csc
Labels: 08, Needs review, size/small, Hardware

#8313 Main: adjust broken patches on Meson and Rockchip64
  patch/kernel/archive/meson-6.12/0052-drm-meson-Describe-the-HDMI-PHY-frequency-limits-of-.patch
  patch/kernel/archive/rockchip64-6.12/rk3588-0132-phy-phy-rockchip-samsung-hdptx-Add-FRL-EARC-support.patch
Labels: Build, 08, Needs review, size/small, Hardware, Patches

#8322 motd: fix alignments on login screen. Closes: #7984
  packages/bsp/common/etc/update-motd.d/30-armbian-sysinfo
Labels: Ready to merge, 08, Needs review, size/small, BSP

#8320 Repository signing: add support for dual signing
  tools/repository/repo
Labels: 08, Needs review, size/small, Hardware, Framework

#8324 beagle: Enable modules for ethernet and serial over USB
  config/kernel/linux-k3-beagle-edge.config
Labels: Ready to merge, 08, Needs review, size/small, Hardware

#8314 update tm16xx driver for rockchip64 edge kernel
  patch/kernel/archive/rockchip64-6.15/general-driver-tm16xx-led-driver.patch
Labels: Ready to merge, 08, Needs review, size/large, Hardware, Patches

#8280 ti: config: kernel: Add `current` RT config file
  config/kernel/linux-k3-current-rt.config
  config/sources/families/k3.conf
Labels: Ready to merge, Discussion, 08, Needs review, size/large, Hardware

#7915 Armbian-install: disable Docker when installing images
  packages/bsp/common/usr/bin/armbian-install
Labels: Ready to merge, 05, size/small, BSP

#8325 Nanopi R6/R5: set wan interface to wan1 as otherwise netplan rules won't catch it
  config/boards/nanopi-r5c.csc
  config/boards/nanopi-r5s.csc
  config/boards/nanopi-r6c.csc
  config/boards/nanopi-r6s.conf
Labels: Ready to merge, 08, Needs review, size/small, Hardware

#8329 rockchip64: maint: rewrite patches
  patch/kernel/archive/rockchip64-6.16/board-nanopi-m4v2-dts-add-sound-card.patch
  patch/kernel/archive/rockchip64-6.16/board-nanopi-r3s-fix-leds.patch
  patch/kernel/archive/rockchip64-6.16/board-pbp-add-dp-alt-mode.patch
  patch/kernel/archive/rockchip64-6.16/board-rockpro64-fix-spi1-flash-speed.patch
  patch/kernel/archive/rockchip64-6.16/board-rocks0.patch
  patch/kernel/archive/rockchip64-6.16/general-add-panel-simple-dsi.patch
  patch/kernel/archive/rockchip64-6.16/general-cryptov1-trng.patch
  patch/kernel/archive/rockchip64-6.16/general-disable-mtu-validation.patch
  patch/kernel/archive/rockchip64-6.16/general-driver-tm16xx-led-driver.patch
  patch/kernel/archive/rockchip64-6.16/general-rockchip-overlays.patch
  patch/kernel/archive/rockchip64-6.16/general-st7796-driver.patch
  patch/kernel/archive/rockchip64-6.16/general-v4l2-iep-driver.patch
  patch/kernel/archive/rockchip64-6.16/general-v4l2-rkvdec-01-vp9.patch
  patch/kernel/archive/rockchip64-6.16/media-0001-Add-rkvdec2-Support-v3.patch
  patch/kernel/archive/rockchip64-6.16/media-0003-rk3568-disable-hantro-h264.patch
  patch/kernel/archive/rockchip64-6.16/net-usb-r8152-add-LED-configuration-from-OF.patch
  patch/kernel/archive/rockchip64-6.16/regulator-add-fan53200-driver.patch
  patch/kernel/archive/rockchip64-6.16/rk3328-add-dmc-driver.patch
  patch/kernel/archive/rockchip64-6.16/rk3399-rp64-pcie-Reimplement-rockchip-PCIe-bus-scan-delay.patch
  patch/kernel/archive/rockchip64-6.16/rk3588-1010-arm64-dts-rock-5b-Slow-down-emmc-to-hs200.patch
  patch/kernel/archive/rockchip64-6.16/rk3588-1040-board-khadas-edge2-add-nodes.patch
  patch/kernel/archive/rockchip64-6.16/rk3588-1041-board-khadas-edge2-mcu.patch
  patch/kernel/archive/rockchip64-6.16/rk3588-1051-board-nanopc-t6-fan-support.patch
  patch/kernel/archive/rockchip64-6.16/rk3588-1052-board-nanopc-t6-fix-usb3-a.patch
  patch/kernel/archive/rockchip64-6.16/rk3588-1091-arm64-dts-rockchip-Enable-HDMI-receiver-on-NanoPC-T6.patch
  patch/kernel/archive/rockchip64-6.16/rk35xx-montjoie-crypto-v2-rk35xx.patch
Labels: 08, Needs review, size/large, Hardware, Patches

#8334 Inovato quadra bootfix, bump uboot for zero3, 2w, add 1.5Gb support, bump atf
  config/boards/inovato-quadra.conf
  config/boards/orangepizero2w.csc
  config/boards/orangepizero3.csc
  config/boards/zeropi.csc
  config/sources/families/include/sunxi64_common.inc
  patch/u-boot/v2025-sunxi/0009-sunxi-h616-dram-support-1.5GB-RAM-size.patch
Labels: Ready to merge, 08, 05, Needs review, size/medium, size/small, Hardware, Patches, BSP

#8337 Allwinner kernel: bump current to 6.12.35 and edge to 6.15.4
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
  patch/kernel/archive/sunxi-6.12/patches.megous/power-supply-axp20x-battery-Add-support-for-POWER_SUPPLY_PROP_E.patch
  patch/kernel/archive/sunxi-6.12/series.armbian
  patch/kernel/archive/sunxi-6.12/series.conf
Labels: Build, 08, 05, Needs review, size/small, Hardware, Patches

#8338 Rock-5B-Plus: Align Edge 6.16 with upstream
  config/boards/rock-5b-plus.conf
  patch/kernel/archive/rockchip64-6.16/dt/rk3588-rock-5b-plus.dts
Labels: Ready to merge, 08, 05, size/small, size/large, Hardware, Patches
