Repository armbian/build, pull requests merged in 2025-03, with the labels that each got.

#7903 config: enable_extension "radxa-aic8800" for rock-2a
  config/boards/rock-2a.csc
Labels: Ready to merge, 05, size/small, Hardware

#7900 Add reset and power down support for both ODROID SM1 units
  patch/kernel/archive/meson64-6.12/board-odroid-sm1-reset.patch
  patch/kernel/archive/meson64-6.12/board-odroidc4-reset.patch
  patch/kernel/archive/meson64-6.13/board-odroid-sm1-reset.patch
  patch/kernel/archive/meson64-6.13/board-odroidc4-reset.patch
Labels: Ready to merge, 05, size/medium, Hardware, Patches

#7909 Multiple sources fix: after changing to deb822 we forgot on leftovers
  lib/functions/rootfs/create-cache.sh
  lib/functions/rootfs/distro-specific.sh
  lib/functions/rootfs/rootfs-create.sh
Labels: Ready to merge, Bugfix, 05, size/small, Framework

#7692 fix wrong kernel name bug on raspberry pi 5
  config/sources/families/bcm2711.conf
Labels: Ready to merge, 02, 05, size/small, Hardware

#7914 Enable wait-online.service in first-login config
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready to merge, 05, size/small, BSP

#7924 rockchip64-6.14: Set dma mask to 64 bit
  patch/kernel/archive/rockchip64-6.14/general-drm-rockchip-Set-dma-mask-to-64-bit.patch
Labels: Ready to merge, Needs review, size/small, Hardware, Patches

#7925 Enable HDMI audio outputs for Rock 5B by detlev.casanova@collabora.com
  patch/kernel/archive/rockchip64-6.14/rk3588-1102-arm64-dts-rockchip-Rock-5B-add-hdmi-sound.patch
Labels: Ready to merge, 05, size/medium, Hardware, Patches

#7918 Add initial support for BeagleBone AI-64
  config/boards/beaglebone-ai64.conf
Labels: Ready to merge, 05, size/small, Hardware

#7917 Add initial support for BeaglePlay
  config/boards/beagleplay.conf
Labels: Ready to merge, 05, size/small, Hardware

#7916 Raspbery Pi: legacy kernel is missing support for CONFIG_FW_LOADER_COMPRESS
  config/boards/rpi4b.conf
  config/kernel/linux-bcm2711-legacy.config
Labels: Ready to merge, 05, Needs review, size/medium, Hardware

#7897 Add initial support for BeagleBoard PocketBeagle2
  config/boards/pocketbeagle2.csc
  config/kernel/linux-k3-beagle-edge.config
Labels: Ready to merge, 05, size/large, Hardware

#7902 RESEND - Add initial support for Orangepi 5 Ultra
  config/boards/orangepi5-ultra.csc
  patch/kernel/archive/rockchip64-6.12/dt/rk3588-orangepi-5-ultra.dts
  patch/kernel/integrate-6.15/0000.patching_config.yaml
  patch/u-boot/legacy/u-boot-radxa-rk35xx/defconfig/orangepi-5-ultra-rk3588_defconfig
  patch/u-boot/legacy/u-boot-radxa-rk35xx/dt/rk3588-orangepi-5-ultra.dts
Labels: Work in progress, Ready to merge, 05, size/large, Hardware, Patches

#7893 Orangepi5 maintenance
  config/boards/orangepi5.conf
Labels: Ready to merge, 05, size/small, Hardware

#7929 rockchip64-6.14: rewrite rock5b hdmi audio patch
  patch/kernel/archive/rockchip64-6.14/rk3588-1102-arm64-dts-rockchip-Rock-5B-add-hdmi-sound.patch
Labels: Ready to merge, 05, size/small, Hardware, Patches

#7930 rockchip64: uboot: fix stable mac address for rk3318-box
  patch/u-boot/v2025.01/board_rk3318-box/general-support-rmii-integrated-phy.patch
Labels: Ready to merge, 05, size/large, Hardware, Patches

#7931 Update odroidxu4-current to 6.6.81
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.75-76.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.76-77.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.77-78.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.78-79.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.79-80.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.80-81.patch
Labels: Needs review, size/large, Hardware, Patches

#7932 Remove Xiaomi umi Support
  config/boards/xiaomi-umi.eos
  packages/bsp/xiaomi-umi/umi.conf
  packages/bsp/xiaomi-umi/umi_HiFi.conf
  packages/bsp/xiaomi-umi/zz-update-abl-kernel
  patch/kernel/archive/sm8250-6.12/dt/.placeholder
  patch/kernel/archive/sm8250-6.12/dt/sm8250-xiaomi-umi-common.dtsi
  patch/kernel/archive/sm8250-6.12/dt/sm8250-xiaomi-umi-csot.dts
  patch/kernel/archive/sm8250-6.12/dt/sm8250-xiaomi-umi-sms.dts
Labels: Ready to merge, 05, Needs review, size/large, Hardware, Patches, BSP

#7941 linux-bcm2711: enable CONFIG_CRYPTO_NHPOLY1305_NEON
  config/kernel/linux-bcm2711-current.config
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-bcm2711-legacy.config
Labels: Needs review, size/small, Hardware

#7852 Add Radxa Cubie A5E (sun55i-a527)
  config/boards/radxa-cubie-a5e.csc
  config/kernel/linux-sun55iw3-dev.config
  config/sources/families/sun55iw3.conf
  patch/misc/rtw88/6.12/001-drivers-net-realtek-rtw88-upstream-wireless.patch
Labels: Work in progress, Needs review, size/large, Hardware, Patches

#7947 sunxi-6.12: BUGFIX: Remove the incomplete patch.
  patch/kernel/archive/sunxi-6.12/patches.armbian/clk-sunxi-ng-h6-r-add-GPU-power-domain.patch
  patch/kernel/archive/sunxi-6.12/series.armbian
  patch/kernel/archive/sunxi-6.12/series.conf
Labels: Ready to merge, 05, size/medium, Hardware, Patches

#7949 Change to different method of getting changed files
  .github/workflows/pr-kernel-security-analysis.yml
  .github/workflows/pr-lint-scripts.yml
Labels: Ready to merge, Bugfix, 05, size/medium, GitHub Actions

#7952 Update K3 Family to use Github Mirror over TI Cgit
  config/sources/families/k3.conf
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#7951 SpacemiT: Defconfig: `Add CONFIG_NFT_FLOW_OFFLOAD=m`
  config/kernel/linux-spacemit-current.config
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#7948 Improve armbian-firstlogin script
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready to merge, 05, Needs review, size/medium, BSP

#7934 rockchip64-6.14: Add HDMI audio support and missing stuff on Youyeetoo R1 v3
  patch/kernel/archive/rockchip64-6.14/dt/rk3588s-youyeetoo-r1.dts
Labels: Ready to merge, 05, size/medium, Hardware, Patches

#7910 Stop altering global git config file and set safe per cloned repository
  lib/functions/general/git.sh
Labels: Ready to merge, 05, size/small, Framework

#7958 Revert "Stop altering global git config file and set safe per cloned repository
  lib/functions/general/git.sh
Labels: Needs review, size/small, Framework

#7959 rockchip64: rk3318-box: fix wifi with alternate sdio bus
  patch/kernel/archive/rockchip64-6.12/dt/rk3318-box.dts
  patch/kernel/archive/rockchip64-6.14/dt/rk3318-box.dts
Labels: Ready to merge, 05, Needs review, size/small, Hardware, Patches

#7943 BananaPi BPI-M4-Zero: `sunxi: mmc: Improve reset procedure`
  patch/u-boot/v2024.04/board_bananapim4zero/002-bananapi-m4-zero-emmc-boot-support.patch
  patch/u-boot/v2024.04/board_bananapim4zero/002-sunxi-mmc-Improve-reset-procedure.patch
  patch/u-boot/v2024.04/board_bananapim4zero/003-HACK-sunxi-h616-gpu-enable.patch
  patch/u-boot/v2024.04/board_bananapim4zero/003-sunxi-mmc-increase-stabilization-delay-from-1ms-to-20ms.patch
  patch/u-boot/v2024.04/board_bananapim4zero/004-sunxi-h616-ths-workaround.patch
  patch/u-boot/v2024.04/board_bananapim4zero/005-mach-sunxi-dram_helpers-add-delay-to-steady-dram-detection.patch
  patch/u-boot/v2024.04/board_bananapim4zero/006-PATCH-sunxi-spl-h616-fix-booting-from-high-MMC-offset.patch
Labels: Ready to merge, 05, size/medium, Hardware, Patches

#7962 Drop fastfetch alias - it only make troubles
  packages/bsp/common/etc/skel/.bash_aliases
Labels: Ready to merge, Bugfix, 05, size/small, BSP

#7965 rockchip64: bump rockpi-e to u-boot v2025.01
  config/boards/rockpi-e.conf
Labels: 05, Needs review, size/small, Hardware

#7964 rockchip64: bump orangepi4 lts uboot to v2025.01
  config/boards/orangepi4-lts.conf
  patch/u-boot/v2025.01/board_orangepi4-lts/board-orangepi4-rockchip-tpl.patch
Labels: Ready to merge, 05, Needs review, size/small, Hardware, Patches

#7969 rockchip64-6.14: Add patch to fix USB 3.0 A on NanoPC T6
  patch/kernel/archive/rockchip64-6.14/rk3588-1053-board-nanopc-t6-fix-usb3-a.patch
Labels: Ready to merge, 05, size/medium, Hardware, Patches

#7961 Allow NetworkManager and systemd-networkd
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready to merge, 05, Needs review, size/small, BSP

#7972 grub-with-dtb: accept `GRUB_FDT_FILE` if `BOOT_FDT_FILE` is unset
  config/boards/nanopct6-lts.conf
  config/boards/nanopct6.conf
  extensions/grub-with-dtb.sh
Labels: Ready to merge, 05, size/small, Hardware, Framework

#7971 mekotronics-rk3588: u-boot: back to radxa's v2024.03, as .10 breaks GMAC stable MAC patch
  config/sources/vendors/mekotronics/mekotronics-rk3588.hooks.sh
Labels: Ready to merge, 05, size/small, Hardware

#7970 rockchip64: rk356x: add PLL rate for 33.3MHz
  patch/kernel/archive/rockchip64-6.12/general-clk-rockchip-rk3568-Add-PLL-rate-for-33.3MHz.patch
  patch/kernel/archive/rockchip64-6.14/general-clk-rockchip-rk3568-Add-PLL-rate-for-33.3MHz.patch
Labels: 05, Needs review, size/medium, Hardware, Patches

#7967 rockchip: bump tinkerboard and xt-q8l-v10 u-boot to v2025.01
  config/sources/families/rockchip.conf
  patch/u-boot/v2025.01/board_tinkerboard/0001-tinkerboard-defconfig-fix.patch
  patch/u-boot/v2025.01/board_tinkerboard/0003-UMS-mode-on-otg-port.patch
  patch/u-boot/v2025.01/board_xt-q8l-v10/xt-q8l-v10-defconfig.patch
  patch/u-boot/v2025.01/board_xt-q8l-v10/xt-q8l-v10-device-tree-makefile.patch
  patch/u-boot/v2025.01/board_xt-q8l-v10/xt-q8l-v10-device-tree.patch
Labels: Needs review, size/large, Hardware, Patches

#7913 Add support for NanoPi R2S Plus
  config/boards/nanopi-r2s-plus.csc
  patch/kernel/archive/rockchip64-6.12/dt/rk3328-nanopi-r2s-plus-rev00.dts
  patch/kernel/archive/rockchip64-6.14/dt/rk3328-nanopi-r2s-plus-rev00.dts
  patch/u-boot/v2025.01/board_nanopi-r2s-plus/001.add-trust-ini.patch
Labels: Ready to merge, 05, size/medium, Hardware, Patches

#7974 rockchip64-6.12: fix compatible for CPU regulator on BTT PI2/CB2
  patch/kernel/archive/rockchip64-6.12/dt/rk3566-bigtreetech-pi2.dts
Labels: Needs review, size/small, Hardware, Patches

#7983 mksklipad50: add DT overlays for edge kernel
  patch/kernel/archive/rockchip64-6.14/overlay/Makefile
  patch/kernel/archive/rockchip64-6.14/overlay/rockchip-rk3328-mksklipad50-enable-rtc-end1.dtso
  patch/kernel/archive/rockchip64-6.14/overlay/rockchip-rk3328-mksklipad50-enable-v4l2.dtso
Labels: Ready to merge, 05, Needs review, size/small, Hardware, Patches

#7981 Fix for ethernet warnings in dmesg output
  config/boards/odroidm2.csc
  patch/kernel/archive/rockchip64-6.14/board-odroidm2-fix-for-ethernet.patch
  patch/u-boot/v2025.04-rc4/board_odroidm2/001-odroid-m2-fix-for-ethernet.patch
Labels: Ready to merge, 05, size/medium, Hardware, Patches

#7989 Meson64: adjust patch to match upstream changes
  patch/kernel/archive/meson64-6.12/general-input-touchscreen-Add-D-WAV-Multitouch.patch
  patch/kernel/archive/meson64-6.13/general-input-touchscreen-Add-D-WAV-Multitouch.patch
Labels: Ready to merge, 05, size/small, Hardware, Patches

#7982 BSP: make -cli packages provide the armbian-bsp-cli virtual package
  lib/functions/bsp/armbian-bsp-cli-deb.sh
Labels: Ready to merge, 05, size/small, Framework

#7979 Fix patching.sh to include untracked (new) files in patch
  lib/functions/compilation/patch/patching.sh
Labels: Ready to merge, 05, size/small, Framework

#7911 Fix IPv4 and IPv6 output in Armbian welcome MOTD
  packages/bsp/common/etc/default/armbian-motd.dpkg-dist
  packages/bsp/common/etc/update-motd.d/10-armbian-header
Labels: Ready to merge, 05, Needs review, size/medium, BSP

#8007 dont fail on no custom/userpatches folder
  action.yml
Labels: Ready to merge, 05, Needs review, size/small

#8002 add SMART AM40 support
  config/boards/smart-am40.csc
  patch/kernel/archive/rockchip64-6.12/dt/rk3399-am40.dts
  patch/kernel/archive/rockchip64-6.14/dt/rk3399-am40.dts
  patch/u-boot/v2024.10/board_smart-am40/add-board-smart-am40.patch
Labels: Ready to merge, 05, size/large, Hardware, Patches

#8001 Enable thermal support for sun55i-a523
  patch/kernel/archive/sunxi-dev-6.14/1208-thermal-drivers-sun8i-Add-initial-support-for-A523-T.patch
Labels: Ready to merge, 05, size/large, Hardware, Patches

#7994 qemu arm64: bump u-boot and fix wrong boot script parameter
  config/bootscripts/boot-qemu-arm64.cmd
  config/sources/families/include/uefi_common.inc
Labels: Ready to merge, size/small, Hardware

#8011 bump version in README.md
  README.md
Labels: Ready to merge, size/small, Documentation

#7980 Refactor patches for NanoPC T6 & LTS
  patch/kernel/archive/rockchip64-6.14/rk3588-1051-board-nanopc-t6-Add-USB3-psu-and-fan-support.patch
  patch/kernel/archive/rockchip64-6.14/rk3588-1051-board-nanopc-t6-fan-support.patch
  patch/kernel/archive/rockchip64-6.14/rk3588-1052-board-nanopc-t6-fix-usb3-a.patch
  patch/kernel/archive/rockchip64-6.14/rk3588-1053-board-nanopc-t6-fix-usb3-a.patch
  patch/kernel/archive/rockchip64-6.14/rk3588-1053-board-nanopc-t6-hdmi1-and-audio-support.patch
Labels: Ready to merge, 05, size/large, Hardware, Patches

#8003 Fixed errors and warnings found in journald
  extensions/network/config-networkd/systemd/network/00-armbian.network.readme
  packages/bsp/common/usr/lib/armbian/armbian-hardware-optimization
Labels: Ready to merge, 05, size/small, Framework, BSP

#8012 switch `current` u-boot to v2025.01
  config/boards/rock-3a.conf
Labels: Ready to merge, 05, size/small, Hardware

#8018 Add support for MOTD logo colors
  lib/functions/configuration/main-config.sh
  packages/bsp/common/etc/update-motd.d/10-armbian-header
Labels: Needs review, size/small, Framework, BSP

#8019 Revert "Change to different method of getting changed files"
  .github/workflows/pr-kernel-security-analysis.yml
  .github/workflows/pr-lint-scripts.yml
Labels: Ready to merge, 05, Needs review, size/medium, size/small, GitHub Actions

#8024 Make Radxa Nio-12L Standard Support
  config/boards/radxa-nio-12l.conf
Labels: Ready to merge, 05, size/small, Hardware

#8036 Enable `CONFIG_NETKIT=y` feature for all armbian-kernels => 6.7
  lib/functions/compilation/armbian-kernel.sh
Labels: Ready to merge, 05, size/medium, Framework, Patches

#8034 boards: radxa-e20c: add armbian-leds.conf
  config/boards/radxa-e20c.csc
Labels: Ready to merge, Needs review, size/small, Hardware, BSP

#8029 drivers_network: bump rtl8812au for 6.14.y
  lib/functions/compilation/patch/drivers_network.sh
Labels: Ready to merge, 05, size/small, Framework, Patches

#8026 Add VENDOR color to BSP and artifacts hashing
  lib/functions/artifacts/artifact-armbian-bsp-cli.sh
  lib/functions/bsp/armbian-bsp-cli-deb.sh
Labels: Ready to merge, size/small, Framework, BSP
