Repository armbian/build, pull requests merged in 2025-04, with the labels that each got.

#8046 Cloud / QCOW2: set basic image size to 16Gb for all cloud images
  config/sources/families/include/uefi_common.inc
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#8049 radxa-zero3: enable wifi extension by default
  config/boards/radxa-zero3.csc
  extensions/radxa-aic8800.sh
Labels: Ready to merge, size/small, Hardware, Framework

#8051 Update kernel configs with enabled wifi drivers from rtw88/9
  config/kernel/linux-bcm2711-current.config
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-imx6-current.config
  config/kernel/linux-imx6-edge.config
  config/kernel/linux-meson-current.config
  config/kernel/linux-odroidxu4-current.config
  config/kernel/linux-odroidxu4-edge.config
  config/kernel/linux-rockchip-current.config
  config/kernel/linux-rockchip-edge.config
  config/kernel/linux-uefi-arm64-current.config
  config/kernel/linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-arm64-legacy.config
  config/kernel/linux-uefi-riscv64-current.config
  config/kernel/linux-uefi-riscv64-edge.config
  config/kernel/linux-uefi-x86-current.config
  config/kernel/linux-uefi-x86-edge.config
  config/kernel/linux-uefi-x86-legacy.config
Labels: Ready to merge, 05, Needs review, size/large, Hardware

#8060 We need to escape $ otherwise this will be executed on host
  config/boards/bananapim4berry.csc
Labels: Needs review, size/small, Hardware

#8054 Bump SM8250 Edge kernel to 6.14
  config/kernel/linux-sm8250-edge.config
  config/sources/families/sm8250.conf
Labels: Ready to merge, 05, Needs review, size/medium, Hardware

#8073 SpacemiT: Defconfig: `Enable PPPoe Module`
  config/kernel/linux-spacemit-current.config
Labels: Needs review, size/small, Hardware

#8074 rockchip-rk3308-current: fix uart dma
  patch/kernel/archive/rockchip64-6.12/rk3308-fix-uart-dma.patch
  patch/kernel/archive/rockchip64-6.14/rk3308-fix-uart-dma.patch
  patch/kernel/archive/rockchip64-6.6/rk3308-fix-uart-dma.patch
  patch/kernel/archive/rockchip64-6.9/rk3308-fix-uart-dma.patch
Labels: Needs review, size/large, Hardware, Patches

#8068 station-m3: delete the redundant function.
  config/boards/station-m3.csc
Labels: Needs review, size/small, Hardware

#8077 Fix rtl8189fs driver commit version
  lib/functions/compilation/patch/drivers_network.sh
Labels: Needs review, size/small, Framework

#8078 GH Actions label adjustment, fix permissions and enable auto quarter labels
  .github/workflows/pr-auto-labeler.yml
Labels: Needs review, size/medium, GitHub Actions

#8079 Fix permissions for label `Ready to Merge` on approved pull requests
  .github/workflows/pr-label-on-approved.yml
Labels: 05, Needs review, size/small, GitHub Actions

#8072 rock-3a: bump mainline uboot to v2025.04
  config/boards/rock-3a.conf
Labels: Ready to merge, 05, size/small, Hardware

#8071 radxa-zero3: bump mainline uboot
  config/boards/radxa-zero3.csc
Labels: Ready to merge, 05, size/small, Hardware

#8017 Add Qcom Robotics RB5 Support
  config/boards/qcom-robotics-rb5.conf
  config/kernel/linux-sm8250-current.config
Labels: Needs review, size/medium, Hardware, Framework

#8081 station-p2: bump u-boot to 2025.04
  config/boards/station-p2.csc
  patch/u-boot/v2025.04/board_station-p2/0001-add-support-for-station-p2.patch
Labels: 05, Needs review, size/large, Hardware, Patches

#8087 Rpi bugfix: Split Debian and Ubuntu packages
  config/sources/families/bcm2711.conf
Labels: Bugfix, 05, Needs review, size/small, Hardware

#8093 Radxa Nio 12l: dropping vendor kernel as its broken and generally in bad shape
  config/boards/radxa-nio-12l.conf
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#8089 Switch from rkr5 to rkr5.1
  config/sources/families/rk35xx.conf
  config/sources/families/rockchip-rk3588.conf
  patch/kernel/rk35xx-vendor-6.1/0000.patching_config.yaml
Labels: Ready to merge, 05, Needs review, size/small, Hardware, Patches

#8067 If rootfs placed on btrfs filesystem, place root on @ subvolume
  lib/functions/image/partitioning.sh
Labels: Ready to merge, 05, Needs review, size/medium, Framework

#8099 BananaPi SM1: `Fixup patch name association`
  patch/kernel/archive/meson64-6.12/board-bananapim5-002-add-wifi-bt-support.patch
  patch/kernel/archive/meson64-6.12/board-bananapism1-add-uart_A-and-AO_B.patch
  patch/kernel/archive/meson64-6.14/board-bananapim5-002-add-wifi-bt-support.patch
  patch/kernel/archive/meson64-6.14/board-bananapism1-add-uart_A-and-AO_B.patch
Labels: Ready to merge, 05, Needs review, size/small, Hardware, Patches

#8101 Disable broken AIC8800 wifi driver on Rockchip vendor kernel
  extensions/radxa-aic8800.sh
Labels: Ready to merge, 05, Needs review, size/small, Framework

#8102 fix: update jq in apt-utils to use filter arguments
  lib/functions/general/apt-utils.sh
Labels: Ready to merge, 05, Needs review, size/small, Framework

#8105 Fix ZRAM service due to parameter deprecation in mkfs > 2.40.1 (Trixie / Plucky)
  packages/bsp/common/usr/lib/armbian/armbian-zram-config
Labels: Ready to merge, Bugfix, 05, Needs review, size/small, BSP

#8104 Fix ORAS tooling download due to absense of `wget`
  lib/functions/host/basic-deps.sh
  lib/functions/host/prepare-host.sh
Labels: Ready to merge, 05, size/small, Framework

#8100 Allwinner: bump to latest tags - booted on H5
  config/sources/families/include/sunxi64_common.inc
  config/sources/families/include/sunxi_common.inc
Labels: Ready to merge, 05, size/small, Hardware

#8053 Add configurable EFI partition alignment to support UFS devices
  lib/functions/image/partitioning.sh
Labels: Ready to merge, 05, size/small, Framework, Needs Documentation

#8106 Add _out of date_ notice to example config
  config/templates/config-example.conf.template
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#8107 Rockchip - Adjustin broken patch for EDGE kernel
  patch/kernel/archive/rockchip-6.14/patches.libreelec/linux-1000-drm-rockchip.patch
Labels: Needs review, Hardware, Patches

#8110 Revert "Disable broken AIC8800 wifi driver on Rockchip vendor kernel"
  extensions/radxa-aic8800.sh
Labels: 05, Needs review, size/small, Framework

#8111 sunxi64: bump ATF to latest LTS tag
  config/sources/families/include/sunxi64_common.inc
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#8108 Install to nvme: place root volume to separate subvolume on btrfs
  packages/bsp/common/usr/bin/armbian-install
Labels: Ready to merge, 05, Needs review, size/small, BSP

#8114 Userspace status changes to EOS for bullseye, focal and jammy
  config/distributions/bullseye/support
  config/distributions/focal/support
  config/distributions/jammy/support
Labels: Ready to merge, 05, Needs review, size/small

#8116 RaspberryPi: suppress warnings for missing firmware
  config/kernel/linux-bcm2711-current.config
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-bcm2711-legacy.config
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#8033 Starfive: bump kernel to v6.6 for starfive2
  config/boards/visionfive2.csc
  config/kernel/linux-starfive2-edge.config
  config/kernel/linux-starfive2-vendor.config
  config/sources/families/starfive2.conf
Labels: Ready to merge, 05, Needs review, size/large, Hardware, Framework, Patches

#8118 RaspberryPi: add brcm firmware package to fix missing wireless support
  config/sources/families/bcm2711.conf
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#8115 Update the version of U-boot used with Radxa rock 4 se to v2025.04
  config/boards/rock-4se.csc
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#8044 khadas-vim3: u-boot: bump to `2025.04-rc5`; boot SD first; enable `setexpr`; patch 2025.04 for `fileenv`; enable `squashfs` support
  config/boards/khadas-vim3.conf
  patch/u-boot/v2025.04/board_khadas-vim3/meson64-boot-usb-nvme-scsi-first.patch
  patch/u-boot/v2025.04/cmd-fileenv-read-string-from-file-into-env.patch
Labels: Ready to merge, 05, Needs review, size/medium, Hardware, Patches

#8127 officially support Banana Pi M2+
  config/boards/bananapim2plus.conf
Labels: 05, Needs review, size/small, Hardware

#8129 V2 - Update the version of U-boot used with Radxa rock 4 se to v2025.04
  config/boards/rock-4se.csc
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#8122 lubancat2: bump u-boot to v2025.04
  config/boards/lubancat2.csc
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#8131 Upgrade Cherryba-m1 to latest u-boot, move patch to new folder
  config/boards/cherryba-m1.csc
  patch/u-boot/v2025.04/board_cherryba-m1/add_and_fix_cherryba-m1_uboot.patch
Labels: 05, Needs review, size/small, Hardware, Patches

#8132 Drop old tag for ATF that was only set in sun50iw9 / H61x
  config/sources/families/sun50iw9.conf
Labels: Build, 05, Needs review, size/small, Hardware

#8136 rockchip64: Enable CAN FD driver MCP251XFD
  config/kernel/linux-rockchip64-current.config
  config/kernel/linux-rockchip64-edge.config
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#8135 Update odroidxu4-current to 6.6.88
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.81-82.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.82-83.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.83-84.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.84-85.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.85-86.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.86-87.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.87-88.patch
Labels: 05, Needs review, size/large, Hardware, Patches

#8123 rockchip64: add multiple SPI images support to armbian-install
  config/sources/families/include/rockchip64_common.inc
Labels: Ready to merge, 05, size/small, Hardware

#8126 orangepi5b: split opi5b board from opi5 board config
  config/boards/orangepi5b.csc
Labels: Ready to merge, 05, size/medium, Hardware

#8146 Odroid XU4: fix broken patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.83-84.patch
Labels: 05, Needs review, size/small, Hardware, Patches

#8048 rockchip64-6.14: Add missing opp nodes
  patch/kernel/archive/rockchip64-6.14/rk3588-0025-add-missing-op-nodes.patch
Labels: 05, Needs review, size/medium, Hardware, Patches
