Repository armbian/build, pull requests merged in 2025-09, with the labels that each got.

#8582 track input nice value, propagate to docker
  lib/functions/cli/cli-docker.sh
  lib/functions/cli/entrypoint.sh
Labels: Ready to merge, 11, size/small, Framework, Needs Documentation

#8596 blobs: rk3576: update BL31 to v1.20 and DDR to v1.09
  config/sources/families/include/rockchip64_common.inc
Labels: 11, Needs review, size/small, Hardware

#8600 rk3576: update DDR_BLOB to v1.08
  config/sources/families/include/rockchip64_common.inc
Labels: 11, Needs review, size/small, Hardware

#8628 Reliable PR number relay for labeler workflow
  .github/workflows/pr-label-on-approved.yml
  .github/workflows/pr-review-listener.yml
Labels: 11, Needs review, size/small, GitHub Actions

#8629 Implement label removal on PR approval
  .github/workflows/pr-label-on-approved.yml
Labels: Ready to merge, 11, Needs review, size/small, GitHub Actions

#8625 Re-Enable BeagleY As Supported and fix Wifi
  config/boards/beagley-ai.conf
Labels: Ready to merge, 11, size/small, Hardware

#8601 BSP: fix incorrect logging for USB Gadget script
  packages/bsp/usb-gadget-network/setup-usbgadget-network.sh
Labels: Ready to merge, 11, size/small, BSP

#8626 extensions: add gxlimg and amlogic-fip-blobs
  config/boards/cainiao-cniot-core.csc
  config/sources/families/include/meson64_common.inc
  extensions/amlogic-fip-blobs.sh
  extensions/gxlimg.sh
Labels: Ready to merge, 11, Hardware, Framework

#8631 Khadas VIM4: Update and Fixup U-Boot
  config/boards/khadas-vim4.conf
  config/bootscripts/boot-meson-s4t7.cmd
  config/sources/families/meson-s4t7.conf
  patch/u-boot/u-boot-meson-s4t7/Enable-setexpr-sub-command.patch
  patch/u-boot/u-boot-meson-s4t7/Mod-default-bootargs.patch
  patch/u-boot/u-boot-meson-s4t7/Revert-config_distro_bootcmd.h-boot-only-from-boot.i.patch
  patch/u-boot/u-boot-meson-s4t7/Update-kvim4_defconfig.patch
Labels: Ready to merge, 11, size/medium, Hardware, Patches

#8642 Add DT overlay to operate RK3308 OTG USB port in Host mode
  patch/kernel/archive/rockchip64-6.12/overlay/Makefile
  patch/kernel/archive/rockchip64-6.12/overlay/README.rockchip-overlays
  patch/kernel/archive/rockchip64-6.12/overlay/rk3308-b@1.3ghz.dtso
  patch/kernel/archive/rockchip64-6.12/overlay/rk3308-emmc.dtso
  patch/kernel/archive/rockchip64-6.12/overlay/rk3308-otg-host.dtso
  patch/kernel/archive/rockchip64-6.12/overlay/rk3308-sdio@10mhz.dtso
  patch/kernel/archive/rockchip64-6.12/overlay/rk3308-sdio@4mhz.dtso
  patch/kernel/archive/rockchip64-6.16/overlay/Makefile
  patch/kernel/archive/rockchip64-6.16/overlay/README.rockchip-overlays
  patch/kernel/archive/rockchip64-6.16/overlay/rk3308-b@1.3ghz.dtso
  patch/kernel/archive/rockchip64-6.16/overlay/rk3308-emmc.dtso
  patch/kernel/archive/rockchip64-6.16/overlay/rk3308-otg-host.dtso
  patch/kernel/archive/rockchip64-6.16/overlay/rk3308-sdio@10mhz.dtso
  patch/kernel/archive/rockchip64-6.16/overlay/rk3308-sdio@4mhz.dtso
Labels: Ready to merge, 11, size/medium, Hardware, Patches

#8651 add initial support of NanoPi M5
  config/boards/nanopi-m5.conf
  patch/u-boot/legacy/u-boot-radxa-rk35xx/add-board-nanopi-m5.patch
Labels: Ready to merge, 11, size/large, Hardware, Patches

#8669 AR-2758 : fix libwmf0.2-7-gtk bad name
  config/desktop/bookworm/environments/budgie/config_base/packages
  config/desktop/bookworm/environments/i3-wm/config_base/packages
  config/desktop/bookworm/environments/kde-plasma/config_base/packages
  config/desktop/bookworm/environments/xfce/config_base/packages
  config/desktop/bookworm/environments/xmonad/config_base/packages
  config/desktop/common/environments/budgie/config_base/packages
  config/desktop/common/environments/deepin/config_base/packages
  config/desktop/common/environments/enlightenment/config_base/packages
  config/desktop/common/environments/i3-wm/config_base/packages
  config/desktop/common/environments/kde-plasma/config_base/packages
  config/desktop/common/environments/mate/config_base/packages
  config/desktop/common/environments/xfce/config_base/packages
  config/desktop/common/environments/xmonad/config_base/packages
  config/desktop/jammy/environments/budgie/config_base/packages
  config/desktop/jammy/environments/i3-wm/config_base/packages
  config/desktop/jammy/environments/kde-plasma/config_base/packages
  config/desktop/jammy/environments/xfce/config_base/packages
  config/desktop/jammy/environments/xmonad/config_base/packages
  config/desktop/noble/environments/i3-wm/config_base/packages
  config/desktop/noble/environments/xfce/config_base/packages
  config/desktop/plucky/environments/i3-wm/config_base/packages
  config/desktop/plucky/environments/kde-plasma/config_base/packages
  config/desktop/plucky/environments/xfce/config_base/packages
  config/desktop/sid/environments/xfce/config_base/packages
  config/desktop/trixie/environments/budgie/config_base/packages
  config/desktop/trixie/environments/i3-wm/config_base/packages
  config/desktop/trixie/environments/kde-plasma/config_base/packages
  config/desktop/trixie/environments/xfce/config_base/packages
  config/desktop/trixie/environments/xmonad/config_base/packages
Labels: Desktop, Ready to merge, 11, size/medium

#8672 Armbian-zram-config mkfs detecion gets empty string
  packages/bsp/common/usr/lib/armbian/armbian-zram-config
Labels: Bugfix, 11, Needs review, size/small, BSP

#8674 Bump 32bit rockchip boards u-boot to v2025.10-rc5
  config/boards/rk3318-box.tvb
  config/sources/families/rockchip.conf
  patch/u-boot/v2025.10/board_rk322x-box/rk3228-hdmi-clk-fixes.patch
  patch/u-boot/v2025.10/board_rk322x-box/rk3228-hdmi-driver.patch
  patch/u-boot/v2025.10/board_rk322x-box/rk3228-inno-phy-driver.patch
  patch/u-boot/v2025.10/board_rk322x-box/rk3228-vop-driver.patch
  patch/u-boot/v2025.10/board_rk322x-box/rk322x-add-usb-reset-props.patch
  patch/u-boot/v2025.10/board_rk322x-box/rk322x-box-add-defconfig.patch
  patch/u-boot/v2025.10/board_rk322x-box/rk322x-box-add-device-tree-makefile.patch
  patch/u-boot/v2025.10/board_rk322x-box/rk322x-box-add-device-tree.patch
  patch/u-boot/v2025.10/board_rk322x-box/u-boot-1002-support-rockchip-gmac-rmii.patch
  patch/u-boot/v2025.10/board_rk322x-box/u-boot-1005-support-rockchip-tee-binary.patch
  patch/u-boot/v2025.10/board_rk322x-box/u-boot-1006-usbphy-otg-ehci-support.patch
  patch/u-boot/v2025.10/board_rk3318-box/general-support-rmii-integrated-phy.patch
  patch/u-boot/v2025.10/board_rk3318-box/rk3318-box-add-defconfig.patch
  patch/u-boot/v2025.10/board_rk3318-box/rk3318-box-add-dts.patch
  patch/u-boot/v2025.10/board_rk3318-box/rk3318-box-add-makefile.patch
  patch/u-boot/v2025.10/board_rk3318-box/rk3328-add-usb-reset-props.patch
  patch/u-boot/v2025.10/board_rk3318-box/rk3328-fix-missing-hdmi-os.patch
  patch/u-boot/v2025.10/board_tinkerboard/0001-tinkerboard-defconfig-fix.patch
  patch/u-boot/v2025.10/board_tinkerboard/0003-UMS-mode-on-otg-port.patch
  patch/u-boot/v2025.10/board_xt-q8l-v10/xt-q8l-v10-defconfig.patch
  patch/u-boot/v2025.10/board_xt-q8l-v10/xt-q8l-v10-device-tree-makefile.patch
  patch/u-boot/v2025.10/board_xt-q8l-v10/xt-q8l-v10-device-tree.patch
  patch/u-boot/v2025.10/general-dw-hdmi-disable.patch
  patch/u-boot/v2025.10/general-dwc-otg-usb-fix.patch
  patch/u-boot/v2025.10/rk3288-fix-kernel-iommu-page-fault.patch
Labels: Ready to merge, 11, size/large, Hardware, Patches

#8677 Realtek 8189ES & FS compatibility with Linux 6.17.y
  lib/functions/compilation/patch/drivers_network.sh
Labels: Ready to merge, 11, Build, size/small, Framework

#8678 board configs sync - netfilter-modules + make oldconfig
  config/kernel/linux-bcm2711-current.config
  config/kernel/linux-bcm2711-edge.config
  config/kernel/linux-bcm2711-legacy.config
  config/kernel/linux-k3-current.config
  config/kernel/linux-k3-edge.config
  config/kernel/linux-meson-s4t7-legacy.config
  config/kernel/linux-meson64-current.config
  config/kernel/linux-meson64-edge.config
  config/kernel/linux-odroidxu4-current.config
  config/kernel/linux-odroidxu4-edge.config
  config/kernel/linux-phytium-embedded-current.config
  config/kernel/linux-phytium-embedded-legacy.config
  config/kernel/linux-qcs6490-edge.config
  config/kernel/linux-sm8250-current.config
  config/kernel/linux-sm8250-edge.config
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi-legacy.config
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
  config/kernel/linux-sunxi64-legacy.config
  config/kernel/linux-tqma-current.config
Labels: Ready to merge, 11, size/large, Hardware

#8583 [bugfix] Update binutils version checks in atf.sh
  lib/functions/compilation/atf.sh
Labels: Ready to merge, 11, size/small, Framework

#8560 armbian build machinery - allow kernel module compression.
  lib/functions/compilation/armbian-kernel.sh
Labels: Ready to merge, 08, size/small, Hardware, Framework

#8569 Upstream releases: update release upgrade paths
  config/distributions/focal/upgrade
  config/distributions/jammy/upgrade
  config/distributions/noble/upgrade
  config/distributions/oracular/upgrade
Labels: Ready to merge, 11, size/small

#8685 uefi-loong64-6.16: add revert patches to fix xe driver
  patch/kernel/archive/uefi-loong64-6.16/0007-Revert-drm-xe-guc-Set-RCS-CCS-yield-policy.patch
  patch/kernel/archive/uefi-loong64-6.16/0008-Revert-drm-xe-guc-Enable-extended-CAT-error-reportin.patch
Labels: Ready to merge, 11, size/large, Hardware, Patches

#8688 Drop broken link to u-boot subfolder
  patch/u-boot/legacy/u-boot-radxa-rk35xx/board_rock-5-cm-rpi-cm4-io
Labels: 11, size/small

#8697 rockchip64-edge: fix RK3576 CPU OPP voltages for cpufreq
  patch/kernel/archive/rockchip64-6.16/rk3576-fix-cpu-opp-voltages.patch
Labels: Ready to merge, 11, size/medium, Hardware, Patches
