Repository armbian/build, pull requests merged in 2025-10, with the labels that each got.

#8696 Update odroidxu4-current to 6.6.108
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.102-103.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.103-104.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.104-105.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.105-106.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.106-107.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.107-108.patch
Labels: Ready to merge, 11, size/large, Hardware, Patches

#8704 UEFI loong64: drop upstreamed patches
  patch/kernel/archive/uefi-loong64-6.16/0007-Revert-drm-xe-guc-Set-RCS-CCS-yield-policy.patch
  patch/kernel/archive/uefi-loong64-6.16/0008-Revert-drm-xe-guc-Enable-extended-CAT-error-reportin.patch
Labels: Ready to merge, 11, Build, size/large, Hardware, Patches

#8708 rockchip rk3566: h96-TVbox: prepare i2c Leds to mainline 6.18
  patch/kernel/archive/rockchip64-6.12/dt/rk3566-h96-tvbox.dts
  patch/kernel/archive/rockchip64-6.17/dt/rk3566-h96-tvbox.dts
  patch/kernel/archive/rockchip64-6.6/dt/rk3566-h96-tvbox.dts
  patch/kernel/archive/rockchip64-6.9/dt/rk3566-h96-tvbox.dts
Labels: Ready to merge, 11, size/large, Hardware, Patches

#8714 Add WWAN and IOSM support to xpressreal-t3 kernel configuration
  config/kernel/linux-xpressreal-t3-6.6.config
Labels: Ready to merge, 11, size/small, Hardware

#8726 rk3566: fix m2 sata drives
  patch/kernel/archive/rockchip64-6.17/overlay/rockchip-rk3566-sata2.dtso
Labels: Ready to merge, 11, size/small, Hardware, Patches
