Repository armbian/build, pull requests merged in 2025-01, with the labels that each got.

#7636 Disable boards in Visionfive2 family as kernel compilation breaks
  config/boards/star64.eos
  config/boards/visionfive2.eos
Labels: Ready to merge, 02, Needs review, Hardware

#7635 Update linux-uefi-arm64-edge.config
  config/kernel/linux-uefi-arm64-edge.config
Labels: Ready to merge, 02, size/small, Hardware

#7630 Debian SID: drop broken package
  config/desktop/sid/environments/xfce
  config/desktop/sid/environments/xfce/architectures
  config/desktop/sid/environments/xfce/armbian/create_desktop_package.sh
  config/desktop/sid/environments/xfce/config_base/packages
  config/desktop/sid/environments/xfce/debian/postinst
  config/desktop/sid/environments/xfce/support
Labels: Desktop, Ready to merge, 02, Needs review, size/medium

#7638 rootfs: fix: don't try to use chroot binaries after qemu was undeployed
  lib/functions/rootfs/create-cache.sh
  lib/functions/rootfs/rootfs-create.sh
Labels: Ready to merge, 02, size/small, Framework

#7640 rockchip64-6.13: add missing patch to fix rk356x pcie2 for rc5
  patch/kernel/archive/rockchip64-6.13/rk356x-fix-pcie2-reset.patch
Labels: Ready to merge, 02, size/small, Hardware, Patches

#7645 rockchip64-6.13: fix mbox formatting of `rk356x-fix-pcie2-reset.patch`
  patch/kernel/archive/rockchip64-6.13/rk356x-fix-pcie2-reset.patch
Labels: Ready to merge, 02, size/small, Hardware, Patches

#7644 cli-docker: avoid `argument list too long` errors when too many git changes present; fixes #6993
  lib/functions/cli/cli-docker.sh
Labels: Ready to merge, 02, Needs review, size/small, Framework

#7653 runners: fix `if_error_find_files_sdcard` if looking for full paths (shows DKMS log correctly)
  lib/functions/logging/runners.sh
Labels: Ready to merge, 02, Needs review, size/small, Framework

#7649 fix typo
  lib/functions/rootfs/distro-agnostic.sh
Labels: Ready to merge, 02, Needs review, size/small, Framework

#7648 add hdmi rx configuration for friendlyelec cm3588
  patch/kernel/archive/rockchip64-6.13/rk3588-1090-arm64-dts-rockchip-Add-HDMI-RX-config-to-FriendlyElec-CM3588.patch
Labels: Ready to merge, 02, size/medium, Hardware, Patches

#7655 v4l2loopback-dkms: do not restrict to desktops only
  extensions/v4l2loopback-dkms.sh
Labels: Ready to merge, 02, size/small, Framework

#7654 kernel-debs: headers: postinst: switch from `oldconfig` to `olddefconfig` for less messy output; better logging
  lib/functions/compilation/kernel-debs.sh
Labels: Ready to merge, 02, size/small, Framework

#7657 add typec role switch and pd negotiation support to oneplus 8T
  patch/kernel/archive/sm8250-6.12/0042-arm64-dts-qcom-sm8250-oneplus-Add-pm8150b-type-c-nod.patch
Labels: Ready to merge, 02, Needs review, size/medium, Hardware, Patches

#7650 `rock-s0` / `rockpi-s`: quote board vars
  config/boards/rock-s0.conf
  config/boards/rockpi-s.conf
Labels: Ready to merge, 02, size/medium, Hardware

#7646 Bump arm-trusted-firmware to 2.12 for rockchip64
  config/sources/families/include/rockchip64_common.inc
  lib/functions/compilation/atf.sh
Labels: Ready to merge, size/small, Hardware, Framework

#7642 rpi5b: drop `LINUXFAMILY=bcm2712` as it is exactly the same as `bcm2711`
  config/boards/rpi5b.csc
Labels: Ready to merge, 02, size/small, Hardware

#7668 Add Sweet Potato to xorg conf in family config
  config/sources/families/include/meson64_common.inc
Labels: Ready to merge, 02, Needs review, size/small, Hardware

#7662 nanopct6(-lts): edge: bump u-boot to 2025.01-rc6; enable UMS and fix non-LTS dtsi
  config/boards/nanopct6.conf
Labels: Ready to merge, 02, Needs review, size/medium, Hardware

#7660 RPi CM5: Enable DWC2 host mode support by default
  config/sources/families/bcm2711.conf
Labels: Ready to merge, 02, Needs review, size/small, Hardware

#7667 cm3588-nas: u-boot: 2025.01-rc6 with working UMS
  config/boards/cm3588-nas.csc
Labels: Ready to merge, 02, Needs review, size/medium, Hardware

#7670 nanopct6(-lts): u-boot: edge: bump to 2025.01 final
  config/boards/nanopct6.conf
Labels: Ready to merge, 02, size/small, Hardware

#7671 cm3588-nas: u-boot: bump to 2025.01 final
  config/boards/cm3588-nas.csc
Labels: Ready to merge, 02, Needs review, size/small, Hardware

#7674 xiaomi-elish: fix bsp package build
  config/boards/xiaomi-elish.conf
Labels: Needs review, size/small, Hardware

#7673 PocketChip: removing patch also from series
  patch/kernel/archive/sunxi-6.6/series.conf
Labels: Ready to merge, Build, 02, size/small, Hardware, Patches

#7677 K3: Use sfdisk instead of parted for setting flag in boot partition
  config/sources/families/k3.conf
Labels: Ready to merge, Bugfix, 02, size/small, Hardware

#7679 Partition process: fix handling loop devices
  lib/functions/image/partitioning.sh
Labels: Ready to merge, Bugfix, 02, size/small, Framework

#7680 AIC wifi and v4l2 extensions: disable them for kernel 6.12 and higher
  extensions/radxa-aic8800.sh
  extensions/v4l2loopback-dkms.sh
Labels: Ready to merge, Bugfix, 02, size/small, Framework

#7684 UEFI-arm64: disable broken Phytium network driver patch
  patch/kernel/archive/uefi-arm64-6.1/driver-phytium-stmmac-acpi.patch.disabled
Labels: 02, Needs review, size/small, Hardware, Patches

#7685 BananaPi BPI-F3: `Update to linux-6.6.70 & overclock to 1.8GHz`
  config/sources/families/spacemit.conf
  patch/kernel/archive/spacemit-6.6/004-Max-freq-limitation-1.8GHz.patch
Labels: Ready to merge, 02, size/medium, Hardware, Patches

#7689 rockchip64: fix rkvenc dtbo build
  patch/kernel/archive/rockchip64-6.12/overlay/Makefile
  patch/kernel/archive/rockchip64-6.13/overlay/Makefile
Labels: Ready to merge, 02, size/small, Hardware, Patches

#7681 rockchip64-6.13: NanoPi R6C/R6S SD card detect patch
  patch/kernel/archive/rockchip64-6.13/rk3588-1081-arm64-dts-rockchip-nanopi-r6c-r6s-fix_the_sd_card_detection.patch
Labels: Ready to merge, 02, size/small, Hardware, Patches

#7694 RaspberryPi BCM2711: `Enable FW_LOADER_COMPRESS support`
  config/kernel/linux-bcm2711-current.config
  config/kernel/linux-bcm2711-edge.config
Labels: Needs review, size/small, Hardware

#7696 Firstlogin: run provision script if it does exists
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Bugfix, 02, Needs review, size/small, BSP

#7699 update rtl8822cs driver link to latest commit (update for kernel 6.13+)
  lib/functions/compilation/patch/drivers_network.sh
Labels: Needs review, size/small, Framework

#7702 ghproxy: update GHPROXY_ADDRESS to ghfast.top
  lib/functions/configuration/main-config.sh
Labels: Ready to merge, 02, Needs review, size/small, Framework

#7713 dockerproxy: update GHCR_MIRROR_ADDRESS
  lib/functions/configuration/main-config.sh
Labels: Needs review, size/small, Framework

#7722 BananaPI BPI-F3: `Pull branch instead of commit`
  config/sources/families/spacemit.conf
Labels: Ready to merge, 02, size/small, Hardware

#7721 Nanopi R5S: proper pci phy reset - fixing missing LAN1
  patch/kernel/archive/rockchip64-6.12/rk3568-bugfix-amadeus_phy_rockchip_naneng_combphy_compatible_reset_with_old_dt.patch
  patch/kernel/archive/rockchip64-6.6/rk3568-bugfix-amadeus_phy_rockchip_naneng_combphy_compatible_reset_with_old_dt.patch
Labels: Ready to merge, 02, size/medium, Hardware, Patches

#7720 Bump uboot to youyeetoo r1 v3 to the next release
  config/boards/youyeetoo-r1-v3.csc
Labels: Ready to merge, 02, size/small, Hardware

#7719 hooks: introduce `post_armbian_repo_customize_image` and `post_repo_customize_image`
  lib/functions/main/rootfs-image.sh
  lib/functions/rootfs/customize.sh
Labels: Ready to merge, 02, size/small, Framework

#7718 Family Visionfive: seems unmaintained, disabling targets
  config/boards/beaglev.eos
  config/boards/unleashed.eos
  config/boards/unmatched.eos
  config/boards/visionfive.eos
Labels: Ready to merge, Build, 02, size/small

#7717 UEFI kernels, legacy = 6.6, current 6.12 & edge 6.13
  config/kernel/linux-uefi-arm64-current.config
  config/kernel/linux-uefi-arm64-legacy.config
  config/kernel/linux-uefi-riscv64-current.config
  config/kernel/linux-uefi-riscv64-legacy.config
  config/kernel/linux-uefi-x86-current.config
  config/kernel/linux-uefi-x86-legacy.config
  config/sources/families/include/uefi_common.inc
  lib/functions/compilation/patch/drivers_network.sh
  patch/kernel/archive/uefi-arm64-6.1/board-hikey960-usb.patch
  patch/kernel/archive/uefi-arm64-6.1/driver-phytium-stmmac-acpi.patch.disabled
Labels: Ready to merge, 02, size/large, Hardware, Framework, Patches

#7711 enable current kernel for hinlink-h6xk boards
  config/boards/hinlink-h66k.csc
  config/boards/hinlink-h68k.csc
  config/boards/hinlink-hnas.csc
Labels: Ready to merge, 02, Needs review, size/small, Hardware

#7704 MBa8MPxL: update linux-tqma-current to 6.12
  config/kernel/linux-tqma-current.config
  config/sources/families/include/imx8_common.inc
  patch/kernel/archive/imx8m-6.12/0001-Add-lvds-device-tree-for-imx8mp-tqma8mpql-mba8mp-ras.patch
Labels: Ready to merge, 02, size/small, Hardware, Patches

#7723 3rd party wifi: partially revert rtl8811cu driver as it breaks on K6.6
  lib/functions/compilation/patch/drivers_network.sh
Labels: size/small

#7724 Macchiatobin: move board to eos so we don't build this family kernel anymore
  config/boards/macchiatobin-doubleshot.eos
Labels: size/small

#7716 Refactor armbian-config into install as external package
  extensions/armbian-config.sh
  lib/functions/artifacts/artifact-armbian-config.sh
  lib/functions/artifacts/artifacts-registry.sh
  lib/functions/cli/commands.sh
  lib/functions/compilation/packages/armbian-config-deb.sh
  lib/functions/compilation/utils-compilation.sh
  lib/functions/configuration/main-config.sh
  lib/functions/main/build-packages.sh
  lib/functions/rootfs/distro-agnostic.sh
  lib/library-functions.sh
Labels: Ready to merge, 02, size/large, Framework

#7734 coolpi-genbook: bump u-boot to 2025.01
  config/boards/coolpi-genbook.csc
Labels: Ready to merge, 02, Needs review, size/small, Hardware

#7733 Moving Odroid C1 and OneCloud to EOS since kernel is not assembling anymore
  config/boards/odroidc1.eos
  config/boards/onecloud.eos
Labels: Ready to merge, 02, Needs review, Hardware

#7728 kernel: call oldconfig _after_ kernel config hooks; add hook for `CONFIG_CFG80211=m` and `CONFIG_MAC80211=m` on 6.13+
  lib/functions/compilation/armbian-kernel.sh
  lib/functions/compilation/kernel-config.sh
Labels: Ready to merge, 02, size/medium, Framework

#7725 git: squash spurious warning when checking safe.directory
  lib/functions/general/git.sh
Labels: Ready to merge, 02, Needs review, size/small, Framework

#7709 actions(update-tools): avoid notifying our outdated deps everywhere
  .github/workflows/update-tools.yml
Labels: Ready to merge, 02, size/small, GitHub Actions

#7736 wireless: fix build with kernel 6.13
  lib/functions/compilation/patch/drivers_network.sh
Labels: Needs review, size/small, Framework

#7737 wifi drivers: update commit id of rtl8811cu and rtl88x2bu
  lib/functions/compilation/patch/drivers_network.sh
Labels: Ready to merge, 02, size/small, Framework

#7730 disable ccache in a friendly way
  lib/functions/configuration/compilation-config.sh
  lib/functions/configuration/main-config.sh
Labels: Ready to merge, 02, Needs review, size/small, Framework

#7738 Add upstream release as csc target: Ubuntu plucky 25.04, Oracular to EOS
  config/cli/plucky
  config/desktop/plucky
  config/distributions/oracular/support
  config/distributions/plucky/architectures
  config/distributions/plucky/name
  config/distributions/plucky/order
  config/distributions/plucky/support
  config/distributions/plucky/upgrade
  lib/functions/configuration/main-config.sh
  lib/functions/rootfs/distro-specific.sh
Labels: Desktop, 02, Needs review, Framework

#7740 Ubuntu Plucky: disable missing packages
  config/desktop/common/environments/cinnamon/config_base/packages
  config/desktop/common/environments/xfce/config_base/packages
Labels: size/small

#7683 nanopi-r6s: u-boot: bump to 2025.01 final, with working UMS and SD -> NVMe -> eMMC boot order
  config/boards/nanopi-r6s.conf
  patch/u-boot/v2024.10/board_nanopi-r6s/0001-adjust-wrong-mmc0-mmc1-ordering.patch
Labels: Ready to merge, 02, size/medium, Hardware, Patches

#7682 nanopi-r6c: u-boot: bump to 2025.01 final, with working UMS and SD -> NVMe -> eMMC boot order
  config/boards/nanopi-r6c.csc
Labels: Ready to merge, 02, size/medium, Hardware

#7742 Update Odin2 Config
  config/boards/ayn-odin2.csc
  config/kernel/linux-arm64-sm8550.config
Labels: Ready to merge, 02, size/large, Hardware

#7746 h96max-v56: u-boot: bump to 2025.01
  config/boards/h96-tvbox-3566.tvb
  patch/kernel/archive/rockchip64-6.12/dt/rk3566-h96-tvbox.dts
  patch/kernel/archive/rockchip64-6.6/dt/rk3566-h96-tvbox.dts
  patch/u-boot/v2025.01/board_h96-tvbox-3566/001-Add-board-h96max-v56-rk3566.patch
Labels: Ready to merge, 02, size/large, Hardware, Patches

#7750 Rockpi-S: enable automatic u-boot flashing upon package install
  config/boards/rockpi-s.conf
Labels: Needs review, size/small, Hardware

#7755 Limit curl execution time to 2s to find WAN IP
  packages/bsp/common/etc/update-motd.d/10-armbian-header
Labels: Ready to merge, 02, size/small, BSP

#7751 MBa8MPxL: cleanup board configs
  config/boards/mba8mpxl-ras314.conf
  config/boards/mba8mpxl.conf
Labels: Ready to merge, 02, size/medium, Hardware

#7758 Switch linux-rockchip to from rkr4.1 to rkr5
  config/boards/mixtile-edge2.csc
  config/sources/families/rk35xx.conf
  config/sources/families/rockchip-rk3588.conf
  patch/kernel/rk35xx-vendor-6.1/0000.patching_config.yaml
Labels: Ready to merge, 02, size/small, Hardware, Patches

#7761 nanopc t4: fix sdram unstable
  config/boards/nanopct4.csc
  patch/u-boot/u-boot-rockchip64-v2022.04/rk3399-nanopc-t4-use-1600MHz-sdram-configuration.patch
  patch/u-boot/u-boot-rockchip64/rk3399-nanopc-t4-use-1600MHz-sdram-configuration.patch
Labels: Ready to merge, 02, size/medium, Hardware, Patches

#7759 MBa8MPxL: cleanup fix X11 settings
  config/boards/mba8mpxl-ras314.conf
  config/boards/mba8mpxl.conf
Labels: Ready to merge, 02, size/medium, Hardware

#7760 aml-c400-plus: Remove duplicated code present in meson-gx-p23x-q20x.dtsi
  patch/kernel/archive/meson64-6.12/dt/meson-gxm-c400-plus.dts
  patch/kernel/archive/meson64-6.13/dt/meson-gxm-c400-plus.dts
Labels: Ready to merge, 02, size/medium, Hardware, Patches

#7556 Add support for NanoPi R3S
  config/boards/nanopi-r3s.csc
  patch/kernel/archive/rockchip64-6.12/dt/rk3566-nanopi-r3s.dts
  patch/kernel/archive/rockchip64-6.13/board-nanopi-r3s-fix-leds.patch
  patch/u-boot/v2024.10/board_nanopi-r3s/0001-rockchip-rk3566-add-nanopi-r3s.patch
Labels: Ready to merge, size/large, Hardware, Patches

#7756 helios64: restore hs400 support after enabling strobe line internal p…
  patch/kernel/archive/rockchip64-6.12/add-board-helios64.patch
  patch/kernel/archive/rockchip64-6.13/add-board-helios64.patch
Labels: Ready to merge, 02, size/small, Hardware, Patches

#7764 sm8250-current: enable CONFIG_USB_SERIAL_CH341
  config/kernel/linux-sm8250-current.config
Labels: Ready to merge, 02, size/small, Hardware

#7766 Add missing firmware package for build-in driver cfg80211
  config/cli/common/main/packages
Labels: Ready to merge, 02, Framework
