Repository armbian/build, pull requests merged in 2025-02, with the labels that each got.

#7774 nanopct6(-lts): bump u-boot to 2025.04-rc1
  config/boards/nanopct6.conf
Labels: Ready to merge, 02, size/small, Hardware

#7770 rock-3a: bump `edge` u-boot to 2025.01
  config/boards/rock-3a.conf
Labels: Ready to merge, 02, size/small, Hardware

#7765 helios64: fix helios64-heartbeat-led.service
  patch/kernel/archive/rockchip64-6.12/add-board-helios64.patch
  patch/kernel/archive/rockchip64-6.13/add-board-helios64.patch
  patch/kernel/archive/rockchip64-6.9/add-board-helios64.patch
Labels: Ready to merge, 02, size/small, Hardware, Patches

#7777 BananaPi BPI-F3: `patch fail fixup`
  patch/kernel/archive/spacemit-6.6/001-Add-board-BananaPi-BPI-F3.patch
Labels: Needs review, size/small, Hardware, Patches

#7778 Mesa VPU: allow package downgrading at apt upgrade
  extensions/mesa-vpu.sh
Labels: Needs review, size/small, Framework

#7779 mesa-vpu: only add kisak ppa for jammy
  extensions/mesa-vpu.sh
Labels: Ready to merge, 02, size/small, Framework

#7780 BananaPi BPI-F3: U-Boot: `Update to tag k1-bl-v2.1-release`
  config/sources/families/spacemit.conf
  patch/u-boot/legacy/u-boot-spacemit-k1/003-add-syslinux-and-script-support.patch
  patch/u-boot/legacy/u-boot-spacemit-k1/005-CONFIG_LOCALVERSION-SpacemiT.patch
Labels: Ready to merge, 02, size/medium, Hardware, Patches

#7782 feat: Use deb822 APT source for armbian-config
  extensions/armbian-config.sh
  lib/functions/rootfs/distro-specific.sh
Labels: Ready to merge, 02, Needs review, size/small, Framework

#7784 Rock-S0: enable automatic u-boot flashing upon package install
  config/boards/rock-s0.conf
Labels: Ready to merge, 02, size/small, Hardware

#7695 rockchip/64: fix pl330 cyclic dma transfers
  patch/kernel/archive/rockchip-6.12/armbian.series
  patch/kernel/archive/rockchip-6.12/patches.armbian/general-increase-spdif-dma-burst.patch
  patch/kernel/archive/rockchip-6.12/patches.armbian/general-pl330-01-fix-periodic-transfers.patch
  patch/kernel/archive/rockchip-6.12/patches.armbian/general-pl330-02-add-support-for-interleaved-transfers.patch
  patch/kernel/archive/rockchip-6.12/patches.armbian/general-pl330-03-fix-data-race-on-tx-transfers.patch
  patch/kernel/archive/rockchip-6.12/patches.armbian/general-pl330-04-bigger-mcode-buffer.patch
  patch/kernel/archive/rockchip-6.12/patches.armbian/general-pl330-05-fix-unbalanced-power-down.patch
  patch/kernel/archive/rockchip-6.12/series.conf
  patch/kernel/archive/rockchip-6.13/armbian.series
  patch/kernel/archive/rockchip-6.13/patches.armbian/general-increase-spdif-dma-burst.patch
  patch/kernel/archive/rockchip-6.13/patches.armbian/general-pl330-01-fix-periodic-transfers.patch
  patch/kernel/archive/rockchip-6.13/patches.armbian/general-pl330-02-add-support-for-interleaved-transfers.patch
  patch/kernel/archive/rockchip-6.13/patches.armbian/general-pl330-03-fix-data-race-on-tx-transfers.patch
  patch/kernel/archive/rockchip-6.13/patches.armbian/general-pl330-04-bigger-mcode-buffer.patch
  patch/kernel/archive/rockchip-6.13/patches.armbian/general-pl330-05-fix-unbalanced-power-down.patch
  patch/kernel/archive/rockchip-6.13/series.conf
  patch/kernel/archive/rockchip64-6.12/general-increase-spdif-dma-burst.patch
  patch/kernel/archive/rockchip64-6.12/general-pl330-01-fix-periodic-transfers.patch
  patch/kernel/archive/rockchip64-6.12/general-pl330-02-add-support-for-interleaved-transfers.patch
  patch/kernel/archive/rockchip64-6.12/general-pl330-03-fix-data-race-on-tx-transfers.patch
  patch/kernel/archive/rockchip64-6.12/general-pl330-04-bigger-mcode-buffer.patch
  patch/kernel/archive/rockchip64-6.12/general-pl330-05-fix-unbalanced-power-down.patch
  patch/kernel/archive/rockchip64-6.13/general-increase-spdif-dma-burst.patch
  patch/kernel/archive/rockchip64-6.13/general-pl330-01-fix-periodic-transfers.patch
  patch/kernel/archive/rockchip64-6.13/general-pl330-02-add-support-for-interleaved-transfers.patch
  patch/kernel/archive/rockchip64-6.13/general-pl330-03-fix-data-race-on-tx-transfers.patch
  patch/kernel/archive/rockchip64-6.13/general-pl330-04-bigger-mcode-buffer.patch
  patch/kernel/archive/rockchip64-6.13/general-pl330-05-fix-unbalanced-power-down.patch
Labels: Ready to merge, 02, size/large, Hardware, Patches

#7786 imx6: move current to 6.12.y
  config/sources/families/imx6.conf
  patch/kernel/archive/imx6-6.12/.placeholder
Labels: Ready to merge, 02, Hardware, Patches

#7793 IMX8: switch u-boot sources to last known working commit
  config/sources/families/imx8m.conf
Labels: Bugfix, Build, 02, 05, Needs review, size/small, Hardware

#7796 rockchip: fix tinkerboard out-of-the-box pulseaudio configuration
  config/sources/families/rockchip.conf
  packages/bsp/rockchip/89-pulseaudio-usb.rules
  packages/bsp/rockchip/pulseaudio.txt
  packages/bsp/rockchip/tinkerboard-usb-audio.pa
Labels: Ready to merge, 02, Needs review, size/small, Hardware, BSP

#7799 Update rock-5c.conf - add KERNEL_TEST_TARGET
  config/boards/rock-5c.conf
Labels: Ready to merge, 02, size/small, Hardware

#7804 Revert commit that breaks compilation
  patch/kernel/archive/rockchip64-6.12/board-rocks0-0001-Revert-arm64-dts-rockchip-Fix-sdmmc-access-on-rk3308.patch
  patch/kernel/archive/rockchip64-6.13/board-rocks0-0001-Revert-arm64-dts-rockchip-Fix-sdmmc-access-on-rk3308.patch
Labels: Ready to merge, Build, 02, size/medium, Hardware, Patches

#7803 firstlogin: bring up wifi device before scanning
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready to merge, 02, Needs review, size/small, BSP

#7787 Update odroidxu4-current to 6.6.75
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.68-69.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.69-70.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.70-71.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.71-72.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.72-73.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.73-74.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.74-75.patch
Labels: Ready to merge, 02, size/large, Hardware, Patches

#7794 Fix orangepi 3b audio jack boot download 'button'
  patch/u-boot/v2024.10/board_orangepi3b/rockchip-rk3566-orangepi-3b-remove_download_button.patch
Labels: Ready to merge, 02, size/small, Hardware, Patches

#7797 hinlink-h88k: fix usb dr_mode
  patch/kernel/archive/rockchip64-6.12/dt/rk3588-hinlink-h88k.dts
  patch/kernel/archive/rockchip64-6.13/dt/rk3588-hinlink-h88k.dts
Labels: Ready to merge, 02, size/medium, Hardware, Patches

#7675 armbian-kernel.sh: introduce `KERNEL_BTF=no` to opt-out of BTF/CO-RE type-info on low-RAM machines
  lib/functions/compilation/armbian-kernel.sh
Labels: Ready to merge, 02, 05, size/medium, Framework

#7810 nanopi-r3s: set `HAS_VIDEO_OUTPUT`
  config/boards/nanopi-r3s.csc
Labels: Ready to merge, 02, Needs review, size/small, Hardware

#7816 extensions: fix outdated ghproxy mirror address
  extensions/bcmdhd.sh
  extensions/radxa-aic8800.sh
Labels: Needs review, size/small, Framework

#7809 Chore mkspi cli only images
  config/boards/mkspi.csc
Labels: Ready to merge, size/small, Hardware, Documentation, GitHub

#7807 mksklipad50: Build only CLI images
  config/boards/mksklipad50.csc
Labels: Ready to merge, 02, Needs review, size/small, Hardware

#7808 Meson: drop (long) broken legacy code which is also breaking CI
  config/boards/aml-s805-mxq.tvb
  config/boards/odroidc1.csc
  config/boards/onecloud.csc
  config/kernel/linux-meson-legacy.config
  config/sources/families/include/meson_common.inc
  patch/kernel/archive/meson-6.6/0010-arm64-swiotlb-Reduce-the-default-size-if-no-ZONE_DMA-bouncing-needed.patch
  patch/kernel/archive/meson-6.6/generic-0001-m8-m8b-m8m2-Support-HDMI.patch
  patch/kernel/archive/meson-6.6/generic-0003-drm-meson-Support-meson-8-8b-hdmi-tx-components.patch
  patch/kernel/archive/meson-6.6/generic-Revert-mmc-core-Set-HS-clock-speed-before-sending-HS-CMD13.patch
  patch/kernel/archive/meson-6.6/generic-Revert-pwm-meson-modify-and-simplify-calculation-in-.patch
  patch/kernel/archive/meson-6.6/odroidc1-dts-Enable-HDMI.patch
  patch/kernel/archive/meson-6.6/onecloud-0001-add-dts.patch
  patch/kernel/archive/meson-6.6/onecloud-0002-dts-Support-HDMI.patch
Labels: Ready to merge, size/large, Hardware, Patches

#7813 rockchip64: disable pl330 patch due to pulseaudio issues
  patch/kernel/archive/rockchip64-6.12/general-pl330-01-fix-periodic-transfers.patch.disabled
  patch/kernel/archive/rockchip64-6.12/general-pl330-02-add-support-for-interleaved-transfers.patch.disabled
  patch/kernel/archive/rockchip64-6.12/general-pl330-03-fix-data-race-on-tx-transfers.patch.disabled
Labels: Needs review, size/small, Hardware, Patches

#7814 Bugfix: Remove directories from sha files
  lib/functions/image/compress-checksum.sh
Labels: 02, 05, size/small, Framework

#7822 Revert "fxblox-rk1: add missing patch for latest radxa uboot"
  patch/u-boot/legacy/u-boot-radxa-rk35xx/0001-add-rk3588-fxblox-rk1-board.patch
Labels: Ready to merge, 02, size/large, Hardware, Patches

#7824 Odroid XU4: disable BTF as it crashes kernel load
  config/kernel/linux-odroidxu4-current.config
  config/sources/families/odroidxu4.conf
Labels: Bugfix, 02, Needs review, size/small, Hardware

#7825 Revert "imx6: move current to 6.12.y"
  config/kernel/linux-imx6-current.config
  config/sources/families/imx6.conf
  patch/kernel/archive/imx6-6.10/.placeholder
Labels: Needs review, size/small, Hardware, Patches

#7823 rockchip64: remove patch to fix rockpi-e gigabit eth
  patch/kernel/archive/rockchip64-6.12/board-rockpie-0001-arm64-dts-rockchip-fix-gmac-PHY-attach-error.patch
Labels: Ready to merge, Bugfix, 02, size/small, Hardware, Patches

#7832 Bump two leftover radxa rk35xx uboot to next-dev-v2024.10
  config/boards/mixtile-edge2.csc
  config/boards/rock-5c.conf
Labels: Ready to merge, size/small, Hardware

#7828 Odroid M2: initial support
  config/boards/odroidm2.csc
Labels: Ready to merge, 05, size/medium, Hardware

#7827 remove software-properties-common/gtk for trixie and sid
  config/cli/sid/main/packages.additional
  config/cli/trixie/main/packages.additional
  config/desktop/sid/environments/xfce/config_base/packages
Labels: Desktop, Ready to merge, 05, Needs review, size/small, Framework

#7841 Add Support for Rock 5T
  config/boards/rock-5t.conf
Labels: Ready to merge, 02, 05, size/small, Hardware

#7842 Orangepi 5 MAX - add support for `current`
  config/boards/orangepi5-max.csc
  patch/kernel/archive/rockchip64-6.12/dt/rk3588-orangepi-5-max.dts
Labels: Ready to merge, 05, size/large, Hardware, Patches

#7839 mesa-vpu: add chromium back for debian and noble
  extensions/mesa-vpu.sh
Labels: Ready to merge, 02, 05, Needs review, size/small, Framework

#7847 Ubuntu Plucky: add architecture dependent packages
  config/optional/architectures/arm64/_config/cli/plucky
Labels: Ready to merge, size/small, Hardware

#7846 Magicsee C400-Plus: Switch to standard support
  config/boards/aml-c400-plus.conf
Labels: Ready to merge, 02, 05, Needs review, size/small, Hardware

#7844 station-p2: delete the redundant function.
  config/boards/station-p2.csc
Labels: Ready to merge, 05, size/small, Hardware

#7843 station-m2: delete the redundant function.
  config/boards/station-m2.csc
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#7769 odroidm1: u-boot: enable `setexpr`; patch 2025.01 for `fileenv`; enable squashfs support
  config/boards/odroidm1.conf
  patch/u-boot/v2025.01/cmd-fileenv-read-string-from-file-into-env.patch
Labels: Ready to merge, 02, size/medium, Hardware, Patches

#7791 Bump VERSION
  VERSION
Labels: Ready to merge, 05, size/small

#7848 Raspberry PI: move EDGE kernel from 6.14 to 6.13 as it doesn't build
  config/sources/families/bcm2711.conf
Labels: Ready to merge, 02, 05, size/small, Hardware

#7849 Plucky: drop non existing packages
  config/desktop/plucky/environments/cinnamon/config_base/packages
  config/desktop/plucky/environments/xfce/config_base/packages
Labels: Desktop, Bugfix, 02, 05, Needs review, size/small

#7858 station-m2: use mainline devicetree name
  config/boards/station-m2.csc
  patch/kernel/archive/rockchip64-6.12/board-station-m2.patch
  patch/kernel/archive/rockchip64-6.12/dt/rk3566-firefly-roc-pc.dts
  patch/kernel/archive/rockchip64-6.13/board-station-m2.patch
  patch/kernel/archive/rockchip64-6.13/dt/rk3566-firefly-roc-pc.dts
Labels: Ready to merge, 05, size/large, Hardware, Patches

#7851 MKS-Klipad50: Switch to standard support
  config/boards/mksklipad50.conf
Labels: Ready to merge, 02, 05, Needs review, size/small, Hardware

#7860 SM8250: drop upstreamed patch as it breaks compilation
  patch/kernel/archive/sm8250-6.12/0030-drm-msm-dpu1-don-t-choke-on-disabling-the-writeback-.patch
Labels: Ready to merge, Build, 05, size/small, Hardware, Patches

#7850 kernel: fix for 6.14 make clean fail at tools dir due to upstream dir change
  lib/functions/compilation/kernel-debs.sh
Labels: Needs review, size/small, Framework

#7861 export-logs: use multiple paste servers in order until one works
  lib/functions/logging/export-logs.sh
Labels: Needs review, size/small, Framework

#7855 sun55iw3-syterkit: update kernel config
  config/kernel/linux-sun55iw3-syterkit-legacy.config
Labels: Ready to merge, 05, size/small, Hardware

#7871 Bump Vim1-2 u-boot binaries (stopgap)
  packages/blobs/meson/u-boot-vim1-sd.bin
  packages/blobs/meson/u-boot-vim2-sd.bin
Labels: Ready to merge, 05, Needs review, size/small, BSP

#7857 rockchip64: fix wrong GPIO direction in DP virtual extcon driver
  patch/kernel/archive/rockchip64-6.12/general-add-miniDP-virtual-extcon.patch
  patch/kernel/archive/rockchip64-6.13/general-add-miniDP-virtual-extcon.patch
  patch/kernel/archive/rockchip64-6.6/general-add-miniDP-virtual-extcon.patch
  patch/kernel/archive/rockchip64-6.9/general-add-miniDP-virtual-extcon.patch
Labels: Ready to merge, 05, size/small, Hardware, Patches

#7853 rockchip/64: fix again periodic dma and audio stuttering
  patch/kernel/archive/rockchip-6.12/armbian.series
  patch/kernel/archive/rockchip-6.12/patches.armbian/general-pl330-03-fix-data-race-on-tx-transfers.patch
  patch/kernel/archive/rockchip-6.12/patches.armbian/general-pl330-06-fix-buffer-underruns.patch
  patch/kernel/archive/rockchip-6.12/series.conf
  patch/kernel/archive/rockchip-6.13/armbian.series
  patch/kernel/archive/rockchip-6.13/patches.armbian/general-pl330-03-fix-data-race-on-tx-transfers.patch
  patch/kernel/archive/rockchip-6.13/patches.armbian/general-pl330-06-fix-buffer-underruns.patch
  patch/kernel/archive/rockchip-6.13/series.conf
  patch/kernel/archive/rockchip64-6.12/general-pl330-01-fix-periodic-transfers.patch
  patch/kernel/archive/rockchip64-6.12/general-pl330-02-add-support-for-interleaved-transfers.patch
  patch/kernel/archive/rockchip64-6.12/general-pl330-03-fix-data-race-on-tx-transfers.patch.disabled
  patch/kernel/archive/rockchip64-6.12/general-pl330-06-fix-buffer-underruns.patch
  patch/kernel/archive/rockchip64-6.13/general-pl330-03-fix-data-race-on-tx-transfers.patch
  patch/kernel/archive/rockchip64-6.13/general-pl330-06-fix-buffer-underruns.patch
Labels: Ready to merge, Needs review, size/large, Hardware, Patches

#7868 small cleanup Meson64
  config/sources/families/include/meson64_common.inc
  config/sources/families/meson-gxl.conf
Labels: Ready to merge, 02, 05, Needs review, size/small, Hardware

#7872 rockchip64: RK3588 update DDR & BL31 blobs
  config/sources/families/include/rockchip64_common.inc
Labels: Ready to merge, 02, size/small, Hardware

#7869 generate_CODEOWNERS.sh: fix issues and support BOOTPATCHDIR and ATFPATCHDIR
  .github/generate_CODEOWNERS.sh
Labels: Ready to merge, 05, size/small, GitHub

#7875 Move Meson GX to LibreElec FIP
  config/sources/families/include/meson64_common.inc
  config/sources/families/meson-gxbb.conf
  config/sources/families/meson-gxl.conf
Labels: Ready to merge, 05, Needs review, size/medium, Hardware

#7874 arm64: dts: rockchip: fix gpio-line-names to radxa-rock-3a
  patch/kernel/archive/rockchip64-6.12/board-rock3a-0003-add-gpio-names.patch
Labels: Ready to merge, 05, Needs review, size/medium, Hardware, Patches

#7873 python3: do not rely on hostdeps python3-pip nor python3-dev; deploy pip via get-pip.py
  lib/functions/general/python-tools.sh
  lib/functions/host/prepare-host.sh
  requirements.txt
Labels: Ready to merge, 05, size/medium, Framework

#7790 feat: Use deb822 APT sources
  config/boards/ayn-odin2.csc
  config/boards/oneplus-kebab.conf
  config/boards/xiaomi-elish.conf
  config/boards/xiaomi-umi.eos
  config/sources/families/bcm2711.conf
  lib/functions/main/rootfs-image.sh
  lib/functions/rootfs/distro-agnostic.sh
  lib/functions/rootfs/distro-specific.sh
Labels: Ready to merge, 05, size/medium, Hardware, Framework

#7877 After changing apt lists methodology, we need to rebuild rootfs cache
  lib/functions/rootfs/create-cache.sh
Labels: Ready to merge, 05

#7864 Hinlink-H88k: some fix to dts
  patch/kernel/archive/rockchip64-6.12/dt/rk3588-hinlink-h88k.dts
  patch/kernel/archive/rockchip64-6.13/dt/rk3588-hinlink-h88k.dts
Labels: Ready to merge, size/medium, Hardware, Patches

#7882 hinlink-h88k: revert second hdmi output support for 6.12 kernel
  patch/kernel/archive/rockchip64-6.12/dt/rk3588-hinlink-h88k.dts
Labels: Needs review, size/small, Hardware, Patches

#7894 Add e2fspros as it fell out of default dependency
  config/cli/common/main/packages
Labels: Ready to merge, Bugfix, 05, size/small, Framework

#7885 Add initial support for TI SK-AM69 board
  config/boards/sk-am69.conf
Labels: Ready to merge, 05, size/small, Hardware
