Repository armbian/build, pull requests merged in 2025-05, with the labels that each got.

#8148 Remove mainlined patch in 6.14.5
  patch/kernel/archive/rockchip64-6.14/rk3588-0134-clk-check-for-disabled-clock-provider-in-of_clk_get_.patch
Labels: Ready to merge, 05, size/medium, Hardware, Patches

#8133 extensions: add APA extension
  extensions/apa.sh
Labels: Ready to merge, 05, Needs review, size/small, Framework

#8130 config: boards: pocketbeagle2: Use extlinux
  config/boards/pocketbeagle2.csc
Labels: 05, Needs review, size/small, Hardware

#8149 Add option to disable kernel patching
  config/sources/common.conf
Labels: Ready to merge, 05, Needs review, size/small, Hardware, Needs Documentation

#8150 Remove deprecated CM3588 devicetree
  patch/kernel/archive/rockchip64-6.14/dt/rk3588-nanopc-cm3588-nas.dts
Labels: 05, Needs review, size/small, Hardware, Patches

#8144 partitioning: Add BTRFS_ROOT_SUBVOLUME switch
  lib/functions/image/partitioning.sh
Labels: Ready to merge, 05, Needs review, size/small, Framework, Needs Documentation

#8155 Add bananapim7 description - interactive build fix
  config/boards/bananapim7.conf
Labels: Ready to merge, Bugfix, 05, Needs review, size/small, Hardware

#8162 SpacemiT: Defconfig: `Add CONFIG_TUN=m`
  config/kernel/linux-spacemit-current.config
Labels: Ready to merge, 05, size/small, Hardware

#8164 hinlink-h88k: enable uboot serial log
  patch/u-boot/legacy/u-boot-radxa-rk35xx/board_hinlink-h88k/uboot-hinlink-h88k-config.patch
Labels: Ready to merge, 05, size/small, Hardware, Patches

#8168 odroidxu4: fix uboot compilation for Noble hosts
  patch/u-boot/legacy/board_odroidxu4/fix-compilation-on-noble.patch
Labels: Ready to merge, 05, size/small, Hardware, Patches

#8169 indiedroid-nova: fix uboot compilation on Noble hosts
  patch/u-boot/legacy/board_indiedroid-nova/fix-compilation-on-noble.patch
Labels: Ready to merge, 05, size/small, Hardware, Patches

#8170 Create helios4_defconfig-0002-enable-setexpr-command.patch
  patch/u-boot/legacy/u-boot-helios4/board_helios4/helios4_defconfig-0002-enable-setexpr-command.patch
Labels: Ready to merge, 05, size/small, Hardware, Patches

#8166 Update boot-mvebu.cmd
  config/bootscripts/boot-mvebu.cmd
Labels: Ready to merge, 05, size/medium, Hardware

#8172 Orangepi5PRO: move to EOS as it has broken u-boot compilation on Noble
  config/boards/orangepi5pro.eos
Labels: 05, Needs review, size/small, Hardware

#8173 board: youyeetoo-r1 v3 – Bumped U-Boot and reorder kernel targets
  config/boards/youyeetoo-r1-v3.csc
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#8174 Helios4: add fancontrol package and switch to .conf
  config/boards/helios4.conf
Labels: Ready to merge, 05, size/small, Hardware

#8179 Updating maintainers: switch to new location of JSON file
  .github/workflows/adjust-maintainers.yml
Labels: Ready to merge, 05, Needs review, size/small, GitHub Actions

#8175 uboot: mainline board: youyeetoo r1 add uboot patches
  config/boards/youyeetoo-r1-v3.csc
  patch/u-boot/v2025.04/board_youyeetoo-r1-v3/youyeetoo-r1-v3-add-support.patch
  patch/u-boot/v2025.04/board_youyeetoo-r1-v3/youyeetoo-r1-v3-upstream-dts.patch
Labels: 05, Needs review, size/large, Hardware, Patches

#8182 Improve welcoming text for 1st time PR and issues contributors
  .github/workflows/issue-welcome-first-time.yml
  .github/workflows/pr-welcome-first-time.yml
Labels: Ready to merge, 05, Needs review, size/small, GitHub Actions

#8181 orangepi5pro: Fix uboot compilation
  config/boards/orangepi5pro.csc
  patch/u-boot/legacy/board_orangepi5pro/fix-noble-build.patch
Labels: Ready to merge, 05, Needs review, size/medium, Hardware, Patches

#8177 Update prepare-host.sh to use ntpsec-ntpdate
  lib/functions/host/prepare-host.sh
Labels: Ready to merge, 05, Needs review, size/small, Framework

#8187 Mekotronics: move two boards from community supported to supported
  config/boards/mekotronics-r58-minipc.conf
  config/boards/mekotronics-r58x.conf
Labels: Ready to merge, 05, size/small, Hardware

#8191 BananaPi BPI-M4-Zero: `Enable GPU and add Audio nodes`
  patch/kernel/archive/sunxi-6.12/patches.armbian/Add-board-BananaPi-BPI-M4-Zero.patch
  patch/kernel/archive/sunxi-6.13/patches.armbian/Add-board-BananaPi-BPI-M4-Zero.patch
Labels: 05, Needs review, size/medium, Hardware, Patches

#8189 mvebu: bootscript fixes & enhancements
  config/bootscripts/boot-mvebu.cmd
Labels: Ready to merge, 05, Needs review, size/medium, Hardware

#8186 Extend chroot mount helper to include cache directories
  lib/functions/general/chroot-helpers.sh
Labels: Ready to merge, 05, Needs review, size/small, Framework

#8196 Revert "add in cache to the image, allowing caching in customize image step
  lib/functions/general/chroot-helpers.sh
Labels: Ready to merge, 05, Needs review, size/small, Framework

#8201 Fix and improve Armbian GH Action
  README.md
  action.yml
Labels: Ready to merge, 05, Needs review, size/small, Documentation

#8193 mvebu: bump EDGE kernel to 6.12 and disable PCIEASPM
  config/kernel/linux-mvebu-current.config
  config/kernel/linux-mvebu-edge.config
  config/sources/families/mvebu.conf
  patch/kernel/archive/mvebu-6.12/09-pci-link-retraining.patch.disabled
  patch/kernel/archive/mvebu-6.12/91-01-libata-add-ledtrig-support.patch.disabled
  patch/kernel/archive/mvebu-6.12/91-02-Enable-ATA-port-LED-trigger.patch.disabled
  patch/kernel/archive/mvebu-6.12/92-mvebu-gpio-add_wake_on_gpio_support.patch
  patch/kernel/archive/mvebu-6.12/92-mvebu-gpio-remove-hardcoded-timer-assignment.patch.disabled
  patch/kernel/archive/mvebu-6.12/94-helios4-dts-add-wake-on-lan-support.patch
  patch/kernel/archive/mvebu-6.12/compile-dtb-with-symbol-support.patch.disabled
  patch/kernel/archive/mvebu-6.12/dts-disable-spi-flash-on-a388-microsom.patch
  patch/kernel/archive/mvebu-6.12/general-increasing_DMA_block_memory_allocation_to_2048.patch
  patch/kernel/archive/mvebu-6.12/unlock_atheros_regulatory_restrictions.patch
Labels: Ready to merge, 05, Needs review, size/small, Hardware, Patches

#8200 partitioning: fix compressed BTRFS creation
  lib/functions/image/partitioning.sh
Labels: Ready to merge, 05, size/small, Framework

#8204 sakurapi-rk3308b: fix usb20phy_otg&u2phy_host, update the regulator name
  patch/kernel/archive/rockchip64-6.12/dt/rk3308-sakurapi-rk3308b.dts
  patch/kernel/archive/rockchip64-6.14/dt/rk3308-sakurapi-rk3308b.dts
Labels: Ready to merge, 05, size/small, Hardware, Patches

#8220 khadas-edge2: fix uboot
  config/boards/khadas-edge2.conf
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#8221 SpacemiT: Defconfig: `Enable audio support`
  config/kernel/linux-spacemit-current.config
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#8218 rockchip64: bump ATF to 2.13.0, drop upstreamed rk3399 logging patch
  config/sources/families/include/rockchip64_common.inc
  patch/atf/atf-rockchip64/enable-logging.patch
Labels: Ready to merge, 05, Needs review, size/small, Hardware, Patches

#8214 smart am40: add missing RTC DT node and bump U-Boot version to v2025.04
  config/boards/smart-am40.csc
  patch/kernel/archive/rockchip64-6.12/dt/rk3399-am40.dts
  patch/kernel/archive/rockchip64-6.14/dt/rk3399-am40.dts
  patch/u-boot/v2025.04/board_smart-am40/add-board-smart-am40.patch
Labels: Ready to merge, 05, Needs review, size/medium, Hardware, Patches

#8250 `quartz64a`: bump u-boot to v2025.04 final and make it fancy
  config/boards/quartz64a.csc
Labels: Ready to merge, 05, size/medium, Hardware

#8242 artifacts-obtain: pack_artifact_to_local_cache: force a fsync() before packing
  lib/functions/artifacts/artifacts-obtain.sh
Labels: 05, Needs review, size/small, Framework

#8241 kernel-debs: if `make clean` fails (logs to bitbucket), do it again, but show the logs
  lib/functions/compilation/kernel-debs.sh
Labels: 05, Needs review, size/small, Framework

#8236 Enable HiDPI support only if the framebuffer size is detectable
  packages/bsp/common/usr/lib/armbian/armbian-firstlogin
Labels: Ready to merge, 05, size/small, BSP

#8238 khadas-vim3: u-boot: bump to v2025.04 final
  config/boards/khadas-vim3.conf
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#8252 orangepi5-ultra: switch kernel source to mainline
  config/boards/orangepi5-ultra.csc
Labels: Ready to merge, 05, Needs review, size/small, Hardware

#8128 lib distro-specific.sh: move armbian GPG to more common location
  lib/functions/rootfs/distro-specific.sh
Labels: Ready to merge, 05, Needs review, size/small, Framework

#8254 PocketBeagle2: temporally disabling build target
  config/boards/pocketbeagle2.eos
Labels: 05, Needs review, size/small, Hardware

#8219 nanopct6(-lts): switch to mainline A-TF; use mainline u-boot also for 'current' branch
  config/boards/nanopct6.conf
Labels: Discussion, 05, size/small, Hardware
