Repository armbian/build, pull requests merged in 2025-08, with the labels that each got.

#8448 BananaPi BPI-M4-Zero: DEFAULT_OVERLAYS="bananapi-m4-sdio-wifi-bt"
  config/boards/bananapim4zero.conf
Labels: Ready to merge, 08, Needs review, size/small, Hardware, BSP

#8443 mainline-kernel: bump 6.16 to released
  config/sources/mainline-kernel.conf.sh
Labels: Build, 08, Needs review, size/small, Hardware, Framework

#8453 uefi-arm64: bump to 6.16
  config/sources/families/include/uefi_common.inc
  lib/functions/compilation/patch/drivers_network.sh
  patch/kernel/archive/uefi-arm64-6.16/board-hikey960-usb.patch
  patch/kernel/archive/uefi-arm64-6.16/net-stmicro-stmmac-Phytium-onboard-ethernet-drivers-and-ACPI-glue-for-6.x.patch
  patch/misc/wireless-rtl8811cu-Fix-6.16.patch
  patch/misc/wireless-rtl8812au-Fix-6.16.patch
  patch/misc/wireless-rtl88x2bu-Fix-6.16.patch
Labels: Ready to merge, 08, size/medium, size/small, Hardware, Framework, Patches

#8451 kernel-debs: use dynamic kernel image name installed by installkernel
  lib/functions/compilation/kernel-debs.sh
Labels: Bugfix, 08, size/small, Framework

#8460 fix build dep gcc-loongarch64-linux-gnu introduced by new arch loong64
  lib/functions/host/prepare-host.sh
Labels: Ready to merge, 08, 05, size/small, Framework

#8458 repo: add loong64 support
  tools/repository/repo
Labels: 08, Needs review, size/small, Framework

#8469 Xradio: adjust to support kernel compilation for 6.16+
  lib/functions/compilation/patch/drivers_network.sh
Labels: Ready to merge, 08, size/small, Hardware, Framework, Patches

#8447 Migrate Radxa Cubie A5E to mainline 6.16
  config/boards/radxa-cubie-a5e.csc
  config/kernel/linux-sunxi64-edge.config
  config/sources/families/sun55iw3.conf
  patch/kernel/archive/sunxi-6.16/00-Add-leds-Radxa-Cubie-A5E.patch
  patch/kernel/archive/sunxi-6.16/01-Add-wifi-to-Radxa-Cubie-A5E.patch
  patch/kernel/archive/sunxi-6.16/02-arm64-dts-allwinner-a523-add-Mali-GPU-node.patch
  patch/kernel/archive/sunxi-6.16/03-arm64-dts-allwinner-a523-Add-power-controller-device-nodes.patch
  patch/kernel/archive/sunxi-6.16/04-arm64-dts-allwinner-a523-Add-UART1-pins.patch
  patch/kernel/archive/sunxi-6.16/05-arm64-dts-allwinner-a523-Move-mmc-nodes-to-correct-position.patch
  patch/kernel/archive/sunxi-6.16/06-arm64-dts-allwinner-a523-Move-rgmii0-pins-to-correct-location.patch
  patch/kernel/archive/sunxi-6.16/07-arm64-dts-allwinner-a527-cubie-a5e-Add-ethernet-PHY-reset-setting.patch
  patch/kernel/archive/sunxi-6.16/08-arm64-dts-allwinner-a527-cubie-a5e-Enable-second-Ethernet-port.patch
  patch/kernel/archive/sunxi-6.16/09-arm64-dts-allwinner-t527-Add-OrangePi-4A-board.patch
  patch/kernel/archive/sunxi-6.16/10-clk-sunxi-ng-sun55i-a523-r-ccu-Add-missing-PPU0-reset.patch
  patch/kernel/archive/sunxi-6.16/11-dt-bindings-net-sun8i-emac-Add-A523-GMAC200-compatible.patch
  patch/kernel/archive/sunxi-6.16/12-dt-bindings-power-Add-A523-PPU-and-PCK600-power-controllers.patch
  patch/kernel/archive/sunxi-6.16/13-dt-bindings-reset-sun55i-a523-r-ccu-Add-missing-PPU0-reset.patch
  patch/kernel/archive/sunxi-6.16/14-mfd-axp20x-Set-explicit-ID-for-AXP313-regulator.patch
  patch/kernel/archive/sunxi-6.16/15-mfd-axp20x-set-explicit-ID-for-regulator-cell-if-no-IRQ-line-is-present.patch
  patch/kernel/archive/sunxi-6.16/16-net-stmmac-Add-support-for-Allwinner-A523-GMAC200.patch
  patch/kernel/archive/sunxi-6.16/17-pmdomain-sunxi-add-driver-for-Allwinner-A523's PCK-600-power-controller.patch
  patch/kernel/archive/sunxi-6.16/18-pmdomain-sunxi-sun20i-ppu-add-A523-support.patch
  patch/kernel/archive/sunxi-6.16/19-regulator-axp20x-force-polyphase-setup-for-axp323.patch
  patch/kernel/archive/sunxi-6.16/20-soc-sunxi-sram-add-entry-for-a523.patch
  patch/kernel/archive/sunxi-6.16/21-soc-sunxi-sram-register-regmap-as-syscon.patch
  patch/kernel/archive/sunxi-6.16/22-arm64-dts-allwinner-a523-enable-Mali-GPU-for-all-boards.patch
  patch/kernel/archive/sunxi-6.16/23-arm64-dts-allwinner-a523-Add-GMAC200-ethernet-controller.patch
  patch/kernel/archive/sunxi-6.16/24-Enable-uart1-on-Radxa-Cubie-A5E.patch
  patch/kernel/archive/sunxi-dev-6.14/0801-net-wireless-backport-aic8800-sdio-v2024_0327_3561b08f.patch
  patch/kernel/archive/sunxi-dev-6.14/0802-net-wireless-mm2-fixes-aic8800-sdio-v2024_0327_3561b08f.patch
  patch/kernel/archive/sunxi-dev-6.14/1103-mfd-axp20x-Allow-multiple-regulators.patch
  patch/kernel/archive/sunxi-dev-6.14/1137-net-phy-add-Maxio-MAE0621A-phy-driver.patch
  patch/kernel/archive/sunxi-dev-6.14/1139-net-ethernet-allwinner-add-gmac200-support.patch
  patch/kernel/archive/sunxi-dev-6.14/1140-net-ethernet-allwinner-add-gmac-support.patch
  patch/kernel/archive/sunxi-dev-6.14/1151-arm64-dtsi-allwinner-add-gmac1-in-A523-dtsi.patch
  patch/kernel/archive/sunxi-dev-6.14/1152-arm64-dtsi-allwinner-add-gmac0-in-A523-dtsi.patch
  patch/kernel/archive/sunxi-dev-6.14/1208-thermal-drivers-sun8i-Add-initial-support-for-A523-T.patch
  patch/kernel/archive/sunxi-dev-6.14/update-cubie-a5e-dts.patch
Labels: Ready to merge, 08, 05, size/large, Hardware, Framework, Patches, BSP

#8477 Add patch reverting radxa/u-boot PR "Add Booting Android/Buildroot/Yoto systems"
  patch/u-boot/legacy/u-boot-radxa-rk35xx/Revert-Add-Booting-Android-Buildroot-Yoto-systems.patch
Labels: 08, Needs review, size/large, Hardware, Patches

#8478 Move rock-5-cmio revert patch to a board folder
  config/boards/rock-5-cm-rpi-cm4-io.csc
  config/boards/rock-5-cmio.csc
  patch/u-boot/legacy/u-boot-radxa-rk35xx/board_rock-5-cm-rpi-cm4-io
  patch/u-boot/legacy/u-boot-radxa-rk35xx/board_rock-5-cmio/Revert-Add-Booting-Android-Buildroot-Yoto-systems.patch
Labels: Ready to merge, 08, 05, Needs review, size/small, Hardware, Patches

#8377 linux-uefi-arm64-cloud.config: enable ACPI so things boot
  config/kernel/linux-uefi-arm64-cloud.config
Labels: 08, 05, Needs review, size/large, Hardware, BSP

#8483 extensions: add missing "install" instruction to APA extension
  extensions/apa.sh
Labels: Ready to merge, Needs review, size/small, Framework

#8493 Update git_sources.json to include Radxa DT changes
  config/sources/git_sources.json
Labels: 08, Needs review, size/small, Hardware

#8492 lib / prepare-host: debian-archive-keyring is not a host-dependency for RISCv64
  lib/functions/host/prepare-host.sh
Labels: Ready to merge, 08, size/small, Framework

#8467 improve WiFi support for the sun50iw1 board family
  config/kernel/linux-sunxi64-current.config
  config/kernel/linux-sunxi64-edge.config
Labels: Ready to merge, 08, size/small, Hardware, Framework, BSP

#8498 BananaPi BPI-M4-Zero: Add spi0 node
  patch/kernel/archive/sunxi-6.12/dt/sun50i-h618-bananapi-m4.dtsi
  patch/kernel/archive/sunxi-6.15/dt/sun50i-h618-bananapi-m4.dtsi
Labels: 08, Needs review, size/small, Hardware, Patches

#8503 Orangepizero: drop Crust support that is preventing succesful reboot
  config/boards/orangepizero.csc
Labels: Ready to merge, 08, size/small, Hardware

#8508 Follow up to #8484 : Enable lte_em05 as a module
  config/kernel/linux-rk35xx-vendor.config
Labels: 08, Needs review, size/small, Hardware, Patches

#8502 config/desktop: update gnome-bluetooth pkg in noble and trixie (#8501)
  config/desktop/noble/environments/i3-wm/config_base/packages
  config/desktop/trixie/environments/i3-wm/config_base/packages
Labels: Desktop, 08, Needs review, size/small

#8509 some small changes to APA extension
  extensions/apa.sh
Labels: 08, Needs review, size/small, Framework

#8513 adding myself as maintainer on the pinebook a64
  config/boards/pinebook-a64.csc
Labels: 08, Needs review, size/small, Hardware

#8519 switch `kde-neon` to stable, switch support to csc
  config/desktop/noble/environments/kde-neon/sources/apt/neon.source
  config/desktop/noble/environments/kde-neon/support
Labels: Desktop, Ready to merge, 08, size/small

#8522 pad double digits in odroidxu4-6.6 patch with a leading zero (#8520)
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.068-069.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.069-070.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.070-071.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.071-072.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.072-073.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.073-074.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.074-075.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.075-076.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.076-077.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.077-078.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.078-079.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.079-080.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.080-081.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.081-082.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.082-083.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.083-084.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.084-085.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.085-086.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.086-087.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.087-088.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.088-089.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.089-090.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.090-091.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.091-092.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.092-093.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.093-094.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.094-095.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.095-096.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.096-097.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.097-098.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.098-099.patch
  patch/kernel/archive/odroidxu4-6.6/patch-6.6.099-100.patch
  patch/kernel/archive/spacemit-6.6/patch-6.6.087-088.patch
  patch/kernel/archive/spacemit-6.6/patch-6.6.088-089.patch
  patch/kernel/archive/spacemit-6.6/patch-6.6.089-090.patch
  patch/kernel/archive/spacemit-6.6/patch-6.6.090-091.patch
  patch/kernel/archive/spacemit-6.6/patch-6.6.091-092.patch
  patch/kernel/archive/spacemit-6.6/patch-6.6.092-093.patch
  patch/kernel/archive/spacemit-6.6/patch-6.6.093-094.patch
  patch/kernel/archive/spacemit-6.6/patch-6.6.094-095.patch
  patch/kernel/archive/spacemit-6.6/patch-6.6.095-096.patch
  patch/kernel/archive/spacemit-6.6/patch-6.6.096-097.patch
  patch/kernel/archive/spacemit-6.6/patch-6.6.097-098.patch
  patch/kernel/archive/spacemit-6.6/patch-6.6.098-099.patch
Labels: Ready to merge, 08, size/small, Hardware, Patches

#8517 fix BPI-R4/filogic SFP support
  config/kernel/linux-filogic-current.config
Labels: Ready to merge, 08, size/small, Hardware

#8526 patch: drop rk3399-fix-pci-lanes.patch from 6.16 kernel
  patch/kernel/archive/rockchip64-6.16/rk3399-fix-pci-lanes.patch
Labels: 08, Needs review, size/small, Hardware, Patches

#8533 motd: fix another alignment issue
  packages/bsp/common/etc/update-motd.d/30-armbian-sysinfo
Labels: 08, Needs review, size/small, BSP

#8534 Drop CONFIG_CAN_TI_HECC module as it fails to compile
  config/kernel/linux-mt7623-current.config
  config/kernel/linux-mvebu-edge.config
  config/kernel/linux-mvebu-legacy.config
  config/kernel/linux-rk322x-current.config
  config/kernel/linux-rk322x-edge.config
  config/kernel/linux-rockchip-edge.config
  config/kernel/linux-rockchip-rk3588-collabora.config
  config/kernel/linux-sunxi-current.config
  config/kernel/linux-sunxi-edge.config
  config/kernel/linux-sunxi-legacy.config
Labels: Work in progress, Build, 08, Needs review, size/large, Hardware

#8528 BPI-R4/filogic - kernel drivers into modules
  config/kernel/linux-filogic-current.config
Labels: 08, Needs review, size/medium, Hardware

#8551 Set `Work in progress` label for maintainers synhronization
  .github/workflows/adjust-maintainers.yml
Labels: 08, Needs review, size/small, GitHub Actions

#8553 Update logo that is b/w compatible
  README.md
Labels: 08, Needs review, size/small, Documentation

#8554 rockchip64: fix compilation issues for kernel 6.12
  patch/kernel/archive/rockchip64-6.12/general-v4l2-rkvdec-01-vp9.patch
  patch/kernel/archive/rockchip64-6.12/rk3588-1053-board-nanopc-t6-fix-usb3-a.patch
Labels: Ready to merge, 08, size/small, Hardware, Patches

#8555 Update rockchip v4l2 related patches due to upstream changes
  patch/kernel/archive/rockchip-6.12/patches.libreelec/linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rockchip-6.16/patches.libreelec/linux-1001-v4l2-rockchip.patch
  patch/kernel/archive/rockchip64-6.16/general-v4l2-rkvdec-01-vp9.patch
Labels: Work in progress, Ready to merge, Build, 08, size/small, Hardware, Patches
